knowledge/projects/agentesia/n8n-backups/facturaia/cutover-20260516-1306/CLON-TO-APPLY.json
{"updatedAt":"2026-05-16T11:04:51.454Z","createdAt":"2026-05-16T10:08:14.680Z","id":"WcOl1yKsROdYircp","name":"WhatsApp Receptor v2 [REFACTOR-TEST]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-tufacturaia-test","options":{}},"id":"wa-recv-0001","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[16,424],"webhookId":"wa-receptor-test-001"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst entry = (body.entry || [])[0];\nif (!entry) return [];\nconst change = (entry.changes || [])[0];\nif (!change || change.field !== 'messages') return [];\nconst value = change.value || {};\nconst msg = (value.messages || [])[0];\nif (!msg) return [];\n\nconst contact = (value.contacts || [])[0];\nconst phoneNumberId = value.metadata?.phone_number_id || '';\n\nlet normalized = (msg.from || '').replace(/[\\s\\-\\(\\)\\+]/g, '');\nif (normalized.startsWith('0034')) normalized = normalized.slice(4);\nif (normalized.length === 9) normalized = '34' + normalized;\n\nconst result = {\n  from: msg.from,\n  from_name: contact?.profile?.name || msg.from,\n  normalized_phone: normalized,\n  message_id: msg.id,\n  timestamp: msg.timestamp,\n  msg_type: msg.type,\n  phone_number_id: phoneNumberId,\n  media_id: null,\n  mime_type: null,\n  caption: null,\n  filename: null,\n  text_body: null,\n  button_reply_id: null,\n  button_reply_title: null\n};\n\nswitch (msg.type) {\n  case 'image':\n    result.media_id = msg.image.id;\n    result.mime_type = msg.image.mime_type;\n    result.caption = msg.image.caption || null;\n    result.filename = `whatsapp-${msg.from}-${Date.now()}.jpg`;\n    break;\n  case 'document':\n    result.media_id = msg.document.id;\n    result.mime_type = msg.document.mime_type;\n    result.caption = msg.document.caption || null;\n    result.filename = msg.document.filename || `whatsapp-${msg.from}-${Date.now()}.pdf`;\n    break;\n  case 'audio':\n    result.media_id = msg.audio.id;\n    result.mime_type = msg.audio.mime_type;\n    result.filename = `voice-${msg.from}-${Date.now()}.ogg`;\n    break;\n  case 'text':\n    result.text_body = msg.text?.body || null;\n    break;\n  case 'interactive':\n    if (msg.interactive?.type === 'button_reply') {\n      result.button_reply_id = msg.interactive.button_reply.id;\n      result.button_reply_title = msg.interactive.button_reply.title;\n    }\n    break;\n}\n\n\nreturn [{ json: result }];"},"id":"wa-recv-0002","name":"Parsear Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,424]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parsear Mensaje').first().json.msg_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parsear Mensaje').first().json.msg_type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}},{"leftValue":"={{ $('Parsear Mensaje').first().json.msg_type }}","rightValue":"document","operator":{"type":"string","operation":"equals"}}],"combinator":"or"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parsear Mensaje').first().json.msg_type }}","rightValue":"interactive","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parsear Mensaje').first().json.msg_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"wa-recv-router","name":"Router Tipo Mensaje","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[688,376]},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"wa-recv-0004","name":"Obtener URL del Archivo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,-184],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"wa-recv-0005","name":"Descargar Archivo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,-184],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/whatsapp/ingesta","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone_number_id\": \"{{ $('Parsear Mensaje').first().json.phone_number_id }}\",\n  \"from_phone\": \"{{ $('Parsear Mensaje').first().json.normalized_phone }}\",\n  \"from_name\": \"{{ $('Parsear Mensaje').first().json.from_name }}\",\n  \"media\": {\n    \"base64\": \"{{ $binary.data.data }}\",\n    \"mime\": \"{{ $('Parsear Mensaje').first().json.mime_type }}\",\n    \"filename\": \"{{ $('Parsear Mensaje').first().json.filename }}\"\n  }\n}","options":{"timeout":30000,"response":{"response":{"neverError":true}}}},"id":"wa-recv-0006","name":"Preparar Datos Ingesta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,-184],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-matched","leftValue":"={{ $json.factura_id }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"wa-recv-0013","name":"Org Encontrada?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,-184]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Preparar Datos Ingesta').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Preparar Datos Ingesta').first().json.senderPhone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"🔒 Este número no está registrado en FacturaIA.\\n\\nEntra en facturaia.agentesia.world para empezar.\"\n  }\n}","options":{}},"id":"wa-recv-0014","name":"Responder No Registrado OCR","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,-88],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/whatsapp/ocr-process","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $('Preparar Datos Ingesta').first().json.org_id }}\",\n  \"org_nombre\": \"{{ $('Preparar Datos Ingesta').first().json.org_nombre }}\",\n  \"factura_id\": \"{{ $('Preparar Datos Ingesta').first().json.factura_id }}\",\n  \"bandeja_id\": \"{{ $('Preparar Datos Ingesta').first().json.bandeja_id }}\",\n  \"media\": {\n    \"base64\": \"{{ $('Descargar Archivo').first().binary.data.data }}\",\n    \"mime\": \"{{ $('Parsear Mensaje').first().json.mime_type }}\",\n    \"filename\": \"{{ $('Parsear Mensaje').first().json.filename }}\"\n  }\n}","options":{"timeout":60000}},"id":"wa-recv-0010","name":"Disparar OCR","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,-280],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/1180494911802950/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Factura recibida. Estamos extrayendo los datos, en unos segundos la veras en tu bandeja de ingesta.\"\n  }\n}","options":{}},"id":"wa-recv-0011","name":"Confirmar Recepcion WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,-280],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"👋 Hola, soy *FacturaIA*.\\n\\nPuedes pedirme:\\n🧾 una factura\\n📋 un presupuesto\\n📄 una proforma\\n↩️ un abono\\n\\nEnvíame un mensaje de *texto* o un *audio* describiendo lo que necesitas. También puedes mandarme una *foto* o *PDF* de una factura recibida y yo la registro automáticamente.\"\n  }\n}","options":{}},"id":"wa-recv-0012","name":"Enviar Instrucciones de Uso","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,1120],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/whatsapp/resolve-context","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from_phone\": \"{{ $('Parsear Mensaje').first().json.normalized_phone }}\",\n  \"features_to_check\": [\"generador_voz\"]\n}","options":{"timeout":15000}},"id":"v2-org-lookup-audio","name":"Buscar Org Voz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,-472],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.matched }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-org-check-audio","name":"Org Tiene Voz?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,-472]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"🔒 Este número no está registrado en FacturaIA.\\n\\nRegístrate o pide a tu administrador que añada tu teléfono en *Configuración → Usuarios*.\" }\n}","options":{}},"id":"v2-reply-not-registered","name":"Responder No Registrado Voz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,-376],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $('Buscar Org Voz').first().json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"v2-get-audio-url","name":"Obtener URL Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,-664],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"v2-download-audio","name":"Descargar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,-664],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-1"},{"name":"language","value":"es"},{"name":"response_format","value":"text"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"v2-whisper","name":"Transcribir Whisper","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2256,-664],"credentials":{"openAiApi":{"id":"Z0j42YZwJajGroHK","name":"OpenAI TufacturaIA"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const whisperResult = $input.first().json;\nconst text = (typeof whisperResult === 'string' ? whisperResult : whisperResult.data || whisperResult.text || '').trim();\nconst org = $('Buscar Org Voz').first().json;\n\nreturn [{ json: {\n  transcription: text,\n  has_text: text.length > 5,\n  org_id: org.org_id,\n  org_nombre: org.org_nombre,\n  normalized_phone: org.normalized_phone,\n  raw_from: org.from,\n  phone_number_id: org.phone_number_id\n}}];"},"id":"v2-parse-whisper","name":"Parsear Transcripcion","type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,-736]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.has_text }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-has-text","name":"Tiene Texto?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2704,-736]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"🎙️ No conseguí entender el audio. Inténtalo de nuevo hablando más claro o escríbeme el mensaje en texto.\" }\n}","options":{}},"id":"v2-reply-bad-audio","name":"Responder Audio No Reconocido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,-592],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"chatInput","value":"={{ $json.transcription || $json.correction_text }}","type":"string"},{"id":"a2","name":"sessionId","value":"={{ $json.normalized_phone }}","type":"string"},{"id":"a3","name":"org_id","value":"={{ $json.org_id }}","type":"string"},{"id":"a4","name":"org_nombre","value":"={{ $json.org_nombre }}","type":"string"},{"id":"a5","name":"raw_from","value":"={{ $json.raw_from }}","type":"string"},{"id":"a6","name":"phone_number_id","value":"={{ $json.phone_number_id }}","type":"string"}]},"options":{}},"id":"v2-set-agent-input","name":"Preparar Input Agente","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2928,-800]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Eres un asistente de facturacion para la organizacion \"{{ $json.org_nombre }}\".\nEl usuario te envia un mensaje (audio transcrito o texto) donde pide crear un documento.\n\nREGLA ABSOLUTA: SIEMPRE respondes con JSON valido y SOLO con JSON. Nunca texto natural ni preguntas ni markdown. Si te falta informacion, rellenala con tu mejor intento y usa \"notas\" para indicar lo asumido.\n\nTu trabajo:\n1. SIEMPRE primero llama a consultar_catalogo y consultar_clientes\n2. Si el usuario pide un ABONO, llama tambien a consultar_facturas y NO inventes datos\n3. Para cada linea: intenta hacer match (por nombre o descripcion, no exacto, tolerante a errores) contra el catalogo\n4. Devuelve este JSON:\n\n{\n  \"tipo\": \"factura\",\n  \"factura_origen_id\": null,\n  \"cliente\": {\n    \"nombre\": \"Nombre\",\n    \"id\": null,\n    \"crear\": false\n  },\n  \"lineas\": [\n    {\n      \"descripcion\": \"Servicio o producto\",\n      \"cantidad\": 1,\n      \"precio_unitario\": 100.00,\n      \"iva_pct\": 21,\n      \"descuento_pct\": 0,\n      \"desde_catalogo\": false,\n      \"catalogo_match_id\": null\n    }\n  ],\n  \"descuento_global_pct\": 0,\n  \"notas\": \"\"\n}\n\nValores validos del campo \"tipo\": \"factura\", \"presupuesto\", \"proforma\", \"abono\" o \"convertir_presupuesto\".\n\nComo detectar el tipo:\n- \"factura\" / \"facturame\" / \"haz factura\" -> \"factura\"\n- \"presupuesto\" / \"cotizacion\" -> \"presupuesto\"\n- \"proforma\" / \"factura proforma\" -> \"proforma\"\n- \"abono\" / \"rectificativa\" / \"devolucion\" / \"anular factura\" / \"nota de credito\" -> \"abono\"\n\n- \"convierte el presupuesto\" / \"factura el presupuesto\" / \"facturame el presupuesto\" / \"pasa a factura el presupuesto\" -> \"convertir_presupuesto\"\n\nCONVERTIR_PRESUPUESTO - REGLAS CRITICAS (cuando tipo == \"convertir_presupuesto\"):\n- DEBES llamar a consultar_presupuestos para tener la lista de presupuestos no facturados.\n- El usuario dira cosas como \"factura el presupuesto P2026-0042\", \"el ultimo de Pepe\", \"el de 1.200 euros de Tecnocloud\", \"convierte el de Manuel\".\n\nMATCHING PERMISIVO (criterio):\n- Ignora acentos, mayusculas, diminutivos y typos menores. \"manuel\" matchea \"Manuel\". \"manvel\" (Whisper se equivoca a menudo) tambien matchea \"Manuel\". \"garcia\" matchea \"García\". \"tecno\" matchea \"Tecnocloud\".\n- Prioriza por orden:\n  1. Match exacto del num (P2026-0042) → unívoco, ignora todo lo demás.\n  2. Match exacto del NIF si el usuario lo dijo.\n  3. Coincidencia de nombre cliente + importe aproximado mencionado por el usuario.\n  4. Coincidencia de nombre cliente + el más reciente.\n\nCASO 1: encuentras 1 match claro → devuelve EXACTAMENTE:\n  {\n    \"tipo\": \"convertir_presupuesto\",\n    \"presupuesto_id\": \"<uuid>\",\n    \"presupuesto_num\": \"<num, ej: P2026-0042>\",\n    \"cliente\": { \"nombre\": \"<nombre del cliente del presupuesto>\" },\n    \"total_estimado\": <total con IVA>,\n    \"notas\": \"\"\n  }\n\nCASO 2: hay 2+ candidatos con confianza similar (mismo nombre, NIF distinto, fechas variadas) → devuelve:\n  {\n    \"tipo\": \"convertir_presupuesto\",\n    \"error\": \"ambiguo\",\n    \"mensaje\": \"Tengo varios presupuestos abiertos para 'Manuel'. ¿Cuál?\\n1) P2026-0042 · Manuel García · 1.210,00 € · 08-may\\n2) P2026-0035 · Manuel López · 800,00 € · 01-may\\n3) P2026-0018 · Manuel Pérez SL · 12.400,00 € · 20-abr\\n\\nResponde con el número (1, 2, 3...) o dame más detalles (ej: 'el de 1.200 euros').\"\n  }\n  Lista MAX 5 candidatos. Formato linea: \"N) NUM · CLIENTE · TOTAL,DD € · DD-mmm\". Total con punto miles y coma decimales (es-ES). Fecha en DD-mmm (3 letras).\n\nCASO 3: no encuentras NINGUN match (cliente desconocido, posible typo grave de Whisper) → devuelve:\n  {\n    \"tipo\": \"convertir_presupuesto\",\n    \"error\": \"no_encontrado\",\n    \"mensaje\": \"No encuentro presupuestos abiertos que encajen con lo que has dicho (puede ser un error de transcripción). Estos son tus últimos abiertos:\\n1) P2026-0042 · Manuel García · 1.210,00 € · 08-may\\n2) P2026-0040 · Acme SL · 800,00 € · 06-may\\n3) P2026-0038 · Tecnocloud · 350,00 € · 03-may\\n\\n¿Es alguno? Responde con el número o reformula (ej: 'el último de Acme').\"\n  }\n  Lista MAX 5 últimos abiertos por fecha desc.\n\nCASO 4 — RESPUESTA DEL USUARIO TRAS PROPUESTA DE CANDIDATOS:\n- Si el usuario responde con un número (1, 2, 3...) y en tu turno anterior propusiste candidatos, USA TU MEMORIA de la conversación: el \"1\" se refiere al primer candidato que listaste, etc. Devuelve directamente CASO 1 con ese presupuesto_id.\n- Si el usuario reformula con otro nombre o dato (\"el de 1.200 euros\", \"el de tecnocloud\"), repite el matching con el nuevo dato.\n- Si el usuario dice algo ambiguo, vuelve a CASO 2 o CASO 3 según proceda.\n\nREGLAS DURAS:\n- NUNCA inventes presupuesto_id. Solo IDs que vengan de consultar_presupuestos.\n- NO devuelvas el campo \"lineas\" en este tipo (las copia el backend del presupuesto origen).\n- NO conviertas presupuestos con estado='facturado' (no aparecen en consultar_presupuestos por filtro). Si el usuario insiste, devuelve error \"no_encontrado\".\n\nABONOS - REGLAS CRITICAS (cuando tipo == \"abono\"):\n- DEBES llamar a consultar_facturas para localizar la factura original\n- El usuario dira algo como \"abono de la factura A2026-0090\" o \"abono de la ultima factura de Pepe\"\n- Busca la factura en el resultado de consultar_facturas (matching por num o por nombre del cliente)\n- Si la encuentras: rellena \"factura_origen_id\" con el id de esa factura, copia sus lineas tal cual a \"lineas\", y usa el mismo cliente_id en \"cliente.id\"\n- Si NO la encuentras: devuelve este JSON especial y nada mas:\n  {\n    \"tipo\": \"abono\",\n    \"error\": \"factura_no_encontrada\",\n    \"mensaje\": \"No encuentro la factura que mencionas. Dime el numero exacto (ej: A2026-0042) o el cliente para buscarla.\"\n  }\n- NUNCA generes un abono con lineas inventadas o factura_origen_id null. Si no hay factura confirmada, devuelve el error.\n\nCATALOGO - REGLAS CRITICAS:\n- Si el producto del usuario coincide (parcial o total) con un item del catalogo:\n  * Usa la descripcion EXACTA del catalogo\n  * Usa el precio_orientativo del catalogo SALVO que el usuario diga otro precio\n  * Marca \"desde_catalogo\": true\n- Si NO hay match en catalogo:\n  * Usa la descripcion que dijo el usuario\n  * Usa el precio que dijo el usuario (o un valor razonable)\n  * Marca \"desde_catalogo\": false (esto activara la sugerencia de \"anadirlo al catalogo\")\n- NUNCA inventes productos sin que el usuario los mencione. Si el usuario no especifica un servicio, deja una linea generica con notas\n\nDESCUENTOS - capturar SIEMPRE que el usuario los mencione:\n- \"5 horas a 50 con 10% de descuento\" -> en esa linea: descuento_pct: 10\n- \"20% de descuento en consultoria\" -> descuento_pct: 20 en esa linea\n- \"con 5% de descuento general\" / \"todo con 10% off\" -> descuento_global_pct: 5 (afecta a todas)\n- Si no se menciona descuento -> 0\n\nIVA - capturar SIEMPRE que el usuario lo mencione:\n- \"IVA al 10%\" / \"al 10%\" / \"IVA reducido\" -> iva_pct: 10\n- \"IVA al 4%\" / \"superreducido\" -> iva_pct: 4\n- \"sin IVA\" / \"exento\" / \"exenta\" -> iva_pct: 0\n- \"IGIC\" / \"Canarias\" -> iva_pct: 7\n- Si no se menciona -> 21\n\nCORRECCIONES (cuando el usuario corrige un documento previo):\n- Devuelve el JSON COMPLETO actualizado, no parcial\n- Si dice \"el IVA es 10\" -> actualiza iva_pct en TODAS las lineas afectadas\n- Si dice \"aplica 10% de descuento\" -> actualiza descuento_pct (linea o global segun contexto)\n- Si dice \"el precio son 80, no 70\" -> actualiza precio_unitario\n\nCLIENTES:\n- Si existe en BD: id del catalogo, crear: false\n- Si no existe: id: null, crear: true, nombre que dijo el usuario\n\nREGLA FINAL:\n- Si no se especifica tipo, asume \"factura\"\n- Devuelve SOLO JSON, sin markdown, sin preguntas, sin texto natural","maxIterations":5,"returnIntermediateSteps":false}},"id":"v2-ai-agent","name":"Agente Facturador","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3464,-800]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{"temperature":0.1}},"id":"v2-llm-openai","name":"OpenAI GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3152,-576],"credentials":{"openAiApi":{"id":"Z0j42YZwJajGroHK","name":"OpenAI TufacturaIA"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Hash Session').first().json.session_id_hash }}","contextWindowLength":10},"id":"v2-memory-pg","name":"Memoria Postgres","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3280,-576],"credentials":{"postgres":{"id":"8ywshg0IYnsUlaSH","name":"Postgres TufacturaIA"}}},{"parameters":{"name":"consultar_catalogo","description":"Consulta el catalogo de servicios/productos de la organizacion. Devuelve nombre, precio unitario, IVA y unidad de cada servicio activo. Usala SIEMPRE antes de generar el JSON para verificar si los servicios mencionados existen y a que precio. El parametro org_id se obtiene del contexto.","method":"POST","url":"https://app.tufacturaia.com/api/internal/voice/catalogo","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $fromAI('org_id', '', 'string') || $(\\'Preparar Input Agente\\').first().json.org_id }}\"\n}","optimizeResponse":false},"id":"v2-tool-catalogo","name":"consultar_catalogo","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3408,-576],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"name":"consultar_clientes","description":"Consulta la lista de clientes de la organizacion. Devuelve id, nombre, NIF y email de cada cliente. Usala SIEMPRE para buscar si el cliente mencionado ya existe en el sistema. El parametro org_id se obtiene del contexto.","method":"POST","url":"https://app.tufacturaia.com/api/internal/voice/clientes","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $(\\'Preparar Input Agente\\').first().json.org_id }}\",\n  \"query\": \"{{ $fromAI('query', 'Nombre o NIF a buscar (opcional)', 'string') }}\"\n}","optimizeResponse":false},"id":"v2-tool-clientes","name":"consultar_clientes","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3536,-576],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{},"id":"v2-tool-think","name":"Think","type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[3664,-576]},{"parameters":{"jsCode":"const raw = $json.output || $json.text || '';\nlet data;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  data = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n} catch (e) {\n  return [{ json: {\n    error: true,\n    message: 'El agente no devolvio un JSON valido. Intentalo de nuevo.',\n    raw_from: $('Preparar Input Agente').first().json.raw_from,\n    phone_number_id: $('Preparar Input Agente').first().json.phone_number_id\n  } }];\n}\n\nconst ctxPrep = $('Preparar Input Agente').first().json;\n\n// BRANCH convertir_presupuesto: marcamos flag para que el IF downstream\n// dispare la rama HTTP que consulta el detalle del presupuesto.\nif (data.tipo === 'convertir_presupuesto') {\n  if (!data.presupuesto_id) {\n    return [{ json: {\n      error: true,\n      message: 'No tengo el ID del presupuesto. Reformula tu mensaje indicando el numero (ej: P2026-0042).',\n      raw_from: ctxPrep.raw_from,\n      phone_number_id: ctxPrep.phone_number_id\n    }}];\n  }\n  return [{ json: {\n    _needs_presupuesto_fetch: true,\n    data,\n    org_id: ctxPrep.org_id,\n    raw_from: ctxPrep.raw_from,\n    phone_number_id: ctxPrep.phone_number_id,\n  }}];\n}\n\n// BRANCH normal: calculo de totales con las lineas devueltas por el agente.\nconst lineas = (data.lineas || []).map(l => ({\n  concepto: l.descripcion || l.concepto || 'Servicio',\n  cantidad: Number(l.cantidad) || 1,\n  precio_unitario: Number(l.precio_unitario) || 0,\n  iva_pct: l.iva_pct !== undefined ? Number(l.iva_pct) : 21,\n  descuento_pct: Number(l.descuento_pct) || 0,\n}));\n\nconst subtotales = lineas.map(l => {\n  const bruto = l.cantidad * l.precio_unitario;\n  const descLinea = bruto * (l.descuento_pct / 100);\n  return { base: bruto - descLinea, iva_pct: l.iva_pct, bruto, _isNuevo: l._isNuevo };\n});\n\nconst descGlobalPct = Number(data.descuento_global_pct) || 0;\nconst subtotal = subtotales.reduce((s, l) => s + l.base, 0);\nconst descGlobal = subtotal * (descGlobalPct / 100);\nconst baseTotal = subtotal - descGlobal;\nconst ivaTotal = subtotales.reduce((s, l) => s + l.base * (1 - descGlobalPct / 100) * (l.iva_pct / 100), 0);\nconst total = baseTotal + ivaTotal;\n\nconst fmtCalc = n => n.toFixed(2).replace('.', ',');\nconst tipoLabel = (data.tipo || 'factura').toUpperCase();\nconst lineLines = [];\nlineLines.push(tipoLabel);\nlineLines.push(`Cliente: ${data.cliente?.nombre || 'Sin nombre'}`);\nlineLines.push('---');\nfor (const l of lineas) {\n  const bruto = l.cantidad * l.precio_unitario;\n  lineLines.push(`- ${l.cantidad}x ${l.concepto}: ${fmtCalc(l.precio_unitario)} EUR/u = ${fmtCalc(bruto)} EUR`);\n  if (l.descuento_pct > 0) {\n    lineLines.push(`  Dto linea -${l.descuento_pct}%: -${fmtCalc(bruto * l.descuento_pct / 100)} EUR`);\n  }\n}\nlineLines.push('---');\nlineLines.push(`Base: ${fmtCalc(baseTotal)} EUR`);\nif (descGlobalPct > 0) {\n  lineLines.push(`Dto global ${descGlobalPct}%: -${fmtCalc(descGlobal)} EUR`);\n}\nlineLines.push(`IVA: ${fmtCalc(ivaTotal)} EUR`);\nlineLines.push(`TOTAL: ${fmtCalc(total)} EUR`);\nlineLines.push('');\nlineLines.push('Responde \"si\" para Confirmar, describe la correccion, o \"cancelar\".');\n\nreturn [{ json: {\n  error: false,\n  _needs_presupuesto_fetch: false,\n  data,\n  resumen: lineLines.join('\\n'),\n  totales: { base: Number(baseTotal.toFixed(2)), iva: Number(ivaTotal.toFixed(2)), total: Number(total.toFixed(2)) },\n  nuevos_productos: lineas.filter(l => l._isNuevo).map(l => ({ nombre: l.concepto, precio_orientativo: l.precio_unitario, iva_pct: l.iva_pct })),\n  raw_from: ctxPrep.raw_from,\n  phone_number_id: ctxPrep.phone_number_id,\n}}];"},"id":"v2-calc-totals","name":"Parsear y Calcular Totales","type":"n8n-nodes-base.code","typeVersion":2,"position":[4128,-800]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"v2-totals-ok","name":"Totales OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4352,-800]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"⚠️ {{ $json.message }}\" }\n}","options":{}},"id":"v2-reply-agent-error","name":"Responder Error Agente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,-688],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($json.resumen) }} }\n}","options":{}},"id":"v2-send-summary","name":"Enviar Resumen WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,-880],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": { \"text\": \"¿Confirmas este documento? 👇\" },\n    \"action\": {\n      \"buttons\": [\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_confirm\", \"title\": \"✅ Confirmar\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_correct\", \"title\": \"✏️ Corregir\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_cancel\", \"title\": \"✖️ Cancelar\" } }\n      ]\n    }\n  }\n}","options":{}},"id":"v2-send-buttons","name":"Enviar Botones WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4800,-880],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as cnt FROM n8n_chat_histories WHERE session_id = '{{ $('Hash Session').first().json.session_id_hash }}' LIMIT 1","options":{}},"id":"v2-check-session","name":"Check Sesion Voz Activa","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1808,856],"credentials":{"postgres":{"id":"8ywshg0IYnsUlaSH","name":"Postgres TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ Number($json.cnt) }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"v2-has-session","name":"Tiene Sesion?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,856]},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/whatsapp/resolve-context","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from_phone\": \"{{ $('Parsear Mensaje').first().json.normalized_phone }}\"\n}","options":{"timeout":15000}},"id":"v2-set-correction","name":"Preparar Input Correccion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,592],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"jsCode":"const buttonId = $('Parsear Mensaje').first().json.button_reply_id;\n\nlet intent;\nif (buttonId === 'voice_confirm') intent = 'confirm';\nelse if (buttonId === 'voice_cancel') intent = 'cancel';\nelse if (buttonId === 'voice_correct') intent = 'correct';\nelse intent = 'unknown';\n\nreturn [{ json: {\n  session_id_hash: $('Hash Session').first().json.session_id_hash,\n  intent,\n  normalized_phone: $('Parsear Mensaje').first().json.normalized_phone,\n  raw_from: $('Parsear Mensaje').first().json.from,\n  phone_number_id: $('Parsear Mensaje').first().json.phone_number_id\n}}];"},"id":"v2-process-button","name":"Procesar Boton","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,424]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"confirm","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"cancel","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"correct","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"none"}},"id":"v2-intent-switch","name":"Router Intencion","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1136,408]},{"parameters":{"operation":"executeQuery","query":"SELECT id, session_id, message FROM n8n_chat_histories WHERE session_id = '{{ $('Hash Session').first().json.session_id_hash }}' ORDER BY id DESC LIMIT 5","options":{}},"id":"v2-read-last-ai","name":"Leer Ultimo JSON Agente","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1360,224],"credentials":{"postgres":{"id":"8ywshg0IYnsUlaSH","name":"Postgres TufacturaIA"}}},{"parameters":{"jsCode":"// Lee la conversacion completa desde Postgres Chat Memory (via 'Leer Ultimo JSON Agente'),\n// localiza el ultimo mensaje del agente y parsea su JSON.\n// La resolucion de org/user_id la hace el nodo HTTP 'Resolver Org Generar' upstream.\nconst rows = $('Leer Ultimo JSON Agente').all();\nif (!rows.length) return [{ json: { error: true, message: 'No hay sesion de factura activa.' } }];\n\nlet raw = '';\nfor (const row of rows) {\n  const msg = row.json && row.json.message;\n  if (!msg) continue;\n  const msgObj = typeof msg === 'string' ? JSON.parse(msg) : msg;\n  if (msgObj.type === 'ai' || msgObj.type === 'AIMessage' || msgObj.type === 'assistant') {\n    raw = (msgObj.data && msgObj.data.content) || msgObj.content || (typeof msg === 'string' ? msg : JSON.stringify(msg));\n    break;\n  }\n}\n\nif (!raw) {\n  const firstMsg = rows[0] && rows[0].json && rows[0].json.message;\n  const debug = typeof firstMsg === 'string' ? firstMsg.substring(0, 200) : JSON.stringify(firstMsg).substring(0, 200);\n  return [{ json: { error: true, message: 'No se encontro respuesta del agente. Debug: ' + debug } }];\n}\n\nlet data;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  data = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n} catch (e) {\n  return [{ json: { error: true, message: 'JSON invalido del agente. Raw: ' + raw.substring(0, 200) } }];\n}\n\n// Org resuelta por el endpoint resolve-context upstream\nconst ctx = $input.first().json;\nif (!ctx.matched) {\n  const reasonMap = {\n    telefono_no_registrado: 'Tu telefono no esta registrado en ningun perfil de FacturaIA.',\n    sin_org: 'No perteneces a ninguna organizacion activa.',\n    org_no_encontrada: 'No se ha podido localizar la organizacion.',\n    input_invalido: 'Falta el telefono para resolver la organizacion.',\n  };\n  return [{ json: { error: true, message: reasonMap[ctx.reason] || 'No se ha podido resolver la organizacion.' } }];\n}\nconst org_id = ctx.org_id;\nconst user_id = ctx.user_id;\nconst phone = $('Procesar Boton').first().json.normalized_phone;\n\n// BRANCH: convertir_presupuesto\nif (data.tipo === 'convertir_presupuesto') {\n  if (data.error) {\n    return [{ json: { error: true, message: data.mensaje || 'No pude convertir el presupuesto.' } }];\n  }\n  if (!data.presupuesto_id) {\n    return [{ json: { error: true, message: 'Falta presupuesto_id en la respuesta del agente.' } }];\n  }\n  return [{ json: {\n    error: false,\n    flow: 'convert_presupuesto',\n    org_id, user_id,\n    presupuesto_id: data.presupuesto_id,\n    presupuesto_num: data.presupuesto_num || null,\n    total_estimado: data.total_estimado || null,\n    phone,\n    chat_id: phone,\n    raw_from: $('Procesar Boton').first().json.raw_from,\n    phone_number_id: $('Procesar Boton').first().json.phone_number_id\n  }}];\n}\n\nconst lineas = (data.lineas || []).map(l => ({\n  concepto: l.descripcion || l.concepto,\n  cantidad: l.cantidad,\n  precio_unitario: l.precio_unitario,\n  iva_pct: l.iva_pct || 21,\n  descuento_pct: l.descuento_pct || 0\n}));\n\nreturn [{ json: {\n  error: false,\n  flow: 'generate',\n  org_id,\n  user_id,\n  tipo: data.tipo || 'factura',\n  factura_origen_id: data.factura_origen_id || null,\n  cliente: data.cliente,\n  lineas,\n  descuento_global_pct: data.descuento_global_pct || 0,\n  notas: data.notas || null,\n  phone,\n  raw_from: $('Procesar Boton').first().json.raw_from,\n  phone_number_id: $('Procesar Boton').first().json.phone_number_id\n}}];"},"id":"v2-prep-generate","name":"Preparar Datos Generar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,224]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"v2-prep-ok","name":"Datos OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1808,224]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"⚠️ {{ $json.message }}\" }\n}","options":{}},"id":"v2-reply-prep-error","name":"Responder Error Datos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,392],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://facturaia.agentesia.world/api/voice/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ org_id: $json.org_id, tipo: $json.tipo, factura_origen_id: $json.factura_origen_id || null, cliente: $json.cliente, lineas: $json.lineas, descuento_global_pct: $json.descuento_global_pct, notas: $json.notas, phone: $json.phone, actor: { source: 'whatsapp_audio', org_id: $json.org_id, user_id: $json.user_id || null, phone: $json.phone } }) }}","options":{"response":{"response":{"responseFormat":"json"}}},"authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth"},"id":"v2-generate","name":"Generar Factura","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2256,400],"onError":"continueErrorOutput","credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-gen-ok","name":"Generacion OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2480,56]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"❌ Hubo un error al generar el documento.\\n\\nVuelve a intentarlo en unos segundos. Si el problema persiste, escríbele a tu administrador.\" }\n}","options":{}},"id":"v2-reply-gen-error","name":"Responder Error Generacion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,400],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.pdf_url }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"v2-has-pdf","name":"Tiene PDF?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2704,8]},{"parameters":{"url":"={{ $json.pdf_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"v2-download-pdf","name":"Descargar PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,-156],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Procesar Boton').first().json.phone_number_id }}/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"type","value":"application/pdf"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"v2-upload-media","name":"Subir PDF a WhatsApp Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3528,-228],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"document\",\n  \"document\": {\n    \"id\": \"{{ $json.id }}\",\n    \"filename\": \"{{ $('Generacion OK?').first().json.num || 'documento' }}.pdf\",\n    \"caption\": \"{{ $('Generacion OK?').first().json.tipo === 'presupuesto' ? '📋 Presupuesto' : ($('Generacion OK?').first().json.tipo === 'proforma' ? '📄 Proforma' : ($('Generacion OK?').first().json.tipo === 'abono' ? '↩️ Abono' : '🧾 Factura')) }} *{{ $('Generacion OK?').first().json.num }}* lista. ¡Ya la puedes ver en tu dashboard!\"\n  }\n}","options":{}},"id":"v2-send-document","name":"Enviar Documento PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4128,-280],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories WHERE session_id = '{{ $('Procesar Boton').first().json.session_id_hash }}'","options":{}},"id":"v2-clean-session-confirm","name":"Limpiar Sesion Confirmar","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[4352,-280],"credentials":{"postgres":{"id":"8ywshg0IYnsUlaSH","name":"Postgres TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $('Generacion OK?').first().json.tipo === 'presupuesto' ? '📋 Presupuesto' : ($('Generacion OK?').first().json.tipo === 'proforma' ? '📄 Proforma' : ($('Generacion OK?').first().json.tipo === 'abono' ? '↩️ Abono' : '🧾 Factura')) }} *{{ $('Generacion OK?').first().json.num }}* creada correctamente. ✅\\n\\nYa la puedes ver en tu dashboard.\" }\n}","options":{}},"id":"v2-reply-text-only","name":"Enviar Confirmacion sin PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4128,232],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories WHERE session_id = '{{ $('Procesar Boton').first().json.session_id_hash }}'","options":{}},"id":"v2-clean-session-text-only","name":"Limpiar Sesion Texto","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[4352,232],"credentials":{"postgres":{"id":"8ywshg0IYnsUlaSH","name":"Postgres TufacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories WHERE session_id = '{{ $('Hash Session').first().json.session_id_hash }}'","options":{}},"id":"v2-clean-session-cancel","name":"Limpiar Sesion Cancelar","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1360,416],"credentials":{"postgres":{"id":"8ywshg0IYnsUlaSH","name":"Postgres TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"✖️ Cancelado. Cuando quieras volvemos a empezar.\" }\n}","options":{}},"id":"v2-reply-cancel","name":"Responder Cancelar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,416],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"✏️ Dime qué quieres cambiar y actualizo el documento.\" }\n}","options":{}},"id":"v2-reply-correct","name":"Responder Corregir","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,608],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"jsCode":"// Tras refactor: features ya vienen del resolve-context upstream.\n// Mantenemos shape del output para no romper downstream (`has_feature`).\nconst ctx = $input.first().json;\nreturn [{ json: { ...ctx, has_feature: ctx.features && ctx.features.generador_voz === true } }];"},"id":"v2-feature-gate","name":"Check Feature Voz","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-568]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.has_feature }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-feature-if","name":"Tiene Feature Voz?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,-568]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"🔐 Esta función no está activa en tu plan.\\n\\nContacta con tu administrador o entra en facturaia.agentesia.world para activarla.\" }\n}","options":{}},"id":"v2-reply-no-feature","name":"Responder No Tiene Feature","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,-472],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/whatsapp/resolve-context","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from_phone\": \"{{ $('Parsear Mensaje').first().json.normalized_phone }}\",\n  \"features_to_check\": [\"generador_voz\"]\n}","options":{"timeout":15000}},"id":"buscar-org-texto-moiin9hu","name":"Buscar Org Texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2256,952],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.matched }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"tiene-org-texto-moiin9hu","name":"Tiene Org Texto?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2480,952]},{"parameters":{"jsCode":"const data = $input.first().json;\nreturn [{ json: {\n  transcription: data.text_body || '',\n  has_text: (data.text_body || '').trim().length > 0,\n  org_id: data.org_id,\n  org_nombre: data.org_nombre,\n  normalized_phone: data.normalized_phone,\n  raw_from: data.from,\n  phone_number_id: data.phone_number_id\n}}];"},"id":"preparar-texto-agente-moiin9hu","name":"Preparar Texto Agente","type":"n8n-nodes-base.code","typeVersion":2,"position":[2704,784]},{"parameters":{"name":"consultar_facturas","description":"Consulta las ultimas facturas emitidas de la organizacion. Devuelve id, num, fecha, total, cliente y lineas. USALA OBLIGATORIAMENTE cuando tipo == \"abono\" para localizar la factura original que el usuario quiere rectificar (busca por num o por nombre del cliente).","method":"POST","url":"https://app.tufacturaia.com/api/internal/voice/facturas","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $(\\'Preparar Input Agente\\').first().json.org_id }}\",\n  \"limit\": 30\n}","optimizeResponse":false},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3792,-576],"name":"consultar_facturas","id":"a1c2d3e4-f5g6-7890-abcd-ef1234567890","credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"name":"consultar_presupuestos","description":"Consulta los ultimos presupuestos NO facturados de la organizacion. Devuelve id, num, fecha, total, cliente y NIF. USALA OBLIGATORIAMENTE cuando el usuario pida convertir/facturar un presupuesto previo (ej: \"factura el presupuesto P2026-0042\", \"convierte el presupuesto de Pepe en factura\"). Busca por num o por nombre del cliente entre los resultados.","method":"POST","url":"https://app.tufacturaia.com/api/internal/voice/presupuestos","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $(\\'Preparar Input Agente\\').first().json.org_id }}\",\n  \"limit\": 30\n}","optimizeResponse":false},"id":"voice-consultar-presupuestos-001","name":"consultar_presupuestos","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3920,-576],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16b974fb-7fc6-47c6-b154-1a46c278b8b8","leftValue":"={{ $json.flow }}","rightValue":"convert_presupuesto","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"voice-es-conversion-001","name":"Es Conversion?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,128]},{"parameters":{"method":"POST","url":"https://facturaia.agentesia.world/api/voice/convert-presupuesto","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Idempotency-Key","value":"=wa-{{ $json.chat_id }}-{{ $json.presupuesto_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({  org_id: $json.org_id,  presupuesto_id: $json.presupuesto_id,  confirmacion_usuario: true,  chat_id: $json.chat_id,  phone: $json.phone}) }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}},"authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth"},"id":"voice-convertir-presupuesto-001","name":"Convertir Presupuesto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2256,8],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"is-text","leftValue":"={{ $('Parsear Mensaje').item.json.msg_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}},{"id":"matches-stop","leftValue":"={{ ($('Parsear Mensaje').item.json.text_body || '').trim() }}","rightValue":"\\b([Ss][Tt][Oo][Pp]|[Bb][Aa][Jj][Aa]|[Cc][Aa][Nn][Cc][Ee][Ll][Aa][Rr]|[Uu][Nn][Ss][Uu][Bb][Ss][Cc][Rr][Ii][Bb][Ee]|[Nn][Oo]\\s*[Mm][AaÁá][Ss]|[Pp][Aa][Rr][Aa][Rr]|[Dd][Ee][Ss][Uu][Ss][Cc][Rr][Ii][Bb][Ii][Rr])\\b","operator":{"type":"string","operation":"regex","caseSensitive":false}}],"combinator":"and"},"options":{}},"id":"if-es-stop-v1","name":"Es STOP?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,760]},{"parameters":{"method":"POST","url":"https://facturaia.agentesia.world/api/internal/cobros-stop","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ ({\n  \"_marker\": \"cobros_stop_marker_v1\",\n  \"from_e164\": \"+\" + ($('Parsear Mensaje').item.json.normalized_phone || ''),\n  \"raw_text\": ($('Parsear Mensaje').item.json.text_body || '').slice(0, 200),\n  \"source\": \"whatsapp_stop\"\n}) }}","options":{"response":{"response":{"neverError":true}},"timeout":10000},"authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth"},"id":"http-notif-stop-v1","name":"Notificar STOP a FacturaIA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,584],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').item.json.phone_number_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ ({\n  \"messaging_product\": \"whatsapp\",\n  \"to\": $('Parsear Mensaje').item.json.from,\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Confirmado. No recibirás más recordatorios automáticos. Si fue un error, contacta directamente con quien te emitió la factura.\",\n    \"preview_url\": false\n  }\n}) }}","options":{"response":{"response":{"neverError":true}},"timeout":10000},"authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth"},"id":"http-confirm-stop-v1","name":"Confirmar STOP al Cliente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,584],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/chat-session-hash","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $json.normalized_phone }}\"\n}","options":{"timeout":10000}},"id":"http-hash-session-001","name":"Hash Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,424],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/whatsapp/resolve-context","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from_phone\": \"{{ $('Procesar Boton').first().json.normalized_phone }}\"\n}","options":{"timeout":15000}},"id":"http-resolver-org-generar-001","name":"Resolver Org Generar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1384,224],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-convert-1","leftValue":"={{ $json._needs_presupuesto_fetch }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"if-es-convert-presupuesto-001","name":"Es Convert Presupuesto?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4328,-800]},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/voice/presupuesto-detalle","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $json.org_id }}\",\n  \"presupuesto_id\": \"{{ $json.data.presupuesto_id }}\"\n}","options":{"timeout":15000}},"id":"http-fetch-presupuesto-detalle-001","name":"Fetch Presupuesto Detalle","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4528,-880],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"jsCode":"// Combina la response del endpoint presupuesto-detalle (que ya incluye\n// resumen_whatsapp pre-formateado) con el shape que espera 'Totales OK?'\n// downstream.\nconst detail = $input.first().json;\nconst ctxParsear = $('Parsear y Calcular Totales').first().json;\n\nif (!detail.presupuesto) {\n  return [{ json: {\n    error: true,\n    message: 'No encuentro ese presupuesto en tu organizacion. Verifica el numero.',\n    raw_from: ctxParsear.raw_from,\n    phone_number_id: ctxParsear.phone_number_id,\n  }}];\n}\n\nreturn [{ json: {\n  error: false,\n  data: {\n    ...ctxParsear.data,\n    presupuesto_num: detail.presupuesto.num,\n    total_estimado: detail.totales.total,\n    cliente: { nombre: detail.presupuesto.cliente?.nombre || ctxParsear.data.cliente?.nombre || 'Sin nombre' },\n  },\n  resumen: detail.resumen_whatsapp,\n  totales: detail.totales,\n  raw_from: ctxParsear.raw_from,\n  phone_number_id: ctxParsear.phone_number_id,\n}}];"},"id":"code-construir-resumen-convert-001","name":"Construir Resumen Convert","type":"n8n-nodes-base.code","typeVersion":2,"position":[4728,-880]}],"connections":{"Webhook WhatsApp":{"main":[[{"node":"Parsear Mensaje","type":"main","index":0}]]},"Parsear Mensaje":{"main":[[{"node":"Hash Session","type":"main","index":0}]]},"Router Tipo Mensaje":{"main":[[{"node":"Buscar Org Voz","type":"main","index":0}],[{"node":"Obtener URL del Archivo","type":"main","index":0}],[{"node":"Procesar Boton","type":"main","index":0}],[{"node":"Es STOP?","type":"main","index":0}],[{"node":"Enviar Instrucciones de Uso","type":"main","index":0}]]},"Obtener URL del Archivo":{"main":[[{"node":"Descargar Archivo","type":"main","index":0}]]},"Descargar Archivo":{"main":[[{"node":"Preparar Datos Ingesta","type":"main","index":0}]]},"Preparar Datos Ingesta":{"main":[[{"node":"Org Encontrada?","type":"main","index":0}]]},"Org Encontrada?":{"main":[[{"node":"Disparar OCR","type":"main","index":0}],[{"node":"Responder No Registrado OCR","type":"main","index":0}]]},"Disparar OCR":{"main":[[{"node":"Confirmar Recepcion WhatsApp","type":"main","index":0}]]},"Buscar Org Voz":{"main":[[{"node":"Org Tiene Voz?","type":"main","index":0}]]},"Org Tiene Voz?":{"main":[[{"node":"Check Feature Voz","type":"main","index":0}],[{"node":"Responder No Registrado Voz","type":"main","index":0}]]},"Obtener URL Audio":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Transcribir Whisper","type":"main","index":0}]]},"Transcribir Whisper":{"main":[[{"node":"Parsear Transcripcion","type":"main","index":0}],[{"node":"Responder Audio No Reconocido","type":"main","index":0}]]},"Parsear Transcripcion":{"main":[[{"node":"Tiene Texto?","type":"main","index":0}]]},"Tiene Texto?":{"main":[[{"node":"Preparar Input Agente","type":"main","index":0}],[{"node":"Responder Audio No Reconocido","type":"main","index":0}]]},"Preparar Input Agente":{"main":[[{"node":"Agente Facturador","type":"main","index":0}]]},"Agente Facturador":{"main":[[{"node":"Parsear y Calcular Totales","type":"main","index":0}]]},"Parsear y Calcular Totales":{"main":[[{"node":"Es Convert Presupuesto?","type":"main","index":0}]]},"Totales OK?":{"main":[[{"node":"Enviar Resumen WhatsApp","type":"main","index":0}],[{"node":"Responder Error Agente","type":"main","index":0}]]},"Enviar Resumen WhatsApp":{"main":[[{"node":"Enviar Botones WhatsApp","type":"main","index":0}]]},"Check Sesion Voz Activa":{"main":[[{"node":"Tiene Sesion?","type":"main","index":0}]]},"Tiene Sesion?":{"main":[[{"node":"Preparar Input Correccion","type":"main","index":0}],[{"node":"Buscar Org Texto","type":"main","index":0}]]},"Preparar Input Correccion":{"main":[[{"node":"Preparar Input Agente","type":"main","index":0}]]},"Procesar Boton":{"main":[[{"node":"Router Intencion","type":"main","index":0}]]},"Router Intencion":{"main":[[{"node":"Leer Ultimo JSON Agente","type":"main","index":0}],[{"node":"Limpiar Sesion Cancelar","type":"main","index":0}],[{"node":"Responder Corregir","type":"main","index":0}]]},"Leer Ultimo JSON Agente":{"main":[[{"node":"Resolver Org Generar","type":"main","index":0}]]},"Preparar Datos Generar":{"main":[[{"node":"Datos OK?","type":"main","index":0}]]},"Datos OK?":{"main":[[{"node":"Es Conversion?","type":"main","index":0}],[{"node":"Responder Error Datos","type":"main","index":0}]]},"Generar Factura":{"main":[[{"node":"Generacion OK?","type":"main","index":0}],[{"node":"Responder Error Generacion","type":"main","index":0}]]},"Generacion OK?":{"main":[[{"node":"Tiene PDF?","type":"main","index":0}],[{"node":"Responder Error Generacion","type":"main","index":0}]]},"Tiene PDF?":{"main":[[{"node":"Descargar PDF","type":"main","index":0}],[{"node":"Enviar Confirmacion sin PDF","type":"main","index":0}]]},"Descargar PDF":{"main":[[{"node":"Subir PDF a WhatsApp Media","type":"main","index":0}],[{"node":"Enviar Confirmacion sin PDF","type":"main","index":0}]]},"Subir PDF a WhatsApp Media":{"main":[[{"node":"Enviar Documento PDF","type":"main","index":0}],[{"node":"Enviar Confirmacion sin PDF","type":"main","index":0}]]},"Enviar Documento PDF":{"main":[[{"node":"Limpiar Sesion Confirmar","type":"main","index":0}]]},"Enviar Confirmacion sin PDF":{"main":[[{"node":"Limpiar Sesion Texto","type":"main","index":0}]]},"Limpiar Sesion Cancelar":{"main":[[{"node":"Responder Cancelar","type":"main","index":0}]]},"Check Feature Voz":{"main":[[{"node":"Tiene Feature Voz?","type":"main","index":0}]]},"Tiene Feature Voz?":{"main":[[{"node":"Obtener URL Audio","type":"main","index":0}],[{"node":"Responder No Tiene Feature","type":"main","index":0}]]},"OpenAI GPT-4o":{"ai_languageModel":[[{"node":"Agente Facturador","type":"ai_languageModel","index":0}]]},"Memoria Postgres":{"ai_memory":[[{"node":"Agente Facturador","type":"ai_memory","index":0}]]},"consultar_catalogo":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"consultar_clientes":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"Buscar Org Texto":{"main":[[{"node":"Tiene Org Texto?","type":"main","index":0}]]},"Tiene Org Texto?":{"main":[[{"node":"Preparar Texto Agente","type":"main","index":0}],[{"node":"Enviar Instrucciones de Uso","type":"main","index":0}]]},"Preparar Texto Agente":{"main":[[{"node":"Preparar Input Agente","type":"main","index":0}]]},"consultar_facturas":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"consultar_presupuestos":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"Es Conversion?":{"main":[[{"node":"Convertir Presupuesto","type":"main","index":0}],[{"node":"Generar Factura","type":"main","index":0}]]},"Convertir Presupuesto":{"main":[[{"node":"Generacion OK?","type":"main","index":0}]]},"Es STOP?":{"main":[[{"node":"Notificar STOP a FacturaIA","type":"main","index":0}],[{"node":"Check Sesion Voz Activa","type":"main","index":0}]]},"Notificar STOP a FacturaIA":{"main":[[{"node":"Confirmar STOP al Cliente","type":"main","index":0}]]},"Hash Session":{"main":[[{"node":"Router Tipo Mensaje","type":"main","index":0}]]},"Resolver Org Generar":{"main":[[{"node":"Preparar Datos Generar","type":"main","index":0}]]},"Es Convert Presupuesto?":{"main":[[{"node":"Fetch Presupuesto Detalle","type":"main","index":0}],[{"node":"Totales OK?","type":"main","index":0}]]},"Fetch Presupuesto Detalle":{"main":[[{"node":"Construir Resumen Convert","type":"main","index":0}]]},"Construir Resumen Convert":{"main":[[{"node":"Totales OK?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"111d2924-758a-4346-b6e4-3eed250dc856","activeVersionId":"111d2924-758a-4346-b6e4-3eed250dc856","versionCounter":10,"triggerCount":1,"shared":[{"updatedAt":"2026-05-16T10:08:14.680Z","createdAt":"2026-05-16T10:08:14.680Z","role":"workflow:owner","workflowId":"WcOl1yKsROdYircp","projectId":"UUy2j6TbtkLOkSB2","project":{"updatedAt":"2026-05-15T12:01:38.129Z","createdAt":"2026-05-14T12:18:17.402Z","id":"UUy2j6TbtkLOkSB2","name":"Manuel del Monte <m.delmonte.p@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"daa19c1f-b333-422c-b538-c9376a131006"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-16T11:04:51.456Z","createdAt":"2026-05-16T11:04:51.456Z","versionId":"111d2924-758a-4346-b6e4-3eed250dc856","workflowId":"WcOl1yKsROdYircp","nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-tufacturaia-test","options":{}},"id":"wa-recv-0001","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[16,424],"webhookId":"wa-receptor-test-001"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst entry = (body.entry || [])[0];\nif (!entry) return [];\nconst change = (entry.changes || [])[0];\nif (!change || change.field !== 'messages') return [];\nconst value = change.value || {};\nconst msg = (value.messages || [])[0];\nif (!msg) return [];\n\nconst contact = (value.contacts || [])[0];\nconst phoneNumberId = value.metadata?.phone_number_id || '';\n\nlet normalized = (msg.from || '').replace(/[\\s\\-\\(\\)\\+]/g, '');\nif (normalized.startsWith('0034')) normalized = normalized.slice(4);\nif (normalized.length === 9) normalized = '34' + normalized;\n\nconst result = {\n  from: msg.from,\n  from_name: contact?.profile?.name || msg.from,\n  normalized_phone: normalized,\n  message_id: msg.id,\n  timestamp: msg.timestamp,\n  msg_type: msg.type,\n  phone_number_id: phoneNumberId,\n  media_id: null,\n  mime_type: null,\n  caption: null,\n  filename: null,\n  text_body: null,\n  button_reply_id: null,\n  button_reply_title: null\n};\n\nswitch (msg.type) {\n  case 'image':\n    result.media_id = msg.image.id;\n    result.mime_type = msg.image.mime_type;\n    result.caption = msg.image.caption || null;\n    result.filename = `whatsapp-${msg.from}-${Date.now()}.jpg`;\n    break;\n  case 'document':\n    result.media_id = msg.document.id;\n    result.mime_type = msg.document.mime_type;\n    result.caption = msg.document.caption || null;\n    result.filename = msg.document.filename || `whatsapp-${msg.from}-${Date.now()}.pdf`;\n    break;\n  case 'audio':\n    result.media_id = msg.audio.id;\n    result.mime_type = msg.audio.mime_type;\n    result.filename = `voice-${msg.from}-${Date.now()}.ogg`;\n    break;\n  case 'text':\n    result.text_body = msg.text?.body || null;\n    break;\n  case 'interactive':\n    if (msg.interactive?.type === 'button_reply') {\n      result.button_reply_id = msg.interactive.button_reply.id;\n      result.button_reply_title = msg.interactive.button_reply.title;\n    }\n    break;\n}\n\n\nreturn [{ json: result }];"},"id":"wa-recv-0002","name":"Parsear Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,424]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parsear Mensaje').first().json.msg_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parsear Mensaje').first().json.msg_type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}},{"leftValue":"={{ $('Parsear Mensaje').first().json.msg_type }}","rightValue":"document","operator":{"type":"string","operation":"equals"}}],"combinator":"or"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parsear Mensaje').first().json.msg_type }}","rightValue":"interactive","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parsear Mensaje').first().json.msg_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"wa-recv-router","name":"Router Tipo Mensaje","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[688,376]},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"wa-recv-0004","name":"Obtener URL del Archivo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,-184],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"wa-recv-0005","name":"Descargar Archivo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,-184],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/whatsapp/ingesta","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone_number_id\": \"{{ $('Parsear Mensaje').first().json.phone_number_id }}\",\n  \"from_phone\": \"{{ $('Parsear Mensaje').first().json.normalized_phone }}\",\n  \"from_name\": \"{{ $('Parsear Mensaje').first().json.from_name }}\",\n  \"media\": {\n    \"base64\": \"{{ $binary.data.data }}\",\n    \"mime\": \"{{ $('Parsear Mensaje').first().json.mime_type }}\",\n    \"filename\": \"{{ $('Parsear Mensaje').first().json.filename }}\"\n  }\n}","options":{"timeout":30000,"response":{"response":{"neverError":true}}}},"id":"wa-recv-0006","name":"Preparar Datos Ingesta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,-184],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-matched","leftValue":"={{ $json.factura_id }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"wa-recv-0013","name":"Org Encontrada?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,-184]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Preparar Datos Ingesta').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Preparar Datos Ingesta').first().json.senderPhone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"🔒 Este número no está registrado en FacturaIA.\\n\\nEntra en facturaia.agentesia.world para empezar.\"\n  }\n}","options":{}},"id":"wa-recv-0014","name":"Responder No Registrado OCR","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,-88],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/whatsapp/ocr-process","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $('Preparar Datos Ingesta').first().json.org_id }}\",\n  \"org_nombre\": \"{{ $('Preparar Datos Ingesta').first().json.org_nombre }}\",\n  \"factura_id\": \"{{ $('Preparar Datos Ingesta').first().json.factura_id }}\",\n  \"bandeja_id\": \"{{ $('Preparar Datos Ingesta').first().json.bandeja_id }}\",\n  \"media\": {\n    \"base64\": \"{{ $('Descargar Archivo').first().binary.data.data }}\",\n    \"mime\": \"{{ $('Parsear Mensaje').first().json.mime_type }}\",\n    \"filename\": \"{{ $('Parsear Mensaje').first().json.filename }}\"\n  }\n}","options":{"timeout":60000}},"id":"wa-recv-0010","name":"Disparar OCR","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,-280],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/1180494911802950/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Factura recibida. Estamos extrayendo los datos, en unos segundos la veras en tu bandeja de ingesta.\"\n  }\n}","options":{}},"id":"wa-recv-0011","name":"Confirmar Recepcion WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,-280],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"👋 Hola, soy *FacturaIA*.\\n\\nPuedes pedirme:\\n🧾 una factura\\n📋 un presupuesto\\n📄 una proforma\\n↩️ un abono\\n\\nEnvíame un mensaje de *texto* o un *audio* describiendo lo que necesitas. También puedes mandarme una *foto* o *PDF* de una factura recibida y yo la registro automáticamente.\"\n  }\n}","options":{}},"id":"wa-recv-0012","name":"Enviar Instrucciones de Uso","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,1120],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/whatsapp/resolve-context","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from_phone\": \"{{ $('Parsear Mensaje').first().json.normalized_phone }}\",\n  \"features_to_check\": [\"generador_voz\"]\n}","options":{"timeout":15000}},"id":"v2-org-lookup-audio","name":"Buscar Org Voz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,-472],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.matched }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-org-check-audio","name":"Org Tiene Voz?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,-472]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"🔒 Este número no está registrado en FacturaIA.\\n\\nRegístrate o pide a tu administrador que añada tu teléfono en *Configuración → Usuarios*.\" }\n}","options":{}},"id":"v2-reply-not-registered","name":"Responder No Registrado Voz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,-376],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $('Buscar Org Voz').first().json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"v2-get-audio-url","name":"Obtener URL Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,-664],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"v2-download-audio","name":"Descargar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,-664],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-1"},{"name":"language","value":"es"},{"name":"response_format","value":"text"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"v2-whisper","name":"Transcribir Whisper","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2256,-664],"credentials":{"openAiApi":{"id":"Z0j42YZwJajGroHK","name":"OpenAI TufacturaIA"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const whisperResult = $input.first().json;\nconst text = (typeof whisperResult === 'string' ? whisperResult : whisperResult.data || whisperResult.text || '').trim();\nconst org = $('Buscar Org Voz').first().json;\n\nreturn [{ json: {\n  transcription: text,\n  has_text: text.length > 5,\n  org_id: org.org_id,\n  org_nombre: org.org_nombre,\n  normalized_phone: org.normalized_phone,\n  raw_from: org.from,\n  phone_number_id: org.phone_number_id\n}}];"},"id":"v2-parse-whisper","name":"Parsear Transcripcion","type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,-736]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.has_text }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-has-text","name":"Tiene Texto?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2704,-736]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"🎙️ No conseguí entender el audio. Inténtalo de nuevo hablando más claro o escríbeme el mensaje en texto.\" }\n}","options":{}},"id":"v2-reply-bad-audio","name":"Responder Audio No Reconocido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,-592],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"chatInput","value":"={{ $json.transcription || $json.correction_text }}","type":"string"},{"id":"a2","name":"sessionId","value":"={{ $json.normalized_phone }}","type":"string"},{"id":"a3","name":"org_id","value":"={{ $json.org_id }}","type":"string"},{"id":"a4","name":"org_nombre","value":"={{ $json.org_nombre }}","type":"string"},{"id":"a5","name":"raw_from","value":"={{ $json.raw_from }}","type":"string"},{"id":"a6","name":"phone_number_id","value":"={{ $json.phone_number_id }}","type":"string"}]},"options":{}},"id":"v2-set-agent-input","name":"Preparar Input Agente","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2928,-800]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Eres un asistente de facturacion para la organizacion \"{{ $json.org_nombre }}\".\nEl usuario te envia un mensaje (audio transcrito o texto) donde pide crear un documento.\n\nREGLA ABSOLUTA: SIEMPRE respondes con JSON valido y SOLO con JSON. Nunca texto natural ni preguntas ni markdown. Si te falta informacion, rellenala con tu mejor intento y usa \"notas\" para indicar lo asumido.\n\nTu trabajo:\n1. SIEMPRE primero llama a consultar_catalogo y consultar_clientes\n2. Si el usuario pide un ABONO, llama tambien a consultar_facturas y NO inventes datos\n3. Para cada linea: intenta hacer match (por nombre o descripcion, no exacto, tolerante a errores) contra el catalogo\n4. Devuelve este JSON:\n\n{\n  \"tipo\": \"factura\",\n  \"factura_origen_id\": null,\n  \"cliente\": {\n    \"nombre\": \"Nombre\",\n    \"id\": null,\n    \"crear\": false\n  },\n  \"lineas\": [\n    {\n      \"descripcion\": \"Servicio o producto\",\n      \"cantidad\": 1,\n      \"precio_unitario\": 100.00,\n      \"iva_pct\": 21,\n      \"descuento_pct\": 0,\n      \"desde_catalogo\": false,\n      \"catalogo_match_id\": null\n    }\n  ],\n  \"descuento_global_pct\": 0,\n  \"notas\": \"\"\n}\n\nValores validos del campo \"tipo\": \"factura\", \"presupuesto\", \"proforma\", \"abono\" o \"convertir_presupuesto\".\n\nComo detectar el tipo:\n- \"factura\" / \"facturame\" / \"haz factura\" -> \"factura\"\n- \"presupuesto\" / \"cotizacion\" -> \"presupuesto\"\n- \"proforma\" / \"factura proforma\" -> \"proforma\"\n- \"abono\" / \"rectificativa\" / \"devolucion\" / \"anular factura\" / \"nota de credito\" -> \"abono\"\n\n- \"convierte el presupuesto\" / \"factura el presupuesto\" / \"facturame el presupuesto\" / \"pasa a factura el presupuesto\" -> \"convertir_presupuesto\"\n\nCONVERTIR_PRESUPUESTO - REGLAS CRITICAS (cuando tipo == \"convertir_presupuesto\"):\n- DEBES llamar a consultar_presupuestos para tener la lista de presupuestos no facturados.\n- El usuario dira cosas como \"factura el presupuesto P2026-0042\", \"el ultimo de Pepe\", \"el de 1.200 euros de Tecnocloud\", \"convierte el de Manuel\".\n\nMATCHING PERMISIVO (criterio):\n- Ignora acentos, mayusculas, diminutivos y typos menores. \"manuel\" matchea \"Manuel\". \"manvel\" (Whisper se equivoca a menudo) tambien matchea \"Manuel\". \"garcia\" matchea \"García\". \"tecno\" matchea \"Tecnocloud\".\n- Prioriza por orden:\n  1. Match exacto del num (P2026-0042) → unívoco, ignora todo lo demás.\n  2. Match exacto del NIF si el usuario lo dijo.\n  3. Coincidencia de nombre cliente + importe aproximado mencionado por el usuario.\n  4. Coincidencia de nombre cliente + el más reciente.\n\nCASO 1: encuentras 1 match claro → devuelve EXACTAMENTE:\n  {\n    \"tipo\": \"convertir_presupuesto\",\n    \"presupuesto_id\": \"<uuid>\",\n    \"presupuesto_num\": \"<num, ej: P2026-0042>\",\n    \"cliente\": { \"nombre\": \"<nombre del cliente del presupuesto>\" },\n    \"total_estimado\": <total con IVA>,\n    \"notas\": \"\"\n  }\n\nCASO 2: hay 2+ candidatos con confianza similar (mismo nombre, NIF distinto, fechas variadas) → devuelve:\n  {\n    \"tipo\": \"convertir_presupuesto\",\n    \"error\": \"ambiguo\",\n    \"mensaje\": \"Tengo varios presupuestos abiertos para 'Manuel'. ¿Cuál?\\n1) P2026-0042 · Manuel García · 1.210,00 € · 08-may\\n2) P2026-0035 · Manuel López · 800,00 € · 01-may\\n3) P2026-0018 · Manuel Pérez SL · 12.400,00 € · 20-abr\\n\\nResponde con el número (1, 2, 3...) o dame más detalles (ej: 'el de 1.200 euros').\"\n  }\n  Lista MAX 5 candidatos. Formato linea: \"N) NUM · CLIENTE · TOTAL,DD € · DD-mmm\". Total con punto miles y coma decimales (es-ES). Fecha en DD-mmm (3 letras).\n\nCASO 3: no encuentras NINGUN match (cliente desconocido, posible typo grave de Whisper) → devuelve:\n  {\n    \"tipo\": \"convertir_presupuesto\",\n    \"error\": \"no_encontrado\",\n    \"mensaje\": \"No encuentro presupuestos abiertos que encajen con lo que has dicho (puede ser un error de transcripción). Estos son tus últimos abiertos:\\n1) P2026-0042 · Manuel García · 1.210,00 € · 08-may\\n2) P2026-0040 · Acme SL · 800,00 € · 06-may\\n3) P2026-0038 · Tecnocloud · 350,00 € · 03-may\\n\\n¿Es alguno? Responde con el número o reformula (ej: 'el último de Acme').\"\n  }\n  Lista MAX 5 últimos abiertos por fecha desc.\n\nCASO 4 — RESPUESTA DEL USUARIO TRAS PROPUESTA DE CANDIDATOS:\n- Si el usuario responde con un número (1, 2, 3...) y en tu turno anterior propusiste candidatos, USA TU MEMORIA de la conversación: el \"1\" se refiere al primer candidato que listaste, etc. Devuelve directamente CASO 1 con ese presupuesto_id.\n- Si el usuario reformula con otro nombre o dato (\"el de 1.200 euros\", \"el de tecnocloud\"), repite el matching con el nuevo dato.\n- Si el usuario dice algo ambiguo, vuelve a CASO 2 o CASO 3 según proceda.\n\nREGLAS DURAS:\n- NUNCA inventes presupuesto_id. Solo IDs que vengan de consultar_presupuestos.\n- NO devuelvas el campo \"lineas\" en este tipo (las copia el backend del presupuesto origen).\n- NO conviertas presupuestos con estado='facturado' (no aparecen en consultar_presupuestos por filtro). Si el usuario insiste, devuelve error \"no_encontrado\".\n\nABONOS - REGLAS CRITICAS (cuando tipo == \"abono\"):\n- DEBES llamar a consultar_facturas para localizar la factura original\n- El usuario dira algo como \"abono de la factura A2026-0090\" o \"abono de la ultima factura de Pepe\"\n- Busca la factura en el resultado de consultar_facturas (matching por num o por nombre del cliente)\n- Si la encuentras: rellena \"factura_origen_id\" con el id de esa factura, copia sus lineas tal cual a \"lineas\", y usa el mismo cliente_id en \"cliente.id\"\n- Si NO la encuentras: devuelve este JSON especial y nada mas:\n  {\n    \"tipo\": \"abono\",\n    \"error\": \"factura_no_encontrada\",\n    \"mensaje\": \"No encuentro la factura que mencionas. Dime el numero exacto (ej: A2026-0042) o el cliente para buscarla.\"\n  }\n- NUNCA generes un abono con lineas inventadas o factura_origen_id null. Si no hay factura confirmada, devuelve el error.\n\nCATALOGO - REGLAS CRITICAS:\n- Si el producto del usuario coincide (parcial o total) con un item del catalogo:\n  * Usa la descripcion EXACTA del catalogo\n  * Usa el precio_orientativo del catalogo SALVO que el usuario diga otro precio\n  * Marca \"desde_catalogo\": true\n- Si NO hay match en catalogo:\n  * Usa la descripcion que dijo el usuario\n  * Usa el precio que dijo el usuario (o un valor razonable)\n  * Marca \"desde_catalogo\": false (esto activara la sugerencia de \"anadirlo al catalogo\")\n- NUNCA inventes productos sin que el usuario los mencione. Si el usuario no especifica un servicio, deja una linea generica con notas\n\nDESCUENTOS - capturar SIEMPRE que el usuario los mencione:\n- \"5 horas a 50 con 10% de descuento\" -> en esa linea: descuento_pct: 10\n- \"20% de descuento en consultoria\" -> descuento_pct: 20 en esa linea\n- \"con 5% de descuento general\" / \"todo con 10% off\" -> descuento_global_pct: 5 (afecta a todas)\n- Si no se menciona descuento -> 0\n\nIVA - capturar SIEMPRE que el usuario lo mencione:\n- \"IVA al 10%\" / \"al 10%\" / \"IVA reducido\" -> iva_pct: 10\n- \"IVA al 4%\" / \"superreducido\" -> iva_pct: 4\n- \"sin IVA\" / \"exento\" / \"exenta\" -> iva_pct: 0\n- \"IGIC\" / \"Canarias\" -> iva_pct: 7\n- Si no se menciona -> 21\n\nCORRECCIONES (cuando el usuario corrige un documento previo):\n- Devuelve el JSON COMPLETO actualizado, no parcial\n- Si dice \"el IVA es 10\" -> actualiza iva_pct en TODAS las lineas afectadas\n- Si dice \"aplica 10% de descuento\" -> actualiza descuento_pct (linea o global segun contexto)\n- Si dice \"el precio son 80, no 70\" -> actualiza precio_unitario\n\nCLIENTES:\n- Si existe en BD: id del catalogo, crear: false\n- Si no existe: id: null, crear: true, nombre que dijo el usuario\n\nREGLA FINAL:\n- Si no se especifica tipo, asume \"factura\"\n- Devuelve SOLO JSON, sin markdown, sin preguntas, sin texto natural","maxIterations":5,"returnIntermediateSteps":false}},"id":"v2-ai-agent","name":"Agente Facturador","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3464,-800]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{"temperature":0.1}},"id":"v2-llm-openai","name":"OpenAI GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3152,-576],"credentials":{"openAiApi":{"id":"Z0j42YZwJajGroHK","name":"OpenAI TufacturaIA"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Hash Session').first().json.session_id_hash }}","contextWindowLength":10},"id":"v2-memory-pg","name":"Memoria Postgres","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3280,-576],"credentials":{"postgres":{"id":"8ywshg0IYnsUlaSH","name":"Postgres TufacturaIA"}}},{"parameters":{"name":"consultar_catalogo","description":"Consulta el catalogo de servicios/productos de la organizacion. Devuelve nombre, precio unitario, IVA y unidad de cada servicio activo. Usala SIEMPRE antes de generar el JSON para verificar si los servicios mencionados existen y a que precio. El parametro org_id se obtiene del contexto.","method":"POST","url":"https://app.tufacturaia.com/api/internal/voice/catalogo","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $fromAI('org_id', '', 'string') || $(\\'Preparar Input Agente\\').first().json.org_id }}\"\n}","optimizeResponse":false},"id":"v2-tool-catalogo","name":"consultar_catalogo","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3408,-576],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"name":"consultar_clientes","description":"Consulta la lista de clientes de la organizacion. Devuelve id, nombre, NIF y email de cada cliente. Usala SIEMPRE para buscar si el cliente mencionado ya existe en el sistema. El parametro org_id se obtiene del contexto.","method":"POST","url":"https://app.tufacturaia.com/api/internal/voice/clientes","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $(\\'Preparar Input Agente\\').first().json.org_id }}\",\n  \"query\": \"{{ $fromAI('query', 'Nombre o NIF a buscar (opcional)', 'string') }}\"\n}","optimizeResponse":false},"id":"v2-tool-clientes","name":"consultar_clientes","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3536,-576],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{},"id":"v2-tool-think","name":"Think","type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[3664,-576]},{"parameters":{"jsCode":"const raw = $json.output || $json.text || '';\nlet data;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  data = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n} catch (e) {\n  return [{ json: {\n    error: true,\n    message: 'El agente no devolvio un JSON valido. Intentalo de nuevo.',\n    raw_from: $('Preparar Input Agente').first().json.raw_from,\n    phone_number_id: $('Preparar Input Agente').first().json.phone_number_id\n  } }];\n}\n\nconst ctxPrep = $('Preparar Input Agente').first().json;\n\n// BRANCH convertir_presupuesto: marcamos flag para que el IF downstream\n// dispare la rama HTTP que consulta el detalle del presupuesto.\nif (data.tipo === 'convertir_presupuesto') {\n  if (!data.presupuesto_id) {\n    return [{ json: {\n      error: true,\n      message: 'No tengo el ID del presupuesto. Reformula tu mensaje indicando el numero (ej: P2026-0042).',\n      raw_from: ctxPrep.raw_from,\n      phone_number_id: ctxPrep.phone_number_id\n    }}];\n  }\n  return [{ json: {\n    _needs_presupuesto_fetch: true,\n    data,\n    org_id: ctxPrep.org_id,\n    raw_from: ctxPrep.raw_from,\n    phone_number_id: ctxPrep.phone_number_id,\n  }}];\n}\n\n// BRANCH normal: calculo de totales con las lineas devueltas por el agente.\nconst lineas = (data.lineas || []).map(l => ({\n  concepto: l.descripcion || l.concepto || 'Servicio',\n  cantidad: Number(l.cantidad) || 1,\n  precio_unitario: Number(l.precio_unitario) || 0,\n  iva_pct: l.iva_pct !== undefined ? Number(l.iva_pct) : 21,\n  descuento_pct: Number(l.descuento_pct) || 0,\n}));\n\nconst subtotales = lineas.map(l => {\n  const bruto = l.cantidad * l.precio_unitario;\n  const descLinea = bruto * (l.descuento_pct / 100);\n  return { base: bruto - descLinea, iva_pct: l.iva_pct, bruto, _isNuevo: l._isNuevo };\n});\n\nconst descGlobalPct = Number(data.descuento_global_pct) || 0;\nconst subtotal = subtotales.reduce((s, l) => s + l.base, 0);\nconst descGlobal = subtotal * (descGlobalPct / 100);\nconst baseTotal = subtotal - descGlobal;\nconst ivaTotal = subtotales.reduce((s, l) => s + l.base * (1 - descGlobalPct / 100) * (l.iva_pct / 100), 0);\nconst total = baseTotal + ivaTotal;\n\nconst fmtCalc = n => n.toFixed(2).replace('.', ',');\nconst tipoLabel = (data.tipo || 'factura').toUpperCase();\nconst lineLines = [];\nlineLines.push(tipoLabel);\nlineLines.push(`Cliente: ${data.cliente?.nombre || 'Sin nombre'}`);\nlineLines.push('---');\nfor (const l of lineas) {\n  const bruto = l.cantidad * l.precio_unitario;\n  lineLines.push(`- ${l.cantidad}x ${l.concepto}: ${fmtCalc(l.precio_unitario)} EUR/u = ${fmtCalc(bruto)} EUR`);\n  if (l.descuento_pct > 0) {\n    lineLines.push(`  Dto linea -${l.descuento_pct}%: -${fmtCalc(bruto * l.descuento_pct / 100)} EUR`);\n  }\n}\nlineLines.push('---');\nlineLines.push(`Base: ${fmtCalc(baseTotal)} EUR`);\nif (descGlobalPct > 0) {\n  lineLines.push(`Dto global ${descGlobalPct}%: -${fmtCalc(descGlobal)} EUR`);\n}\nlineLines.push(`IVA: ${fmtCalc(ivaTotal)} EUR`);\nlineLines.push(`TOTAL: ${fmtCalc(total)} EUR`);\nlineLines.push('');\nlineLines.push('Responde \"si\" para Confirmar, describe la correccion, o \"cancelar\".');\n\nreturn [{ json: {\n  error: false,\n  _needs_presupuesto_fetch: false,\n  data,\n  resumen: lineLines.join('\\n'),\n  totales: { base: Number(baseTotal.toFixed(2)), iva: Number(ivaTotal.toFixed(2)), total: Number(total.toFixed(2)) },\n  nuevos_productos: lineas.filter(l => l._isNuevo).map(l => ({ nombre: l.concepto, precio_orientativo: l.precio_unitario, iva_pct: l.iva_pct })),\n  raw_from: ctxPrep.raw_from,\n  phone_number_id: ctxPrep.phone_number_id,\n}}];"},"id":"v2-calc-totals","name":"Parsear y Calcular Totales","type":"n8n-nodes-base.code","typeVersion":2,"position":[4128,-800]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"v2-totals-ok","name":"Totales OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4352,-800]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"⚠️ {{ $json.message }}\" }\n}","options":{}},"id":"v2-reply-agent-error","name":"Responder Error Agente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,-688],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($json.resumen) }} }\n}","options":{}},"id":"v2-send-summary","name":"Enviar Resumen WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,-880],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": { \"text\": \"¿Confirmas este documento? 👇\" },\n    \"action\": {\n      \"buttons\": [\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_confirm\", \"title\": \"✅ Confirmar\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_correct\", \"title\": \"✏️ Corregir\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_cancel\", \"title\": \"✖️ Cancelar\" } }\n      ]\n    }\n  }\n}","options":{}},"id":"v2-send-buttons","name":"Enviar Botones WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4800,-880],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as cnt FROM n8n_chat_histories WHERE session_id = '{{ $('Hash Session').first().json.session_id_hash }}' LIMIT 1","options":{}},"id":"v2-check-session","name":"Check Sesion Voz Activa","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1808,856],"credentials":{"postgres":{"id":"8ywshg0IYnsUlaSH","name":"Postgres TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ Number($json.cnt) }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"v2-has-session","name":"Tiene Sesion?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,856]},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/whatsapp/resolve-context","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from_phone\": \"{{ $('Parsear Mensaje').first().json.normalized_phone }}\"\n}","options":{"timeout":15000}},"id":"v2-set-correction","name":"Preparar Input Correccion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,592],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"jsCode":"const buttonId = $('Parsear Mensaje').first().json.button_reply_id;\n\nlet intent;\nif (buttonId === 'voice_confirm') intent = 'confirm';\nelse if (buttonId === 'voice_cancel') intent = 'cancel';\nelse if (buttonId === 'voice_correct') intent = 'correct';\nelse intent = 'unknown';\n\nreturn [{ json: {\n  session_id_hash: $('Hash Session').first().json.session_id_hash,\n  intent,\n  normalized_phone: $('Parsear Mensaje').first().json.normalized_phone,\n  raw_from: $('Parsear Mensaje').first().json.from,\n  phone_number_id: $('Parsear Mensaje').first().json.phone_number_id\n}}];"},"id":"v2-process-button","name":"Procesar Boton","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,424]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"confirm","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"cancel","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"correct","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"none"}},"id":"v2-intent-switch","name":"Router Intencion","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1136,408]},{"parameters":{"operation":"executeQuery","query":"SELECT id, session_id, message FROM n8n_chat_histories WHERE session_id = '{{ $('Hash Session').first().json.session_id_hash }}' ORDER BY id DESC LIMIT 5","options":{}},"id":"v2-read-last-ai","name":"Leer Ultimo JSON Agente","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1360,224],"credentials":{"postgres":{"id":"8ywshg0IYnsUlaSH","name":"Postgres TufacturaIA"}}},{"parameters":{"jsCode":"// Lee la conversacion completa desde Postgres Chat Memory (via 'Leer Ultimo JSON Agente'),\n// localiza el ultimo mensaje del agente y parsea su JSON.\n// La resolucion de org/user_id la hace el nodo HTTP 'Resolver Org Generar' upstream.\nconst rows = $('Leer Ultimo JSON Agente').all();\nif (!rows.length) return [{ json: { error: true, message: 'No hay sesion de factura activa.' } }];\n\nlet raw = '';\nfor (const row of rows) {\n  const msg = row.json && row.json.message;\n  if (!msg) continue;\n  const msgObj = typeof msg === 'string' ? JSON.parse(msg) : msg;\n  if (msgObj.type === 'ai' || msgObj.type === 'AIMessage' || msgObj.type === 'assistant') {\n    raw = (msgObj.data && msgObj.data.content) || msgObj.content || (typeof msg === 'string' ? msg : JSON.stringify(msg));\n    break;\n  }\n}\n\nif (!raw) {\n  const firstMsg = rows[0] && rows[0].json && rows[0].json.message;\n  const debug = typeof firstMsg === 'string' ? firstMsg.substring(0, 200) : JSON.stringify(firstMsg).substring(0, 200);\n  return [{ json: { error: true, message: 'No se encontro respuesta del agente. Debug: ' + debug } }];\n}\n\nlet data;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  data = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n} catch (e) {\n  return [{ json: { error: true, message: 'JSON invalido del agente. Raw: ' + raw.substring(0, 200) } }];\n}\n\n// Org resuelta por el endpoint resolve-context upstream\nconst ctx = $input.first().json;\nif (!ctx.matched) {\n  const reasonMap = {\n    telefono_no_registrado: 'Tu telefono no esta registrado en ningun perfil de FacturaIA.',\n    sin_org: 'No perteneces a ninguna organizacion activa.',\n    org_no_encontrada: 'No se ha podido localizar la organizacion.',\n    input_invalido: 'Falta el telefono para resolver la organizacion.',\n  };\n  return [{ json: { error: true, message: reasonMap[ctx.reason] || 'No se ha podido resolver la organizacion.' } }];\n}\nconst org_id = ctx.org_id;\nconst user_id = ctx.user_id;\nconst phone = $('Procesar Boton').first().json.normalized_phone;\n\n// BRANCH: convertir_presupuesto\nif (data.tipo === 'convertir_presupuesto') {\n  if (data.error) {\n    return [{ json: { error: true, message: data.mensaje || 'No pude convertir el presupuesto.' } }];\n  }\n  if (!data.presupuesto_id) {\n    return [{ json: { error: true, message: 'Falta presupuesto_id en la respuesta del agente.' } }];\n  }\n  return [{ json: {\n    error: false,\n    flow: 'convert_presupuesto',\n    org_id, user_id,\n    presupuesto_id: data.presupuesto_id,\n    presupuesto_num: data.presupuesto_num || null,\n    total_estimado: data.total_estimado || null,\n    phone,\n    chat_id: phone,\n    raw_from: $('Procesar Boton').first().json.raw_from,\n    phone_number_id: $('Procesar Boton').first().json.phone_number_id\n  }}];\n}\n\nconst lineas = (data.lineas || []).map(l => ({\n  concepto: l.descripcion || l.concepto,\n  cantidad: l.cantidad,\n  precio_unitario: l.precio_unitario,\n  iva_pct: l.iva_pct || 21,\n  descuento_pct: l.descuento_pct || 0\n}));\n\nreturn [{ json: {\n  error: false,\n  flow: 'generate',\n  org_id,\n  user_id,\n  tipo: data.tipo || 'factura',\n  factura_origen_id: data.factura_origen_id || null,\n  cliente: data.cliente,\n  lineas,\n  descuento_global_pct: data.descuento_global_pct || 0,\n  notas: data.notas || null,\n  phone,\n  raw_from: $('Procesar Boton').first().json.raw_from,\n  phone_number_id: $('Procesar Boton').first().json.phone_number_id\n}}];"},"id":"v2-prep-generate","name":"Preparar Datos Generar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,224]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"v2-prep-ok","name":"Datos OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1808,224]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"⚠️ {{ $json.message }}\" }\n}","options":{}},"id":"v2-reply-prep-error","name":"Responder Error Datos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,392],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://facturaia.agentesia.world/api/voice/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ org_id: $json.org_id, tipo: $json.tipo, factura_origen_id: $json.factura_origen_id || null, cliente: $json.cliente, lineas: $json.lineas, descuento_global_pct: $json.descuento_global_pct, notas: $json.notas, phone: $json.phone, actor: { source: 'whatsapp_audio', org_id: $json.org_id, user_id: $json.user_id || null, phone: $json.phone } }) }}","options":{"response":{"response":{"responseFormat":"json"}}},"authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth"},"id":"v2-generate","name":"Generar Factura","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2256,400],"onError":"continueErrorOutput","credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-gen-ok","name":"Generacion OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2480,56]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"❌ Hubo un error al generar el documento.\\n\\nVuelve a intentarlo en unos segundos. Si el problema persiste, escríbele a tu administrador.\" }\n}","options":{}},"id":"v2-reply-gen-error","name":"Responder Error Generacion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,400],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.pdf_url }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"v2-has-pdf","name":"Tiene PDF?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2704,8]},{"parameters":{"url":"={{ $json.pdf_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"v2-download-pdf","name":"Descargar PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,-156],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Procesar Boton').first().json.phone_number_id }}/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"type","value":"application/pdf"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"v2-upload-media","name":"Subir PDF a WhatsApp Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3528,-228],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"document\",\n  \"document\": {\n    \"id\": \"{{ $json.id }}\",\n    \"filename\": \"{{ $('Generacion OK?').first().json.num || 'documento' }}.pdf\",\n    \"caption\": \"{{ $('Generacion OK?').first().json.tipo === 'presupuesto' ? '📋 Presupuesto' : ($('Generacion OK?').first().json.tipo === 'proforma' ? '📄 Proforma' : ($('Generacion OK?').first().json.tipo === 'abono' ? '↩️ Abono' : '🧾 Factura')) }} *{{ $('Generacion OK?').first().json.num }}* lista. ¡Ya la puedes ver en tu dashboard!\"\n  }\n}","options":{}},"id":"v2-send-document","name":"Enviar Documento PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4128,-280],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories WHERE session_id = '{{ $('Procesar Boton').first().json.session_id_hash }}'","options":{}},"id":"v2-clean-session-confirm","name":"Limpiar Sesion Confirmar","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[4352,-280],"credentials":{"postgres":{"id":"8ywshg0IYnsUlaSH","name":"Postgres TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $('Generacion OK?').first().json.tipo === 'presupuesto' ? '📋 Presupuesto' : ($('Generacion OK?').first().json.tipo === 'proforma' ? '📄 Proforma' : ($('Generacion OK?').first().json.tipo === 'abono' ? '↩️ Abono' : '🧾 Factura')) }} *{{ $('Generacion OK?').first().json.num }}* creada correctamente. ✅\\n\\nYa la puedes ver en tu dashboard.\" }\n}","options":{}},"id":"v2-reply-text-only","name":"Enviar Confirmacion sin PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4128,232],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories WHERE session_id = '{{ $('Procesar Boton').first().json.session_id_hash }}'","options":{}},"id":"v2-clean-session-text-only","name":"Limpiar Sesion Texto","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[4352,232],"credentials":{"postgres":{"id":"8ywshg0IYnsUlaSH","name":"Postgres TufacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories WHERE session_id = '{{ $('Hash Session').first().json.session_id_hash }}'","options":{}},"id":"v2-clean-session-cancel","name":"Limpiar Sesion Cancelar","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1360,416],"credentials":{"postgres":{"id":"8ywshg0IYnsUlaSH","name":"Postgres TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"✖️ Cancelado. Cuando quieras volvemos a empezar.\" }\n}","options":{}},"id":"v2-reply-cancel","name":"Responder Cancelar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,416],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"✏️ Dime qué quieres cambiar y actualizo el documento.\" }\n}","options":{}},"id":"v2-reply-correct","name":"Responder Corregir","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,608],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"jsCode":"// Tras refactor: features ya vienen del resolve-context upstream.\n// Mantenemos shape del output para no romper downstream (`has_feature`).\nconst ctx = $input.first().json;\nreturn [{ json: { ...ctx, has_feature: ctx.features && ctx.features.generador_voz === true } }];"},"id":"v2-feature-gate","name":"Check Feature Voz","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-568]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.has_feature }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-feature-if","name":"Tiene Feature Voz?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,-568]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"🔐 Esta función no está activa en tu plan.\\n\\nContacta con tu administrador o entra en facturaia.agentesia.world para activarla.\" }\n}","options":{}},"id":"v2-reply-no-feature","name":"Responder No Tiene Feature","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,-472],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/whatsapp/resolve-context","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from_phone\": \"{{ $('Parsear Mensaje').first().json.normalized_phone }}\",\n  \"features_to_check\": [\"generador_voz\"]\n}","options":{"timeout":15000}},"id":"buscar-org-texto-moiin9hu","name":"Buscar Org Texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2256,952],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.matched }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"tiene-org-texto-moiin9hu","name":"Tiene Org Texto?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2480,952]},{"parameters":{"jsCode":"const data = $input.first().json;\nreturn [{ json: {\n  transcription: data.text_body || '',\n  has_text: (data.text_body || '').trim().length > 0,\n  org_id: data.org_id,\n  org_nombre: data.org_nombre,\n  normalized_phone: data.normalized_phone,\n  raw_from: data.from,\n  phone_number_id: data.phone_number_id\n}}];"},"id":"preparar-texto-agente-moiin9hu","name":"Preparar Texto Agente","type":"n8n-nodes-base.code","typeVersion":2,"position":[2704,784]},{"parameters":{"name":"consultar_facturas","description":"Consulta las ultimas facturas emitidas de la organizacion. Devuelve id, num, fecha, total, cliente y lineas. USALA OBLIGATORIAMENTE cuando tipo == \"abono\" para localizar la factura original que el usuario quiere rectificar (busca por num o por nombre del cliente).","method":"POST","url":"https://app.tufacturaia.com/api/internal/voice/facturas","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $(\\'Preparar Input Agente\\').first().json.org_id }}\",\n  \"limit\": 30\n}","optimizeResponse":false},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3792,-576],"name":"consultar_facturas","id":"a1c2d3e4-f5g6-7890-abcd-ef1234567890","credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"name":"consultar_presupuestos","description":"Consulta los ultimos presupuestos NO facturados de la organizacion. Devuelve id, num, fecha, total, cliente y NIF. USALA OBLIGATORIAMENTE cuando el usuario pida convertir/facturar un presupuesto previo (ej: \"factura el presupuesto P2026-0042\", \"convierte el presupuesto de Pepe en factura\"). Busca por num o por nombre del cliente entre los resultados.","method":"POST","url":"https://app.tufacturaia.com/api/internal/voice/presupuestos","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $(\\'Preparar Input Agente\\').first().json.org_id }}\",\n  \"limit\": 30\n}","optimizeResponse":false},"id":"voice-consultar-presupuestos-001","name":"consultar_presupuestos","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3920,-576],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16b974fb-7fc6-47c6-b154-1a46c278b8b8","leftValue":"={{ $json.flow }}","rightValue":"convert_presupuesto","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"voice-es-conversion-001","name":"Es Conversion?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,128]},{"parameters":{"method":"POST","url":"https://facturaia.agentesia.world/api/voice/convert-presupuesto","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Idempotency-Key","value":"=wa-{{ $json.chat_id }}-{{ $json.presupuesto_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({  org_id: $json.org_id,  presupuesto_id: $json.presupuesto_id,  confirmacion_usuario: true,  chat_id: $json.chat_id,  phone: $json.phone}) }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}},"authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth"},"id":"voice-convertir-presupuesto-001","name":"Convertir Presupuesto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2256,8],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"is-text","leftValue":"={{ $('Parsear Mensaje').item.json.msg_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}},{"id":"matches-stop","leftValue":"={{ ($('Parsear Mensaje').item.json.text_body || '').trim() }}","rightValue":"\\b([Ss][Tt][Oo][Pp]|[Bb][Aa][Jj][Aa]|[Cc][Aa][Nn][Cc][Ee][Ll][Aa][Rr]|[Uu][Nn][Ss][Uu][Bb][Ss][Cc][Rr][Ii][Bb][Ee]|[Nn][Oo]\\s*[Mm][AaÁá][Ss]|[Pp][Aa][Rr][Aa][Rr]|[Dd][Ee][Ss][Uu][Ss][Cc][Rr][Ii][Bb][Ii][Rr])\\b","operator":{"type":"string","operation":"regex","caseSensitive":false}}],"combinator":"and"},"options":{}},"id":"if-es-stop-v1","name":"Es STOP?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,760]},{"parameters":{"method":"POST","url":"https://facturaia.agentesia.world/api/internal/cobros-stop","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ ({\n  \"_marker\": \"cobros_stop_marker_v1\",\n  \"from_e164\": \"+\" + ($('Parsear Mensaje').item.json.normalized_phone || ''),\n  \"raw_text\": ($('Parsear Mensaje').item.json.text_body || '').slice(0, 200),\n  \"source\": \"whatsapp_stop\"\n}) }}","options":{"response":{"response":{"neverError":true}},"timeout":10000},"authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth"},"id":"http-notif-stop-v1","name":"Notificar STOP a FacturaIA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,584],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').item.json.phone_number_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ ({\n  \"messaging_product\": \"whatsapp\",\n  \"to\": $('Parsear Mensaje').item.json.from,\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Confirmado. No recibirás más recordatorios automáticos. Si fue un error, contacta directamente con quien te emitió la factura.\",\n    \"preview_url\": false\n  }\n}) }}","options":{"response":{"response":{"neverError":true}},"timeout":10000},"authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth"},"id":"http-confirm-stop-v1","name":"Confirmar STOP al Cliente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,584],"credentials":{"httpHeaderAuth":{"id":"n8qgNhVuLTCYmP9E","name":"WhatsApp Token TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/chat-session-hash","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $json.normalized_phone }}\"\n}","options":{"timeout":10000}},"id":"http-hash-session-001","name":"Hash Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,424],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/whatsapp/resolve-context","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from_phone\": \"{{ $('Procesar Boton').first().json.normalized_phone }}\"\n}","options":{"timeout":15000}},"id":"http-resolver-org-generar-001","name":"Resolver Org Generar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1384,224],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-convert-1","leftValue":"={{ $json._needs_presupuesto_fetch }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"if-es-convert-presupuesto-001","name":"Es Convert Presupuesto?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4328,-800]},{"parameters":{"method":"POST","url":"https://app.tufacturaia.com/api/internal/voice/presupuesto-detalle","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $json.org_id }}\",\n  \"presupuesto_id\": \"{{ $json.data.presupuesto_id }}\"\n}","options":{"timeout":15000}},"id":"http-fetch-presupuesto-detalle-001","name":"Fetch Presupuesto Detalle","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4528,-880],"credentials":{"httpHeaderAuth":{"id":"w2Y5K33dWtZ58IfV","name":"Service Key TufacturaIA"}}},{"parameters":{"jsCode":"// Combina la response del endpoint presupuesto-detalle (que ya incluye\n// resumen_whatsapp pre-formateado) con el shape que espera 'Totales OK?'\n// downstream.\nconst detail = $input.first().json;\nconst ctxParsear = $('Parsear y Calcular Totales').first().json;\n\nif (!detail.presupuesto) {\n  return [{ json: {\n    error: true,\n    message: 'No encuentro ese presupuesto en tu organizacion. Verifica el numero.',\n    raw_from: ctxParsear.raw_from,\n    phone_number_id: ctxParsear.phone_number_id,\n  }}];\n}\n\nreturn [{ json: {\n  error: false,\n  data: {\n    ...ctxParsear.data,\n    presupuesto_num: detail.presupuesto.num,\n    total_estimado: detail.totales.total,\n    cliente: { nombre: detail.presupuesto.cliente?.nombre || ctxParsear.data.cliente?.nombre || 'Sin nombre' },\n  },\n  resumen: detail.resumen_whatsapp,\n  totales: detail.totales,\n  raw_from: ctxParsear.raw_from,\n  phone_number_id: ctxParsear.phone_number_id,\n}}];"},"id":"code-construir-resumen-convert-001","name":"Construir Resumen Convert","type":"n8n-nodes-base.code","typeVersion":2,"position":[4728,-880]}],"connections":{"Webhook WhatsApp":{"main":[[{"node":"Parsear Mensaje","type":"main","index":0}]]},"Parsear Mensaje":{"main":[[{"node":"Hash Session","type":"main","index":0}]]},"Router Tipo Mensaje":{"main":[[{"node":"Buscar Org Voz","type":"main","index":0}],[{"node":"Obtener URL del Archivo","type":"main","index":0}],[{"node":"Procesar Boton","type":"main","index":0}],[{"node":"Es STOP?","type":"main","index":0}],[{"node":"Enviar Instrucciones de Uso","type":"main","index":0}]]},"Obtener URL del Archivo":{"main":[[{"node":"Descargar Archivo","type":"main","index":0}]]},"Descargar Archivo":{"main":[[{"node":"Preparar Datos Ingesta","type":"main","index":0}]]},"Preparar Datos Ingesta":{"main":[[{"node":"Org Encontrada?","type":"main","index":0}]]},"Org Encontrada?":{"main":[[{"node":"Disparar OCR","type":"main","index":0}],[{"node":"Responder No Registrado OCR","type":"main","index":0}]]},"Disparar OCR":{"main":[[{"node":"Confirmar Recepcion WhatsApp","type":"main","index":0}]]},"Buscar Org Voz":{"main":[[{"node":"Org Tiene Voz?","type":"main","index":0}]]},"Org Tiene Voz?":{"main":[[{"node":"Check Feature Voz","type":"main","index":0}],[{"node":"Responder No Registrado Voz","type":"main","index":0}]]},"Obtener URL Audio":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Transcribir Whisper","type":"main","index":0}]]},"Transcribir Whisper":{"main":[[{"node":"Parsear Transcripcion","type":"main","index":0}],[{"node":"Responder Audio No Reconocido","type":"main","index":0}]]},"Parsear Transcripcion":{"main":[[{"node":"Tiene Texto?","type":"main","index":0}]]},"Tiene Texto?":{"main":[[{"node":"Preparar Input Agente","type":"main","index":0}],[{"node":"Responder Audio No Reconocido","type":"main","index":0}]]},"Preparar Input Agente":{"main":[[{"node":"Agente Facturador","type":"main","index":0}]]},"Agente Facturador":{"main":[[{"node":"Parsear y Calcular Totales","type":"main","index":0}]]},"Parsear y Calcular Totales":{"main":[[{"node":"Es Convert Presupuesto?","type":"main","index":0}]]},"Totales OK?":{"main":[[{"node":"Enviar Resumen WhatsApp","type":"main","index":0}],[{"node":"Responder Error Agente","type":"main","index":0}]]},"Enviar Resumen WhatsApp":{"main":[[{"node":"Enviar Botones WhatsApp","type":"main","index":0}]]},"Check Sesion Voz Activa":{"main":[[{"node":"Tiene Sesion?","type":"main","index":0}]]},"Tiene Sesion?":{"main":[[{"node":"Preparar Input Correccion","type":"main","index":0}],[{"node":"Buscar Org Texto","type":"main","index":0}]]},"Preparar Input Correccion":{"main":[[{"node":"Preparar Input Agente","type":"main","index":0}]]},"Procesar Boton":{"main":[[{"node":"Router Intencion","type":"main","index":0}]]},"Router Intencion":{"main":[[{"node":"Leer Ultimo JSON Agente","type":"main","index":0}],[{"node":"Limpiar Sesion Cancelar","type":"main","index":0}],[{"node":"Responder Corregir","type":"main","index":0}]]},"Leer Ultimo JSON Agente":{"main":[[{"node":"Resolver Org Generar","type":"main","index":0}]]},"Preparar Datos Generar":{"main":[[{"node":"Datos OK?","type":"main","index":0}]]},"Datos OK?":{"main":[[{"node":"Es Conversion?","type":"main","index":0}],[{"node":"Responder Error Datos","type":"main","index":0}]]},"Generar Factura":{"main":[[{"node":"Generacion OK?","type":"main","index":0}],[{"node":"Responder Error Generacion","type":"main","index":0}]]},"Generacion OK?":{"main":[[{"node":"Tiene PDF?","type":"main","index":0}],[{"node":"Responder Error Generacion","type":"main","index":0}]]},"Tiene PDF?":{"main":[[{"node":"Descargar PDF","type":"main","index":0}],[{"node":"Enviar Confirmacion sin PDF","type":"main","index":0}]]},"Descargar PDF":{"main":[[{"node":"Subir PDF a WhatsApp Media","type":"main","index":0}],[{"node":"Enviar Confirmacion sin PDF","type":"main","index":0}]]},"Subir PDF a WhatsApp Media":{"main":[[{"node":"Enviar Documento PDF","type":"main","index":0}],[{"node":"Enviar Confirmacion sin PDF","type":"main","index":0}]]},"Enviar Documento PDF":{"main":[[{"node":"Limpiar Sesion Confirmar","type":"main","index":0}]]},"Enviar Confirmacion sin PDF":{"main":[[{"node":"Limpiar Sesion Texto","type":"main","index":0}]]},"Limpiar Sesion Cancelar":{"main":[[{"node":"Responder Cancelar","type":"main","index":0}]]},"Check Feature Voz":{"main":[[{"node":"Tiene Feature Voz?","type":"main","index":0}]]},"Tiene Feature Voz?":{"main":[[{"node":"Obtener URL Audio","type":"main","index":0}],[{"node":"Responder No Tiene Feature","type":"main","index":0}]]},"OpenAI GPT-4o":{"ai_languageModel":[[{"node":"Agente Facturador","type":"ai_languageModel","index":0}]]},"Memoria Postgres":{"ai_memory":[[{"node":"Agente Facturador","type":"ai_memory","index":0}]]},"consultar_catalogo":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"consultar_clientes":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"Buscar Org Texto":{"main":[[{"node":"Tiene Org Texto?","type":"main","index":0}]]},"Tiene Org Texto?":{"main":[[{"node":"Preparar Texto Agente","type":"main","index":0}],[{"node":"Enviar Instrucciones de Uso","type":"main","index":0}]]},"Preparar Texto Agente":{"main":[[{"node":"Preparar Input Agente","type":"main","index":0}]]},"consultar_facturas":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"consultar_presupuestos":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"Es Conversion?":{"main":[[{"node":"Convertir Presupuesto","type":"main","index":0}],[{"node":"Generar Factura","type":"main","index":0}]]},"Convertir Presupuesto":{"main":[[{"node":"Generacion OK?","type":"main","index":0}]]},"Es STOP?":{"main":[[{"node":"Notificar STOP a FacturaIA","type":"main","index":0}],[{"node":"Check Sesion Voz Activa","type":"main","index":0}]]},"Notificar STOP a FacturaIA":{"main":[[{"node":"Confirmar STOP al Cliente","type":"main","index":0}]]},"Hash Session":{"main":[[{"node":"Router Tipo Mensaje","type":"main","index":0}]]},"Resolver Org Generar":{"main":[[{"node":"Preparar Datos Generar","type":"main","index":0}]]},"Es Convert Presupuesto?":{"main":[[{"node":"Fetch Presupuesto Detalle","type":"main","index":0}],[{"node":"Totales OK?","type":"main","index":0}]]},"Fetch Presupuesto Detalle":{"main":[[{"node":"Construir Resumen Convert","type":"main","index":0}]]},"Construir Resumen Convert":{"main":[[{"node":"Totales OK?","type":"main","index":0}]]}},"authors":"Manuel del Monte","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-16T11:05:35.455Z","id":17,"workflowId":"WcOl1yKsROdYircp","versionId":"111d2924-758a-4346-b6e4-3eed250dc856","event":"activated","userId":"daa19c1f-b333-422c-b538-c9376a131006"}]}}