knowledge/projects/agentesia/n8n-backups/simarro/2LqwDgLecHwjgIQl-lanzador-pre-match-20260611.json
{"updatedAt":"2026-06-11T07:41:28.032Z","createdAt":"2026-06-11T07:41:28.032Z","id":"2LqwDgLecHwjgIQl","name":"Llamadas_outbound (reactivacion)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 10 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-380,-100],"id":"schedule","name":"Schedule L-V 10:30"},{"parameters":{"httpMethod":"POST","path":"outbound_run","responseMode":"onReceived","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-380,100],"id":"webhook-manual","name":"Webhook manual","webhookId":"outbound-run-simarro"},{"parameters":{"url":"https://simarro.kommo.com/api/v4/leads?filter[statuses][0][pipeline_id]=13546071&filter[statuses][0][status_id]=106971083&filter[statuses][1][pipeline_id]=13652231&filter[statuses][1][status_id]=105358051&filter[statuses][2][pipeline_id]=13652235&filter[statuses][2][status_id]=105358071&filter[statuses][3][pipeline_id]=13546071&filter[statuses][3][status_id]=107269819&filter[statuses][4][pipeline_id]=13546071&filter[statuses][4][status_id]=107269815&with=contacts&limit=250","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-140,0],"id":"get-leads-kommo","name":"Get Leads Kommo","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"jsCode":"\n// Filtra leads elegibles para llamada de reactivación.\n// Reglas: consentimiento outbound (CF 1376604) marcado + intentos (CF 1376606) < 3\n//         + >= 10 días desde el último intento (CF 1376608) o, si nunca se llamó,\n//           desde la última actividad del lead (updated_at).\n// El schedule corre L-V => lo vencido en sábado/domingo se llama el lunes (sin lógica extra).\n// TODO Lista Robinson: documentado y pospuesto por decisión de Manu 2026-06-10 — antes de\n// escalar volumen, cruzar los teléfonos contra la Lista Robinson (asesoría/servicio externo).\nconst CF_CONSENT = 1376604, CF_INTENTOS = 1376606, CF_ULTIMO = 1376608;\nconst CF_VIV_DIR = 1373349, CF_PROP_REF = 1373305;\nconst DIAS_MIN = 10, MAX_INTENTOS = 3;\n\nlet data = $json.data ?? $json;\nif (typeof data === 'string') { try { data = JSON.parse(data); } catch(e) { data = {}; } }\nconst leads = data?._embedded?.leads ?? [];\n\nconst cf = (lead, id) => {\n  const f = (lead.custom_fields_values || []).find(x => x.field_id === id);\n  return f?.values?.[0]?.value;\n};\nconst truthy = v => v === true || v === 'true' || v === 1 || v === '1';\nconst toMs = v => {\n  if (v == null || v === '') return null;\n  if (typeof v === 'number') return v * 1000;\n  const n = Number(v);\n  if (!isNaN(n) && n > 1000000000) return n * 1000;\n  const d = Date.parse(v);\n  return isNaN(d) ? null : d;\n};\n\nconst now = Date.now();\nconst out = [];\nfor (const lead of leads) {\n  if (!truthy(cf(lead, CF_CONSENT))) continue;                 // sin consentimiento => fuera\n  const intentos = parseInt(cf(lead, CF_INTENTOS) || '0', 10) || 0;\n  if (intentos >= MAX_INTENTOS) continue;                       // cap de intentos\n  const ultimoMs = toMs(cf(lead, CF_ULTIMO));\n  const refMs = ultimoMs ?? (lead.updated_at ? lead.updated_at * 1000 : null);\n  if (refMs == null) continue;\n  const dias = Math.floor((now - refMs) / 86400000);\n  if (dias < DIAS_MIN) continue;                                // aún no toca\n\n  const contacts = lead._embedded?.contacts || [];\n  const main = contacts.find(c => c.is_main) || contacts[0];\n  if (!main?.id) continue;                                      // sin contacto => no se puede llamar\n\n  out.push({ json: {\n    lead_id: lead.id,\n    lead_name: lead.name || '',\n    contact_id: main.id,\n    attempt: intentos + 1,\n    dias_inactivo: dias,\n    vivienda_dir: String(cf(lead, CF_VIV_DIR) || ''),\n    vivienda_idealista_id: String(cf(lead, CF_PROP_REF) || ''),\n  }});\n}\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,0],"id":"filtrar","name":"Filtrar elegibles"},{"parameters":{"url":"=https://simarro.kommo.com/api/v4/contacts/{{ $json.contact_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,0],"id":"get-contact","name":"Get Contact","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"jsCode":"\n// Cruza el contacto (item actual) con su lead (Filtrar elegibles, mismo índice).\n// Normaliza el teléfono a E.164 (+34...) y descarta leads sin móvil llamable.\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  let c = items[i].json.data ?? items[i].json;\n  if (typeof c === 'string') { try { c = JSON.parse(c); } catch(e) { c = {}; } }\n  const lead = $('Filtrar elegibles').all()[i].json;\n\n  const phoneField = (c.custom_fields_values || []).find(f => f.field_code === 'PHONE');\n  let raw = String(phoneField?.values?.[0]?.value || '').replace(/[\\s\\-().]/g, '');\n  if (!raw) continue;\n  if (raw.startsWith('00')) raw = '+' + raw.slice(2);\n  if (!raw.startsWith('+')) {\n    if (/^34\\d{9}$/.test(raw)) raw = '+' + raw;\n    else if (/^\\d{9}$/.test(raw)) raw = '+34' + raw;\n    else continue; // formato no reconocido => no llamar\n  }\n  if (!/^\\+\\d{10,15}$/.test(raw)) continue;\n\n  const nombre = (c.first_name || c.name || lead.lead_name || '').trim().split(/\\s+/)[0] || 'cliente';\n\n  out.push({ json: { ...lead, phone: raw, nombre_lead: nombre } });\n}\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,0],"id":"preparar","name":"Preparar llamada"},{"parameters":{"options":{},"batchSize":1},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,0],"id":"loop","name":"Loop"},{"parameters":{"method":"POST","url":"https://api.retellai.com/v2/create-phone-call","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ from_number: \"+34919932852\", to_number: $json.phone, override_agent_id: \"agent_042b9fbc990838ae4117315440\", retell_llm_dynamic_variables: { nombre_lead: $json.nombre_lead, dias_inactivo: String($json.dias_inactivo), telefono_lead: $json.phone, vivienda_dir: $json.vivienda_dir, vivienda_idealista_id: $json.vivienda_idealista_id }, metadata: { lead_id: $json.lead_id, attempt: $json.attempt, campaign: \"reactivacion_inactivos\" } }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,100],"id":"lanzar-llamada-retell","name":"Lanzar llamada Retell","credentials":{"httpHeaderAuth":{"id":"V67lij4FrDxKqrlQ","name":"Retell API Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://supabase-simarro.agentesia.madrid/rest/v1/rpc/outbound_register_call","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p: { call_id: $json.call_id || \"\", lead_id: $(\"Loop\").item.json.lead_id, phone: $(\"Loop\").item.json.phone, attempt: $(\"Loop\").item.json.attempt, status: $json.call_id ? \"initiated\" : \"error_launch\", error: $json.call_id ? \"\" : JSON.stringify($json).slice(0, 500) } }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,100],"id":"rpc-register_call","name":"RPC register_call","credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('Lanzar llamada Retell').item.json.call_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1420,100],"id":"if-llamada-ok","name":"IF llamada lanzada"},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify([{ id: $(\"Loop\").item.json.lead_id, custom_fields_values: [ { field_id: 1376606, values: [{ value: $(\"Loop\").item.json.attempt }] }, { field_id: 1376608, values: [{ value: Math.floor(Date.now()/1000) }] } ] }]) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,0],"id":"patch-kommo-intento","name":"PATCH Kommo intento","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"amount":1.2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1860,100],"id":"wait","name":"Wait 1.2s","webhookId":"wait-outbound-simarro"}],"connections":{"Schedule L-V 10:30":{"main":[[{"node":"Get Leads Kommo","type":"main","index":0}]]},"Webhook manual":{"main":[[{"node":"Get Leads Kommo","type":"main","index":0}]]},"Get Leads Kommo":{"main":[[{"node":"Filtrar elegibles","type":"main","index":0}]]},"Filtrar elegibles":{"main":[[{"node":"Get Contact","type":"main","index":0}]]},"Get Contact":{"main":[[{"node":"Preparar llamada","type":"main","index":0}]]},"Preparar llamada":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Loop":{"main":[[],[{"node":"Lanzar llamada Retell","type":"main","index":0}]]},"Lanzar llamada Retell":{"main":[[{"node":"RPC register_call","type":"main","index":0}]]},"RPC register_call":{"main":[[{"node":"IF llamada lanzada","type":"main","index":0}]]},"IF llamada lanzada":{"main":[[{"node":"PATCH Kommo intento","type":"main","index":0}],[{"node":"Wait 1.2s","type":"main","index":0}]]},"PATCH Kommo intento":{"main":[[{"node":"Wait 1.2s","type":"main","index":0}]]},"Wait 1.2s":{"main":[[{"node":"Loop","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid"},"staticData":null,"meta":null,"pinData":null,"versionId":"f794c4e7-95c3-43a6-8e44-025e358e141e","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-06-11T07:41:28.032Z","createdAt":"2026-06-11T07:41:28.032Z","role":"workflow:owner","workflowId":"2LqwDgLecHwjgIQl","projectId":"KzDhDvn7gXhn9Jke","project":{"updatedAt":"2026-04-14T19:24:58.568Z","createdAt":"2026-04-14T17:51:20.172Z","id":"KzDhDvn7gXhn9Jke","name":"agentesia madrid <info@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"e11c9a81-3802-42a8-8b75-5d3028942946"}}],"tags":[],"activeVersion":null}