knowledge/projects/agentesia/n8n-backups/simarro/5NRXALN9lBVE9fTs-buscar-zonas-FINAL-20260624.json
{"name": "Buscar_viviendas_catalogo", "nodes": [{"id": "d8af0356-25e1-4345-b9a5-e7e0347e7bdf", "name": "Start", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [0, 0], "parameters": {"inputSource": "passthrough"}}, {"parameters": {"jsCode": "\nconst input = $json;\nconst idealistaId = (input.idealista_id || '').toString().trim();\nlet addrContains = (input.address_contains || '').toString().trim();\nconst query = (input.query || '').toString().trim();\nlet municipality = (input.municipality || '').toString().trim();\nconst maxPrice = input.max_price ? Number(input.max_price) : null;\nconst minPrice = input.min_price ? Number(input.min_price) : null;\nconst minRooms = input.min_rooms ? Number(input.min_rooms) : null;\nconst minSize  = input.min_size  ? Number(input.min_size)  : null;\nconst matchCount = Number(input.match_count) || 5;\nconst includeNonResidential = input.include_non_residential === true || input.include_non_residential === 'true';\n\n// ASR normalization for Spanish municipality/barrio names\nconst ZONE_FIX = [\n  [/^(las\\s+rosas|las\\s+rozas(\\s+de\\s+madrid)?|lasrozas|las\\s+roza)$/i, 'Las Rozas'],\n  [/^(bajada\\s+onda|majada\\s+onda|majada\\s+honda|majadana|bajadana|majadaonda|mahabonda|majab[oó]n|mahab[oó]n|maja\\s+honda|majadaona)$/i, 'Majadahonda'],\n  [/^(pozuelo(\\s+de\\s+alarc[oó]n)?|pozue[ñn]o)$/i, 'Pozuelo'],\n  [/^(boadilla(\\s+del\\s+monte)?)$/i, 'Boadilla del Monte'],\n  [/^(villaviciosa(\\s+de\\s+od[oó]n)?)$/i, 'Villaviciosa de Odón'],\n  [/^(san\\s+lorenzo(\\s+de\\s+el\\s+escorial)?)$/i, 'San Lorenzo de El Escorial'],\n  [/^(rejas?|reposo|rejad[ao])$/i, 'Rejas'],\n  [/^(canillejas?)$/i, 'Canillejas'],\n  [/^(chamart[ií]n)$/i, 'Chamartín'],\n  [/^(chamber[ií])$/i, 'Chamberí'],\n  [/^(salamanca|barrio\\s+de\\s+salamanca)$/i, 'Salamanca'],\n  [/^(retiro)$/i, 'Retiro'],\n  [/^(arganzuela)$/i, 'Arganzuela'],\n  [/^(latina)$/i, 'Latina'],\n  [/^(carabanchel)$/i, 'Carabanchel'],\n  [/^(usera)$/i, 'Usera'],\n  [/^(vallecas|puente\\s+de\\s+vallecas|villa\\s+de\\s+vallecas)$/i, 'Vallecas'],\n  [/^(moratalaz)$/i, 'Moratalaz'],\n  [/^(ciudad\\s+lineal)$/i, 'Ciudad Lineal'],\n  [/^(hortaleza)$/i, 'Hortaleza'],\n  [/^(barajas)$/i, 'Barajas'],\n  [/^(san\\s+blas|sanblas)$/i, 'San Blas'],\n  [/^(tetu[aá]n)$/i, 'Tetuán'],\n  [/^(fuencarral|fuencarral-?el\\s+pardo|fuencarral\\s+el\\s+pardo)$/i, 'Fuencarral'],\n  [/^(moncloa|moncloa-?aravaca)$/i, 'Moncloa'],\n  [/^(centro)$/i, 'Centro'],\n];\nfunction fixZone(s) {\n  if (!s) return s;\n  let t = s.trim();\n  // Try full match first (handles \"las rosas\", \"las rozas de madrid\")\n  for (const [re, val] of ZONE_FIX) if (re.test(t)) return val;\n  // Strip trailing comma + city suffix or extra noise\n  t = t.replace(/[,;].*$/, '').trim();\n  for (const [re, val] of ZONE_FIX) if (re.test(t)) return val;\n  // Strip leading articles/prepositions ASR adds, retry\n  t = t.replace(/^(en\\s+la\\s+|en\\s+el\\s+|en\\s+los\\s+|en\\s+las\\s+|en\\s+|la\\s+|el\\s+|los\\s+|las\\s+|del\\s+|de\\s+la\\s+|de\\s+|por\\s+la\\s+|por\\s+el\\s+|por\\s+|barrio\\s+de\\s+)/i, '').trim();\n  for (const [re, val] of ZONE_FIX) if (re.test(t)) return val;\n  return t;\n}\naddrContains = fixZone(addrContains);\nmunicipality = fixZone(municipality);\n\nlet derivedId = idealistaId;\nif (!derivedId && /^\\d{6,}$/.test(query)) derivedId = query;\nif (!derivedId && /idealista\\.com\\/inmueble\\/(\\d+)/.test(query)) {\n  derivedId = query.match(/idealista\\.com\\/inmueble\\/(\\d+)/)[1];\n}\n\nconst txt = (query + ' ' + addrContains).toLowerCase();\nconst userAskedNonResi = /\\b(local|garaje|trastero|terreno|parcela|nave)\\b/.test(txt);\nconst applyResiFilter = !includeNonResidential && !userAskedNonResi && !derivedId;\n\nconst GENERIC_RE = /^(vivienda|viviendas|piso|pisos|casa|casas|chalet|chalets|atico|aticos|ático|áticos|duplex|dúplex|adosado|adosados|pareado|pareados|inmueble|inmuebles|propiedad|propiedades|algo|nada|lo\\s+que\\s+(tengas|haya|sea))\\.?$/i;\nconst isGenericQuery = !!query && GENERIC_RE.test(query.trim());\nconst hasAnyFilter = addrContains || maxPrice || minPrice || minRooms || minSize || municipality;\n\n// Try to extract a known zone word from the query — if any token matches our zone dictionary,\n// promote it to address_contains and prefer byFilter over semantic.\nfunction findZoneInQuery(q) {\n  if (!q) return null;\n  const tokens = q.toLowerCase().split(/[\\s,;]+/).filter(Boolean);\n  // Try 1-3 token windows\n  for (let len = 3; len >= 1; len--) {\n    for (let i = 0; i + len <= tokens.length; i++) {\n      const window = tokens.slice(i, i+len).join(' ');\n      for (const [re, val] of ZONE_FIX) if (re.test(window)) return val;\n    }\n  }\n  return null;\n}\nif (!addrContains && !municipality && query && !derivedId) {\n  const zoneFromQuery = findZoneInQuery(query);\n  if (zoneFromQuery) {\n    addrContains = zoneFromQuery;\n  }\n}\nconst hasAnyFilter2 = addrContains || maxPrice || minPrice || minRooms || minSize || municipality;\n\nlet path;\nif (derivedId) {\n  path = 'byId';\n} else if (isGenericQuery && !hasAnyFilter2) {\n  path = 'browse';\n} else if (!query && !hasAnyFilter2) {\n  path = 'empty';\n} else {\n  const wordCount = query.split(/\\s+/).filter(w => w.match(/[a-záéíóúüñ]/i)).length;\n  // Prefer byFilter when we have a zone (address_contains or municipality) — semantic only for genuinely long descriptive queries with NO zone\n  if (hasAnyFilter2 && wordCount < 6) path = 'byFilter';\n  else if (wordCount >= 4) path = 'semantic';\n  else path = 'byFilter';\n}\n\nfunction resiClause(parts) {\n  if (applyResiFilter) {\n    parts.push(`address=not.ilike.Local*`);\n    parts.push(`address=not.ilike.Garaje*`);\n    parts.push(`address=not.ilike.Trastero*`);\n    parts.push(`address=not.ilike.Terreno*`);\n    parts.push(`address=not.ilike.Nave*`);\n    parts.push(`address=not.ilike.Parcela*`);\n  }\n}\n\nlet pgrestQuery = '';\nif (path === 'byId') {\n  pgrestQuery = `?idealista_id=eq.${encodeURIComponent(derivedId)}&select=*&limit=1`;\n} else if (path === 'browse') {\n  const parts = ['select=*'];\n  resiClause(parts);\n  parts.push(`limit=${Math.max(matchCount, 25)}`);\n  pgrestQuery = '?' + parts.join('&');\n} else if (path === 'byFilter') {\n  const parts = ['select=*'];\n  const zoneFrag = addrContains || municipality || (query && !derivedId ? fixZone(query) : '');\n  if (zoneFrag) {\n    const enc = encodeURIComponent(zoneFrag);\n    parts.push(`or=(address.ilike.*${enc}*,municipality.ilike.*${enc}*)`);\n  }\n  if (maxPrice) parts.push(`price=lte.${maxPrice}`);\n  if (minPrice) parts.push(`price=gte.${minPrice}`);\n  if (minRooms) parts.push(`rooms=gte.${minRooms}`);\n  if (minSize)  parts.push(`size_m2=gte.${minSize}`);\n  resiClause(parts);\n  parts.push(`limit=${matchCount}`);\n  pgrestQuery = '?' + parts.join('&');\n}\n\nreturn [{ json: {\n  path, pgrestQuery, derivedId, applyResiFilter,\n  query, municipality: municipality || null, address_contains: addrContains || null,\n  max_price: maxPrice, min_price: minPrice, min_rooms: minRooms, min_size: minSize,\n  match_count: matchCount, exclude_ids: input.exclude_ids || [],\n}}];\n"}, "id": "id-router", "name": "Router", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 0]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c1", "leftValue": "={{ $json.path }}", "rightValue": "semantic", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "looseTypeValidation": true, "options": {}}, "id": "id-pathswitch", "name": "Path Switch", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [448, 0]}, {"id": "71c035ab-4e2e-4654-b26a-18ff67a10087", "name": "Embed Query", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [672, -120], "parameters": {"method": "POST", "url": "https://api.openai.com/v1/embeddings", "authentication": "predefinedCredentialType", "nodeCredentialType": "openAiApi", "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ model: \"text-embedding-3-small\", input: ($json.query || \"\") }) }}"}, "credentials": {"openAiApi": {"id": "h2VznKpN6CYCnDxr", "name": "OpenAI - Simarro"}}, "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": true}, {"id": "10587a76-7f1a-4285-8a0b-e6cff3ce40db", "name": "Match Properties RPC", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [896, -120], "parameters": {"method": "POST", "url": "http://simarro-pre0225supabase-f93ff3-185-47-13-169.traefik.me/rest/v1/rpc/match_properties", "authentication": "predefinedCredentialType", "nodeCredentialType": "supabaseApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={{ JSON.stringify({\n        query_embedding: $json.data[0].embedding,\n        filter_municipality: $('Router').first().json.municipality || null,\n        filter_max_price: $('Router').first().json.max_price || null,\n        filter_min_price: $('Router').first().json.min_price || null,\n        filter_min_rooms: $('Router').first().json.min_rooms || null,\n        filter_min_size: $('Router').first().json.min_size || null,\n        match_count: $('Router').first().json.match_count || 5,\n        exclude_ids: (typeof $('Router').first().json.exclude_ids === 'string' ? JSON.parse($('Router').first().json.exclude_ids || '[]') : ($('Router').first().json.exclude_ids || []))\n      }) }}"}, "credentials": {"supabaseApi": {"id": "Wm7JL1tsxiWyElqt", "name": "Supabase Simarro"}}, "alwaysOutputData": true, "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000, "continueOnFail": true}, {"parameters": {"method": "GET", "url": "=http://simarro-pre0225supabase-f93ff3-185-47-13-169.traefik.me/rest/v1/properties{{ $json.pgrestQuery }}", "authentication": "predefinedCredentialType", "nodeCredentialType": "supabaseApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Accept", "value": "application/json"}]}, "options": {}}, "id": "id-direct", "name": "Direct PostgREST", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [672, 120], "credentials": {"supabaseApi": {"id": "Wm7JL1tsxiWyElqt", "name": "Supabase Simarro"}}, "alwaysOutputData": true}, {"id": "b41f81c2-7097-4e0b-ae52-82cb42d35043", "name": "Format For Agent", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 0], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "try {\n  const routerOut = $('Router').first().json;\n  if (routerOut && routerOut.path === 'empty') {\n    return [{ json: { found: 0, message: 'Necesito al menos un criterio (zona, presupuesto, características o referencia). ¿Qué buscas?', results: [], catalogo_compacto: [], zones: [] } }];\n  }\n} catch (e) {}\n\nconst items = $input.all();\nconst rows = [];\nfor (const i of items) {\n  if (Array.isArray(i.json)) rows.push(...i.json);\n  else if (i.json && (i.json.idealista_id || i.json.id || i.json.address)) rows.push(i.json);\n}\n\nlet excludeIds = [];\ntry {\n  const ex = $('Router').first().json.exclude_ids;\n  excludeIds = Array.isArray(ex) ? ex : (typeof ex === 'string' ? JSON.parse(ex || '[]') : []);\n} catch (e) { excludeIds = []; }\n\nlet applyResi = false;\ntry { applyResi = !!$('Router').first().json.applyResiFilter; } catch (e) {}\n\nconst filtered = rows.filter(r => {\n  if (excludeIds.includes(String(r.idealista_id))) return false;\n  if (applyResi && r.address) {\n    if (/^(local|garaje|trastero|terreno|nave|parcela|edificio)\\b/i.test(r.address)) return false;\n  }\n  return true;\n});\n\nif (!filtered.length) {\n  return [{ json: { found: 0, message: 'No se encontraron viviendas que coincidan con esos criterios.', results: [], catalogo_compacto: [], zones: [] } }];\n}\n\nconst formatted = filtered.map(r => ({\n  idealista_id: r.idealista_id,\n  url: r.url,\n  precio: r.price,\n  direccion: r.address,\n  municipio: r.municipality,\n  habitaciones: r.rooms,\n  banos: r.bathrooms,\n  m2: r.size_m2,\n  thumbnail: r.thumbnail_hosted || (r.idealista_id ? 'http://simarro-pre0225supabase-f93ff3-185-47-13-169.traefik.me/storage/v1/object/public/thumbnails/' + r.idealista_id + '.jpg' : r.thumbnail),\n  similitud: r.similarity ? Math.round(r.similarity * 100) / 100 : null,\n  descripcion: (r.description || '').slice(0, 300),\n  descripcion_corta: (r.description || '').slice(0, 100),\n}));\n\nconst zoneCounts = {};\nformatted.forEach(p => { const m = p.municipio || 'sin zona'; zoneCounts[m] = (zoneCounts[m] || 0) + 1; });\nconst zones = Object.entries(zoneCounts).map(([m, c]) => ({ municipio: m, count: c }));\n\nconst compacto = formatted.map(p => ({\n  id: p.idealista_id,\n  zona: p.municipio,\n  direccion: p.direccion,\n  precio: p.precio,\n  habs: p.habitaciones,\n  m2: p.m2,\n  banos: p.banos,\n  desc: p.descripcion_corta,\n}));\n\nconst summary = formatted.map((p, i) =>\n  `${i+1}. ${p.direccion || 'Dirección desconocida'} (${p.municipio || '?'}) — ${p.precio ? p.precio.toLocaleString('es-ES') + '€' : 'precio ?'} · ${p.habitaciones || '?'}h · ${p.m2 || '?'}m² · ID ${p.idealista_id}`\n).join('\\n');\n\nreturn [{ json: { found: formatted.length, message: summary, results: formatted, catalogo_compacto: compacto, zones } }];\n"}, "alwaysOutputData": true, "onError": "continueRegularOutput"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "typeValidation": "loose", "version": 2}, "conditions": [{"id": "1afd4c18-6551-48b3-9afd-7750e3f91c90", "leftValue": "={{ $('Format For Agent').item.json.found }}", "rightValue": 1, "operator": {"type": "number", "operation": "equals"}}, {"id": "bb2799d0-7b82-4d4c-93de-1038709c7f58", "leftValue": "={{ $('Start').item.json.Lead_id }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}], "combinator": "and"}, "options": {}}, "id": "02877a3f-854c-452a-b8aa-856d0c1258c1", "name": "¿Vivienda única?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1340, 0]}, {"parameters": {"authentication": "longLivedToken", "resource": "leads", "operation": "updateLeads", "json": true, "jsonString": "=[{ \"id\": {{ $('Start').item.json.Lead_id }}, \"custom_fields_values\": [ { \"field_id\": 1373305, \"values\": [{ \"value\": {{ JSON.stringify(String($('Format For Agent').item.json.results[0].idealista_id || '')) }} }] }, { \"field_id\": 1373349, \"values\": [{ \"value\": {{ JSON.stringify(String($('Format For Agent').item.json.results[0].direccion || $('Format For Agent').item.json.results[0].address || '')) }} }] }, { \"field_id\": 1373357, \"values\": [{ \"value\": {{ JSON.stringify(String($('Format For Agent').item.json.results[0].url || '')) }} }] } ] }]"}, "id": "9a371c1a-711a-430c-8f4e-442973fb2b58", "name": "Persistir idealista lead", "type": "n8n-nodes-kommo.kommo", "typeVersion": 1, "position": [1560, -60], "credentials": {"kommoLongLivedApi": {"id": "xPvEqRp6NQwORUXi", "name": "Kommo Simarro"}}, "continueOnFail": true}, {"parameters": {"jsCode": "return $('Format For Agent').all();"}, "id": "9c747f21-66ec-46a4-a652-58bc8ab7728f", "name": "Return búsqueda", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1780, 0]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "typeValidation": "loose", "version": 2}, "conditions": [{"leftValue": "={{ $json.found }}", "rightValue": 0, "operator": {"type": "number", "operation": "equals", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "c0c0c0c0-0000-4000-8000-000000000001", "name": "¿found 0?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [900, -40]}, {"parameters": {"method": "GET", "url": "http://simarro-pre0225supabase-f93ff3-185-47-13-169.traefik.me/rest/v1/properties?select=municipality,price,rooms,size_m2,address&status=eq.active&limit=200", "authentication": "predefinedCredentialType", "nodeCredentialType": "supabaseApi", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Accept", "value": "application/json"}]}, "options": {}}, "id": "c0c0c0c0-0000-4000-8000-000000000002", "name": "Get Catálogo", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1120, -160], "credentials": {"supabaseApi": {"id": "Wm7JL1tsxiWyElqt", "name": "Supabase Simarro"}}, "onError": "continueRegularOutput", "alwaysOutputData": true}, {"parameters": {"jsCode": "const r = $('Format For Agent').first().json;\nlet ro={}; try{ ro=$('Router').first().json||{}; }catch(e){}\nif (ro.path === 'empty') return [{ json: r }];\nconst CLUSTER=new Set(['pozuelo','pozuelo de alarcon','majadahonda','las rozas','las rozas de madrid','boadilla del monte','villaviciosa de odon','madrid']);\nconst norm=s=>(s||'').toString().toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').trim();\nlet cat=[]; try{ cat=$('Get Catálogo').all().map(i=>i.json).filter(x=>x&&!Array.isArray(x)&&x.municipality); }catch(e){ cat=[]; }\nconst maxP=ro.max_price||null,minP=ro.min_price||null,minR=ro.min_rooms||null,minS=ro.min_size||null,resi=!!ro.applyResiFilter;\nconst asked=ro.address_contains||ro.municipality||null; const counts={};\nfor(const p of cat){ const m=p.municipality;\n  if(asked&&norm(m)===norm(asked))continue;\n  if(resi&&p.address&&/^(local|garaje|trastero|terreno|nave|parcela|edificio)\\b/i.test(p.address))continue;\n  if(maxP&&p.price!=null&&Number(p.price)>maxP)continue;\n  if(minP&&p.price!=null&&Number(p.price)<minP)continue;\n  if(minR&&p.rooms!=null&&Number(p.rooms)<minR)continue;\n  if(minS&&p.size_m2!=null&&Number(p.size_m2)<minS)continue;\n  if(!CLUSTER.has(norm(m)))continue;\n  counts[m]=(counts[m]||0)+1; }\nconst zones=Object.entries(counts).map(([municipio,count])=>({municipio,count})).sort((a,b)=>b.count-a.count);\nconst zt=zones.map(z=>z.municipio).join(', ');\nconst message=zones.length?('No hay nada en esa zona con esos criterios. Donde si hay viviendas que encajan ahora mismo: '+zt+'.'):r.message;\nreturn [{ json: { ...r, message, zones } }];"}, "id": "c0c0c0c0-0000-4000-8000-000000000003", "name": "Build Zones", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1340, -160]}], "connections": {"Start": {"main": [[{"node": "Router", "type": "main", "index": 0}]]}, "Router": {"main": [[{"node": "Path Switch", "type": "main", "index": 0}]]}, "Path Switch": {"main": [[{"node": "Embed Query", "type": "main", "index": 0}], [{"node": "Direct PostgREST", "type": "main", "index": 0}]]}, "Embed Query": {"main": [[{"node": "Match Properties RPC", "type": "main", "index": 0}]]}, "Match Properties RPC": {"main": [[{"node": "Format For Agent", "type": "main", "index": 0}]]}, "Direct PostgREST": {"main": [[{"node": "Format For Agent", "type": "main", "index": 0}]]}, "Format For Agent": {"main": [[{"node": "¿found 0?", "type": "main", "index": 0}]]}, "¿Vivienda única?": {"main": [[{"node": "Persistir idealista lead", "type": "main", "index": 0}], [{"node": "Return búsqueda", "type": "main", "index": 0}]]}, "Persistir idealista lead": {"main": [[{"node": "Return búsqueda", "type": "main", "index": 0}]]}, "¿found 0?": {"main": [[{"node": "Get Catálogo", "type": "main", "index": 0}], [{"node": "¿Vivienda única?", "type": "main", "index": 0}]]}, "Get Catálogo": {"main": [[{"node": "Build Zones", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}