knowledge/projects/agentesia/n8n-backups/simarro/flhsvOskRZiHrcKu-handler-perfil-avanzado-FINAL-20260624.json
{"name": "Retell_outbound_eventos", "nodes": [{"parameters": {"httpMethod": "POST", "path": "retell_outbound_eventos", "responseMode": "onReceived", "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-400, 0], "id": "webhook", "name": "Webhook Retell", "webhookId": "retell-outbound-eventos-simarro"}, {"parameters": {"jsCode": "\n// Solo call_analyzed del agente OUTBOUND. Todo lo demás (call_started/ended,\n// eventos del agente inbound si compartieran webhook) se descarta en silencio.\nconst AGENT_OUT = 'agent_042b9fbc990838ae4117315440';\nconst body = $json.body ?? $json;\nif (body.event !== 'call_analyzed') return [];\nconst call = body.call || {};\nif (call.agent_id !== AGENT_OUT) return [];\n\nconst an = call.call_analysis || {};\nconst custom = an.custom_analysis_data || {};\nconst meta = call.metadata || {};\n\n// Si no hubo conexión real, el resultado lo dicta el disconnect_reason, no el LLM.\nconst NO_PICKUP = ['dial_no_answer', 'dial_busy', 'dial_failed', 'voicemail_reached', 'machine_detected'];\nlet resultado = custom.resultado_llamada || 'sin_conversacion';\nif (NO_PICKUP.includes(call.disconnect_reason)) resultado = 'no_contesta';\n\nconst dur = call.duration_ms != null ? Math.round(call.duration_ms / 1000)\n  : (call.end_timestamp && call.start_timestamp ? Math.round((call.end_timestamp - call.start_timestamp) / 1000) : null);\n\nconst perfil_zona = (custom.perfil_zona || '').toString().trim();\nconst _pmin = Number(custom.perfil_precio_min); const _pmax = Number(custom.perfil_precio_max);\nconst perfil_precio_min = (isFinite(_pmin) && _pmin > 0) ? _pmin : null;\nconst perfil_precio_max = (isFinite(_pmax) && _pmax > 0) ? _pmax : null;\nconst perfil_tipo = (custom.perfil_tipo || 'ninguno').toString().trim().toLowerCase();\nconst perfil_capturado = (custom.perfil_capturado === true || custom.perfil_capturado === 'true');\n\nconst perfil_habitaciones = (()=>{const n=parseInt(custom.perfil_habitaciones);return (isFinite(n)&&n>0)?n:null;})();\nconst perfil_m2 = (()=>{const n=Number(custom.perfil_m2);return (isFinite(n)&&n>0)?n:null;})();\nconst perfil_banos = (()=>{const n=Number(custom.perfil_banos);return (isFinite(n)&&n>0)?n:null;})();\nconst perfil_extras = (custom.perfil_extras||'').toString().trim();\nconst perfil_estado = (custom.perfil_estado||'').toString().trim();\n\nreturn [{ json: {\n  call_id: call.call_id,\n  lead_id: meta.lead_id ?? null,\n  attempt: meta.attempt ?? null,\n  resultado,\n  motivo_no_interes: custom.motivo_no_interes || 'no_aplica',\n  nuevo_contacto_preferido: custom.nuevo_contacto_preferido || 'ninguno',\n  disconnect_reason: call.disconnect_reason || '',\n  duration_s: dur,\n  call_summary: an.call_summary || '',\n  perfil_capturado, perfil_zona, perfil_precio_min, perfil_precio_max, perfil_tipo,\n  perfil_habitaciones, perfil_m2, perfil_banos, perfil_extras, perfil_estado,\n}}];\n"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-180, 0], "id": "filtrar-evento", "name": "Filtrar evento"}, {"parameters": {"method": "POST", "url": "https://supabase-simarro.agentesia.madrid/rest/v1/rpc/outbound_record_result", "authentication": "predefinedCredentialType", "nodeCredentialType": "supabaseApi", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ p: { call_id: $json.call_id, resultado: $json.resultado, motivo_no_interes: $json.motivo_no_interes, disconnect_reason: $json.disconnect_reason, duration_s: $json.duration_s, call_summary: $json.call_summary } }) }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [40, 0], "id": "rpc-record_result", "name": "RPC record_result", "credentials": {"supabaseApi": {"id": "Wm7JL1tsxiWyElqt", "name": "Supabase Simarro"}}, "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "\n// Decide qué hacer en Kommo según el resultado. El RPC ya garantizó idempotencia\n// (si este nodo corre, es la PRIMERA vez que se procesa este call_id).\n//\n// NOTA visita_agendada: NO movemos el lead original a Lead Caliente a propósito —\n// la tool Reservar del flow ya dispara el circuito estándar de confirmación\n// (lead en Lead Caliente + salesbot 87865); mover también este lead duplicaría\n// la plantilla de confirmación con el CF \"Día de visita\" vacío.\nconst ev = $('Filtrar evento').first().json;\nconst ENUM = { visita_agendada: 1027074, no_interesado: 1027076, pide_mas_info: 1027078,\n               derivado_humano: 1027080, sin_conversacion: 1027082, no_contesta: 1027084 };\nconst RAMON = 15113339;\nconst r = ev.resultado;\nconst leadId = Number(ev.lead_id);\nif (!leadId) return []; // sin lead_id en metadata no podemos actualizar Kommo\n\nconst patch = { id: leadId, custom_fields_values: [\n  { field_id: 1376610, values: [{ enum_id: ENUM[r] || ENUM.sin_conversacion }] },\n]};\n\nconst MOTIVO = { ya_compro: 'ya compró', cambio_zona: 'cambió de zona', presupuesto: 'presupuesto',\n                 momento_incorrecto: 'mal momento', otro: 'otro motivo' };\nlet nota = `Llamada IA de reactivación (intento ${ev.attempt ?? '?'}) — resultado: ${r.replace(/_/g, ' ')}.`;\nlet task = null;\n\nif (r === 'no_interesado') {\n  patch.status_id = 143; // Venta Perdido\n  nota += ` Motivo: ${MOTIVO[ev.motivo_no_interes] || 'no indicado'}. Lead cerrado automáticamente.`;\n} else if (r === 'visita_agendada') {\n  nota += ' La visita se gestionó por el circuito estándar de reserva (confirmación WA enviada).';\n} else if (r === 'derivado_humano') {\n  nota += ' El cliente pidió hablar con una persona — se le prometió que le llamamos.';\n  task = { text: `LLAMAR HOY: ${ev.call_summary ? ev.call_summary.slice(0, 200) : 'cliente pidió hablar con una persona en llamada IA de reactivación'}`,\n           hours: 4 };\n} else if (r === 'pide_mas_info') {\n  nota += ' Sigue interesado pero no agendó.';\n  if (ev.nuevo_contacto_preferido && ev.nuevo_contacto_preferido !== 'ninguno')\n    nota += ` Prefiere contacto por: ${ev.nuevo_contacto_preferido.replace(/_/g, ' ')}.`;\n  task = { text: `Seguimiento: lead pidió más info en llamada IA de reactivación. ${ev.call_summary ? ev.call_summary.slice(0, 200) : ''}`.trim(),\n           hours: 24 };\n}\nif (ev.nuevo_contacto_preferido === 'no_contactar') {\n  nota += ' ⚠ Pidió NO ser contactado: desmarcar consentimiento outbound.';\n  patch.custom_fields_values.push({ field_id: 1376604, values: [{ value: false }] });\n}\nif (ev.call_summary && r !== 'no_contesta') nota += `\\n\\nResumen: ${ev.call_summary}`;\nif (ev.duration_s != null) nota += `\\nDuración: ${ev.duration_s}s.`;\n\n\n// ---- Persistencia de perfil de búsqueda (post-call, sin latencia en llamada) ----\nlet _lead = {};\ntry { let d = $('Get lead actual').first().json; d = (d && d.data!==undefined) ? d.data : d; if (typeof d === 'string') d = JSON.parse(d); _lead = (d && d._embedded && Array.isArray(d._embedded.leads) && d._embedded.leads[0]) ? d._embedded.leads[0] : (d || {}); } catch(e) { _lead = {}; }\nconst curStatus = Number(_lead.status_id) || null;\nconst curPipe = Number(_lead.pipeline_id) || null;\nconst POOL = new Set([106971083,105358051,105358071]);\nconst PIPE_POOL = {13546071:106971083, 13652231:105358051, 13652235:105358071};\nconst TIPO_ENUM = {piso:1025940, atico:1025942, duplex:1025944, chalet:1025946, 'local-oficina':1025948};\n\n// enums perfil avanzado\nconst HAB_ENUM={1:1019827,2:1019829,3:1019831,4:1019833};\nfunction habEnum(n){n=parseInt(n)||0;if(n<=0)return null;if(n>=5)return 1019835;return HAB_ENUM[n]||null;}\nconst EXTRA_ENUM={piscina:1025950,terraza:1025952,jardin:1025954,trastero:1025956,garaje:1025958,ascensor:1025960,exterior:1025962,'aire acondicionado':1025964,aire:1025964};\nconst ESTADO_ENUM={'entrar a vivir':1025966,'a reformar':1025968,reformar:1025968,'obra nueva':1025970,'obra':1025970};\nconst _normp=s=>(s||'').toString().toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').trim();\nfunction mapMulti(str,dict){if(!str)return [];return [...new Set(str.split(/[,;]+/).map(x=>dict[_normp(x)]).filter(Boolean))].map(id=>({enum_id:id}));}\nlet trigger_reconcile = false;\nconst persistOk = ev.perfil_capturado === true && !['no_interesado','derivado_humano','visita_agendada'].includes(r);\nif (persistOk) {\n  if (ev.perfil_zona) patch.custom_fields_values.push({ field_id: 1373285, values: [{ value: ev.perfil_zona }] });\n  if (ev.perfil_precio_min) patch.custom_fields_values.push({ field_id: 1376044, values: [{ value: ev.perfil_precio_min }] });\n  if (ev.perfil_precio_max) patch.custom_fields_values.push({ field_id: 1376040, values: [{ value: ev.perfil_precio_max }] });\n  if (ev.perfil_tipo && TIPO_ENUM[ev.perfil_tipo]) patch.custom_fields_values.push({ field_id: 1376076, values: [{ enum_id: TIPO_ENUM[ev.perfil_tipo] }] });\n  if (ev.perfil_habitaciones && habEnum(ev.perfil_habitaciones)) patch.custom_fields_values.push({ field_id: 1373289, values: [{ enum_id: habEnum(ev.perfil_habitaciones) }] });\n  if (ev.perfil_m2) patch.custom_fields_values.push({ field_id: 1373287, values: [{ value: ev.perfil_m2 }] });\n  if (ev.perfil_banos) patch.custom_fields_values.push({ field_id: 1376078, values: [{ value: ev.perfil_banos }] });\n  const _ex=mapMulti(ev.perfil_extras,EXTRA_ENUM); if(_ex.length) patch.custom_fields_values.push({ field_id: 1376080, values: _ex });\n  const _es=mapMulti(ev.perfil_estado,ESTADO_ENUM); if(_es.length) patch.custom_fields_values.push({ field_id: 1376082, values: _es });\n  const hayCriterio = !!(ev.perfil_zona || ev.perfil_precio_min || ev.perfil_precio_max || (ev.perfil_tipo && TIPO_ENUM[ev.perfil_tipo]) || ev.perfil_habitaciones || ev.perfil_m2 || ev.perfil_banos || mapMulti(ev.perfil_extras,EXTRA_ENUM).length || mapMulti(ev.perfil_estado,ESTADO_ENUM).length);\n  if (hayCriterio) {\n    // Mover a 'Buscando vivienda' del pipeline del lead, solo si aún no está en un pool.\n    if (curStatus && !POOL.has(curStatus)) { const target = PIPE_POOL[curPipe]; if (target) patch.status_id = target; }\n    trigger_reconcile = true;\n    const _resumen = [ev.perfil_zona, (ev.perfil_precio_min||ev.perfil_precio_max)?('precio '+(ev.perfil_precio_min||'?')+'-'+(ev.perfil_precio_max||'?')):'', (ev.perfil_tipo&&ev.perfil_tipo!=='ninguno')?ev.perfil_tipo:''].filter(Boolean).join(', ');\n    nota += ' Perfil de búsqueda capturado y guardado (' + _resumen + '). Lead disponible para matching.';\n  }\n}\n\nreturn [{ json: {\n  call_id: ev.call_id, lead_id: leadId,\n  patch_body: [patch],\n  nota_body: [{ note_type: 'common', params: { text: nota } }],\n  trigger_reconcile,\n  task_body: task ? [{ task_type_id: 1, text: task.text,\n    complete_till: Math.floor(Date.now() / 1000) + task.hours * 3600,\n    entity_id: leadId, entity_type: 'leads', responsible_user_id: RAMON }] : null,\n}}];\n"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [260, 0], "id": "decidir", "name": "Decidir accion Kommo"}, {"parameters": {"method": "PATCH", "url": "https://simarro.kommo.com/api/v4/leads", "authentication": "predefinedCredentialType", "nodeCredentialType": "kommoLongLivedApi", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.patch_body) }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [480, 0], "id": "patch-lead", "name": "PATCH Lead", "credentials": {"kommoLongLivedApi": {"id": "xPvEqRp6NQwORUXi", "name": "Kommo Simarro"}}, "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "=https://simarro.kommo.com/api/v4/leads/{{ $('Decidir accion Kommo').item.json.lead_id }}/notes", "authentication": "predefinedCredentialType", "nodeCredentialType": "kommoLongLivedApi", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($('Decidir accion Kommo').item.json.nota_body) }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [700, 0], "id": "post-nota", "name": "POST Nota", "credentials": {"kommoLongLivedApi": {"id": "xPvEqRp6NQwORUXi", "name": "Kommo Simarro"}}, "onError": "continueRegularOutput"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"leftValue": "={{ !!$('Decidir accion Kommo').item.json.task_body }}", "rightValue": "", "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [920, 0], "id": "if-tarea", "name": "IF tarea"}, {"parameters": {"method": "POST", "url": "https://simarro.kommo.com/api/v4/tasks", "authentication": "predefinedCredentialType", "nodeCredentialType": "kommoLongLivedApi", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($('Decidir accion Kommo').item.json.task_body) }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1140, -100], "id": "post-tarea", "name": "POST Tarea", "credentials": {"kommoLongLivedApi": {"id": "xPvEqRp6NQwORUXi", "name": "Kommo Simarro"}}, "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "https://supabase-simarro.agentesia.madrid/rest/v1/rpc/outbound_mark_kommo_updated", "authentication": "predefinedCredentialType", "nodeCredentialType": "supabaseApi", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ p_call_id: $('Decidir accion Kommo').item.json.call_id }) }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1360, 0], "id": "rpc-mark_kommo_updated", "name": "RPC mark_kommo_updated", "credentials": {"supabaseApi": {"id": "Wm7JL1tsxiWyElqt", "name": "Supabase Simarro"}}, "onError": "continueRegularOutput"}, {"parameters": {"method": "GET", "url": "=https://simarro.kommo.com/api/v4/leads/{{ $json.lead_id }}", "authentication": "predefinedCredentialType", "nodeCredentialType": "kommoLongLivedApi", "options": {}}, "id": "cccccccc-0000-4000-8000-000000000010", "name": "Get lead actual", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [-100, 500], "credentials": {"kommoLongLivedApi": {"id": "xPvEqRp6NQwORUXi", "name": "Kommo Simarro"}}, "onError": "continueRegularOutput", "alwaysOutputData": true}, {"parameters": {"jsCode": "const d=$('Decidir accion Kommo').first().json; return (d && d.trigger_reconcile) ? [{json:{ok:true}}] : [];"}, "id": "cccccccc-0000-4000-8000-000000000011", "name": "Gate reconcile", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 200]}, {"parameters": {"method": "POST", "url": "https://n8nsimarro.agentesia.madrid/webhook/reconcile_lead_prefs", "options": {}}, "id": "cccccccc-0000-4000-8000-000000000012", "name": "Trigger reconcile", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1300, 200], "onError": "continueRegularOutput"}], "connections": {"Webhook Retell": {"main": [[{"node": "Filtrar evento", "type": "main", "index": 0}]]}, "Filtrar evento": {"main": [[{"node": "RPC record_result", "type": "main", "index": 0}]]}, "RPC record_result": {"main": [[{"node": "Get lead actual", "type": "main", "index": 0}]]}, "Decidir accion Kommo": {"main": [[{"node": "PATCH Lead", "type": "main", "index": 0}]]}, "PATCH Lead": {"main": [[{"node": "POST Nota", "type": "main", "index": 0}]]}, "POST Nota": {"main": [[{"node": "IF tarea", "type": "main", "index": 0}]]}, "IF tarea": {"main": [[{"node": "POST Tarea", "type": "main", "index": 0}], [{"node": "RPC mark_kommo_updated", "type": "main", "index": 0}]]}, "POST Tarea": {"main": [[{"node": "RPC mark_kommo_updated", "type": "main", "index": 0}]]}, "Get lead actual": {"main": [[{"node": "Decidir accion Kommo", "type": "main", "index": 0}]]}, "RPC mark_kommo_updated": {"main": [[{"node": "Gate reconcile", "type": "main", "index": 0}]]}, "Gate reconcile": {"main": [[{"node": "Trigger reconcile", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Europe/Madrid"}}