knowledge/projects/agentesia/n8n-backups/simarro/flhsvOskRZiHrcKu-handler-pre-persistencia-20260624.json
{"updatedAt":"2026-06-11T07:42:51.074Z","createdAt":"2026-06-11T07:42:51.074Z","id":"flhsvOskRZiHrcKu","name":"Retell_outbound_eventos","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"retell_outbound_eventos","responseMode":"onReceived","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,0],"id":"webhook","name":"Webhook Retell","webhookId":"retell-outbound-eventos-simarro"},{"parameters":{"jsCode":"\n// Solo call_analyzed del agente OUTBOUND. Todo lo demás (call_started/ended,\n// eventos del agente inbound si compartieran webhook) se descarta en silencio.\nconst AGENT_OUT = 'agent_042b9fbc990838ae4117315440';\nconst body = $json.body ?? $json;\nif (body.event !== 'call_analyzed') return [];\nconst call = body.call || {};\nif (call.agent_id !== AGENT_OUT) return [];\n\nconst an = call.call_analysis || {};\nconst custom = an.custom_analysis_data || {};\nconst meta = call.metadata || {};\n\n// Si no hubo conexión real, el resultado lo dicta el disconnect_reason, no el LLM.\nconst NO_PICKUP = ['dial_no_answer', 'dial_busy', 'dial_failed', 'voicemail_reached', 'machine_detected'];\nlet resultado = custom.resultado_llamada || 'sin_conversacion';\nif (NO_PICKUP.includes(call.disconnect_reason)) resultado = 'no_contesta';\n\nconst dur = call.duration_ms != null ? Math.round(call.duration_ms / 1000)\n  : (call.end_timestamp && call.start_timestamp ? Math.round((call.end_timestamp - call.start_timestamp) / 1000) : null);\n\nreturn [{ json: {\n  call_id: call.call_id,\n  lead_id: meta.lead_id ?? null,\n  attempt: meta.attempt ?? null,\n  resultado,\n  motivo_no_interes: custom.motivo_no_interes || 'no_aplica',\n  nuevo_contacto_preferido: custom.nuevo_contacto_preferido || 'ninguno',\n  disconnect_reason: call.disconnect_reason || '',\n  duration_s: dur,\n  call_summary: an.call_summary || '',\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,0],"id":"filtrar-evento","name":"Filtrar evento"},{"parameters":{"method":"POST","url":"https://supabase-simarro.agentesia.madrid/rest/v1/rpc/outbound_record_result","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p: { call_id: $json.call_id, resultado: $json.resultado, motivo_no_interes: $json.motivo_no_interes, disconnect_reason: $json.disconnect_reason, duration_s: $json.duration_s, call_summary: $json.call_summary } }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,0],"id":"rpc-record_result","name":"RPC record_result","credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"\n// Decide qué hacer en Kommo según el resultado. El RPC ya garantizó idempotencia\n// (si este nodo corre, es la PRIMERA vez que se procesa este call_id).\n//\n// NOTA visita_agendada: NO movemos el lead original a Lead Caliente a propósito —\n// la tool Reservar del flow ya dispara el circuito estándar de confirmación\n// (lead en Lead Caliente + salesbot 87865); mover también este lead duplicaría\n// la plantilla de confirmación con el CF \"Día de visita\" vacío.\nconst ev = $('Filtrar evento').first().json;\nconst ENUM = { visita_agendada: 1027074, no_interesado: 1027076, pide_mas_info: 1027078,\n               derivado_humano: 1027080, sin_conversacion: 1027082, no_contesta: 1027084 };\nconst RAMON = 15113339;\nconst r = ev.resultado;\nconst leadId = Number(ev.lead_id);\nif (!leadId) return []; // sin lead_id en metadata no podemos actualizar Kommo\n\nconst patch = { id: leadId, custom_fields_values: [\n  { field_id: 1376610, values: [{ enum_id: ENUM[r] || ENUM.sin_conversacion }] },\n]};\n\nconst MOTIVO = { ya_compro: 'ya compró', cambio_zona: 'cambió de zona', presupuesto: 'presupuesto',\n                 momento_incorrecto: 'mal momento', otro: 'otro motivo' };\nlet nota = `Llamada IA de reactivación (intento ${ev.attempt ?? '?'}) — resultado: ${r.replace(/_/g, ' ')}.`;\nlet task = null;\n\nif (r === 'no_interesado') {\n  patch.status_id = 143; // Venta Perdido\n  nota += ` Motivo: ${MOTIVO[ev.motivo_no_interes] || 'no indicado'}. Lead cerrado automáticamente.`;\n} else if (r === 'visita_agendada') {\n  nota += ' La visita se gestionó por el circuito estándar de reserva (confirmación WA enviada).';\n} else if (r === 'derivado_humano') {\n  nota += ' El cliente pidió hablar con una persona — se le prometió que le llamamos.';\n  task = { text: `LLAMAR HOY: ${ev.call_summary ? ev.call_summary.slice(0, 200) : 'cliente pidió hablar con una persona en llamada IA de reactivación'}`,\n           hours: 4 };\n} else if (r === 'pide_mas_info') {\n  nota += ' Sigue interesado pero no agendó.';\n  if (ev.nuevo_contacto_preferido && ev.nuevo_contacto_preferido !== 'ninguno')\n    nota += ` Prefiere contacto por: ${ev.nuevo_contacto_preferido.replace(/_/g, ' ')}.`;\n  task = { text: `Seguimiento: lead pidió más info en llamada IA de reactivación. ${ev.call_summary ? ev.call_summary.slice(0, 200) : ''}`.trim(),\n           hours: 24 };\n}\nif (ev.nuevo_contacto_preferido === 'no_contactar') {\n  nota += ' ⚠ Pidió NO ser contactado: desmarcar consentimiento outbound.';\n  patch.custom_fields_values.push({ field_id: 1376604, values: [{ value: false }] });\n}\nif (ev.call_summary && r !== 'no_contesta') nota += `\\n\\nResumen: ${ev.call_summary}`;\nif (ev.duration_s != null) nota += `\\nDuración: ${ev.duration_s}s.`;\n\nreturn [{ json: {\n  call_id: ev.call_id, lead_id: leadId,\n  patch_body: [patch],\n  nota_body: [{ note_type: 'common', params: { text: nota } }],\n  task_body: task ? [{ task_type_id: 1, text: task.text,\n    complete_till: Math.floor(Date.now() / 1000) + task.hours * 3600,\n    entity_id: leadId, entity_type: 'leads', responsible_user_id: RAMON }] : null,\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,0],"id":"decidir","name":"Decidir accion Kommo"},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.patch_body) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,0],"id":"patch-lead","name":"PATCH Lead","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://simarro.kommo.com/api/v4/leads/{{ $('Decidir accion Kommo').item.json.lead_id }}/notes","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Decidir accion Kommo').item.json.nota_body) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,0],"id":"post-nota","name":"POST Nota","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('Decidir accion Kommo').item.json.task_body }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,0],"id":"if-tarea","name":"IF tarea"},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v4/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Decidir accion Kommo').item.json.task_body) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,-100],"id":"post-tarea","name":"POST Tarea","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://supabase-simarro.agentesia.madrid/rest/v1/rpc/outbound_mark_kommo_updated","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_call_id: $('Decidir accion Kommo').item.json.call_id }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,0],"id":"rpc-mark_kommo_updated","name":"RPC mark_kommo_updated","credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}},"onError":"continueRegularOutput"}],"connections":{"Webhook Retell":{"main":[[{"node":"Filtrar evento","type":"main","index":0}]]},"Filtrar evento":{"main":[[{"node":"RPC record_result","type":"main","index":0}]]},"RPC record_result":{"main":[[{"node":"Decidir accion Kommo","type":"main","index":0}]]},"Decidir accion Kommo":{"main":[[{"node":"PATCH Lead","type":"main","index":0}]]},"PATCH Lead":{"main":[[{"node":"POST Nota","type":"main","index":0}]]},"POST Nota":{"main":[[{"node":"IF tarea","type":"main","index":0}]]},"IF tarea":{"main":[[{"node":"POST Tarea","type":"main","index":0}],[{"node":"RPC mark_kommo_updated","type":"main","index":0}]]},"POST Tarea":{"main":[[{"node":"RPC mark_kommo_updated","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid"},"staticData":null,"meta":null,"pinData":null,"versionId":"596fdeb4-8124-4248-9ddb-2423abf77115","activeVersionId":"596fdeb4-8124-4248-9ddb-2423abf77115","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-06-11T07:42:51.074Z","createdAt":"2026-06-11T07:42:51.074Z","role":"workflow:owner","workflowId":"flhsvOskRZiHrcKu","projectId":"KzDhDvn7gXhn9Jke","project":{"updatedAt":"2026-04-14T19:24:58.568Z","createdAt":"2026-04-14T17:51:20.172Z","id":"KzDhDvn7gXhn9Jke","name":"agentesia madrid <info@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"e11c9a81-3802-42a8-8b75-5d3028942946"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-11T07:42:51.074Z","createdAt":"2026-06-11T07:42:51.074Z","versionId":"596fdeb4-8124-4248-9ddb-2423abf77115","workflowId":"flhsvOskRZiHrcKu","nodes":[{"parameters":{"httpMethod":"POST","path":"retell_outbound_eventos","responseMode":"onReceived","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,0],"id":"webhook","name":"Webhook Retell","webhookId":"retell-outbound-eventos-simarro"},{"parameters":{"jsCode":"\n// Solo call_analyzed del agente OUTBOUND. Todo lo demás (call_started/ended,\n// eventos del agente inbound si compartieran webhook) se descarta en silencio.\nconst AGENT_OUT = 'agent_042b9fbc990838ae4117315440';\nconst body = $json.body ?? $json;\nif (body.event !== 'call_analyzed') return [];\nconst call = body.call || {};\nif (call.agent_id !== AGENT_OUT) return [];\n\nconst an = call.call_analysis || {};\nconst custom = an.custom_analysis_data || {};\nconst meta = call.metadata || {};\n\n// Si no hubo conexión real, el resultado lo dicta el disconnect_reason, no el LLM.\nconst NO_PICKUP = ['dial_no_answer', 'dial_busy', 'dial_failed', 'voicemail_reached', 'machine_detected'];\nlet resultado = custom.resultado_llamada || 'sin_conversacion';\nif (NO_PICKUP.includes(call.disconnect_reason)) resultado = 'no_contesta';\n\nconst dur = call.duration_ms != null ? Math.round(call.duration_ms / 1000)\n  : (call.end_timestamp && call.start_timestamp ? Math.round((call.end_timestamp - call.start_timestamp) / 1000) : null);\n\nreturn [{ json: {\n  call_id: call.call_id,\n  lead_id: meta.lead_id ?? null,\n  attempt: meta.attempt ?? null,\n  resultado,\n  motivo_no_interes: custom.motivo_no_interes || 'no_aplica',\n  nuevo_contacto_preferido: custom.nuevo_contacto_preferido || 'ninguno',\n  disconnect_reason: call.disconnect_reason || '',\n  duration_s: dur,\n  call_summary: an.call_summary || '',\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,0],"id":"filtrar-evento","name":"Filtrar evento"},{"parameters":{"method":"POST","url":"https://supabase-simarro.agentesia.madrid/rest/v1/rpc/outbound_record_result","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p: { call_id: $json.call_id, resultado: $json.resultado, motivo_no_interes: $json.motivo_no_interes, disconnect_reason: $json.disconnect_reason, duration_s: $json.duration_s, call_summary: $json.call_summary } }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,0],"id":"rpc-record_result","name":"RPC record_result","credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"\n// Decide qué hacer en Kommo según el resultado. El RPC ya garantizó idempotencia\n// (si este nodo corre, es la PRIMERA vez que se procesa este call_id).\n//\n// NOTA visita_agendada: NO movemos el lead original a Lead Caliente a propósito —\n// la tool Reservar del flow ya dispara el circuito estándar de confirmación\n// (lead en Lead Caliente + salesbot 87865); mover también este lead duplicaría\n// la plantilla de confirmación con el CF \"Día de visita\" vacío.\nconst ev = $('Filtrar evento').first().json;\nconst ENUM = { visita_agendada: 1027074, no_interesado: 1027076, pide_mas_info: 1027078,\n               derivado_humano: 1027080, sin_conversacion: 1027082, no_contesta: 1027084 };\nconst RAMON = 15113339;\nconst r = ev.resultado;\nconst leadId = Number(ev.lead_id);\nif (!leadId) return []; // sin lead_id en metadata no podemos actualizar Kommo\n\nconst patch = { id: leadId, custom_fields_values: [\n  { field_id: 1376610, values: [{ enum_id: ENUM[r] || ENUM.sin_conversacion }] },\n]};\n\nconst MOTIVO = { ya_compro: 'ya compró', cambio_zona: 'cambió de zona', presupuesto: 'presupuesto',\n                 momento_incorrecto: 'mal momento', otro: 'otro motivo' };\nlet nota = `Llamada IA de reactivación (intento ${ev.attempt ?? '?'}) — resultado: ${r.replace(/_/g, ' ')}.`;\nlet task = null;\n\nif (r === 'no_interesado') {\n  patch.status_id = 143; // Venta Perdido\n  nota += ` Motivo: ${MOTIVO[ev.motivo_no_interes] || 'no indicado'}. Lead cerrado automáticamente.`;\n} else if (r === 'visita_agendada') {\n  nota += ' La visita se gestionó por el circuito estándar de reserva (confirmación WA enviada).';\n} else if (r === 'derivado_humano') {\n  nota += ' El cliente pidió hablar con una persona — se le prometió que le llamamos.';\n  task = { text: `LLAMAR HOY: ${ev.call_summary ? ev.call_summary.slice(0, 200) : 'cliente pidió hablar con una persona en llamada IA de reactivación'}`,\n           hours: 4 };\n} else if (r === 'pide_mas_info') {\n  nota += ' Sigue interesado pero no agendó.';\n  if (ev.nuevo_contacto_preferido && ev.nuevo_contacto_preferido !== 'ninguno')\n    nota += ` Prefiere contacto por: ${ev.nuevo_contacto_preferido.replace(/_/g, ' ')}.`;\n  task = { text: `Seguimiento: lead pidió más info en llamada IA de reactivación. ${ev.call_summary ? ev.call_summary.slice(0, 200) : ''}`.trim(),\n           hours: 24 };\n}\nif (ev.nuevo_contacto_preferido === 'no_contactar') {\n  nota += ' ⚠ Pidió NO ser contactado: desmarcar consentimiento outbound.';\n  patch.custom_fields_values.push({ field_id: 1376604, values: [{ value: false }] });\n}\nif (ev.call_summary && r !== 'no_contesta') nota += `\\n\\nResumen: ${ev.call_summary}`;\nif (ev.duration_s != null) nota += `\\nDuración: ${ev.duration_s}s.`;\n\nreturn [{ json: {\n  call_id: ev.call_id, lead_id: leadId,\n  patch_body: [patch],\n  nota_body: [{ note_type: 'common', params: { text: nota } }],\n  task_body: task ? [{ task_type_id: 1, text: task.text,\n    complete_till: Math.floor(Date.now() / 1000) + task.hours * 3600,\n    entity_id: leadId, entity_type: 'leads', responsible_user_id: RAMON }] : null,\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,0],"id":"decidir","name":"Decidir accion Kommo"},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.patch_body) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,0],"id":"patch-lead","name":"PATCH Lead","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://simarro.kommo.com/api/v4/leads/{{ $('Decidir accion Kommo').item.json.lead_id }}/notes","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Decidir accion Kommo').item.json.nota_body) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,0],"id":"post-nota","name":"POST Nota","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('Decidir accion Kommo').item.json.task_body }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,0],"id":"if-tarea","name":"IF tarea"},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v4/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Decidir accion Kommo').item.json.task_body) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,-100],"id":"post-tarea","name":"POST Tarea","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://supabase-simarro.agentesia.madrid/rest/v1/rpc/outbound_mark_kommo_updated","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_call_id: $('Decidir accion Kommo').item.json.call_id }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,0],"id":"rpc-mark_kommo_updated","name":"RPC mark_kommo_updated","credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}},"onError":"continueRegularOutput"}],"connections":{"Webhook Retell":{"main":[[{"node":"Filtrar evento","type":"main","index":0}]]},"Filtrar evento":{"main":[[{"node":"RPC record_result","type":"main","index":0}]]},"RPC record_result":{"main":[[{"node":"Decidir accion Kommo","type":"main","index":0}]]},"Decidir accion Kommo":{"main":[[{"node":"PATCH Lead","type":"main","index":0}]]},"PATCH Lead":{"main":[[{"node":"POST Nota","type":"main","index":0}]]},"POST Nota":{"main":[[{"node":"IF tarea","type":"main","index":0}]]},"IF tarea":{"main":[[{"node":"POST Tarea","type":"main","index":0}],[{"node":"RPC mark_kommo_updated","type":"main","index":0}]]},"POST Tarea":{"main":[[{"node":"RPC mark_kommo_updated","type":"main","index":0}]]}},"authors":"agentesia madrid","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-11T07:43:24.464Z","id":1195,"workflowId":"flhsvOskRZiHrcKu","versionId":"596fdeb4-8124-4248-9ddb-2423abf77115","event":"activated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"}]}}