knowledge/projects/agentesia/n8n-backups/simarro/iMoTKZWxYLymGuHF-reserva-pre-p3-emails-20260609.json
{"updatedAt":"2026-06-02T21:48:54.454Z","createdAt":"2026-04-28T10:16:41.075Z","id":"iMoTKZWxYLymGuHF","name":"Leads entrantes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"nombre"},{"name":"Tipo de servicio"},{"name":"numero de telefono"},{"name":"Fecha preferida"},{"name":"Fuente"},{"name":"Motivo de la consulta"},{"name":"email"},{"name":"contac_id"},{"name":"Lead_id"},{"name":"idealista_id"},{"name":"direccion"},{"name":"thumbnail"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2688,288],"id":"d8dd571d-2295-4085-bd95-212c3cb2f1a7","name":"When Executed by Another Workflow"},{"parameters":{"content":"Extraccion info lead Chatbot IA","height":80},"type":"n8n-nodes-base.stickyNote","position":[-2752,-112],"typeVersion":1,"id":"3431b425-27b8-45d4-aee9-51912ddb66dd","name":"Sticky Note2"},{"parameters":{"content":"Extraccion de info Agente de voz","height":80},"type":"n8n-nodes-base.stickyNote","position":[-2688,-704],"typeVersion":1,"id":"54712457-0deb-489f-910c-8db156ba37c1","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"mirar_disponibilidad","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2688,-1248],"id":"3957f9be-4167-41df-9b1d-e9e0a8cdcd07","name":"Webhook","webhookId":"062b584f-093d-4182-ac26-9ce27f656df0"},{"parameters":{"content":"Ver disponibilidad agente de voz","height":80},"type":"n8n-nodes-base.stickyNote","position":[-2080,-1072],"typeVersion":1,"id":"be9c4197-a377-43fb-8d7d-463702d2bd5b","name":"Sticky Note"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('RPC Cal Disp').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"returnAll":true,"timeMin":"={{ DateTime.fromISO($('Edit Fields2').item.json.after).setZone('Europe/Madrid').startOf('day').toISO() }}","timeMax":"={{ DateTime.fromISO($('Edit Fields2').item.json.after).setZone('Europe/Madrid').endOf('day').toISO() }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-2016,-1248],"id":"06a2276a-af00-4ad0-b28d-2f2669c2d8f9","name":"Get many events1","alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}}},{"parameters":{"jsCode":"// Prep payload para Calc_Disponibilidad (modo listar). NO contiene lógica de negocio.\nconst ef = $('Edit Fields2').item.json;\nconst eventos = $input.all().map(i => i.json).filter(e => e && e.start);\nreturn [{ json: {\n  modo: 'listar',\n  start: ef.after,\n  end: ef.before,\n  idealista_id: (ef.idealista_id || '').toString(),\n  eventos\n} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1792,-1248],"id":"677f0e1f-ce8d-4530-b14e-e509e6619065","name":"Code in JavaScript2"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ mensaje: $json.mensaje, libre: $json.libre, slots: $json.slots, finDeSemana: $json.finDeSemana }) }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-1344,-1248],"id":"56100eca-e4e0-4719-94de-d3a60f257131","name":"Respond to Webhook2"},{"parameters":{"assignments":{"assignments":[{"id":"f0be48bf-5bea-498a-942a-8419d154c2bb","name":"after","value":"={{ $json.body.args.After }}","type":"string"},{"id":"069a1876-4cb6-4762-bce8-8a275235424a","name":"before","value":"={{ $json.body.args.Before }}","type":"string"},{"id":"idealista-ef2","name":"idealista_id","value":"={{ $json.body.args.idealista_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2464,-1248],"id":"626574a8-d139-4755-9c8f-28569ea80450","name":"Edit Fields2"},{"parameters":{"content":"Extraccion info lead Chatbot IA","height":224,"width":150},"type":"n8n-nodes-base.stickyNote","position":[-2720,48],"typeVersion":1,"id":"13b1a36e-2fd7-4da6-9f02-dc4b84ff7b14","name":"Sticky Note3"},{"parameters":{"httpMethod":"POST","path":"Reservar_crm","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2688,-544],"id":"92f6448f-4ae2-480e-916f-048c115dae15","name":"Webhook1","webhookId":"42435c5a-8131-4117-a7bb-5e62d0d28ec1"},{"parameters":{"assignments":{"assignments":[{"id":"0f96569e-aeab-40b5-9f5b-6b2cdc0745e1","name":"nombre","value":"={{ $json.body.args.name }}","type":"string"},{"id":"b70eff04-591b-4956-a701-ab84282d09a2","name":"Tipo de servicio","value":"={{ $json.body.args.service_type }}","type":"string"},{"id":"ada6fcaa-43c4-4b66-8b07-0e55af82a37e","name":"numero de telefono","value":"={{ (() => { const ap = ($json.body.args.phone || ''); const fn = ($json.body.call.from_number || ''); return (ap && !ap.includes('from_number') && !ap.includes('{')) ? ap : fn; })() }}","type":"string"},{"id":"7bd4d30c-f913-4e19-b1a8-da35baf3f079","name":"Fecha preferida","value":"={{ $json.body.args.preferred_date }}","type":"string"},{"id":"7a345039-005c-41b0-bc48-39e3d9a598b7","name":"Fuente","value":"Agente de voz","type":"string"},{"id":"e538f2c9-4bdd-40a1-9668-1c024948201b","name":"motivo de la consulta","value":"={{ $json.body.args.motivo_consulta }}","type":"string"},{"id":"1ea37763-6eef-4196-af94-f52e0df49ff1","name":"telefono","value":"={{ (() => { const ap = ($json.body.args.phone || ''); const fn = ($json.body.call.from_number || ''); return (ap && !ap.includes('from_number') && !ap.includes('{')) ? ap : fn; })() }}","type":"string"},{"id":"idealista_id-field-ef3","name":"idealista_id","value":"={{ $json.body.args.idealista_id }}","type":"string"},{"id":"direccion-field-ef3","name":"direccion","value":"={{ $json.body.args.direccion }}","type":"string"},{"id":"thumbnail-field-ef3","name":"thumbnail","value":"={{ $json.body.args.thumbnail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2464,-544],"id":"4c917fa3-d515-45c6-80e2-972c1d9899de","name":"Edit Fields3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"86a90e2c-2cad-4651-89fa-60ac1cacca1d","leftValue":"={{ $json.existe_contacto }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1568,-448],"id":"aa90df72-3e6b-43b2-99b9-63262bd95582","name":"existe contacto?1"},{"parameters":{"authentication":"longLivedToken","resource":"contacts","operation":"createContacts","collection":{"contact":[{"name":"={{ $('Edit Fields3').item.json.nombre }} ","first_name":"={{ $('Edit Fields3').item.json.nombre }}","custom_fields_values":{"custom_field":[{"data":"{\"id\":1328259,\"type\":\"multitext\"}","value":"={{ (function(p){ if(!p) return ''; p = String(p).trim().replace(/\\s/g,''); if(p.startsWith('+')) return p; if(p.startsWith('0034')) return '+34' + p.slice(4); return '+34' + p; })($('Edit Fields3').item.json['numero de telefono']) }}"},{"data":"{\"id\":1328261,\"type\":\"multitext\"}","value":"={{ $('Edit Fields3').item.json.email }}"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1344,-784],"id":"bb59deac-11e0-4135-8c32-1a09ee7e8542","name":"Create new contacts1","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"createLeads","json":true,"jsonString":"={{\n  JSON.stringify([{\n    name: (($('Edit Fields3').item.json.nombre || 'Lead voz') + ' — ' + ($('Edit Fields3').item.json['Tipo de servicio'] || 'Visita')),\n    status_id: 105137095,\n    pipeline_id: 13546071,\n    _embedded: { contacts: [{ id: $json._embedded.contacts[0].id }] },\n    custom_fields_values: (function() {\n      const ef3 = $('Edit Fields3').item.json;\n      const cf = [\n        { field_id: 1372567, values: [{ value: ef3['motivo de la consulta'] || '' }] },\n        { field_id: 1330871, values: [{ value: $('Pasamos a segundos2').item.json.segundos || 0 }] },\n        { field_id: 1372569, values: [{ value: \"Agente de voz IA\" }] }\n      ];\n      if (ef3.idealista_id) cf.push({ field_id: 1373305, values: [{ value: String(ef3.idealista_id) }] });\n      if (ef3.direccion)    cf.push({ field_id: 1373349, values: [{ value: ef3.direccion }] });\n      return cf;\n    })()\n  }])\n}}"},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1120,-784],"id":"4ac2d41c-3fb0-437c-b644-6e0a3c461de2","name":"Create new leads2","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"jsCode":"const fechaStr = $input.first().json[\"Fecha preferida\"];\n\n// Parsear la fecha de forma explícita considerando la zona horaria de Madrid\nlet fecha;\n\n// Si la fecha ya incluye zona horaria (+01:00 o +02:00), usarla directamente\nif (fechaStr.includes('+') || fechaStr.includes('Z')) {\n  fecha = new Date(fechaStr);\n} else {\n  // Si no tiene zona horaria, agregarla manualmente\n  // Formato esperado: \"2025-10-21T15:30:00\"\n  // Determinar si estamos en horario de verano (CET +01:00) o invierno (CEST +02:00)\n  const testDate = new Date(fechaStr);\n  const mes = testDate.getMonth(); // 0-11\n  \n  // Horario de verano en Europa: último domingo de marzo hasta último domingo de octubre\n  // Para simplificar: marzo-octubre = +02:00, resto = +01:00\n  const esHorarioVerano = mes >= 2 && mes <= 9; // Marzo (2) a Octubre (9)\n  const offset = esHorarioVerano ? '+02:00' : '+01:00';\n  \n  fecha = new Date(fechaStr + offset);\n}\n\n// Convertir a timestamp Unix (segundos)\nconst segundos = Math.floor(fecha.getTime() / 1000);\n\nreturn [\n  { \n    json: { \n      segundos: segundos,\n      debug_fechaOriginal: fechaStr,\n      debug_fechaUTC: fecha.toISOString(),\n      debug_fechaMadrid: fecha.toLocaleString('es-ES', { \n        timeZone: 'Europe/Madrid',\n        dateStyle: 'full',\n        timeStyle: 'long'\n      })\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2240,-448],"id":"4a7effb9-6be8-4866-a281-31cebcf67371","name":"Pasamos a segundos2"},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"createLeads","json":true,"jsonString":"={{\n  JSON.stringify([{\n    name: (($('Edit Fields3').item.json.nombre || 'Lead voz') + ' — ' + ($('Edit Fields3').item.json['Tipo de servicio'] || 'Visita')),\n    status_id: 105137095,\n    pipeline_id: 13546071,\n    _embedded: { contacts: [{ id: $('Code in JavaScript1').item.json.primer_contacto.id }] },\n    custom_fields_values: (function() {\n      const ef3 = $('Edit Fields3').item.json;\n      const cf = [\n        { field_id: 1372567, values: [{ value: ef3['motivo de la consulta'] || '' }] },\n        { field_id: 1330871, values: [{ value: $('Pasamos a segundos2').item.json.segundos || 0 }] },\n        { field_id: 1372569, values: [{ value: \"Agente de voz IA\" }] }\n      ];\n      if (ef3.idealista_id) cf.push({ field_id: 1373305, values: [{ value: String(ef3.idealista_id) }] });\n      if (ef3.direccion)    cf.push({ field_id: 1373349, values: [{ value: ef3.direccion }] });\n      return cf;\n    })()\n  }])\n}}"},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1184,-416],"id":"4e6bd376-bcb9-4cb0-8877-3fb1674e6abe","name":"Create new leads3","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"url":"=https://simarro.kommo.com/api/v4/contacts","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $('Edit Fields3').item.json.telefono }}"},{"name":"with","value":"leads"},{"name":"limit","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2016,-448],"id":"874999c5-ea71-42c2-821d-5ab4dbbddc61","name":"Get list of contacts1","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"jsCode":"// Obtener los datos del nodo anterior \"Get list of contacts\"\nconst contacts = $input.all();\n\n// Inicializar variables\nlet existeContacto = false;\nlet primerContacto = null;\n\n// Verificar si hay datos en la respuesta\nif (contacts.length > 0) {\n  const data = contacts[0].json;\n\n  // Validar estructura del JSON\n  if (data && data._embedded && Array.isArray(data._embedded.contacts)) {\n    const listaContactos = data._embedded.contacts;\n\n    // Verificar si existe algún contacto con ID válido\n    if (listaContactos.length > 0) {\n      const contactoConID = listaContactos.find(c => c.id && typeof c.id === 'number');\n      if (contactoConID) {\n        existeContacto = true;\n        primerContacto = contactoConID;\n      }\n    }\n  }\n}\n\n// Retornar resultado\nreturn [{\n  json: {\n    existe_contacto: existeContacto,\n    cantidad_contactos: primerContacto ? 1 : 0,\n    primer_contacto: primerContacto\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1792,-448],"id":"fbe981aa-10d9-4a20-8293-dceb060df429","name":"Code in JavaScript1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"simarro","mode":"list","cachedResultName":"simarro"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Create new leads3').item.json._embedded.leads[0].id }}","message":"={{ { type: 'human', content: 'El usuario realizó una llamada telefónica. Resumen: ' + $json.call_analysis.call_summary, additional_kwargs: {}, response_metadata: {} } }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-336],"id":"124ad32a-f897-4dbf-8cd6-fa681c0816ec","name":"Insert rows in a table3","credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"simarro","mode":"list","cachedResultName":"simarro"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Create new leads2').item.json._embedded.leads[0].id }}","message":"={{ { type: 'human', content: 'El usuario realizó una llamada telefónica. Resumen: ' + $json.call_analysis.call_summary, additional_kwargs: {}, response_metadata: {} } }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-1024],"id":"2d7a26d4-6b0e-4390-98ad-e4c8df71a76f","name":"Insert rows in a table1","credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","callId":"={{ $('Webhook1').item.json.body.call.call_id }}"},"type":"@retellai/n8n-nodes-retellai.retellAi","typeVersion":1,"position":[-448,-832],"id":"ef8959e3-2cab-47ad-94af-1fc447e7afee","name":"Get a call3","alwaysOutputData":true,"credentials":{"retellAIApi":{"id":"Y57ORIDbjSekLA1T","name":"RetellAI account"}},"onError":"continueRegularOutput"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,-288],"id":"141e94bf-381d-4391-8b9b-85849642d166","name":"Loop Over Items2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"089c3a8f-199f-473e-85cd-747eca35a36b","leftValue":"={{ $json.call_status }}","rightValue":"ended","operator":{"type":"string","operation":"equals"}},{"id":"If2-test-skip","leftValue":"={{ $('Webhook1').item.json.body.call.call_type }}","rightValue":"web_call","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,-160],"id":"90ca27b5-998c-457d-90dd-93debdd71e8e","name":"If2"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,-48],"id":"3d787582-d458-4bc0-8a1d-a523a3105dc6","name":"Wait4","webhookId":"453f41ee-d156-45a3-a5b4-2dc09b650fe1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"089c3a8f-199f-473e-85cd-747eca35a36b","leftValue":"={{ $json.call_status }}","rightValue":"ended","operator":{"type":"string","operation":"equals"}},{"id":"If3-test-skip","leftValue":"={{ $('Webhook1').item.json.body.call.call_type }}","rightValue":"web_call","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,-912],"id":"4c734ae4-d0fa-4b1a-b191-689b4e063343","name":"If3"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,-976],"id":"43431008-7339-4c50-ab04-44227f460afe","name":"Loop Over Items3"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,-736],"id":"f8325133-69c5-4709-ae8c-7cd9e3e82377","name":"Wait5","webhookId":"453f41ee-d156-45a3-a5b4-2dc09b650fe1"},{"parameters":{"operation":"get","callId":"={{ $('Webhook1').item.json.body.call.call_id }}"},"type":"@retellai/n8n-nodes-retellai.retellAi","typeVersion":1,"position":[-448,-96],"id":"cfbdaa65-5e7e-4d97-bc35-311fa0e4e28c","name":"Get a call2","alwaysOutputData":true,"credentials":{"retellAIApi":{"id":"Y57ORIDbjSekLA1T","name":"RetellAI account"}},"onError":"continueRegularOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-672,-96],"id":"c3a83691-3478-4d6c-9b51-edcec362e027","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-672,-832],"id":"79093421-e05c-419b-a27f-072c04fe2900","name":"Respond to Webhook3"},{"parameters":{"jsCode":"\n// Sanitize LLM placeholder leaks (some-xxx, undefined, null strings, empty)\nconst isPlaceholder = (v) => !v || typeof v !== 'string' || /^(some-|<|undefined$|null$|n\\/a$)/i.test(v.trim());\n\nconst input = $input.first().json;\nconst fechaStr = input.Fecha_preferida;\n\n// Parsear la fecha considerando zona horaria de Madrid\nlet fecha;\n\nif (fechaStr.includes('+') || fechaStr.includes('Z')) {\n  fecha = new Date(fechaStr);\n} else {\n  const testDate = new Date(fechaStr);\n  const mes = testDate.getMonth();\n  const esHorarioVerano = mes >= 2 && mes <= 9;\n  const offset = esHorarioVerano ? '+02:00' : '+01:00';\n  fecha = new Date(fechaStr + offset);\n}\n\n// Timestamp Unix (segundos) para Kommo\nconst segundos = Math.floor(fecha.getTime() / 1000);\n\n// ISO 8601 para Google Calendar\nconst fechaInicioISO = fecha.toISOString();\n\n// Fin = inicio + 30 minutos\nconst fechaFin = new Date(fecha.getTime() + 30 * 60 * 1000);\nconst fechaFinISO = fechaFin.toISOString();\n\n// Fecha legible para email\nconst fechaInicioMadrid = fecha.toLocaleString('es-ES', { \n  timeZone: 'Europe/Madrid',\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nconst _idealista = isPlaceholder(input.idealista_id) ? '' : input.idealista_id;\nconst _direccion = isPlaceholder(input.direccion) ? '' : input.direccion;\nconst _thumbnail = isPlaceholder(input.thumbnail) ? '' : input.thumbnail;\nreturn [\n  {\n    json: {\n      ...input,\n      idealista_id: _idealista,\n      direccion: _direccion,\n      thumbnail: _thumbnail,\n      segundos: segundos,\n      fechaInicioISO: fechaInicioISO,\n      fechaFinISO: fechaFinISO,\n      fechaInicioMadrid: fechaInicioMadrid,\n      doctorAsignado: \"Equipo Simarro Properties\",\n      leadName: input.nombre + \"||\" + input.Tipo_de_servicio + \"||\" + input.numero_de_telefono\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2240,288],"id":"e93908ac-ee25-4116-97de-c965a6215a60","name":"Preparar Datos"},{"parameters":{"assignments":{"assignments":[{"id":"0f96569e-aeab-40b5-9f5b-6b2cdc0745e1","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"b70eff04-591b-4956-a701-ab84282d09a2","name":"Tipo_de_servicio","value":"={{ $json[\"Tipo de servicio\"] }}","type":"string"},{"id":"ada6fcaa-43c4-4b66-8b07-0e55af82a37e","name":"numero_de_telefono","value":"={{ $json[\"numero de telefono\"] }}","type":"string"},{"id":"7bd4d30c-f913-4e19-b1a8-da35baf3f079","name":"Fecha_preferida","value":"={{ $json[\"Fecha preferida\"] }}","type":"string"},{"id":"7a345039-005c-41b0-bc48-39e3d9a598b7","name":"Fuente","value":"Chatbot IA","type":"string"},{"id":"e538f2c9-4bdd-40a1-9668-1c024948201b","name":"motivo_de_la_consulta","value":"={{ $json[\"Motivo de la consulta\"] }}","type":"string"},{"id":"53482bd1-cb23-4a1d-bf08-fffd8e945b85","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"91d6925e-9940-4798-bc8d-a1e950a74470","name":"Lead_id","value":"={{ $json.Lead_id }}","type":"string"},{"id":"contact-id-field","name":"contac_id","value":"={{ $json.contac_id }}","type":"string"},{"id":"idealista-id-field","name":"idealista_id","value":"={{ $json.idealista_id }}","type":"string"},{"id":"direccion-field","name":"direccion","value":"={{ $json.direccion }}","type":"string"},{"id":"thumbnail-field-ef1","name":"thumbnail","value":"={{ $json.thumbnail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2464,288],"id":"9b841790-bb70-484f-a530-c159785ef98b","name":"Edit Fields1"},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"updateLeads","json":true,"jsonString":"=[\n  {\n    \"id\": {{ $json.Lead_id }},\n    \"name\": \"{{ $json.leadName }}\",\n    \"status_id\": 105137095,\n    \"pipeline_id\": 13546071,\n    \"custom_fields_values\": [\n      {\"field_id\": 1372567, \"values\": [{\"value\": \"{{ $json.motivo_de_la_consulta }}\"}]},\n      {\"field_id\": 1330871, \"values\": [{\"value\": {{ $json.segundos }}}]},\n      {\"field_id\": 1372569, \"values\": [{\"value\": \"Chatbot IA\"}]},\n      {\"field_id\": 1372575, \"values\": [{\"value\": \"{{ $json.email }}\"}]}\n    ]\n  }\n]"},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-2016,288],"id":"80d757aa-ba44-4bfe-bee6-7b858b51cbf7","name":"Update leads","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"authentication":"longLivedToken","resource":"contacts","operation":"updateContacts","collection":{"contact":[{"id":"={{ $('Preparar Datos').item.json.contac_id }}","name":"={{ $('Preparar Datos').item.json.nombre }}","custom_fields_values":{"custom_field":[{"data":"{\"id\": 1328261, \"type\": \"multitext\"}","value":"={{ $('Preparar Datos').item.json.email }}"},{"data":"{\"id\": 1328259, \"type\": \"multitext\"}","value":"={{ $('Preparar Datos').item.json.numero_de_telefono }}"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1792,288],"id":"bb7abd05-66c4-401b-b680-52c57ec0e50a","name":"Update contacts1","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"fromEmail":"info@simarroproperties.com","toEmail":"={{ $('Preparar Datos').item.json.email }}","subject":"={{ $('Build Email HTML').item.json.subject }}","html":"={{ $('Build Email HTML').item.json.html }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[0,448],"id":"7d8e83d3-9d13-4d13-bc81-c527153a36a2","name":"Send Confirmation Email","webhookId":"dd3e23f1-b38c-4376-a44f-202b88767e66","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"smtp":{"id":"my0IFrzKpGNhCs8c","name":"SMTP LEADS Simarro"}},"continueOnFail":true},{"parameters":{"content":"{{ $('Preparar Datos').item.json.email }},"},"type":"n8n-nodes-base.stickyNote","position":[-2768,448],"typeVersion":1,"id":"c0bd154a-811b-4ff3-86a6-503c7b0b5c24","name":"Sticky Note4"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1vheo5FjaSJqpqLjCVycCWmREw5jztrHd9-lTmzxIvE4","mode":"list","cachedResultName":"Leads Conversion Simarro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vheo5FjaSJqpqLjCVycCWmREw5jztrHd9-lTmzxIvE4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vheo5FjaSJqpqLjCVycCWmREw5jztrHd9-lTmzxIvE4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('When Executed by Another Workflow').item.json.nombre }}","Contact ID":"={{ $('When Executed by Another Workflow').item.json.contac_id }}","Fecha_creacion_lead":"={{ $now.format('dd-MM-yyyy') }}","Email":"={{ $('When Executed by Another Workflow').item.json.email }}","Tipo de servicio":"={{ $('When Executed by Another Workflow').item.json[\"Tipo de servicio\"] }}","Motivo de la consulta":"={{ $('When Executed by Another Workflow').item.json[\"Motivo de la consulta\"] }}","Fecha Cita":"={{ $('Preparar Datos').item.json.fechaInicioMadrid }}","Número de teléfono":"={{ $('When Executed by Another Workflow').item.json[\"numero de telefono\"] }}","Lead ID":"={{ $('When Executed by Another Workflow').item.json.Lead_id }}","Fuente":"Chatbot IA"},"matchingColumns":["Contact ID"],"schema":[{"id":"Fecha_creacion_lead","displayName":"Fecha_creacion_lead","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo de servicio","displayName":"Tipo de servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo de la consulta","displayName":"Motivo de la consulta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha Cita","displayName":"Fecha Cita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número de teléfono","displayName":"Número de teléfono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact ID","displayName":"Contact ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fuente","displayName":"Fuente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,448],"id":"d4ff4da5-2a26-431b-b5ab-0cf9ff985fcd","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"lgEol9bvQdobB5p0","name":"Simarro Sheets"}},"continueOnFail":true},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('RPC Cal WA').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"start":"={{ $('Preparar Datos').item.json.fechaInicioISO }}","end":"={{ $('Preparar Datos').item.json.fechaFinISO }}","additionalFields":{"description":"=Lead ID: {{ $('Preparar Datos').item.json.Lead_id }}\nTeléfono: {{ $if($('Edit Fields3').isExecuted, $('Edit Fields3').item.json.telefono, $('Edit Fields1').item.json.numero_de_telefono) }}\nMotivo: {{ $if($('Edit Fields3').isExecuted, $('Edit Fields3').item.json['motivo de la consulta'], $('Edit Fields1').item.json.motivo_de_la_consulta) }}\nFuente: {{ $if($('Edit Fields3').isExecuted, $('Edit Fields3').item.json.Fuente, $('Edit Fields1').item.json.Fuente) }}\nFecha: {{ $('Preparar Datos').item.json.fechaInicioMadrid }}","summary":"=Visita — {{ $('Preparar Datos').item.json.nombre }} — {{ $('Preparar Datos').item.json.idealista_id || '' }} — {{ $('Preparar Datos').item.json.direccion || '' }} — {{ $('Preparar Datos').item.json.numero_de_telefono }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-448,448],"id":"cal-create-chatbot","name":"Create an event1","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const nombre = $('Preparar Datos').item.json.nombre || '';\nconst fecha = $('Preparar Datos').item.json.fechaInicioMadrid || '';\nconst direccion = $('Preparar Datos').item.json.direccion || '';\nconst thumbnail = $('Preparar Datos').item.json.thumbnail || '';\n\nconst html = `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <meta name=\"color-scheme\" content=\"light only\" />\n  <title>Visita Confirmada — Simarro Properties</title>\n  <style type=\"text/css\">\n    body { margin:0; padding:0; background-color:#0F1715; font-family:Arial,Helvetica,sans-serif; }\n    table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }\n    img { display:block; border:0; height:auto; outline:none; text-decoration:none; }\n    @media only screen and (max-width:620px) {\n      .outer { width:100% !important; }\n      .inner-pad { padding:24px 20px !important; }\n      .head-title { font-size:32px !important; }\n      .hero-cell { height:200px !important; }\n      .hero-band { padding:30px 0 !important; }\n      .hero-logo { width:96px !important; }\n      .data-body { padding:20px !important; }\n      .footer-pad { padding:28px 20px !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0F1715;font-family:Arial,Helvetica,sans-serif;\">\n  <center style=\"width:100%;background-color:#0F1715;padding:32px 0;\">\n    <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"outer\" style=\"width:100%;max-width:620px;background-color:#ffffff;border-radius:6px;overflow:hidden;box-shadow:0 20px 60px -20px rgba(0,0,0,0.55);\">\n      <tr>\n        <td style=\"background-color:#0A1512;padding:14px 32px;\">\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n            <tr>\n              <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;letter-spacing:4px;color:#1F9D6E;text-transform:uppercase;font-weight:bold;\">Inmobiliaria &amp; Inversión</td>\n              <td align=\"right\" style=\"font-family:Georgia,serif;font-size:11px;font-style:italic;color:#4A7A66;letter-spacing:2px;\">Visita programada</td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n      <tr>\n        <td class=\"hero-cell\" align=\"center\" valign=\"middle\" bgcolor=\"#0F1715\" background=\"https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/Simarro_header.png\" height=\"300\" style=\"height:300px;background-image:url('https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/Simarro_header.png');background-position:center center;background-repeat:no-repeat;background-size:cover;background-color:#0F1715;\">\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n            <tr>\n              <td class=\"hero-band\" align=\"center\" valign=\"middle\" style=\"padding:40px 0;background-color:rgba(10,21,18,0.52);\">\n                <img class=\"hero-logo\" src=\"https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/logo_simarro_properties.png\" alt=\"Simarro Properties\" width=\"120\" style=\"display:block;width:120px;max-width:38%;height:auto;margin:0 auto;\" />\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" class=\"inner-pad\" style=\"padding:32px 44px 0 44px;background-color:#ffffff;\">\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n            <tr>\n              <td style=\"width:40px;height:1px;background-color:#1F9D6E;font-size:1px;\">&nbsp;</td>\n              <td style=\"padding:0 12px;font-family:Georgia,serif;font-size:11px;font-style:italic;color:#0F4A38;letter-spacing:3px;text-transform:uppercase;\">Inmobiliaria de inversión</td>\n              <td style=\"width:40px;height:1px;background-color:#1F9D6E;font-size:1px;\">&nbsp;</td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:5px;text-transform:uppercase;font-weight:bold;margin:0 0 10px 0;\">Visita programada</p>\n          <h1 class=\"head-title\" style=\"font-family:Georgia,serif;font-size:42px;font-weight:normal;color:#0F1715;margin:0;line-height:1.05;letter-spacing:-1px;\">Tu próxima <em style=\"font-style:italic;color:#0F4A38;\">inversión</em><br/>te espera.</h1>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" class=\"inner-pad\" style=\"padding:18px 56px 0 56px;background-color:#ffffff;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.7;color:#3F5651;margin:0;\">Hola, <strong style=\"color:#0F1715;\">${nombre}</strong>. Tu visita con Simarro Properties ha sido programada. Te contactaremos para confirmar el agente que te acompañará.</p>\n        </td>\n      </tr>\n      <tr>\n        <td class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#EBF5F0;border-radius:2px;border-left:3px solid #1F9D6E;\">\n            <tr>\n              <td class=\"data-body\" style=\"padding:24px 28px;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                  <tr>\n                    <td style=\"padding:0 0 14px 0;\">\n                      <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Fecha &amp; Hora</p>\n                      <p style=\"font-family:Georgia,serif;font-size:20px;color:#0F1715;margin:0;line-height:1.25;\">${fecha}</p>\n                    </td>\n                  </tr>\n                </table>\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-top:1px solid #C8E0D4;\">\n                  <tr>\n                    <td style=\"padding:14px 0 0 0;\">\n                      <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Tipo de visita</p>\n                      <p style=\"font-family:Georgia,serif;font-size:20px;color:#0F1715;margin:0;line-height:1.25;\">Visita a propiedad</p>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n\n      <!-- Propiedad (solo si hay dirección) -->\n      ${direccion ? `\n      <tr>\n        <td class=\"inner-pad\" style=\"padding:16px 44px 0 44px;background-color:#ffffff;\">\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#EBF5F0;border-radius:2px;border-left:3px solid #1F9D6E;\">\n            <tr>\n              <td class=\"data-body\" style=\"padding:24px 28px;\">\n                ''\n                <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Propiedad a visitar</p>\n                <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.35;\">${direccion}</p>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>` : ''}\n      <tr>\n        <td class=\"inner-pad\" style=\"padding:20px 44px 0 44px;background-color:#ffffff;\">\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#EBF5F0;border-radius:2px;border-left:3px solid #1F9D6E;\">\n            <tr>\n              <td class=\"data-body\" style=\"padding:24px 28px;\">\n                <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 8px 0;\">Te esperamos</p>\n                <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.4;\">Estaremos encantados de recibirte y enseñarte la propiedad sin prisas. Si te surge cualquier duda antes de la visita, escríbenos o llámanos: queremos que vengas tranquilo y con toda la información que necesites.</p>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" style=\"padding:24px 44px 4px 44px;background-color:#ffffff;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;font-weight:bold;color:#4A7A66;margin:0;\">\n            <a href=\"tel:+34910054675\" style=\"color:#0F4A38;text-decoration:none;border-bottom:1px solid #1F9D6E;padding-bottom:2px;\">Contactar con tu agente · <span style=\"white-space:nowrap;\">910&nbsp;054&nbsp;675</span></a>\n          </p>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" style=\"padding:30px 56px 24px 56px;background-color:#ffffff;\">\n          <p style=\"font-family:Georgia,serif;font-size:19px;font-style:italic;color:#0F4A38;line-height:1.5;margin:0;\">&ldquo;Cada propiedad es una oportunidad,<br/>cada cliente, una historia<br/>que merece la mejor decisión.&rdquo;</p>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" class=\"footer-pad\" style=\"background-color:#0A1512;padding:36px 44px;\">\n          <p style=\"font-family:Georgia,serif;font-size:28px;font-style:italic;color:#FFFFFF;margin:0;letter-spacing:0.5px;\">Simarro <span style=\"color:#1F9D6E;font-style:italic;\">Properties</span></p>\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0;\">\n            <tr>\n              <td style=\"width:28px;height:1px;background-color:#1F9D6E;font-size:1px;\">&nbsp;</td>\n              <td style=\"padding:0 10px;font-family:Georgia,serif;font-size:10px;color:#4A7A66;\">&diams;</td>\n              <td style=\"width:28px;height:1px;background-color:#1F9D6E;font-size:1px;\">&nbsp;</td>\n            </tr>\n          </table>\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4A7A66;letter-spacing:1px;margin:0 0 6px 0;\">Inmobiliaria &amp; Inversión</p>\n          <p style=\"margin:0;\">\n            <a href=\"https://simarroproperties.com\" target=\"_blank\" style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;text-decoration:none;font-weight:bold;letter-spacing:2px;text-transform:uppercase;border-bottom:1px solid #1F9D6E;padding-bottom:2px;\">www.simarroproperties.com</a>\n          </p>\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#1F9D6E;letter-spacing:2px;text-transform:uppercase;margin:18px 0 0 0;line-height:1.7;\">Este correo se generó automáticamente<br/>tras programar tu visita.</p>\n        </td>\n      </tr>\n    </table>\n  </center>\n</body>\n</html>`;\n\nreturn [{ json: { html, subject: 'Tu visita en Simarro Properties está confirmada' } }];"},"id":"build-email-html-simarro","name":"Build Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,448]},{"parameters":{"jsCode":"const ef3 = $('Edit Fields3').item.json;\nconst leadResp = $input.first().json;\nconst leadId = leadResp._embedded.leads[0].id;\n// Si hay contacto previo con lead WA, usar ese lead para el salesbot (tiene conversación WA)\nlet salesbotLeadId = leadId;\ntry {\n  const contactData = $('Code in JavaScript1').item.json;\n  const pc = contactData && contactData.primer_contacto;\n  if (pc && pc._embedded && Array.isArray(pc._embedded.leads) && pc._embedded.leads.length > 0) {\n    salesbotLeadId = pc._embedded.leads[0].id;\n  }\n} catch(e) {}\n\nconst fechaStr = ef3['Fecha preferida'];\nlet fecha;\nif (!fechaStr) throw new Error('Fecha preferida vacía');\nif (fechaStr.includes('+') || fechaStr.includes('Z')) {\n  fecha = new Date(fechaStr);\n} else {\n  const mes = new Date(fechaStr).getMonth();\n  const offset = (mes >= 2 && mes <= 9) ? '+02:00' : '+01:00';\n  fecha = new Date(fechaStr + offset);\n}\nconst segundos = Math.floor(fecha.getTime() / 1000);\nconst fechaInicioISO = fecha.toISOString();\nconst fechaFin = new Date(fecha.getTime() + 30 * 60 * 1000);\nconst fechaFinISO = fechaFin.toISOString();\nconst fechaInicioMadrid = fecha.toLocaleString('es-ES', {\n  timeZone: 'Europe/Madrid', weekday: 'long', year: 'numeric',\n  month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit'\n});\nreturn [{ json: {\n  leadId,\n  salesbotLeadId,\n  nombre: ef3.nombre || '',\n  telefono: ef3.telefono || ef3['numero de telefono'] || '',\n  idealista_id: ef3.idealista_id || '',\n  direccion: ef3.direccion || '',\n  thumbnail: ef3.thumbnail || '',\n  segundos, fechaInicioISO, fechaFinISO, fechaInicioMadrid\n}}];"},"id":"preparar-datos-retell","name":"Preparar Datos Retell","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,-528]},{"parameters":{"method":"PATCH","url":"=https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  JSON.stringify([{\n    id: $json.leadId,\n    status_id: 105137095,\n    pipeline_id: 13546071,\n    custom_fields_values: (function() {\n      const cf = [\n        { field_id: 1330871, values: [{ value: $json.segundos }] },\n        { field_id: 1372569, values: [{ value: \"Agente de voz\" }] }\n      ];\n      if ($json.idealista_id) cf.push({ field_id: 1373305, values: [{ value: String($json.idealista_id) }] });\n      if ($json.direccion)    cf.push({ field_id: 1373349, values: [{ value: $json.direccion }] });\n      return cf;\n    })()\n  }])\n}}","options":{}},"id":"update-lead-retell","name":"Update Lead Retell","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,-528],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"continueOnFail":true},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('RPC Cal Retell').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"start":"={{ $('Preparar Datos Retell').item.json.fechaInicioISO }}","end":"={{ $('Preparar Datos Retell').item.json.fechaFinISO }}","additionalFields":{"description":"=Lead ID: {{ $('Preparar Datos Retell').item.json.leadId }}\nTeléfono: {{ $('Preparar Datos Retell').item.json.telefono }}\nFuente: Agente de voz\nFecha: {{ $('Preparar Datos Retell').item.json.fechaInicioMadrid }}","summary":"=Visita — {{ $('Preparar Datos Retell').item.json.nombre }} — {{ $('Preparar Datos Retell').item.json.idealista_id || '' }} — {{ $('Preparar Datos Retell').item.json.direccion || '' }} — {{ $('Preparar Datos Retell').item.json.telefono }}"}},"id":"create-event-retell","name":"Create Calendar Retell","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[672,-416],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}}},{"parameters":{"method":"POST","url":"=https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{\n  \"bot_id\": 87865,\n  \"entity_id\": {{ $('Preparar Datos Retell').item.json.salesbotLeadId }},\n  \"entity_type\": 2\n}]","options":{}},"id":"salesbot-wa-retell","name":"Send WA Confirmation Retell","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,-400],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"disabled":true,"continueOnFail":true},{"parameters":{"jsCode":"// Componer Confirmación v2 — Reservar_crm response\n// Genera confirmation_text hablable. La fecha se interpreta como hora local Madrid\n// directamente (sin reconversión TZ) cuando viene en formato \"YYYY-MM-DD HH:MM\".\n\nconst ef3 = $('Edit Fields3').item.json;\nconst upstream = $input.first().json;\nconst lead_id = upstream?._embedded?.leads?.[0]?.id ?? null;\n\nfunction numberToWords(n) {\n  const map = {1:'uno',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete',8:'ocho',9:'nueve',\n    10:'diez',11:'once',12:'doce',13:'trece',14:'catorce',15:'quince',16:'dieciséis',17:'diecisiete',\n    18:'dieciocho',19:'diecinueve',20:'veinte',21:'veintiuno',22:'veintidós',23:'veintitrés',\n    24:'veinticuatro',25:'veinticinco',26:'veintiséis',27:'veintisiete',28:'veintiocho',29:'veintinueve',\n    30:'treinta',31:'treinta y uno'};\n  return map[n] || String(n);\n}\nfunction hourWord(h){const m={1:'una',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete',8:'ocho',9:'nueve',10:'diez',11:'once',12:'doce'};return m[h];}\nfunction minuteWord(m){\n  const u=['','uno','dos','tres','cuatro','cinco','seis','siete','ocho','nueve'];\n  const t={10:'diez',11:'once',12:'doce',13:'trece',14:'catorce',16:'dieciséis',17:'diecisiete',18:'dieciocho',19:'diecinueve',20:'veinte',21:'veintiuno',22:'veintidós',23:'veintitrés',24:'veinticuatro',25:'veinticinco',26:'veintiséis',27:'veintisiete',28:'veintiocho',29:'veintinueve'};\n  if(m<10) return u[m];\n  return t[m]||String(m);\n}\nfunction timeToWords(h24,m){\n  let h=h24%12;\n  if(h===0) h=12;\n  const article=th=>th===1?'a la':'a las';\n  if(m===0) return `${article(h)} ${hourWord(h)}`;\n  if(m===15) return `${article(h)} ${hourWord(h)} y cuarto`;\n  if(m===30) return `${article(h)} ${hourWord(h)} y media`;\n  if(m===45){let nh=h+1;if(nh>12)nh=1;return `${article(nh)} ${hourWord(nh)} menos cuarto`;}\n  if(m<30) return `${article(h)} ${hourWord(h)} y ${minuteWord(m)}`;\n  let nh=h+1;if(nh>12)nh=1;\n  return `${article(nh)} ${hourWord(nh)} menos ${minuteWord(60-m)}`;\n}\nfunction dayPart(h24){\n  if(h24>=6 && h24<13) return 'de la mañana';\n  if(h24>=13 && h24<21) return 'de la tarde';\n  return 'de la noche';\n}\nfunction splitAddress(s){\n  if(!s||typeof s!=='string') return {calle:'', municipio:''};\n  s = s.trim();\n  // Quitar prefijos tipo \"Chalet en \", \"Piso en \", \"Ático en \"\n  s = s.replace(/^(chalet|piso|ático|atico|casa|apartamento|estudio|dúplex|duplex|loft|adosado|pareado)\\s+en\\s+/i, '');\n  const cpMatch = s.match(/\\b(\\d{5})\\b/);\n  if(!cpMatch){\n    return {calle: s.replace(/[,\\s]+$/,'').trim(), municipio:''};\n  }\n  const cpIdx = cpMatch.index;\n  const before = s.slice(0,cpIdx).replace(/[,\\s]+$/,'').trim();\n  const after = s.slice(cpIdx+5).replace(/^[,\\s]+/,'').trim();\n  const municipio = after.split(',')[0].replace(/^de\\s+/i,'').trim();\n  const calle = before.split(',')[0].trim();\n  return {calle, municipio};\n}\nfunction firstName(full){\n  if(!full) return '';\n  const t = String(full).trim().replace(/\\s+/g,' ').split(' ')[0];\n  return t? t.charAt(0).toUpperCase()+t.slice(1).toLowerCase():'';\n}\nfunction weekdayName(y, mo, d){\n  // Calendar weekday — usar UTC para evitar shift de TZ del runner.\n  const dt = new Date(Date.UTC(y, mo-1, d));\n  const names = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\n  return names[dt.getUTCDay()];\n}\nfunction parseInputDate(input){\n  // Devuelve {y, mo, d, h, mi} con la hora YA en local Madrid (sin reconversión).\n  if(!input || typeof input !== 'string') throw new Error('fecha vacía');\n  const s = input.trim();\n  // Caso 1: \"YYYY-MM-DD HH:MM\" o \"YYYY-MM-DDTHH:MM\" (sin offset, sin Z)\n  const m = s.match(/^(\\d{4})-(\\d{2})-(\\d{2})[T ](\\d{2}):(\\d{2})(?::\\d{2})?$/);\n  if(m){\n    return { y:+m[1], mo:+m[2], d:+m[3], h:+m[4], mi:+m[5] };\n  }\n  // Caso 2: con offset/Z → parsear y convertir a Madrid via Intl\n  const dt = new Date(s);\n  if(isNaN(dt.getTime())) throw new Error('fecha inválida: '+input);\n  const fmt = new Intl.DateTimeFormat('en-GB', {\n    timeZone: 'Europe/Madrid',\n    year:'numeric', month:'2-digit', day:'2-digit',\n    hour:'2-digit', minute:'2-digit', hour12:false\n  });\n  const p = fmt.formatToParts(dt).reduce((a,x)=>{a[x.type]=x.value; return a;}, {});\n  return { y:+p.year, mo:+p.month, d:+p.day, h:+p.hour, mi:+p.minute };\n}\n\nconst fallbackText = 'Genial, lo dejo cerrado. Te mando ahora la confirmación por WhatsApp.';\n\nlet confirmation_text = fallbackText;\nlet dbg = {};\ntry {\n  const {y, mo, d, h, mi} = parseInputDate(ef3['Fecha preferida']);\n  const weekday = weekdayName(y, mo, d);\n  const fn = firstName(ef3['nombre']);\n  const time = timeToWords(h, mi);\n  const part = dayPart(h);\n  const {calle, municipio} = splitAddress(ef3['direccion']||'');\n  const dayNum = numberToWords(d);\n\n  let lugar = '';\n  if (calle && municipio) lugar = `, en ${calle}, ${municipio}`;\n  else if (calle) lugar = `, en ${calle}`;\n\n  confirmation_text = `Perfecto, ${fn}. Te confirmo: ${weekday} ${dayNum}, ${time} ${part}${lugar}. Te mando ahora la confirmación por WhatsApp.`;\n  dbg = {weekday, dayNum, time, part, calle, municipio, fn, h, mi, raw_fecha: ef3['Fecha preferida']};\n} catch(e) {\n  dbg = {error: String(e.message||e), raw_fecha: ef3['Fecha preferida']};\n}\n\nreturn [{json: {ok:true, lead_id, confirmation_text, debug: dbg}}];\n"},"id":"componer-confirmacion-A","name":"Componer Confirmación A","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,-96]},{"parameters":{"jsCode":"// Componer Confirmación v2 — Reservar_crm response\n// Genera confirmation_text hablable. La fecha se interpreta como hora local Madrid\n// directamente (sin reconversión TZ) cuando viene en formato \"YYYY-MM-DD HH:MM\".\n\nconst ef3 = $('Edit Fields3').item.json;\nconst upstream = $input.first().json;\nconst lead_id = upstream?._embedded?.leads?.[0]?.id ?? null;\n\nfunction numberToWords(n) {\n  const map = {1:'uno',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete',8:'ocho',9:'nueve',\n    10:'diez',11:'once',12:'doce',13:'trece',14:'catorce',15:'quince',16:'dieciséis',17:'diecisiete',\n    18:'dieciocho',19:'diecinueve',20:'veinte',21:'veintiuno',22:'veintidós',23:'veintitrés',\n    24:'veinticuatro',25:'veinticinco',26:'veintiséis',27:'veintisiete',28:'veintiocho',29:'veintinueve',\n    30:'treinta',31:'treinta y uno'};\n  return map[n] || String(n);\n}\nfunction hourWord(h){const m={1:'una',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete',8:'ocho',9:'nueve',10:'diez',11:'once',12:'doce'};return m[h];}\nfunction minuteWord(m){\n  const u=['','uno','dos','tres','cuatro','cinco','seis','siete','ocho','nueve'];\n  const t={10:'diez',11:'once',12:'doce',13:'trece',14:'catorce',16:'dieciséis',17:'diecisiete',18:'dieciocho',19:'diecinueve',20:'veinte',21:'veintiuno',22:'veintidós',23:'veintitrés',24:'veinticuatro',25:'veinticinco',26:'veintiséis',27:'veintisiete',28:'veintiocho',29:'veintinueve'};\n  if(m<10) return u[m];\n  return t[m]||String(m);\n}\nfunction timeToWords(h24,m){\n  let h=h24%12;\n  if(h===0) h=12;\n  const article=th=>th===1?'a la':'a las';\n  if(m===0) return `${article(h)} ${hourWord(h)}`;\n  if(m===15) return `${article(h)} ${hourWord(h)} y cuarto`;\n  if(m===30) return `${article(h)} ${hourWord(h)} y media`;\n  if(m===45){let nh=h+1;if(nh>12)nh=1;return `${article(nh)} ${hourWord(nh)} menos cuarto`;}\n  if(m<30) return `${article(h)} ${hourWord(h)} y ${minuteWord(m)}`;\n  let nh=h+1;if(nh>12)nh=1;\n  return `${article(nh)} ${hourWord(nh)} menos ${minuteWord(60-m)}`;\n}\nfunction dayPart(h24){\n  if(h24>=6 && h24<13) return 'de la mañana';\n  if(h24>=13 && h24<21) return 'de la tarde';\n  return 'de la noche';\n}\nfunction splitAddress(s){\n  if(!s||typeof s!=='string') return {calle:'', municipio:''};\n  s = s.trim();\n  // Quitar prefijos tipo \"Chalet en \", \"Piso en \", \"Ático en \"\n  s = s.replace(/^(chalet|piso|ático|atico|casa|apartamento|estudio|dúplex|duplex|loft|adosado|pareado)\\s+en\\s+/i, '');\n  const cpMatch = s.match(/\\b(\\d{5})\\b/);\n  if(!cpMatch){\n    return {calle: s.replace(/[,\\s]+$/,'').trim(), municipio:''};\n  }\n  const cpIdx = cpMatch.index;\n  const before = s.slice(0,cpIdx).replace(/[,\\s]+$/,'').trim();\n  const after = s.slice(cpIdx+5).replace(/^[,\\s]+/,'').trim();\n  const municipio = after.split(',')[0].replace(/^de\\s+/i,'').trim();\n  const calle = before.split(',')[0].trim();\n  return {calle, municipio};\n}\nfunction firstName(full){\n  if(!full) return '';\n  const t = String(full).trim().replace(/\\s+/g,' ').split(' ')[0];\n  return t? t.charAt(0).toUpperCase()+t.slice(1).toLowerCase():'';\n}\nfunction weekdayName(y, mo, d){\n  // Calendar weekday — usar UTC para evitar shift de TZ del runner.\n  const dt = new Date(Date.UTC(y, mo-1, d));\n  const names = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\n  return names[dt.getUTCDay()];\n}\nfunction parseInputDate(input){\n  // Devuelve {y, mo, d, h, mi} con la hora YA en local Madrid (sin reconversión).\n  if(!input || typeof input !== 'string') throw new Error('fecha vacía');\n  const s = input.trim();\n  // Caso 1: \"YYYY-MM-DD HH:MM\" o \"YYYY-MM-DDTHH:MM\" (sin offset, sin Z)\n  const m = s.match(/^(\\d{4})-(\\d{2})-(\\d{2})[T ](\\d{2}):(\\d{2})(?::\\d{2})?$/);\n  if(m){\n    return { y:+m[1], mo:+m[2], d:+m[3], h:+m[4], mi:+m[5] };\n  }\n  // Caso 2: con offset/Z → parsear y convertir a Madrid via Intl\n  const dt = new Date(s);\n  if(isNaN(dt.getTime())) throw new Error('fecha inválida: '+input);\n  const fmt = new Intl.DateTimeFormat('en-GB', {\n    timeZone: 'Europe/Madrid',\n    year:'numeric', month:'2-digit', day:'2-digit',\n    hour:'2-digit', minute:'2-digit', hour12:false\n  });\n  const p = fmt.formatToParts(dt).reduce((a,x)=>{a[x.type]=x.value; return a;}, {});\n  return { y:+p.year, mo:+p.month, d:+p.day, h:+p.hour, mi:+p.minute };\n}\n\nconst fallbackText = 'Genial, lo dejo cerrado. Te mando ahora la confirmación por WhatsApp.';\n\nlet confirmation_text = fallbackText;\nlet dbg = {};\ntry {\n  const {y, mo, d, h, mi} = parseInputDate(ef3['Fecha preferida']);\n  const weekday = weekdayName(y, mo, d);\n  const fn = firstName(ef3['nombre']);\n  const time = timeToWords(h, mi);\n  const part = dayPart(h);\n  const {calle, municipio} = splitAddress(ef3['direccion']||'');\n  const dayNum = numberToWords(d);\n\n  let lugar = '';\n  if (calle && municipio) lugar = `, en ${calle}, ${municipio}`;\n  else if (calle) lugar = `, en ${calle}`;\n\n  confirmation_text = `Perfecto, ${fn}. Te confirmo: ${weekday} ${dayNum}, ${time} ${part}${lugar}. Te mando ahora la confirmación por WhatsApp.`;\n  dbg = {weekday, dayNum, time, part, calle, municipio, fn, h, mi, raw_fecha: ef3['Fecha preferida']};\n} catch(e) {\n  dbg = {error: String(e.message||e), raw_fecha: ef3['Fecha preferida']};\n}\n\nreturn [{json: {ok:true, lead_id, confirmation_text, debug: dbg}}];\n"},"id":"componer-confirmacion-B","name":"Componer Confirmación B","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,-832]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"is-web-call","leftValue":"={{ $('Webhook1').item.json.body.call.call_type }}","rightValue":"web_call","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"skip-wa-on-test","name":"Es test?","type":"n8n-nodes-base.if","typeVersion":2,"position":[896,-416]},{"parameters":{"jsCode":"// Componer Confirmación v2 — Reservar_crm response\n// Genera confirmation_text hablable. La fecha se interpreta como hora local Madrid\n// directamente (sin reconversión TZ) cuando viene en formato \"YYYY-MM-DD HH:MM\".\n\nconst ef3 = $input.first().json;\nconst lead_id = null;\n\nfunction numberToWords(n) {\n  const map = {1:'uno',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete',8:'ocho',9:'nueve',\n    10:'diez',11:'once',12:'doce',13:'trece',14:'catorce',15:'quince',16:'dieciséis',17:'diecisiete',\n    18:'dieciocho',19:'diecinueve',20:'veinte',21:'veintiuno',22:'veintidós',23:'veintitrés',\n    24:'veinticuatro',25:'veinticinco',26:'veintiséis',27:'veintisiete',28:'veintiocho',29:'veintinueve',\n    30:'treinta',31:'treinta y uno'};\n  return map[n] || String(n);\n}\nfunction hourWord(h){const m={1:'una',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete',8:'ocho',9:'nueve',10:'diez',11:'once',12:'doce'};return m[h];}\nfunction minuteWord(m){\n  const u=['','uno','dos','tres','cuatro','cinco','seis','siete','ocho','nueve'];\n  const t={10:'diez',11:'once',12:'doce',13:'trece',14:'catorce',16:'dieciséis',17:'diecisiete',18:'dieciocho',19:'diecinueve',20:'veinte',21:'veintiuno',22:'veintidós',23:'veintitrés',24:'veinticuatro',25:'veinticinco',26:'veintiséis',27:'veintisiete',28:'veintiocho',29:'veintinueve'};\n  if(m<10) return u[m];\n  return t[m]||String(m);\n}\nfunction timeToWords(h24,m){\n  let h=h24%12;\n  if(h===0) h=12;\n  const article=th=>th===1?'a la':'a las';\n  if(m===0) return `${article(h)} ${hourWord(h)}`;\n  if(m===15) return `${article(h)} ${hourWord(h)} y cuarto`;\n  if(m===30) return `${article(h)} ${hourWord(h)} y media`;\n  if(m===45){let nh=h+1;if(nh>12)nh=1;return `${article(nh)} ${hourWord(nh)} menos cuarto`;}\n  if(m<30) return `${article(h)} ${hourWord(h)} y ${minuteWord(m)}`;\n  let nh=h+1;if(nh>12)nh=1;\n  return `${article(nh)} ${hourWord(nh)} menos ${minuteWord(60-m)}`;\n}\nfunction dayPart(h24){\n  if(h24>=6 && h24<13) return 'de la mañana';\n  if(h24>=13 && h24<21) return 'de la tarde';\n  return 'de la noche';\n}\nfunction splitAddress(s){\n  if(!s||typeof s!=='string') return {calle:'', municipio:''};\n  s = s.trim();\n  // Quitar prefijos tipo \"Chalet en \", \"Piso en \", \"Ático en \"\n  s = s.replace(/^(chalet|piso|ático|atico|casa|apartamento|estudio|dúplex|duplex|loft|adosado|pareado)\\s+en\\s+/i, '');\n  const cpMatch = s.match(/\\b(\\d{5})\\b/);\n  if(!cpMatch){\n    return {calle: s.replace(/[,\\s]+$/,'').trim(), municipio:''};\n  }\n  const cpIdx = cpMatch.index;\n  const before = s.slice(0,cpIdx).replace(/[,\\s]+$/,'').trim();\n  const after = s.slice(cpIdx+5).replace(/^[,\\s]+/,'').trim();\n  const municipio = after.split(',')[0].replace(/^de\\s+/i,'').trim();\n  const calle = before.split(',')[0].trim();\n  return {calle, municipio};\n}\nfunction firstName(full){\n  if(!full) return '';\n  const t = String(full).trim().replace(/\\s+/g,' ').split(' ')[0];\n  return t? t.charAt(0).toUpperCase()+t.slice(1).toLowerCase():'';\n}\nfunction weekdayName(y, mo, d){\n  // Calendar weekday — usar UTC para evitar shift de TZ del runner.\n  const dt = new Date(Date.UTC(y, mo-1, d));\n  const names = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\n  return names[dt.getUTCDay()];\n}\nfunction parseInputDate(input){\n  // Devuelve {y, mo, d, h, mi} con la hora YA en local Madrid (sin reconversión).\n  if(!input || typeof input !== 'string') throw new Error('fecha vacía');\n  const s = input.trim();\n  // Caso 1: \"YYYY-MM-DD HH:MM\" o \"YYYY-MM-DDTHH:MM\" (sin offset, sin Z)\n  const m = s.match(/^(\\d{4})-(\\d{2})-(\\d{2})[T ](\\d{2}):(\\d{2})(?::\\d{2})?$/);\n  if(m){\n    return { y:+m[1], mo:+m[2], d:+m[3], h:+m[4], mi:+m[5] };\n  }\n  // Caso 2: con offset/Z → parsear y convertir a Madrid via Intl\n  const dt = new Date(s);\n  if(isNaN(dt.getTime())) throw new Error('fecha inválida: '+input);\n  const fmt = new Intl.DateTimeFormat('en-GB', {\n    timeZone: 'Europe/Madrid',\n    year:'numeric', month:'2-digit', day:'2-digit',\n    hour:'2-digit', minute:'2-digit', hour12:false\n  });\n  const p = fmt.formatToParts(dt).reduce((a,x)=>{a[x.type]=x.value; return a;}, {});\n  return { y:+p.year, mo:+p.month, d:+p.day, h:+p.hour, mi:+p.minute };\n}\n\nconst fallbackText = 'Genial, lo dejo cerrado. Te mando ahora la confirmación por WhatsApp.';\n\nlet confirmation_text = fallbackText;\nlet dbg = {};\ntry {\n  const {y, mo, d, h, mi} = parseInputDate(ef3['Fecha preferida']);\n  const weekday = weekdayName(y, mo, d);\n  const fn = firstName(ef3['nombre']);\n  const time = timeToWords(h, mi);\n  const part = dayPart(h);\n  const {calle, municipio} = splitAddress(ef3['direccion']||'');\n  const dayNum = numberToWords(d);\n\n  let lugar = '';\n  if (calle && municipio) lugar = `, en ${calle}, ${municipio}`;\n  else if (calle) lugar = `, en ${calle}`;\n\n  confirmation_text = `Perfecto, ${fn}. Te confirmo: ${weekday} ${dayNum}, ${time} ${part}${lugar}. Te mando ahora la confirmación por WhatsApp.`;\n  dbg = {weekday, dayNum, time, part, calle, municipio, fn, h, mi, raw_fecha: ef3['Fecha preferida']};\n} catch(e) {\n  dbg = {error: String(e.message||e), raw_fecha: ef3['Fecha preferida']};\n}\n\nreturn [{json: {ok:true, lead_id, confirmation_text, debug: dbg}}];\n"},"id":"componer-fast","name":"Componer Confirmación FAST","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2240,-640]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}},"id":"respond-fast","name":"Respond FAST","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-2016,-640]},{"parameters":{"method":"POST","url":"http://simarro-pre0225supabase-f93ff3-185-47-13-169.traefik.me/rest/v1/rpc/resolve_property_calendar","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/vnd.pgrst.object+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_idealista_id: ($('Edit Fields2').item.json.idealista_id) || '' }) }}","options":{}},"id":"rpc_cal_disp","name":"RPC Cal Disp","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2240,-1248],"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://simarro-pre0225supabase-f93ff3-185-47-13-169.traefik.me/rest/v1/rpc/resolve_property_calendar","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/vnd.pgrst.object+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_idealista_id: ($('Preparar Datos').item.json.idealista_id) || '' }) }}","options":{}},"id":"rpc_cal_wa","name":"RPC Cal WA","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1568,288],"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://simarro-pre0225supabase-f93ff3-185-47-13-169.traefik.me/rest/v1/rpc/resolve_property_calendar","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/vnd.pgrst.object+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_idealista_id: ($('Preparar Datos Retell').item.json.idealista_id) || '' }) }}","options":{}},"id":"rpc_cal_retell","name":"RPC Cal Retell","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-448,-528],"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"kSgDVB8miWnvQFOJ","mode":"id","cachedResultName":"Calc_Disponibilidad"},"options":{}},"id":"22222222-bbbb-4bbb-8bbb-000000000001","name":"Calc Listar","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1568,-1248]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('RPC Cal WA').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"returnAll":true,"timeMin":"={{ DateTime.fromISO($('Preparar Datos').item.json.fechaInicioISO).setZone(\"Europe/Madrid\").startOf(\"day\").toISO() }}","timeMax":"={{ DateTime.fromISO($('Preparar Datos').item.json.fechaInicioISO).setZone(\"Europe/Madrid\").endOf(\"day\").toISO() }}","options":{}},"id":"44440001-aaaa-4aaa-8aaa-000000000001","name":"Recheck Get WA","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-1344,288],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pd=$('Preparar Datos').item.json;\nconst eventos=$input.all().map(i=>i.json).filter(e=>e&&e.start);\nreturn [{json:{modo:'validar',start:pd.fechaInicioISO,idealista_id:(pd.idealista_id||'').toString(),eventos}}];"},"id":"44440001-aaaa-4aaa-8aaa-000000000002","name":"Prep Validar WA","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,288],"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"kSgDVB8miWnvQFOJ","mode":"id","cachedResultName":"Calc_Disponibilidad"},"options":{}},"id":"44440001-aaaa-4aaa-8aaa-000000000003","name":"Calc Validar WA","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-896,288],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"44440001-aaaa-4aaa-8aaa-000000000004-c","leftValue":"={{ $json.motivo }}","rightValue":"slot_ocupado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"44440001-aaaa-4aaa-8aaa-000000000004","name":"IF ocupado WA","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-672,288]},{"parameters":{},"id":"44440001-aaaa-4aaa-8aaa-000000000005","name":"Slot Ocupado WA","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-448,272]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('RPC Cal Retell').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"returnAll":true,"timeMin":"={{ DateTime.fromISO($('Preparar Datos Retell').item.json.fechaInicioISO).setZone(\"Europe/Madrid\").startOf(\"day\").toISO() }}","timeMax":"={{ DateTime.fromISO($('Preparar Datos Retell').item.json.fechaInicioISO).setZone(\"Europe/Madrid\").endOf(\"day\").toISO() }}","options":{}},"id":"44440002-aaaa-4aaa-8aaa-000000000001","name":"Recheck Get Retell","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-224,-528],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pd=$('Preparar Datos Retell').item.json;\nconst eventos=$input.all().map(i=>i.json).filter(e=>e&&e.start);\nreturn [{json:{modo:'validar',start:pd.fechaInicioISO,idealista_id:(pd.idealista_id||'').toString(),eventos}}];"},"id":"44440002-aaaa-4aaa-8aaa-000000000002","name":"Prep Validar Retell","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-528],"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"kSgDVB8miWnvQFOJ","mode":"id","cachedResultName":"Calc_Disponibilidad"},"options":{}},"id":"44440002-aaaa-4aaa-8aaa-000000000003","name":"Calc Validar Retell","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[224,-528],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"44440002-aaaa-4aaa-8aaa-000000000004-c","leftValue":"={{ $json.motivo }}","rightValue":"slot_ocupado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"44440002-aaaa-4aaa-8aaa-000000000004","name":"IF ocupado Retell","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,-528]},{"parameters":{},"id":"44440002-aaaa-4aaa-8aaa-000000000005","name":"Slot Ocupado Retell","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,-624]},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v4/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"text\": \"Visita — \" + ($('Preparar Datos').item.json.direccion || ''), \"complete_till\": Math.round(new Date($('Preparar Datos').item.json.fechaInicioISO).getTime()/1000), \"entity_id\": Number($('Preparar Datos').item.json.Lead_id), \"entity_type\": \"leads\", \"responsible_user_id\": 15113339, \"task_type_id\": 2 }]","options":{}},"id":"crear-tarea-visita-wa-uuid","name":"Crear tarea visita WA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-408,608],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v4/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"text\": \"Visita — \" + ($('Preparar Datos Retell').item.json.direccion || ''), \"complete_till\": Math.round(new Date($('Preparar Datos Retell').item.json.fechaInicioISO).getTime()/1000), \"entity_id\": Number($('Preparar Datos Retell').item.json.leadId), \"entity_type\": \"leads\", \"responsible_user_id\": 15113339, \"task_type_id\": 2 }]","options":{}},"id":"crear-tarea-visita-retell-uuid","name":"Crear tarea visita Retell","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[712,-256],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"function buildEmail(p) {\n  const accent = p.accent || '#1F9D6E';\n  const accentDark = p.accentDark || '#0F4A38';\n  const accentLight = p.accentLight || '#EBF5F0';\n  const accentBorder = p.accentBorder || '#C8E0D4';\n  const headerTagBg = p.headerTagBg || '#0A1512';\n  const headerTagFg = p.headerTagFg || '#1F9D6E';\n  const heroBg = p.heroBg || '#0F1715';\n  const headerImg = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/Simarro_header.png';\n  const logoImg   = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/logo_simarro_properties.png';\n\n  const dataRows = (p.dataBlocks || []).map((b, i) => `\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" ${i>0?`style=\"border-top:1px solid ${accentBorder};\"`:''}>\n      <tr><td style=\"padding:${i>0?'14px':'0'} 0 ${i===p.dataBlocks.length-1?0:14}px 0;\">\n        <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">${b.label}</p>\n        <p style=\"font-family:Georgia,serif;font-size:${b.big?20:18}px;color:#0F1715;margin:0;line-height:1.25;word-break:break-word;overflow-wrap:break-word;\">${b.value}</p>\n      </td></tr>\n    </table>`).join('');\n\n  const propertyBlock = p.property ? `\n    <tr><td class=\"inner-pad\" style=\"padding:16px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          ${p.property.thumbnail ? `<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:16px;\"><tr><td><img src=\"${p.property.thumbnail}\" alt=\"Propiedad\" width=\"540\" style=\"display:block;width:100%;max-width:540px;height:auto;border-radius:2px;margin:0 auto;\" /></td></tr></table>` : ''}\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Propiedad</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.35;\">${p.property.direccion || ''}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const bottomBlock = p.bottom ? `\n    <tr><td class=\"inner-pad\" style=\"padding:20px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 8px 0;\">${p.bottom.label}</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.4;\">${p.bottom.text}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const ctaBlock = p.ctaTel ? `\n    <tr><td align=\"center\" style=\"padding:24px 44px 4px 44px;background-color:#ffffff;\">\n      <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;font-weight:bold;color:#4A7A66;margin:0;\">\n        <a href=\"tel:${p.ctaTel.replace(/\\s/g,'')}\" style=\"color:${accentDark};text-decoration:none;border-bottom:1px solid ${accent};padding-bottom:2px;\">${p.ctaLabel || 'Contactar · ' + p.ctaTel}</a>\n      </p>\n    </td></tr>` : '';\n\n  const quote = p.quote !== null\n    ? `<tr><td align=\"center\" style=\"padding:30px 56px 24px 56px;background-color:#ffffff;\">\n        <p style=\"font-family:Georgia,serif;font-size:19px;font-style:italic;color:${accentDark};line-height:1.5;margin:0;\">${p.quote || '&ldquo;Cada propiedad es una oportunidad,<br/>cada cliente, una historia<br/>que merece la mejor decisión.&rdquo;'}</p>\n      </td></tr>`\n    : '';\n\n  const footerNote = p.footerNote || 'Este correo se generó automáticamente.';\n\n  return `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\"><head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n<meta name=\"color-scheme\" content=\"light only\" />\n<title>${p.subject || 'Simarro Properties'}</title>\n<style type=\"text/css\">\nbody { margin:0; padding:0; background-color:${heroBg}; font-family:Arial,Helvetica,sans-serif; }\ntable { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }\nimg { display:block; border:0; height:auto; outline:none; text-decoration:none; }\n@media only screen and (max-width:620px) { .outer{width:100%!important;} .inner-pad{padding:24px 20px!important;} .head-title{font-size:32px!important;} .hero-cell{height:200px!important;} .hero-band{padding:30px 0!important;} .hero-logo{width:96px!important;} .data-body{padding:20px!important;} .footer-pad{padding:28px 20px!important;} }\n</style></head>\n<body style=\"margin:0;padding:0;background-color:${heroBg};font-family:Arial,Helvetica,sans-serif;\">\n<center style=\"width:100%;background-color:${heroBg};padding:32px 0;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"outer\" style=\"width:100%;max-width:620px;background-color:#ffffff;border-radius:6px;overflow:hidden;box-shadow:0 20px 60px -20px rgba(0,0,0,0.55);\">\n<tr><td style=\"background-color:${headerTagBg};padding:14px 32px;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;letter-spacing:4px;color:${headerTagFg};text-transform:uppercase;font-weight:bold;\">Inmobiliaria &amp; Inversión</td>\n    <td align=\"right\" style=\"font-family:Georgia,serif;font-size:11px;font-style:italic;color:#4A7A66;letter-spacing:2px;\">${p.kickerTop || ''}</td>\n  </tr></table>\n</td></tr>\n<tr><td class=\"hero-cell\" align=\"center\" valign=\"middle\" bgcolor=\"${heroBg}\" background=\"${headerImg}\" height=\"300\" style=\"height:300px;background-image:url('${headerImg}');background-position:center center;background-repeat:no-repeat;background-size:cover;background-color:${heroBg};\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td class=\"hero-band\" align=\"center\" valign=\"middle\" style=\"padding:40px 0;background-color:rgba(10,21,18,0.52);\">\n      <img class=\"hero-logo\" src=\"${logoImg}\" alt=\"Simarro Properties\" width=\"120\" style=\"display:block;width:120px;max-width:38%;height:auto;margin:0 auto;\" />\n    </td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:32px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 12px;font-family:Georgia,serif;font-size:11px;font-style:italic;color:${accentDark};letter-spacing:3px;text-transform:uppercase;\">Inmobiliaria de inversión</td>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:5px;text-transform:uppercase;font-weight:bold;margin:0 0 10px 0;\">${p.kicker || ''}</p>\n  <h1 class=\"head-title\" style=\"font-family:Georgia,serif;font-size:42px;font-weight:normal;color:#0F1715;margin:0;line-height:1.05;letter-spacing:-1px;\">${p.headline || ''}</h1>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:18px 56px 0 56px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.7;color:#3F5651;margin:0;\">${p.intro || ''}</p>\n</td></tr>\n${dataRows ? `<tr><td class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n    <tr><td class=\"data-body\" style=\"padding:24px 28px;\">${dataRows}</td></tr>\n  </table>\n</td></tr>` : ''}\n${propertyBlock}\n${bottomBlock}\n${ctaBlock}\n${quote}\n<tr><td align=\"center\" class=\"footer-pad\" style=\"background-color:${headerTagBg};padding:36px 44px;\">\n  <p style=\"font-family:Georgia,serif;font-size:28px;font-style:italic;color:#FFFFFF;margin:0;letter-spacing:0.5px;\">Simarro <span style=\"color:${accent};font-style:italic;\">Properties</span></p>\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0;\"><tr>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 10px;font-family:Georgia,serif;font-size:10px;color:#4A7A66;\">&diams;</td>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4A7A66;letter-spacing:1px;margin:0 0 6px 0;\">Inmobiliaria &amp; Inversión</p>\n  <p style=\"margin:0;\"><a href=\"https://simarroproperties.com\" target=\"_blank\" style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;text-decoration:none;font-weight:bold;letter-spacing:2px;text-transform:uppercase;border-bottom:1px solid ${accent};padding-bottom:2px;\">www.simarroproperties.com</a></p>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:${accent};letter-spacing:2px;text-transform:uppercase;margin:18px 0 0 0;line-height:1.7;\">${footerNote}</p>\n</td></tr>\n</table></center></body></html>`;\n}\n\n\nconst c = $('Preparar Datos').item.json;\nconst html = buildEmail({\n  subject: 'Nueva visita agendada — Simarro Properties',\n  kickerTop: 'Notificación interna',\n  kicker: 'Visita agendada',\n  headline: `Nueva <em style=\"font-style:italic;color:#0F4A38;\">visita</em><br/>agendada.`,\n  intro: 'Se ha agendado una nueva visita.',\n  dataBlocks: [\n    { label: 'Cliente', value: c.nombre || '-', big: true },\n    { label: 'Fecha & Hora', value: c.fechaInicioMadrid || c.fecha || '-', big: true },\n    { label: 'Teléfono cliente', value: c.telefono || c.phone || '-' },\n    { label: 'Vivienda', value: c.direccion || '-' },\n  ],\n  property: c.direccion ? { direccion: c.direccion, thumbnail: c.thumbnail || null } : null,\n  bottom: { label: 'Recuerda', text: 'Revisa la ficha del lead en Kommo y prepara la visita.' },\n  ctaTel: null, quote: null,\n  footerNote: 'Aviso interno automatico al agendar visita. PENDIENTE: tras migracion 014, to = Ramon + agent_email de RPC Cal WA.'\n});\nreturn [{ json: { html, subject: 'Nueva visita agendada — Simarro Properties' } }];"},"id":"b2c3d4e5-0001-4a1a-9c01-avisovisitabld","name":"Build Email Visita Interna","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,680]},{"parameters":{"fromEmail":"info@simarroproperties.com","toEmail":"m.delmonte.p@gmail.com","subject":"={{ $('Build Email Visita Interna').item.json.subject }}","html":"={{ $('Build Email Visita Interna').item.json.html }}","options":{}},"id":"b2c3d4e5-0002-4a1a-9c01-avisovisitasnd","name":"Email Visita Interna (desactivado)","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-224,680],"credentials":{"smtp":{"id":"my0IFrzKpGNhCs8c","name":"SMTP LEADS Simarro"}},"disabled":true,"onError":"continueRegularOutput","webhookId":"19399e52-06be-471a-9da1-bcbe72d64b12"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Get many events1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Calc Listar","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"RPC Cal Disp","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Pasamos a segundos2","type":"main","index":0},{"node":"Componer Confirmación FAST","type":"main","index":0}]]},"existe contacto?1":{"main":[[{"node":"Create new leads3","type":"main","index":0}],[{"node":"Create new contacts1","type":"main","index":0}]]},"Create new contacts1":{"main":[[{"node":"Create new leads2","type":"main","index":0}]]},"Create new leads2":{"main":[[{"node":"Componer Confirmación B","type":"main","index":0},{"node":"Preparar Datos Retell","type":"main","index":0}]]},"Pasamos a segundos2":{"main":[[{"node":"Get list of contacts1","type":"main","index":0}]]},"Create new leads3":{"main":[[{"node":"Componer Confirmación A","type":"main","index":0},{"node":"Preparar Datos Retell","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Get a call2","type":"main","index":0}]]},"Get list of contacts1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"existe contacto?1","type":"main","index":0}]]},"Get a call3":{"main":[[{"node":"If3","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Insert rows in a table3","type":"main","index":0}],[{"node":"Wait4","type":"main","index":0}]]},"If2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"Wait4","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Get a call2","type":"main","index":0}]]},"If3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"Wait5","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Insert rows in a table1","type":"main","index":0}],[{"node":"Wait5","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Get a call3","type":"main","index":0}]]},"Get a call2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Respond to Webhook3":{"main":[[{"node":"Get a call3","type":"main","index":0}]]},"Preparar Datos":{"main":[[{"node":"RPC Cal WA","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Preparar Datos","type":"main","index":0}]]},"Update leads":{"main":[[{"node":"Update contacts1","type":"main","index":0}]]},"Update contacts1":{"main":[[{"node":"Create an event1","type":"main","index":0}]]},"Send Confirmation Email":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Insert rows in a table3":{"main":[[]]},"Insert rows in a table1":{"main":[[]]},"Create an event1":{"main":[[{"node":"Build Email HTML","type":"main","index":0},{"node":"Crear tarea visita WA","type":"main","index":0},{"node":"Build Email Visita Interna","type":"main","index":0}]]},"Build Email HTML":{"main":[[{"node":"Send Confirmation Email","type":"main","index":0}]]},"Preparar Datos Retell":{"main":[[{"node":"Update Lead Retell","type":"main","index":0}]]},"Update Lead Retell":{"main":[[{"node":"RPC Cal Retell","type":"main","index":0}]]},"Create Calendar Retell":{"main":[[{"node":"Es test?","type":"main","index":0},{"node":"Crear tarea visita Retell","type":"main","index":0}]]},"Componer Confirmación A":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Componer Confirmación B":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Es test?":{"main":[[],[{"node":"Send WA Confirmation Retell","type":"main","index":0}]]},"Componer Confirmación FAST":{"main":[[{"node":"Respond FAST","type":"main","index":0}]]},"Respond FAST":{"main":[[]]},"RPC Cal Disp":{"main":[[{"node":"Get many events1","type":"main","index":0}]]},"RPC Cal WA":{"main":[[{"node":"Recheck Get WA","type":"main","index":0}]]},"RPC Cal Retell":{"main":[[{"node":"Recheck Get Retell","type":"main","index":0}]]},"Calc Listar":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Recheck Get WA":{"main":[[{"node":"Prep Validar WA","type":"main","index":0}]]},"Prep Validar WA":{"main":[[{"node":"Calc Validar WA","type":"main","index":0}]]},"Calc Validar WA":{"main":[[{"node":"IF ocupado WA","type":"main","index":0}]]},"IF ocupado WA":{"main":[[{"node":"Slot Ocupado WA","type":"main","index":0}],[{"node":"Update leads","type":"main","index":0}]]},"Recheck Get Retell":{"main":[[{"node":"Prep Validar Retell","type":"main","index":0}]]},"Prep Validar Retell":{"main":[[{"node":"Calc Validar Retell","type":"main","index":0}]]},"Calc Validar Retell":{"main":[[{"node":"IF ocupado Retell","type":"main","index":0}]]},"IF ocupado Retell":{"main":[[{"node":"Slot Ocupado Retell","type":"main","index":0}],[{"node":"Create Calendar Retell","type":"main","index":0}]]},"Build Email Visita Interna":{"main":[[{"node":"Email Visita Interna (desactivado)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"70418065-c19e-4071-8217-80959381fc16","activeVersionId":"70418065-c19e-4071-8217-80959381fc16","versionCounter":356,"triggerCount":2,"shared":[{"updatedAt":"2026-04-28T10:16:41.075Z","createdAt":"2026-04-28T10:16:41.075Z","role":"workflow:owner","workflowId":"iMoTKZWxYLymGuHF","projectId":"KzDhDvn7gXhn9Jke","project":{"updatedAt":"2026-04-14T19:24:58.568Z","createdAt":"2026-04-14T17:51:20.172Z","id":"KzDhDvn7gXhn9Jke","name":"agentesia madrid <info@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"e11c9a81-3802-42a8-8b75-5d3028942946"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-02T21:48:54.456Z","createdAt":"2026-06-02T21:48:54.456Z","versionId":"70418065-c19e-4071-8217-80959381fc16","workflowId":"iMoTKZWxYLymGuHF","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"nombre"},{"name":"Tipo de servicio"},{"name":"numero de telefono"},{"name":"Fecha preferida"},{"name":"Fuente"},{"name":"Motivo de la consulta"},{"name":"email"},{"name":"contac_id"},{"name":"Lead_id"},{"name":"idealista_id"},{"name":"direccion"},{"name":"thumbnail"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2688,288],"id":"d8dd571d-2295-4085-bd95-212c3cb2f1a7","name":"When Executed by Another Workflow"},{"parameters":{"content":"Extraccion info lead Chatbot IA","height":80},"type":"n8n-nodes-base.stickyNote","position":[-2752,-112],"typeVersion":1,"id":"3431b425-27b8-45d4-aee9-51912ddb66dd","name":"Sticky Note2"},{"parameters":{"content":"Extraccion de info Agente de voz","height":80},"type":"n8n-nodes-base.stickyNote","position":[-2688,-704],"typeVersion":1,"id":"54712457-0deb-489f-910c-8db156ba37c1","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"mirar_disponibilidad","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2688,-1248],"id":"3957f9be-4167-41df-9b1d-e9e0a8cdcd07","name":"Webhook","webhookId":"062b584f-093d-4182-ac26-9ce27f656df0"},{"parameters":{"content":"Ver disponibilidad agente de voz","height":80},"type":"n8n-nodes-base.stickyNote","position":[-2080,-1072],"typeVersion":1,"id":"be9c4197-a377-43fb-8d7d-463702d2bd5b","name":"Sticky Note"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('RPC Cal Disp').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"returnAll":true,"timeMin":"={{ DateTime.fromISO($('Edit Fields2').item.json.after).setZone('Europe/Madrid').startOf('day').toISO() }}","timeMax":"={{ DateTime.fromISO($('Edit Fields2').item.json.after).setZone('Europe/Madrid').endOf('day').toISO() }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-2016,-1248],"id":"06a2276a-af00-4ad0-b28d-2f2669c2d8f9","name":"Get many events1","alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}}},{"parameters":{"jsCode":"// Prep payload para Calc_Disponibilidad (modo listar). NO contiene lógica de negocio.\nconst ef = $('Edit Fields2').item.json;\nconst eventos = $input.all().map(i => i.json).filter(e => e && e.start);\nreturn [{ json: {\n  modo: 'listar',\n  start: ef.after,\n  end: ef.before,\n  idealista_id: (ef.idealista_id || '').toString(),\n  eventos\n} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1792,-1248],"id":"677f0e1f-ce8d-4530-b14e-e509e6619065","name":"Code in JavaScript2"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ mensaje: $json.mensaje, libre: $json.libre, slots: $json.slots, finDeSemana: $json.finDeSemana }) }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-1344,-1248],"id":"56100eca-e4e0-4719-94de-d3a60f257131","name":"Respond to Webhook2"},{"parameters":{"assignments":{"assignments":[{"id":"f0be48bf-5bea-498a-942a-8419d154c2bb","name":"after","value":"={{ $json.body.args.After }}","type":"string"},{"id":"069a1876-4cb6-4762-bce8-8a275235424a","name":"before","value":"={{ $json.body.args.Before }}","type":"string"},{"id":"idealista-ef2","name":"idealista_id","value":"={{ $json.body.args.idealista_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2464,-1248],"id":"626574a8-d139-4755-9c8f-28569ea80450","name":"Edit Fields2"},{"parameters":{"content":"Extraccion info lead Chatbot IA","height":224,"width":150},"type":"n8n-nodes-base.stickyNote","position":[-2720,48],"typeVersion":1,"id":"13b1a36e-2fd7-4da6-9f02-dc4b84ff7b14","name":"Sticky Note3"},{"parameters":{"httpMethod":"POST","path":"Reservar_crm","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2688,-544],"id":"92f6448f-4ae2-480e-916f-048c115dae15","name":"Webhook1","webhookId":"42435c5a-8131-4117-a7bb-5e62d0d28ec1"},{"parameters":{"assignments":{"assignments":[{"id":"0f96569e-aeab-40b5-9f5b-6b2cdc0745e1","name":"nombre","value":"={{ $json.body.args.name }}","type":"string"},{"id":"b70eff04-591b-4956-a701-ab84282d09a2","name":"Tipo de servicio","value":"={{ $json.body.args.service_type }}","type":"string"},{"id":"ada6fcaa-43c4-4b66-8b07-0e55af82a37e","name":"numero de telefono","value":"={{ (() => { const ap = ($json.body.args.phone || ''); const fn = ($json.body.call.from_number || ''); return (ap && !ap.includes('from_number') && !ap.includes('{')) ? ap : fn; })() }}","type":"string"},{"id":"7bd4d30c-f913-4e19-b1a8-da35baf3f079","name":"Fecha preferida","value":"={{ $json.body.args.preferred_date }}","type":"string"},{"id":"7a345039-005c-41b0-bc48-39e3d9a598b7","name":"Fuente","value":"Agente de voz","type":"string"},{"id":"e538f2c9-4bdd-40a1-9668-1c024948201b","name":"motivo de la consulta","value":"={{ $json.body.args.motivo_consulta }}","type":"string"},{"id":"1ea37763-6eef-4196-af94-f52e0df49ff1","name":"telefono","value":"={{ (() => { const ap = ($json.body.args.phone || ''); const fn = ($json.body.call.from_number || ''); return (ap && !ap.includes('from_number') && !ap.includes('{')) ? ap : fn; })() }}","type":"string"},{"id":"idealista_id-field-ef3","name":"idealista_id","value":"={{ $json.body.args.idealista_id }}","type":"string"},{"id":"direccion-field-ef3","name":"direccion","value":"={{ $json.body.args.direccion }}","type":"string"},{"id":"thumbnail-field-ef3","name":"thumbnail","value":"={{ $json.body.args.thumbnail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2464,-544],"id":"4c917fa3-d515-45c6-80e2-972c1d9899de","name":"Edit Fields3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"86a90e2c-2cad-4651-89fa-60ac1cacca1d","leftValue":"={{ $json.existe_contacto }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1568,-448],"id":"aa90df72-3e6b-43b2-99b9-63262bd95582","name":"existe contacto?1"},{"parameters":{"authentication":"longLivedToken","resource":"contacts","operation":"createContacts","collection":{"contact":[{"name":"={{ $('Edit Fields3').item.json.nombre }} ","first_name":"={{ $('Edit Fields3').item.json.nombre }}","custom_fields_values":{"custom_field":[{"data":"{\"id\":1328259,\"type\":\"multitext\"}","value":"={{ (function(p){ if(!p) return ''; p = String(p).trim().replace(/\\s/g,''); if(p.startsWith('+')) return p; if(p.startsWith('0034')) return '+34' + p.slice(4); return '+34' + p; })($('Edit Fields3').item.json['numero de telefono']) }}"},{"data":"{\"id\":1328261,\"type\":\"multitext\"}","value":"={{ $('Edit Fields3').item.json.email }}"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1344,-784],"id":"bb59deac-11e0-4135-8c32-1a09ee7e8542","name":"Create new contacts1","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"createLeads","json":true,"jsonString":"={{\n  JSON.stringify([{\n    name: (($('Edit Fields3').item.json.nombre || 'Lead voz') + ' — ' + ($('Edit Fields3').item.json['Tipo de servicio'] || 'Visita')),\n    status_id: 105137095,\n    pipeline_id: 13546071,\n    _embedded: { contacts: [{ id: $json._embedded.contacts[0].id }] },\n    custom_fields_values: (function() {\n      const ef3 = $('Edit Fields3').item.json;\n      const cf = [\n        { field_id: 1372567, values: [{ value: ef3['motivo de la consulta'] || '' }] },\n        { field_id: 1330871, values: [{ value: $('Pasamos a segundos2').item.json.segundos || 0 }] },\n        { field_id: 1372569, values: [{ value: \"Agente de voz IA\" }] }\n      ];\n      if (ef3.idealista_id) cf.push({ field_id: 1373305, values: [{ value: String(ef3.idealista_id) }] });\n      if (ef3.direccion)    cf.push({ field_id: 1373349, values: [{ value: ef3.direccion }] });\n      return cf;\n    })()\n  }])\n}}"},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1120,-784],"id":"4ac2d41c-3fb0-437c-b644-6e0a3c461de2","name":"Create new leads2","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"jsCode":"const fechaStr = $input.first().json[\"Fecha preferida\"];\n\n// Parsear la fecha de forma explícita considerando la zona horaria de Madrid\nlet fecha;\n\n// Si la fecha ya incluye zona horaria (+01:00 o +02:00), usarla directamente\nif (fechaStr.includes('+') || fechaStr.includes('Z')) {\n  fecha = new Date(fechaStr);\n} else {\n  // Si no tiene zona horaria, agregarla manualmente\n  // Formato esperado: \"2025-10-21T15:30:00\"\n  // Determinar si estamos en horario de verano (CET +01:00) o invierno (CEST +02:00)\n  const testDate = new Date(fechaStr);\n  const mes = testDate.getMonth(); // 0-11\n  \n  // Horario de verano en Europa: último domingo de marzo hasta último domingo de octubre\n  // Para simplificar: marzo-octubre = +02:00, resto = +01:00\n  const esHorarioVerano = mes >= 2 && mes <= 9; // Marzo (2) a Octubre (9)\n  const offset = esHorarioVerano ? '+02:00' : '+01:00';\n  \n  fecha = new Date(fechaStr + offset);\n}\n\n// Convertir a timestamp Unix (segundos)\nconst segundos = Math.floor(fecha.getTime() / 1000);\n\nreturn [\n  { \n    json: { \n      segundos: segundos,\n      debug_fechaOriginal: fechaStr,\n      debug_fechaUTC: fecha.toISOString(),\n      debug_fechaMadrid: fecha.toLocaleString('es-ES', { \n        timeZone: 'Europe/Madrid',\n        dateStyle: 'full',\n        timeStyle: 'long'\n      })\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2240,-448],"id":"4a7effb9-6be8-4866-a281-31cebcf67371","name":"Pasamos a segundos2"},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"createLeads","json":true,"jsonString":"={{\n  JSON.stringify([{\n    name: (($('Edit Fields3').item.json.nombre || 'Lead voz') + ' — ' + ($('Edit Fields3').item.json['Tipo de servicio'] || 'Visita')),\n    status_id: 105137095,\n    pipeline_id: 13546071,\n    _embedded: { contacts: [{ id: $('Code in JavaScript1').item.json.primer_contacto.id }] },\n    custom_fields_values: (function() {\n      const ef3 = $('Edit Fields3').item.json;\n      const cf = [\n        { field_id: 1372567, values: [{ value: ef3['motivo de la consulta'] || '' }] },\n        { field_id: 1330871, values: [{ value: $('Pasamos a segundos2').item.json.segundos || 0 }] },\n        { field_id: 1372569, values: [{ value: \"Agente de voz IA\" }] }\n      ];\n      if (ef3.idealista_id) cf.push({ field_id: 1373305, values: [{ value: String(ef3.idealista_id) }] });\n      if (ef3.direccion)    cf.push({ field_id: 1373349, values: [{ value: ef3.direccion }] });\n      return cf;\n    })()\n  }])\n}}"},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1184,-416],"id":"4e6bd376-bcb9-4cb0-8877-3fb1674e6abe","name":"Create new leads3","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"url":"=https://simarro.kommo.com/api/v4/contacts","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $('Edit Fields3').item.json.telefono }}"},{"name":"with","value":"leads"},{"name":"limit","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2016,-448],"id":"874999c5-ea71-42c2-821d-5ab4dbbddc61","name":"Get list of contacts1","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"jsCode":"// Obtener los datos del nodo anterior \"Get list of contacts\"\nconst contacts = $input.all();\n\n// Inicializar variables\nlet existeContacto = false;\nlet primerContacto = null;\n\n// Verificar si hay datos en la respuesta\nif (contacts.length > 0) {\n  const data = contacts[0].json;\n\n  // Validar estructura del JSON\n  if (data && data._embedded && Array.isArray(data._embedded.contacts)) {\n    const listaContactos = data._embedded.contacts;\n\n    // Verificar si existe algún contacto con ID válido\n    if (listaContactos.length > 0) {\n      const contactoConID = listaContactos.find(c => c.id && typeof c.id === 'number');\n      if (contactoConID) {\n        existeContacto = true;\n        primerContacto = contactoConID;\n      }\n    }\n  }\n}\n\n// Retornar resultado\nreturn [{\n  json: {\n    existe_contacto: existeContacto,\n    cantidad_contactos: primerContacto ? 1 : 0,\n    primer_contacto: primerContacto\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1792,-448],"id":"fbe981aa-10d9-4a20-8293-dceb060df429","name":"Code in JavaScript1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"simarro","mode":"list","cachedResultName":"simarro"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Create new leads3').item.json._embedded.leads[0].id }}","message":"={{ { type: 'human', content: 'El usuario realizó una llamada telefónica. Resumen: ' + $json.call_analysis.call_summary, additional_kwargs: {}, response_metadata: {} } }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-336],"id":"124ad32a-f897-4dbf-8cd6-fa681c0816ec","name":"Insert rows in a table3","credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"simarro","mode":"list","cachedResultName":"simarro"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Create new leads2').item.json._embedded.leads[0].id }}","message":"={{ { type: 'human', content: 'El usuario realizó una llamada telefónica. Resumen: ' + $json.call_analysis.call_summary, additional_kwargs: {}, response_metadata: {} } }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-1024],"id":"2d7a26d4-6b0e-4390-98ad-e4c8df71a76f","name":"Insert rows in a table1","credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","callId":"={{ $('Webhook1').item.json.body.call.call_id }}"},"type":"@retellai/n8n-nodes-retellai.retellAi","typeVersion":1,"position":[-448,-832],"id":"ef8959e3-2cab-47ad-94af-1fc447e7afee","name":"Get a call3","alwaysOutputData":true,"credentials":{"retellAIApi":{"id":"Y57ORIDbjSekLA1T","name":"RetellAI account"}},"onError":"continueRegularOutput"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,-288],"id":"141e94bf-381d-4391-8b9b-85849642d166","name":"Loop Over Items2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"089c3a8f-199f-473e-85cd-747eca35a36b","leftValue":"={{ $json.call_status }}","rightValue":"ended","operator":{"type":"string","operation":"equals"}},{"id":"If2-test-skip","leftValue":"={{ $('Webhook1').item.json.body.call.call_type }}","rightValue":"web_call","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,-160],"id":"90ca27b5-998c-457d-90dd-93debdd71e8e","name":"If2"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,-48],"id":"3d787582-d458-4bc0-8a1d-a523a3105dc6","name":"Wait4","webhookId":"453f41ee-d156-45a3-a5b4-2dc09b650fe1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"089c3a8f-199f-473e-85cd-747eca35a36b","leftValue":"={{ $json.call_status }}","rightValue":"ended","operator":{"type":"string","operation":"equals"}},{"id":"If3-test-skip","leftValue":"={{ $('Webhook1').item.json.body.call.call_type }}","rightValue":"web_call","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,-912],"id":"4c734ae4-d0fa-4b1a-b191-689b4e063343","name":"If3"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,-976],"id":"43431008-7339-4c50-ab04-44227f460afe","name":"Loop Over Items3"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,-736],"id":"f8325133-69c5-4709-ae8c-7cd9e3e82377","name":"Wait5","webhookId":"453f41ee-d156-45a3-a5b4-2dc09b650fe1"},{"parameters":{"operation":"get","callId":"={{ $('Webhook1').item.json.body.call.call_id }}"},"type":"@retellai/n8n-nodes-retellai.retellAi","typeVersion":1,"position":[-448,-96],"id":"cfbdaa65-5e7e-4d97-bc35-311fa0e4e28c","name":"Get a call2","alwaysOutputData":true,"credentials":{"retellAIApi":{"id":"Y57ORIDbjSekLA1T","name":"RetellAI account"}},"onError":"continueRegularOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-672,-96],"id":"c3a83691-3478-4d6c-9b51-edcec362e027","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-672,-832],"id":"79093421-e05c-419b-a27f-072c04fe2900","name":"Respond to Webhook3"},{"parameters":{"jsCode":"\n// Sanitize LLM placeholder leaks (some-xxx, undefined, null strings, empty)\nconst isPlaceholder = (v) => !v || typeof v !== 'string' || /^(some-|<|undefined$|null$|n\\/a$)/i.test(v.trim());\n\nconst input = $input.first().json;\nconst fechaStr = input.Fecha_preferida;\n\n// Parsear la fecha considerando zona horaria de Madrid\nlet fecha;\n\nif (fechaStr.includes('+') || fechaStr.includes('Z')) {\n  fecha = new Date(fechaStr);\n} else {\n  const testDate = new Date(fechaStr);\n  const mes = testDate.getMonth();\n  const esHorarioVerano = mes >= 2 && mes <= 9;\n  const offset = esHorarioVerano ? '+02:00' : '+01:00';\n  fecha = new Date(fechaStr + offset);\n}\n\n// Timestamp Unix (segundos) para Kommo\nconst segundos = Math.floor(fecha.getTime() / 1000);\n\n// ISO 8601 para Google Calendar\nconst fechaInicioISO = fecha.toISOString();\n\n// Fin = inicio + 30 minutos\nconst fechaFin = new Date(fecha.getTime() + 30 * 60 * 1000);\nconst fechaFinISO = fechaFin.toISOString();\n\n// Fecha legible para email\nconst fechaInicioMadrid = fecha.toLocaleString('es-ES', { \n  timeZone: 'Europe/Madrid',\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nconst _idealista = isPlaceholder(input.idealista_id) ? '' : input.idealista_id;\nconst _direccion = isPlaceholder(input.direccion) ? '' : input.direccion;\nconst _thumbnail = isPlaceholder(input.thumbnail) ? '' : input.thumbnail;\nreturn [\n  {\n    json: {\n      ...input,\n      idealista_id: _idealista,\n      direccion: _direccion,\n      thumbnail: _thumbnail,\n      segundos: segundos,\n      fechaInicioISO: fechaInicioISO,\n      fechaFinISO: fechaFinISO,\n      fechaInicioMadrid: fechaInicioMadrid,\n      doctorAsignado: \"Equipo Simarro Properties\",\n      leadName: input.nombre + \"||\" + input.Tipo_de_servicio + \"||\" + input.numero_de_telefono\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2240,288],"id":"e93908ac-ee25-4116-97de-c965a6215a60","name":"Preparar Datos"},{"parameters":{"assignments":{"assignments":[{"id":"0f96569e-aeab-40b5-9f5b-6b2cdc0745e1","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"b70eff04-591b-4956-a701-ab84282d09a2","name":"Tipo_de_servicio","value":"={{ $json[\"Tipo de servicio\"] }}","type":"string"},{"id":"ada6fcaa-43c4-4b66-8b07-0e55af82a37e","name":"numero_de_telefono","value":"={{ $json[\"numero de telefono\"] }}","type":"string"},{"id":"7bd4d30c-f913-4e19-b1a8-da35baf3f079","name":"Fecha_preferida","value":"={{ $json[\"Fecha preferida\"] }}","type":"string"},{"id":"7a345039-005c-41b0-bc48-39e3d9a598b7","name":"Fuente","value":"Chatbot IA","type":"string"},{"id":"e538f2c9-4bdd-40a1-9668-1c024948201b","name":"motivo_de_la_consulta","value":"={{ $json[\"Motivo de la consulta\"] }}","type":"string"},{"id":"53482bd1-cb23-4a1d-bf08-fffd8e945b85","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"91d6925e-9940-4798-bc8d-a1e950a74470","name":"Lead_id","value":"={{ $json.Lead_id }}","type":"string"},{"id":"contact-id-field","name":"contac_id","value":"={{ $json.contac_id }}","type":"string"},{"id":"idealista-id-field","name":"idealista_id","value":"={{ $json.idealista_id }}","type":"string"},{"id":"direccion-field","name":"direccion","value":"={{ $json.direccion }}","type":"string"},{"id":"thumbnail-field-ef1","name":"thumbnail","value":"={{ $json.thumbnail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2464,288],"id":"9b841790-bb70-484f-a530-c159785ef98b","name":"Edit Fields1"},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"updateLeads","json":true,"jsonString":"=[\n  {\n    \"id\": {{ $json.Lead_id }},\n    \"name\": \"{{ $json.leadName }}\",\n    \"status_id\": 105137095,\n    \"pipeline_id\": 13546071,\n    \"custom_fields_values\": [\n      {\"field_id\": 1372567, \"values\": [{\"value\": \"{{ $json.motivo_de_la_consulta }}\"}]},\n      {\"field_id\": 1330871, \"values\": [{\"value\": {{ $json.segundos }}}]},\n      {\"field_id\": 1372569, \"values\": [{\"value\": \"Chatbot IA\"}]},\n      {\"field_id\": 1372575, \"values\": [{\"value\": \"{{ $json.email }}\"}]}\n    ]\n  }\n]"},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-2016,288],"id":"80d757aa-ba44-4bfe-bee6-7b858b51cbf7","name":"Update leads","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"authentication":"longLivedToken","resource":"contacts","operation":"updateContacts","collection":{"contact":[{"id":"={{ $('Preparar Datos').item.json.contac_id }}","name":"={{ $('Preparar Datos').item.json.nombre }}","custom_fields_values":{"custom_field":[{"data":"{\"id\": 1328261, \"type\": \"multitext\"}","value":"={{ $('Preparar Datos').item.json.email }}"},{"data":"{\"id\": 1328259, \"type\": \"multitext\"}","value":"={{ $('Preparar Datos').item.json.numero_de_telefono }}"}]}}]}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1792,288],"id":"bb7abd05-66c4-401b-b680-52c57ec0e50a","name":"Update contacts1","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"fromEmail":"info@simarroproperties.com","toEmail":"={{ $('Preparar Datos').item.json.email }}","subject":"={{ $('Build Email HTML').item.json.subject }}","html":"={{ $('Build Email HTML').item.json.html }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[0,448],"id":"7d8e83d3-9d13-4d13-bc81-c527153a36a2","name":"Send Confirmation Email","webhookId":"dd3e23f1-b38c-4376-a44f-202b88767e66","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"smtp":{"id":"my0IFrzKpGNhCs8c","name":"SMTP LEADS Simarro"}},"continueOnFail":true},{"parameters":{"content":"{{ $('Preparar Datos').item.json.email }},"},"type":"n8n-nodes-base.stickyNote","position":[-2768,448],"typeVersion":1,"id":"c0bd154a-811b-4ff3-86a6-503c7b0b5c24","name":"Sticky Note4"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1vheo5FjaSJqpqLjCVycCWmREw5jztrHd9-lTmzxIvE4","mode":"list","cachedResultName":"Leads Conversion Simarro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vheo5FjaSJqpqLjCVycCWmREw5jztrHd9-lTmzxIvE4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vheo5FjaSJqpqLjCVycCWmREw5jztrHd9-lTmzxIvE4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('When Executed by Another Workflow').item.json.nombre }}","Contact ID":"={{ $('When Executed by Another Workflow').item.json.contac_id }}","Fecha_creacion_lead":"={{ $now.format('dd-MM-yyyy') }}","Email":"={{ $('When Executed by Another Workflow').item.json.email }}","Tipo de servicio":"={{ $('When Executed by Another Workflow').item.json[\"Tipo de servicio\"] }}","Motivo de la consulta":"={{ $('When Executed by Another Workflow').item.json[\"Motivo de la consulta\"] }}","Fecha Cita":"={{ $('Preparar Datos').item.json.fechaInicioMadrid }}","Número de teléfono":"={{ $('When Executed by Another Workflow').item.json[\"numero de telefono\"] }}","Lead ID":"={{ $('When Executed by Another Workflow').item.json.Lead_id }}","Fuente":"Chatbot IA"},"matchingColumns":["Contact ID"],"schema":[{"id":"Fecha_creacion_lead","displayName":"Fecha_creacion_lead","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo de servicio","displayName":"Tipo de servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo de la consulta","displayName":"Motivo de la consulta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha Cita","displayName":"Fecha Cita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número de teléfono","displayName":"Número de teléfono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact ID","displayName":"Contact ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fuente","displayName":"Fuente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,448],"id":"d4ff4da5-2a26-431b-b5ab-0cf9ff985fcd","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"lgEol9bvQdobB5p0","name":"Simarro Sheets"}},"continueOnFail":true},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('RPC Cal WA').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"start":"={{ $('Preparar Datos').item.json.fechaInicioISO }}","end":"={{ $('Preparar Datos').item.json.fechaFinISO }}","additionalFields":{"description":"=Lead ID: {{ $('Preparar Datos').item.json.Lead_id }}\nTeléfono: {{ $if($('Edit Fields3').isExecuted, $('Edit Fields3').item.json.telefono, $('Edit Fields1').item.json.numero_de_telefono) }}\nMotivo: {{ $if($('Edit Fields3').isExecuted, $('Edit Fields3').item.json['motivo de la consulta'], $('Edit Fields1').item.json.motivo_de_la_consulta) }}\nFuente: {{ $if($('Edit Fields3').isExecuted, $('Edit Fields3').item.json.Fuente, $('Edit Fields1').item.json.Fuente) }}\nFecha: {{ $('Preparar Datos').item.json.fechaInicioMadrid }}","summary":"=Visita — {{ $('Preparar Datos').item.json.nombre }} — {{ $('Preparar Datos').item.json.idealista_id || '' }} — {{ $('Preparar Datos').item.json.direccion || '' }} — {{ $('Preparar Datos').item.json.numero_de_telefono }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-448,448],"id":"cal-create-chatbot","name":"Create an event1","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const nombre = $('Preparar Datos').item.json.nombre || '';\nconst fecha = $('Preparar Datos').item.json.fechaInicioMadrid || '';\nconst direccion = $('Preparar Datos').item.json.direccion || '';\nconst thumbnail = $('Preparar Datos').item.json.thumbnail || '';\n\nconst html = `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <meta name=\"color-scheme\" content=\"light only\" />\n  <title>Visita Confirmada — Simarro Properties</title>\n  <style type=\"text/css\">\n    body { margin:0; padding:0; background-color:#0F1715; font-family:Arial,Helvetica,sans-serif; }\n    table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }\n    img { display:block; border:0; height:auto; outline:none; text-decoration:none; }\n    @media only screen and (max-width:620px) {\n      .outer { width:100% !important; }\n      .inner-pad { padding:24px 20px !important; }\n      .head-title { font-size:32px !important; }\n      .hero-cell { height:200px !important; }\n      .hero-band { padding:30px 0 !important; }\n      .hero-logo { width:96px !important; }\n      .data-body { padding:20px !important; }\n      .footer-pad { padding:28px 20px !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0F1715;font-family:Arial,Helvetica,sans-serif;\">\n  <center style=\"width:100%;background-color:#0F1715;padding:32px 0;\">\n    <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"outer\" style=\"width:100%;max-width:620px;background-color:#ffffff;border-radius:6px;overflow:hidden;box-shadow:0 20px 60px -20px rgba(0,0,0,0.55);\">\n      <tr>\n        <td style=\"background-color:#0A1512;padding:14px 32px;\">\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n            <tr>\n              <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;letter-spacing:4px;color:#1F9D6E;text-transform:uppercase;font-weight:bold;\">Inmobiliaria &amp; Inversión</td>\n              <td align=\"right\" style=\"font-family:Georgia,serif;font-size:11px;font-style:italic;color:#4A7A66;letter-spacing:2px;\">Visita programada</td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n      <tr>\n        <td class=\"hero-cell\" align=\"center\" valign=\"middle\" bgcolor=\"#0F1715\" background=\"https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/Simarro_header.png\" height=\"300\" style=\"height:300px;background-image:url('https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/Simarro_header.png');background-position:center center;background-repeat:no-repeat;background-size:cover;background-color:#0F1715;\">\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n            <tr>\n              <td class=\"hero-band\" align=\"center\" valign=\"middle\" style=\"padding:40px 0;background-color:rgba(10,21,18,0.52);\">\n                <img class=\"hero-logo\" src=\"https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/logo_simarro_properties.png\" alt=\"Simarro Properties\" width=\"120\" style=\"display:block;width:120px;max-width:38%;height:auto;margin:0 auto;\" />\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" class=\"inner-pad\" style=\"padding:32px 44px 0 44px;background-color:#ffffff;\">\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n            <tr>\n              <td style=\"width:40px;height:1px;background-color:#1F9D6E;font-size:1px;\">&nbsp;</td>\n              <td style=\"padding:0 12px;font-family:Georgia,serif;font-size:11px;font-style:italic;color:#0F4A38;letter-spacing:3px;text-transform:uppercase;\">Inmobiliaria de inversión</td>\n              <td style=\"width:40px;height:1px;background-color:#1F9D6E;font-size:1px;\">&nbsp;</td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:5px;text-transform:uppercase;font-weight:bold;margin:0 0 10px 0;\">Visita programada</p>\n          <h1 class=\"head-title\" style=\"font-family:Georgia,serif;font-size:42px;font-weight:normal;color:#0F1715;margin:0;line-height:1.05;letter-spacing:-1px;\">Tu próxima <em style=\"font-style:italic;color:#0F4A38;\">inversión</em><br/>te espera.</h1>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" class=\"inner-pad\" style=\"padding:18px 56px 0 56px;background-color:#ffffff;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.7;color:#3F5651;margin:0;\">Hola, <strong style=\"color:#0F1715;\">${nombre}</strong>. Tu visita con Simarro Properties ha sido programada. Te contactaremos para confirmar el agente que te acompañará.</p>\n        </td>\n      </tr>\n      <tr>\n        <td class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#EBF5F0;border-radius:2px;border-left:3px solid #1F9D6E;\">\n            <tr>\n              <td class=\"data-body\" style=\"padding:24px 28px;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                  <tr>\n                    <td style=\"padding:0 0 14px 0;\">\n                      <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Fecha &amp; Hora</p>\n                      <p style=\"font-family:Georgia,serif;font-size:20px;color:#0F1715;margin:0;line-height:1.25;\">${fecha}</p>\n                    </td>\n                  </tr>\n                </table>\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-top:1px solid #C8E0D4;\">\n                  <tr>\n                    <td style=\"padding:14px 0 0 0;\">\n                      <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Tipo de visita</p>\n                      <p style=\"font-family:Georgia,serif;font-size:20px;color:#0F1715;margin:0;line-height:1.25;\">Visita a propiedad</p>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n\n      <!-- Propiedad (solo si hay dirección) -->\n      ${direccion ? `\n      <tr>\n        <td class=\"inner-pad\" style=\"padding:16px 44px 0 44px;background-color:#ffffff;\">\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#EBF5F0;border-radius:2px;border-left:3px solid #1F9D6E;\">\n            <tr>\n              <td class=\"data-body\" style=\"padding:24px 28px;\">\n                ''\n                <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Propiedad a visitar</p>\n                <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.35;\">${direccion}</p>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>` : ''}\n      <tr>\n        <td class=\"inner-pad\" style=\"padding:20px 44px 0 44px;background-color:#ffffff;\">\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#EBF5F0;border-radius:2px;border-left:3px solid #1F9D6E;\">\n            <tr>\n              <td class=\"data-body\" style=\"padding:24px 28px;\">\n                <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 8px 0;\">Te esperamos</p>\n                <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.4;\">Estaremos encantados de recibirte y enseñarte la propiedad sin prisas. Si te surge cualquier duda antes de la visita, escríbenos o llámanos: queremos que vengas tranquilo y con toda la información que necesites.</p>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" style=\"padding:24px 44px 4px 44px;background-color:#ffffff;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;font-weight:bold;color:#4A7A66;margin:0;\">\n            <a href=\"tel:+34910054675\" style=\"color:#0F4A38;text-decoration:none;border-bottom:1px solid #1F9D6E;padding-bottom:2px;\">Contactar con tu agente · <span style=\"white-space:nowrap;\">910&nbsp;054&nbsp;675</span></a>\n          </p>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" style=\"padding:30px 56px 24px 56px;background-color:#ffffff;\">\n          <p style=\"font-family:Georgia,serif;font-size:19px;font-style:italic;color:#0F4A38;line-height:1.5;margin:0;\">&ldquo;Cada propiedad es una oportunidad,<br/>cada cliente, una historia<br/>que merece la mejor decisión.&rdquo;</p>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" class=\"footer-pad\" style=\"background-color:#0A1512;padding:36px 44px;\">\n          <p style=\"font-family:Georgia,serif;font-size:28px;font-style:italic;color:#FFFFFF;margin:0;letter-spacing:0.5px;\">Simarro <span style=\"color:#1F9D6E;font-style:italic;\">Properties</span></p>\n          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0;\">\n            <tr>\n              <td style=\"width:28px;height:1px;background-color:#1F9D6E;font-size:1px;\">&nbsp;</td>\n              <td style=\"padding:0 10px;font-family:Georgia,serif;font-size:10px;color:#4A7A66;\">&diams;</td>\n              <td style=\"width:28px;height:1px;background-color:#1F9D6E;font-size:1px;\">&nbsp;</td>\n            </tr>\n          </table>\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4A7A66;letter-spacing:1px;margin:0 0 6px 0;\">Inmobiliaria &amp; Inversión</p>\n          <p style=\"margin:0;\">\n            <a href=\"https://simarroproperties.com\" target=\"_blank\" style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;text-decoration:none;font-weight:bold;letter-spacing:2px;text-transform:uppercase;border-bottom:1px solid #1F9D6E;padding-bottom:2px;\">www.simarroproperties.com</a>\n          </p>\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#1F9D6E;letter-spacing:2px;text-transform:uppercase;margin:18px 0 0 0;line-height:1.7;\">Este correo se generó automáticamente<br/>tras programar tu visita.</p>\n        </td>\n      </tr>\n    </table>\n  </center>\n</body>\n</html>`;\n\nreturn [{ json: { html, subject: 'Tu visita en Simarro Properties está confirmada' } }];"},"id":"build-email-html-simarro","name":"Build Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,448]},{"parameters":{"jsCode":"const ef3 = $('Edit Fields3').item.json;\nconst leadResp = $input.first().json;\nconst leadId = leadResp._embedded.leads[0].id;\n// Si hay contacto previo con lead WA, usar ese lead para el salesbot (tiene conversación WA)\nlet salesbotLeadId = leadId;\ntry {\n  const contactData = $('Code in JavaScript1').item.json;\n  const pc = contactData && contactData.primer_contacto;\n  if (pc && pc._embedded && Array.isArray(pc._embedded.leads) && pc._embedded.leads.length > 0) {\n    salesbotLeadId = pc._embedded.leads[0].id;\n  }\n} catch(e) {}\n\nconst fechaStr = ef3['Fecha preferida'];\nlet fecha;\nif (!fechaStr) throw new Error('Fecha preferida vacía');\nif (fechaStr.includes('+') || fechaStr.includes('Z')) {\n  fecha = new Date(fechaStr);\n} else {\n  const mes = new Date(fechaStr).getMonth();\n  const offset = (mes >= 2 && mes <= 9) ? '+02:00' : '+01:00';\n  fecha = new Date(fechaStr + offset);\n}\nconst segundos = Math.floor(fecha.getTime() / 1000);\nconst fechaInicioISO = fecha.toISOString();\nconst fechaFin = new Date(fecha.getTime() + 30 * 60 * 1000);\nconst fechaFinISO = fechaFin.toISOString();\nconst fechaInicioMadrid = fecha.toLocaleString('es-ES', {\n  timeZone: 'Europe/Madrid', weekday: 'long', year: 'numeric',\n  month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit'\n});\nreturn [{ json: {\n  leadId,\n  salesbotLeadId,\n  nombre: ef3.nombre || '',\n  telefono: ef3.telefono || ef3['numero de telefono'] || '',\n  idealista_id: ef3.idealista_id || '',\n  direccion: ef3.direccion || '',\n  thumbnail: ef3.thumbnail || '',\n  segundos, fechaInicioISO, fechaFinISO, fechaInicioMadrid\n}}];"},"id":"preparar-datos-retell","name":"Preparar Datos Retell","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,-528]},{"parameters":{"method":"PATCH","url":"=https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  JSON.stringify([{\n    id: $json.leadId,\n    status_id: 105137095,\n    pipeline_id: 13546071,\n    custom_fields_values: (function() {\n      const cf = [\n        { field_id: 1330871, values: [{ value: $json.segundos }] },\n        { field_id: 1372569, values: [{ value: \"Agente de voz\" }] }\n      ];\n      if ($json.idealista_id) cf.push({ field_id: 1373305, values: [{ value: String($json.idealista_id) }] });\n      if ($json.direccion)    cf.push({ field_id: 1373349, values: [{ value: $json.direccion }] });\n      return cf;\n    })()\n  }])\n}}","options":{}},"id":"update-lead-retell","name":"Update Lead Retell","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,-528],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"continueOnFail":true},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('RPC Cal Retell').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"start":"={{ $('Preparar Datos Retell').item.json.fechaInicioISO }}","end":"={{ $('Preparar Datos Retell').item.json.fechaFinISO }}","additionalFields":{"description":"=Lead ID: {{ $('Preparar Datos Retell').item.json.leadId }}\nTeléfono: {{ $('Preparar Datos Retell').item.json.telefono }}\nFuente: Agente de voz\nFecha: {{ $('Preparar Datos Retell').item.json.fechaInicioMadrid }}","summary":"=Visita — {{ $('Preparar Datos Retell').item.json.nombre }} — {{ $('Preparar Datos Retell').item.json.idealista_id || '' }} — {{ $('Preparar Datos Retell').item.json.direccion || '' }} — {{ $('Preparar Datos Retell').item.json.telefono }}"}},"id":"create-event-retell","name":"Create Calendar Retell","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[672,-416],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}}},{"parameters":{"method":"POST","url":"=https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{\n  \"bot_id\": 87865,\n  \"entity_id\": {{ $('Preparar Datos Retell').item.json.salesbotLeadId }},\n  \"entity_type\": 2\n}]","options":{}},"id":"salesbot-wa-retell","name":"Send WA Confirmation Retell","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,-400],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"disabled":true,"continueOnFail":true},{"parameters":{"jsCode":"// Componer Confirmación v2 — Reservar_crm response\n// Genera confirmation_text hablable. La fecha se interpreta como hora local Madrid\n// directamente (sin reconversión TZ) cuando viene en formato \"YYYY-MM-DD HH:MM\".\n\nconst ef3 = $('Edit Fields3').item.json;\nconst upstream = $input.first().json;\nconst lead_id = upstream?._embedded?.leads?.[0]?.id ?? null;\n\nfunction numberToWords(n) {\n  const map = {1:'uno',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete',8:'ocho',9:'nueve',\n    10:'diez',11:'once',12:'doce',13:'trece',14:'catorce',15:'quince',16:'dieciséis',17:'diecisiete',\n    18:'dieciocho',19:'diecinueve',20:'veinte',21:'veintiuno',22:'veintidós',23:'veintitrés',\n    24:'veinticuatro',25:'veinticinco',26:'veintiséis',27:'veintisiete',28:'veintiocho',29:'veintinueve',\n    30:'treinta',31:'treinta y uno'};\n  return map[n] || String(n);\n}\nfunction hourWord(h){const m={1:'una',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete',8:'ocho',9:'nueve',10:'diez',11:'once',12:'doce'};return m[h];}\nfunction minuteWord(m){\n  const u=['','uno','dos','tres','cuatro','cinco','seis','siete','ocho','nueve'];\n  const t={10:'diez',11:'once',12:'doce',13:'trece',14:'catorce',16:'dieciséis',17:'diecisiete',18:'dieciocho',19:'diecinueve',20:'veinte',21:'veintiuno',22:'veintidós',23:'veintitrés',24:'veinticuatro',25:'veinticinco',26:'veintiséis',27:'veintisiete',28:'veintiocho',29:'veintinueve'};\n  if(m<10) return u[m];\n  return t[m]||String(m);\n}\nfunction timeToWords(h24,m){\n  let h=h24%12;\n  if(h===0) h=12;\n  const article=th=>th===1?'a la':'a las';\n  if(m===0) return `${article(h)} ${hourWord(h)}`;\n  if(m===15) return `${article(h)} ${hourWord(h)} y cuarto`;\n  if(m===30) return `${article(h)} ${hourWord(h)} y media`;\n  if(m===45){let nh=h+1;if(nh>12)nh=1;return `${article(nh)} ${hourWord(nh)} menos cuarto`;}\n  if(m<30) return `${article(h)} ${hourWord(h)} y ${minuteWord(m)}`;\n  let nh=h+1;if(nh>12)nh=1;\n  return `${article(nh)} ${hourWord(nh)} menos ${minuteWord(60-m)}`;\n}\nfunction dayPart(h24){\n  if(h24>=6 && h24<13) return 'de la mañana';\n  if(h24>=13 && h24<21) return 'de la tarde';\n  return 'de la noche';\n}\nfunction splitAddress(s){\n  if(!s||typeof s!=='string') return {calle:'', municipio:''};\n  s = s.trim();\n  // Quitar prefijos tipo \"Chalet en \", \"Piso en \", \"Ático en \"\n  s = s.replace(/^(chalet|piso|ático|atico|casa|apartamento|estudio|dúplex|duplex|loft|adosado|pareado)\\s+en\\s+/i, '');\n  const cpMatch = s.match(/\\b(\\d{5})\\b/);\n  if(!cpMatch){\n    return {calle: s.replace(/[,\\s]+$/,'').trim(), municipio:''};\n  }\n  const cpIdx = cpMatch.index;\n  const before = s.slice(0,cpIdx).replace(/[,\\s]+$/,'').trim();\n  const after = s.slice(cpIdx+5).replace(/^[,\\s]+/,'').trim();\n  const municipio = after.split(',')[0].replace(/^de\\s+/i,'').trim();\n  const calle = before.split(',')[0].trim();\n  return {calle, municipio};\n}\nfunction firstName(full){\n  if(!full) return '';\n  const t = String(full).trim().replace(/\\s+/g,' ').split(' ')[0];\n  return t? t.charAt(0).toUpperCase()+t.slice(1).toLowerCase():'';\n}\nfunction weekdayName(y, mo, d){\n  // Calendar weekday — usar UTC para evitar shift de TZ del runner.\n  const dt = new Date(Date.UTC(y, mo-1, d));\n  const names = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\n  return names[dt.getUTCDay()];\n}\nfunction parseInputDate(input){\n  // Devuelve {y, mo, d, h, mi} con la hora YA en local Madrid (sin reconversión).\n  if(!input || typeof input !== 'string') throw new Error('fecha vacía');\n  const s = input.trim();\n  // Caso 1: \"YYYY-MM-DD HH:MM\" o \"YYYY-MM-DDTHH:MM\" (sin offset, sin Z)\n  const m = s.match(/^(\\d{4})-(\\d{2})-(\\d{2})[T ](\\d{2}):(\\d{2})(?::\\d{2})?$/);\n  if(m){\n    return { y:+m[1], mo:+m[2], d:+m[3], h:+m[4], mi:+m[5] };\n  }\n  // Caso 2: con offset/Z → parsear y convertir a Madrid via Intl\n  const dt = new Date(s);\n  if(isNaN(dt.getTime())) throw new Error('fecha inválida: '+input);\n  const fmt = new Intl.DateTimeFormat('en-GB', {\n    timeZone: 'Europe/Madrid',\n    year:'numeric', month:'2-digit', day:'2-digit',\n    hour:'2-digit', minute:'2-digit', hour12:false\n  });\n  const p = fmt.formatToParts(dt).reduce((a,x)=>{a[x.type]=x.value; return a;}, {});\n  return { y:+p.year, mo:+p.month, d:+p.day, h:+p.hour, mi:+p.minute };\n}\n\nconst fallbackText = 'Genial, lo dejo cerrado. Te mando ahora la confirmación por WhatsApp.';\n\nlet confirmation_text = fallbackText;\nlet dbg = {};\ntry {\n  const {y, mo, d, h, mi} = parseInputDate(ef3['Fecha preferida']);\n  const weekday = weekdayName(y, mo, d);\n  const fn = firstName(ef3['nombre']);\n  const time = timeToWords(h, mi);\n  const part = dayPart(h);\n  const {calle, municipio} = splitAddress(ef3['direccion']||'');\n  const dayNum = numberToWords(d);\n\n  let lugar = '';\n  if (calle && municipio) lugar = `, en ${calle}, ${municipio}`;\n  else if (calle) lugar = `, en ${calle}`;\n\n  confirmation_text = `Perfecto, ${fn}. Te confirmo: ${weekday} ${dayNum}, ${time} ${part}${lugar}. Te mando ahora la confirmación por WhatsApp.`;\n  dbg = {weekday, dayNum, time, part, calle, municipio, fn, h, mi, raw_fecha: ef3['Fecha preferida']};\n} catch(e) {\n  dbg = {error: String(e.message||e), raw_fecha: ef3['Fecha preferida']};\n}\n\nreturn [{json: {ok:true, lead_id, confirmation_text, debug: dbg}}];\n"},"id":"componer-confirmacion-A","name":"Componer Confirmación A","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,-96]},{"parameters":{"jsCode":"// Componer Confirmación v2 — Reservar_crm response\n// Genera confirmation_text hablable. La fecha se interpreta como hora local Madrid\n// directamente (sin reconversión TZ) cuando viene en formato \"YYYY-MM-DD HH:MM\".\n\nconst ef3 = $('Edit Fields3').item.json;\nconst upstream = $input.first().json;\nconst lead_id = upstream?._embedded?.leads?.[0]?.id ?? null;\n\nfunction numberToWords(n) {\n  const map = {1:'uno',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete',8:'ocho',9:'nueve',\n    10:'diez',11:'once',12:'doce',13:'trece',14:'catorce',15:'quince',16:'dieciséis',17:'diecisiete',\n    18:'dieciocho',19:'diecinueve',20:'veinte',21:'veintiuno',22:'veintidós',23:'veintitrés',\n    24:'veinticuatro',25:'veinticinco',26:'veintiséis',27:'veintisiete',28:'veintiocho',29:'veintinueve',\n    30:'treinta',31:'treinta y uno'};\n  return map[n] || String(n);\n}\nfunction hourWord(h){const m={1:'una',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete',8:'ocho',9:'nueve',10:'diez',11:'once',12:'doce'};return m[h];}\nfunction minuteWord(m){\n  const u=['','uno','dos','tres','cuatro','cinco','seis','siete','ocho','nueve'];\n  const t={10:'diez',11:'once',12:'doce',13:'trece',14:'catorce',16:'dieciséis',17:'diecisiete',18:'dieciocho',19:'diecinueve',20:'veinte',21:'veintiuno',22:'veintidós',23:'veintitrés',24:'veinticuatro',25:'veinticinco',26:'veintiséis',27:'veintisiete',28:'veintiocho',29:'veintinueve'};\n  if(m<10) return u[m];\n  return t[m]||String(m);\n}\nfunction timeToWords(h24,m){\n  let h=h24%12;\n  if(h===0) h=12;\n  const article=th=>th===1?'a la':'a las';\n  if(m===0) return `${article(h)} ${hourWord(h)}`;\n  if(m===15) return `${article(h)} ${hourWord(h)} y cuarto`;\n  if(m===30) return `${article(h)} ${hourWord(h)} y media`;\n  if(m===45){let nh=h+1;if(nh>12)nh=1;return `${article(nh)} ${hourWord(nh)} menos cuarto`;}\n  if(m<30) return `${article(h)} ${hourWord(h)} y ${minuteWord(m)}`;\n  let nh=h+1;if(nh>12)nh=1;\n  return `${article(nh)} ${hourWord(nh)} menos ${minuteWord(60-m)}`;\n}\nfunction dayPart(h24){\n  if(h24>=6 && h24<13) return 'de la mañana';\n  if(h24>=13 && h24<21) return 'de la tarde';\n  return 'de la noche';\n}\nfunction splitAddress(s){\n  if(!s||typeof s!=='string') return {calle:'', municipio:''};\n  s = s.trim();\n  // Quitar prefijos tipo \"Chalet en \", \"Piso en \", \"Ático en \"\n  s = s.replace(/^(chalet|piso|ático|atico|casa|apartamento|estudio|dúplex|duplex|loft|adosado|pareado)\\s+en\\s+/i, '');\n  const cpMatch = s.match(/\\b(\\d{5})\\b/);\n  if(!cpMatch){\n    return {calle: s.replace(/[,\\s]+$/,'').trim(), municipio:''};\n  }\n  const cpIdx = cpMatch.index;\n  const before = s.slice(0,cpIdx).replace(/[,\\s]+$/,'').trim();\n  const after = s.slice(cpIdx+5).replace(/^[,\\s]+/,'').trim();\n  const municipio = after.split(',')[0].replace(/^de\\s+/i,'').trim();\n  const calle = before.split(',')[0].trim();\n  return {calle, municipio};\n}\nfunction firstName(full){\n  if(!full) return '';\n  const t = String(full).trim().replace(/\\s+/g,' ').split(' ')[0];\n  return t? t.charAt(0).toUpperCase()+t.slice(1).toLowerCase():'';\n}\nfunction weekdayName(y, mo, d){\n  // Calendar weekday — usar UTC para evitar shift de TZ del runner.\n  const dt = new Date(Date.UTC(y, mo-1, d));\n  const names = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\n  return names[dt.getUTCDay()];\n}\nfunction parseInputDate(input){\n  // Devuelve {y, mo, d, h, mi} con la hora YA en local Madrid (sin reconversión).\n  if(!input || typeof input !== 'string') throw new Error('fecha vacía');\n  const s = input.trim();\n  // Caso 1: \"YYYY-MM-DD HH:MM\" o \"YYYY-MM-DDTHH:MM\" (sin offset, sin Z)\n  const m = s.match(/^(\\d{4})-(\\d{2})-(\\d{2})[T ](\\d{2}):(\\d{2})(?::\\d{2})?$/);\n  if(m){\n    return { y:+m[1], mo:+m[2], d:+m[3], h:+m[4], mi:+m[5] };\n  }\n  // Caso 2: con offset/Z → parsear y convertir a Madrid via Intl\n  const dt = new Date(s);\n  if(isNaN(dt.getTime())) throw new Error('fecha inválida: '+input);\n  const fmt = new Intl.DateTimeFormat('en-GB', {\n    timeZone: 'Europe/Madrid',\n    year:'numeric', month:'2-digit', day:'2-digit',\n    hour:'2-digit', minute:'2-digit', hour12:false\n  });\n  const p = fmt.formatToParts(dt).reduce((a,x)=>{a[x.type]=x.value; return a;}, {});\n  return { y:+p.year, mo:+p.month, d:+p.day, h:+p.hour, mi:+p.minute };\n}\n\nconst fallbackText = 'Genial, lo dejo cerrado. Te mando ahora la confirmación por WhatsApp.';\n\nlet confirmation_text = fallbackText;\nlet dbg = {};\ntry {\n  const {y, mo, d, h, mi} = parseInputDate(ef3['Fecha preferida']);\n  const weekday = weekdayName(y, mo, d);\n  const fn = firstName(ef3['nombre']);\n  const time = timeToWords(h, mi);\n  const part = dayPart(h);\n  const {calle, municipio} = splitAddress(ef3['direccion']||'');\n  const dayNum = numberToWords(d);\n\n  let lugar = '';\n  if (calle && municipio) lugar = `, en ${calle}, ${municipio}`;\n  else if (calle) lugar = `, en ${calle}`;\n\n  confirmation_text = `Perfecto, ${fn}. Te confirmo: ${weekday} ${dayNum}, ${time} ${part}${lugar}. Te mando ahora la confirmación por WhatsApp.`;\n  dbg = {weekday, dayNum, time, part, calle, municipio, fn, h, mi, raw_fecha: ef3['Fecha preferida']};\n} catch(e) {\n  dbg = {error: String(e.message||e), raw_fecha: ef3['Fecha preferida']};\n}\n\nreturn [{json: {ok:true, lead_id, confirmation_text, debug: dbg}}];\n"},"id":"componer-confirmacion-B","name":"Componer Confirmación B","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,-832]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"is-web-call","leftValue":"={{ $('Webhook1').item.json.body.call.call_type }}","rightValue":"web_call","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"skip-wa-on-test","name":"Es test?","type":"n8n-nodes-base.if","typeVersion":2,"position":[896,-416]},{"parameters":{"jsCode":"// Componer Confirmación v2 — Reservar_crm response\n// Genera confirmation_text hablable. La fecha se interpreta como hora local Madrid\n// directamente (sin reconversión TZ) cuando viene en formato \"YYYY-MM-DD HH:MM\".\n\nconst ef3 = $input.first().json;\nconst lead_id = null;\n\nfunction numberToWords(n) {\n  const map = {1:'uno',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete',8:'ocho',9:'nueve',\n    10:'diez',11:'once',12:'doce',13:'trece',14:'catorce',15:'quince',16:'dieciséis',17:'diecisiete',\n    18:'dieciocho',19:'diecinueve',20:'veinte',21:'veintiuno',22:'veintidós',23:'veintitrés',\n    24:'veinticuatro',25:'veinticinco',26:'veintiséis',27:'veintisiete',28:'veintiocho',29:'veintinueve',\n    30:'treinta',31:'treinta y uno'};\n  return map[n] || String(n);\n}\nfunction hourWord(h){const m={1:'una',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete',8:'ocho',9:'nueve',10:'diez',11:'once',12:'doce'};return m[h];}\nfunction minuteWord(m){\n  const u=['','uno','dos','tres','cuatro','cinco','seis','siete','ocho','nueve'];\n  const t={10:'diez',11:'once',12:'doce',13:'trece',14:'catorce',16:'dieciséis',17:'diecisiete',18:'dieciocho',19:'diecinueve',20:'veinte',21:'veintiuno',22:'veintidós',23:'veintitrés',24:'veinticuatro',25:'veinticinco',26:'veintiséis',27:'veintisiete',28:'veintiocho',29:'veintinueve'};\n  if(m<10) return u[m];\n  return t[m]||String(m);\n}\nfunction timeToWords(h24,m){\n  let h=h24%12;\n  if(h===0) h=12;\n  const article=th=>th===1?'a la':'a las';\n  if(m===0) return `${article(h)} ${hourWord(h)}`;\n  if(m===15) return `${article(h)} ${hourWord(h)} y cuarto`;\n  if(m===30) return `${article(h)} ${hourWord(h)} y media`;\n  if(m===45){let nh=h+1;if(nh>12)nh=1;return `${article(nh)} ${hourWord(nh)} menos cuarto`;}\n  if(m<30) return `${article(h)} ${hourWord(h)} y ${minuteWord(m)}`;\n  let nh=h+1;if(nh>12)nh=1;\n  return `${article(nh)} ${hourWord(nh)} menos ${minuteWord(60-m)}`;\n}\nfunction dayPart(h24){\n  if(h24>=6 && h24<13) return 'de la mañana';\n  if(h24>=13 && h24<21) return 'de la tarde';\n  return 'de la noche';\n}\nfunction splitAddress(s){\n  if(!s||typeof s!=='string') return {calle:'', municipio:''};\n  s = s.trim();\n  // Quitar prefijos tipo \"Chalet en \", \"Piso en \", \"Ático en \"\n  s = s.replace(/^(chalet|piso|ático|atico|casa|apartamento|estudio|dúplex|duplex|loft|adosado|pareado)\\s+en\\s+/i, '');\n  const cpMatch = s.match(/\\b(\\d{5})\\b/);\n  if(!cpMatch){\n    return {calle: s.replace(/[,\\s]+$/,'').trim(), municipio:''};\n  }\n  const cpIdx = cpMatch.index;\n  const before = s.slice(0,cpIdx).replace(/[,\\s]+$/,'').trim();\n  const after = s.slice(cpIdx+5).replace(/^[,\\s]+/,'').trim();\n  const municipio = after.split(',')[0].replace(/^de\\s+/i,'').trim();\n  const calle = before.split(',')[0].trim();\n  return {calle, municipio};\n}\nfunction firstName(full){\n  if(!full) return '';\n  const t = String(full).trim().replace(/\\s+/g,' ').split(' ')[0];\n  return t? t.charAt(0).toUpperCase()+t.slice(1).toLowerCase():'';\n}\nfunction weekdayName(y, mo, d){\n  // Calendar weekday — usar UTC para evitar shift de TZ del runner.\n  const dt = new Date(Date.UTC(y, mo-1, d));\n  const names = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\n  return names[dt.getUTCDay()];\n}\nfunction parseInputDate(input){\n  // Devuelve {y, mo, d, h, mi} con la hora YA en local Madrid (sin reconversión).\n  if(!input || typeof input !== 'string') throw new Error('fecha vacía');\n  const s = input.trim();\n  // Caso 1: \"YYYY-MM-DD HH:MM\" o \"YYYY-MM-DDTHH:MM\" (sin offset, sin Z)\n  const m = s.match(/^(\\d{4})-(\\d{2})-(\\d{2})[T ](\\d{2}):(\\d{2})(?::\\d{2})?$/);\n  if(m){\n    return { y:+m[1], mo:+m[2], d:+m[3], h:+m[4], mi:+m[5] };\n  }\n  // Caso 2: con offset/Z → parsear y convertir a Madrid via Intl\n  const dt = new Date(s);\n  if(isNaN(dt.getTime())) throw new Error('fecha inválida: '+input);\n  const fmt = new Intl.DateTimeFormat('en-GB', {\n    timeZone: 'Europe/Madrid',\n    year:'numeric', month:'2-digit', day:'2-digit',\n    hour:'2-digit', minute:'2-digit', hour12:false\n  });\n  const p = fmt.formatToParts(dt).reduce((a,x)=>{a[x.type]=x.value; return a;}, {});\n  return { y:+p.year, mo:+p.month, d:+p.day, h:+p.hour, mi:+p.minute };\n}\n\nconst fallbackText = 'Genial, lo dejo cerrado. Te mando ahora la confirmación por WhatsApp.';\n\nlet confirmation_text = fallbackText;\nlet dbg = {};\ntry {\n  const {y, mo, d, h, mi} = parseInputDate(ef3['Fecha preferida']);\n  const weekday = weekdayName(y, mo, d);\n  const fn = firstName(ef3['nombre']);\n  const time = timeToWords(h, mi);\n  const part = dayPart(h);\n  const {calle, municipio} = splitAddress(ef3['direccion']||'');\n  const dayNum = numberToWords(d);\n\n  let lugar = '';\n  if (calle && municipio) lugar = `, en ${calle}, ${municipio}`;\n  else if (calle) lugar = `, en ${calle}`;\n\n  confirmation_text = `Perfecto, ${fn}. Te confirmo: ${weekday} ${dayNum}, ${time} ${part}${lugar}. Te mando ahora la confirmación por WhatsApp.`;\n  dbg = {weekday, dayNum, time, part, calle, municipio, fn, h, mi, raw_fecha: ef3['Fecha preferida']};\n} catch(e) {\n  dbg = {error: String(e.message||e), raw_fecha: ef3['Fecha preferida']};\n}\n\nreturn [{json: {ok:true, lead_id, confirmation_text, debug: dbg}}];\n"},"id":"componer-fast","name":"Componer Confirmación FAST","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2240,-640]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}},"id":"respond-fast","name":"Respond FAST","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-2016,-640]},{"parameters":{"method":"POST","url":"http://simarro-pre0225supabase-f93ff3-185-47-13-169.traefik.me/rest/v1/rpc/resolve_property_calendar","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/vnd.pgrst.object+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_idealista_id: ($('Edit Fields2').item.json.idealista_id) || '' }) }}","options":{}},"id":"rpc_cal_disp","name":"RPC Cal Disp","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2240,-1248],"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://simarro-pre0225supabase-f93ff3-185-47-13-169.traefik.me/rest/v1/rpc/resolve_property_calendar","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/vnd.pgrst.object+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_idealista_id: ($('Preparar Datos').item.json.idealista_id) || '' }) }}","options":{}},"id":"rpc_cal_wa","name":"RPC Cal WA","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1568,288],"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://simarro-pre0225supabase-f93ff3-185-47-13-169.traefik.me/rest/v1/rpc/resolve_property_calendar","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/vnd.pgrst.object+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_idealista_id: ($('Preparar Datos Retell').item.json.idealista_id) || '' }) }}","options":{}},"id":"rpc_cal_retell","name":"RPC Cal Retell","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-448,-528],"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"kSgDVB8miWnvQFOJ","mode":"id","cachedResultName":"Calc_Disponibilidad"},"options":{}},"id":"22222222-bbbb-4bbb-8bbb-000000000001","name":"Calc Listar","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1568,-1248]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('RPC Cal WA').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"returnAll":true,"timeMin":"={{ DateTime.fromISO($('Preparar Datos').item.json.fechaInicioISO).setZone(\"Europe/Madrid\").startOf(\"day\").toISO() }}","timeMax":"={{ DateTime.fromISO($('Preparar Datos').item.json.fechaInicioISO).setZone(\"Europe/Madrid\").endOf(\"day\").toISO() }}","options":{}},"id":"44440001-aaaa-4aaa-8aaa-000000000001","name":"Recheck Get WA","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-1344,288],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pd=$('Preparar Datos').item.json;\nconst eventos=$input.all().map(i=>i.json).filter(e=>e&&e.start);\nreturn [{json:{modo:'validar',start:pd.fechaInicioISO,idealista_id:(pd.idealista_id||'').toString(),eventos}}];"},"id":"44440001-aaaa-4aaa-8aaa-000000000002","name":"Prep Validar WA","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,288],"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"kSgDVB8miWnvQFOJ","mode":"id","cachedResultName":"Calc_Disponibilidad"},"options":{}},"id":"44440001-aaaa-4aaa-8aaa-000000000003","name":"Calc Validar WA","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-896,288],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"44440001-aaaa-4aaa-8aaa-000000000004-c","leftValue":"={{ $json.motivo }}","rightValue":"slot_ocupado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"44440001-aaaa-4aaa-8aaa-000000000004","name":"IF ocupado WA","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-672,288]},{"parameters":{},"id":"44440001-aaaa-4aaa-8aaa-000000000005","name":"Slot Ocupado WA","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-448,272]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('RPC Cal Retell').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"returnAll":true,"timeMin":"={{ DateTime.fromISO($('Preparar Datos Retell').item.json.fechaInicioISO).setZone(\"Europe/Madrid\").startOf(\"day\").toISO() }}","timeMax":"={{ DateTime.fromISO($('Preparar Datos Retell').item.json.fechaInicioISO).setZone(\"Europe/Madrid\").endOf(\"day\").toISO() }}","options":{}},"id":"44440002-aaaa-4aaa-8aaa-000000000001","name":"Recheck Get Retell","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-224,-528],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const pd=$('Preparar Datos Retell').item.json;\nconst eventos=$input.all().map(i=>i.json).filter(e=>e&&e.start);\nreturn [{json:{modo:'validar',start:pd.fechaInicioISO,idealista_id:(pd.idealista_id||'').toString(),eventos}}];"},"id":"44440002-aaaa-4aaa-8aaa-000000000002","name":"Prep Validar Retell","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-528],"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"kSgDVB8miWnvQFOJ","mode":"id","cachedResultName":"Calc_Disponibilidad"},"options":{}},"id":"44440002-aaaa-4aaa-8aaa-000000000003","name":"Calc Validar Retell","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[224,-528],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"44440002-aaaa-4aaa-8aaa-000000000004-c","leftValue":"={{ $json.motivo }}","rightValue":"slot_ocupado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"44440002-aaaa-4aaa-8aaa-000000000004","name":"IF ocupado Retell","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,-528]},{"parameters":{},"id":"44440002-aaaa-4aaa-8aaa-000000000005","name":"Slot Ocupado Retell","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,-624]},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v4/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"text\": \"Visita — \" + ($('Preparar Datos').item.json.direccion || ''), \"complete_till\": Math.round(new Date($('Preparar Datos').item.json.fechaInicioISO).getTime()/1000), \"entity_id\": Number($('Preparar Datos').item.json.Lead_id), \"entity_type\": \"leads\", \"responsible_user_id\": 15113339, \"task_type_id\": 2 }]","options":{}},"id":"crear-tarea-visita-wa-uuid","name":"Crear tarea visita WA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-408,608],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v4/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"text\": \"Visita — \" + ($('Preparar Datos Retell').item.json.direccion || ''), \"complete_till\": Math.round(new Date($('Preparar Datos Retell').item.json.fechaInicioISO).getTime()/1000), \"entity_id\": Number($('Preparar Datos Retell').item.json.leadId), \"entity_type\": \"leads\", \"responsible_user_id\": 15113339, \"task_type_id\": 2 }]","options":{}},"id":"crear-tarea-visita-retell-uuid","name":"Crear tarea visita Retell","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[712,-256],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"function buildEmail(p) {\n  const accent = p.accent || '#1F9D6E';\n  const accentDark = p.accentDark || '#0F4A38';\n  const accentLight = p.accentLight || '#EBF5F0';\n  const accentBorder = p.accentBorder || '#C8E0D4';\n  const headerTagBg = p.headerTagBg || '#0A1512';\n  const headerTagFg = p.headerTagFg || '#1F9D6E';\n  const heroBg = p.heroBg || '#0F1715';\n  const headerImg = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/Simarro_header.png';\n  const logoImg   = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/logo_simarro_properties.png';\n\n  const dataRows = (p.dataBlocks || []).map((b, i) => `\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" ${i>0?`style=\"border-top:1px solid ${accentBorder};\"`:''}>\n      <tr><td style=\"padding:${i>0?'14px':'0'} 0 ${i===p.dataBlocks.length-1?0:14}px 0;\">\n        <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">${b.label}</p>\n        <p style=\"font-family:Georgia,serif;font-size:${b.big?20:18}px;color:#0F1715;margin:0;line-height:1.25;word-break:break-word;overflow-wrap:break-word;\">${b.value}</p>\n      </td></tr>\n    </table>`).join('');\n\n  const propertyBlock = p.property ? `\n    <tr><td class=\"inner-pad\" style=\"padding:16px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          ${p.property.thumbnail ? `<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:16px;\"><tr><td><img src=\"${p.property.thumbnail}\" alt=\"Propiedad\" width=\"540\" style=\"display:block;width:100%;max-width:540px;height:auto;border-radius:2px;margin:0 auto;\" /></td></tr></table>` : ''}\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Propiedad</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.35;\">${p.property.direccion || ''}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const bottomBlock = p.bottom ? `\n    <tr><td class=\"inner-pad\" style=\"padding:20px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 8px 0;\">${p.bottom.label}</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.4;\">${p.bottom.text}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const ctaBlock = p.ctaTel ? `\n    <tr><td align=\"center\" style=\"padding:24px 44px 4px 44px;background-color:#ffffff;\">\n      <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;font-weight:bold;color:#4A7A66;margin:0;\">\n        <a href=\"tel:${p.ctaTel.replace(/\\s/g,'')}\" style=\"color:${accentDark};text-decoration:none;border-bottom:1px solid ${accent};padding-bottom:2px;\">${p.ctaLabel || 'Contactar · ' + p.ctaTel}</a>\n      </p>\n    </td></tr>` : '';\n\n  const quote = p.quote !== null\n    ? `<tr><td align=\"center\" style=\"padding:30px 56px 24px 56px;background-color:#ffffff;\">\n        <p style=\"font-family:Georgia,serif;font-size:19px;font-style:italic;color:${accentDark};line-height:1.5;margin:0;\">${p.quote || '&ldquo;Cada propiedad es una oportunidad,<br/>cada cliente, una historia<br/>que merece la mejor decisión.&rdquo;'}</p>\n      </td></tr>`\n    : '';\n\n  const footerNote = p.footerNote || 'Este correo se generó automáticamente.';\n\n  return `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\"><head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n<meta name=\"color-scheme\" content=\"light only\" />\n<title>${p.subject || 'Simarro Properties'}</title>\n<style type=\"text/css\">\nbody { margin:0; padding:0; background-color:${heroBg}; font-family:Arial,Helvetica,sans-serif; }\ntable { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }\nimg { display:block; border:0; height:auto; outline:none; text-decoration:none; }\n@media only screen and (max-width:620px) { .outer{width:100%!important;} .inner-pad{padding:24px 20px!important;} .head-title{font-size:32px!important;} .hero-cell{height:200px!important;} .hero-band{padding:30px 0!important;} .hero-logo{width:96px!important;} .data-body{padding:20px!important;} .footer-pad{padding:28px 20px!important;} }\n</style></head>\n<body style=\"margin:0;padding:0;background-color:${heroBg};font-family:Arial,Helvetica,sans-serif;\">\n<center style=\"width:100%;background-color:${heroBg};padding:32px 0;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"outer\" style=\"width:100%;max-width:620px;background-color:#ffffff;border-radius:6px;overflow:hidden;box-shadow:0 20px 60px -20px rgba(0,0,0,0.55);\">\n<tr><td style=\"background-color:${headerTagBg};padding:14px 32px;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;letter-spacing:4px;color:${headerTagFg};text-transform:uppercase;font-weight:bold;\">Inmobiliaria &amp; Inversión</td>\n    <td align=\"right\" style=\"font-family:Georgia,serif;font-size:11px;font-style:italic;color:#4A7A66;letter-spacing:2px;\">${p.kickerTop || ''}</td>\n  </tr></table>\n</td></tr>\n<tr><td class=\"hero-cell\" align=\"center\" valign=\"middle\" bgcolor=\"${heroBg}\" background=\"${headerImg}\" height=\"300\" style=\"height:300px;background-image:url('${headerImg}');background-position:center center;background-repeat:no-repeat;background-size:cover;background-color:${heroBg};\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td class=\"hero-band\" align=\"center\" valign=\"middle\" style=\"padding:40px 0;background-color:rgba(10,21,18,0.52);\">\n      <img class=\"hero-logo\" src=\"${logoImg}\" alt=\"Simarro Properties\" width=\"120\" style=\"display:block;width:120px;max-width:38%;height:auto;margin:0 auto;\" />\n    </td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:32px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 12px;font-family:Georgia,serif;font-size:11px;font-style:italic;color:${accentDark};letter-spacing:3px;text-transform:uppercase;\">Inmobiliaria de inversión</td>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:5px;text-transform:uppercase;font-weight:bold;margin:0 0 10px 0;\">${p.kicker || ''}</p>\n  <h1 class=\"head-title\" style=\"font-family:Georgia,serif;font-size:42px;font-weight:normal;color:#0F1715;margin:0;line-height:1.05;letter-spacing:-1px;\">${p.headline || ''}</h1>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:18px 56px 0 56px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.7;color:#3F5651;margin:0;\">${p.intro || ''}</p>\n</td></tr>\n${dataRows ? `<tr><td class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n    <tr><td class=\"data-body\" style=\"padding:24px 28px;\">${dataRows}</td></tr>\n  </table>\n</td></tr>` : ''}\n${propertyBlock}\n${bottomBlock}\n${ctaBlock}\n${quote}\n<tr><td align=\"center\" class=\"footer-pad\" style=\"background-color:${headerTagBg};padding:36px 44px;\">\n  <p style=\"font-family:Georgia,serif;font-size:28px;font-style:italic;color:#FFFFFF;margin:0;letter-spacing:0.5px;\">Simarro <span style=\"color:${accent};font-style:italic;\">Properties</span></p>\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0;\"><tr>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 10px;font-family:Georgia,serif;font-size:10px;color:#4A7A66;\">&diams;</td>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4A7A66;letter-spacing:1px;margin:0 0 6px 0;\">Inmobiliaria &amp; Inversión</p>\n  <p style=\"margin:0;\"><a href=\"https://simarroproperties.com\" target=\"_blank\" style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;text-decoration:none;font-weight:bold;letter-spacing:2px;text-transform:uppercase;border-bottom:1px solid ${accent};padding-bottom:2px;\">www.simarroproperties.com</a></p>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:${accent};letter-spacing:2px;text-transform:uppercase;margin:18px 0 0 0;line-height:1.7;\">${footerNote}</p>\n</td></tr>\n</table></center></body></html>`;\n}\n\n\nconst c = $('Preparar Datos').item.json;\nconst html = buildEmail({\n  subject: 'Nueva visita agendada — Simarro Properties',\n  kickerTop: 'Notificación interna',\n  kicker: 'Visita agendada',\n  headline: `Nueva <em style=\"font-style:italic;color:#0F4A38;\">visita</em><br/>agendada.`,\n  intro: 'Se ha agendado una nueva visita.',\n  dataBlocks: [\n    { label: 'Cliente', value: c.nombre || '-', big: true },\n    { label: 'Fecha & Hora', value: c.fechaInicioMadrid || c.fecha || '-', big: true },\n    { label: 'Teléfono cliente', value: c.telefono || c.phone || '-' },\n    { label: 'Vivienda', value: c.direccion || '-' },\n  ],\n  property: c.direccion ? { direccion: c.direccion, thumbnail: c.thumbnail || null } : null,\n  bottom: { label: 'Recuerda', text: 'Revisa la ficha del lead en Kommo y prepara la visita.' },\n  ctaTel: null, quote: null,\n  footerNote: 'Aviso interno automatico al agendar visita. PENDIENTE: tras migracion 014, to = Ramon + agent_email de RPC Cal WA.'\n});\nreturn [{ json: { html, subject: 'Nueva visita agendada — Simarro Properties' } }];"},"id":"b2c3d4e5-0001-4a1a-9c01-avisovisitabld","name":"Build Email Visita Interna","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,680]},{"parameters":{"fromEmail":"info@simarroproperties.com","toEmail":"m.delmonte.p@gmail.com","subject":"={{ $('Build Email Visita Interna').item.json.subject }}","html":"={{ $('Build Email Visita Interna').item.json.html }}","options":{}},"id":"b2c3d4e5-0002-4a1a-9c01-avisovisitasnd","name":"Email Visita Interna (desactivado)","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-224,680],"credentials":{"smtp":{"id":"my0IFrzKpGNhCs8c","name":"SMTP LEADS Simarro"}},"disabled":true,"onError":"continueRegularOutput","webhookId":"19399e52-06be-471a-9da1-bcbe72d64b12"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Get many events1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Calc Listar","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"RPC Cal Disp","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Pasamos a segundos2","type":"main","index":0},{"node":"Componer Confirmación FAST","type":"main","index":0}]]},"existe contacto?1":{"main":[[{"node":"Create new leads3","type":"main","index":0}],[{"node":"Create new contacts1","type":"main","index":0}]]},"Create new contacts1":{"main":[[{"node":"Create new leads2","type":"main","index":0}]]},"Create new leads2":{"main":[[{"node":"Componer Confirmación B","type":"main","index":0},{"node":"Preparar Datos Retell","type":"main","index":0}]]},"Pasamos a segundos2":{"main":[[{"node":"Get list of contacts1","type":"main","index":0}]]},"Create new leads3":{"main":[[{"node":"Componer Confirmación A","type":"main","index":0},{"node":"Preparar Datos Retell","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Get a call2","type":"main","index":0}]]},"Get list of contacts1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"existe contacto?1","type":"main","index":0}]]},"Get a call3":{"main":[[{"node":"If3","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Insert rows in a table3","type":"main","index":0}],[{"node":"Wait4","type":"main","index":0}]]},"If2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"Wait4","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Get a call2","type":"main","index":0}]]},"If3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"Wait5","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Insert rows in a table1","type":"main","index":0}],[{"node":"Wait5","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Get a call3","type":"main","index":0}]]},"Get a call2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Respond to Webhook3":{"main":[[{"node":"Get a call3","type":"main","index":0}]]},"Preparar Datos":{"main":[[{"node":"RPC Cal WA","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Preparar Datos","type":"main","index":0}]]},"Update leads":{"main":[[{"node":"Update contacts1","type":"main","index":0}]]},"Update contacts1":{"main":[[{"node":"Create an event1","type":"main","index":0}]]},"Send Confirmation Email":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Insert rows in a table3":{"main":[[]]},"Insert rows in a table1":{"main":[[]]},"Create an event1":{"main":[[{"node":"Build Email HTML","type":"main","index":0},{"node":"Crear tarea visita WA","type":"main","index":0},{"node":"Build Email Visita Interna","type":"main","index":0}]]},"Build Email HTML":{"main":[[{"node":"Send Confirmation Email","type":"main","index":0}]]},"Preparar Datos Retell":{"main":[[{"node":"Update Lead Retell","type":"main","index":0}]]},"Update Lead Retell":{"main":[[{"node":"RPC Cal Retell","type":"main","index":0}]]},"Create Calendar Retell":{"main":[[{"node":"Es test?","type":"main","index":0},{"node":"Crear tarea visita Retell","type":"main","index":0}]]},"Componer Confirmación A":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Componer Confirmación B":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Es test?":{"main":[[],[{"node":"Send WA Confirmation Retell","type":"main","index":0}]]},"Componer Confirmación FAST":{"main":[[{"node":"Respond FAST","type":"main","index":0}]]},"Respond FAST":{"main":[[]]},"RPC Cal Disp":{"main":[[{"node":"Get many events1","type":"main","index":0}]]},"RPC Cal WA":{"main":[[{"node":"Recheck Get WA","type":"main","index":0}]]},"RPC Cal Retell":{"main":[[{"node":"Recheck Get Retell","type":"main","index":0}]]},"Calc Listar":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Recheck Get WA":{"main":[[{"node":"Prep Validar WA","type":"main","index":0}]]},"Prep Validar WA":{"main":[[{"node":"Calc Validar WA","type":"main","index":0}]]},"Calc Validar WA":{"main":[[{"node":"IF ocupado WA","type":"main","index":0}]]},"IF ocupado WA":{"main":[[{"node":"Slot Ocupado WA","type":"main","index":0}],[{"node":"Update leads","type":"main","index":0}]]},"Recheck Get Retell":{"main":[[{"node":"Prep Validar Retell","type":"main","index":0}]]},"Prep Validar Retell":{"main":[[{"node":"Calc Validar Retell","type":"main","index":0}]]},"Calc Validar Retell":{"main":[[{"node":"IF ocupado Retell","type":"main","index":0}]]},"IF ocupado Retell":{"main":[[{"node":"Slot Ocupado Retell","type":"main","index":0}],[{"node":"Create Calendar Retell","type":"main","index":0}]]},"Build Email Visita Interna":{"main":[[{"node":"Email Visita Interna (desactivado)","type":"main","index":0}]]}},"authors":"agentesia madrid","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-02T21:48:54.500Z","id":1101,"workflowId":"iMoTKZWxYLymGuHF","versionId":"70418065-c19e-4071-8217-80959381fc16","event":"deactivated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"},{"createdAt":"2026-06-02T21:48:54.518Z","id":1102,"workflowId":"iMoTKZWxYLymGuHF","versionId":"70418065-c19e-4071-8217-80959381fc16","event":"activated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"}]}}