knowledge/projects/agentesia/n8n-backups/simarro/Oa1lSQuDgEZvZCNS-recordatorios-pre-p4-20260608.json
{"updatedAt":"2026-06-02T17:18:29.185Z","createdAt":"2026-04-28T10:16:41.939Z","id":"Oa1lSQuDgEZvZCNS","name":"Recordatorios","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const now = new Date();\nconst VENTANA_24H = 24 * 60 * 60 * 1000;\nconst VENTANA_4H = 4 * 60 * 60 * 1000;\nconst MARGEN = 15 * 60 * 1000;\nconst LIMPIEZA_48H = 48 * 60 * 60 * 1000;\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.enviados = staticData.enviados || {};\n\n// Limpieza de claves antiguas\nconst cutoff = now.getTime() - LIMPIEZA_48H;\nfor (const k of Object.keys(staticData.enviados)) {\n  if (staticData.enviados[k] < cutoff) delete staticData.enviados[k];\n}\n\nconst tasks = [];\nfor (const item of $input.all()) {\n  const arr = item.json && item.json._embedded && item.json._embedded.tasks;\n  if (Array.isArray(arr)) tasks.push(...arr);\n}\n\nconst resultados = [];\nfor (const task of tasks) {\n  if (task.entity_type !== 'leads') continue;\n  if (task.task_type_id !== 2) continue;            // SOLO visitas (Meeting=2); ignora Follow-up del matching\n  if (task.is_completed) continue;\n  if (!task.complete_till) continue;\n  const fechaEvento = new Date(task.complete_till * 1000);\n  const diff = fechaEvento - now;\n  if (diff < 0) continue;\n  const es24h = diff > (VENTANA_24H - MARGEN) && diff < (VENTANA_24H + MARGEN);\n  const es4h  = diff > (VENTANA_4H  - MARGEN) && diff < (VENTANA_4H  + MARGEN);\n  if (!es24h && !es4h) continue;\n  const tipo = es24h ? '24h' : '4h';\n  const clave = `${task.id}_${tipo}`;\n  if (staticData.enviados[clave]) continue;\n  const leadId = task.entity_id;\n  if (!leadId) continue;\n  // NOTA: NO marcar como enviado aquí. La marca se hace en \"Mark as sent\" tras el envío exitoso.\n  resultados.push({ leadId, tipoRecordatorio: tipo, taskId: task.id, taskText: task.text || '', clave });\n}\n\nreturn resultados.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1376,2768],"name":"Filtrar y evitar duplicados","id":"7dd6b7f9-3f58-450b-a5d7-bc2657e0d098"},{"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.tipoRecordatorio }}","rightValue":"24h","operator":{"type":"string","operation":"equals"}}]}},{"conditions":{"conditions":[{"leftValue":"={{ $json.tipoRecordatorio }}","rightValue":"4h","operator":{"type":"string","operation":"equals"}}]}}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1152,2768],"name":"Tipo de recordatorio","id":"b05a6459-ba9b-4ff0-b9e5-f734c486cc7f"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1824,2768],"name":"Scanner cada 30min","id":"040c3b39-3525-48e7-8fed-a881448dd444"},{"parameters":{"authentication":"longLivedToken","resource":"tasks","filter":{},"options":{}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1616,2768],"name":"Obtener citas Kommo","id":"841dc032-01b1-498f-a294-feae5f312063","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","sendHeaders":false,"sendBody":true,"specifyBody":"json","jsonBody":"=[{\"bot_id\": 87871,\"entity_id\": {{ $json.leadId }},\"entity_type\": 2}]","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,2592],"id":"f0521d15-4d79-473f-9216-4d5f2c2eff73","name":"WhatsApp Recordatorio 24h","disabled":false,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","sendHeaders":false,"sendBody":true,"specifyBody":"json","jsonBody":"=[{\"bot_id\": 87861,\"entity_id\": {{ $json.leadId }},\"entity_type\": 2}]","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,2912],"id":"3b661790-89d8-4faa-bd07-9786f4957708","name":"WhatsApp Recordatorio 4h","disabled":false,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"id":"45573050-8ab3-4410-ab71-39d0a3bb84d2","name":"Mark sent 24h","type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,2400],"parameters":{"jsCode":"const sd=$getWorkflowStaticData('global');sd.enviados=sd.enviados||{};const fa=$('Filtrar y evitar duplicados').all();for(const it of fa){if(it.json.tipoRecordatorio==='24h'&&it.json.clave)sd.enviados[it.json.clave]=Date.now();}return $input.all();"}},{"id":"19e712f6-0e5a-4542-8f32-2797cb757cbb","name":"Mark sent 4h","type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,2700],"parameters":{"jsCode":"const sd=$getWorkflowStaticData('global');sd.enviados=sd.enviados||{};const fa=$('Filtrar y evitar duplicados').all();for(const it of fa){if(it.json.tipoRecordatorio==='4h'&&it.json.clave)sd.enviados[it.json.clave]=Date.now();}return $input.all();"}}],"connections":{"Filtrar y evitar duplicados":{"main":[[{"node":"Tipo de recordatorio","type":"main","index":0}]]},"Tipo de recordatorio":{"main":[[{"node":"WhatsApp Recordatorio 24h","type":"main","index":0}],[{"node":"WhatsApp Recordatorio 4h","type":"main","index":0}]]},"Scanner cada 30min":{"main":[[{"node":"Obtener citas Kommo","type":"main","index":0}]]},"Obtener citas Kommo":{"main":[[{"node":"Filtrar y evitar duplicados","type":"main","index":0}]]},"WhatsApp Recordatorio 24h":{"main":[[{"node":"Mark sent 24h","type":"main","index":0}]]},"WhatsApp Recordatorio 4h":{"main":[[{"node":"Mark sent 4h","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":{"node:Scanner cada 30min":{"recurrenceRules":[]},"global":{"enviados":{}}},"meta":null,"pinData":{},"versionId":"f98df853-fa7e-4d0f-bdec-e0719570e943","activeVersionId":"f98df853-fa7e-4d0f-bdec-e0719570e943","versionCounter":1744,"triggerCount":1,"shared":[{"updatedAt":"2026-04-28T10:16:41.939Z","createdAt":"2026-04-28T10:16:41.939Z","role":"workflow:owner","workflowId":"Oa1lSQuDgEZvZCNS","projectId":"KzDhDvn7gXhn9Jke","project":{"updatedAt":"2026-04-14T19:24:58.568Z","createdAt":"2026-04-14T17:51:20.172Z","id":"KzDhDvn7gXhn9Jke","name":"agentesia madrid <info@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"e11c9a81-3802-42a8-8b75-5d3028942946"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-02T17:18:29.186Z","createdAt":"2026-06-02T17:18:29.186Z","versionId":"f98df853-fa7e-4d0f-bdec-e0719570e943","workflowId":"Oa1lSQuDgEZvZCNS","nodes":[{"parameters":{"jsCode":"const now = new Date();\nconst VENTANA_24H = 24 * 60 * 60 * 1000;\nconst VENTANA_4H = 4 * 60 * 60 * 1000;\nconst MARGEN = 15 * 60 * 1000;\nconst LIMPIEZA_48H = 48 * 60 * 60 * 1000;\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.enviados = staticData.enviados || {};\n\n// Limpieza de claves antiguas\nconst cutoff = now.getTime() - LIMPIEZA_48H;\nfor (const k of Object.keys(staticData.enviados)) {\n  if (staticData.enviados[k] < cutoff) delete staticData.enviados[k];\n}\n\nconst tasks = [];\nfor (const item of $input.all()) {\n  const arr = item.json && item.json._embedded && item.json._embedded.tasks;\n  if (Array.isArray(arr)) tasks.push(...arr);\n}\n\nconst resultados = [];\nfor (const task of tasks) {\n  if (task.entity_type !== 'leads') continue;\n  if (task.task_type_id !== 2) continue;            // SOLO visitas (Meeting=2); ignora Follow-up del matching\n  if (task.is_completed) continue;\n  if (!task.complete_till) continue;\n  const fechaEvento = new Date(task.complete_till * 1000);\n  const diff = fechaEvento - now;\n  if (diff < 0) continue;\n  const es24h = diff > (VENTANA_24H - MARGEN) && diff < (VENTANA_24H + MARGEN);\n  const es4h  = diff > (VENTANA_4H  - MARGEN) && diff < (VENTANA_4H  + MARGEN);\n  if (!es24h && !es4h) continue;\n  const tipo = es24h ? '24h' : '4h';\n  const clave = `${task.id}_${tipo}`;\n  if (staticData.enviados[clave]) continue;\n  const leadId = task.entity_id;\n  if (!leadId) continue;\n  // NOTA: NO marcar como enviado aquí. La marca se hace en \"Mark as sent\" tras el envío exitoso.\n  resultados.push({ leadId, tipoRecordatorio: tipo, taskId: task.id, taskText: task.text || '', clave });\n}\n\nreturn resultados.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1376,2768],"name":"Filtrar y evitar duplicados","id":"7dd6b7f9-3f58-450b-a5d7-bc2657e0d098"},{"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.tipoRecordatorio }}","rightValue":"24h","operator":{"type":"string","operation":"equals"}}]}},{"conditions":{"conditions":[{"leftValue":"={{ $json.tipoRecordatorio }}","rightValue":"4h","operator":{"type":"string","operation":"equals"}}]}}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1152,2768],"name":"Tipo de recordatorio","id":"b05a6459-ba9b-4ff0-b9e5-f734c486cc7f"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1824,2768],"name":"Scanner cada 30min","id":"040c3b39-3525-48e7-8fed-a881448dd444"},{"parameters":{"authentication":"longLivedToken","resource":"tasks","filter":{},"options":{}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1616,2768],"name":"Obtener citas Kommo","id":"841dc032-01b1-498f-a294-feae5f312063","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","sendHeaders":false,"sendBody":true,"specifyBody":"json","jsonBody":"=[{\"bot_id\": 87871,\"entity_id\": {{ $json.leadId }},\"entity_type\": 2}]","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,2592],"id":"f0521d15-4d79-473f-9216-4d5f2c2eff73","name":"WhatsApp Recordatorio 24h","disabled":false,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","sendHeaders":false,"sendBody":true,"specifyBody":"json","jsonBody":"=[{\"bot_id\": 87861,\"entity_id\": {{ $json.leadId }},\"entity_type\": 2}]","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,2912],"id":"3b661790-89d8-4faa-bd07-9786f4957708","name":"WhatsApp Recordatorio 4h","disabled":false,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"id":"45573050-8ab3-4410-ab71-39d0a3bb84d2","name":"Mark sent 24h","type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,2400],"parameters":{"jsCode":"const sd=$getWorkflowStaticData('global');sd.enviados=sd.enviados||{};const fa=$('Filtrar y evitar duplicados').all();for(const it of fa){if(it.json.tipoRecordatorio==='24h'&&it.json.clave)sd.enviados[it.json.clave]=Date.now();}return $input.all();"}},{"id":"19e712f6-0e5a-4542-8f32-2797cb757cbb","name":"Mark sent 4h","type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,2700],"parameters":{"jsCode":"const sd=$getWorkflowStaticData('global');sd.enviados=sd.enviados||{};const fa=$('Filtrar y evitar duplicados').all();for(const it of fa){if(it.json.tipoRecordatorio==='4h'&&it.json.clave)sd.enviados[it.json.clave]=Date.now();}return $input.all();"}}],"connections":{"Filtrar y evitar duplicados":{"main":[[{"node":"Tipo de recordatorio","type":"main","index":0}]]},"Tipo de recordatorio":{"main":[[{"node":"WhatsApp Recordatorio 24h","type":"main","index":0}],[{"node":"WhatsApp Recordatorio 4h","type":"main","index":0}]]},"Scanner cada 30min":{"main":[[{"node":"Obtener citas Kommo","type":"main","index":0}]]},"Obtener citas Kommo":{"main":[[{"node":"Filtrar y evitar duplicados","type":"main","index":0}]]},"WhatsApp Recordatorio 24h":{"main":[[{"node":"Mark sent 24h","type":"main","index":0}]]},"WhatsApp Recordatorio 4h":{"main":[[{"node":"Mark sent 4h","type":"main","index":0}]]}},"authors":"agentesia madrid","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-02T17:18:29.205Z","id":1085,"workflowId":"Oa1lSQuDgEZvZCNS","versionId":"f98df853-fa7e-4d0f-bdec-e0719570e943","event":"deactivated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"},{"createdAt":"2026-06-02T17:18:29.214Z","id":1086,"workflowId":"Oa1lSQuDgEZvZCNS","versionId":"f98df853-fa7e-4d0f-bdec-e0719570e943","event":"activated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"},{"createdAt":"2026-06-02T17:18:29.292Z","id":1087,"workflowId":"Oa1lSQuDgEZvZCNS","versionId":"f98df853-fa7e-4d0f-bdec-e0719570e943","event":"deactivated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"},{"createdAt":"2026-06-02T17:18:29.305Z","id":1088,"workflowId":"Oa1lSQuDgEZvZCNS","versionId":"f98df853-fa7e-4d0f-bdec-e0719570e943","event":"activated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"}]}}