knowledge/projects/agentesia/n8n-backups/simarro/OFGGroWlifA88YFN-pre-email-cliente-20260602.json
{"updatedAt":"2026-06-02T21:04:25.341Z","createdAt":"2026-04-28T10:16:40.246Z","id":"OFGGroWlifA88YFN","name":"Formulario Pagina web","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"80f01ee4-5e87-4d2d-9eeb-3786cfb18fbd","responseMode":"responseNode","options":{"rawBody":false,"responseHeaders":{"entries":[]}}},"id":"1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,-16],"webhookId":"2b22f6ea-b40c-4cf3-b182-a22558540121"},{"parameters":{"jsCode":"\nconst item = $input.first().json;\nconst auth = item.headers?.authorization || '';\nconst EXPECTED = 'Bearer simarro_Z2O40vQbqve2YZ3Ksn2JsEQCcJqAh6L8BO8mxvbqwTE';\nif (auth !== EXPECTED) {\n  return [{json: {valid: false, status: 401, message: 'Unauthorized'}}];\n}\nconst body = item.body;\nif (!body || typeof body !== 'object') {\n  return [{json: {valid: false, status: 400, message: 'Body required'}}];\n}\nconst VALID = ['valoracion','valoracion_quick','capacidad','simulacion_hipoteca','personal_shopper','inversion','contacto_propiedad'];\nif (!VALID.includes(body.formType)) {\n  return [{json: {valid: false, status: 400, message: 'Invalid formType: '+body.formType}}];\n}\nif (!body.fields || typeof body.fields !== 'object') {\n  return [{json: {valid: false, status: 400, message: 'fields required'}}];\n}\nif (!body.fields.telefono) {\n  return [{json: {valid: false, status: 400, message: 'telefono required'}}];\n}\nreturn [{json: {valid: true, body, headers: item.headers || {}, params: item.params || {}}}];\n"},"id":"2","name":"Auth & Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"v1","operator":{"type":"boolean","operation":"true"},"leftValue":"={{ $json.valid }}","rightValue":true}],"combinator":"and"},"options":{}},"id":"3","name":"IF Valid","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,-16]},{"parameters":{"respondWith":"json","responseBody":"={{ {\"success\": true, \"message\": \"Form received\"} }}","options":{"responseCode":200}},"id":"4","name":"Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[912,-208]},{"parameters":{"respondWith":"json","responseBody":"={{ {\"success\": false, \"error\": $json.message} }}","options":{"responseCode":"={{ $json.status }}"}},"id":"5","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[912,176]},{"parameters":{"jsCode":"\nconst body = $('Auth & Validate').first().json.body;\nconst f = body.fields;\n\nfunction normPhone(p) {\n  let s = String(p || '').replace(/[\\s()-]/g, '');\n  if (!s) return '';\n  if (s.startsWith('+')) return s;\n  if (s.startsWith('00')) return '+' + s.slice(2);\n  if (s.startsWith('34') && s.length >= 11) return '+' + s;\n  if (/^\\d{9}$/.test(s)) return '+34' + s;\n  return s;\n}\n\nconst MAP = {\n  valoracion:        { pipeline: 13652227, status: 105358019, salesbot: 88575 },\n  valoracion_quick:  { pipeline: 13652227, status: 105358019, salesbot: 88575 },\n  capacidad:         { pipeline: 13652231, status: 105358039, salesbot: 88575 },\n  simulacion_hipoteca:{ pipeline: 13652231, status: 105358039, salesbot: 88575 },\n  personal_shopper:  { pipeline: 13652235, status: 105358059, salesbot: 88575 },\n  inversion:         { pipeline: 13652239, status: 105358079, salesbot: 88575 },\n  contacto_propiedad:{ pipeline: 13546071, status: 105137095, salesbot: 87869 },\n};\nconst cfg = MAP[body.formType];\n\nconst CFS = {\n  email_lead: 1372575, notas_form: 1373307,\n  tipo_vivienda: 1373283, zona: 1373285, superficie: 1373287, habitaciones: 1373289,\n  estado_vivienda: 1373291, plazo_venta: 1373293,\n  situacion_compra: 1373295, ingresos: 1373297, ahorro: 1373299, precio_objetivo: 1373301,\n  presupuesto_inversion: 1373303, property_ref: 1373305,\n};\n\nconst lead_cfs = [];\nfunction pushVal(fid, v, type){\n  if (v === undefined || v === null || v === '') return;\n  if (type === 'num') lead_cfs.push({field_id: fid, values:[{value: Number(v)}]});\n  else lead_cfs.push({field_id: fid, values:[{value: String(v)}]});\n}\nfunction pushEnum(fid, enumId){\n  if (enumId === undefined || enumId === null) return;\n  lead_cfs.push({field_id: fid, values:[{enum_id: Number(enumId)}]});\n}\nfunction precioObjetivoEnumId(p){\n  const n = Number(p);\n  if (!isFinite(n) || n <= 0) return null;\n  if (n < 200000) return 1019859; // Menos de 200k\n  if (n < 300000) return 1019861; // 200k-300k\n  if (n < 400000) return 1019863; // 300k-400k\n  return 1019865;                  // Más de 400k\n}\nconst M_TIPO = {piso:'Piso',atico:'Ático',duplex:'Dúplex',chalet:'Chalet',local_oficina:'Local-Oficina',otro:'Otro'};\nconst M_EST = {entrar_a_vivir:'Entrar a vivir',buen_estado:'Buen estado',a_reformar:'A reformar',reforma_integral:'Reforma integral'};\nconst M_PLAZO = {menos_3:'Menos de 3 meses','3_a_6':'3-6 meses',mas_6:'Más de 6 meses',no_se:'No sé'};\nconst M_SIT = {solo:'Solo',pareja:'Pareja',otra_persona:'Otra persona'};\nconst M_PREC = {menos_200k:'Menos de 200k','200k_300k':'200k-300k','300k_400k':'300k-400k',mas_400k:'Más de 400k',no_se:'No sé'};\nconst M_PRES = {'100k_300k':'100k-300k','300k_600k':'300k-600k','600k_1m':'600k-1M',mas_1m:'Más de 1M',no_definido:'No definido'};\n\nif (f.email) pushVal(CFS.email_lead, f.email);\nif (body.formType === 'valoracion' || body.formType === 'valoracion_quick') {\n  pushVal(CFS.tipo_vivienda, M_TIPO[f.tipoVivienda]);\n  pushVal(CFS.zona, f.zona);\n}\nif (body.formType === 'valoracion') {\n  pushVal(CFS.superficie, f.superficie, 'num');\n  pushVal(CFS.habitaciones, f.habitaciones);\n  pushVal(CFS.estado_vivienda, M_EST[f.estado]);\n  pushVal(CFS.plazo_venta, M_PLAZO[f.plazoVenta]);\n}\nif (body.formType === 'capacidad') {\n  pushVal(CFS.ingresos, f.ingresosMensuales, 'num');\n  pushVal(CFS.ahorro, f.ahorro, 'num');\n  pushEnum(CFS.precio_objetivo, precioObjetivoEnumId(f.precioPropiedad));\n}\nif (body.formType === 'inversion') {\n  pushVal(CFS.presupuesto_inversion, M_PRES[f.presupuesto]);\n}\nif (body.formType === 'contacto_propiedad') {\n  pushVal(CFS.property_ref, f.propertyReference);\n}\n\nif (body.formType === 'simulacion_hipoteca') {\n  pushVal(CFS.ahorro, f.downPayment, 'num');\n  pushEnum(CFS.precio_objetivo, precioObjetivoEnumId(f.propertyPrice));\n}\n\nconst notasParts = [];\nif (body.formType === 'simulacion_hipoteca') {\n  const eur = (n) => {\n    if (n === undefined || n === null) return null;\n    const r = Math.round(Number(n));\n    const s = String(Math.abs(r)).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n    return (r < 0 ? '-' : '') + s + ' €';\n  };\n  const price = Number(f.propertyPrice) || 0;\n  const down  = Number(f.downPayment) || 0;\n  const pct = price > 0 ? Math.round((down / price) * 100) : null;\n  const rate = (f.annualInterest !== undefined && f.annualInterest !== null) ? String(f.annualInterest).replace('.', ',') : null;\n  const lines = ['Simulador hipoteca:'];\n  if (f.propertyPrice) lines.push('· Precio inmueble: ' + eur(f.propertyPrice));\n  if (f.downPayment !== undefined) lines.push('· Entrada: ' + eur(f.downPayment) + (pct !== null ? ' (' + pct + '%)' : ''));\n  if (f.termYears) lines.push('· Plazo: ' + f.termYears + ' años');\n  if (rate !== null && f.rateType) lines.push('· Tipo: ' + f.rateType + ' @ ' + rate + '%');\n  if (f.monthlyPayment) lines.push('· Cuota mensual: ' + eur(f.monthlyPayment));\n  if (f.totalInterest) lines.push('· Intereses totales: ' + eur(f.totalInterest));\n  if (f.totalPaid) lines.push('· Coste total: ' + eur(f.totalPaid));\n  notasParts.push(lines.join('\\n'));\n}\nif (body.formType === 'capacidad') {\n  const eur = (n) => {\n    if (n === undefined || n === null) return null;\n    const r = Math.round(Number(n));\n    const s = String(Math.abs(r)).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n    return (r < 0 ? '-' : '') + s + ' €';\n  };\n  const TI = { nueva: 'Nueva', segunda_mano: 'Segunda mano' };\n  const TV = { primera: 'Primera', segunda: 'Segunda' };\n  const tipoIm  = TI[f.tipoInmueble] || f.tipoInmueble || null;\n  const tipoVi  = TV[f.tipoVivienda] || f.tipoVivienda || null;\n  const gastosPct = f.tipoInmueble === 'nueva' ? 11 : (f.tipoInmueble === 'segunda_mano' ? 7 : null);\n  const ltvPct  = f.tipoVivienda === 'primera' ? 80 : (f.tipoVivienda === 'segunda' ? 70 : null);\n  const rate    = (f.interesAnual !== undefined && f.interesAnual !== null) ? String(f.interesAnual).replace('.', ',') : null;\n  const lines = ['Estudio de capacidad:'];\n  if (f.precioPropiedad) lines.push('· Precio propiedad: ' + eur(f.precioPropiedad));\n  if (tipoIm) lines.push('· Tipo inmueble: ' + tipoIm + (gastosPct !== null ? ' (gastos ' + gastosPct + '% = ' + eur(f.gastosImporteCalc) + ')' : ''));\n  if (tipoVi) lines.push('· Vivienda: ' + tipoVi + (ltvPct !== null ? ' (LTV ' + ltvPct + '%)' : ''));\n  if (f.hipotecaSolicitadaCalc) lines.push('· Hipoteca a solicitar: ' + eur(f.hipotecaSolicitadaCalc));\n  if (f.aportacionMinimaCalc) lines.push('· Aportación necesaria: ' + eur(f.aportacionMinimaCalc));\n  if (f.cuotaMensualCalc) lines.push('· Cuota mensual estimada: ' + eur(f.cuotaMensualCalc) + '/mes');\n  if (f.cuotaMaxDtiCalc) lines.push('· Tu límite DTI: ' + eur(f.cuotaMaxDtiCalc) + '/mes');\n  if (f.plazoAnios && rate !== null) lines.push('· Plazo: ' + f.plazoAnios + ' años @ ' + rate + '%');\n  if (f.otrasCuotas) lines.push('· Otras cuotas mensuales: ' + eur(f.otrasCuotas));\n  notasParts.push(lines.join('\\n'));\n}\nif (f.mensaje) notasParts.push(String(f.mensaje));\nif (f.notasAdicionales) notasParts.push(String(f.notasAdicionales));\nconst extras = [];\nif (f.tipoIngresos) extras.push(`Tipo de ingresos: ${f.tipoIngresos}`);\nif (f.antiguedad) extras.push(`Antigüedad: ${f.antiguedad}`);\nif (f.tipoCompra) extras.push(`Tipo de compra: ${f.tipoCompra}`);\nif (f.propertySlug) extras.push(`Propiedad: ${f.propertySlug}`);\nif (extras.length) {\n  if (notasParts.length) notasParts.push('');\n  notasParts.push(...extras);\n}\nif (notasParts.length) {\n  pushVal(CFS.notas_form, notasParts.join('\\n').slice(0, 4000));\n}\n\nconst phone_norm = normPhone(f.telefono);\nconst contact_first = (f.nombre || '').trim() || 'Sin nombre';\nconst contact_last = (f.apellido || '').trim();\n\nconst lead_complex_payload = [{\n  name: `${body.formType} — ${contact_first}${contact_last ? ' ' + contact_last : ''}`,\n  pipeline_id: cfg.pipeline,\n  status_id: cfg.status,\n  custom_fields_values: lead_cfs,\n  _embedded: {\n    contacts: [{\n      first_name: contact_first,\n      last_name: contact_last,\n      custom_fields_values: [\n        { field_code: 'PHONE', values: [{value: phone_norm, enum_code: 'MOB'}] },\n        ...(f.email ? [{ field_code: 'EMAIL', values: [{value: f.email, enum_code: 'WORK'}] }] : [])\n      ]\n    }],\n    tags: [{name: 'form_web'}, {name: 'form_'+body.formType}]\n  }\n}];\n\nreturn [{json: {\n  formType: body.formType,\n  phone_norm, email: f.email || null, nombre: contact_first, apellido: contact_last,\n  pipeline_id: cfg.pipeline, status_id: cfg.status, salesbot_id: cfg.salesbot,\n  lead_complex_payload,\n  envelope_json: JSON.stringify(body),\n  utm_json: JSON.stringify(body.utm || {}),\n  ip: body.meta?.clientIp || null,\n  user_agent: body.meta?.userAgent || null,\n}}];\n"},"id":"6","name":"Map and Build","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,-16]},{"parameters":{"operation":"executeQuery","query":"SELECT EXISTS(SELECT 1 FROM form_submissions WHERE contact_phone = $1 AND form_type = $2 AND submitted_at > NOW() - INTERVAL '15 minutes' AND status IN ('pending','kommo_ok','done')) AS is_duplicate;","options":{"queryReplacement":"={{ $('Map and Build').item.json.phone_norm }},={{ $('Map and Build').item.json.formType }}"}},"id":"7","name":"Dedupe Check","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1136,-16],"credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d1","operator":{"type":"boolean","operation":"true"},"leftValue":"={{ $json.is_duplicate }}","rightValue":true}],"combinator":"and"},"options":{}},"id":"8","name":"IF Duplicate","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,-16]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO form_submissions (form_type, envelope, contact_phone, contact_email, status, utm, ip, user_agent) VALUES ($1, $2::jsonb, $3, $4, 'duplicate_skipped', $5::jsonb, $6, $7);","options":{"queryReplacement":"={{ $('Map and Build').item.json.formType }},={{ $('Map and Build').item.json.envelope_json }},={{ $('Map and Build').item.json.phone_norm }},={{ $('Map and Build').item.json.email }},={{ $('Map and Build').item.json.utm_json }},={{ $('Map and Build').item.json.ip }},={{ $('Map and Build').item.json.user_agent }}"}},"id":"9","name":"Insert duplicate_skipped","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1584,-112],"credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO form_submissions (form_type, envelope, contact_phone, contact_email, status, utm, ip, user_agent) VALUES ($1, $2::jsonb, $3, $4, 'pending', $5::jsonb, $6, $7) RETURNING id;","options":{"queryReplacement":"={{ $('Map and Build').item.json.formType }},={{ $('Map and Build').item.json.envelope_json }},={{ $('Map and Build').item.json.phone_norm }},={{ $('Map and Build').item.json.email }},={{ $('Map and Build').item.json.utm_json }},={{ $('Map and Build').item.json.ip }},={{ $('Map and Build').item.json.user_agent }}"}},"id":"10","name":"Insert pending","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1584,80],"credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v4/leads/complex","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Map and Build').item.json.lead_complex_payload) }}","options":{}},"id":"11","name":"Kommo /leads/complex","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,80],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"k1","operator":{"type":"number","operation":"exists","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"12","name":"IF Kommo OK","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,80]},{"parameters":{"operation":"executeQuery","query":"UPDATE form_submissions SET status='kommo_ok', kommo_lead_id=$1, kommo_contact_id=$2 WHERE id=$3;","options":{"queryReplacement":"={{ $('Kommo /leads/complex').item.json.id }},={{ $('Kommo /leads/complex').item.json.contact_id }},={{ $('Insert pending').item.json.id }}"}},"id":"13","name":"Update kommo_ok","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2256,-16],"credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify([{ bot_id: $('Map and Build').item.json.salesbot_id, entity_id: $('Kommo /leads/complex').item.json.id, entity_type: 2 }]) }}","options":{}},"id":"14","name":"Salesbot Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,-144],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"no-reply@simarroproperties.com","toEmail":"simarroproperties@gmail.com","subject":"={{ $('Build Email HTML OK').item.json.subject }}","html":"={{ $('Build Email HTML OK').item.json.html }}","options":{}},"id":"15","name":"Email Ramón OK","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[3152,0],"webhookId":"bb0b8466-96f0-48c0-89c0-f7952279b3c1","credentials":{"smtp":{"id":"my0IFrzKpGNhCs8c","name":"SMTP LEADS Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE form_submissions SET status='done' WHERE id=$1;","options":{"queryReplacement":"={{ $('Insert pending').item.json.id }}"}},"id":"16","name":"Update done","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3376,0],"credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE form_submissions SET status='kommo_failed', error=$2 WHERE id=$1;","options":{"queryReplacement":"={{ $('Insert pending').item.json.id }},={{ JSON.stringify($json) }}"}},"id":"17","name":"Update kommo_failed","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2256,248],"credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"fromEmail":"no-reply@simarroproperties.com","toEmail":"simarroproperties@gmail.com","subject":"={{ $('Build Email HTML URGENTE').item.json.subject }}","html":"={{ $('Build Email HTML URGENTE').item.json.html }}","options":{}},"id":"18","name":"Email Ramón URGENTE","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2704,248],"webhookId":"7ce555db-36cb-422d-a93a-debcf870346a","credentials":{"smtp":{"id":"my0IFrzKpGNhCs8c","name":"SMTP LEADS Simarro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cp1","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Map and Build').item.json.formType }}","rightValue":"contacto_propiedad"}],"combinator":"and"},"options":{}},"id":"19","name":"IF contacto_propiedad","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2480,-16]},{"parameters":{"jsCode":"function buildEmail(p) {\n  const accent = p.accent || '#1F9D6E';\n  const accentDark = p.accentDark || '#0F4A38';\n  const accentLight = p.accentLight || '#EBF5F0';\n  const accentBorder = p.accentBorder || '#C8E0D4';\n  const headerTagBg = p.headerTagBg || '#0A1512';\n  const headerTagFg = p.headerTagFg || '#1F9D6E';\n  const heroBg = p.heroBg || '#0F1715';\n  const headerImg = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/Simarro_header.png';\n  const logoImg   = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/logo_simarro_properties.png';\n\n  const dataRows = (p.dataBlocks || []).map((b, i) => `\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" ${i>0?`style=\"border-top:1px solid ${accentBorder};\"`:''}>\n      <tr><td style=\"padding:${i>0?'14px':'0'} 0 ${i===p.dataBlocks.length-1?0:14}px 0;\">\n        <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">${b.label}</p>\n        <p style=\"font-family:Georgia,serif;font-size:${b.big?20:18}px;color:#0F1715;margin:0;line-height:1.25;word-break:break-word;overflow-wrap:break-word;\">${b.value}</p>\n      </td></tr>\n    </table>`).join('');\n\n  const propertyBlock = p.property ? `\n    <tr><td class=\"inner-pad\" style=\"padding:16px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          ${p.property.thumbnail ? `<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:16px;\"><tr><td><img src=\"${p.property.thumbnail}\" alt=\"Propiedad\" width=\"540\" style=\"display:block;width:100%;max-width:540px;height:auto;border-radius:2px;margin:0 auto;\" /></td></tr></table>` : ''}\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Propiedad</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.35;\">${p.property.direccion || ''}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const bottomBlock = p.bottom ? `\n    <tr><td class=\"inner-pad\" style=\"padding:20px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 8px 0;\">${p.bottom.label}</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.4;\">${p.bottom.text}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const ctaBlock = p.ctaTel ? `\n    <tr><td align=\"center\" style=\"padding:24px 44px 4px 44px;background-color:#ffffff;\">\n      <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;font-weight:bold;color:#4A7A66;margin:0;\">\n        <a href=\"tel:${p.ctaTel.replace(/\\s/g,'')}\" style=\"color:${accentDark};text-decoration:none;border-bottom:1px solid ${accent};padding-bottom:2px;\">${p.ctaLabel || 'Contactar · ' + p.ctaTel}</a>\n      </p>\n    </td></tr>` : '';\n\n  const quote = p.quote !== null\n    ? `<tr><td align=\"center\" style=\"padding:30px 56px 24px 56px;background-color:#ffffff;\">\n        <p style=\"font-family:Georgia,serif;font-size:19px;font-style:italic;color:${accentDark};line-height:1.5;margin:0;\">${p.quote || '&ldquo;Cada propiedad es una oportunidad,<br/>cada cliente, una historia<br/>que merece la mejor decisión.&rdquo;'}</p>\n      </td></tr>`\n    : '';\n\n  const footerNote = p.footerNote || 'Este correo se generó automáticamente.';\n\n  return `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\"><head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n<meta name=\"color-scheme\" content=\"light only\" />\n<title>${p.subject || 'Simarro Properties'}</title>\n<style type=\"text/css\">\nbody { margin:0; padding:0; background-color:${heroBg}; font-family:Arial,Helvetica,sans-serif; }\ntable { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }\nimg { display:block; border:0; height:auto; outline:none; text-decoration:none; }\n@media only screen and (max-width:620px) { .outer{width:100%!important;} .inner-pad{padding:24px 20px!important;} .head-title{font-size:32px!important;} .hero-cell{height:200px!important;} .hero-band{padding:30px 0!important;} .hero-logo{width:96px!important;} .data-body{padding:20px!important;} .footer-pad{padding:28px 20px!important;} }\n</style></head>\n<body style=\"margin:0;padding:0;background-color:${heroBg};font-family:Arial,Helvetica,sans-serif;\">\n<center style=\"width:100%;background-color:${heroBg};padding:32px 0;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"outer\" style=\"width:100%;max-width:620px;background-color:#ffffff;border-radius:6px;overflow:hidden;box-shadow:0 20px 60px -20px rgba(0,0,0,0.55);\">\n<tr><td style=\"background-color:${headerTagBg};padding:14px 32px;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;letter-spacing:4px;color:${headerTagFg};text-transform:uppercase;font-weight:bold;\">Inmobiliaria &amp; Inversión</td>\n    <td align=\"right\" style=\"font-family:Georgia,serif;font-size:11px;font-style:italic;color:#4A7A66;letter-spacing:2px;\">${p.kickerTop || ''}</td>\n  </tr></table>\n</td></tr>\n<tr><td class=\"hero-cell\" align=\"center\" valign=\"middle\" bgcolor=\"${heroBg}\" background=\"${headerImg}\" height=\"300\" style=\"height:300px;background-image:url('${headerImg}');background-position:center center;background-repeat:no-repeat;background-size:cover;background-color:${heroBg};\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td class=\"hero-band\" align=\"center\" valign=\"middle\" style=\"padding:40px 0;background-color:rgba(10,21,18,0.52);\">\n      <img class=\"hero-logo\" src=\"${logoImg}\" alt=\"Simarro Properties\" width=\"120\" style=\"display:block;width:120px;max-width:38%;height:auto;margin:0 auto;\" />\n    </td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:32px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 12px;font-family:Georgia,serif;font-size:11px;font-style:italic;color:${accentDark};letter-spacing:3px;text-transform:uppercase;\">Inmobiliaria de inversión</td>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:5px;text-transform:uppercase;font-weight:bold;margin:0 0 10px 0;\">${p.kicker || ''}</p>\n  <h1 class=\"head-title\" style=\"font-family:Georgia,serif;font-size:42px;font-weight:normal;color:#0F1715;margin:0;line-height:1.05;letter-spacing:-1px;\">${p.headline || ''}</h1>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:18px 56px 0 56px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.7;color:#3F5651;margin:0;\">${p.intro || ''}</p>\n</td></tr>\n${dataRows ? `<tr><td class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n    <tr><td class=\"data-body\" style=\"padding:24px 28px;\">${dataRows}</td></tr>\n  </table>\n</td></tr>` : ''}\n${propertyBlock}\n${bottomBlock}\n${ctaBlock}\n${quote}\n<tr><td align=\"center\" class=\"footer-pad\" style=\"background-color:${headerTagBg};padding:36px 44px;\">\n  <p style=\"font-family:Georgia,serif;font-size:28px;font-style:italic;color:#FFFFFF;margin:0;letter-spacing:0.5px;\">Simarro <span style=\"color:${accent};font-style:italic;\">Properties</span></p>\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0;\"><tr>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 10px;font-family:Georgia,serif;font-size:10px;color:#4A7A66;\">&diams;</td>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4A7A66;letter-spacing:1px;margin:0 0 6px 0;\">Inmobiliaria &amp; Inversión</p>\n  <p style=\"margin:0;\"><a href=\"https://simarroproperties.com\" target=\"_blank\" style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;text-decoration:none;font-weight:bold;letter-spacing:2px;text-transform:uppercase;border-bottom:1px solid ${accent};padding-bottom:2px;\">www.simarroproperties.com</a></p>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:${accent};letter-spacing:2px;text-transform:uppercase;margin:18px 0 0 0;line-height:1.7;\">${footerNote}</p>\n</td></tr>\n</table></center></body></html>`;\n}\n\n\nconst m = $('Map and Build').item.json;\nconst lid = $('Update kommo_ok')?.first?.()?.json?.kommo_lead_id || $('Map and Build').item.json.kommo_lead_id || '';\nconst subdom = (m.kommo_subdomain || 'simarro');\nconst leadUrl = lid ? `https://${subdom}.kommo.com/leads/detail/${lid}` : '';\n\nconst html = buildEmail({\n  subject: `Nuevo lead web — ${m.formType}`,\n  kickerTop: 'Notificación interna',\n  kicker: 'Nuevo lead web',\n  headline: `Hay un <em style=\"font-style:italic;color:#0F4A38;\">lead</em><br/>esperando.`,\n  intro: `Llegó un nuevo lead desde el formulario <strong style=\"color:#0F1715;\">${m.formType || 'web'}</strong>. Contáctalo en menos de 24-48h.`,\n  dataBlocks: [\n    { label: 'Tipo formulario', value: m.formType || '-', big: true },\n    { label: 'Nombre',          value: m.nombre || '-' },\n    { label: 'Teléfono',        value: m.telefono || '-' },\n    { label: 'Email',           value: m.email || '-' },\n    { label: 'Lead Kommo',      value: leadUrl ? `<a href=\"${leadUrl}\" style=\"color:#0F4A38;text-decoration:none;border-bottom:1px solid #1F9D6E;\">Ver lead en Kommo &rarr;</a>` : '(pendiente sync)' }\n  ],\n  bottom: { label: 'Acción', text: 'Abre el lead en Kommo, valida los datos y márcalo como contactado tras la primera llamada/mensaje.' },\n  ctaTel: null,\n  quote: null,\n  footerNote: 'Notificación automática del formulario web.'\n});\nreturn [{ json: { html, subject: `Nuevo lead ${m.formType} — ${m.nombre || 'sin nombre'}` } }];\n"},"id":"7f1a45f0-77da-426f-aa16-2496f4c8f106","name":"Build Email HTML OK","type":"n8n-nodes-base.code","typeVersion":2,"position":[2928,0]},{"parameters":{"jsCode":"function buildEmail(p) {\n  const accent = p.accent || '#1F9D6E';\n  const accentDark = p.accentDark || '#0F4A38';\n  const accentLight = p.accentLight || '#EBF5F0';\n  const accentBorder = p.accentBorder || '#C8E0D4';\n  const headerTagBg = p.headerTagBg || '#0A1512';\n  const headerTagFg = p.headerTagFg || '#1F9D6E';\n  const heroBg = p.heroBg || '#0F1715';\n  const headerImg = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/Simarro_header.png';\n  const logoImg   = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/logo_simarro_properties.png';\n\n  const dataRows = (p.dataBlocks || []).map((b, i) => `\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" ${i>0?`style=\"border-top:1px solid ${accentBorder};\"`:''}>\n      <tr><td style=\"padding:${i>0?'14px':'0'} 0 ${i===p.dataBlocks.length-1?0:14}px 0;\">\n        <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">${b.label}</p>\n        <p style=\"font-family:Georgia,serif;font-size:${b.big?20:18}px;color:#0F1715;margin:0;line-height:1.25;word-break:break-word;overflow-wrap:break-word;\">${b.value}</p>\n      </td></tr>\n    </table>`).join('');\n\n  const propertyBlock = p.property ? `\n    <tr><td class=\"inner-pad\" style=\"padding:16px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          ${p.property.thumbnail ? `<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:16px;\"><tr><td><img src=\"${p.property.thumbnail}\" alt=\"Propiedad\" width=\"540\" style=\"display:block;width:100%;max-width:540px;height:auto;border-radius:2px;margin:0 auto;\" /></td></tr></table>` : ''}\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Propiedad</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.35;\">${p.property.direccion || ''}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const bottomBlock = p.bottom ? `\n    <tr><td class=\"inner-pad\" style=\"padding:20px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 8px 0;\">${p.bottom.label}</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.4;\">${p.bottom.text}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const ctaBlock = p.ctaTel ? `\n    <tr><td align=\"center\" style=\"padding:24px 44px 4px 44px;background-color:#ffffff;\">\n      <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;font-weight:bold;color:#4A7A66;margin:0;\">\n        <a href=\"tel:${p.ctaTel.replace(/\\s/g,'')}\" style=\"color:${accentDark};text-decoration:none;border-bottom:1px solid ${accent};padding-bottom:2px;\">${p.ctaLabel || 'Contactar · ' + p.ctaTel}</a>\n      </p>\n    </td></tr>` : '';\n\n  const quote = p.quote !== null\n    ? `<tr><td align=\"center\" style=\"padding:30px 56px 24px 56px;background-color:#ffffff;\">\n        <p style=\"font-family:Georgia,serif;font-size:19px;font-style:italic;color:${accentDark};line-height:1.5;margin:0;\">${p.quote || '&ldquo;Cada propiedad es una oportunidad,<br/>cada cliente, una historia<br/>que merece la mejor decisión.&rdquo;'}</p>\n      </td></tr>`\n    : '';\n\n  const footerNote = p.footerNote || 'Este correo se generó automáticamente.';\n\n  return `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\"><head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n<meta name=\"color-scheme\" content=\"light only\" />\n<title>${p.subject || 'Simarro Properties'}</title>\n<style type=\"text/css\">\nbody { margin:0; padding:0; background-color:${heroBg}; font-family:Arial,Helvetica,sans-serif; }\ntable { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }\nimg { display:block; border:0; height:auto; outline:none; text-decoration:none; }\n@media only screen and (max-width:620px) { .outer{width:100%!important;} .inner-pad{padding:24px 20px!important;} .head-title{font-size:32px!important;} .hero-cell{height:200px!important;} .hero-band{padding:30px 0!important;} .hero-logo{width:96px!important;} .data-body{padding:20px!important;} .footer-pad{padding:28px 20px!important;} }\n</style></head>\n<body style=\"margin:0;padding:0;background-color:${heroBg};font-family:Arial,Helvetica,sans-serif;\">\n<center style=\"width:100%;background-color:${heroBg};padding:32px 0;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"outer\" style=\"width:100%;max-width:620px;background-color:#ffffff;border-radius:6px;overflow:hidden;box-shadow:0 20px 60px -20px rgba(0,0,0,0.55);\">\n<tr><td style=\"background-color:${headerTagBg};padding:14px 32px;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;letter-spacing:4px;color:${headerTagFg};text-transform:uppercase;font-weight:bold;\">Inmobiliaria &amp; Inversión</td>\n    <td align=\"right\" style=\"font-family:Georgia,serif;font-size:11px;font-style:italic;color:#4A7A66;letter-spacing:2px;\">${p.kickerTop || ''}</td>\n  </tr></table>\n</td></tr>\n<tr><td class=\"hero-cell\" align=\"center\" valign=\"middle\" bgcolor=\"${heroBg}\" background=\"${headerImg}\" height=\"300\" style=\"height:300px;background-image:url('${headerImg}');background-position:center center;background-repeat:no-repeat;background-size:cover;background-color:${heroBg};\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td class=\"hero-band\" align=\"center\" valign=\"middle\" style=\"padding:40px 0;background-color:rgba(10,21,18,0.52);\">\n      <img class=\"hero-logo\" src=\"${logoImg}\" alt=\"Simarro Properties\" width=\"120\" style=\"display:block;width:120px;max-width:38%;height:auto;margin:0 auto;\" />\n    </td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:32px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 12px;font-family:Georgia,serif;font-size:11px;font-style:italic;color:${accentDark};letter-spacing:3px;text-transform:uppercase;\">Inmobiliaria de inversión</td>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:5px;text-transform:uppercase;font-weight:bold;margin:0 0 10px 0;\">${p.kicker || ''}</p>\n  <h1 class=\"head-title\" style=\"font-family:Georgia,serif;font-size:42px;font-weight:normal;color:#0F1715;margin:0;line-height:1.05;letter-spacing:-1px;\">${p.headline || ''}</h1>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:18px 56px 0 56px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.7;color:#3F5651;margin:0;\">${p.intro || ''}</p>\n</td></tr>\n${dataRows ? `<tr><td class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n    <tr><td class=\"data-body\" style=\"padding:24px 28px;\">${dataRows}</td></tr>\n  </table>\n</td></tr>` : ''}\n${propertyBlock}\n${bottomBlock}\n${ctaBlock}\n${quote}\n<tr><td align=\"center\" class=\"footer-pad\" style=\"background-color:${headerTagBg};padding:36px 44px;\">\n  <p style=\"font-family:Georgia,serif;font-size:28px;font-style:italic;color:#FFFFFF;margin:0;letter-spacing:0.5px;\">Simarro <span style=\"color:${accent};font-style:italic;\">Properties</span></p>\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0;\"><tr>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 10px;font-family:Georgia,serif;font-size:10px;color:#4A7A66;\">&diams;</td>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4A7A66;letter-spacing:1px;margin:0 0 6px 0;\">Inmobiliaria &amp; Inversión</p>\n  <p style=\"margin:0;\"><a href=\"https://simarroproperties.com\" target=\"_blank\" style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;text-decoration:none;font-weight:bold;letter-spacing:2px;text-transform:uppercase;border-bottom:1px solid ${accent};padding-bottom:2px;\">www.simarroproperties.com</a></p>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:${accent};letter-spacing:2px;text-transform:uppercase;margin:18px 0 0 0;line-height:1.7;\">${footerNote}</p>\n</td></tr>\n</table></center></body></html>`;\n}\n\n\nconst m = $('Map and Build').item.json;\nconst fail = $('Update kommo_failed')?.first?.()?.json || {};\nconst errMsg = fail.error || m.error || 'Sin detalle. Revisar logs n8n.';\nconst subId = fail.id || $('Insert pending')?.first?.()?.json?.id || '';\n\nconst html = buildEmail({\n  subject: `URGENTE — Lead web NO entró en Kommo (${m.formType})`,\n  kickerTop: 'Acción urgente',\n  kicker: 'Lead web fallido',\n  headline: `Recupera <em style=\"font-style:italic;color:#9D1F1F;\">manualmente</em><br/>este lead.`,\n  intro: `El formulario <strong style=\"color:#0F1715;\">${m.formType || 'web'}</strong> no logró crear el lead en Kommo. Hay que recuperarlo desde Postgres.`,\n  dataBlocks: [\n    { label: 'ID Postgres (form_submissions)', value: String(subId), big: true },\n    { label: 'Tipo formulario', value: m.formType || '-' },\n    { label: 'Nombre',          value: m.nombre || '-' },\n    { label: 'Teléfono',        value: m.telefono || '-' },\n    { label: 'Email',           value: m.email || '-' },\n    { label: 'Error',           value: `<code style=\"font-family:monospace;font-size:12px;color:#9D1F1F;\">${errMsg}</code>` },\n  ],\n  bottom: { label: 'Cómo recuperar', text: 'En Postgres tabla form_submissions, status=kommo_failed. Crear lead manualmente en Kommo con los datos de la fila y luego marcar status=done.' },\n  accent: '#9D1F1F',\n  accentDark: '#7A1A1A',\n  accentLight: '#FBE9E9',\n  accentBorder: '#F1C7C7',\n  headerTagFg: '#FF6B6B',\n  ctaTel: null,\n  quote: null,\n  footerNote: 'Aviso automático de fallo en pipeline web.'\n});\nreturn [{ json: { html, subject: `⚠ URGENTE — Lead web NO entró en Kommo (${m.formType})` } }];\n"},"id":"97ff9cea-c018-47c2-9b9f-dfe0f00c7e56","name":"Build Email HTML URGENTE","type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,248]}],"connections":{"Webhook":{"main":[[{"node":"Auth & Validate","type":"main","index":0}]]},"Auth & Validate":{"main":[[{"node":"IF Valid","type":"main","index":0}]]},"IF Valid":{"main":[[{"node":"Respond 200","type":"main","index":0},{"node":"Map and Build","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Map and Build":{"main":[[{"node":"Dedupe Check","type":"main","index":0}]]},"Dedupe Check":{"main":[[{"node":"IF Duplicate","type":"main","index":0}]]},"IF Duplicate":{"main":[[{"node":"Insert duplicate_skipped","type":"main","index":0}],[{"node":"Insert pending","type":"main","index":0}]]},"Insert pending":{"main":[[{"node":"Kommo /leads/complex","type":"main","index":0}]]},"Kommo /leads/complex":{"main":[[{"node":"IF Kommo OK","type":"main","index":0}]]},"IF Kommo OK":{"main":[[{"node":"Update kommo_ok","type":"main","index":0}],[{"node":"Update kommo_failed","type":"main","index":0}]]},"Update kommo_ok":{"main":[[{"node":"IF contacto_propiedad","type":"main","index":0}]]},"Email Ramón OK":{"main":[[{"node":"Update done","type":"main","index":0}]]},"Update kommo_failed":{"main":[[{"node":"Build Email HTML URGENTE","type":"main","index":0}]]},"Salesbot Run":{"main":[[{"node":"Build Email HTML OK","type":"main","index":0}]]},"IF contacto_propiedad":{"main":[[{"node":"Salesbot Run","type":"main","index":0}],[{"node":"Build Email HTML OK","type":"main","index":0}]]},"Build Email HTML OK":{"main":[[{"node":"Email Ramón OK","type":"main","index":0}]]},"Build Email HTML URGENTE":{"main":[[{"node":"Email Ramón URGENTE","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"64414789-5a43-4b40-a0c2-187a5426f368","activeVersionId":"64414789-5a43-4b40-a0c2-187a5426f368","versionCounter":94,"triggerCount":1,"shared":[{"updatedAt":"2026-04-28T10:16:40.246Z","createdAt":"2026-04-28T10:16:40.246Z","role":"workflow:owner","workflowId":"OFGGroWlifA88YFN","projectId":"KzDhDvn7gXhn9Jke","project":{"updatedAt":"2026-04-14T19:24:58.568Z","createdAt":"2026-04-14T17:51:20.172Z","id":"KzDhDvn7gXhn9Jke","name":"agentesia madrid <info@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"e11c9a81-3802-42a8-8b75-5d3028942946"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-02T21:04:25.342Z","createdAt":"2026-06-02T21:04:25.342Z","versionId":"64414789-5a43-4b40-a0c2-187a5426f368","workflowId":"OFGGroWlifA88YFN","nodes":[{"parameters":{"httpMethod":"POST","path":"80f01ee4-5e87-4d2d-9eeb-3786cfb18fbd","responseMode":"responseNode","options":{"rawBody":false,"responseHeaders":{"entries":[]}}},"id":"1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,-16],"webhookId":"2b22f6ea-b40c-4cf3-b182-a22558540121"},{"parameters":{"jsCode":"\nconst item = $input.first().json;\nconst auth = item.headers?.authorization || '';\nconst EXPECTED = 'Bearer simarro_Z2O40vQbqve2YZ3Ksn2JsEQCcJqAh6L8BO8mxvbqwTE';\nif (auth !== EXPECTED) {\n  return [{json: {valid: false, status: 401, message: 'Unauthorized'}}];\n}\nconst body = item.body;\nif (!body || typeof body !== 'object') {\n  return [{json: {valid: false, status: 400, message: 'Body required'}}];\n}\nconst VALID = ['valoracion','valoracion_quick','capacidad','simulacion_hipoteca','personal_shopper','inversion','contacto_propiedad'];\nif (!VALID.includes(body.formType)) {\n  return [{json: {valid: false, status: 400, message: 'Invalid formType: '+body.formType}}];\n}\nif (!body.fields || typeof body.fields !== 'object') {\n  return [{json: {valid: false, status: 400, message: 'fields required'}}];\n}\nif (!body.fields.telefono) {\n  return [{json: {valid: false, status: 400, message: 'telefono required'}}];\n}\nreturn [{json: {valid: true, body, headers: item.headers || {}, params: item.params || {}}}];\n"},"id":"2","name":"Auth & Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"v1","operator":{"type":"boolean","operation":"true"},"leftValue":"={{ $json.valid }}","rightValue":true}],"combinator":"and"},"options":{}},"id":"3","name":"IF Valid","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,-16]},{"parameters":{"respondWith":"json","responseBody":"={{ {\"success\": true, \"message\": \"Form received\"} }}","options":{"responseCode":200}},"id":"4","name":"Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[912,-208]},{"parameters":{"respondWith":"json","responseBody":"={{ {\"success\": false, \"error\": $json.message} }}","options":{"responseCode":"={{ $json.status }}"}},"id":"5","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[912,176]},{"parameters":{"jsCode":"\nconst body = $('Auth & Validate').first().json.body;\nconst f = body.fields;\n\nfunction normPhone(p) {\n  let s = String(p || '').replace(/[\\s()-]/g, '');\n  if (!s) return '';\n  if (s.startsWith('+')) return s;\n  if (s.startsWith('00')) return '+' + s.slice(2);\n  if (s.startsWith('34') && s.length >= 11) return '+' + s;\n  if (/^\\d{9}$/.test(s)) return '+34' + s;\n  return s;\n}\n\nconst MAP = {\n  valoracion:        { pipeline: 13652227, status: 105358019, salesbot: 88575 },\n  valoracion_quick:  { pipeline: 13652227, status: 105358019, salesbot: 88575 },\n  capacidad:         { pipeline: 13652231, status: 105358039, salesbot: 88575 },\n  simulacion_hipoteca:{ pipeline: 13652231, status: 105358039, salesbot: 88575 },\n  personal_shopper:  { pipeline: 13652235, status: 105358059, salesbot: 88575 },\n  inversion:         { pipeline: 13652239, status: 105358079, salesbot: 88575 },\n  contacto_propiedad:{ pipeline: 13546071, status: 105137095, salesbot: 87869 },\n};\nconst cfg = MAP[body.formType];\n\nconst CFS = {\n  email_lead: 1372575, notas_form: 1373307,\n  tipo_vivienda: 1373283, zona: 1373285, superficie: 1373287, habitaciones: 1373289,\n  estado_vivienda: 1373291, plazo_venta: 1373293,\n  situacion_compra: 1373295, ingresos: 1373297, ahorro: 1373299, precio_objetivo: 1373301,\n  presupuesto_inversion: 1373303, property_ref: 1373305,\n};\n\nconst lead_cfs = [];\nfunction pushVal(fid, v, type){\n  if (v === undefined || v === null || v === '') return;\n  if (type === 'num') lead_cfs.push({field_id: fid, values:[{value: Number(v)}]});\n  else lead_cfs.push({field_id: fid, values:[{value: String(v)}]});\n}\nfunction pushEnum(fid, enumId){\n  if (enumId === undefined || enumId === null) return;\n  lead_cfs.push({field_id: fid, values:[{enum_id: Number(enumId)}]});\n}\nfunction precioObjetivoEnumId(p){\n  const n = Number(p);\n  if (!isFinite(n) || n <= 0) return null;\n  if (n < 200000) return 1019859; // Menos de 200k\n  if (n < 300000) return 1019861; // 200k-300k\n  if (n < 400000) return 1019863; // 300k-400k\n  return 1019865;                  // Más de 400k\n}\nconst M_TIPO = {piso:'Piso',atico:'Ático',duplex:'Dúplex',chalet:'Chalet',local_oficina:'Local-Oficina',otro:'Otro'};\nconst M_EST = {entrar_a_vivir:'Entrar a vivir',buen_estado:'Buen estado',a_reformar:'A reformar',reforma_integral:'Reforma integral'};\nconst M_PLAZO = {menos_3:'Menos de 3 meses','3_a_6':'3-6 meses',mas_6:'Más de 6 meses',no_se:'No sé'};\nconst M_SIT = {solo:'Solo',pareja:'Pareja',otra_persona:'Otra persona'};\nconst M_PREC = {menos_200k:'Menos de 200k','200k_300k':'200k-300k','300k_400k':'300k-400k',mas_400k:'Más de 400k',no_se:'No sé'};\nconst M_PRES = {'100k_300k':'100k-300k','300k_600k':'300k-600k','600k_1m':'600k-1M',mas_1m:'Más de 1M',no_definido:'No definido'};\n\nif (f.email) pushVal(CFS.email_lead, f.email);\nif (body.formType === 'valoracion' || body.formType === 'valoracion_quick') {\n  pushVal(CFS.tipo_vivienda, M_TIPO[f.tipoVivienda]);\n  pushVal(CFS.zona, f.zona);\n}\nif (body.formType === 'valoracion') {\n  pushVal(CFS.superficie, f.superficie, 'num');\n  pushVal(CFS.habitaciones, f.habitaciones);\n  pushVal(CFS.estado_vivienda, M_EST[f.estado]);\n  pushVal(CFS.plazo_venta, M_PLAZO[f.plazoVenta]);\n}\nif (body.formType === 'capacidad') {\n  pushVal(CFS.ingresos, f.ingresosMensuales, 'num');\n  pushVal(CFS.ahorro, f.ahorro, 'num');\n  pushEnum(CFS.precio_objetivo, precioObjetivoEnumId(f.precioPropiedad));\n}\nif (body.formType === 'inversion') {\n  pushVal(CFS.presupuesto_inversion, M_PRES[f.presupuesto]);\n}\nif (body.formType === 'contacto_propiedad') {\n  pushVal(CFS.property_ref, f.propertyReference);\n}\n\nif (body.formType === 'simulacion_hipoteca') {\n  pushVal(CFS.ahorro, f.downPayment, 'num');\n  pushEnum(CFS.precio_objetivo, precioObjetivoEnumId(f.propertyPrice));\n}\n\nconst notasParts = [];\nif (body.formType === 'simulacion_hipoteca') {\n  const eur = (n) => {\n    if (n === undefined || n === null) return null;\n    const r = Math.round(Number(n));\n    const s = String(Math.abs(r)).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n    return (r < 0 ? '-' : '') + s + ' €';\n  };\n  const price = Number(f.propertyPrice) || 0;\n  const down  = Number(f.downPayment) || 0;\n  const pct = price > 0 ? Math.round((down / price) * 100) : null;\n  const rate = (f.annualInterest !== undefined && f.annualInterest !== null) ? String(f.annualInterest).replace('.', ',') : null;\n  const lines = ['Simulador hipoteca:'];\n  if (f.propertyPrice) lines.push('· Precio inmueble: ' + eur(f.propertyPrice));\n  if (f.downPayment !== undefined) lines.push('· Entrada: ' + eur(f.downPayment) + (pct !== null ? ' (' + pct + '%)' : ''));\n  if (f.termYears) lines.push('· Plazo: ' + f.termYears + ' años');\n  if (rate !== null && f.rateType) lines.push('· Tipo: ' + f.rateType + ' @ ' + rate + '%');\n  if (f.monthlyPayment) lines.push('· Cuota mensual: ' + eur(f.monthlyPayment));\n  if (f.totalInterest) lines.push('· Intereses totales: ' + eur(f.totalInterest));\n  if (f.totalPaid) lines.push('· Coste total: ' + eur(f.totalPaid));\n  notasParts.push(lines.join('\\n'));\n}\nif (body.formType === 'capacidad') {\n  const eur = (n) => {\n    if (n === undefined || n === null) return null;\n    const r = Math.round(Number(n));\n    const s = String(Math.abs(r)).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n    return (r < 0 ? '-' : '') + s + ' €';\n  };\n  const TI = { nueva: 'Nueva', segunda_mano: 'Segunda mano' };\n  const TV = { primera: 'Primera', segunda: 'Segunda' };\n  const tipoIm  = TI[f.tipoInmueble] || f.tipoInmueble || null;\n  const tipoVi  = TV[f.tipoVivienda] || f.tipoVivienda || null;\n  const gastosPct = f.tipoInmueble === 'nueva' ? 11 : (f.tipoInmueble === 'segunda_mano' ? 7 : null);\n  const ltvPct  = f.tipoVivienda === 'primera' ? 80 : (f.tipoVivienda === 'segunda' ? 70 : null);\n  const rate    = (f.interesAnual !== undefined && f.interesAnual !== null) ? String(f.interesAnual).replace('.', ',') : null;\n  const lines = ['Estudio de capacidad:'];\n  if (f.precioPropiedad) lines.push('· Precio propiedad: ' + eur(f.precioPropiedad));\n  if (tipoIm) lines.push('· Tipo inmueble: ' + tipoIm + (gastosPct !== null ? ' (gastos ' + gastosPct + '% = ' + eur(f.gastosImporteCalc) + ')' : ''));\n  if (tipoVi) lines.push('· Vivienda: ' + tipoVi + (ltvPct !== null ? ' (LTV ' + ltvPct + '%)' : ''));\n  if (f.hipotecaSolicitadaCalc) lines.push('· Hipoteca a solicitar: ' + eur(f.hipotecaSolicitadaCalc));\n  if (f.aportacionMinimaCalc) lines.push('· Aportación necesaria: ' + eur(f.aportacionMinimaCalc));\n  if (f.cuotaMensualCalc) lines.push('· Cuota mensual estimada: ' + eur(f.cuotaMensualCalc) + '/mes');\n  if (f.cuotaMaxDtiCalc) lines.push('· Tu límite DTI: ' + eur(f.cuotaMaxDtiCalc) + '/mes');\n  if (f.plazoAnios && rate !== null) lines.push('· Plazo: ' + f.plazoAnios + ' años @ ' + rate + '%');\n  if (f.otrasCuotas) lines.push('· Otras cuotas mensuales: ' + eur(f.otrasCuotas));\n  notasParts.push(lines.join('\\n'));\n}\nif (f.mensaje) notasParts.push(String(f.mensaje));\nif (f.notasAdicionales) notasParts.push(String(f.notasAdicionales));\nconst extras = [];\nif (f.tipoIngresos) extras.push(`Tipo de ingresos: ${f.tipoIngresos}`);\nif (f.antiguedad) extras.push(`Antigüedad: ${f.antiguedad}`);\nif (f.tipoCompra) extras.push(`Tipo de compra: ${f.tipoCompra}`);\nif (f.propertySlug) extras.push(`Propiedad: ${f.propertySlug}`);\nif (extras.length) {\n  if (notasParts.length) notasParts.push('');\n  notasParts.push(...extras);\n}\nif (notasParts.length) {\n  pushVal(CFS.notas_form, notasParts.join('\\n').slice(0, 4000));\n}\n\nconst phone_norm = normPhone(f.telefono);\nconst contact_first = (f.nombre || '').trim() || 'Sin nombre';\nconst contact_last = (f.apellido || '').trim();\n\nconst lead_complex_payload = [{\n  name: `${body.formType} — ${contact_first}${contact_last ? ' ' + contact_last : ''}`,\n  pipeline_id: cfg.pipeline,\n  status_id: cfg.status,\n  custom_fields_values: lead_cfs,\n  _embedded: {\n    contacts: [{\n      first_name: contact_first,\n      last_name: contact_last,\n      custom_fields_values: [\n        { field_code: 'PHONE', values: [{value: phone_norm, enum_code: 'MOB'}] },\n        ...(f.email ? [{ field_code: 'EMAIL', values: [{value: f.email, enum_code: 'WORK'}] }] : [])\n      ]\n    }],\n    tags: [{name: 'form_web'}, {name: 'form_'+body.formType}]\n  }\n}];\n\nreturn [{json: {\n  formType: body.formType,\n  phone_norm, email: f.email || null, nombre: contact_first, apellido: contact_last,\n  pipeline_id: cfg.pipeline, status_id: cfg.status, salesbot_id: cfg.salesbot,\n  lead_complex_payload,\n  envelope_json: JSON.stringify(body),\n  utm_json: JSON.stringify(body.utm || {}),\n  ip: body.meta?.clientIp || null,\n  user_agent: body.meta?.userAgent || null,\n}}];\n"},"id":"6","name":"Map and Build","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,-16]},{"parameters":{"operation":"executeQuery","query":"SELECT EXISTS(SELECT 1 FROM form_submissions WHERE contact_phone = $1 AND form_type = $2 AND submitted_at > NOW() - INTERVAL '15 minutes' AND status IN ('pending','kommo_ok','done')) AS is_duplicate;","options":{"queryReplacement":"={{ $('Map and Build').item.json.phone_norm }},={{ $('Map and Build').item.json.formType }}"}},"id":"7","name":"Dedupe Check","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1136,-16],"credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d1","operator":{"type":"boolean","operation":"true"},"leftValue":"={{ $json.is_duplicate }}","rightValue":true}],"combinator":"and"},"options":{}},"id":"8","name":"IF Duplicate","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,-16]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO form_submissions (form_type, envelope, contact_phone, contact_email, status, utm, ip, user_agent) VALUES ($1, $2::jsonb, $3, $4, 'duplicate_skipped', $5::jsonb, $6, $7);","options":{"queryReplacement":"={{ $('Map and Build').item.json.formType }},={{ $('Map and Build').item.json.envelope_json }},={{ $('Map and Build').item.json.phone_norm }},={{ $('Map and Build').item.json.email }},={{ $('Map and Build').item.json.utm_json }},={{ $('Map and Build').item.json.ip }},={{ $('Map and Build').item.json.user_agent }}"}},"id":"9","name":"Insert duplicate_skipped","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1584,-112],"credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO form_submissions (form_type, envelope, contact_phone, contact_email, status, utm, ip, user_agent) VALUES ($1, $2::jsonb, $3, $4, 'pending', $5::jsonb, $6, $7) RETURNING id;","options":{"queryReplacement":"={{ $('Map and Build').item.json.formType }},={{ $('Map and Build').item.json.envelope_json }},={{ $('Map and Build').item.json.phone_norm }},={{ $('Map and Build').item.json.email }},={{ $('Map and Build').item.json.utm_json }},={{ $('Map and Build').item.json.ip }},={{ $('Map and Build').item.json.user_agent }}"}},"id":"10","name":"Insert pending","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1584,80],"credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v4/leads/complex","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Map and Build').item.json.lead_complex_payload) }}","options":{}},"id":"11","name":"Kommo /leads/complex","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,80],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"k1","operator":{"type":"number","operation":"exists","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"12","name":"IF Kommo OK","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,80]},{"parameters":{"operation":"executeQuery","query":"UPDATE form_submissions SET status='kommo_ok', kommo_lead_id=$1, kommo_contact_id=$2 WHERE id=$3;","options":{"queryReplacement":"={{ $('Kommo /leads/complex').item.json.id }},={{ $('Kommo /leads/complex').item.json.contact_id }},={{ $('Insert pending').item.json.id }}"}},"id":"13","name":"Update kommo_ok","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2256,-16],"credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify([{ bot_id: $('Map and Build').item.json.salesbot_id, entity_id: $('Kommo /leads/complex').item.json.id, entity_type: 2 }]) }}","options":{}},"id":"14","name":"Salesbot Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,-144],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"no-reply@simarroproperties.com","toEmail":"simarroproperties@gmail.com","subject":"={{ $('Build Email HTML OK').item.json.subject }}","html":"={{ $('Build Email HTML OK').item.json.html }}","options":{}},"id":"15","name":"Email Ramón OK","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[3152,0],"webhookId":"bb0b8466-96f0-48c0-89c0-f7952279b3c1","credentials":{"smtp":{"id":"my0IFrzKpGNhCs8c","name":"SMTP LEADS Simarro"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE form_submissions SET status='done' WHERE id=$1;","options":{"queryReplacement":"={{ $('Insert pending').item.json.id }}"}},"id":"16","name":"Update done","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3376,0],"credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE form_submissions SET status='kommo_failed', error=$2 WHERE id=$1;","options":{"queryReplacement":"={{ $('Insert pending').item.json.id }},={{ JSON.stringify($json) }}"}},"id":"17","name":"Update kommo_failed","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2256,248],"credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"fromEmail":"no-reply@simarroproperties.com","toEmail":"simarroproperties@gmail.com","subject":"={{ $('Build Email HTML URGENTE').item.json.subject }}","html":"={{ $('Build Email HTML URGENTE').item.json.html }}","options":{}},"id":"18","name":"Email Ramón URGENTE","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2704,248],"webhookId":"7ce555db-36cb-422d-a93a-debcf870346a","credentials":{"smtp":{"id":"my0IFrzKpGNhCs8c","name":"SMTP LEADS Simarro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cp1","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Map and Build').item.json.formType }}","rightValue":"contacto_propiedad"}],"combinator":"and"},"options":{}},"id":"19","name":"IF contacto_propiedad","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2480,-16]},{"parameters":{"jsCode":"function buildEmail(p) {\n  const accent = p.accent || '#1F9D6E';\n  const accentDark = p.accentDark || '#0F4A38';\n  const accentLight = p.accentLight || '#EBF5F0';\n  const accentBorder = p.accentBorder || '#C8E0D4';\n  const headerTagBg = p.headerTagBg || '#0A1512';\n  const headerTagFg = p.headerTagFg || '#1F9D6E';\n  const heroBg = p.heroBg || '#0F1715';\n  const headerImg = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/Simarro_header.png';\n  const logoImg   = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/logo_simarro_properties.png';\n\n  const dataRows = (p.dataBlocks || []).map((b, i) => `\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" ${i>0?`style=\"border-top:1px solid ${accentBorder};\"`:''}>\n      <tr><td style=\"padding:${i>0?'14px':'0'} 0 ${i===p.dataBlocks.length-1?0:14}px 0;\">\n        <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">${b.label}</p>\n        <p style=\"font-family:Georgia,serif;font-size:${b.big?20:18}px;color:#0F1715;margin:0;line-height:1.25;word-break:break-word;overflow-wrap:break-word;\">${b.value}</p>\n      </td></tr>\n    </table>`).join('');\n\n  const propertyBlock = p.property ? `\n    <tr><td class=\"inner-pad\" style=\"padding:16px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          ${p.property.thumbnail ? `<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:16px;\"><tr><td><img src=\"${p.property.thumbnail}\" alt=\"Propiedad\" width=\"540\" style=\"display:block;width:100%;max-width:540px;height:auto;border-radius:2px;margin:0 auto;\" /></td></tr></table>` : ''}\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Propiedad</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.35;\">${p.property.direccion || ''}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const bottomBlock = p.bottom ? `\n    <tr><td class=\"inner-pad\" style=\"padding:20px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 8px 0;\">${p.bottom.label}</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.4;\">${p.bottom.text}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const ctaBlock = p.ctaTel ? `\n    <tr><td align=\"center\" style=\"padding:24px 44px 4px 44px;background-color:#ffffff;\">\n      <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;font-weight:bold;color:#4A7A66;margin:0;\">\n        <a href=\"tel:${p.ctaTel.replace(/\\s/g,'')}\" style=\"color:${accentDark};text-decoration:none;border-bottom:1px solid ${accent};padding-bottom:2px;\">${p.ctaLabel || 'Contactar · ' + p.ctaTel}</a>\n      </p>\n    </td></tr>` : '';\n\n  const quote = p.quote !== null\n    ? `<tr><td align=\"center\" style=\"padding:30px 56px 24px 56px;background-color:#ffffff;\">\n        <p style=\"font-family:Georgia,serif;font-size:19px;font-style:italic;color:${accentDark};line-height:1.5;margin:0;\">${p.quote || '&ldquo;Cada propiedad es una oportunidad,<br/>cada cliente, una historia<br/>que merece la mejor decisión.&rdquo;'}</p>\n      </td></tr>`\n    : '';\n\n  const footerNote = p.footerNote || 'Este correo se generó automáticamente.';\n\n  return `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\"><head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n<meta name=\"color-scheme\" content=\"light only\" />\n<title>${p.subject || 'Simarro Properties'}</title>\n<style type=\"text/css\">\nbody { margin:0; padding:0; background-color:${heroBg}; font-family:Arial,Helvetica,sans-serif; }\ntable { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }\nimg { display:block; border:0; height:auto; outline:none; text-decoration:none; }\n@media only screen and (max-width:620px) { .outer{width:100%!important;} .inner-pad{padding:24px 20px!important;} .head-title{font-size:32px!important;} .hero-cell{height:200px!important;} .hero-band{padding:30px 0!important;} .hero-logo{width:96px!important;} .data-body{padding:20px!important;} .footer-pad{padding:28px 20px!important;} }\n</style></head>\n<body style=\"margin:0;padding:0;background-color:${heroBg};font-family:Arial,Helvetica,sans-serif;\">\n<center style=\"width:100%;background-color:${heroBg};padding:32px 0;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"outer\" style=\"width:100%;max-width:620px;background-color:#ffffff;border-radius:6px;overflow:hidden;box-shadow:0 20px 60px -20px rgba(0,0,0,0.55);\">\n<tr><td style=\"background-color:${headerTagBg};padding:14px 32px;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;letter-spacing:4px;color:${headerTagFg};text-transform:uppercase;font-weight:bold;\">Inmobiliaria &amp; Inversión</td>\n    <td align=\"right\" style=\"font-family:Georgia,serif;font-size:11px;font-style:italic;color:#4A7A66;letter-spacing:2px;\">${p.kickerTop || ''}</td>\n  </tr></table>\n</td></tr>\n<tr><td class=\"hero-cell\" align=\"center\" valign=\"middle\" bgcolor=\"${heroBg}\" background=\"${headerImg}\" height=\"300\" style=\"height:300px;background-image:url('${headerImg}');background-position:center center;background-repeat:no-repeat;background-size:cover;background-color:${heroBg};\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td class=\"hero-band\" align=\"center\" valign=\"middle\" style=\"padding:40px 0;background-color:rgba(10,21,18,0.52);\">\n      <img class=\"hero-logo\" src=\"${logoImg}\" alt=\"Simarro Properties\" width=\"120\" style=\"display:block;width:120px;max-width:38%;height:auto;margin:0 auto;\" />\n    </td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:32px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 12px;font-family:Georgia,serif;font-size:11px;font-style:italic;color:${accentDark};letter-spacing:3px;text-transform:uppercase;\">Inmobiliaria de inversión</td>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:5px;text-transform:uppercase;font-weight:bold;margin:0 0 10px 0;\">${p.kicker || ''}</p>\n  <h1 class=\"head-title\" style=\"font-family:Georgia,serif;font-size:42px;font-weight:normal;color:#0F1715;margin:0;line-height:1.05;letter-spacing:-1px;\">${p.headline || ''}</h1>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:18px 56px 0 56px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.7;color:#3F5651;margin:0;\">${p.intro || ''}</p>\n</td></tr>\n${dataRows ? `<tr><td class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n    <tr><td class=\"data-body\" style=\"padding:24px 28px;\">${dataRows}</td></tr>\n  </table>\n</td></tr>` : ''}\n${propertyBlock}\n${bottomBlock}\n${ctaBlock}\n${quote}\n<tr><td align=\"center\" class=\"footer-pad\" style=\"background-color:${headerTagBg};padding:36px 44px;\">\n  <p style=\"font-family:Georgia,serif;font-size:28px;font-style:italic;color:#FFFFFF;margin:0;letter-spacing:0.5px;\">Simarro <span style=\"color:${accent};font-style:italic;\">Properties</span></p>\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0;\"><tr>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 10px;font-family:Georgia,serif;font-size:10px;color:#4A7A66;\">&diams;</td>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4A7A66;letter-spacing:1px;margin:0 0 6px 0;\">Inmobiliaria &amp; Inversión</p>\n  <p style=\"margin:0;\"><a href=\"https://simarroproperties.com\" target=\"_blank\" style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;text-decoration:none;font-weight:bold;letter-spacing:2px;text-transform:uppercase;border-bottom:1px solid ${accent};padding-bottom:2px;\">www.simarroproperties.com</a></p>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:${accent};letter-spacing:2px;text-transform:uppercase;margin:18px 0 0 0;line-height:1.7;\">${footerNote}</p>\n</td></tr>\n</table></center></body></html>`;\n}\n\n\nconst m = $('Map and Build').item.json;\nconst lid = $('Update kommo_ok')?.first?.()?.json?.kommo_lead_id || $('Map and Build').item.json.kommo_lead_id || '';\nconst subdom = (m.kommo_subdomain || 'simarro');\nconst leadUrl = lid ? `https://${subdom}.kommo.com/leads/detail/${lid}` : '';\n\nconst html = buildEmail({\n  subject: `Nuevo lead web — ${m.formType}`,\n  kickerTop: 'Notificación interna',\n  kicker: 'Nuevo lead web',\n  headline: `Hay un <em style=\"font-style:italic;color:#0F4A38;\">lead</em><br/>esperando.`,\n  intro: `Llegó un nuevo lead desde el formulario <strong style=\"color:#0F1715;\">${m.formType || 'web'}</strong>. Contáctalo en menos de 24-48h.`,\n  dataBlocks: [\n    { label: 'Tipo formulario', value: m.formType || '-', big: true },\n    { label: 'Nombre',          value: m.nombre || '-' },\n    { label: 'Teléfono',        value: m.telefono || '-' },\n    { label: 'Email',           value: m.email || '-' },\n    { label: 'Lead Kommo',      value: leadUrl ? `<a href=\"${leadUrl}\" style=\"color:#0F4A38;text-decoration:none;border-bottom:1px solid #1F9D6E;\">Ver lead en Kommo &rarr;</a>` : '(pendiente sync)' }\n  ],\n  bottom: { label: 'Acción', text: 'Abre el lead en Kommo, valida los datos y márcalo como contactado tras la primera llamada/mensaje.' },\n  ctaTel: null,\n  quote: null,\n  footerNote: 'Notificación automática del formulario web.'\n});\nreturn [{ json: { html, subject: `Nuevo lead ${m.formType} — ${m.nombre || 'sin nombre'}` } }];\n"},"id":"7f1a45f0-77da-426f-aa16-2496f4c8f106","name":"Build Email HTML OK","type":"n8n-nodes-base.code","typeVersion":2,"position":[2928,0]},{"parameters":{"jsCode":"function buildEmail(p) {\n  const accent = p.accent || '#1F9D6E';\n  const accentDark = p.accentDark || '#0F4A38';\n  const accentLight = p.accentLight || '#EBF5F0';\n  const accentBorder = p.accentBorder || '#C8E0D4';\n  const headerTagBg = p.headerTagBg || '#0A1512';\n  const headerTagFg = p.headerTagFg || '#1F9D6E';\n  const heroBg = p.heroBg || '#0F1715';\n  const headerImg = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/Simarro_header.png';\n  const logoImg   = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/logo_simarro_properties.png';\n\n  const dataRows = (p.dataBlocks || []).map((b, i) => `\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" ${i>0?`style=\"border-top:1px solid ${accentBorder};\"`:''}>\n      <tr><td style=\"padding:${i>0?'14px':'0'} 0 ${i===p.dataBlocks.length-1?0:14}px 0;\">\n        <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">${b.label}</p>\n        <p style=\"font-family:Georgia,serif;font-size:${b.big?20:18}px;color:#0F1715;margin:0;line-height:1.25;word-break:break-word;overflow-wrap:break-word;\">${b.value}</p>\n      </td></tr>\n    </table>`).join('');\n\n  const propertyBlock = p.property ? `\n    <tr><td class=\"inner-pad\" style=\"padding:16px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          ${p.property.thumbnail ? `<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:16px;\"><tr><td><img src=\"${p.property.thumbnail}\" alt=\"Propiedad\" width=\"540\" style=\"display:block;width:100%;max-width:540px;height:auto;border-radius:2px;margin:0 auto;\" /></td></tr></table>` : ''}\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Propiedad</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.35;\">${p.property.direccion || ''}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const bottomBlock = p.bottom ? `\n    <tr><td class=\"inner-pad\" style=\"padding:20px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 8px 0;\">${p.bottom.label}</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.4;\">${p.bottom.text}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const ctaBlock = p.ctaTel ? `\n    <tr><td align=\"center\" style=\"padding:24px 44px 4px 44px;background-color:#ffffff;\">\n      <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;font-weight:bold;color:#4A7A66;margin:0;\">\n        <a href=\"tel:${p.ctaTel.replace(/\\s/g,'')}\" style=\"color:${accentDark};text-decoration:none;border-bottom:1px solid ${accent};padding-bottom:2px;\">${p.ctaLabel || 'Contactar · ' + p.ctaTel}</a>\n      </p>\n    </td></tr>` : '';\n\n  const quote = p.quote !== null\n    ? `<tr><td align=\"center\" style=\"padding:30px 56px 24px 56px;background-color:#ffffff;\">\n        <p style=\"font-family:Georgia,serif;font-size:19px;font-style:italic;color:${accentDark};line-height:1.5;margin:0;\">${p.quote || '&ldquo;Cada propiedad es una oportunidad,<br/>cada cliente, una historia<br/>que merece la mejor decisión.&rdquo;'}</p>\n      </td></tr>`\n    : '';\n\n  const footerNote = p.footerNote || 'Este correo se generó automáticamente.';\n\n  return `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\"><head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n<meta name=\"color-scheme\" content=\"light only\" />\n<title>${p.subject || 'Simarro Properties'}</title>\n<style type=\"text/css\">\nbody { margin:0; padding:0; background-color:${heroBg}; font-family:Arial,Helvetica,sans-serif; }\ntable { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }\nimg { display:block; border:0; height:auto; outline:none; text-decoration:none; }\n@media only screen and (max-width:620px) { .outer{width:100%!important;} .inner-pad{padding:24px 20px!important;} .head-title{font-size:32px!important;} .hero-cell{height:200px!important;} .hero-band{padding:30px 0!important;} .hero-logo{width:96px!important;} .data-body{padding:20px!important;} .footer-pad{padding:28px 20px!important;} }\n</style></head>\n<body style=\"margin:0;padding:0;background-color:${heroBg};font-family:Arial,Helvetica,sans-serif;\">\n<center style=\"width:100%;background-color:${heroBg};padding:32px 0;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"outer\" style=\"width:100%;max-width:620px;background-color:#ffffff;border-radius:6px;overflow:hidden;box-shadow:0 20px 60px -20px rgba(0,0,0,0.55);\">\n<tr><td style=\"background-color:${headerTagBg};padding:14px 32px;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;letter-spacing:4px;color:${headerTagFg};text-transform:uppercase;font-weight:bold;\">Inmobiliaria &amp; Inversión</td>\n    <td align=\"right\" style=\"font-family:Georgia,serif;font-size:11px;font-style:italic;color:#4A7A66;letter-spacing:2px;\">${p.kickerTop || ''}</td>\n  </tr></table>\n</td></tr>\n<tr><td class=\"hero-cell\" align=\"center\" valign=\"middle\" bgcolor=\"${heroBg}\" background=\"${headerImg}\" height=\"300\" style=\"height:300px;background-image:url('${headerImg}');background-position:center center;background-repeat:no-repeat;background-size:cover;background-color:${heroBg};\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td class=\"hero-band\" align=\"center\" valign=\"middle\" style=\"padding:40px 0;background-color:rgba(10,21,18,0.52);\">\n      <img class=\"hero-logo\" src=\"${logoImg}\" alt=\"Simarro Properties\" width=\"120\" style=\"display:block;width:120px;max-width:38%;height:auto;margin:0 auto;\" />\n    </td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:32px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 12px;font-family:Georgia,serif;font-size:11px;font-style:italic;color:${accentDark};letter-spacing:3px;text-transform:uppercase;\">Inmobiliaria de inversión</td>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:5px;text-transform:uppercase;font-weight:bold;margin:0 0 10px 0;\">${p.kicker || ''}</p>\n  <h1 class=\"head-title\" style=\"font-family:Georgia,serif;font-size:42px;font-weight:normal;color:#0F1715;margin:0;line-height:1.05;letter-spacing:-1px;\">${p.headline || ''}</h1>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:18px 56px 0 56px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.7;color:#3F5651;margin:0;\">${p.intro || ''}</p>\n</td></tr>\n${dataRows ? `<tr><td class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n    <tr><td class=\"data-body\" style=\"padding:24px 28px;\">${dataRows}</td></tr>\n  </table>\n</td></tr>` : ''}\n${propertyBlock}\n${bottomBlock}\n${ctaBlock}\n${quote}\n<tr><td align=\"center\" class=\"footer-pad\" style=\"background-color:${headerTagBg};padding:36px 44px;\">\n  <p style=\"font-family:Georgia,serif;font-size:28px;font-style:italic;color:#FFFFFF;margin:0;letter-spacing:0.5px;\">Simarro <span style=\"color:${accent};font-style:italic;\">Properties</span></p>\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0;\"><tr>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 10px;font-family:Georgia,serif;font-size:10px;color:#4A7A66;\">&diams;</td>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4A7A66;letter-spacing:1px;margin:0 0 6px 0;\">Inmobiliaria &amp; Inversión</p>\n  <p style=\"margin:0;\"><a href=\"https://simarroproperties.com\" target=\"_blank\" style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;text-decoration:none;font-weight:bold;letter-spacing:2px;text-transform:uppercase;border-bottom:1px solid ${accent};padding-bottom:2px;\">www.simarroproperties.com</a></p>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:${accent};letter-spacing:2px;text-transform:uppercase;margin:18px 0 0 0;line-height:1.7;\">${footerNote}</p>\n</td></tr>\n</table></center></body></html>`;\n}\n\n\nconst m = $('Map and Build').item.json;\nconst fail = $('Update kommo_failed')?.first?.()?.json || {};\nconst errMsg = fail.error || m.error || 'Sin detalle. Revisar logs n8n.';\nconst subId = fail.id || $('Insert pending')?.first?.()?.json?.id || '';\n\nconst html = buildEmail({\n  subject: `URGENTE — Lead web NO entró en Kommo (${m.formType})`,\n  kickerTop: 'Acción urgente',\n  kicker: 'Lead web fallido',\n  headline: `Recupera <em style=\"font-style:italic;color:#9D1F1F;\">manualmente</em><br/>este lead.`,\n  intro: `El formulario <strong style=\"color:#0F1715;\">${m.formType || 'web'}</strong> no logró crear el lead en Kommo. Hay que recuperarlo desde Postgres.`,\n  dataBlocks: [\n    { label: 'ID Postgres (form_submissions)', value: String(subId), big: true },\n    { label: 'Tipo formulario', value: m.formType || '-' },\n    { label: 'Nombre',          value: m.nombre || '-' },\n    { label: 'Teléfono',        value: m.telefono || '-' },\n    { label: 'Email',           value: m.email || '-' },\n    { label: 'Error',           value: `<code style=\"font-family:monospace;font-size:12px;color:#9D1F1F;\">${errMsg}</code>` },\n  ],\n  bottom: { label: 'Cómo recuperar', text: 'En Postgres tabla form_submissions, status=kommo_failed. Crear lead manualmente en Kommo con los datos de la fila y luego marcar status=done.' },\n  accent: '#9D1F1F',\n  accentDark: '#7A1A1A',\n  accentLight: '#FBE9E9',\n  accentBorder: '#F1C7C7',\n  headerTagFg: '#FF6B6B',\n  ctaTel: null,\n  quote: null,\n  footerNote: 'Aviso automático de fallo en pipeline web.'\n});\nreturn [{ json: { html, subject: `⚠ URGENTE — Lead web NO entró en Kommo (${m.formType})` } }];\n"},"id":"97ff9cea-c018-47c2-9b9f-dfe0f00c7e56","name":"Build Email HTML URGENTE","type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,248]}],"connections":{"Webhook":{"main":[[{"node":"Auth & Validate","type":"main","index":0}]]},"Auth & Validate":{"main":[[{"node":"IF Valid","type":"main","index":0}]]},"IF Valid":{"main":[[{"node":"Respond 200","type":"main","index":0},{"node":"Map and Build","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Map and Build":{"main":[[{"node":"Dedupe Check","type":"main","index":0}]]},"Dedupe Check":{"main":[[{"node":"IF Duplicate","type":"main","index":0}]]},"IF Duplicate":{"main":[[{"node":"Insert duplicate_skipped","type":"main","index":0}],[{"node":"Insert pending","type":"main","index":0}]]},"Insert pending":{"main":[[{"node":"Kommo /leads/complex","type":"main","index":0}]]},"Kommo /leads/complex":{"main":[[{"node":"IF Kommo OK","type":"main","index":0}]]},"IF Kommo OK":{"main":[[{"node":"Update kommo_ok","type":"main","index":0}],[{"node":"Update kommo_failed","type":"main","index":0}]]},"Update kommo_ok":{"main":[[{"node":"IF contacto_propiedad","type":"main","index":0}]]},"Email Ramón OK":{"main":[[{"node":"Update done","type":"main","index":0}]]},"Update kommo_failed":{"main":[[{"node":"Build Email HTML URGENTE","type":"main","index":0}]]},"Salesbot Run":{"main":[[{"node":"Build Email HTML OK","type":"main","index":0}]]},"IF contacto_propiedad":{"main":[[{"node":"Salesbot Run","type":"main","index":0}],[{"node":"Build Email HTML OK","type":"main","index":0}]]},"Build Email HTML OK":{"main":[[{"node":"Email Ramón OK","type":"main","index":0}]]},"Build Email HTML URGENTE":{"main":[[{"node":"Email Ramón URGENTE","type":"main","index":0}]]}},"authors":"agentesia madrid","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-02T21:04:25.368Z","id":1089,"workflowId":"OFGGroWlifA88YFN","versionId":"64414789-5a43-4b40-a0c2-187a5426f368","event":"deactivated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"},{"createdAt":"2026-06-02T21:04:25.381Z","id":1090,"workflowId":"OFGGroWlifA88YFN","versionId":"64414789-5a43-4b40-a0c2-187a5426f368","event":"activated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"}]}}