knowledge/projects/agentesia/n8n-backups/simarro/om8iBm8ovENIgaxv-pre-30min-visita-20260601.json
{"updatedAt":"2026-06-01T10:01:22.139Z","createdAt":"2026-04-28T10:16:40.633Z","id":"om8iBm8ovENIgaxv","name":"Leads cambio de fecha o anulacion","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"nombre"},{"name":"Tipo de servicio"},{"name":"numero de telefono"},{"name":"Fecha preferida"},{"name":"Fuente"},{"name":"Motivo de la consulta"},{"name":"email"},{"name":"contac_id"},{"name":"Lead_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-816],"id":"6f0f052e-b83f-42d2-942b-729dfa781380","name":"When Executed by Another Workflow"},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-224,240],"id":"d60ee541-3e47-4436-8b82-2f158232f36b","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"0f96569e-aeab-40b5-9f5b-6b2cdc0745e1","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"b70eff04-591b-4956-a701-ab84282d09a2","name":"Tipo de servicio ","value":"={{ $json[\"Tipo de servicio\"] }}","type":"string"},{"id":"ada6fcaa-43c4-4b66-8b07-0e55af82a37e","name":"numero de telefono","value":"={{ $json[\"numero de telefono\"] }}","type":"string"},{"id":"7a345039-005c-41b0-bc48-39e3d9a598b7","name":"Fuente","value":"Chatbot IA","type":"string"},{"id":"e538f2c9-4bdd-40a1-9668-1c024948201b","name":"motivo de la consulta","value":"={{ $json[\"Motivo de la consulta\"] }}","type":"string"},{"id":"53482bd1-cb23-4a1d-bf08-fffd8e945b85","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"91d6925e-9940-4798-bc8d-a1e950a74470","name":"Lead_id","value":"={{ $json.Lead_id }}","type":"string"},{"id":"31463916-944d-4569-85d5-f82883d9dcc4","name":"Fecha preferida","value":"={{ $json[\"Fecha preferida\"] || \"\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-816],"id":"4faff3b5-80de-4f67-b979-a4cd2dc407b2","name":"Edit Fields"},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"updateLeads","json":true,"jsonString":"=[\n  {\n    \"id\": {{ $json.Lead_id }},\n    \"status_id\": 105137127,\n    \"pipeline_id\": 13546071,\n    \"custom_fields_values\": [\n      {\n        \"field_id\": 1372567,\n        \"values\": [\n          {\n            \"value\": \"{{ $json['motivo de la consulta'] }}\"\n          }\n        ]\n      }\n    ]\n  }\n]"},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[432,-1008],"id":"9a892c73-0e1e-49aa-82ac-21335cadd847","name":"Update leads1","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"httpMethod":"POST","path":"cancelar_cita","responseMode":"responseNode","options":{}},"id":"8a540253-92a0-4e95-ad54-f111c7724b4f","name":"Webhook Retell","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1072,-592],"webhookId":"1ddfd85c-46b1-4f9e-a722-b974d7401b0c"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"Calendario principal Simarro"},"returnAll":true,"options":{"timeMin":"={{ $now.toISO() }}","timeMax":"={{ $now.plus({days: 180}).toISO() }}","query":"={{ $json.Lead_id }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[432,-816],"id":"cal-search-cancel","name":"Buscar evento en calendario","credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"Calendario principal Simarro"},"eventId":"={{ $json.id }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[656,-816],"id":"cal-delete-cancel","name":"Eliminar evento del calendario","credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"assignments":{"assignments":[{"id":"r1","name":"nombre","value":"={{ $json.body.args.name }}","type":"string"},{"id":"r2","name":"Tipo de servicio ","value":"={{ $json.body.args.service_type }}","type":"string"},{"id":"r3","name":"numero de telefono","value":"={{ $json.body.args.phone }}","type":"string"},{"id":"r4","name":"Fecha preferida","value":"={{ $json.body.args.Fecha_preferida || '' }}","type":"string"},{"id":"r5","name":"Fuente","value":"Agente de voz","type":"string"},{"id":"r6","name":"motivo de la consulta","value":"={{ $json.body.args.motivo_consulta || $json.body.args.motivo || '' }}","type":"string"},{"id":"r7","name":"email","value":"","type":"string"},{"id":"r8","name":"contac_id","value":"={{ $json.body.args.contact_id }}","type":"string"},{"id":"r9","name":"Lead_id","value":"={{ $json.body.args.lead_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,-592],"id":"ef-retell-cancel","name":"Edit Fields Retell"},{"parameters":{"respondWith":"json","responseBody":"={\"result\": \"Cita cancelada correctamente\"}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[880,-816],"id":"resp-retell-cancel","name":"Respond Retell"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1a969d6-1c02-4820-a139-70c880c2282b","leftValue":"={{ $json[\"Fecha preferida\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1ff71321-2990-436d-9888-31feb3655da4","name":"Es cambio?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,-640]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst fechaStr = input[\"Fecha preferida\"];\nlet fecha;\nif (fechaStr.includes('+') || fechaStr.includes('Z')) {\n  fecha = new Date(fechaStr);\n} else {\n  const t = new Date(fechaStr);\n  const m = t.getMonth();\n  const dst = m >= 2 && m <= 9;\n  fecha = new Date(fechaStr + (dst ? '+02:00' : '+01:00'));\n}\nconst segundos = Math.floor(fecha.getTime() / 1000);\nconst fin = new Date(fecha.getTime() + 60*60*1000);\nconst fechaInicioMadrid = fecha.toLocaleString('es-ES', { timeZone:'Europe/Madrid', weekday:'long', year:'numeric', month:'long', day:'numeric', hour:'2-digit', minute:'2-digit' });\nreturn [{ json: { ...input, segundos, fechaInicioISO: fecha.toISOString(), fechaFinISO: fin.toISOString(), fechaInicioMadrid } }];\n"},"id":"cfd948dd-829e-4657-8932-1936126eaab3","name":"Calc fechas cambio","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-432]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('Resolve cal (cambio)').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"returnAll":true,"options":{"query":"={{ $json.Lead_id }}"}},"id":"1fd56d5b-4c64-45d5-8311-d574ee406f73","name":"Buscar evento (cambio)","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[656,-624],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"delete","calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('Resolve cal (cambio)').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"eventId":"={{ $json.id }}","options":{}},"id":"b952728e-24cb-4d9a-92c2-0592abf29ad2","name":"Eliminar evento (cambio)","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[880,-624],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('Resolve cal (cambio)').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"start":"={{ $('Calc fechas cambio').item.json.fechaInicioISO }}","end":"={{ $('Calc fechas cambio').item.json.fechaFinISO }}","additionalFields":{"description":"=Lead ID: {{ $('Calc fechas cambio').item.json.Lead_id }}\nTeléfono: {{ $('Calc fechas cambio').item.json['numero de telefono'] }}\nMotivo: {{ $('Calc fechas cambio').item.json['motivo de la consulta'] }}\nFuente: Chatbot IA (cambio de fecha)\nFecha: {{ $('Calc fechas cambio').item.json.fechaInicioMadrid }}","summary":"=Visita — {{ $('Calc fechas cambio').item.json.nombre }} — {{ $('Extraer vivienda').item.json.idealista_id || '' }} — {{ $('Extraer vivienda').item.json.vivienda_direccion || '' }} — {{ $('Calc fechas cambio').item.json['numero de telefono'] }}","timezone":{"__rl":true,"mode":"list","value":"Europe/Madrid"}}},"id":"187664ec-c9a6-433f-ab30-3334084bd075","name":"Crear evento nuevo","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[656,-432],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"updateLeads","json":true,"jsonString":"=[\n  {\n    \"id\": {{ $('Calc fechas cambio').item.json.Lead_id }},\n    \"status_id\": 105137095,\n    \"pipeline_id\": 13546071,\n    \"custom_fields_values\": [\n      { \"field_id\": 1330871, \"values\": [{ \"value\": {{ $('Calc fechas cambio').item.json.segundos }} }] },\n      { \"field_id\": 1372567, \"values\": [{ \"value\": \"Cambio de fecha: {{ $('Calc fechas cambio').item.json.fechaInicioMadrid }}\" }] }\n    ]\n  }\n]"},"id":"a0a759c9-96e2-48ff-98f1-ff56b3e0852b","name":"Update Kommo (cambio)","type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[656,-240],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"d23c36eb78a971387b85f2b175348df42eb0bb56a62e08cbe5be715d208232a5@group.calendar.google.com","mode":"id"},"returnAll":true,"options":{"query":"={{ $json.Lead_id }}"}},"id":"3cd21bcf-7254-4af0-a26a-7b3861cbedc8","name":"Buscar Ainhoa","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[752,400],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"d23c36eb78a971387b85f2b175348df42eb0bb56a62e08cbe5be715d208232a5@group.calendar.google.com","mode":"id"},"eventId":"={{ $json.id }}","options":{}},"id":"7cdc0756-5ee5-4f7d-9634-8588e64235b6","name":"Eliminar Ainhoa","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[944,400],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"b7e41e1a3aa9a5a4b8d4f9ce1c28cebca78fd7ec1fa6e81f8b056172aae037e5@group.calendar.google.com","mode":"id"},"returnAll":true,"options":{"query":"={{ $json.Lead_id }}"}},"id":"a6e84e31-eab9-45d6-a300-2f3d11813cfe","name":"Buscar Carlos","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[752,608],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"b7e41e1a3aa9a5a4b8d4f9ce1c28cebca78fd7ec1fa6e81f8b056172aae037e5@group.calendar.google.com","mode":"id"},"eventId":"={{ $json.id }}","options":{}},"id":"737c268a-661e-44c3-b895-f787962d9ba7","name":"Eliminar Carlos","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[944,608],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"27f1281a474ac16cd94d55abae17338c73345a16896e18ed854e852d322b795a@group.calendar.google.com","mode":"id"},"returnAll":true,"options":{"query":"={{ $json.Lead_id }}"}},"id":"b78c6fe6-8c5c-444a-9832-eab5d1778ee8","name":"Buscar Pedro","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[752,800],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"27f1281a474ac16cd94d55abae17338c73345a16896e18ed854e852d322b795a@group.calendar.google.com","mode":"id"},"eventId":"={{ $json.id }}","options":{}},"id":"afdebf35-401b-4d5b-855e-89695edd376f","name":"Eliminar Pedro","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[944,800],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"5d8f1fa51bd75f41d4521a35393edba14c21c5f257baa698e5959828843a7e82@group.calendar.google.com","mode":"id"},"returnAll":true,"options":{"query":"={{ $json.Lead_id }}"}},"id":"e2b7fbe4-212d-436a-96c1-7adb6498cdba","name":"Buscar Ramon","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[752,1008],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"5d8f1fa51bd75f41d4521a35393edba14c21c5f257baa698e5959828843a7e82@group.calendar.google.com","mode":"id"},"eventId":"={{ $json.id }}","options":{}},"id":"aa439080-603d-4b29-8f0e-4e44a516da5c","name":"Eliminar Ramon","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[944,1008],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"lead-id-not-empty","leftValue":"={{ $json.Lead_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"guard-lead-id-required","name":"Lead_id válido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-688,-288]},{"parameters":{"respondWith":"json","responseBody":"={{ {\"ok\": false, \"error\": \"lead_id requerido\", \"message\": \"No se ha podido identificar la reserva. Por seguridad no se ha modificado nada.\"} }}","options":{"responseCode":200}},"id":"abort-no-lead","name":"Abort sin Lead_id","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-464,-192]},{"parameters":{"authentication":"longLivedToken","resource":"contacts","filter":{"query":"={{ $json['numero de telefono'] }}"},"options":{"with":"leads"},"limit":5},"id":"voz-get-contact","name":"Buscar contacto por tel (voz)","type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1136,-288],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"jsCode":"// Recibe respuesta de Buscar contacto por tel (voz). Extrae lead_id activo.\n// Conserva todos los campos del Edit Fields Retell upstream.\nconst ef = $('Edit Fields Retell').item.json;\nconst contactsResp = $input.all().map(i => i.json);\n\nlet leadId = ef.Lead_id || null;\nlet contactId = ef.contac_id || null;\n\n// Si Retell envió Lead_id explícito, respetarlo.\nif (leadId) {\n  return [{ json: { ...ef, Lead_id: leadId, contac_id: contactId } }];\n}\n\n// Si no, buscar en la respuesta Kommo por teléfono.\nfor (const r of contactsResp) {\n  const contacts = r?._embedded?.contacts || [];\n  for (const c of contacts) {\n    if (!contactId) contactId = c.id;\n    const leads = c?._embedded?.leads || [];\n    if (leads.length > 0) {\n      // Tomar el primer lead. (Mejorable: filtrar por status activo.)\n      leadId = leads[0].id;\n      contactId = c.id;\n      break;\n    }\n  }\n  if (leadId) break;\n}\n\nreturn [{ json: { ...ef, Lead_id: leadId, contac_id: contactId } }];\n"},"id":"voz-extract-lead","name":"Extraer Lead_id (voz)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,-288]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"fecha-preferida-set","leftValue":"={{ $json['Fecha preferida'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"voz-es-cambio","name":"Es cambio? (voz)","type":"n8n-nodes-base.if","typeVersion":2,"position":[-464,-384]},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"id":"={{ $('Calc fechas cambio').item.json.Lead_id }}"},"options":{}},"id":"751733c8-5adf-4de7-abc3-cdc58ca0607b","name":"Get lead (cambio)","type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[440,-232],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"jsCode":"const calc = $('Calc fechas cambio').item.json;\nconst resp = $input.first().json;\nconst lead = (resp && resp._embedded && resp._embedded.leads && resp._embedded.leads[0]) ? resp._embedded.leads[0] : resp;\nconst cf = Array.isArray(lead && lead.custom_fields_values) ? lead.custom_fields_values : [];\nconst byId = (id) => { const f = cf.find(x => x && x.field_id === id); return (f && f.values && f.values[0]) ? (f.values[0].value ?? null) : null; };\nreturn [{ json: { ...calc, idealista_id: byId(1373305) || '', vivienda_direccion: byId(1373349) || '' } }];"},"id":"5cf327f3-be60-4f71-9df9-a8ad613cf7c4","name":"Extraer vivienda","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-232]},{"parameters":{"method":"POST","url":"http://simarro-pre0225supabase-f93ff3-185-47-13-169.traefik.me/rest/v1/rpc/resolve_property_calendar","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/vnd.pgrst.object+json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_idealista_id: ($('Extraer vivienda').item.json.idealista_id) || '' }) }}","options":{}},"id":"c491dfb6-41f1-4c70-b3e7-1b2a3274f895","name":"Resolve cal (cambio)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,-232],"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Es cambio?","type":"main","index":0}]]},"Update leads1":{"main":[[]]},"Webhook Retell":{"main":[[{"node":"Edit Fields Retell","type":"main","index":0}]]},"Buscar evento en calendario":{"main":[[{"node":"Eliminar evento del calendario","type":"main","index":0}]]},"Edit Fields Retell":{"main":[[{"node":"Buscar contacto por tel (voz)","type":"main","index":0}]]},"Eliminar evento del calendario":{"main":[[{"node":"Respond Retell","type":"main","index":0}]]},"Es cambio?":{"main":[[{"node":"Calc fechas cambio","type":"main","index":0}],[{"node":"Update leads1","type":"main","index":0},{"node":"Buscar evento en calendario","type":"main","index":0},{"node":"Buscar Ainhoa","type":"main","index":0},{"node":"Buscar Carlos","type":"main","index":0},{"node":"Buscar Pedro","type":"main","index":0},{"node":"Buscar Ramon","type":"main","index":0}]]},"Calc fechas cambio":{"main":[[{"node":"Get lead (cambio)","type":"main","index":0},{"node":"Update Kommo (cambio)","type":"main","index":0}]]},"Buscar evento (cambio)":{"main":[[{"node":"Eliminar evento (cambio)","type":"main","index":0}]]},"Eliminar evento (cambio)":{"main":[[]]},"Crear evento nuevo":{"main":[[]]},"Buscar Ainhoa":{"main":[[{"node":"Eliminar Ainhoa","type":"main","index":0}]]},"Buscar Carlos":{"main":[[{"node":"Eliminar Carlos","type":"main","index":0}]]},"Buscar Pedro":{"main":[[{"node":"Eliminar Pedro","type":"main","index":0}]]},"Buscar Ramon":{"main":[[{"node":"Eliminar Ramon","type":"main","index":0}]]},"Lead_id válido?":{"main":[[{"node":"Es cambio? (voz)","type":"main","index":0}],[{"node":"Abort sin Lead_id","type":"main","index":0}]]},"Buscar contacto por tel (voz)":{"main":[[{"node":"Extraer Lead_id (voz)","type":"main","index":0}]]},"Extraer Lead_id (voz)":{"main":[[{"node":"Lead_id válido?","type":"main","index":0}]]},"Es cambio? (voz)":{"main":[[{"node":"Calc fechas cambio","type":"main","index":0},{"node":"Buscar Ainhoa","type":"main","index":0},{"node":"Buscar Carlos","type":"main","index":0},{"node":"Buscar Pedro","type":"main","index":0},{"node":"Buscar Ramon","type":"main","index":0}],[{"node":"Update leads1","type":"main","index":0},{"node":"Buscar evento en calendario","type":"main","index":0},{"node":"Buscar Ainhoa","type":"main","index":0},{"node":"Buscar Carlos","type":"main","index":0},{"node":"Buscar Pedro","type":"main","index":0},{"node":"Buscar Ramon","type":"main","index":0}]]},"Get lead (cambio)":{"main":[[{"node":"Extraer vivienda","type":"main","index":0}]]},"Extraer vivienda":{"main":[[{"node":"Resolve cal (cambio)","type":"main","index":0}]]},"Resolve cal (cambio)":{"main":[[{"node":"Buscar evento (cambio)","type":"main","index":0},{"node":"Crear evento nuevo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"nombre":"Kevin Hernan Rojas Cuenca","Tipo de servicio":"Odontología","numero de telefono":623050856,"Fecha preferida":"2025-11-25 10:00","Fuente":"Chatbot IA","Motivo de la consulta":"El usuario cancela definitivamente","email":"kevin@gmail.com","contac_id":"21538530","Lead_id":"11883772"}}]},"versionId":"afecd81e-9924-45a7-b4a4-e5d3a52592d5","activeVersionId":"afecd81e-9924-45a7-b4a4-e5d3a52592d5","versionCounter":108,"triggerCount":2,"shared":[{"updatedAt":"2026-04-28T10:16:40.633Z","createdAt":"2026-04-28T10:16:40.633Z","role":"workflow:owner","workflowId":"om8iBm8ovENIgaxv","projectId":"KzDhDvn7gXhn9Jke","project":{"updatedAt":"2026-04-14T19:24:58.568Z","createdAt":"2026-04-14T17:51:20.172Z","id":"KzDhDvn7gXhn9Jke","name":"agentesia madrid <info@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"e11c9a81-3802-42a8-8b75-5d3028942946"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-01T10:01:22.141Z","createdAt":"2026-06-01T10:01:22.141Z","versionId":"afecd81e-9924-45a7-b4a4-e5d3a52592d5","workflowId":"om8iBm8ovENIgaxv","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"nombre"},{"name":"Tipo de servicio"},{"name":"numero de telefono"},{"name":"Fecha preferida"},{"name":"Fuente"},{"name":"Motivo de la consulta"},{"name":"email"},{"name":"contac_id"},{"name":"Lead_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-816],"id":"6f0f052e-b83f-42d2-942b-729dfa781380","name":"When Executed by Another Workflow"},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-224,240],"id":"d60ee541-3e47-4436-8b82-2f158232f36b","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"0f96569e-aeab-40b5-9f5b-6b2cdc0745e1","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"b70eff04-591b-4956-a701-ab84282d09a2","name":"Tipo de servicio ","value":"={{ $json[\"Tipo de servicio\"] }}","type":"string"},{"id":"ada6fcaa-43c4-4b66-8b07-0e55af82a37e","name":"numero de telefono","value":"={{ $json[\"numero de telefono\"] }}","type":"string"},{"id":"7a345039-005c-41b0-bc48-39e3d9a598b7","name":"Fuente","value":"Chatbot IA","type":"string"},{"id":"e538f2c9-4bdd-40a1-9668-1c024948201b","name":"motivo de la consulta","value":"={{ $json[\"Motivo de la consulta\"] }}","type":"string"},{"id":"53482bd1-cb23-4a1d-bf08-fffd8e945b85","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"91d6925e-9940-4798-bc8d-a1e950a74470","name":"Lead_id","value":"={{ $json.Lead_id }}","type":"string"},{"id":"31463916-944d-4569-85d5-f82883d9dcc4","name":"Fecha preferida","value":"={{ $json[\"Fecha preferida\"] || \"\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-816],"id":"4faff3b5-80de-4f67-b979-a4cd2dc407b2","name":"Edit Fields"},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"updateLeads","json":true,"jsonString":"=[\n  {\n    \"id\": {{ $json.Lead_id }},\n    \"status_id\": 105137127,\n    \"pipeline_id\": 13546071,\n    \"custom_fields_values\": [\n      {\n        \"field_id\": 1372567,\n        \"values\": [\n          {\n            \"value\": \"{{ $json['motivo de la consulta'] }}\"\n          }\n        ]\n      }\n    ]\n  }\n]"},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[432,-1008],"id":"9a892c73-0e1e-49aa-82ac-21335cadd847","name":"Update leads1","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"httpMethod":"POST","path":"cancelar_cita","responseMode":"responseNode","options":{}},"id":"8a540253-92a0-4e95-ad54-f111c7724b4f","name":"Webhook Retell","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1072,-592],"webhookId":"1ddfd85c-46b1-4f9e-a722-b974d7401b0c"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"Calendario principal Simarro"},"returnAll":true,"options":{"timeMin":"={{ $now.toISO() }}","timeMax":"={{ $now.plus({days: 180}).toISO() }}","query":"={{ $json.Lead_id }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[432,-816],"id":"cal-search-cancel","name":"Buscar evento en calendario","credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"Calendario principal Simarro"},"eventId":"={{ $json.id }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[656,-816],"id":"cal-delete-cancel","name":"Eliminar evento del calendario","credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"assignments":{"assignments":[{"id":"r1","name":"nombre","value":"={{ $json.body.args.name }}","type":"string"},{"id":"r2","name":"Tipo de servicio ","value":"={{ $json.body.args.service_type }}","type":"string"},{"id":"r3","name":"numero de telefono","value":"={{ $json.body.args.phone }}","type":"string"},{"id":"r4","name":"Fecha preferida","value":"={{ $json.body.args.Fecha_preferida || '' }}","type":"string"},{"id":"r5","name":"Fuente","value":"Agente de voz","type":"string"},{"id":"r6","name":"motivo de la consulta","value":"={{ $json.body.args.motivo_consulta || $json.body.args.motivo || '' }}","type":"string"},{"id":"r7","name":"email","value":"","type":"string"},{"id":"r8","name":"contac_id","value":"={{ $json.body.args.contact_id }}","type":"string"},{"id":"r9","name":"Lead_id","value":"={{ $json.body.args.lead_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,-592],"id":"ef-retell-cancel","name":"Edit Fields Retell"},{"parameters":{"respondWith":"json","responseBody":"={\"result\": \"Cita cancelada correctamente\"}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[880,-816],"id":"resp-retell-cancel","name":"Respond Retell"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1a969d6-1c02-4820-a139-70c880c2282b","leftValue":"={{ $json[\"Fecha preferida\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1ff71321-2990-436d-9888-31feb3655da4","name":"Es cambio?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,-640]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst fechaStr = input[\"Fecha preferida\"];\nlet fecha;\nif (fechaStr.includes('+') || fechaStr.includes('Z')) {\n  fecha = new Date(fechaStr);\n} else {\n  const t = new Date(fechaStr);\n  const m = t.getMonth();\n  const dst = m >= 2 && m <= 9;\n  fecha = new Date(fechaStr + (dst ? '+02:00' : '+01:00'));\n}\nconst segundos = Math.floor(fecha.getTime() / 1000);\nconst fin = new Date(fecha.getTime() + 60*60*1000);\nconst fechaInicioMadrid = fecha.toLocaleString('es-ES', { timeZone:'Europe/Madrid', weekday:'long', year:'numeric', month:'long', day:'numeric', hour:'2-digit', minute:'2-digit' });\nreturn [{ json: { ...input, segundos, fechaInicioISO: fecha.toISOString(), fechaFinISO: fin.toISOString(), fechaInicioMadrid } }];\n"},"id":"cfd948dd-829e-4657-8932-1936126eaab3","name":"Calc fechas cambio","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-432]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('Resolve cal (cambio)').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"returnAll":true,"options":{"query":"={{ $json.Lead_id }}"}},"id":"1fd56d5b-4c64-45d5-8311-d574ee406f73","name":"Buscar evento (cambio)","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[656,-624],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"delete","calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('Resolve cal (cambio)').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"eventId":"={{ $json.id }}","options":{}},"id":"b952728e-24cb-4d9a-92c2-0592abf29ad2","name":"Eliminar evento (cambio)","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[880,-624],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"={{ (() => { try { const r = $('Resolve cal (cambio)').item.json; const o = (r && typeof r.data === 'string') ? JSON.parse(r.data) : r; return (o && o.source === 'agent' && o.calendar_id) ? o.calendar_id : 'consultingsimarroproperties@gmail.com'; } catch (e) { return 'consultingsimarroproperties@gmail.com'; } })() }}"},"start":"={{ $('Calc fechas cambio').item.json.fechaInicioISO }}","end":"={{ $('Calc fechas cambio').item.json.fechaFinISO }}","additionalFields":{"description":"=Lead ID: {{ $('Calc fechas cambio').item.json.Lead_id }}\nTeléfono: {{ $('Calc fechas cambio').item.json['numero de telefono'] }}\nMotivo: {{ $('Calc fechas cambio').item.json['motivo de la consulta'] }}\nFuente: Chatbot IA (cambio de fecha)\nFecha: {{ $('Calc fechas cambio').item.json.fechaInicioMadrid }}","summary":"=Visita — {{ $('Calc fechas cambio').item.json.nombre }} — {{ $('Extraer vivienda').item.json.idealista_id || '' }} — {{ $('Extraer vivienda').item.json.vivienda_direccion || '' }} — {{ $('Calc fechas cambio').item.json['numero de telefono'] }}","timezone":{"__rl":true,"mode":"list","value":"Europe/Madrid"}}},"id":"187664ec-c9a6-433f-ab30-3334084bd075","name":"Crear evento nuevo","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[656,-432],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"authentication":"longLivedToken","resource":"leads","operation":"updateLeads","json":true,"jsonString":"=[\n  {\n    \"id\": {{ $('Calc fechas cambio').item.json.Lead_id }},\n    \"status_id\": 105137095,\n    \"pipeline_id\": 13546071,\n    \"custom_fields_values\": [\n      { \"field_id\": 1330871, \"values\": [{ \"value\": {{ $('Calc fechas cambio').item.json.segundos }} }] },\n      { \"field_id\": 1372567, \"values\": [{ \"value\": \"Cambio de fecha: {{ $('Calc fechas cambio').item.json.fechaInicioMadrid }}\" }] }\n    ]\n  }\n]"},"id":"a0a759c9-96e2-48ff-98f1-ff56b3e0852b","name":"Update Kommo (cambio)","type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[656,-240],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"d23c36eb78a971387b85f2b175348df42eb0bb56a62e08cbe5be715d208232a5@group.calendar.google.com","mode":"id"},"returnAll":true,"options":{"query":"={{ $json.Lead_id }}"}},"id":"3cd21bcf-7254-4af0-a26a-7b3861cbedc8","name":"Buscar Ainhoa","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[752,400],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"d23c36eb78a971387b85f2b175348df42eb0bb56a62e08cbe5be715d208232a5@group.calendar.google.com","mode":"id"},"eventId":"={{ $json.id }}","options":{}},"id":"7cdc0756-5ee5-4f7d-9634-8588e64235b6","name":"Eliminar Ainhoa","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[944,400],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"b7e41e1a3aa9a5a4b8d4f9ce1c28cebca78fd7ec1fa6e81f8b056172aae037e5@group.calendar.google.com","mode":"id"},"returnAll":true,"options":{"query":"={{ $json.Lead_id }}"}},"id":"a6e84e31-eab9-45d6-a300-2f3d11813cfe","name":"Buscar Carlos","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[752,608],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"b7e41e1a3aa9a5a4b8d4f9ce1c28cebca78fd7ec1fa6e81f8b056172aae037e5@group.calendar.google.com","mode":"id"},"eventId":"={{ $json.id }}","options":{}},"id":"737c268a-661e-44c3-b895-f787962d9ba7","name":"Eliminar Carlos","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[944,608],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"27f1281a474ac16cd94d55abae17338c73345a16896e18ed854e852d322b795a@group.calendar.google.com","mode":"id"},"returnAll":true,"options":{"query":"={{ $json.Lead_id }}"}},"id":"b78c6fe6-8c5c-444a-9832-eab5d1778ee8","name":"Buscar Pedro","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[752,800],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"27f1281a474ac16cd94d55abae17338c73345a16896e18ed854e852d322b795a@group.calendar.google.com","mode":"id"},"eventId":"={{ $json.id }}","options":{}},"id":"afdebf35-401b-4d5b-855e-89695edd376f","name":"Eliminar Pedro","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[944,800],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"5d8f1fa51bd75f41d4521a35393edba14c21c5f257baa698e5959828843a7e82@group.calendar.google.com","mode":"id"},"returnAll":true,"options":{"query":"={{ $json.Lead_id }}"}},"id":"e2b7fbe4-212d-436a-96c1-7adb6498cdba","name":"Buscar Ramon","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[752,1008],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"5d8f1fa51bd75f41d4521a35393edba14c21c5f257baa698e5959828843a7e82@group.calendar.google.com","mode":"id"},"eventId":"={{ $json.id }}","options":{}},"id":"aa439080-603d-4b29-8f0e-4e44a516da5c","name":"Eliminar Ramon","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[944,1008],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"lead-id-not-empty","leftValue":"={{ $json.Lead_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"guard-lead-id-required","name":"Lead_id válido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-688,-288]},{"parameters":{"respondWith":"json","responseBody":"={{ {\"ok\": false, \"error\": \"lead_id requerido\", \"message\": \"No se ha podido identificar la reserva. Por seguridad no se ha modificado nada.\"} }}","options":{"responseCode":200}},"id":"abort-no-lead","name":"Abort sin Lead_id","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-464,-192]},{"parameters":{"authentication":"longLivedToken","resource":"contacts","filter":{"query":"={{ $json['numero de telefono'] }}"},"options":{"with":"leads"},"limit":5},"id":"voz-get-contact","name":"Buscar contacto por tel (voz)","type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[-1136,-288],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"jsCode":"// Recibe respuesta de Buscar contacto por tel (voz). Extrae lead_id activo.\n// Conserva todos los campos del Edit Fields Retell upstream.\nconst ef = $('Edit Fields Retell').item.json;\nconst contactsResp = $input.all().map(i => i.json);\n\nlet leadId = ef.Lead_id || null;\nlet contactId = ef.contac_id || null;\n\n// Si Retell envió Lead_id explícito, respetarlo.\nif (leadId) {\n  return [{ json: { ...ef, Lead_id: leadId, contac_id: contactId } }];\n}\n\n// Si no, buscar en la respuesta Kommo por teléfono.\nfor (const r of contactsResp) {\n  const contacts = r?._embedded?.contacts || [];\n  for (const c of contacts) {\n    if (!contactId) contactId = c.id;\n    const leads = c?._embedded?.leads || [];\n    if (leads.length > 0) {\n      // Tomar el primer lead. (Mejorable: filtrar por status activo.)\n      leadId = leads[0].id;\n      contactId = c.id;\n      break;\n    }\n  }\n  if (leadId) break;\n}\n\nreturn [{ json: { ...ef, Lead_id: leadId, contac_id: contactId } }];\n"},"id":"voz-extract-lead","name":"Extraer Lead_id (voz)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,-288]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"fecha-preferida-set","leftValue":"={{ $json['Fecha preferida'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"voz-es-cambio","name":"Es cambio? (voz)","type":"n8n-nodes-base.if","typeVersion":2,"position":[-464,-384]},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"id":"={{ $('Calc fechas cambio').item.json.Lead_id }}"},"options":{}},"id":"751733c8-5adf-4de7-abc3-cdc58ca0607b","name":"Get lead (cambio)","type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[440,-232],"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"jsCode":"const calc = $('Calc fechas cambio').item.json;\nconst resp = $input.first().json;\nconst lead = (resp && resp._embedded && resp._embedded.leads && resp._embedded.leads[0]) ? resp._embedded.leads[0] : resp;\nconst cf = Array.isArray(lead && lead.custom_fields_values) ? lead.custom_fields_values : [];\nconst byId = (id) => { const f = cf.find(x => x && x.field_id === id); return (f && f.values && f.values[0]) ? (f.values[0].value ?? null) : null; };\nreturn [{ json: { ...calc, idealista_id: byId(1373305) || '', vivienda_direccion: byId(1373349) || '' } }];"},"id":"5cf327f3-be60-4f71-9df9-a8ad613cf7c4","name":"Extraer vivienda","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-232]},{"parameters":{"method":"POST","url":"http://simarro-pre0225supabase-f93ff3-185-47-13-169.traefik.me/rest/v1/rpc/resolve_property_calendar","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/vnd.pgrst.object+json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_idealista_id: ($('Extraer vivienda').item.json.idealista_id) || '' }) }}","options":{}},"id":"c491dfb6-41f1-4c70-b3e7-1b2a3274f895","name":"Resolve cal (cambio)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,-232],"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Es cambio?","type":"main","index":0}]]},"Update leads1":{"main":[[]]},"Webhook Retell":{"main":[[{"node":"Edit Fields Retell","type":"main","index":0}]]},"Buscar evento en calendario":{"main":[[{"node":"Eliminar evento del calendario","type":"main","index":0}]]},"Edit Fields Retell":{"main":[[{"node":"Buscar contacto por tel (voz)","type":"main","index":0}]]},"Eliminar evento del calendario":{"main":[[{"node":"Respond Retell","type":"main","index":0}]]},"Es cambio?":{"main":[[{"node":"Calc fechas cambio","type":"main","index":0}],[{"node":"Update leads1","type":"main","index":0},{"node":"Buscar evento en calendario","type":"main","index":0},{"node":"Buscar Ainhoa","type":"main","index":0},{"node":"Buscar Carlos","type":"main","index":0},{"node":"Buscar Pedro","type":"main","index":0},{"node":"Buscar Ramon","type":"main","index":0}]]},"Calc fechas cambio":{"main":[[{"node":"Get lead (cambio)","type":"main","index":0},{"node":"Update Kommo (cambio)","type":"main","index":0}]]},"Buscar evento (cambio)":{"main":[[{"node":"Eliminar evento (cambio)","type":"main","index":0}]]},"Eliminar evento (cambio)":{"main":[[]]},"Crear evento nuevo":{"main":[[]]},"Buscar Ainhoa":{"main":[[{"node":"Eliminar Ainhoa","type":"main","index":0}]]},"Buscar Carlos":{"main":[[{"node":"Eliminar Carlos","type":"main","index":0}]]},"Buscar Pedro":{"main":[[{"node":"Eliminar Pedro","type":"main","index":0}]]},"Buscar Ramon":{"main":[[{"node":"Eliminar Ramon","type":"main","index":0}]]},"Lead_id válido?":{"main":[[{"node":"Es cambio? (voz)","type":"main","index":0}],[{"node":"Abort sin Lead_id","type":"main","index":0}]]},"Buscar contacto por tel (voz)":{"main":[[{"node":"Extraer Lead_id (voz)","type":"main","index":0}]]},"Extraer Lead_id (voz)":{"main":[[{"node":"Lead_id válido?","type":"main","index":0}]]},"Es cambio? (voz)":{"main":[[{"node":"Calc fechas cambio","type":"main","index":0},{"node":"Buscar Ainhoa","type":"main","index":0},{"node":"Buscar Carlos","type":"main","index":0},{"node":"Buscar Pedro","type":"main","index":0},{"node":"Buscar Ramon","type":"main","index":0}],[{"node":"Update leads1","type":"main","index":0},{"node":"Buscar evento en calendario","type":"main","index":0},{"node":"Buscar Ainhoa","type":"main","index":0},{"node":"Buscar Carlos","type":"main","index":0},{"node":"Buscar Pedro","type":"main","index":0},{"node":"Buscar Ramon","type":"main","index":0}]]},"Get lead (cambio)":{"main":[[{"node":"Extraer vivienda","type":"main","index":0}]]},"Extraer vivienda":{"main":[[{"node":"Resolve cal (cambio)","type":"main","index":0}]]},"Resolve cal (cambio)":{"main":[[{"node":"Buscar evento (cambio)","type":"main","index":0},{"node":"Crear evento nuevo","type":"main","index":0}]]}},"authors":"agentesia madrid","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-01T10:01:22.208Z","id":1014,"workflowId":"om8iBm8ovENIgaxv","versionId":"afecd81e-9924-45a7-b4a4-e5d3a52592d5","event":"deactivated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"},{"createdAt":"2026-06-01T10:01:22.236Z","id":1015,"workflowId":"om8iBm8ovENIgaxv","versionId":"afecd81e-9924-45a7-b4a4-e5d3a52592d5","event":"activated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"}]}}