knowledge/projects/agentesia/n8n-backups/simarro/QLfRT9AWmV1HLMZs-pre-slots-fase12-20260531-142529.json
{"updatedAt":"2026-05-28T09:41:51.196Z","createdAt":"2026-04-28T10:31:02.919Z","id":"QLfRT9AWmV1HLMZs","name":"Chatbot Simarro","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][type]'] }}","rightValue":"=voice","operator":{"type":"string","operation":"equals"},"id":"ab092574-839d-4ecf-a3a0-c4526455f169"}],"combinator":"and"},"renameOutput":true,"outputKey":"voz"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a6ff466-73f1-4c9e-9fcd-0d62cbb1d261","leftValue":"={{ $('Recibir mensaje').item.json.body['message[add][0][text]'] }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60e38c40-9496-4bed-bee9-9648caaaa078","leftValue":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][type]'] }}","rightValue":"=audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b94ff9ce-7de4-4b07-bb58-84096f5e0ae3","leftValue":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][type]'] }}","rightValue":"=picture","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Foto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[5952,5216],"id":"27d4452d-7351-4878-a36d-80278310c297","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"5606a730-3a63-4bd0-841c-fa225d570bbf","name":"Type","value":"={{ $json.body['message[add][0][entity_type]'] }}","type":"string"},{"id":"142fa232-d806-4db7-8a85-5598b18c343c","name":"contact_id","value":"={{ $json.body['message[add][0][contact_id]'] }}","type":"string"},{"id":"c5bd678f-6354-4beb-bc84-4678d5f3db8c","name":"mensaje","value":"={{ $json.body['message[add][0][text]'] }}","type":"string"},{"id":"13a1ee49-46c4-45c9-84e8-84ef98d5cacc","name":"Lead_id","value":"={{ $json.body[\"message[add][0][entity_id]\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4976,5024],"id":"3d8dfa97-412e-41fd-9071-3424be2d5760","name":"Edit Fields"},{"parameters":{"url":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][link]'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6384,4800],"id":"1a2bbd71-82e3-43aa-9ce1-b39cdc3e3bc1","name":"HTTP Request"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6576,4800],"id":"9f9b6fe4-bba3-4d8c-8602-24d4c834245e","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4912,5952],"id":"0af86bca-6939-4757-9e85-49edcdeab136","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"ebcda28d-ce03-4f67-9864-6ebcb9273833","name":"Mensaje","value":"={{ $('Edit Fields').item.json.mensaje }}","type":"string"},{"id":"563926ad-555c-408f-b540-07e64fcc31d1","name":"contact_id","value":"={{ $('Edit Fields').item.json.contact_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7168,5264],"id":"6170f66f-c011-46b2-b0a5-30952a30a62b","name":"Texto"},{"parameters":{"url":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][link]'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6400,5648],"id":"63787626-5998-447c-8aff-b6db6bd0d460","name":"HTTP Request1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"Describe detalladamente que hay en la imagen ","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6608,5648],"id":"b4501b37-c50e-431c-8fdc-e99127039c87","name":"Analyze image","credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"url":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][link]'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6304,5360],"id":"daec57f6-683b-49ec-a344-e7eaf2de21bb","name":"HTTP Request2"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6608,5360],"id":"eabbf8c5-d20c-4fd4-b283-ed950a7a117b","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"push","list":"={{ $('Recibir mensaje').item.json.body['message[add][0][entity_id]'] }}","messageData":"={{ $json.Foto_descripcion}} {{ $json.Texto }} {{ $json.Mensaje }} {{ $json.text }} {{ $json.content }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5488,5984],"id":"6e5a02a2-a721-4805-856a-c9d01a6c4582","name":"Redis","credentials":{"redis":{"id":"KeKFbEgfVExkhvij","name":"Redis - Simarro"}}},{"parameters":{"operation":"get","propertyName":"=mensaje","key":"={{ $('Recibir mensaje').item.json.body['message[add][0][entity_id]'] }}","options":{"dotNotation":false}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5936,5984],"id":"a24abf67-0337-40f4-9439-58d7bd35fcb5","name":"Redis1","alwaysOutputData":false,"credentials":{"redis":{"id":"KeKFbEgfVExkhvij","name":"Redis - Simarro"}}},{"parameters":{"operation":"delete","key":"={{ $('Recibir mensaje').item.json.body['message[add][0][entity_id]'] }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[6368,5888],"id":"09f41be2-322e-44ce-8ef0-5dd5d66d4252","name":"Redis2","alwaysOutputData":false,"credentials":{"redis":{"id":"KeKFbEgfVExkhvij","name":"Redis - Simarro"}}},{"parameters":{"assignments":{"assignments":[{"id":"fda02227-323d-476e-8e11-fb14cb7b1846","name":"id sesion","value":"={{ $('Edit Fields').item.json.Lead_id }}","type":"string"},{"id":"31c77db0-a8f0-40a5-aa3d-f8abe38e2a5b","name":"mensaje","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6624,5936],"id":"b42be215-e328-4770-a906-189357076774","name":"id sesion"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6368,6096],"id":"46749e60-243b-4286-863e-5af4eedd9912","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6972ce47-4792-42cf-baf5-7816b779cf4e","leftValue":"={{ $json.mensaje }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6144,5984],"id":"4ce1b684-f5d6-4457-ae02-83ab0b612ef9","name":"If1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=## Tarea\nDivide el texto recibido en partes naturales para enviar por WhatsApp.\n\nNO modifiques palabras, NO reescribas, NO elimines emojis ni signos, NO cambies tono.\nSOLO partes el mensaje en chunks que se enviarán como mensajes separados.\n\nTexto a dividir: {{ $json.output }}\n\n## Reglas de partición\n- Mensaje corto (1-2 frases): 1 parte\n- Mensaje medio (3-5 frases): 1-2 partes\n- Mensaje largo con preguntas: 2-3 partes (cada pregunta puede ir aparte)\n- **Lista de viviendas/propiedades**: CADA vivienda (cada item numerado tipo \"1)\", \"2)\", o cada bloque que describe una propiedad con dirección/precio/m²/habs) va en su PROPIO mensaje. Si hay URL al final del bloque, la URL queda DENTRO del mismo mensaje que su vivienda. La pregunta de cierre (\"¿cuál te interesa?\", \"¿te vienen bien?\") va aparte.\n- Máximo 4 partes\n\n## Cómo partir\n- Respeta frases completas (no cortes a mitad)\n- Mantén el saludo + primera frase juntos\n- Si hay pregunta final, puede ir en su propio chunk\n- NO añadas texto, NO quites texto, NO cambies palabras: solo partes lo que ya hay tal cual\n\n## Output JSON estricto\n{\n  \"cantidad_de_mensajes\": \"1-4\",\n  \"mensaje_parte_1\": \"...\",\n  \"mensaje_parte_2\": \"...\",\n  \"mensaje_parte_3\": \"...\",\n  \"mensaje_parte_4\": \"...\",\n  \"tipo_respuesta\": \"\"\n}\n\nSi solo hay 1 parte, las demás van como string vacío \"\".\n","role":"system"}]},"jsonOutput":true,"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5296,6640],"id":"9bb07f7d-8272-4603-a2b8-cf3f0c884c6e","name":"divider","retryOnFail":true,"credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"maxTries":3,"waitBetweenTries":2000},{"parameters":{"jsCode":"const contenido = $json.message.content;\n\nfunction limpiar(texto) {\n  return texto\n    ?.toString()\n    .replace(/[\"]/g, '')     // Elimina comillas dobles\n    .replace(/\\n/g, ' ')     // Reemplaza saltos de línea\n    .replace(/\\s+/g, ' ')    // Reduce espacios\n    .trim();\n}\n\nreturn [\n  {\n    json: {\n      mensaje_1: limpiar(contenido.mensaje_parte_1),\n      mensaje_2: limpiar(contenido.mensaje_parte_2),\n      mensaje_3: limpiar(contenido.mensaje_parte_3),\n      mensaje_4: limpiar(contenido.mensaje_parte_4),\n      tipo_respuesta: limpiar(contenido.tipo_respuesta),\n      cantidad_de_mensajes: parseInt(contenido.cantidad_de_mensajes || \"0\", 10)\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5680,6656],"id":"139f7e6c-b42c-4a86-bde7-2c865bf847f6","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.cantidad_de_mensajes }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"b01cb98c-3320-4f0c-a52d-09a8c32e3711"}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b7f35ca-6b8b-46e6-90df-678f4af9cedf","leftValue":"={{ $json.cantidad_de_mensajes }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"898e0974-024d-42b9-b907-1b4223eda215","leftValue":"={{ $json.cantidad_de_mensajes }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"=3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9748ea5-ddd4-41c9-83fc-eb48b033aaee","leftValue":"={{ $json.cantidad_de_mensajes }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[5968,6624],"id":"c0e1a9fc-2736-4740-99ba-34b60b0d0818","name":"Switch1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbb54555-025f-43c3-b3db-6666ba86b204","leftValue":"={{ $json.body['message[add][0][attachment][link]'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"354cb1ca-b91e-4455-b15d-9bbb0d5ec6f6","leftValue":"={{ $json.body['message[add][0][text]'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5280,4688],"id":"9cbc5d2c-2067-4ee6-bf60-be0ca9f89e67","name":"If2"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"Describe detalladamente que hay en la imagen ","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4272,5360],"id":"c5fe6ae4-4b92-4312-87b4-9adaf188d1e2","name":"Analyze image1","credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"assignments":{"assignments":[{"id":"990a523a-1a0c-4b1d-b74c-86de8b5a6452","name":"Foto_descripcion","value":"={{ $json.content }}","type":"string"},{"id":"48e864e0-60cd-4764-bacf-343c3a429473","name":"Texto","value":"={{ $('If2').item.json.body['message[add][0][text]'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4480,5360],"id":"8a3bbe87-088a-4036-8723-8d5754a20b88","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9312,6976],"id":"8831b5b4-9aa0-4cfd-b0e9-28f260ae17df","name":"HTTP Request15","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_4 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8704,6976],"id":"da5c8cf9-ba02-42d3-a369-afb412e5e100","name":"get token11","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8496,6976],"id":"619732c4-4123-401a-b531-cbd222a54a2b","name":"HTTP Request14","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_3 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7936,6976],"id":"3a93a456-0395-4dc0-9f29-038ecca9a8e3","name":"get token10","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7744,6976],"id":"9a976d1e-62ba-411d-9321-b10748f497aa","name":"HTTP Request13","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_2 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7152,6976],"id":"f11a960c-08d9-4a27-95d7-657aa04878a0","name":"get token9","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6928,6976],"id":"889f2a7d-f004-46a8-862b-b75040b62d1e","name":"HTTP Request12","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_1 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6256,6976],"id":"5e355bbe-c104-4a24-8c9c-97a555c48a44","name":"get token8","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8480,6784],"id":"d660dcc5-6c63-4924-960f-dfe77f30f18a","name":"HTTP Request11","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_3 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7920,6784],"id":"25b0d25b-ed13-4705-b790-d07a44e88f3a","name":"get token7","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7744,6784],"id":"def5890e-b23f-465d-a10f-d2037ac6c0e7","name":"HTTP Request10","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_2 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7152,6784],"id":"ee774139-9fbf-43a9-8780-4cef22814d1f","name":"get token6","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6928,6784],"id":"b439bdc9-03f2-4fe8-bd9c-7d54a5619559","name":"HTTP Request9","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_1 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6256,6784],"id":"98e9a95a-1cf0-49dc-8169-a953fd1eee44","name":"get token5","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7744,6592],"id":"6a5c15d6-a0b2-40b1-9f75-939fbc074574","name":"HTTP Request8","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_2 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7152,6592],"id":"0a3896fb-bb5a-4bbe-aa27-57e6439663c8","name":"get token4","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6912,6592],"id":"a19a785a-497d-4295-b850-a09dc375e13b","name":"HTTP Request7","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_1 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6256,6592],"id":"e94a62fe-d173-4c29-a6db-4a2dccb5e76a","name":"get token3","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6912,6400],"id":"bac770d7-f993-49fe-bc8c-7e53df70bcdf","name":"HTTP Request3","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_1 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6256,6400],"id":"31c45af0-d0e5-432f-be4b-e2abafec2349","name":"get token","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"httpMethod":"POST","path":"simarro","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[4992,4688],"id":"ab15fd86-c5b3-4daf-a91a-7cd99584bb33","name":"Recibir mensaje","webhookId":"6bfb4e91-fc30-450f-8995-e5ea7c54dcf6"},{"parameters":{"url":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][link]'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4064,5360],"id":"e5371212-7f4f-4496-9814-fceefcb9df37","name":"Descargamos foto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f17bf970-d508-4044-ae07-6f798c857814","leftValue":"={{ $json.campo_existe }}","rightValue":"Asistencia humana","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5648,5024],"id":"cd0b0ee9-b2c4-4172-b53b-71f60bf2f478","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6000,4768],"id":"dffab77c-f424-4bb2-815f-fcf024b5b290","name":"No Operation, do nothing"},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"id":"={{ $json.Lead_id }}"},"options":{}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[5200,5024],"id":"306d7dc2-a006-4e6c-8526-56900c809cef","name":"Get list of leads","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"jsCode":"// Acceder al primer item de entrada\nconst inputData = $input.all();\n\n// Función para verificar el estado de la IA\nfunction verificarEstadoIA(item) {\n  try {\n    // Obtener los datos del item\n    const data = item.json;\n    \n    // Acceder al lead (puede venir directamente o en un array)\n    let lead;\n    if (Array.isArray(data)) {\n      lead = data[0]?._embedded?.leads?.[0];\n    } else if (data._embedded?.leads) {\n      lead = data._embedded.leads[0];\n    } else {\n      lead = data;\n    }\n    \n    if (!lead) {\n      return {\n        ia_apagada: false,\n        campo_existe: false,\n        lead_id: null,\n        error: \"No se encontró el lead\"\n      };\n    }\n\n    // Buscar el campo \"Apagar IA?\"\n    const customFields = lead.custom_fields_values || [];\n    const campoApagarIA = customFields.find(\n      field => field.field_name === \"Apagar IA?\"\n    );\n\n    // Resultado\n    if (campoApagarIA) {\n      const valor = campoApagarIA.values?.[0]?.value;\n      return {\n        ia_apagada: valor === true,\n        campo_existe: true,\n        lead_id: lead.id,\n        lead_name: lead.name,\n        lead_completo: lead\n      };\n    }\n\n    // Si no existe el campo, IA está activa\n    return {\n      ia_apagada: false,\n      campo_existe: false,\n      lead_id: lead.id,\n      lead_name: lead.name,\n      lead_completo: lead\n    };\n\n  } catch (error) {\n    return {\n      ia_apagada: false,\n      campo_existe: false,\n      error: error.message\n    };\n  }\n}\n\n// Procesar todos los items\nreturn inputData.map(item => {\n  const resultado = verificarEstadoIA(item);\n  return {\n    json: resultado\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5408,5024],"id":"f9e44ce2-160c-41e0-94c4-e316631f52a2","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cmd-muy-buena","leftValue":"={{ $('Edit Fields').item.json.mensaje }}","rightValue":"/Muy buena","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"muy_buena"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cmd-no-muy-buena","leftValue":"={{ $('Edit Fields').item.json.mensaje }}","rightValue":"/No muy buena","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"no_muy_buena"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[6784,5024],"id":"caf7c791-3926-4db2-8648-77550a423ab8","name":"Detectar Comandos"},{"parameters":{"assignments":{"assignments":[{"id":"msg-muy-buena","name":"mensaje_1","value":"Muchas gracias por tu valoración positiva! Nos alegra saber que tu experiencia ha sido buena. Si necesitas cualquier cosa más, estamos aquí para ayudarte. Nos ayudaria mucho si nos dejas una reseña  https://g.page/r/CXrEhc4g7n4MEBM/review","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7120,4784],"id":"50a8d1c5-48af-4735-8036-6c4a44d52a83","name":"Mensaje Muy Buena"},{"parameters":{"assignments":{"assignments":[{"id":"msg-no-muy-buena","name":"mensaje_1","value":"Lamentamos que tu experiencia no haya sido la esperada. Tu opinión es muy importante para nosotros. Podrías contarnos qué podemos mejorar? Queremos asegurarnos de brindarte un mejor servicio.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7120,4976],"id":"7a13acf3-8d07-4878-96d0-f889194063f3","name":"Mensaje No Muy Buena"},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Mensaje Muy Buena').item.json.mensaje_1 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7312,4784],"id":"a43f2bde-58ea-4169-b228-c33654840a33","name":"Get Token Cmd Buena","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7792,4784],"id":"f2e26d33-eb72-4bb6-ab80-a4adf0a093c5","name":"Wait Cmd Buena","webhookId":"wait-cmd-buena-id"},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8032,4784],"id":"2149b97a-4d81-4992-97e9-2d1b0ade3c0a","name":"Enviar Cmd Buena","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"simarro","mode":"list","cachedResultName":"simarro"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Recibir mensaje').item.json.body['message[add][0][entity_id]'] }}","message":"={{ { type: 'ai', content: $('Mensaje Muy Buena').item.json.mensaje_1, additional_kwargs: {}, response_metadata: {} } }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8304,4784],"id":"c87f8728-86ce-431d-bfaa-b9c6528e706b","name":"Memoria Cmd Buena","credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Mensaje No Muy Buena').item.json.mensaje_1 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7360,4976],"id":"870d9784-8441-44d2-b020-881553236acb","name":"Get Token Cmd Mala","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7840,4976],"id":"617c530e-ca78-4e6a-ae7d-52383b6ce3d7","name":"Wait Cmd Mala","webhookId":"wait-cmd-mala-id"},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8080,4976],"id":"a03b2b12-391e-4f13-970d-058c523d03a9","name":"Enviar Cmd Mala","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"simarro","mode":"list","cachedResultName":"simarro"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Recibir mensaje').item.json.body['message[add][0][entity_id]'] }}","message":"={{ { type: 'ai', content: $('Mensaje No Muy Buena').item.json.mensaje_1, additional_kwargs: {}, response_metadata: {} } }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8320,4976],"id":"a15ccccd-384c-49bd-97f5-aef43b9f3d03","name":"Memoria Cmd Mala","credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"description":"Cancela una visita (Fecha_preferida vacía) o la CAMBIA a otra fecha (Fecha_preferida con la NUEVA fecha y hora). El workflow elige automáticamente según si llega la nueva fecha.","workflowId":{"__rl":true,"value":"om8iBm8ovENIgaxv","mode":"list","cachedResultUrl":"/workflow/om8iBm8ovENIgaxv","cachedResultName":"Leads cambio de fecha o anulacion"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', `Nombre del cliente`, 'string') }}","Tipo de servicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo_de_servicio', `Tipo de operación o propiedad: compra, venta, valoración, inversión, personal shopper`, 'string') }}","numero de telefono":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero_de_telefono', `numero de teléfono del cliente por ejemplo en este formato siempre  en string\"+34 645 452 253\"`, 'string') }}","Fecha preferida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_preferida', `Si el cliente CAMBIA la cita: nueva fecha y hora en formato 2026-05-13 17:00 (zona Madrid). Si el cliente solo CANCELA: dejar vacío.`, 'string') }}","Fuente":"=Chatbot IA","Motivo de la consulta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Motivo_de_la_consulta', `motivo breve de la conversación y si quiere cambiar su cita ponla asi DD/MM/YYYY HH:mm`, 'string') }}","email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `email del cliente`, 'string') }}","contac_id":"={{ $('Edit Fields').item.json.contact_id }}","Lead_id":"={{ $('Edit Fields').item.json.Lead_id }}"},"matchingColumns":[],"schema":[{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Tipo de servicio","displayName":"Tipo de servicio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero de telefono","displayName":"numero de telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Fecha preferida","displayName":"Fecha preferida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Fuente","displayName":"Fuente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Motivo de la consulta","displayName":"Motivo de la consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contac_id","displayName":"contac_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Lead_id","displayName":"Lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5024,6976],"id":"82e07712-d7fa-4582-b3d3-d5e459146653","name":"Cancelar_o_cambiar_cita","onError":"continueErrorOutput"},{"parameters":{"description":"Pasa la conversación a Ramón cuando el cliente quiere cerrar operación, habla en inglés/portugués, hay queja, o tras 2 rechazos al cierre de visita.","workflowId":{"__rl":true,"value":"DFtb3qVtxWwqHHkR","mode":"list","cachedResultUrl":"/workflow/DFtb3qVtxWwqHHkR","cachedResultName":"Derivacion Humano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Lead_id":"={{ $('Edit Fields').item.json.Lead_id }}","contac_id":"={{ $('Edit Fields').item.json.contact_id }}"},"matchingColumns":["Lead_id"],"schema":[{"id":"Lead_id","displayName":"Lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contac_id","displayName":"contac_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5024,7120],"id":"f1a06e81-a43f-40ac-a4cb-2e6bc212536e","name":"Derivar_agente","onError":"continueErrorOutput"},{"parameters":{"name":"Mirar_disponibilidad","description":"Consulta los huecos LIBRES para una visita de 1 HORA en el calendario del AGENTE asignado a la vivienda. Parametros: After y Before en ISO 8601 con zona +02:00 Madrid (franja a consultar), e idealista_id de la vivienda anclada (de Buscar_viviendas; vacio si es visita generica o valoracion). Devuelve un objeto con 'mensaje' (disponibilidad ya calculada, con visitas de 1h y margenes entre viviendas) y 'libre'. Lee 'mensaje' y ofrece SOLO horas EN PUNTO libres. 'libre':true significa LIBRE, no es error.","method":"POST","url":"https://n8nsimarro.agentesia.madrid/webhook/mirar_disponibilidad","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"args\": {\n    \"After\": \"{{ $fromAI('After', 'Inicio de la franja, ISO 8601 con zona +02:00 Madrid', 'string') }}\",\n    \"Before\": \"{{ $fromAI('Before', 'Fin de la franja, ISO 8601 con zona +02:00 Madrid', 'string') }}\",\n    \"idealista_id\": \"{{ $fromAI('idealista_id', 'ID idealista de la vivienda anclada (de Buscar_viviendas); vacio si visita generica o valoracion', 'string') }}\"\n  }\n}","optimizeResponse":false},"id":"90a3b7b3-3f39-41ff-82ed-c9a424fd7273","name":"Mirar_disponibilidad","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4864,6912]},{"parameters":{"description":"Busca información del cliente en el CRM (datos de contacto, visita actual si existe).","workflowId":{"__rl":true,"value":"NsGM8vyXxV08cuoO","mode":"list","cachedResultUrl":"/workflow/NsGM8vyXxV08cuoO","cachedResultName":"Buscar_base_de_datos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contac_id":"={{ $('Edit Fields').item.json.contact_id }}","Leadid":"={{ $('Edit Fields').item.json.Lead_id }}"},"matchingColumns":[],"schema":[{"id":"contac_id","displayName":"contac_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Leadid","displayName":"Leadid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5024,6832],"id":"81ec0c8f-5f0c-4224-bc4d-1d8005208d71","name":"Buscar_base_de_datos","onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.mensaje }}","options":{"systemMessage":"=# Ana — Asistente Virtual de Simarro Properties\n\n## Identidad y registro\nEres Ana, asistente virtual de Simarro Properties. Cercana y profesional, tuteo. Frases cortas (1-3 frases + 1 pregunta). Sin Markdown (WhatsApp no lo renderiza). Texto plano. MAYÚSCULAS solo 1-2 palabras de énfasis. Sin latiguillos (\"verdad?\", \"perfecto entonces\"), sin paráfrasis del cliente.\n\nHoy: {{ $now.setZone('Europe/Madrid').toFormat(\"EEEE d 'de' MMMM yyyy, HH:mm\", {locale:'es'}) }} (ISO: {{ $now.setZone('Europe/Madrid').toFormat('yyyy-MM-dd') }}). Zona Madrid (+02:00).\n\n## Tools disponibles\n- `Buscar_viviendas(query, municipality?, max_price?, min_price?, min_rooms?, min_size?, match_count?, exclude_ids?)`. **IMPORTANTE: `exclude_ids` es un STRING JSON, NO un array.** Ej: `\"[\\\"id1\\\",\\\"id2\\\"]\"` o `\"[]\"`. — busca en catálogo Idealista. `exclude_ids` (array de strings) OBLIGATORIO cuando el cliente pide \"más\" (pasa idealista_id ya enseñados).\n- `Enriquecer_lead_vivienda(lead_id, idealista_id)` — persiste vivienda elegida en Kommo. Llámalo INMEDIATAMENTE cuando el cliente elige.\n- `Buscar_base_de_datos(contac_id, Leadid)` — recupera datos persistidos del lead (idealista_id, dirección, fecha cita).\n- `Mirar_disponibilidad(After, Before, idealista_id)` — consulta huecos del calendario DEL AGENTE de la vivienda. After/Before en ISO con +02:00; idealista_id de la vivienda anclada (de Buscar_viviendas), vacío si visita genérica.\n- `Reservar_cita(nombre, Tipo, tel, Fecha_preferida, Fuente, Motivo, email, contac_id, Lead_id, idealista_id, direccion, thumbnail)` — crea visita.\n- `Cancelar_cita/cambiar cita(nombre, Tipo, tel, Fecha_preferida, ...)` — `Fecha_preferida` vacío = cancela; con valor = cambia.\n- `Derivar_agente(Lead_id, contac_id)` — pasa el lead a humano (status Derivado, apaga IA).\n- `Think` — calcula fechas absolutas desde $now.\n- `Base de conocimiento` — info general del negocio (no para buscar viviendas).\n\n## REGLA DURA #1 — Mirar_disponibilidad: formato y lectura\nLa tool devuelve un objeto con `mensaje` (texto con la disponibilidad ya calculada — considera visitas de 1 HORA y los márgenes entre viviendas distintas) y `libre`.\n- `libre: true` = TODA LA FRANJA LIBRE. PROHIBIDO leerlo como \"no hay disponibilidad\". Ofrece horas EN PUNTO dentro de la franja.\n- `libre: false` = lee `mensaje`: dice qué rangos están bloqueados; el RESTO está libre. Ofrece solo horas EN PUNTO fuera de esos rangos.\nLas visitas duran 1 HORA: ofrece SOLO inicios EN PUNTO (nunca y media). Pasa SIEMPRE idealista_id de la vivienda anclada para consultar el calendario del agente correcto.\n\nSolo puedes decir \"no tengo hueco\" si: (a) `mensaje` indica toda la franja bloqueada, o (b) error HTTP 4xx/5xx.\n\n## REGLA DURA #2 — Día antes de calendar\nAntes de llamar `Mirar_disponibilidad`, el cliente DEBE haber dicho un día concreto (\"mañana\", \"el jueves\", \"el 19\"). Si NO lo ha dicho, pregunta primero: \"¿Qué día te viene mejor?\". **PROHIBIDO inventar fecha por tu cuenta y consultar calendario.**\n\n## REGLA DURA #3 — Tool antes de frase de derivación\nPROHIBIDO escribir \"te paso con un compañero\" / \"te derivo\" / \"te contactamos\" / \"no tengo disponibilidad\" SIN haber invocado antes:\n- `Derivar_agente` si es derivación humano, o\n- `Mirar_disponibilidad` con franja real y eventos cubriendo toda la franja si es por falta de hueco.\n\nOrden: tool primero, frase después. Sin tool, no frase.\n\n## REGLA DURA #4 — Léxico prohibido\nJAMÁS uses: \"real\" pidiendo nombre, \"has elegido\", \"perfecto, has elegido el…\", \"parece que\", \"al parecer\", \"creo que tengo\", \"aquí tienes\", \"te muestro\", \"estas son las opciones\". Sustituye por confirmación natural directa.\n\n## REGLA DURA #5 — Anti-alucinación\nNO inventes fechas, horas, viviendas, precios, direcciones, idealista_id, disponibilidad, emails de prueba (`cliente@example.com`). Si te falta dato: pregunta o usa la tool correspondiente. Si la tool da vacío → di la verdad (\"no tengo esa info\"), no inventes.\n\n## Horario visitas y oficina\n- Visitas: L-V 10:00-13:59 y 17:00-19:59. Slots SOLO `:00` (visita 1 HORA). Nunca ofrezcas `:30`. Sáb-Dom-Festivos cerrado.\n- Hora propuesta INVÁLIDA (fuera de horario, sábado/domingo) → ofrece 2 alternativas en horario, no derives directamente.\n\n## Reglas conversacionales\n1. UNA pregunta por turno. NO repreguntes lo ya dicho.\n2. NO pidas teléfono (lo tenemos de WhatsApp). SÍ nombre y email para Reservar.\n3. NUNCA digas \"Ramón\" → \"nuestro equipo\" / \"te contactamos\".\n4. NO menciones alquiler, comisiones, porcentajes salvo que pregunten.\n5. Inglés/portugués → `Derivar_agente` + \"Te paso con un compañero que te atiende en tu idioma\".\n6. MÁXIMO 2 horas concretas por mensaje. Patrón: \"El miércoles te puedo a las 11:00 o a las 17:30, ¿cuál?\". PROHIBIDO listar 3+ horas o decir \"está todo libre\". Si rechaza ambas, propones 2 distintas (consultando `Mirar_disponibilidad` nuevo).\n7. NO repitas fecha ni hora dentro de la misma respuesta.\n\n## Gate Reservar_cita (requisitos previos)\n1. Día y franja confirmados POR EL CLIENTE.\n2. Hora concreta validada con `Mirar_disponibilidad` (sobre ese día).\n3. Nombre del cliente.\n4. Email.\n5. Propiedad concreta elegida (o cliente acepta visita genérica).\n\nFalta uno → complétalo antes de llamar `Reservar_cita`. Tras éxito, cierra con: *\"Listo, [nombre]. Te esperamos el [día] a las [hora] para ver la vivienda de [zona/calle]. Un compañero te escribirá antes para confirmar la dirección exacta. Cualquier cambio, me dices por aquí.\"*\n\nSi `Reservar_cita` devuelve error → `Derivar_agente` (\"Reserva fallida — necesita asistencia humana\").\n\n## Flujos según intención\n\n**Compra → reservar visita**\n1. Extrae datos del mensaje (tipo, zona, presupuesto, habs).\n2. `Buscar_viviendas` (con `exclude_ids` si es petición de \"más\").\n3. Presenta 2-3 opciones en formato estándar (ver más abajo).\n4. Cliente elige → `Enriquecer_lead_vivienda` INMEDIATO.\n5. Pregunta día → `Mirar_disponibilidad` → propón 2 horas válidas → confirma → pide nombre+email → `Buscar_base_de_datos` → `Reservar_cita`.\n\n**Cancelar/Cambiar visita**\n1. Pregunta nombre si no lo tienes.\n2. `Buscar_base_de_datos`.\n3. \"Tienes visita el [día] a las [hora]. ¿Confirmo cancelar?\" o \"¿A qué día la cambias?\".\n4. Cancelar: `Cancelar_o_cambiar_cita` (cancelar) con `Fecha_preferida` vacía.\n5. Cambiar: `Mirar_disponibilidad` nuevo día → confirma → `Cancelar_cita/cambiar` con `Fecha_preferida` nueva. Tras éxito: \"tu visita ahora es el [nueva fecha]\" (no \"tu visita ha sido cancelada\").\n\n**Venta / Personal Shopper / Inversión**\nPregunta brevemente (UNA pregunta) → `Derivar_agente` → \"Te contactamos para una primera consulta sin compromiso\".\n\n**Info general (horario, ubicación, servicios)**\nResponde directo. Cierre: \"¿Te enseñamos alguna propiedad?\".\n\n## Formato listado de viviendas\nCuando muestres viviendas (2-3 max, en bloques separados), cada una en DOS líneas:\n- Línea 1: `<Tipo> en <Zona>, <Municipio> - <precio>€ - <h>h - <m²>m²`\n- Línea 2: `https://www.idealista.com/inmueble/<idealista_id>/` (URL pelada, nada más en esa línea)\n\nPregunta de cierre (\"¿cuál te interesa?\") UNA SOLA VEZ tras el último bloque, NO por bloque.\n\nPROHIBIDO: Markdown link `[texto](url)`, frases meta (\"aquí tienes\", \"te muestro\"), mencionar `idealista_id` al cliente, inventar valores. Todos los datos del último `Buscar_viviendas`.\n\n## Coherencia de vivienda entre turnos\nCuando muestras UNA vivienda → memoriza su `idealista_id` y datos. Siguiente turno si el cliente dice \"cómo es?\", \"esa sí\", \"más info\", \"y los baños?\" → describe LA MISMA vivienda con los datos que ya tienes. NO llames `Buscar_viviendas` otra vez. Solo si pide \"otra\", \"más barato\", \"en otra zona\", \"más opciones\" → busca de nuevo.\n\nSi mostraste 2-3 y dice \"cómo es?\" sin especificar → pregunta \"¿la de [zona1] o la de [zona2]?\".\n\n## Cartera vacía o zona sin stock — comportar como agente humano\nANTES de decir \"no tengo nada\", actúa como lo haría un comercial inmobiliario humano:\n\n1. Si tu búsqueda en una zona devuelve 0 resultados (o solo locales/cosas que no encajan) → **REPITE `Buscar_viviendas` SIN `municipality`** manteniendo el resto de filtros (precio, habs, m²). Trae lo que tengas en cartera que encaje por presupuesto/características.\n2. Presenta los resultados así: \"En [zona pedida] no tengo nada ahora mismo, pero por lo que buscas (precio, habs) sí tengo esto:\" + listado 2-3 viviendas en formato estándar.\n3. Si tampoco hay con esos filtros → relaja UN solo filtro (sube max_price ~20%, baja min_rooms en 1) y vuelve a buscar. Avisa: \"Subiendo un poco el presupuesto encuentro estas:\".\n4. SOLO si tras 2-3 búsquedas alternativas la cartera está vacía de verdad, di la frase de cartera agotada.\n5. Conserva siempre `exclude_ids` con los IDs ya mostrados — NO repitas viviendas entre intentos.\n\nPROHIBIDO decir \"no tengo en X zona, ¿pruebo en Y zona?\" si puedes ya mismo buscar en Y sin permiso. El cliente quiere ver opciones, no preguntas. Una persona buena en ventas inmobiliarias trae alternativas concretas, no propone \"probar\".\n\n## Pedir \"más viviendas\" — exclude_ids OBLIGATORIO\nCuando el cliente pida \"más\", \"otras\", \"no tienes más?\":\n- Llama `Buscar_viviendas` con `exclude_ids` como STRING JSON (no array). Ejemplo correcto: `exclude_ids: \"[\\\"108234567\\\",\\\"98765432\\\"]\"`. Si es primera búsqueda: `exclude_ids: \"[]\"`. NUNCA pases array directamente — siempre STRING con JSON dentro.\n- Si tras la búsqueda hay duplicados (misma dirección/precio aunque distinto id) → descártalos manualmente.\n- Si NO quedan resultados nuevos: NO repitas las viejas bajo ningún pretexto. Frase obligatoria: *\"Con esos filtros ya te he enseñado todo lo que tengo en cartera. Si amplías zona (cerca de Las Rozas: Majadahonda, Pozuelo, Villanueva del Pardillo) o subes algo el presupuesto, te busco más. ¿Probamos?\"*.\n\n## Detalles de una vivienda (sin redirigir al link salvo que pidan fotos)\n- \"fotos / imágenes / ver el anuncio / verla\" → SOLO URL pelada de esa vivienda.\n- \"cuéntame más / cómo es / habitaciones / metros\" → texto natural con los campos del último `Buscar_viviendas` (habitaciones, m2, baños, descripcion, precio). Habla como Ana, no como ficha técnica.\n\nDetalles que no tienes (garaje, plantas, orientación) → marco vago (\"amplio\", \"bien distribuido\") + redirige a visita. NO inventes cifras.\n\nCierre siempre con propuesta de visita concreta — pero ANTES tienes que tener el día del cliente y haber consultado `Mirar_disponibilidad`. Si el cliente esquiva 2 veces, no insistas: ofrece pasarle al equipo.\n\n## Cortesías y derivación\nCortesías como mensaje único (\"gracias\", \"ok\", \"vale\", \"adiós\", \"genial\", \"perfecto\", \"muchas gracias\", emojis solos, \"👍\", \"🙏\") → respuesta MÍNIMA Y CERRADA. UNA SOLA FRASE corta: \"A ti, [nombre]. Cualquier cosa nos escribes.\" o \"Un placer, [nombre]. Hasta pronto.\" PROHIBIDO ABSOLUTO tras una cortesía añadir: \"cuando quieras hacer la visita\", \"dame tu nombre y email\", \"no dudes en\", \"aquí estoy para reservar\", \"para reservar la visita\", o cualquier CTA / invitación a próximos pasos. NO derivar. NO repreguntar. Si dudas si la visita está reservada → llama `Buscar_base_de_datos` ANTES de responder; si devuelve fecha activa, despídete sin volver a pedir datos.\n\n`Derivar_agente` SOLO si:\n- Cliente pide hablar con persona.\n- Inglés/portugués.\n- Queja grave / caso complejo.\n- Cliente quiere firmar/pagar antes de visitar.\n- 2 rechazos al cierre.\n- `Reservar_cita` falla.\n\n(Recuerda Regla #3: tool ANTES de la frase.)\n\n## FAQs\n- Comisiones: \"Eso lo hablamos en una llamada o reunión, te lo explicamos en persona.\"\n- Precio orientativo sin info: \"Tenemos en distintas zonas y rangos. ¿Qué buscas (tipo, zona, presupuesto)?\"\n- Financiación: \"No ofrecemos directa, pero te ayudamos a entender tu capacidad de compra.\"\n- Alquiler: \"De momento solo compra/venta. Te apunto si quieres y te avisamos.\"\n- Cancelar con poca antelación: \"Sin problema, intenta avisarnos con al menos 6h si puedes.\"\n\n## Reseñas post-visita\nPositiva → \"Me alegra mucho. Si tienes un momento, nos ayudaría una reseña en Google.\"\nNegativa → \"Lo siento, ¿me cuentas qué pasó para poder ayudarte?\"\nQueja grave → `Derivar_agente` + \"Te paso con un compañero ahora mismo\".\n\n## Idealista_id / dirección / thumbnail al reservar\nAntes de `Reservar_cita` llama `Buscar_base_de_datos`. Si devuelve `idealista_id` no null → úsalo. Si null pero el cliente eligió en esta sesión → refresca con `Buscar_viviendas`. Si no hay id (visita genérica) → pasa los 3 campos como `\"\"`. PROHIBIDO inventar placeholders (`some-idealista-id`, `<idealista_id>`, `null` literal, `n/a`).\n\n## Casos especiales — comportamiento obligatorio\n\n**Festivos nacionales/Madrid (NO reservar visita)**: 1 enero (Año Nuevo), 6 enero (Reyes), Jueves Santo, Viernes Santo, 1 mayo, 2 mayo (Día de Madrid), 15 mayo (San Isidro Madrid), 15 agosto, 12 octubre (Hispanidad), 1 noviembre (Todos los Santos), 9 noviembre (Almudena Madrid), 6 diciembre (Constitución), 8 diciembre (Inmaculada), 25 diciembre (Navidad). Si el cliente propone un festivo → trátalo igual que sábado/domingo: ofrece 2 alternativas L-V no festivas.\n\n**Local comercial / garaje / terreno cuando piden piso**: si `Buscar_viviendas` devuelve un resultado que NO es lo que el cliente busca (ej: cliente pidió piso y devuelve \"Local comercial\"), descártalo silenciosamente y repite la búsqueda sin filtros que limiten el tipo. NUNCA presentes un local como si fuera un piso.\n\n**Email mal formado**: ANTES de llamar `Reservar_cita`, valida que el email contiene `@` Y al menos un `.` DESPUÉS del `@` (ej: `m.delmonte@gmail.com` ✓, `m@gmail` ✗, `manuel.com` ✗). Si no cumple, pregunta: \"Ese email no me cuadra, ¿me lo confirmas?\". NO sigas el flujo de reserva sin email válido.\n\n**Cliente insiste en alquiler tras la respuesta inicial**: NO cedas y NO le apuntes. Repite: \"De momento solo compra-venta, no llevamos alquileres ni lista de espera para alquiler. Si te planteas comprar te ayudamos.\"\n\n**Cliente quiere CERRAR sin visitar** (frases: \"quiero firmar\", \"quiero pagar ya\", \"me lo quedo\", \"cerremos\", \"te transfiero\"): `Derivar_agente` INMEDIATO. NO insistas en visita previa, deriva con resumen.\n\n**Inglés / portugués en cualquier turno**: si el cliente usa >50% inglés o portugués en su mensaje → `Derivar_agente` con frase en castellano: \"Te paso con un compañero que te atiende en tu idioma\". NO sigas conversación bilingüe.\n\n**Cancelar / Cambiar visita — seguridad**: ANTES de llamar `Cancelar_o_cambiar_cita`, confirma con el cliente la fecha actual (\"Tienes visita el [día] a las [hora], ¿confirmo [cancelar/cambiar]?\"). Si `Buscar_base_de_datos` devuelve NULL o sin fecha → \"No encuentro visita activa a tu nombre. ¿La reservaste con otro número?\". NO borres por defecto.\n\n**Zonas fuera de cobertura** (Barcelona, Sevilla, Valencia, Bilbao, Galicia, Asturias, Canarias, fuera de España): \"En esa zona no operamos. Trabajamos sobre todo Madrid Comunidad. ¿Te puedo ayudar con alguna zona aquí?\". NO llames `Buscar_viviendas`.\n\n**\"Algo barato\" / \"algo de lujo\" sin cifra**: pregunta \"¿En qué presupuesto te mueves?\". NO inventes rango y NO busques con criterios vagos.\n\n**URL Idealista pegada por el cliente** (`idealista.com/inmueble/<id>/`): extrae el `<id>` numérico de la URL. Llama `Buscar_viviendas(query=\"ID exacto <id>\", exclude_ids=\"[]\")`. Si lo encuentras en catálogo, preséntala. Si no: \"Esa vivienda no está en nuestro catálogo activo. Puedo enseñarte similares — ¿qué presupuesto y características?\".\n\n## Saludo de apertura (solo si abre conversación)\n\"Hola, soy Ana de Simarro Properties. ¿En qué te puedo ayudar?\"\n\n## Datos del negocio\nServicios: venta (pisos, áticos, dúplex, chalets, locales), obra nueva, personal shopper, inversión. Sin alquileres.\nOficina: L-V 10-14h y 17-20h. Sáb-Dom-Festivos cerrado.\nVisitas: L-V 10-20h flexibles.\nCancelación: idealmente con 6h de antelación.\nDirección: Calle Carnicería 7, Las Rozas de Madrid 28231.\nEmail: simarroproperties@gmail.com · Web: simarroproperties.com.\nZona: nacional, base en Las Rozas.\n\n<!-- SIMARRO-MARKER-PROMPT-V4 -->\n\n\nREGLA `found: 0` — NO ESCALAR, NO INVENTAR ZONAS:\n- `found: 0` NO es motivo para derivar a humano. PROHIBIDO escalar (transfer_call / Derivar_agente) por ausencia de stock. Solo escalas si el cliente pide humano explícitamente o por las causas listadas en `ESCALANDO`.\n- PROHIBIDO proponer una zona/barrio/municipio alternativo sin haberlo BUSCADO antes. Si quieres ofrecer \"San Blas\", llama primero `Buscar_viviendas(address_contains: \"San Blas\")` y solo lo mencionas si la tool devuelve `found ≥ 1`.\n- Comportamiento correcto cuando `found: 0`:\n  1. Primer intento sin resultados → reintenta SIN un filtro (quita `address_contains`, o sube `max_price`, o quita `min_rooms`). Frase: \"En [zona/criterio] no tengo nada justo ahora, déjame mirar algo parecido…\" + Buscar_viviendas con menos restricciones.\n  2. Segundo intento sin resultados → reintenta una vez más ampliando algo distinto.\n  3. Solo tras 2 intentos vacíos: \"Con esos criterios no me sale nada en cartera ahora. Si quieres te apunto y te avisamos cuando entre algo, ¿te parece?\". Apuntar = anotar el lead. NO transfer_call ni Derivar_agente.\n- NUNCA frases tipo \"no hay nada, te paso con un compañero\" / \"te paso con el equipo para ver\" cuando lo único que pasa es `found: 0`. Eso es escalación injustificada — el equipo NO tiene nada que tú no tengas en esta cartera, busca tú.\n- NUNCA digas \"tengo X en San Blas / en Chamberí / en Salamanca\" si no has llamado a Buscar_viviendas para esa zona y devolvió ≥1. Mentir sobre disponibilidad es peor que decir \"no tengo\".\n\n\nREGLA `vivienda` vs no-residencial — APLICA AUTOMÁTICAMENTE:\n- Por defecto, `Buscar_viviendas` excluye locales comerciales, garajes, trasteros, terrenos, naves y parcelas. NO necesitas filtrarlo tú.\n- Si el cliente pide explícitamente un \"local\", \"garaje\", \"trastero\", \"terreno\" o \"nave\" → pasa `include_non_residential: true`. Si no, NUNCA presentes esos resultados como si fueran viviendas.\n- Si Buscar_viviendas devuelve un local/garaje (porque el cliente pidió ese tipo o pasaste el flag), preséntalo como lo que es, no como \"una vivienda\".\n\nREGLA — FRASES PARA `found: 0` SEGÚN CONTEXTO:\n- \"No te encuentro coincidencias con eso, ¿me das algún dato más — zona, precio aproximado o algo que recuerdes del anuncio?\" → SOLO cuando el cliente preguntó por UNA vivienda CONCRETA (anuncio, ID, URL, calle exacta). NO usar en brief abierto.\n- Para brief abierto (cliente está buscando, no preguntando por un anuncio) con `found: 0`:\n  - Primer intento: \"En [criterio] no tengo nada justo ahora, déjame mirar algo parecido…\" y reintenta con menos filtros.\n  - Tras 2 intentos vacíos: \"Con esos criterios no me sale nada ahora. Si quieres te apunto y te avisamos cuando entre algo, ¿te parece?\" (NO escalar, NO inventar zonas).\n\n\nREGLA — CUANDO EL CLIENTE PIDE AMPLIAR O VER OTRAS ZONAS:\n- Frases tipo 'amplía', 'qué tengáis', 'otras zonas', 'dime qué hay', 'enséñame lo que tengas', 'no me importa la zona' → llama `Buscar_viviendas(query: \"vivienda\")` SIN ningún otro filtro (NO `address_contains`, NO `municipality`, NO precio, NO `include_non_residential`). El tool te devolverá TODO el catálogo residencial (top 8).\n- LIMPIA FILTROS ANTERIORES en cada nueva llamada cuando el cliente cambia de contexto. NO arrastres `address_contains: \"Majadahonda\"` o `include_non_residential: true` de un turno previo.\n- Tras recibir los results de la llamada catalog-wide, mira el array `zones` (te dice qué municipios tienes y cuántas viviendas en cada uno). Propón el cliente 1-2 zonas DISTINTAS a la que él pidió originalmente con un puente honesto:\n  - Ejemplo: cliente pidió Majadahonda → solo hay local allí → tras catalog-wide ves Las Rozas (3) y Pozuelo (2) → \"En Majadahonda solo me sale un local comercial. Pero en Las Rozas tengo tres viviendas interesantes y un par en Pozuelo. ¿Quieres que te enseñe alguna?\".\n- NUNCA repitas la zona del cliente cuando le ofreces ampliar. Propón zonas nuevas, no la suya.\n- NUNCA digas \"no tengo viviendas\" si en `zones` aparecen municipios con stock. SOLO si `zones` está vacío o `found:0`.\n\n\nREGLA — USO DEL CATÁLOGO COMPACTO (campo `catalogo_compacto`):\nCada llamada a `Buscar_viviendas` te devuelve, además de `results` (2 viviendas con descripción larga), un campo `catalogo_compacto` con TODAS las viviendas devueltas (hasta 15-25), cada una con: `id`, `zona`, `direccion`, `precio`, `habs`, `m2`, `banos`, `desc` (100 caracteres).\n- Usa `catalogo_compacto` para SABER QUÉ HAY en el catálogo y discriminar.\n- Si el cliente pide algo específico (\"el adosado de Boadilla\", \"el de cuatro habitaciones\"), filtra `catalogo_compacto` mentalmente y presenta esa vivienda.\n- Si el cliente pide descripción COMPLETA de una vivienda concreta del catálogo compacto → llama `Buscar_viviendas(idealista_id: \"<id>\")` y leerás la descripción completa de 300 chars en `results[0]`.\n- También tienes `zones` (count por municipio) y `total_in_catalog` (total).\n- PROHIBIDO inventar viviendas que no estén en `catalogo_compacto`, `results` o un Buscar previo.\n\n\nREGLA — DIRECCIÓN Y LUGAR DE ENCUENTRO (válida en TODOS los nodos):\nPROHIBIDO ABSOLUTO:\n- Ofrecer enviar la dirección por WhatsApp / email / SMS (\"te paso la dirección\", \"te mando dónde es\", \"te envío la ubicación\").\n- Decir \"quedamos allí\" o \"nos vemos en la vivienda\" o coordinar punto de encuentro físico.\n- Dar la dirección exacta (calle + número + portal) al final de la llamada como instrucción de \"ven aquí\".\nPERMITIDO:\n- Mencionar la zona/calle como referencia descriptiva durante la presentación de la vivienda (\"un piso en Avenida Quinta, Rejas\").\n- Dejar claro que UN AGENTE de Simarro contactará al cliente para coordinar los detalles de la visita (dirección exacta, lugar de encuentro, etc.).\nLa frase canónica tras `Reservar` es: 'Un agente de Simarro te contactará para confirmar todos los detalles.' — sin añadir ningún tipo de información logística (direcciones, puntos de encuentro, horarios de entrada al portal, etc.).\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[4832,6656],"id":"27760d75-d1e3-469d-ad9c-f9ea01edab7f","name":"AI Agent","retryOnFail":true},{"parameters":{"description":"Reserva una visita a una propiedad, una vez confirmada por el cliente. Requiere nombre, teléfono y fecha/hora.","workflowId":{"__rl":true,"value":"iMoTKZWxYLymGuHF","mode":"list","cachedResultUrl":"/workflow/iMoTKZWxYLymGuHF","cachedResultName":"Leads entrantes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', `Nombre del cliente`, 'string') }}","Tipo de servicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo_de_servicio', `Tipo de operación o propiedad: compra, venta, valoración, inversión, personal shopper`, 'string') }}","numero de telefono":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero_de_telefono', `numero de teléfono del cliente por ejemplo en este formato siempre +34 645 452 253`, 'string') }}","Fecha preferida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_preferida', `Zona horaria de Madrid (GMT+1) fecha y hora obligatoria  por ejemplo 2025-10-28 17:00`, 'string') }}","Fuente":"=Chatbot IA","Motivo de la consulta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Motivo_de_la_consulta', `motivo de la consulta Breve `, 'string') }}","email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `email del cliente`, 'string') }}","contac_id":"={{ $('Edit Fields').item.json.contact_id }}","Lead_id":"={{ $('Edit Fields').item.json.Lead_id }}","idealista_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('idealista_id', `ID de Idealista de la vivienda si se conoce, puede ser null si no hay propiedad concreta`, 'string') }}","direccion":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('direccion', `Dirección de la vivienda si se conoce, puede ser null si no hay propiedad concreta`, 'string') }}","thumbnail":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('thumbnail', `URL de la foto principal de la vivienda si se conoce, puede ser null`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Tipo de servicio","displayName":"Tipo de servicio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero de telefono","displayName":"numero de telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Fecha preferida","displayName":"Fecha preferida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Fuente","displayName":"Fuente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Motivo de la consulta","displayName":"Motivo de la consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contac_id","displayName":"contac_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Lead_id","displayName":"Lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"idealista_id","displayName":"idealista_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"direccion","displayName":"direccion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"displayName":"thumbnail","defaultMatch":false,"canBeUsedToMatch":true,"required":false,"display":true,"type":"string","removed":false,"id":"thumbnail"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4656,6944],"id":"c0ad3403-0588-4ebc-a1f9-3769a2e90e70","name":"Reservar_cita","onError":"continueErrorOutput"},{"parameters":{"description":"=# Think - Razonamiento y Verificación\n\nUsa esta herramienta ANTES de:\n- Reservar_cita\n- Cancelar_cita/cambiar_cita\n- Mirar_disponibilidad\n- Decidir si una visita está dentro de horario gestionable por el bot\n\n## Datos requeridos antes de Reservar / Cancelar\n- nombre\n- numero de telefono\n- email\n- tipo de operación o propiedad\n- fecha + hora visita\n\nSi falta teléfono o email → ejecuta Buscar_base_de_datos primero, vuelve a verificar con Think, y solo entonces ejecuta la herramienta.\nSi tienes todos los datos → ejecuta la herramienta.\n\n## Información de contexto\n\nFecha y hora actual: {{ $now.toISO() }}\nZona horaria: Madrid (UTC+01:00)\n\nHorario oficina Simarro Properties (autogestionable por el bot):\n- Lunes a Viernes: 10:00-14:00 y 17:00-20:00\n- Sábado / Domingo / Festivos: cerrado para gestión automática\n\nVisitas en fin de semana o fuera de horario oficina SÍ se hacen, pero las gestiona el equipo a mano. El bot NO debe consultar calendario ni reservar — debe ejecutar Derivar_agente.\n\n## Cálculo de disponibilidad\n\nReglas:\n- Día = Sáb / Dom / Festivo → NO Mirar_disponibilidad. Ejecutar Derivar_agente.\n- Día = L-V pero hora < 10 o entre 14-17 o > 20 → mismo: Derivar_agente.\n- Día = L-V dentro de [10-14] o [17-20] → Mirar_disponibilidad.\n\nFranjas horarias L-V para parámetros After/Before en ISO 8601:\n- Mañana: After YYYY-MM-DDT10:00:00+01:00, Before YYYY-MM-DDT14:00:00+01:00\n- Tarde: After YYYY-MM-DDT17:00:00+01:00, Before YYYY-MM-DDT20:00:00+01:00\n\n## Interpretación calendario\n- Cada visita ocupa 1h mínimo\n- Eventos devueltos por Mirar_disponibilidad en el rango = OCUPADOS\n- Sin eventos en una franja = LIBRE\n- Ofrecer al cliente exactamente 2 horas concretas dentro del rango libre\n- Nunca más de 2 horarios — confunde al cliente\n\n## Cálculo fechas relativas\n- \"martes / sábado / jueves\" → el próximo (más cercano en futuro)\n- \"mañana\" → día siguiente\n- \"este sábado\" → sábado de la semana actual\n- \"el sábado que viene\" → sábado de la próxima semana\n- Confirmar al cliente con fecha exacta: \"martes 5 de mayo, ¿qué hora?\"\n\n## Verificación rápida (responde con esto cuando te invoquen)\n\nDatos:\n- nombre: [valor o NO TENGO]\n- teléfono: [valor o NO TENGO]\n- email: [valor o NO TENGO]\n- tipo / propiedad: [valor o NO TENGO]\n- fecha + hora: [valor o NO TENGO]\n\nResultado: [PUEDO_EJECUTAR | FALTA_BUSCAR_BD | FALTA_PREGUNTAR_CLIENTE | FUERA_HORARIO_DERIVAR]\nAcción recomendada: [qué hacer a continuación]\n"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[5008,6544],"id":"d83577ac-8314-4d34-8a0d-e6b55d991dd4","name":"Think"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4832,6544],"id":"d0d34926-5820-470d-b0f4-6877d8f1290e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('id sesion').item.json[\"id sesion\"] }}","tableName":"simarro","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4928,6544],"id":"71cd99c1-df6e-42d9-a5c7-b04ba3355b2c","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4528,6944],"id":"7855bb58-4347-4424-8ded-cc179e9e463a","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Información general de Simarro Properties (servicios, zonas atendidas, proceso de compra/venta, FAQ). Úsala SOLO para preguntas genéricas del negocio. Para buscar viviendas concretas usa Buscar_viviendas, no esta. MARKER: SIMARRO-MARKER-A2-V1","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":3,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[4528,6784],"id":"8ecd4668-3083-484a-9961-b65756cdf88f","name":"Base de conocimiento","credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}}},{"parameters":{"description":"Busca viviendas en el catálogo de Simarro (Idealista). Úsalo SIEMPRE que el cliente pregunte por propiedades concretas, características, zonas, precios o quiera ver inmuebles. Inputs: query (descripción libre), municipality (opcional), max_price/min_price/min_rooms/min_size/match_count (opcionales, match_count default 5), exclude_ids (array de idealista_id ya mostrados — OBLIGATORIO cuando el cliente pide más opciones para no repetir).","workflowId":{"__rl":true,"value":"5NRXALN9lBVE9fTs","mode":"list","cachedResultUrl":"/workflow/5NRXALN9lBVE9fTs","cachedResultName":"Buscar_viviendas_catalogo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', 'Descripción libre de lo que busca el cliente', 'string') }}","municipality":"={{ $fromAI('municipality', 'Municipio o zona si el cliente la mencionó', 'string', '') }}","max_price":"={{ Number($fromAI('max_price', 'Precio máximo en euros si el cliente lo mencionó', 'string', '')) || null }}","min_price":"={{ Number($fromAI('min_price', 'Precio mínimo en euros si el cliente lo mencionó', 'string', '')) || null }}","min_rooms":"={{ Number($fromAI('min_rooms', 'Habitaciones mínimas si el cliente lo mencionó', 'string', '')) || null }}","min_size":"={{ Number($fromAI('min_size', 'Superficie mínima en m² si el cliente lo mencionó', 'string', '')) || null }}","match_count":"={{ Number($fromAI('match_count', 'Número de resultados, default 5', 'string', '')) || 5 }}","exclude_ids":"={{ $fromAI('exclude_ids', 'STRING (no array). Pasa un string con JSON dentro. Ejemplos válidos: \"[]\" (primera búsqueda), \"[\\\\\"108234567\\\\\",\\\\\"98765432\\\\\"]\" (cuando ya enseñaste IDs). NUNCA pases array directo, SIEMPRE string entre comillas con JSON dentro.', 'string', '[]') }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"municipality","displayName":"municipality","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"max_price","displayName":"max_price","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"min_price","displayName":"min_price","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"min_rooms","displayName":"min_rooms","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"min_size","displayName":"min_size","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"match_count","displayName":"match_count","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"exclude_ids","displayName":"exclude_ids","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5232,6832],"id":"8987407f-8de6-4a8f-bb09-8a42802c7a19","name":"Buscar_viviendas","onError":"continueErrorOutput"},{"parameters":{"description":"Asocia una vivienda concreta del catálogo a un lead Kommo. Llamar SIEMPRE INMEDIATAMENTE DESPUÉS de Reservar_cita cuando el cliente eligió una vivienda específica obtenida con Buscar_viviendas. Inputs: lead_id (del lead recién creado por Reservar_cita), idealista_id (de la vivienda elegida).","workflowId":{"__rl":true,"value":"bdwFEMMZ6pGoihVb","mode":"list","cachedResultUrl":"/workflow/bdwFEMMZ6pGoihVb","cachedResultName":"Enriquecer_lead_vivienda"},"workflowInputs":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $fromAI('lead_id', 'ID del lead Kommo recién creado por Reservar_cita', 'number') }}","idealista_id":"={{ $fromAI('idealista_id', 'ID idealista de la vivienda obtenido en Buscar_viviendas', 'string') }}"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"idealista_id","displayName":"idealista_id","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5424,6832],"id":"68a8629d-600e-4497-b28d-7ce3e7353599","name":"Enriquecer_lead_vivienda","onError":"continueErrorOutput"},{"parameters":{"amount":8},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5696,5984],"id":"79ae56bc-9d86-4051-9bd1-5443d26f8319","name":"Wait","webhookId":"a4f2a30f-8f22-4492-8277-934bae8eed77"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9104,6976],"id":"64929cb3-0633-45e8-b844-c4139a9a8123","name":"Wait11","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8304,6976],"id":"fc806457-ead1-4078-b70e-fd0946f4b695","name":"Wait8","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8288,6784],"id":"a3c0989e-0842-45cb-8499-625b84128b94","name":"Wait10","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7568,6976],"id":"499d8274-ce5f-4c1b-ab39-536b6757cae4","name":"Wait7","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7552,6784],"id":"47e69d3c-2102-4cf8-84ac-5773b69bb62a","name":"Wait5","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7536,6592],"id":"1e2091e4-7e50-48c3-85b6-6503af755c1a","name":"Wait9","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6720,6976],"id":"5582cc62-2fb4-4346-a69e-f1e670444454","name":"Wait6","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6720,6784],"id":"6385ed85-4eb7-436c-9da5-38ac27a57e9d","name":"Wait4","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6720,6592],"id":"9c6948bf-6fe3-4085-8455-8577f129dd59","name":"Wait3","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6720,6400],"id":"d615c0ee-6c97-416b-9057-bf6b0916b6b5","name":"Wait1","webhookId":"84e80237-cfc7-4013-8d85-1497a604a07c"}],"connections":{"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Detectar Comandos","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get list of leads","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Texto":{"main":[[{"node":"Merge","type":"main","index":1}]]},"HTTP Request1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Merge","type":"main","index":2}]]},"HTTP Request2":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Redis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"id sesion","type":"main","index":0}]]},"id sesion":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis2","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"divider":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"get token","type":"main","index":0}],[{"node":"get token3","type":"main","index":0}],[{"node":"get token5","type":"main","index":0}],[{"node":"get token8","type":"main","index":0}]]},"If2":{"main":[[{"node":"Descargamos foto","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Analyze image1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis","type":"main","index":0}]]},"HTTP Request14":{"main":[[{"node":"Wait8","type":"main","index":0}]]},"HTTP Request13":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"HTTP Request12":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Recibir mensaje":{"main":[[{"node":"If2","type":"main","index":0}]]},"Descargamos foto":{"main":[[{"node":"Analyze image1","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Get list of leads":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"Detectar Comandos":{"main":[[{"node":"Mensaje Muy Buena","type":"main","index":0}],[{"node":"Mensaje No Muy Buena","type":"main","index":0}],[{"node":"Texto","type":"main","index":0}]]},"Mensaje Muy Buena":{"main":[[{"node":"Get Token Cmd Buena","type":"main","index":0}]]},"Mensaje No Muy Buena":{"main":[[{"node":"Get Token Cmd Mala","type":"main","index":0}]]},"Wait Cmd Buena":{"main":[[{"node":"Enviar Cmd Buena","type":"main","index":0}]]},"Enviar Cmd Buena":{"main":[[{"node":"Memoria Cmd Buena","type":"main","index":0}]]},"Wait Cmd Mala":{"main":[[{"node":"Enviar Cmd Mala","type":"main","index":0}]]},"Enviar Cmd Mala":{"main":[[{"node":"Memoria Cmd Mala","type":"main","index":0}]]},"Derivar_agente":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Mirar_disponibilidad":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Buscar_base_de_datos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"divider","type":"main","index":0}]]},"Reservar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Base de conocimiento","type":"ai_embedding","index":0}]]},"Base de conocimiento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get token":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"get token3":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"get token5":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"get token8":{"main":[[{"node":"HTTP Request12","type":"main","index":0}]]},"get token4":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"get token6":{"main":[[{"node":"HTTP Request10","type":"main","index":0}]]},"get token9":{"main":[[{"node":"HTTP Request13","type":"main","index":0}]]},"get token7":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"get token10":{"main":[[{"node":"HTTP Request14","type":"main","index":0}]]},"get token11":{"main":[[{"node":"HTTP Request15","type":"main","index":0}]]},"Get Token Cmd Buena":{"main":[[{"node":"Wait Cmd Buena","type":"main","index":0}]]},"Get Token Cmd Mala":{"main":[[{"node":"Wait Cmd Mala","type":"main","index":0}]]},"Buscar_viviendas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Enriquecer_lead_vivienda":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Wait11":{"main":[[]]},"Wait8":{"main":[[{"node":"get token11","type":"main","index":0}]]},"Wait10":{"main":[[]]},"Wait7":{"main":[[{"node":"get token10","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"get token7","type":"main","index":0}]]},"Wait9":{"main":[[]]},"Wait6":{"main":[[{"node":"get token9","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"get token6","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"get token4","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Cancelar_o_cambiar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"HTTP Request8":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"HTTP Request15":{"main":[[{"node":"Wait11","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c0b103bc-22fc-4442-a18e-a341d78ee0ff","activeVersionId":"c0b103bc-22fc-4442-a18e-a341d78ee0ff","versionCounter":395,"triggerCount":1,"shared":[{"updatedAt":"2026-04-28T10:31:02.919Z","createdAt":"2026-04-28T10:31:02.919Z","role":"workflow:owner","workflowId":"QLfRT9AWmV1HLMZs","projectId":"KzDhDvn7gXhn9Jke","project":{"updatedAt":"2026-04-14T19:24:58.568Z","createdAt":"2026-04-14T17:51:20.172Z","id":"KzDhDvn7gXhn9Jke","name":"agentesia madrid <info@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"e11c9a81-3802-42a8-8b75-5d3028942946"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-28T09:41:51.198Z","createdAt":"2026-05-28T09:41:51.198Z","versionId":"c0b103bc-22fc-4442-a18e-a341d78ee0ff","workflowId":"QLfRT9AWmV1HLMZs","nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][type]'] }}","rightValue":"=voice","operator":{"type":"string","operation":"equals"},"id":"ab092574-839d-4ecf-a3a0-c4526455f169"}],"combinator":"and"},"renameOutput":true,"outputKey":"voz"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a6ff466-73f1-4c9e-9fcd-0d62cbb1d261","leftValue":"={{ $('Recibir mensaje').item.json.body['message[add][0][text]'] }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60e38c40-9496-4bed-bee9-9648caaaa078","leftValue":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][type]'] }}","rightValue":"=audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b94ff9ce-7de4-4b07-bb58-84096f5e0ae3","leftValue":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][type]'] }}","rightValue":"=picture","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Foto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[5952,5216],"id":"27d4452d-7351-4878-a36d-80278310c297","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"5606a730-3a63-4bd0-841c-fa225d570bbf","name":"Type","value":"={{ $json.body['message[add][0][entity_type]'] }}","type":"string"},{"id":"142fa232-d806-4db7-8a85-5598b18c343c","name":"contact_id","value":"={{ $json.body['message[add][0][contact_id]'] }}","type":"string"},{"id":"c5bd678f-6354-4beb-bc84-4678d5f3db8c","name":"mensaje","value":"={{ $json.body['message[add][0][text]'] }}","type":"string"},{"id":"13a1ee49-46c4-45c9-84e8-84ef98d5cacc","name":"Lead_id","value":"={{ $json.body[\"message[add][0][entity_id]\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4976,5024],"id":"3d8dfa97-412e-41fd-9071-3424be2d5760","name":"Edit Fields"},{"parameters":{"url":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][link]'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6384,4800],"id":"1a2bbd71-82e3-43aa-9ce1-b39cdc3e3bc1","name":"HTTP Request"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6576,4800],"id":"9f9b6fe4-bba3-4d8c-8602-24d4c834245e","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4912,5952],"id":"0af86bca-6939-4757-9e85-49edcdeab136","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"ebcda28d-ce03-4f67-9864-6ebcb9273833","name":"Mensaje","value":"={{ $('Edit Fields').item.json.mensaje }}","type":"string"},{"id":"563926ad-555c-408f-b540-07e64fcc31d1","name":"contact_id","value":"={{ $('Edit Fields').item.json.contact_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7168,5264],"id":"6170f66f-c011-46b2-b0a5-30952a30a62b","name":"Texto"},{"parameters":{"url":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][link]'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6400,5648],"id":"63787626-5998-447c-8aff-b6db6bd0d460","name":"HTTP Request1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"Describe detalladamente que hay en la imagen ","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6608,5648],"id":"b4501b37-c50e-431c-8fdc-e99127039c87","name":"Analyze image","credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"url":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][link]'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6304,5360],"id":"daec57f6-683b-49ec-a344-e7eaf2de21bb","name":"HTTP Request2"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6608,5360],"id":"eabbf8c5-d20c-4fd4-b283-ed950a7a117b","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"push","list":"={{ $('Recibir mensaje').item.json.body['message[add][0][entity_id]'] }}","messageData":"={{ $json.Foto_descripcion}} {{ $json.Texto }} {{ $json.Mensaje }} {{ $json.text }} {{ $json.content }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5488,5984],"id":"6e5a02a2-a721-4805-856a-c9d01a6c4582","name":"Redis","credentials":{"redis":{"id":"KeKFbEgfVExkhvij","name":"Redis - Simarro"}}},{"parameters":{"operation":"get","propertyName":"=mensaje","key":"={{ $('Recibir mensaje').item.json.body['message[add][0][entity_id]'] }}","options":{"dotNotation":false}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5936,5984],"id":"a24abf67-0337-40f4-9439-58d7bd35fcb5","name":"Redis1","alwaysOutputData":false,"credentials":{"redis":{"id":"KeKFbEgfVExkhvij","name":"Redis - Simarro"}}},{"parameters":{"operation":"delete","key":"={{ $('Recibir mensaje').item.json.body['message[add][0][entity_id]'] }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[6368,5888],"id":"09f41be2-322e-44ce-8ef0-5dd5d66d4252","name":"Redis2","alwaysOutputData":false,"credentials":{"redis":{"id":"KeKFbEgfVExkhvij","name":"Redis - Simarro"}}},{"parameters":{"assignments":{"assignments":[{"id":"fda02227-323d-476e-8e11-fb14cb7b1846","name":"id sesion","value":"={{ $('Edit Fields').item.json.Lead_id }}","type":"string"},{"id":"31c77db0-a8f0-40a5-aa3d-f8abe38e2a5b","name":"mensaje","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6624,5936],"id":"b42be215-e328-4770-a906-189357076774","name":"id sesion"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6368,6096],"id":"46749e60-243b-4286-863e-5af4eedd9912","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6972ce47-4792-42cf-baf5-7816b779cf4e","leftValue":"={{ $json.mensaje }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6144,5984],"id":"4ce1b684-f5d6-4457-ae02-83ab0b612ef9","name":"If1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=## Tarea\nDivide el texto recibido en partes naturales para enviar por WhatsApp.\n\nNO modifiques palabras, NO reescribas, NO elimines emojis ni signos, NO cambies tono.\nSOLO partes el mensaje en chunks que se enviarán como mensajes separados.\n\nTexto a dividir: {{ $json.output }}\n\n## Reglas de partición\n- Mensaje corto (1-2 frases): 1 parte\n- Mensaje medio (3-5 frases): 1-2 partes\n- Mensaje largo con preguntas: 2-3 partes (cada pregunta puede ir aparte)\n- **Lista de viviendas/propiedades**: CADA vivienda (cada item numerado tipo \"1)\", \"2)\", o cada bloque que describe una propiedad con dirección/precio/m²/habs) va en su PROPIO mensaje. Si hay URL al final del bloque, la URL queda DENTRO del mismo mensaje que su vivienda. La pregunta de cierre (\"¿cuál te interesa?\", \"¿te vienen bien?\") va aparte.\n- Máximo 4 partes\n\n## Cómo partir\n- Respeta frases completas (no cortes a mitad)\n- Mantén el saludo + primera frase juntos\n- Si hay pregunta final, puede ir en su propio chunk\n- NO añadas texto, NO quites texto, NO cambies palabras: solo partes lo que ya hay tal cual\n\n## Output JSON estricto\n{\n  \"cantidad_de_mensajes\": \"1-4\",\n  \"mensaje_parte_1\": \"...\",\n  \"mensaje_parte_2\": \"...\",\n  \"mensaje_parte_3\": \"...\",\n  \"mensaje_parte_4\": \"...\",\n  \"tipo_respuesta\": \"\"\n}\n\nSi solo hay 1 parte, las demás van como string vacío \"\".\n","role":"system"}]},"jsonOutput":true,"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5296,6640],"id":"9bb07f7d-8272-4603-a2b8-cf3f0c884c6e","name":"divider","retryOnFail":true,"credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"maxTries":3,"waitBetweenTries":2000},{"parameters":{"jsCode":"const contenido = $json.message.content;\n\nfunction limpiar(texto) {\n  return texto\n    ?.toString()\n    .replace(/[\"]/g, '')     // Elimina comillas dobles\n    .replace(/\\n/g, ' ')     // Reemplaza saltos de línea\n    .replace(/\\s+/g, ' ')    // Reduce espacios\n    .trim();\n}\n\nreturn [\n  {\n    json: {\n      mensaje_1: limpiar(contenido.mensaje_parte_1),\n      mensaje_2: limpiar(contenido.mensaje_parte_2),\n      mensaje_3: limpiar(contenido.mensaje_parte_3),\n      mensaje_4: limpiar(contenido.mensaje_parte_4),\n      tipo_respuesta: limpiar(contenido.tipo_respuesta),\n      cantidad_de_mensajes: parseInt(contenido.cantidad_de_mensajes || \"0\", 10)\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5680,6656],"id":"139f7e6c-b42c-4a86-bde7-2c865bf847f6","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.cantidad_de_mensajes }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"b01cb98c-3320-4f0c-a52d-09a8c32e3711"}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b7f35ca-6b8b-46e6-90df-678f4af9cedf","leftValue":"={{ $json.cantidad_de_mensajes }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"898e0974-024d-42b9-b907-1b4223eda215","leftValue":"={{ $json.cantidad_de_mensajes }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"=3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9748ea5-ddd4-41c9-83fc-eb48b033aaee","leftValue":"={{ $json.cantidad_de_mensajes }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[5968,6624],"id":"c0e1a9fc-2736-4740-99ba-34b60b0d0818","name":"Switch1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbb54555-025f-43c3-b3db-6666ba86b204","leftValue":"={{ $json.body['message[add][0][attachment][link]'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"354cb1ca-b91e-4455-b15d-9bbb0d5ec6f6","leftValue":"={{ $json.body['message[add][0][text]'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5280,4688],"id":"9cbc5d2c-2067-4ee6-bf60-be0ca9f89e67","name":"If2"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"Describe detalladamente que hay en la imagen ","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4272,5360],"id":"c5fe6ae4-4b92-4312-87b4-9adaf188d1e2","name":"Analyze image1","credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"assignments":{"assignments":[{"id":"990a523a-1a0c-4b1d-b74c-86de8b5a6452","name":"Foto_descripcion","value":"={{ $json.content }}","type":"string"},{"id":"48e864e0-60cd-4764-bacf-343c3a429473","name":"Texto","value":"={{ $('If2').item.json.body['message[add][0][text]'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4480,5360],"id":"8a3bbe87-088a-4036-8723-8d5754a20b88","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9312,6976],"id":"8831b5b4-9aa0-4cfd-b0e9-28f260ae17df","name":"HTTP Request15","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_4 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8704,6976],"id":"da5c8cf9-ba02-42d3-a369-afb412e5e100","name":"get token11","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8496,6976],"id":"619732c4-4123-401a-b531-cbd222a54a2b","name":"HTTP Request14","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_3 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7936,6976],"id":"3a93a456-0395-4dc0-9f29-038ecca9a8e3","name":"get token10","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7744,6976],"id":"9a976d1e-62ba-411d-9321-b10748f497aa","name":"HTTP Request13","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_2 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7152,6976],"id":"f11a960c-08d9-4a27-95d7-657aa04878a0","name":"get token9","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6928,6976],"id":"889f2a7d-f004-46a8-862b-b75040b62d1e","name":"HTTP Request12","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_1 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6256,6976],"id":"5e355bbe-c104-4a24-8c9c-97a555c48a44","name":"get token8","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8480,6784],"id":"d660dcc5-6c63-4924-960f-dfe77f30f18a","name":"HTTP Request11","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_3 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7920,6784],"id":"25b0d25b-ed13-4705-b790-d07a44e88f3a","name":"get token7","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7744,6784],"id":"def5890e-b23f-465d-a10f-d2037ac6c0e7","name":"HTTP Request10","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_2 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7152,6784],"id":"ee774139-9fbf-43a9-8780-4cef22814d1f","name":"get token6","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6928,6784],"id":"b439bdc9-03f2-4fe8-bd9c-7d54a5619559","name":"HTTP Request9","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_1 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6256,6784],"id":"98e9a95a-1cf0-49dc-8169-a953fd1eee44","name":"get token5","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7744,6592],"id":"6a5c15d6-a0b2-40b1-9f75-939fbc074574","name":"HTTP Request8","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_2 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7152,6592],"id":"0a3896fb-bb5a-4bbe-aa27-57e6439663c8","name":"get token4","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6912,6592],"id":"a19a785a-497d-4295-b850-a09dc375e13b","name":"HTTP Request7","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_1 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6256,6592],"id":"e94a62fe-d173-4c29-a6db-4a2dccb5e76a","name":"get token3","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6912,6400],"id":"bac770d7-f993-49fe-bc8c-7e53df70bcdf","name":"HTTP Request3","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Code').item.json.mensaje_1 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6256,6400],"id":"31c45af0-d0e5-432f-be4b-e2abafec2349","name":"get token","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"httpMethod":"POST","path":"simarro","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[4992,4688],"id":"ab15fd86-c5b3-4daf-a91a-7cd99584bb33","name":"Recibir mensaje","webhookId":"6bfb4e91-fc30-450f-8995-e5ea7c54dcf6"},{"parameters":{"url":"={{ $('Recibir mensaje').item.json.body['message[add][0][attachment][link]'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4064,5360],"id":"e5371212-7f4f-4496-9814-fceefcb9df37","name":"Descargamos foto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f17bf970-d508-4044-ae07-6f798c857814","leftValue":"={{ $json.campo_existe }}","rightValue":"Asistencia humana","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5648,5024],"id":"cd0b0ee9-b2c4-4172-b53b-71f60bf2f478","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6000,4768],"id":"dffab77c-f424-4bb2-815f-fcf024b5b290","name":"No Operation, do nothing"},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"id":"={{ $json.Lead_id }}"},"options":{}},"type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[5200,5024],"id":"306d7dc2-a006-4e6c-8526-56900c809cef","name":"Get list of leads","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"jsCode":"// Acceder al primer item de entrada\nconst inputData = $input.all();\n\n// Función para verificar el estado de la IA\nfunction verificarEstadoIA(item) {\n  try {\n    // Obtener los datos del item\n    const data = item.json;\n    \n    // Acceder al lead (puede venir directamente o en un array)\n    let lead;\n    if (Array.isArray(data)) {\n      lead = data[0]?._embedded?.leads?.[0];\n    } else if (data._embedded?.leads) {\n      lead = data._embedded.leads[0];\n    } else {\n      lead = data;\n    }\n    \n    if (!lead) {\n      return {\n        ia_apagada: false,\n        campo_existe: false,\n        lead_id: null,\n        error: \"No se encontró el lead\"\n      };\n    }\n\n    // Buscar el campo \"Apagar IA?\"\n    const customFields = lead.custom_fields_values || [];\n    const campoApagarIA = customFields.find(\n      field => field.field_name === \"Apagar IA?\"\n    );\n\n    // Resultado\n    if (campoApagarIA) {\n      const valor = campoApagarIA.values?.[0]?.value;\n      return {\n        ia_apagada: valor === true,\n        campo_existe: true,\n        lead_id: lead.id,\n        lead_name: lead.name,\n        lead_completo: lead\n      };\n    }\n\n    // Si no existe el campo, IA está activa\n    return {\n      ia_apagada: false,\n      campo_existe: false,\n      lead_id: lead.id,\n      lead_name: lead.name,\n      lead_completo: lead\n    };\n\n  } catch (error) {\n    return {\n      ia_apagada: false,\n      campo_existe: false,\n      error: error.message\n    };\n  }\n}\n\n// Procesar todos los items\nreturn inputData.map(item => {\n  const resultado = verificarEstadoIA(item);\n  return {\n    json: resultado\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5408,5024],"id":"f9e44ce2-160c-41e0-94c4-e316631f52a2","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cmd-muy-buena","leftValue":"={{ $('Edit Fields').item.json.mensaje }}","rightValue":"/Muy buena","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"muy_buena"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cmd-no-muy-buena","leftValue":"={{ $('Edit Fields').item.json.mensaje }}","rightValue":"/No muy buena","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"no_muy_buena"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[6784,5024],"id":"caf7c791-3926-4db2-8648-77550a423ab8","name":"Detectar Comandos"},{"parameters":{"assignments":{"assignments":[{"id":"msg-muy-buena","name":"mensaje_1","value":"Muchas gracias por tu valoración positiva! Nos alegra saber que tu experiencia ha sido buena. Si necesitas cualquier cosa más, estamos aquí para ayudarte. Nos ayudaria mucho si nos dejas una reseña  https://g.page/r/CXrEhc4g7n4MEBM/review","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7120,4784],"id":"50a8d1c5-48af-4735-8036-6c4a44d52a83","name":"Mensaje Muy Buena"},{"parameters":{"assignments":{"assignments":[{"id":"msg-no-muy-buena","name":"mensaje_1","value":"Lamentamos que tu experiencia no haya sido la esperada. Tu opinión es muy importante para nosotros. Podrías contarnos qué podemos mejorar? Queremos asegurarnos de brindarte un mejor servicio.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7120,4976],"id":"7a13acf3-8d07-4878-96d0-f889194063f3","name":"Mensaje No Muy Buena"},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Mensaje Muy Buena').item.json.mensaje_1 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7312,4784],"id":"a43f2bde-58ea-4169-b228-c33654840a33","name":"Get Token Cmd Buena","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7792,4784],"id":"f2e26d33-eb72-4bb6-ab80-a4adf0a093c5","name":"Wait Cmd Buena","webhookId":"wait-cmd-buena-id"},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8032,4784],"id":"2149b97a-4d81-4992-97e9-2d1b0ade3c0a","name":"Enviar Cmd Buena","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"simarro","mode":"list","cachedResultName":"simarro"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Recibir mensaje').item.json.body['message[add][0][entity_id]'] }}","message":"={{ { type: 'ai', content: $('Mensaje Muy Buena').item.json.mensaje_1, additional_kwargs: {}, response_metadata: {} } }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8304,4784],"id":"c87f8728-86ce-431d-bfaa-b9c6528e706b","name":"Memoria Cmd Buena","credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"method":"PATCH","url":"https://simarro.kommo.com/api/v4/leads","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"custom_fields_values\": [{ \"field_id\": 1372573, \"values\": [{ \"value\": \"{{ $('Mensaje No Muy Buena').item.json.mensaje_1 }}\" }] }] }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7360,4976],"id":"870d9784-8441-44d2-b020-881553236acb","name":"Get Token Cmd Mala","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7840,4976],"id":"617c530e-ca78-4e6a-ae7d-52383b6ce3d7","name":"Wait Cmd Mala","webhookId":"wait-cmd-mala-id"},{"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","sendBody":true,"specifyBody":"json","jsonBody":"=[{ \"bot_id\": 88183, \"entity_id\": {{ Number($('Edit Fields').item.json.Lead_id) }}, \"entity_type\": 2 }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8080,4976],"id":"a03b2b12-391e-4f13-970d-058c523d03a9","name":"Enviar Cmd Mala","credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"simarro","mode":"list","cachedResultName":"simarro"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Recibir mensaje').item.json.body['message[add][0][entity_id]'] }}","message":"={{ { type: 'ai', content: $('Mensaje No Muy Buena').item.json.mensaje_1, additional_kwargs: {}, response_metadata: {} } }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8320,4976],"id":"a15ccccd-384c-49bd-97f5-aef43b9f3d03","name":"Memoria Cmd Mala","credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"description":"Cancela una visita (Fecha_preferida vacía) o la CAMBIA a otra fecha (Fecha_preferida con la NUEVA fecha y hora). El workflow elige automáticamente según si llega la nueva fecha.","workflowId":{"__rl":true,"value":"om8iBm8ovENIgaxv","mode":"list","cachedResultUrl":"/workflow/om8iBm8ovENIgaxv","cachedResultName":"Leads cambio de fecha o anulacion"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', `Nombre del cliente`, 'string') }}","Tipo de servicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo_de_servicio', `Tipo de operación o propiedad: compra, venta, valoración, inversión, personal shopper`, 'string') }}","numero de telefono":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero_de_telefono', `numero de teléfono del cliente por ejemplo en este formato siempre  en string\"+34 645 452 253\"`, 'string') }}","Fecha preferida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_preferida', `Si el cliente CAMBIA la cita: nueva fecha y hora en formato 2026-05-13 17:00 (zona Madrid). Si el cliente solo CANCELA: dejar vacío.`, 'string') }}","Fuente":"=Chatbot IA","Motivo de la consulta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Motivo_de_la_consulta', `motivo breve de la conversación y si quiere cambiar su cita ponla asi DD/MM/YYYY HH:mm`, 'string') }}","email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `email del cliente`, 'string') }}","contac_id":"={{ $('Edit Fields').item.json.contact_id }}","Lead_id":"={{ $('Edit Fields').item.json.Lead_id }}"},"matchingColumns":[],"schema":[{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Tipo de servicio","displayName":"Tipo de servicio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero de telefono","displayName":"numero de telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Fecha preferida","displayName":"Fecha preferida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Fuente","displayName":"Fuente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Motivo de la consulta","displayName":"Motivo de la consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contac_id","displayName":"contac_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Lead_id","displayName":"Lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5024,6976],"id":"82e07712-d7fa-4582-b3d3-d5e459146653","name":"Cancelar_o_cambiar_cita","onError":"continueErrorOutput"},{"parameters":{"description":"Pasa la conversación a Ramón cuando el cliente quiere cerrar operación, habla en inglés/portugués, hay queja, o tras 2 rechazos al cierre de visita.","workflowId":{"__rl":true,"value":"DFtb3qVtxWwqHHkR","mode":"list","cachedResultUrl":"/workflow/DFtb3qVtxWwqHHkR","cachedResultName":"Derivacion Humano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Lead_id":"={{ $('Edit Fields').item.json.Lead_id }}","contac_id":"={{ $('Edit Fields').item.json.contact_id }}"},"matchingColumns":["Lead_id"],"schema":[{"id":"Lead_id","displayName":"Lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contac_id","displayName":"contac_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5024,7120],"id":"f1a06e81-a43f-40ac-a4cb-2e6bc212536e","name":"Derivar_agente","onError":"continueErrorOutput"},{"parameters":{"name":"Mirar_disponibilidad","description":"Consulta los huecos LIBRES para una visita de 1 HORA en el calendario del AGENTE asignado a la vivienda. Parametros: After y Before en ISO 8601 con zona +02:00 Madrid (franja a consultar), e idealista_id de la vivienda anclada (de Buscar_viviendas; vacio si es visita generica o valoracion). Devuelve un objeto con 'mensaje' (disponibilidad ya calculada, con visitas de 1h y margenes entre viviendas) y 'libre'. Lee 'mensaje' y ofrece SOLO horas EN PUNTO libres. 'libre':true significa LIBRE, no es error.","method":"POST","url":"https://n8nsimarro.agentesia.madrid/webhook/mirar_disponibilidad","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"args\": {\n    \"After\": \"{{ $fromAI('After', 'Inicio de la franja, ISO 8601 con zona +02:00 Madrid', 'string') }}\",\n    \"Before\": \"{{ $fromAI('Before', 'Fin de la franja, ISO 8601 con zona +02:00 Madrid', 'string') }}\",\n    \"idealista_id\": \"{{ $fromAI('idealista_id', 'ID idealista de la vivienda anclada (de Buscar_viviendas); vacio si visita generica o valoracion', 'string') }}\"\n  }\n}","optimizeResponse":false},"id":"90a3b7b3-3f39-41ff-82ed-c9a424fd7273","name":"Mirar_disponibilidad","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4864,6912]},{"parameters":{"description":"Busca información del cliente en el CRM (datos de contacto, visita actual si existe).","workflowId":{"__rl":true,"value":"NsGM8vyXxV08cuoO","mode":"list","cachedResultUrl":"/workflow/NsGM8vyXxV08cuoO","cachedResultName":"Buscar_base_de_datos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contac_id":"={{ $('Edit Fields').item.json.contact_id }}","Leadid":"={{ $('Edit Fields').item.json.Lead_id }}"},"matchingColumns":[],"schema":[{"id":"contac_id","displayName":"contac_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Leadid","displayName":"Leadid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5024,6832],"id":"81ec0c8f-5f0c-4224-bc4d-1d8005208d71","name":"Buscar_base_de_datos","onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.mensaje }}","options":{"systemMessage":"=# Ana — Asistente Virtual de Simarro Properties\n\n## Identidad y registro\nEres Ana, asistente virtual de Simarro Properties. Cercana y profesional, tuteo. Frases cortas (1-3 frases + 1 pregunta). Sin Markdown (WhatsApp no lo renderiza). Texto plano. MAYÚSCULAS solo 1-2 palabras de énfasis. Sin latiguillos (\"verdad?\", \"perfecto entonces\"), sin paráfrasis del cliente.\n\nHoy: {{ $now.setZone('Europe/Madrid').toFormat(\"EEEE d 'de' MMMM yyyy, HH:mm\", {locale:'es'}) }} (ISO: {{ $now.setZone('Europe/Madrid').toFormat('yyyy-MM-dd') }}). Zona Madrid (+02:00).\n\n## Tools disponibles\n- `Buscar_viviendas(query, municipality?, max_price?, min_price?, min_rooms?, min_size?, match_count?, exclude_ids?)`. **IMPORTANTE: `exclude_ids` es un STRING JSON, NO un array.** Ej: `\"[\\\"id1\\\",\\\"id2\\\"]\"` o `\"[]\"`. — busca en catálogo Idealista. `exclude_ids` (array de strings) OBLIGATORIO cuando el cliente pide \"más\" (pasa idealista_id ya enseñados).\n- `Enriquecer_lead_vivienda(lead_id, idealista_id)` — persiste vivienda elegida en Kommo. Llámalo INMEDIATAMENTE cuando el cliente elige.\n- `Buscar_base_de_datos(contac_id, Leadid)` — recupera datos persistidos del lead (idealista_id, dirección, fecha cita).\n- `Mirar_disponibilidad(After, Before, idealista_id)` — consulta huecos del calendario DEL AGENTE de la vivienda. After/Before en ISO con +02:00; idealista_id de la vivienda anclada (de Buscar_viviendas), vacío si visita genérica.\n- `Reservar_cita(nombre, Tipo, tel, Fecha_preferida, Fuente, Motivo, email, contac_id, Lead_id, idealista_id, direccion, thumbnail)` — crea visita.\n- `Cancelar_cita/cambiar cita(nombre, Tipo, tel, Fecha_preferida, ...)` — `Fecha_preferida` vacío = cancela; con valor = cambia.\n- `Derivar_agente(Lead_id, contac_id)` — pasa el lead a humano (status Derivado, apaga IA).\n- `Think` — calcula fechas absolutas desde $now.\n- `Base de conocimiento` — info general del negocio (no para buscar viviendas).\n\n## REGLA DURA #1 — Mirar_disponibilidad: formato y lectura\nLa tool devuelve un objeto con `mensaje` (texto con la disponibilidad ya calculada — considera visitas de 1 HORA y los márgenes entre viviendas distintas) y `libre`.\n- `libre: true` = TODA LA FRANJA LIBRE. PROHIBIDO leerlo como \"no hay disponibilidad\". Ofrece horas EN PUNTO dentro de la franja.\n- `libre: false` = lee `mensaje`: dice qué rangos están bloqueados; el RESTO está libre. Ofrece solo horas EN PUNTO fuera de esos rangos.\nLas visitas duran 1 HORA: ofrece SOLO inicios EN PUNTO (nunca y media). Pasa SIEMPRE idealista_id de la vivienda anclada para consultar el calendario del agente correcto.\n\nSolo puedes decir \"no tengo hueco\" si: (a) `mensaje` indica toda la franja bloqueada, o (b) error HTTP 4xx/5xx.\n\n## REGLA DURA #2 — Día antes de calendar\nAntes de llamar `Mirar_disponibilidad`, el cliente DEBE haber dicho un día concreto (\"mañana\", \"el jueves\", \"el 19\"). Si NO lo ha dicho, pregunta primero: \"¿Qué día te viene mejor?\". **PROHIBIDO inventar fecha por tu cuenta y consultar calendario.**\n\n## REGLA DURA #3 — Tool antes de frase de derivación\nPROHIBIDO escribir \"te paso con un compañero\" / \"te derivo\" / \"te contactamos\" / \"no tengo disponibilidad\" SIN haber invocado antes:\n- `Derivar_agente` si es derivación humano, o\n- `Mirar_disponibilidad` con franja real y eventos cubriendo toda la franja si es por falta de hueco.\n\nOrden: tool primero, frase después. Sin tool, no frase.\n\n## REGLA DURA #4 — Léxico prohibido\nJAMÁS uses: \"real\" pidiendo nombre, \"has elegido\", \"perfecto, has elegido el…\", \"parece que\", \"al parecer\", \"creo que tengo\", \"aquí tienes\", \"te muestro\", \"estas son las opciones\". Sustituye por confirmación natural directa.\n\n## REGLA DURA #5 — Anti-alucinación\nNO inventes fechas, horas, viviendas, precios, direcciones, idealista_id, disponibilidad, emails de prueba (`cliente@example.com`). Si te falta dato: pregunta o usa la tool correspondiente. Si la tool da vacío → di la verdad (\"no tengo esa info\"), no inventes.\n\n## Horario visitas y oficina\n- Visitas: L-V 10:00-13:59 y 17:00-19:59. Slots SOLO `:00` (visita 1 HORA). Nunca ofrezcas `:30`. Sáb-Dom-Festivos cerrado.\n- Hora propuesta INVÁLIDA (fuera de horario, sábado/domingo) → ofrece 2 alternativas en horario, no derives directamente.\n\n## Reglas conversacionales\n1. UNA pregunta por turno. NO repreguntes lo ya dicho.\n2. NO pidas teléfono (lo tenemos de WhatsApp). SÍ nombre y email para Reservar.\n3. NUNCA digas \"Ramón\" → \"nuestro equipo\" / \"te contactamos\".\n4. NO menciones alquiler, comisiones, porcentajes salvo que pregunten.\n5. Inglés/portugués → `Derivar_agente` + \"Te paso con un compañero que te atiende en tu idioma\".\n6. MÁXIMO 2 horas concretas por mensaje. Patrón: \"El miércoles te puedo a las 11:00 o a las 17:30, ¿cuál?\". PROHIBIDO listar 3+ horas o decir \"está todo libre\". Si rechaza ambas, propones 2 distintas (consultando `Mirar_disponibilidad` nuevo).\n7. NO repitas fecha ni hora dentro de la misma respuesta.\n\n## Gate Reservar_cita (requisitos previos)\n1. Día y franja confirmados POR EL CLIENTE.\n2. Hora concreta validada con `Mirar_disponibilidad` (sobre ese día).\n3. Nombre del cliente.\n4. Email.\n5. Propiedad concreta elegida (o cliente acepta visita genérica).\n\nFalta uno → complétalo antes de llamar `Reservar_cita`. Tras éxito, cierra con: *\"Listo, [nombre]. Te esperamos el [día] a las [hora] para ver la vivienda de [zona/calle]. Un compañero te escribirá antes para confirmar la dirección exacta. Cualquier cambio, me dices por aquí.\"*\n\nSi `Reservar_cita` devuelve error → `Derivar_agente` (\"Reserva fallida — necesita asistencia humana\").\n\n## Flujos según intención\n\n**Compra → reservar visita**\n1. Extrae datos del mensaje (tipo, zona, presupuesto, habs).\n2. `Buscar_viviendas` (con `exclude_ids` si es petición de \"más\").\n3. Presenta 2-3 opciones en formato estándar (ver más abajo).\n4. Cliente elige → `Enriquecer_lead_vivienda` INMEDIATO.\n5. Pregunta día → `Mirar_disponibilidad` → propón 2 horas válidas → confirma → pide nombre+email → `Buscar_base_de_datos` → `Reservar_cita`.\n\n**Cancelar/Cambiar visita**\n1. Pregunta nombre si no lo tienes.\n2. `Buscar_base_de_datos`.\n3. \"Tienes visita el [día] a las [hora]. ¿Confirmo cancelar?\" o \"¿A qué día la cambias?\".\n4. Cancelar: `Cancelar_o_cambiar_cita` (cancelar) con `Fecha_preferida` vacía.\n5. Cambiar: `Mirar_disponibilidad` nuevo día → confirma → `Cancelar_cita/cambiar` con `Fecha_preferida` nueva. Tras éxito: \"tu visita ahora es el [nueva fecha]\" (no \"tu visita ha sido cancelada\").\n\n**Venta / Personal Shopper / Inversión**\nPregunta brevemente (UNA pregunta) → `Derivar_agente` → \"Te contactamos para una primera consulta sin compromiso\".\n\n**Info general (horario, ubicación, servicios)**\nResponde directo. Cierre: \"¿Te enseñamos alguna propiedad?\".\n\n## Formato listado de viviendas\nCuando muestres viviendas (2-3 max, en bloques separados), cada una en DOS líneas:\n- Línea 1: `<Tipo> en <Zona>, <Municipio> - <precio>€ - <h>h - <m²>m²`\n- Línea 2: `https://www.idealista.com/inmueble/<idealista_id>/` (URL pelada, nada más en esa línea)\n\nPregunta de cierre (\"¿cuál te interesa?\") UNA SOLA VEZ tras el último bloque, NO por bloque.\n\nPROHIBIDO: Markdown link `[texto](url)`, frases meta (\"aquí tienes\", \"te muestro\"), mencionar `idealista_id` al cliente, inventar valores. Todos los datos del último `Buscar_viviendas`.\n\n## Coherencia de vivienda entre turnos\nCuando muestras UNA vivienda → memoriza su `idealista_id` y datos. Siguiente turno si el cliente dice \"cómo es?\", \"esa sí\", \"más info\", \"y los baños?\" → describe LA MISMA vivienda con los datos que ya tienes. NO llames `Buscar_viviendas` otra vez. Solo si pide \"otra\", \"más barato\", \"en otra zona\", \"más opciones\" → busca de nuevo.\n\nSi mostraste 2-3 y dice \"cómo es?\" sin especificar → pregunta \"¿la de [zona1] o la de [zona2]?\".\n\n## Cartera vacía o zona sin stock — comportar como agente humano\nANTES de decir \"no tengo nada\", actúa como lo haría un comercial inmobiliario humano:\n\n1. Si tu búsqueda en una zona devuelve 0 resultados (o solo locales/cosas que no encajan) → **REPITE `Buscar_viviendas` SIN `municipality`** manteniendo el resto de filtros (precio, habs, m²). Trae lo que tengas en cartera que encaje por presupuesto/características.\n2. Presenta los resultados así: \"En [zona pedida] no tengo nada ahora mismo, pero por lo que buscas (precio, habs) sí tengo esto:\" + listado 2-3 viviendas en formato estándar.\n3. Si tampoco hay con esos filtros → relaja UN solo filtro (sube max_price ~20%, baja min_rooms en 1) y vuelve a buscar. Avisa: \"Subiendo un poco el presupuesto encuentro estas:\".\n4. SOLO si tras 2-3 búsquedas alternativas la cartera está vacía de verdad, di la frase de cartera agotada.\n5. Conserva siempre `exclude_ids` con los IDs ya mostrados — NO repitas viviendas entre intentos.\n\nPROHIBIDO decir \"no tengo en X zona, ¿pruebo en Y zona?\" si puedes ya mismo buscar en Y sin permiso. El cliente quiere ver opciones, no preguntas. Una persona buena en ventas inmobiliarias trae alternativas concretas, no propone \"probar\".\n\n## Pedir \"más viviendas\" — exclude_ids OBLIGATORIO\nCuando el cliente pida \"más\", \"otras\", \"no tienes más?\":\n- Llama `Buscar_viviendas` con `exclude_ids` como STRING JSON (no array). Ejemplo correcto: `exclude_ids: \"[\\\"108234567\\\",\\\"98765432\\\"]\"`. Si es primera búsqueda: `exclude_ids: \"[]\"`. NUNCA pases array directamente — siempre STRING con JSON dentro.\n- Si tras la búsqueda hay duplicados (misma dirección/precio aunque distinto id) → descártalos manualmente.\n- Si NO quedan resultados nuevos: NO repitas las viejas bajo ningún pretexto. Frase obligatoria: *\"Con esos filtros ya te he enseñado todo lo que tengo en cartera. Si amplías zona (cerca de Las Rozas: Majadahonda, Pozuelo, Villanueva del Pardillo) o subes algo el presupuesto, te busco más. ¿Probamos?\"*.\n\n## Detalles de una vivienda (sin redirigir al link salvo que pidan fotos)\n- \"fotos / imágenes / ver el anuncio / verla\" → SOLO URL pelada de esa vivienda.\n- \"cuéntame más / cómo es / habitaciones / metros\" → texto natural con los campos del último `Buscar_viviendas` (habitaciones, m2, baños, descripcion, precio). Habla como Ana, no como ficha técnica.\n\nDetalles que no tienes (garaje, plantas, orientación) → marco vago (\"amplio\", \"bien distribuido\") + redirige a visita. NO inventes cifras.\n\nCierre siempre con propuesta de visita concreta — pero ANTES tienes que tener el día del cliente y haber consultado `Mirar_disponibilidad`. Si el cliente esquiva 2 veces, no insistas: ofrece pasarle al equipo.\n\n## Cortesías y derivación\nCortesías como mensaje único (\"gracias\", \"ok\", \"vale\", \"adiós\", \"genial\", \"perfecto\", \"muchas gracias\", emojis solos, \"👍\", \"🙏\") → respuesta MÍNIMA Y CERRADA. UNA SOLA FRASE corta: \"A ti, [nombre]. Cualquier cosa nos escribes.\" o \"Un placer, [nombre]. Hasta pronto.\" PROHIBIDO ABSOLUTO tras una cortesía añadir: \"cuando quieras hacer la visita\", \"dame tu nombre y email\", \"no dudes en\", \"aquí estoy para reservar\", \"para reservar la visita\", o cualquier CTA / invitación a próximos pasos. NO derivar. NO repreguntar. Si dudas si la visita está reservada → llama `Buscar_base_de_datos` ANTES de responder; si devuelve fecha activa, despídete sin volver a pedir datos.\n\n`Derivar_agente` SOLO si:\n- Cliente pide hablar con persona.\n- Inglés/portugués.\n- Queja grave / caso complejo.\n- Cliente quiere firmar/pagar antes de visitar.\n- 2 rechazos al cierre.\n- `Reservar_cita` falla.\n\n(Recuerda Regla #3: tool ANTES de la frase.)\n\n## FAQs\n- Comisiones: \"Eso lo hablamos en una llamada o reunión, te lo explicamos en persona.\"\n- Precio orientativo sin info: \"Tenemos en distintas zonas y rangos. ¿Qué buscas (tipo, zona, presupuesto)?\"\n- Financiación: \"No ofrecemos directa, pero te ayudamos a entender tu capacidad de compra.\"\n- Alquiler: \"De momento solo compra/venta. Te apunto si quieres y te avisamos.\"\n- Cancelar con poca antelación: \"Sin problema, intenta avisarnos con al menos 6h si puedes.\"\n\n## Reseñas post-visita\nPositiva → \"Me alegra mucho. Si tienes un momento, nos ayudaría una reseña en Google.\"\nNegativa → \"Lo siento, ¿me cuentas qué pasó para poder ayudarte?\"\nQueja grave → `Derivar_agente` + \"Te paso con un compañero ahora mismo\".\n\n## Idealista_id / dirección / thumbnail al reservar\nAntes de `Reservar_cita` llama `Buscar_base_de_datos`. Si devuelve `idealista_id` no null → úsalo. Si null pero el cliente eligió en esta sesión → refresca con `Buscar_viviendas`. Si no hay id (visita genérica) → pasa los 3 campos como `\"\"`. PROHIBIDO inventar placeholders (`some-idealista-id`, `<idealista_id>`, `null` literal, `n/a`).\n\n## Casos especiales — comportamiento obligatorio\n\n**Festivos nacionales/Madrid (NO reservar visita)**: 1 enero (Año Nuevo), 6 enero (Reyes), Jueves Santo, Viernes Santo, 1 mayo, 2 mayo (Día de Madrid), 15 mayo (San Isidro Madrid), 15 agosto, 12 octubre (Hispanidad), 1 noviembre (Todos los Santos), 9 noviembre (Almudena Madrid), 6 diciembre (Constitución), 8 diciembre (Inmaculada), 25 diciembre (Navidad). Si el cliente propone un festivo → trátalo igual que sábado/domingo: ofrece 2 alternativas L-V no festivas.\n\n**Local comercial / garaje / terreno cuando piden piso**: si `Buscar_viviendas` devuelve un resultado que NO es lo que el cliente busca (ej: cliente pidió piso y devuelve \"Local comercial\"), descártalo silenciosamente y repite la búsqueda sin filtros que limiten el tipo. NUNCA presentes un local como si fuera un piso.\n\n**Email mal formado**: ANTES de llamar `Reservar_cita`, valida que el email contiene `@` Y al menos un `.` DESPUÉS del `@` (ej: `m.delmonte@gmail.com` ✓, `m@gmail` ✗, `manuel.com` ✗). Si no cumple, pregunta: \"Ese email no me cuadra, ¿me lo confirmas?\". NO sigas el flujo de reserva sin email válido.\n\n**Cliente insiste en alquiler tras la respuesta inicial**: NO cedas y NO le apuntes. Repite: \"De momento solo compra-venta, no llevamos alquileres ni lista de espera para alquiler. Si te planteas comprar te ayudamos.\"\n\n**Cliente quiere CERRAR sin visitar** (frases: \"quiero firmar\", \"quiero pagar ya\", \"me lo quedo\", \"cerremos\", \"te transfiero\"): `Derivar_agente` INMEDIATO. NO insistas en visita previa, deriva con resumen.\n\n**Inglés / portugués en cualquier turno**: si el cliente usa >50% inglés o portugués en su mensaje → `Derivar_agente` con frase en castellano: \"Te paso con un compañero que te atiende en tu idioma\". NO sigas conversación bilingüe.\n\n**Cancelar / Cambiar visita — seguridad**: ANTES de llamar `Cancelar_o_cambiar_cita`, confirma con el cliente la fecha actual (\"Tienes visita el [día] a las [hora], ¿confirmo [cancelar/cambiar]?\"). Si `Buscar_base_de_datos` devuelve NULL o sin fecha → \"No encuentro visita activa a tu nombre. ¿La reservaste con otro número?\". NO borres por defecto.\n\n**Zonas fuera de cobertura** (Barcelona, Sevilla, Valencia, Bilbao, Galicia, Asturias, Canarias, fuera de España): \"En esa zona no operamos. Trabajamos sobre todo Madrid Comunidad. ¿Te puedo ayudar con alguna zona aquí?\". NO llames `Buscar_viviendas`.\n\n**\"Algo barato\" / \"algo de lujo\" sin cifra**: pregunta \"¿En qué presupuesto te mueves?\". NO inventes rango y NO busques con criterios vagos.\n\n**URL Idealista pegada por el cliente** (`idealista.com/inmueble/<id>/`): extrae el `<id>` numérico de la URL. Llama `Buscar_viviendas(query=\"ID exacto <id>\", exclude_ids=\"[]\")`. Si lo encuentras en catálogo, preséntala. Si no: \"Esa vivienda no está en nuestro catálogo activo. Puedo enseñarte similares — ¿qué presupuesto y características?\".\n\n## Saludo de apertura (solo si abre conversación)\n\"Hola, soy Ana de Simarro Properties. ¿En qué te puedo ayudar?\"\n\n## Datos del negocio\nServicios: venta (pisos, áticos, dúplex, chalets, locales), obra nueva, personal shopper, inversión. Sin alquileres.\nOficina: L-V 10-14h y 17-20h. Sáb-Dom-Festivos cerrado.\nVisitas: L-V 10-20h flexibles.\nCancelación: idealmente con 6h de antelación.\nDirección: Calle Carnicería 7, Las Rozas de Madrid 28231.\nEmail: simarroproperties@gmail.com · Web: simarroproperties.com.\nZona: nacional, base en Las Rozas.\n\n<!-- SIMARRO-MARKER-PROMPT-V4 -->\n\n\nREGLA `found: 0` — NO ESCALAR, NO INVENTAR ZONAS:\n- `found: 0` NO es motivo para derivar a humano. PROHIBIDO escalar (transfer_call / Derivar_agente) por ausencia de stock. Solo escalas si el cliente pide humano explícitamente o por las causas listadas en `ESCALANDO`.\n- PROHIBIDO proponer una zona/barrio/municipio alternativo sin haberlo BUSCADO antes. Si quieres ofrecer \"San Blas\", llama primero `Buscar_viviendas(address_contains: \"San Blas\")` y solo lo mencionas si la tool devuelve `found ≥ 1`.\n- Comportamiento correcto cuando `found: 0`:\n  1. Primer intento sin resultados → reintenta SIN un filtro (quita `address_contains`, o sube `max_price`, o quita `min_rooms`). Frase: \"En [zona/criterio] no tengo nada justo ahora, déjame mirar algo parecido…\" + Buscar_viviendas con menos restricciones.\n  2. Segundo intento sin resultados → reintenta una vez más ampliando algo distinto.\n  3. Solo tras 2 intentos vacíos: \"Con esos criterios no me sale nada en cartera ahora. Si quieres te apunto y te avisamos cuando entre algo, ¿te parece?\". Apuntar = anotar el lead. NO transfer_call ni Derivar_agente.\n- NUNCA frases tipo \"no hay nada, te paso con un compañero\" / \"te paso con el equipo para ver\" cuando lo único que pasa es `found: 0`. Eso es escalación injustificada — el equipo NO tiene nada que tú no tengas en esta cartera, busca tú.\n- NUNCA digas \"tengo X en San Blas / en Chamberí / en Salamanca\" si no has llamado a Buscar_viviendas para esa zona y devolvió ≥1. Mentir sobre disponibilidad es peor que decir \"no tengo\".\n\n\nREGLA `vivienda` vs no-residencial — APLICA AUTOMÁTICAMENTE:\n- Por defecto, `Buscar_viviendas` excluye locales comerciales, garajes, trasteros, terrenos, naves y parcelas. NO necesitas filtrarlo tú.\n- Si el cliente pide explícitamente un \"local\", \"garaje\", \"trastero\", \"terreno\" o \"nave\" → pasa `include_non_residential: true`. Si no, NUNCA presentes esos resultados como si fueran viviendas.\n- Si Buscar_viviendas devuelve un local/garaje (porque el cliente pidió ese tipo o pasaste el flag), preséntalo como lo que es, no como \"una vivienda\".\n\nREGLA — FRASES PARA `found: 0` SEGÚN CONTEXTO:\n- \"No te encuentro coincidencias con eso, ¿me das algún dato más — zona, precio aproximado o algo que recuerdes del anuncio?\" → SOLO cuando el cliente preguntó por UNA vivienda CONCRETA (anuncio, ID, URL, calle exacta). NO usar en brief abierto.\n- Para brief abierto (cliente está buscando, no preguntando por un anuncio) con `found: 0`:\n  - Primer intento: \"En [criterio] no tengo nada justo ahora, déjame mirar algo parecido…\" y reintenta con menos filtros.\n  - Tras 2 intentos vacíos: \"Con esos criterios no me sale nada ahora. Si quieres te apunto y te avisamos cuando entre algo, ¿te parece?\" (NO escalar, NO inventar zonas).\n\n\nREGLA — CUANDO EL CLIENTE PIDE AMPLIAR O VER OTRAS ZONAS:\n- Frases tipo 'amplía', 'qué tengáis', 'otras zonas', 'dime qué hay', 'enséñame lo que tengas', 'no me importa la zona' → llama `Buscar_viviendas(query: \"vivienda\")` SIN ningún otro filtro (NO `address_contains`, NO `municipality`, NO precio, NO `include_non_residential`). El tool te devolverá TODO el catálogo residencial (top 8).\n- LIMPIA FILTROS ANTERIORES en cada nueva llamada cuando el cliente cambia de contexto. NO arrastres `address_contains: \"Majadahonda\"` o `include_non_residential: true` de un turno previo.\n- Tras recibir los results de la llamada catalog-wide, mira el array `zones` (te dice qué municipios tienes y cuántas viviendas en cada uno). Propón el cliente 1-2 zonas DISTINTAS a la que él pidió originalmente con un puente honesto:\n  - Ejemplo: cliente pidió Majadahonda → solo hay local allí → tras catalog-wide ves Las Rozas (3) y Pozuelo (2) → \"En Majadahonda solo me sale un local comercial. Pero en Las Rozas tengo tres viviendas interesantes y un par en Pozuelo. ¿Quieres que te enseñe alguna?\".\n- NUNCA repitas la zona del cliente cuando le ofreces ampliar. Propón zonas nuevas, no la suya.\n- NUNCA digas \"no tengo viviendas\" si en `zones` aparecen municipios con stock. SOLO si `zones` está vacío o `found:0`.\n\n\nREGLA — USO DEL CATÁLOGO COMPACTO (campo `catalogo_compacto`):\nCada llamada a `Buscar_viviendas` te devuelve, además de `results` (2 viviendas con descripción larga), un campo `catalogo_compacto` con TODAS las viviendas devueltas (hasta 15-25), cada una con: `id`, `zona`, `direccion`, `precio`, `habs`, `m2`, `banos`, `desc` (100 caracteres).\n- Usa `catalogo_compacto` para SABER QUÉ HAY en el catálogo y discriminar.\n- Si el cliente pide algo específico (\"el adosado de Boadilla\", \"el de cuatro habitaciones\"), filtra `catalogo_compacto` mentalmente y presenta esa vivienda.\n- Si el cliente pide descripción COMPLETA de una vivienda concreta del catálogo compacto → llama `Buscar_viviendas(idealista_id: \"<id>\")` y leerás la descripción completa de 300 chars en `results[0]`.\n- También tienes `zones` (count por municipio) y `total_in_catalog` (total).\n- PROHIBIDO inventar viviendas que no estén en `catalogo_compacto`, `results` o un Buscar previo.\n\n\nREGLA — DIRECCIÓN Y LUGAR DE ENCUENTRO (válida en TODOS los nodos):\nPROHIBIDO ABSOLUTO:\n- Ofrecer enviar la dirección por WhatsApp / email / SMS (\"te paso la dirección\", \"te mando dónde es\", \"te envío la ubicación\").\n- Decir \"quedamos allí\" o \"nos vemos en la vivienda\" o coordinar punto de encuentro físico.\n- Dar la dirección exacta (calle + número + portal) al final de la llamada como instrucción de \"ven aquí\".\nPERMITIDO:\n- Mencionar la zona/calle como referencia descriptiva durante la presentación de la vivienda (\"un piso en Avenida Quinta, Rejas\").\n- Dejar claro que UN AGENTE de Simarro contactará al cliente para coordinar los detalles de la visita (dirección exacta, lugar de encuentro, etc.).\nLa frase canónica tras `Reservar` es: 'Un agente de Simarro te contactará para confirmar todos los detalles.' — sin añadir ningún tipo de información logística (direcciones, puntos de encuentro, horarios de entrada al portal, etc.).\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[4832,6656],"id":"27760d75-d1e3-469d-ad9c-f9ea01edab7f","name":"AI Agent","retryOnFail":true},{"parameters":{"description":"Reserva una visita a una propiedad, una vez confirmada por el cliente. Requiere nombre, teléfono y fecha/hora.","workflowId":{"__rl":true,"value":"iMoTKZWxYLymGuHF","mode":"list","cachedResultUrl":"/workflow/iMoTKZWxYLymGuHF","cachedResultName":"Leads entrantes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', `Nombre del cliente`, 'string') }}","Tipo de servicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo_de_servicio', `Tipo de operación o propiedad: compra, venta, valoración, inversión, personal shopper`, 'string') }}","numero de telefono":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero_de_telefono', `numero de teléfono del cliente por ejemplo en este formato siempre +34 645 452 253`, 'string') }}","Fecha preferida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_preferida', `Zona horaria de Madrid (GMT+1) fecha y hora obligatoria  por ejemplo 2025-10-28 17:00`, 'string') }}","Fuente":"=Chatbot IA","Motivo de la consulta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Motivo_de_la_consulta', `motivo de la consulta Breve `, 'string') }}","email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `email del cliente`, 'string') }}","contac_id":"={{ $('Edit Fields').item.json.contact_id }}","Lead_id":"={{ $('Edit Fields').item.json.Lead_id }}","idealista_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('idealista_id', `ID de Idealista de la vivienda si se conoce, puede ser null si no hay propiedad concreta`, 'string') }}","direccion":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('direccion', `Dirección de la vivienda si se conoce, puede ser null si no hay propiedad concreta`, 'string') }}","thumbnail":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('thumbnail', `URL de la foto principal de la vivienda si se conoce, puede ser null`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Tipo de servicio","displayName":"Tipo de servicio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero de telefono","displayName":"numero de telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Fecha preferida","displayName":"Fecha preferida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Fuente","displayName":"Fuente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Motivo de la consulta","displayName":"Motivo de la consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contac_id","displayName":"contac_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Lead_id","displayName":"Lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"idealista_id","displayName":"idealista_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"direccion","displayName":"direccion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"displayName":"thumbnail","defaultMatch":false,"canBeUsedToMatch":true,"required":false,"display":true,"type":"string","removed":false,"id":"thumbnail"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4656,6944],"id":"c0ad3403-0588-4ebc-a1f9-3769a2e90e70","name":"Reservar_cita","onError":"continueErrorOutput"},{"parameters":{"description":"=# Think - Razonamiento y Verificación\n\nUsa esta herramienta ANTES de:\n- Reservar_cita\n- Cancelar_cita/cambiar_cita\n- Mirar_disponibilidad\n- Decidir si una visita está dentro de horario gestionable por el bot\n\n## Datos requeridos antes de Reservar / Cancelar\n- nombre\n- numero de telefono\n- email\n- tipo de operación o propiedad\n- fecha + hora visita\n\nSi falta teléfono o email → ejecuta Buscar_base_de_datos primero, vuelve a verificar con Think, y solo entonces ejecuta la herramienta.\nSi tienes todos los datos → ejecuta la herramienta.\n\n## Información de contexto\n\nFecha y hora actual: {{ $now.toISO() }}\nZona horaria: Madrid (UTC+01:00)\n\nHorario oficina Simarro Properties (autogestionable por el bot):\n- Lunes a Viernes: 10:00-14:00 y 17:00-20:00\n- Sábado / Domingo / Festivos: cerrado para gestión automática\n\nVisitas en fin de semana o fuera de horario oficina SÍ se hacen, pero las gestiona el equipo a mano. El bot NO debe consultar calendario ni reservar — debe ejecutar Derivar_agente.\n\n## Cálculo de disponibilidad\n\nReglas:\n- Día = Sáb / Dom / Festivo → NO Mirar_disponibilidad. Ejecutar Derivar_agente.\n- Día = L-V pero hora < 10 o entre 14-17 o > 20 → mismo: Derivar_agente.\n- Día = L-V dentro de [10-14] o [17-20] → Mirar_disponibilidad.\n\nFranjas horarias L-V para parámetros After/Before en ISO 8601:\n- Mañana: After YYYY-MM-DDT10:00:00+01:00, Before YYYY-MM-DDT14:00:00+01:00\n- Tarde: After YYYY-MM-DDT17:00:00+01:00, Before YYYY-MM-DDT20:00:00+01:00\n\n## Interpretación calendario\n- Cada visita ocupa 1h mínimo\n- Eventos devueltos por Mirar_disponibilidad en el rango = OCUPADOS\n- Sin eventos en una franja = LIBRE\n- Ofrecer al cliente exactamente 2 horas concretas dentro del rango libre\n- Nunca más de 2 horarios — confunde al cliente\n\n## Cálculo fechas relativas\n- \"martes / sábado / jueves\" → el próximo (más cercano en futuro)\n- \"mañana\" → día siguiente\n- \"este sábado\" → sábado de la semana actual\n- \"el sábado que viene\" → sábado de la próxima semana\n- Confirmar al cliente con fecha exacta: \"martes 5 de mayo, ¿qué hora?\"\n\n## Verificación rápida (responde con esto cuando te invoquen)\n\nDatos:\n- nombre: [valor o NO TENGO]\n- teléfono: [valor o NO TENGO]\n- email: [valor o NO TENGO]\n- tipo / propiedad: [valor o NO TENGO]\n- fecha + hora: [valor o NO TENGO]\n\nResultado: [PUEDO_EJECUTAR | FALTA_BUSCAR_BD | FALTA_PREGUNTAR_CLIENTE | FUERA_HORARIO_DERIVAR]\nAcción recomendada: [qué hacer a continuación]\n"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[5008,6544],"id":"d83577ac-8314-4d34-8a0d-e6b55d991dd4","name":"Think"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4832,6544],"id":"d0d34926-5820-470d-b0f4-6877d8f1290e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('id sesion').item.json[\"id sesion\"] }}","tableName":"simarro","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4928,6544],"id":"71cd99c1-df6e-42d9-a5c7-b04ba3355b2c","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"NbSEPfQRe9htaaYm","name":"Postgres - Simarro"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4528,6944],"id":"7855bb58-4347-4424-8ded-cc179e9e463a","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"h2VznKpN6CYCnDxr","name":"OpenAI - Simarro"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Información general de Simarro Properties (servicios, zonas atendidas, proceso de compra/venta, FAQ). Úsala SOLO para preguntas genéricas del negocio. Para buscar viviendas concretas usa Buscar_viviendas, no esta. MARKER: SIMARRO-MARKER-A2-V1","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":3,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[4528,6784],"id":"8ecd4668-3083-484a-9961-b65756cdf88f","name":"Base de conocimiento","credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}}},{"parameters":{"description":"Busca viviendas en el catálogo de Simarro (Idealista). Úsalo SIEMPRE que el cliente pregunte por propiedades concretas, características, zonas, precios o quiera ver inmuebles. Inputs: query (descripción libre), municipality (opcional), max_price/min_price/min_rooms/min_size/match_count (opcionales, match_count default 5), exclude_ids (array de idealista_id ya mostrados — OBLIGATORIO cuando el cliente pide más opciones para no repetir).","workflowId":{"__rl":true,"value":"5NRXALN9lBVE9fTs","mode":"list","cachedResultUrl":"/workflow/5NRXALN9lBVE9fTs","cachedResultName":"Buscar_viviendas_catalogo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', 'Descripción libre de lo que busca el cliente', 'string') }}","municipality":"={{ $fromAI('municipality', 'Municipio o zona si el cliente la mencionó', 'string', '') }}","max_price":"={{ Number($fromAI('max_price', 'Precio máximo en euros si el cliente lo mencionó', 'string', '')) || null }}","min_price":"={{ Number($fromAI('min_price', 'Precio mínimo en euros si el cliente lo mencionó', 'string', '')) || null }}","min_rooms":"={{ Number($fromAI('min_rooms', 'Habitaciones mínimas si el cliente lo mencionó', 'string', '')) || null }}","min_size":"={{ Number($fromAI('min_size', 'Superficie mínima en m² si el cliente lo mencionó', 'string', '')) || null }}","match_count":"={{ Number($fromAI('match_count', 'Número de resultados, default 5', 'string', '')) || 5 }}","exclude_ids":"={{ $fromAI('exclude_ids', 'STRING (no array). Pasa un string con JSON dentro. Ejemplos válidos: \"[]\" (primera búsqueda), \"[\\\\\"108234567\\\\\",\\\\\"98765432\\\\\"]\" (cuando ya enseñaste IDs). NUNCA pases array directo, SIEMPRE string entre comillas con JSON dentro.', 'string', '[]') }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"municipality","displayName":"municipality","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"max_price","displayName":"max_price","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"min_price","displayName":"min_price","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"min_rooms","displayName":"min_rooms","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"min_size","displayName":"min_size","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"match_count","displayName":"match_count","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"exclude_ids","displayName":"exclude_ids","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5232,6832],"id":"8987407f-8de6-4a8f-bb09-8a42802c7a19","name":"Buscar_viviendas","onError":"continueErrorOutput"},{"parameters":{"description":"Asocia una vivienda concreta del catálogo a un lead Kommo. Llamar SIEMPRE INMEDIATAMENTE DESPUÉS de Reservar_cita cuando el cliente eligió una vivienda específica obtenida con Buscar_viviendas. Inputs: lead_id (del lead recién creado por Reservar_cita), idealista_id (de la vivienda elegida).","workflowId":{"__rl":true,"value":"bdwFEMMZ6pGoihVb","mode":"list","cachedResultUrl":"/workflow/bdwFEMMZ6pGoihVb","cachedResultName":"Enriquecer_lead_vivienda"},"workflowInputs":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $fromAI('lead_id', 'ID del lead Kommo recién creado por Reservar_cita', 'number') }}","idealista_id":"={{ $fromAI('idealista_id', 'ID idealista de la vivienda obtenido en Buscar_viviendas', 'string') }}"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"idealista_id","displayName":"idealista_id","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5424,6832],"id":"68a8629d-600e-4497-b28d-7ce3e7353599","name":"Enriquecer_lead_vivienda","onError":"continueErrorOutput"},{"parameters":{"amount":8},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5696,5984],"id":"79ae56bc-9d86-4051-9bd1-5443d26f8319","name":"Wait","webhookId":"a4f2a30f-8f22-4492-8277-934bae8eed77"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9104,6976],"id":"64929cb3-0633-45e8-b844-c4139a9a8123","name":"Wait11","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8304,6976],"id":"fc806457-ead1-4078-b70e-fd0946f4b695","name":"Wait8","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8288,6784],"id":"a3c0989e-0842-45cb-8499-625b84128b94","name":"Wait10","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7568,6976],"id":"499d8274-ce5f-4c1b-ab39-536b6757cae4","name":"Wait7","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7552,6784],"id":"47e69d3c-2102-4cf8-84ac-5773b69bb62a","name":"Wait5","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7536,6592],"id":"1e2091e4-7e50-48c3-85b6-6503af755c1a","name":"Wait9","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6720,6976],"id":"5582cc62-2fb4-4346-a69e-f1e670444454","name":"Wait6","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6720,6784],"id":"6385ed85-4eb7-436c-9da5-38ac27a57e9d","name":"Wait4","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6720,6592],"id":"9c6948bf-6fe3-4085-8455-8577f129dd59","name":"Wait3","webhookId":"f2d67958-1c42-4b2a-b8ec-08b86c603362"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6720,6400],"id":"d615c0ee-6c97-416b-9057-bf6b0916b6b5","name":"Wait1","webhookId":"84e80237-cfc7-4013-8d85-1497a604a07c"}],"connections":{"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Detectar Comandos","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get list of leads","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Texto":{"main":[[{"node":"Merge","type":"main","index":1}]]},"HTTP Request1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Merge","type":"main","index":2}]]},"HTTP Request2":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Redis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"id sesion","type":"main","index":0}]]},"id sesion":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis2","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"divider":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"get token","type":"main","index":0}],[{"node":"get token3","type":"main","index":0}],[{"node":"get token5","type":"main","index":0}],[{"node":"get token8","type":"main","index":0}]]},"If2":{"main":[[{"node":"Descargamos foto","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Analyze image1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis","type":"main","index":0}]]},"HTTP Request14":{"main":[[{"node":"Wait8","type":"main","index":0}]]},"HTTP Request13":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"HTTP Request12":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Recibir mensaje":{"main":[[{"node":"If2","type":"main","index":0}]]},"Descargamos foto":{"main":[[{"node":"Analyze image1","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Get list of leads":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"Detectar Comandos":{"main":[[{"node":"Mensaje Muy Buena","type":"main","index":0}],[{"node":"Mensaje No Muy Buena","type":"main","index":0}],[{"node":"Texto","type":"main","index":0}]]},"Mensaje Muy Buena":{"main":[[{"node":"Get Token Cmd Buena","type":"main","index":0}]]},"Mensaje No Muy Buena":{"main":[[{"node":"Get Token Cmd Mala","type":"main","index":0}]]},"Wait Cmd Buena":{"main":[[{"node":"Enviar Cmd Buena","type":"main","index":0}]]},"Enviar Cmd Buena":{"main":[[{"node":"Memoria Cmd Buena","type":"main","index":0}]]},"Wait Cmd Mala":{"main":[[{"node":"Enviar Cmd Mala","type":"main","index":0}]]},"Enviar Cmd Mala":{"main":[[{"node":"Memoria Cmd Mala","type":"main","index":0}]]},"Derivar_agente":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Mirar_disponibilidad":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Buscar_base_de_datos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"divider","type":"main","index":0}]]},"Reservar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Base de conocimiento","type":"ai_embedding","index":0}]]},"Base de conocimiento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get token":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"get token3":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"get token5":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"get token8":{"main":[[{"node":"HTTP Request12","type":"main","index":0}]]},"get token4":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"get token6":{"main":[[{"node":"HTTP Request10","type":"main","index":0}]]},"get token9":{"main":[[{"node":"HTTP Request13","type":"main","index":0}]]},"get token7":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"get token10":{"main":[[{"node":"HTTP Request14","type":"main","index":0}]]},"get token11":{"main":[[{"node":"HTTP Request15","type":"main","index":0}]]},"Get Token Cmd Buena":{"main":[[{"node":"Wait Cmd Buena","type":"main","index":0}]]},"Get Token Cmd Mala":{"main":[[{"node":"Wait Cmd Mala","type":"main","index":0}]]},"Buscar_viviendas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Enriquecer_lead_vivienda":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Wait11":{"main":[[]]},"Wait8":{"main":[[{"node":"get token11","type":"main","index":0}]]},"Wait10":{"main":[[]]},"Wait7":{"main":[[{"node":"get token10","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"get token7","type":"main","index":0}]]},"Wait9":{"main":[[]]},"Wait6":{"main":[[{"node":"get token9","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"get token6","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"get token4","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Cancelar_o_cambiar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"HTTP Request8":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"HTTP Request15":{"main":[[{"node":"Wait11","type":"main","index":0}]]}},"authors":"agentesia madrid","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-28T09:41:51.245Z","id":918,"workflowId":"QLfRT9AWmV1HLMZs","versionId":"c0b103bc-22fc-4442-a18e-a341d78ee0ff","event":"deactivated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"},{"createdAt":"2026-05-28T09:41:51.267Z","id":919,"workflowId":"QLfRT9AWmV1HLMZs","versionId":"c0b103bc-22fc-4442-a18e-a341d78ee0ff","event":"activated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"}]}}