knowledge/projects/agentesia/n8n-backups/simarro/RGu1FLq9l3PKaX2B-matching-pre-tasktype-20260602.json
{"updatedAt":"2026-06-01T21:46:53.197Z","createdAt":"2026-06-01T18:15:20.559Z","id":"RGu1FLq9l3PKaX2B","name":"Matching semanal (Flujo A)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"sched","name":"Schedule lunes 09:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"weeks","weeksInterval":1,"triggerAtDay":[1],"triggerAtHour":9}]}}},{"id":"hook","name":"Webhook Matching","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200],"webhookId":"b2c3d4e5-6f70-4a8b-9c1d-2e3f4a5b6c7d","parameters":{"httpMethod":"POST","path":"matching_run","responseMode":"lastNode","options":{}}},{"id":"Find new matches","name":"Find new matches","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,100],"parameters":{"method":"POST","url":"https://supabase-simarro.agentesia.madrid/rest/v1/rpc/find_new_matches","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {} }}"},"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}}},{"id":"group","name":"Agrupar por lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,100],"parameters":{"jsCode":"// Agrupa las novedades (find_new_matches) por lead y arma el texto {{2}} + los pares a registrar.\n// find_new_matches devuelve un array -> n8n lo entrega como N items (uno por fila)\nconst rows = $input.all().map(i => i.json).filter(m => m && m.lead_id != null);\nconst TIPO = {piso:'Piso', atico:'Ático', duplex:'Dúplex', chalet:'Chalet', 'local-oficina':'Local/Oficina', otro:'Inmueble'};\nconst byLead = {};\nfor (const m of rows) { (byLead[m.lead_id] = byLead[m.lead_id] || []).push(m); }\nconst out = [];\nfor (const lead_id in byLead) {\n  const all = byLead[lead_id];\n  const shown = all.slice(0, 5);                      // máx 5 viviendas en el mensaje\n  const lineas = shown.map(m => {\n    const t = TIPO[m.property_type] || 'Inmueble';\n    const precio = m.price != null ? Number(m.price).toLocaleString('es-ES') + '€' : '';\n    return `${t} en ${m.municipality || ''} ${precio}: ${m.url || ''}`;\n  });\n  let texto = lineas.join('  —  ');\n  if (all.length > shown.length) texto += `  —  y ${all.length - shown.length} más.`;\n  out.push({ json: {\n    lead_id: Number(lead_id),\n    texto,\n    count: all.length,\n    pares: all.map(m => ({ lead_id: Number(lead_id), idealista_id: m.idealista_id }))\n  }});\n}\nreturn out;\n"}},{"id":"Set CF Novedades","name":"Set CF Novedades","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,100],"parameters":{"method":"PATCH","url":"=https://simarro.kommo.com/api/v4/leads/{{ $('Agrupar por lead').item.json.lead_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","options":{},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({custom_fields_values:[{field_id:1376046,values:[{value:$json.texto}]}]}) }}"},"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"id":"Enviar WhatsApp (salesbot)","name":"Enviar WhatsApp (salesbot)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,100],"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","options":{"response":{}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify([{bot_id:92150, entity_id:$('Agrupar por lead').item.json.lead_id, entity_type:2}]) }}"},"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueErrorOutput"},{"id":"Task al agente","name":"Task al agente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,100],"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v4/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","options":{},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify([{text:('🏡 '+$('Agrupar por lead').item.json.count+' vivienda(s) que encajan con este lead:\\n'+$('Agrupar por lead').item.json.texto), complete_till: Math.round(Date.now()/1000)+86400, entity_id:$('Agrupar por lead').item.json.lead_id, entity_type:'leads', responsible_user_id:15113339, task_type_id:2}]) }}"},"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"id":"Registrar matches","name":"Registrar matches","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,100],"parameters":{"method":"POST","url":"https://supabase-simarro.agentesia.madrid/rest/v1/rpc/register_matches","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({p: $('Agrupar por lead').item.json.pares}) }}"},"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}}}],"connections":{"Schedule lunes 09:00":{"main":[[{"node":"Find new matches","type":"main","index":0}]]},"Webhook Matching":{"main":[[{"node":"Find new matches","type":"main","index":0}]]},"Find new matches":{"main":[[{"node":"Agrupar por lead","type":"main","index":0}]]},"Agrupar por lead":{"main":[[{"node":"Set CF Novedades","type":"main","index":0}]]},"Set CF Novedades":{"main":[[{"node":"Enviar WhatsApp (salesbot)","type":"main","index":0}]]},"Enviar WhatsApp (salesbot)":{"main":[[{"node":"Task al agente","type":"main","index":0}]]},"Task al agente":{"main":[[{"node":"Registrar matches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","saveDataSuccessExecution":"all","saveDataErrorExecution":"all"},"staticData":{"node:Schedule lunes 09:00":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"c5bbe203-2a57-41af-b0f6-36d3f6955ad0","activeVersionId":"c5bbe203-2a57-41af-b0f6-36d3f6955ad0","versionCounter":22,"triggerCount":2,"shared":[{"updatedAt":"2026-06-01T18:15:20.559Z","createdAt":"2026-06-01T18:15:20.559Z","role":"workflow:owner","workflowId":"RGu1FLq9l3PKaX2B","projectId":"KzDhDvn7gXhn9Jke","project":{"updatedAt":"2026-04-14T19:24:58.568Z","createdAt":"2026-04-14T17:51:20.172Z","id":"KzDhDvn7gXhn9Jke","name":"agentesia madrid <info@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"e11c9a81-3802-42a8-8b75-5d3028942946"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-01T21:46:53.198Z","createdAt":"2026-06-01T21:46:53.198Z","versionId":"c5bbe203-2a57-41af-b0f6-36d3f6955ad0","workflowId":"RGu1FLq9l3PKaX2B","nodes":[{"id":"sched","name":"Schedule lunes 09:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"weeks","weeksInterval":1,"triggerAtDay":[1],"triggerAtHour":9}]}}},{"id":"hook","name":"Webhook Matching","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200],"webhookId":"b2c3d4e5-6f70-4a8b-9c1d-2e3f4a5b6c7d","parameters":{"httpMethod":"POST","path":"matching_run","responseMode":"lastNode","options":{}}},{"id":"Find new matches","name":"Find new matches","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,100],"parameters":{"method":"POST","url":"https://supabase-simarro.agentesia.madrid/rest/v1/rpc/find_new_matches","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {} }}"},"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}}},{"id":"group","name":"Agrupar por lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,100],"parameters":{"jsCode":"// Agrupa las novedades (find_new_matches) por lead y arma el texto {{2}} + los pares a registrar.\n// find_new_matches devuelve un array -> n8n lo entrega como N items (uno por fila)\nconst rows = $input.all().map(i => i.json).filter(m => m && m.lead_id != null);\nconst TIPO = {piso:'Piso', atico:'Ático', duplex:'Dúplex', chalet:'Chalet', 'local-oficina':'Local/Oficina', otro:'Inmueble'};\nconst byLead = {};\nfor (const m of rows) { (byLead[m.lead_id] = byLead[m.lead_id] || []).push(m); }\nconst out = [];\nfor (const lead_id in byLead) {\n  const all = byLead[lead_id];\n  const shown = all.slice(0, 5);                      // máx 5 viviendas en el mensaje\n  const lineas = shown.map(m => {\n    const t = TIPO[m.property_type] || 'Inmueble';\n    const precio = m.price != null ? Number(m.price).toLocaleString('es-ES') + '€' : '';\n    return `${t} en ${m.municipality || ''} ${precio}: ${m.url || ''}`;\n  });\n  let texto = lineas.join('  —  ');\n  if (all.length > shown.length) texto += `  —  y ${all.length - shown.length} más.`;\n  out.push({ json: {\n    lead_id: Number(lead_id),\n    texto,\n    count: all.length,\n    pares: all.map(m => ({ lead_id: Number(lead_id), idealista_id: m.idealista_id }))\n  }});\n}\nreturn out;\n"}},{"id":"Set CF Novedades","name":"Set CF Novedades","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,100],"parameters":{"method":"PATCH","url":"=https://simarro.kommo.com/api/v4/leads/{{ $('Agrupar por lead').item.json.lead_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","options":{},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({custom_fields_values:[{field_id:1376046,values:[{value:$json.texto}]}]}) }}"},"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"id":"Enviar WhatsApp (salesbot)","name":"Enviar WhatsApp (salesbot)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,100],"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v2/salesbot/run","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","options":{"response":{}},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify([{bot_id:92150, entity_id:$('Agrupar por lead').item.json.lead_id, entity_type:2}]) }}"},"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}},"onError":"continueErrorOutput"},{"id":"Task al agente","name":"Task al agente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,100],"parameters":{"method":"POST","url":"https://simarro.kommo.com/api/v4/tasks","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","options":{},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify([{text:('🏡 '+$('Agrupar por lead').item.json.count+' vivienda(s) que encajan con este lead:\\n'+$('Agrupar por lead').item.json.texto), complete_till: Math.round(Date.now()/1000)+86400, entity_id:$('Agrupar por lead').item.json.lead_id, entity_type:'leads', responsible_user_id:15113339, task_type_id:2}]) }}"},"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"id":"Registrar matches","name":"Registrar matches","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,100],"parameters":{"method":"POST","url":"https://supabase-simarro.agentesia.madrid/rest/v1/rpc/register_matches","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({p: $('Agrupar por lead').item.json.pares}) }}"},"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}}}],"connections":{"Schedule lunes 09:00":{"main":[[{"node":"Find new matches","type":"main","index":0}]]},"Webhook Matching":{"main":[[{"node":"Find new matches","type":"main","index":0}]]},"Find new matches":{"main":[[{"node":"Agrupar por lead","type":"main","index":0}]]},"Agrupar por lead":{"main":[[{"node":"Set CF Novedades","type":"main","index":0}]]},"Set CF Novedades":{"main":[[{"node":"Enviar WhatsApp (salesbot)","type":"main","index":0}]]},"Enviar WhatsApp (salesbot)":{"main":[[{"node":"Task al agente","type":"main","index":0}]]},"Task al agente":{"main":[[{"node":"Registrar matches","type":"main","index":0}]]}},"authors":"agentesia madrid","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-01T21:46:53.218Z","id":1064,"workflowId":"RGu1FLq9l3PKaX2B","versionId":"c5bbe203-2a57-41af-b0f6-36d3f6955ad0","event":"deactivated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"},{"createdAt":"2026-06-01T21:46:53.240Z","id":1065,"workflowId":"RGu1FLq9l3PKaX2B","versionId":"c5bbe203-2a57-41af-b0f6-36d3f6955ad0","event":"activated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"}]}}