knowledge/projects/agentesia/n8n-backups/simarro/UQHBaQxeVsutlLWX-reconcile-pre-multipool-20260602.json
{"updatedAt":"2026-06-01T22:15:44.199Z","createdAt":"2026-06-01T14:38:15.716Z","id":"UQHBaQxeVsutlLWX","name":"Reconcile lead_preferences","description":null,"active":true,"isArchived":false,"nodes":[{"id":"sched","name":"Schedule 07:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"days","triggerAtHour":7}]}}},{"id":"hook","name":"Webhook Reconcile","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200],"webhookId":"7f3a2b10-5c4d-4e6f-9a8b-1c2d3e4f5a6b","parameters":{"httpMethod":"POST","path":"reconcile_lead_prefs","responseMode":"lastNode","options":{}}},{"id":"getleads","name":"Get Leads Kommo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,100],"parameters":{"method":"GET","url":"https://simarro.kommo.com/api/v4/leads?filter[pipeline_id]=13546071&with=custom_fields_values&limit=250","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","options":{}},"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"id":"build","name":"Build rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[520,100],"parameters":{"jsCode":"let _r = $input.first().json;\n_r = (_r && _r.data !== undefined) ? _r.data : _r;\nif (typeof _r === 'string') { try { _r = JSON.parse(_r); } catch (e) { _r = {}; } }\nconst leads = (_r && _r._embedded && _r._embedded.leads) || [];\nconst TIPO   = {'Piso':'piso','Ático':'atico','Dúplex':'duplex','Chalet':'chalet','Local-Oficina':'local-oficina'};\nconst EXTRA  = {'Piscina':'piscina','Terraza':'terraza','Jardín':'jardin','Trastero':'trastero','Garaje':'garaje','Ascensor':'ascensor','Exterior':'exterior','Aire acondicionado':'aire'};\nconst ESTADO = {'Entrar a vivir':'entrar a vivir','A reformar':'a reformar','Obra nueva':'obra nueva'};\nconst rows = [];\nfor (const l of leads) {\n  if (l.status_id !== 106971083) continue;                 // pool = etapa \"Buscando vivienda\"\n  const cf = {};\n  for (const c of (l.custom_fields_values || [])) cf[c.field_id] = (c.values || []).map(v => v.value);\n  const num = (id) => { const v = (cf[id] || [])[0]; return (v === undefined || v === null || v === '') ? null : Number(v); };\n  const zonaRaw    = (cf[1373285] || [])[0] || '';\n  const municipios = String(zonaRaw).split(',').map(s => s.trim()).filter(Boolean);\n  const tipos      = (cf[1376076] || []).map(v => TIPO[v]).filter(Boolean);\n  const extras     = (cf[1376080] || []).map(v => EXTRA[v]).filter(Boolean);\n  const estados    = (cf[1376082] || []).map(v => ESTADO[v]).filter(Boolean);\n  const habRaw     = (cf[1373289] || [])[0] || null;\n  const hab_min    = habRaw ? parseInt(String(habRaw), 10) : null;\n  const precio_max = num(1376040);\n  const precio_min = num(1376044);\n  const m2_min     = num(1373287);\n  const banos_min  = num(1376078);\n  const hasCriteria = municipios.length || tipos.length || extras.length || estados.length ||\n                      precio_max != null || precio_min != null || hab_min != null || m2_min != null || banos_min != null;\n  if (!hasCriteria) continue;\n  const row = { lead_id: Number(l.id), municipios, tipos, precio_max, precio_min, hab_min, m2_min, banos_min, extras, estados };\n  row.kommo_hash = JSON.stringify([municipios, tipos, precio_max, precio_min, hab_min, m2_min, banos_min, extras, estados]);\n  rows.push(row);\n}\nreturn [{ json: { rows, fetch_ok: leads.length > 0 } }];\n"}},{"id":"upsert","name":"Upsert lead_preferences","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,100],"parameters":{"method":"POST","url":"https://supabase-simarro.agentesia.madrid/rest/v1/rpc/reconcile_lead_preferences","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p: $json.rows, p_fetch_ok: $json.fetch_ok }) }}","options":{}},"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}}}],"connections":{"Schedule 07:00":{"main":[[{"node":"Get Leads Kommo","type":"main","index":0}]]},"Webhook Reconcile":{"main":[[{"node":"Get Leads Kommo","type":"main","index":0}]]},"Get Leads Kommo":{"main":[[{"node":"Build rows","type":"main","index":0}]]},"Build rows":{"main":[[{"node":"Upsert lead_preferences","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","saveDataSuccessExecution":"all","saveDataErrorExecution":"all"},"staticData":{"node:Schedule 07:00":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"19abafd2-d295-4eee-b9cd-6fd226459195","activeVersionId":"19abafd2-d295-4eee-b9cd-6fd226459195","versionCounter":22,"triggerCount":2,"shared":[{"updatedAt":"2026-06-01T14:38:15.716Z","createdAt":"2026-06-01T14:38:15.716Z","role":"workflow:owner","workflowId":"UQHBaQxeVsutlLWX","projectId":"KzDhDvn7gXhn9Jke","project":{"updatedAt":"2026-04-14T19:24:58.568Z","createdAt":"2026-04-14T17:51:20.172Z","id":"KzDhDvn7gXhn9Jke","name":"agentesia madrid <info@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"e11c9a81-3802-42a8-8b75-5d3028942946"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-01T22:15:44.200Z","createdAt":"2026-06-01T22:15:44.200Z","versionId":"19abafd2-d295-4eee-b9cd-6fd226459195","workflowId":"UQHBaQxeVsutlLWX","nodes":[{"id":"sched","name":"Schedule 07:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"days","triggerAtHour":7}]}}},{"id":"hook","name":"Webhook Reconcile","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200],"webhookId":"7f3a2b10-5c4d-4e6f-9a8b-1c2d3e4f5a6b","parameters":{"httpMethod":"POST","path":"reconcile_lead_prefs","responseMode":"lastNode","options":{}}},{"id":"getleads","name":"Get Leads Kommo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,100],"parameters":{"method":"GET","url":"https://simarro.kommo.com/api/v4/leads?filter[pipeline_id]=13546071&with=custom_fields_values&limit=250","authentication":"predefinedCredentialType","nodeCredentialType":"kommoLongLivedApi","options":{}},"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"id":"build","name":"Build rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[520,100],"parameters":{"jsCode":"let _r = $input.first().json;\n_r = (_r && _r.data !== undefined) ? _r.data : _r;\nif (typeof _r === 'string') { try { _r = JSON.parse(_r); } catch (e) { _r = {}; } }\nconst leads = (_r && _r._embedded && _r._embedded.leads) || [];\nconst TIPO   = {'Piso':'piso','Ático':'atico','Dúplex':'duplex','Chalet':'chalet','Local-Oficina':'local-oficina'};\nconst EXTRA  = {'Piscina':'piscina','Terraza':'terraza','Jardín':'jardin','Trastero':'trastero','Garaje':'garaje','Ascensor':'ascensor','Exterior':'exterior','Aire acondicionado':'aire'};\nconst ESTADO = {'Entrar a vivir':'entrar a vivir','A reformar':'a reformar','Obra nueva':'obra nueva'};\nconst rows = [];\nfor (const l of leads) {\n  if (l.status_id !== 106971083) continue;                 // pool = etapa \"Buscando vivienda\"\n  const cf = {};\n  for (const c of (l.custom_fields_values || [])) cf[c.field_id] = (c.values || []).map(v => v.value);\n  const num = (id) => { const v = (cf[id] || [])[0]; return (v === undefined || v === null || v === '') ? null : Number(v); };\n  const zonaRaw    = (cf[1373285] || [])[0] || '';\n  const municipios = String(zonaRaw).split(',').map(s => s.trim()).filter(Boolean);\n  const tipos      = (cf[1376076] || []).map(v => TIPO[v]).filter(Boolean);\n  const extras     = (cf[1376080] || []).map(v => EXTRA[v]).filter(Boolean);\n  const estados    = (cf[1376082] || []).map(v => ESTADO[v]).filter(Boolean);\n  const habRaw     = (cf[1373289] || [])[0] || null;\n  const hab_min    = habRaw ? parseInt(String(habRaw), 10) : null;\n  const precio_max = num(1376040);\n  const precio_min = num(1376044);\n  const m2_min     = num(1373287);\n  const banos_min  = num(1376078);\n  const hasCriteria = municipios.length || tipos.length || extras.length || estados.length ||\n                      precio_max != null || precio_min != null || hab_min != null || m2_min != null || banos_min != null;\n  if (!hasCriteria) continue;\n  const row = { lead_id: Number(l.id), municipios, tipos, precio_max, precio_min, hab_min, m2_min, banos_min, extras, estados };\n  row.kommo_hash = JSON.stringify([municipios, tipos, precio_max, precio_min, hab_min, m2_min, banos_min, extras, estados]);\n  rows.push(row);\n}\nreturn [{ json: { rows, fetch_ok: leads.length > 0 } }];\n"}},{"id":"upsert","name":"Upsert lead_preferences","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,100],"parameters":{"method":"POST","url":"https://supabase-simarro.agentesia.madrid/rest/v1/rpc/reconcile_lead_preferences","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p: $json.rows, p_fetch_ok: $json.fetch_ok }) }}","options":{}},"credentials":{"supabaseApi":{"id":"Wm7JL1tsxiWyElqt","name":"Supabase Simarro"}}}],"connections":{"Schedule 07:00":{"main":[[{"node":"Get Leads Kommo","type":"main","index":0}]]},"Webhook Reconcile":{"main":[[{"node":"Get Leads Kommo","type":"main","index":0}]]},"Get Leads Kommo":{"main":[[{"node":"Build rows","type":"main","index":0}]]},"Build rows":{"main":[[{"node":"Upsert lead_preferences","type":"main","index":0}]]}},"authors":"agentesia madrid","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-01T22:15:44.221Z","id":1068,"workflowId":"UQHBaQxeVsutlLWX","versionId":"19abafd2-d295-4eee-b9cd-6fd226459195","event":"deactivated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"},{"createdAt":"2026-06-01T22:15:44.233Z","id":1069,"workflowId":"UQHBaQxeVsutlLWX","versionId":"19abafd2-d295-4eee-b9cd-6fd226459195","event":"activated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"}]}}