knowledge/projects/agentesia/n8n-backups/simarro/YGnefIXAKNJMZTw3-pre-email-redesign-20260602.json
{"updatedAt":"2026-05-26T13:56:47.816Z","createdAt":"2026-04-28T10:16:39.863Z","id":"YGnefIXAKNJMZTw3","name":"Especilista Asignado","description":"Webhook Kommo. Cuando un lead pasa a estado Agente Asignado: crea tarea Kommo, evento en Google Calendar y envía email de confirmación al cliente.","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"especialista_asignado","options":{}},"id":"b4fa45a4-be83-4540-97af-55513a611106","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"448388d5-7c87-4cd7-a022-ae850641b8ee"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-especialista","leftValue":"={{ $json.body[\"leads[status][0][status_id]\"] }}","rightValue":"105137099","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"07a872aa-5a78-453f-976a-012cdd1112ce","name":"Es Especialista Asignado?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,0]},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"id":"={{ $json.body[\"leads[status][0][id]\"] }}"},"options":{}},"id":"047aacb9-6c4c-400f-90a6-0be654491dca","name":"Get list of leads","type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[448,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\nconst opcionesFecha = {timeZone: 'Europe/Madrid', dateStyle: 'full', timeStyle: 'short'};\n\nconst AGENT_CALENDARS = {\n  ainhoa: 'd23c36eb78a971387b85f2b175348df42eb0bb56a62e08cbe5be715d208232a5@group.calendar.google.com',\n  carlos: 'b7e41e1a3aa9a5a4b8d4f9ce1c28cebca78fd7ec1fa6e81f8b056172aae037e5@group.calendar.google.com',\n  pedro:  '27f1281a474ac16cd94d55abae17338c73345a16896e18ed854e852d322b795a@group.calendar.google.com',\n  ramon:  '5d8f1fa51bd75f41d4521a35393edba14c21c5f257baa698e5959828843a7e82@group.calendar.google.com',\n};\n\nfunction pickCalendar(agenteRaw) {\n  const s = (agenteRaw || '').toLowerCase().trim().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  for (const k of Object.keys(AGENT_CALENDARS)) {\n    if (s.includes(k)) return { key: k, calendarId: AGENT_CALENDARS[k] };\n  }\n  return { key: null, calendarId: 'primary' };\n}\n\nfunction cf(customFields, fieldId) {\n  if (!Array.isArray(customFields)) return null;\n  const f = customFields.find(x => x?.field_id === fieldId);\n  return f?.values?.[0]?.value ?? null;\n}\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data._embedded || !data._embedded.leads) continue;\n  for (const lead of data._embedded.leads) {\n    const fields = lead.custom_fields_values || [];\n    const ts = cf(fields, 1330871);\n    if (!ts) continue;\n    const fechaInicio = new Date(Number(ts) * 1000);\n    const fechaFin = new Date(fechaInicio.getTime() + 30 * 60 * 1000);\n\n    const agenteName = cf(fields, 1373105);\n    const { key: agentKey, calendarId } = pickCalendar(agenteName);\n\n    const direccion = cf(fields, 1373349);\n    const idealista_id = cf(fields, 1373305);\n    const telefono = (lead.name||'').split('||').map(s=>s.trim()).find(p => p.match(/^\\+?\\d/)) || '';\n    const email = cf(fields, 1372575);\n\n    const _parts = (lead.name||'').split('||').map(s=>s.trim());\n    const nombreLimpio = _parts[0] || '';\n    const telefonoLimpio = _parts.find(p => p.match(/^\\+?\\d/)) || '';\n    results.push({ json: {\n      leadId: lead.id,\n      leadName: lead.name,\n      nombreLimpio,\n      telefonoLimpio,\n      agente: agenteName,\n      agentKey,\n      calendarId,\n      email,\n      direccion,\n      idealista_id,\n      telefono,\n      diaPreferenciaTimestamp: ts,\n      diaPreferenciaFechaFormateada: fechaInicio.toLocaleString('es-ES', opcionesFecha),\n      startDate: fechaInicio.toISOString(),\n      endDate: fechaFin.toISOString(),\n    }});\n  }\n}\nreturn results;"},"id":"fd807b3d-7812-489d-8bde-680d4e83e90c","name":"Code in JavaScript","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"calendar":{"__rl":true,"value":"={{ $('Code in JavaScript').item.json.calendarId }}","mode":"id"},"start":"={{ $('Code in JavaScript').item.json.startDate }}","end":"={{ $('Code in JavaScript').item.json.endDate }}","additionalFields":{"description":"=Lead ID: {{ $('Code in JavaScript').item.json.leadId }}\nAgente: {{ $('Code in JavaScript').item.json.agente || 'Sin asignar' }}\nDirección: {{ $('Code in JavaScript').item.json.direccion || '-' }}\nIdealista ID: {{ $('Code in JavaScript').item.json.idealista_id || '-' }}\nFecha: {{ $('Code in JavaScript').item.json.diaPreferenciaFechaFormateada }}","summary":"=Visita — {{ $('Code in JavaScript').item.json.nombreLimpio }} — {{ $('Code in JavaScript').item.json.idealista_id || '' }} — {{ $('Code in JavaScript').item.json.direccion || '' }} — {{ $('Code in JavaScript').item.json.telefonoLimpio || '' }}"}},"id":"923f4e02-ba94-4c18-97fa-3da501b41aa8","name":"Create an event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[896,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"disabled":true,"notes":"[2026-05-26] Desactivado para que las visitas se queden en el calendario principal Simarro. Para reactivar mover de nuevo al calendario del agente: habilitar este nodo + 'Buscar evento primary' + 'Eliminar evento primary'."},{"parameters":{"authentication":"longLivedToken","resource":"tasks","operation":"createTasks","json":true,"jsonString":"=[\n    {\n        \"task_type_id\": 2,\n        \"text\": \"{{ $('Code in JavaScript').item.json.leadName }}\",\n        \"complete_till\": {{ $('Code in JavaScript').item.json.diaPreferenciaTimestamp }},\n        \"duration\": 3600,\n        \"entity_id\": {{ $('Code in JavaScript').item.json.leadId }},\n        \"entity_type\": \"leads\",\n        \"responsible_user_id\": 15113339\n    }\n]"},"id":"a0130645-6507-4c76-914b-1cbdd55a70ca","name":"Create new tasks","type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[1568,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"fromEmail":"info@simarroproperties.com","toEmail":"={{ $('Code in JavaScript').item.json.email }}","subject":"={{ $('Build Email HTML').item.json.subject }}","html":"={{ $('Build Email HTML').item.json.html }}","options":{}},"id":"51769bcc-5bff-4f57-b0b0-0fea6427f16c","name":"Send Confirmation Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2016,0],"webhookId":"0aa64ae1-3717-4f4a-80c8-8a8b59263ba5","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"smtp":{"id":"my0IFrzKpGNhCs8c","name":"SMTP LEADS Simarro"}},"continueOnFail":true},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"Calendario principal Simarro"},"returnAll":true,"options":{"query":"={{ $('Code in JavaScript').item.json.leadId }}"}},"id":"8d29279a-d081-4cd1-aff0-16d7916f2c7b","name":"Buscar evento primary","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1120,0],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput","disabled":true,"notes":"[2026-05-26] Desactivado para que las visitas se queden en el calendario principal Simarro. Para reactivar mover de nuevo al calendario del agente: habilitar este nodo + 'Buscar evento primary' + 'Eliminar evento primary'."},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"Calendario principal Simarro"},"eventId":"={{ $json.id }}","options":{}},"id":"c445e741-cbd7-4d5a-91a9-414fe556b57e","name":"Eliminar evento primary","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1344,0],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput","disabled":true,"notes":"[2026-05-26] Desactivado para que las visitas se queden en el calendario principal Simarro. Para reactivar mover de nuevo al calendario del agente: habilitar este nodo + 'Buscar evento primary' + 'Eliminar evento primary'."},{"parameters":{"jsCode":"function buildEmail(p) {\n  const accent = p.accent || '#1F9D6E';\n  const accentDark = p.accentDark || '#0F4A38';\n  const accentLight = p.accentLight || '#EBF5F0';\n  const accentBorder = p.accentBorder || '#C8E0D4';\n  const headerTagBg = p.headerTagBg || '#0A1512';\n  const headerTagFg = p.headerTagFg || '#1F9D6E';\n  const heroBg = p.heroBg || '#0F1715';\n  const headerImg = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/Simarro_header.png';\n  const logoImg   = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/logo_simarro_properties.png';\n\n  const dataRows = (p.dataBlocks || []).map((b, i) => `\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" ${i>0?`style=\"border-top:1px solid ${accentBorder};\"`:''}>\n      <tr><td style=\"padding:${i>0?'14px':'0'} 0 ${i===p.dataBlocks.length-1?0:14}px 0;\">\n        <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">${b.label}</p>\n        <p style=\"font-family:Georgia,serif;font-size:${b.big?20:18}px;color:#0F1715;margin:0;line-height:1.25;\">${b.value}</p>\n      </td></tr>\n    </table>`).join('');\n\n  const propertyBlock = p.property ? `\n    <tr><td class=\"inner-pad\" style=\"padding:16px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          ${p.property.thumbnail ? `<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:16px;\"><tr><td><img src=\"${p.property.thumbnail}\" alt=\"Propiedad\" width=\"540\" style=\"display:block;width:100%;max-width:540px;height:auto;border-radius:2px;margin:0 auto;\" /></td></tr></table>` : ''}\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Propiedad</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.35;\">${p.property.direccion || ''}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const bottomBlock = p.bottom ? `\n    <tr><td class=\"inner-pad\" style=\"padding:20px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 8px 0;\">${p.bottom.label}</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.4;\">${p.bottom.text}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const ctaBlock = p.ctaTel ? `\n    <tr><td align=\"center\" style=\"padding:24px 44px 4px 44px;background-color:#ffffff;\">\n      <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;font-weight:bold;color:#4A7A66;margin:0;\">\n        <a href=\"tel:${p.ctaTel.replace(/\\s/g,'')}\" style=\"color:${accentDark};text-decoration:none;border-bottom:1px solid ${accent};padding-bottom:2px;\">${p.ctaLabel || 'Contactar · ' + p.ctaTel}</a>\n      </p>\n    </td></tr>` : '';\n\n  const quote = p.quote !== null\n    ? `<tr><td align=\"center\" style=\"padding:30px 56px 24px 56px;background-color:#ffffff;\">\n        <p style=\"font-family:Georgia,serif;font-size:19px;font-style:italic;color:${accentDark};line-height:1.5;margin:0;\">${p.quote || '&ldquo;Cada propiedad es una oportunidad,<br/>cada cliente, una historia<br/>que merece la mejor decisión.&rdquo;'}</p>\n      </td></tr>`\n    : '';\n\n  const footerNote = p.footerNote || 'Este correo se generó automáticamente.';\n\n  return `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\"><head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n<meta name=\"color-scheme\" content=\"light only\" />\n<title>${p.subject || 'Simarro Properties'}</title>\n<style type=\"text/css\">\nbody { margin:0; padding:0; background-color:${heroBg}; font-family:Arial,Helvetica,sans-serif; }\ntable { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }\nimg { display:block; border:0; height:auto; outline:none; text-decoration:none; }\n@media only screen and (max-width:620px) { .outer{width:100%!important;} .inner-pad{padding:24px 20px!important;} .head-title{font-size:32px!important;} .hero-cell{height:240px!important;} .hero-logo{width:200px!important;} .data-body{padding:20px!important;} .footer-pad{padding:28px 20px!important;} }\n</style></head>\n<body style=\"margin:0;padding:0;background-color:${heroBg};font-family:Arial,Helvetica,sans-serif;\">\n<center style=\"width:100%;background-color:${heroBg};padding:32px 0;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"outer\" style=\"width:100%;max-width:620px;background-color:#ffffff;border-radius:6px;overflow:hidden;box-shadow:0 20px 60px -20px rgba(0,0,0,0.55);\">\n<tr><td style=\"background-color:${headerTagBg};padding:14px 32px;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;letter-spacing:4px;color:${headerTagFg};text-transform:uppercase;font-weight:bold;\">Inmobiliaria &amp; Inversión</td>\n    <td align=\"right\" style=\"font-family:Georgia,serif;font-size:11px;font-style:italic;color:#4A7A66;letter-spacing:2px;\">${p.kickerTop || ''}</td>\n  </tr></table>\n</td></tr>\n<tr><td class=\"hero-cell\" align=\"center\" valign=\"middle\" bgcolor=\"${heroBg}\" height=\"300\" style=\"height:300px;background-image:url('${headerImg}');background-position:center top;background-repeat:no-repeat;background-size:contain;background-color:${heroBg};padding:24px 0;\">\n  <div style=\"position:relative;width:100%;height:300px;\">\n    <div style=\"position:absolute;left:0;right:0;top:50%;margin-top:-34px;height:68px;background-color:rgba(10,21,18,0.78);font-size:1px;line-height:1px;\">&nbsp;</div>\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"width:100%;height:300px;position:relative;z-index:2;\"><tr>\n      <td align=\"center\" valign=\"middle\" height=\"300\" style=\"height:300px;\">\n        <img class=\"hero-logo\" src=\"${logoImg}\" alt=\"Simarro Properties\" width=\"300\" style=\"display:block;width:300px;max-width:60%;height:auto;margin:0 auto;\" />\n      </td>\n    </tr></table>\n  </div>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:32px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 12px;font-family:Georgia,serif;font-size:11px;font-style:italic;color:${accentDark};letter-spacing:3px;text-transform:uppercase;\">Inmobiliaria de inversión</td>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:5px;text-transform:uppercase;font-weight:bold;margin:0 0 10px 0;\">${p.kicker || ''}</p>\n  <h1 class=\"head-title\" style=\"font-family:Georgia,serif;font-size:42px;font-weight:normal;color:#0F1715;margin:0;line-height:1.05;letter-spacing:-1px;\">${p.headline || ''}</h1>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:18px 56px 0 56px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.7;color:#3F5651;margin:0;\">${p.intro || ''}</p>\n</td></tr>\n${dataRows ? `<tr><td class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n    <tr><td class=\"data-body\" style=\"padding:24px 28px;\">${dataRows}</td></tr>\n  </table>\n</td></tr>` : ''}\n${propertyBlock}\n${bottomBlock}\n${ctaBlock}\n${quote}\n<tr><td align=\"center\" class=\"footer-pad\" style=\"background-color:${headerTagBg};padding:36px 44px;\">\n  <p style=\"font-family:Georgia,serif;font-size:28px;font-style:italic;color:#FFFFFF;margin:0;letter-spacing:0.5px;\">Simarro <span style=\"color:${accent};font-style:italic;\">Properties</span></p>\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0;\"><tr>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 10px;font-family:Georgia,serif;font-size:10px;color:#4A7A66;\">&diams;</td>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4A7A66;letter-spacing:1px;margin:0 0 6px 0;\">Inmobiliaria &amp; Inversión</p>\n  <p style=\"margin:0;\"><a href=\"https://simarroproperties.com\" target=\"_blank\" style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;text-decoration:none;font-weight:bold;letter-spacing:2px;text-transform:uppercase;border-bottom:1px solid ${accent};padding-bottom:2px;\">www.simarroproperties.com</a></p>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:${accent};letter-spacing:2px;text-transform:uppercase;margin:18px 0 0 0;line-height:1.7;\">${footerNote}</p>\n</td></tr>\n</table></center></body></html>`;\n}\n\n\nconst c = $('Code in JavaScript').item.json;\nconst html = buildEmail({\n  subject: 'Tu visita en Simarro Properties — agente asignado',\n  kickerTop: 'Visita confirmada',\n  kicker: 'Agente asignado',\n  headline: `Ya tienes <em style=\"font-style:italic;color:#0F4A38;\">acompañante</em><br/>para la visita.`,\n  intro: `Hola <strong style=\"color:#0F1715;\">${c.nombreLimpio || 'cliente'}</strong>. Te presentamos a tu asesor personal en Simarro Properties. Será tu punto de contacto para acompañarte durante la visita.`,\n  dataBlocks: [\n    { label: 'Fecha & Hora', value: c.diaPreferenciaFechaFormateada || '', big: true },\n    { label: 'Tu agente',    value: (c.agente || 'Por confirmar'), big: true },\n  ],\n  property: c.direccion ? { direccion: c.direccion, thumbnail: null } : null,\n  bottom: { label: 'Te esperamos', text: 'Cualquier duda antes de la visita, escríbenos o llámanos. Si necesitas cambiar la cita, avísanos con al menos 6 horas de antelación.' },\n  ctaTel: '+34 910 054 675',\n  ctaLabel: 'Contactar con tu agente · 910 054 675',\n  footerNote: 'Este correo se generó automáticamente al asignar agente.'\n});\nreturn [{ json: { html, subject: 'Tu visita en Simarro Properties — agente asignado' } }];\n"},"id":"729effbc-7fa0-4565-8d7c-d0e78eb5fd3b","name":"Build Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,0]}],"connections":{"Webhook":{"main":[[{"node":"Es Especialista Asignado?","type":"main","index":0}]]},"Es Especialista Asignado?":{"main":[[{"node":"Get list of leads","type":"main","index":0}]]},"Get list of leads":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create an event","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"Buscar evento primary","type":"main","index":0}]]},"Buscar evento primary":{"main":[[{"node":"Eliminar evento primary","type":"main","index":0}]]},"Eliminar evento primary":{"main":[[{"node":"Create new tasks","type":"main","index":0}]]},"Create new tasks":{"main":[[{"node":"Build Email HTML","type":"main","index":0}]]},"Build Email HTML":{"main":[[{"node":"Send Confirmation Email","type":"main","index":0}]]},"Send Confirmation Email":{"main":[[]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"pinData":{},"versionId":"1673d3c4-8448-4364-86a3-8be735e35edc","activeVersionId":"1673d3c4-8448-4364-86a3-8be735e35edc","versionCounter":94,"triggerCount":1,"shared":[{"updatedAt":"2026-04-28T10:16:39.863Z","createdAt":"2026-04-28T10:16:39.863Z","role":"workflow:owner","workflowId":"YGnefIXAKNJMZTw3","projectId":"KzDhDvn7gXhn9Jke","project":{"updatedAt":"2026-04-14T19:24:58.568Z","createdAt":"2026-04-14T17:51:20.172Z","id":"KzDhDvn7gXhn9Jke","name":"agentesia madrid <info@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"e11c9a81-3802-42a8-8b75-5d3028942946"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-26T13:56:47.817Z","createdAt":"2026-05-26T13:56:47.817Z","versionId":"1673d3c4-8448-4364-86a3-8be735e35edc","workflowId":"YGnefIXAKNJMZTw3","nodes":[{"parameters":{"httpMethod":"POST","path":"especialista_asignado","options":{}},"id":"b4fa45a4-be83-4540-97af-55513a611106","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"448388d5-7c87-4cd7-a022-ae850641b8ee"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-especialista","leftValue":"={{ $json.body[\"leads[status][0][status_id]\"] }}","rightValue":"105137099","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"07a872aa-5a78-453f-976a-012cdd1112ce","name":"Es Especialista Asignado?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,0]},{"parameters":{"authentication":"longLivedToken","resource":"leads","filter":{"id":"={{ $json.body[\"leads[status][0][id]\"] }}"},"options":{}},"id":"047aacb9-6c4c-400f-90a6-0be654491dca","name":"Get list of leads","type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[448,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\nconst opcionesFecha = {timeZone: 'Europe/Madrid', dateStyle: 'full', timeStyle: 'short'};\n\nconst AGENT_CALENDARS = {\n  ainhoa: 'd23c36eb78a971387b85f2b175348df42eb0bb56a62e08cbe5be715d208232a5@group.calendar.google.com',\n  carlos: 'b7e41e1a3aa9a5a4b8d4f9ce1c28cebca78fd7ec1fa6e81f8b056172aae037e5@group.calendar.google.com',\n  pedro:  '27f1281a474ac16cd94d55abae17338c73345a16896e18ed854e852d322b795a@group.calendar.google.com',\n  ramon:  '5d8f1fa51bd75f41d4521a35393edba14c21c5f257baa698e5959828843a7e82@group.calendar.google.com',\n};\n\nfunction pickCalendar(agenteRaw) {\n  const s = (agenteRaw || '').toLowerCase().trim().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  for (const k of Object.keys(AGENT_CALENDARS)) {\n    if (s.includes(k)) return { key: k, calendarId: AGENT_CALENDARS[k] };\n  }\n  return { key: null, calendarId: 'primary' };\n}\n\nfunction cf(customFields, fieldId) {\n  if (!Array.isArray(customFields)) return null;\n  const f = customFields.find(x => x?.field_id === fieldId);\n  return f?.values?.[0]?.value ?? null;\n}\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data._embedded || !data._embedded.leads) continue;\n  for (const lead of data._embedded.leads) {\n    const fields = lead.custom_fields_values || [];\n    const ts = cf(fields, 1330871);\n    if (!ts) continue;\n    const fechaInicio = new Date(Number(ts) * 1000);\n    const fechaFin = new Date(fechaInicio.getTime() + 30 * 60 * 1000);\n\n    const agenteName = cf(fields, 1373105);\n    const { key: agentKey, calendarId } = pickCalendar(agenteName);\n\n    const direccion = cf(fields, 1373349);\n    const idealista_id = cf(fields, 1373305);\n    const telefono = (lead.name||'').split('||').map(s=>s.trim()).find(p => p.match(/^\\+?\\d/)) || '';\n    const email = cf(fields, 1372575);\n\n    const _parts = (lead.name||'').split('||').map(s=>s.trim());\n    const nombreLimpio = _parts[0] || '';\n    const telefonoLimpio = _parts.find(p => p.match(/^\\+?\\d/)) || '';\n    results.push({ json: {\n      leadId: lead.id,\n      leadName: lead.name,\n      nombreLimpio,\n      telefonoLimpio,\n      agente: agenteName,\n      agentKey,\n      calendarId,\n      email,\n      direccion,\n      idealista_id,\n      telefono,\n      diaPreferenciaTimestamp: ts,\n      diaPreferenciaFechaFormateada: fechaInicio.toLocaleString('es-ES', opcionesFecha),\n      startDate: fechaInicio.toISOString(),\n      endDate: fechaFin.toISOString(),\n    }});\n  }\n}\nreturn results;"},"id":"fd807b3d-7812-489d-8bde-680d4e83e90c","name":"Code in JavaScript","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"calendar":{"__rl":true,"value":"={{ $('Code in JavaScript').item.json.calendarId }}","mode":"id"},"start":"={{ $('Code in JavaScript').item.json.startDate }}","end":"={{ $('Code in JavaScript').item.json.endDate }}","additionalFields":{"description":"=Lead ID: {{ $('Code in JavaScript').item.json.leadId }}\nAgente: {{ $('Code in JavaScript').item.json.agente || 'Sin asignar' }}\nDirección: {{ $('Code in JavaScript').item.json.direccion || '-' }}\nIdealista ID: {{ $('Code in JavaScript').item.json.idealista_id || '-' }}\nFecha: {{ $('Code in JavaScript').item.json.diaPreferenciaFechaFormateada }}","summary":"=Visita — {{ $('Code in JavaScript').item.json.nombreLimpio }} — {{ $('Code in JavaScript').item.json.idealista_id || '' }} — {{ $('Code in JavaScript').item.json.direccion || '' }} — {{ $('Code in JavaScript').item.json.telefonoLimpio || '' }}"}},"id":"923f4e02-ba94-4c18-97fa-3da501b41aa8","name":"Create an event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[896,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"disabled":true,"notes":"[2026-05-26] Desactivado para que las visitas se queden en el calendario principal Simarro. Para reactivar mover de nuevo al calendario del agente: habilitar este nodo + 'Buscar evento primary' + 'Eliminar evento primary'."},{"parameters":{"authentication":"longLivedToken","resource":"tasks","operation":"createTasks","json":true,"jsonString":"=[\n    {\n        \"task_type_id\": 2,\n        \"text\": \"{{ $('Code in JavaScript').item.json.leadName }}\",\n        \"complete_till\": {{ $('Code in JavaScript').item.json.diaPreferenciaTimestamp }},\n        \"duration\": 3600,\n        \"entity_id\": {{ $('Code in JavaScript').item.json.leadId }},\n        \"entity_type\": \"leads\",\n        \"responsible_user_id\": 15113339\n    }\n]"},"id":"a0130645-6507-4c76-914b-1cbdd55a70ca","name":"Create new tasks","type":"n8n-nodes-kommo.kommo","typeVersion":1,"position":[1568,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"kommoLongLivedApi":{"id":"xPvEqRp6NQwORUXi","name":"Kommo Simarro"}}},{"parameters":{"fromEmail":"info@simarroproperties.com","toEmail":"={{ $('Code in JavaScript').item.json.email }}","subject":"={{ $('Build Email HTML').item.json.subject }}","html":"={{ $('Build Email HTML').item.json.html }}","options":{}},"id":"51769bcc-5bff-4f57-b0b0-0fea6427f16c","name":"Send Confirmation Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2016,0],"webhookId":"0aa64ae1-3717-4f4a-80c8-8a8b59263ba5","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"smtp":{"id":"my0IFrzKpGNhCs8c","name":"SMTP LEADS Simarro"}},"continueOnFail":true},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"Calendario principal Simarro"},"returnAll":true,"options":{"query":"={{ $('Code in JavaScript').item.json.leadId }}"}},"id":"8d29279a-d081-4cd1-aff0-16d7916f2c7b","name":"Buscar evento primary","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1120,0],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput","disabled":true,"notes":"[2026-05-26] Desactivado para que las visitas se queden en el calendario principal Simarro. Para reactivar mover de nuevo al calendario del agente: habilitar este nodo + 'Buscar evento primary' + 'Eliminar evento primary'."},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"Calendario principal Simarro"},"eventId":"={{ $json.id }}","options":{}},"id":"c445e741-cbd7-4d5a-91a9-414fe556b57e","name":"Eliminar evento primary","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1344,0],"credentials":{"googleCalendarOAuth2Api":{"id":"UmdXsTmy5Lc84eOw","name":"Google Calendar account"}},"onError":"continueRegularOutput","disabled":true,"notes":"[2026-05-26] Desactivado para que las visitas se queden en el calendario principal Simarro. Para reactivar mover de nuevo al calendario del agente: habilitar este nodo + 'Buscar evento primary' + 'Eliminar evento primary'."},{"parameters":{"jsCode":"function buildEmail(p) {\n  const accent = p.accent || '#1F9D6E';\n  const accentDark = p.accentDark || '#0F4A38';\n  const accentLight = p.accentLight || '#EBF5F0';\n  const accentBorder = p.accentBorder || '#C8E0D4';\n  const headerTagBg = p.headerTagBg || '#0A1512';\n  const headerTagFg = p.headerTagFg || '#1F9D6E';\n  const heroBg = p.heroBg || '#0F1715';\n  const headerImg = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/Simarro_header.png';\n  const logoImg   = 'https://raw.githubusercontent.com/AgentesIAMadrid/email-assets/main/logo_simarro_properties.png';\n\n  const dataRows = (p.dataBlocks || []).map((b, i) => `\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" ${i>0?`style=\"border-top:1px solid ${accentBorder};\"`:''}>\n      <tr><td style=\"padding:${i>0?'14px':'0'} 0 ${i===p.dataBlocks.length-1?0:14}px 0;\">\n        <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">${b.label}</p>\n        <p style=\"font-family:Georgia,serif;font-size:${b.big?20:18}px;color:#0F1715;margin:0;line-height:1.25;\">${b.value}</p>\n      </td></tr>\n    </table>`).join('');\n\n  const propertyBlock = p.property ? `\n    <tr><td class=\"inner-pad\" style=\"padding:16px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          ${p.property.thumbnail ? `<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:16px;\"><tr><td><img src=\"${p.property.thumbnail}\" alt=\"Propiedad\" width=\"540\" style=\"display:block;width:100%;max-width:540px;height:auto;border-radius:2px;margin:0 auto;\" /></td></tr></table>` : ''}\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 4px 0;\">Propiedad</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.35;\">${p.property.direccion || ''}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const bottomBlock = p.bottom ? `\n    <tr><td class=\"inner-pad\" style=\"padding:20px 44px 0 44px;background-color:#ffffff;\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n        <tr><td class=\"data-body\" style=\"padding:24px 28px;\">\n          <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:3px;text-transform:uppercase;font-weight:bold;margin:0 0 8px 0;\">${p.bottom.label}</p>\n          <p style=\"font-family:Georgia,serif;font-size:18px;color:#0F1715;margin:0;line-height:1.4;\">${p.bottom.text}</p>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n\n  const ctaBlock = p.ctaTel ? `\n    <tr><td align=\"center\" style=\"padding:24px 44px 4px 44px;background-color:#ffffff;\">\n      <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:11px;letter-spacing:2px;text-transform:uppercase;font-weight:bold;color:#4A7A66;margin:0;\">\n        <a href=\"tel:${p.ctaTel.replace(/\\s/g,'')}\" style=\"color:${accentDark};text-decoration:none;border-bottom:1px solid ${accent};padding-bottom:2px;\">${p.ctaLabel || 'Contactar · ' + p.ctaTel}</a>\n      </p>\n    </td></tr>` : '';\n\n  const quote = p.quote !== null\n    ? `<tr><td align=\"center\" style=\"padding:30px 56px 24px 56px;background-color:#ffffff;\">\n        <p style=\"font-family:Georgia,serif;font-size:19px;font-style:italic;color:${accentDark};line-height:1.5;margin:0;\">${p.quote || '&ldquo;Cada propiedad es una oportunidad,<br/>cada cliente, una historia<br/>que merece la mejor decisión.&rdquo;'}</p>\n      </td></tr>`\n    : '';\n\n  const footerNote = p.footerNote || 'Este correo se generó automáticamente.';\n\n  return `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\"><head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n<meta name=\"color-scheme\" content=\"light only\" />\n<title>${p.subject || 'Simarro Properties'}</title>\n<style type=\"text/css\">\nbody { margin:0; padding:0; background-color:${heroBg}; font-family:Arial,Helvetica,sans-serif; }\ntable { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }\nimg { display:block; border:0; height:auto; outline:none; text-decoration:none; }\n@media only screen and (max-width:620px) { .outer{width:100%!important;} .inner-pad{padding:24px 20px!important;} .head-title{font-size:32px!important;} .hero-cell{height:240px!important;} .hero-logo{width:200px!important;} .data-body{padding:20px!important;} .footer-pad{padding:28px 20px!important;} }\n</style></head>\n<body style=\"margin:0;padding:0;background-color:${heroBg};font-family:Arial,Helvetica,sans-serif;\">\n<center style=\"width:100%;background-color:${heroBg};padding:32px 0;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"outer\" style=\"width:100%;max-width:620px;background-color:#ffffff;border-radius:6px;overflow:hidden;box-shadow:0 20px 60px -20px rgba(0,0,0,0.55);\">\n<tr><td style=\"background-color:${headerTagBg};padding:14px 32px;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>\n    <td style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;letter-spacing:4px;color:${headerTagFg};text-transform:uppercase;font-weight:bold;\">Inmobiliaria &amp; Inversión</td>\n    <td align=\"right\" style=\"font-family:Georgia,serif;font-size:11px;font-style:italic;color:#4A7A66;letter-spacing:2px;\">${p.kickerTop || ''}</td>\n  </tr></table>\n</td></tr>\n<tr><td class=\"hero-cell\" align=\"center\" valign=\"middle\" bgcolor=\"${heroBg}\" height=\"300\" style=\"height:300px;background-image:url('${headerImg}');background-position:center top;background-repeat:no-repeat;background-size:contain;background-color:${heroBg};padding:24px 0;\">\n  <div style=\"position:relative;width:100%;height:300px;\">\n    <div style=\"position:absolute;left:0;right:0;top:50%;margin-top:-34px;height:68px;background-color:rgba(10,21,18,0.78);font-size:1px;line-height:1px;\">&nbsp;</div>\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"width:100%;height:300px;position:relative;z-index:2;\"><tr>\n      <td align=\"center\" valign=\"middle\" height=\"300\" style=\"height:300px;\">\n        <img class=\"hero-logo\" src=\"${logoImg}\" alt=\"Simarro Properties\" width=\"300\" style=\"display:block;width:300px;max-width:60%;height:auto;margin:0 auto;\" />\n      </td>\n    </tr></table>\n  </div>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:32px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 12px;font-family:Georgia,serif;font-size:11px;font-style:italic;color:${accentDark};letter-spacing:3px;text-transform:uppercase;\">Inmobiliaria de inversión</td>\n    <td style=\"width:40px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#4A7A66;letter-spacing:5px;text-transform:uppercase;font-weight:bold;margin:0 0 10px 0;\">${p.kicker || ''}</p>\n  <h1 class=\"head-title\" style=\"font-family:Georgia,serif;font-size:42px;font-weight:normal;color:#0F1715;margin:0;line-height:1.05;letter-spacing:-1px;\">${p.headline || ''}</h1>\n</td></tr>\n<tr><td align=\"center\" class=\"inner-pad\" style=\"padding:18px 56px 0 56px;background-color:#ffffff;\">\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.7;color:#3F5651;margin:0;\">${p.intro || ''}</p>\n</td></tr>\n${dataRows ? `<tr><td class=\"inner-pad\" style=\"padding:24px 44px 0 44px;background-color:#ffffff;\">\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:${accentLight};border-radius:2px;border-left:3px solid ${accent};\">\n    <tr><td class=\"data-body\" style=\"padding:24px 28px;\">${dataRows}</td></tr>\n  </table>\n</td></tr>` : ''}\n${propertyBlock}\n${bottomBlock}\n${ctaBlock}\n${quote}\n<tr><td align=\"center\" class=\"footer-pad\" style=\"background-color:${headerTagBg};padding:36px 44px;\">\n  <p style=\"font-family:Georgia,serif;font-size:28px;font-style:italic;color:#FFFFFF;margin:0;letter-spacing:0.5px;\">Simarro <span style=\"color:${accent};font-style:italic;\">Properties</span></p>\n  <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0;\"><tr>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n    <td style=\"padding:0 10px;font-family:Georgia,serif;font-size:10px;color:#4A7A66;\">&diams;</td>\n    <td style=\"width:28px;height:1px;background-color:${accent};font-size:1px;\">&nbsp;</td>\n  </tr></table>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4A7A66;letter-spacing:1px;margin:0 0 6px 0;\">Inmobiliaria &amp; Inversión</p>\n  <p style=\"margin:0;\"><a href=\"https://simarroproperties.com\" target=\"_blank\" style=\"font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;text-decoration:none;font-weight:bold;letter-spacing:2px;text-transform:uppercase;border-bottom:1px solid ${accent};padding-bottom:2px;\">www.simarroproperties.com</a></p>\n  <p style=\"font-family:Arial,Helvetica,sans-serif;font-size:10px;color:${accent};letter-spacing:2px;text-transform:uppercase;margin:18px 0 0 0;line-height:1.7;\">${footerNote}</p>\n</td></tr>\n</table></center></body></html>`;\n}\n\n\nconst c = $('Code in JavaScript').item.json;\nconst html = buildEmail({\n  subject: 'Tu visita en Simarro Properties — agente asignado',\n  kickerTop: 'Visita confirmada',\n  kicker: 'Agente asignado',\n  headline: `Ya tienes <em style=\"font-style:italic;color:#0F4A38;\">acompañante</em><br/>para la visita.`,\n  intro: `Hola <strong style=\"color:#0F1715;\">${c.nombreLimpio || 'cliente'}</strong>. Te presentamos a tu asesor personal en Simarro Properties. Será tu punto de contacto para acompañarte durante la visita.`,\n  dataBlocks: [\n    { label: 'Fecha & Hora', value: c.diaPreferenciaFechaFormateada || '', big: true },\n    { label: 'Tu agente',    value: (c.agente || 'Por confirmar'), big: true },\n  ],\n  property: c.direccion ? { direccion: c.direccion, thumbnail: null } : null,\n  bottom: { label: 'Te esperamos', text: 'Cualquier duda antes de la visita, escríbenos o llámanos. Si necesitas cambiar la cita, avísanos con al menos 6 horas de antelación.' },\n  ctaTel: '+34 910 054 675',\n  ctaLabel: 'Contactar con tu agente · 910 054 675',\n  footerNote: 'Este correo se generó automáticamente al asignar agente.'\n});\nreturn [{ json: { html, subject: 'Tu visita en Simarro Properties — agente asignado' } }];\n"},"id":"729effbc-7fa0-4565-8d7c-d0e78eb5fd3b","name":"Build Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,0]}],"connections":{"Webhook":{"main":[[{"node":"Es Especialista Asignado?","type":"main","index":0}]]},"Es Especialista Asignado?":{"main":[[{"node":"Get list of leads","type":"main","index":0}]]},"Get list of leads":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create an event","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"Buscar evento primary","type":"main","index":0}]]},"Buscar evento primary":{"main":[[{"node":"Eliminar evento primary","type":"main","index":0}]]},"Eliminar evento primary":{"main":[[{"node":"Create new tasks","type":"main","index":0}]]},"Create new tasks":{"main":[[{"node":"Build Email HTML","type":"main","index":0}]]},"Build Email HTML":{"main":[[{"node":"Send Confirmation Email","type":"main","index":0}]]},"Send Confirmation Email":{"main":[[]]}},"authors":"agentesia madrid","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-26T13:56:47.842Z","id":790,"workflowId":"YGnefIXAKNJMZTw3","versionId":"1673d3c4-8448-4364-86a3-8be735e35edc","event":"deactivated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"},{"createdAt":"2026-05-26T13:56:47.855Z","id":791,"workflowId":"YGnefIXAKNJMZTw3","versionId":"1673d3c4-8448-4364-86a3-8be735e35edc","event":"activated","userId":"e11c9a81-3802-42a8-8b75-5d3028942946"}]}}