knowledge/projects/agentesia/n8n-backups/facturaia/migracion-20260515-1411/error-handler-ZvUo75zwvjN7B2MM.json
{"updatedAt":"2026-04-27T23:26:33.932Z","createdAt":"2026-04-27T23:25:53.346Z","id":"ZvUo75zwvjN7B2MM","name":"Error Handler","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-160,80],"name":"Error Trigger","id":"2e5c6d29-a956-4eaa-bd99-5b33af077ab8"},{"parameters":{"assignments":{"assignments":[{"id":"f1000000-0000-0000-0000-000000000001","name":"cliente","value":"Laserys Las Rozas","type":"string"},{"id":"f1000000-0000-0000-0000-000000000002","name":"workflow_name","value":"={{ $json.workflow.name }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000003","name":"workflow_id","value":"={{ $json.workflow.id }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000004","name":"execution_id","value":"={{ $json.execution.id }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000005","name":"execution_url","value":"={{ $json.execution.url }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000006","name":"error_node","value":"={{ $json.execution.lastNodeExecuted }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000007","name":"error_message","value":"={{ $json.execution.error.message || 'Sin mensaje de error' }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000008","name":"error_stack","value":"={{ ($json.execution.error.stack || '').toString().substring(0, 500) }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000009","name":"timestamp","value":"={{ $now.setZone('Europe/Madrid').toFormat('dd/MM/yyyy HH:mm:ss') }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000010","name":"dedupe_key","value":"={{ $json.workflow.id }}_{{ $json.execution.lastNodeExecuted }}_{{ $now.toFormat('yyyyMMddHHmm').slice(0, -1) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,80],"name":"Preparar contexto","id":"ab117424-7ab3-4e2d-86d4-9e59375f4c6d"},{"parameters":{"method":"POST","url":"https://n8n-borja.tecnocloud.es/webhook/incidencia","sendBody":true,"specifyBody":"json","jsonBody":"={                                                                                                                                                                                 \n    \"cliente\": \"pro-facturaia\",\n    \"workflow\": {                                                                                                                                                                   \n      \"name\": \"{{ $json.workflow_name }}\",\n      \"id\": \"{{ $json.workflow_id }}\"                                                                                                                                               \n    },                                                                                                                                                                              \n    \"node\": {\n      \"name\": \"{{ $json.error_node }}\"                                                                                                                                              \n    },                                                  \n    \"error\": {\n      \"message\": \"{{ $json.error_message }}\",\n      \"stack\": \"{{ $json.error_stack }}\"\n    },                                                                                                                                                                              \n    \"execution\": {\n      \"id\": \"{{ $json.execution_id }}\",                                                                                                                                             \n      \"url\": \"{{ $json.execution_url }}\"                \n    }                                                                                                                                                                               \n  }","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[272,80],"id":"4b097cc2-dd82-4735-ad71-8634bae1fec4","name":"HTTP Request"}],"connections":{"Error Trigger":{"main":[[{"node":"Preparar contexto","type":"main","index":0}]]},"Preparar contexto":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"d74a9b4c-cf6c-43a1-9adc-8171c48d4060","activeVersionId":"d74a9b4c-cf6c-43a1-9adc-8171c48d4060","versionCounter":9,"triggerCount":0,"shared":[{"updatedAt":"2026-04-27T23:25:53.346Z","createdAt":"2026-04-27T23:25:53.346Z","role":"workflow:owner","workflowId":"ZvUo75zwvjN7B2MM","projectId":"RiGU51nbyL5mySOC","project":{"updatedAt":"2026-04-05T14:41:05.056Z","createdAt":"2026-04-05T14:33:44.853Z","id":"RiGU51nbyL5mySOC","name":"Manuel del Monte <m.delmonte.p@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"a6929b3e-acf1-4b4a-a209-5292788f81b4"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-27T23:26:46.373Z","createdAt":"2026-04-27T23:26:33.934Z","versionId":"d74a9b4c-cf6c-43a1-9adc-8171c48d4060","workflowId":"ZvUo75zwvjN7B2MM","nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-160,80],"name":"Error Trigger","id":"2e5c6d29-a956-4eaa-bd99-5b33af077ab8"},{"parameters":{"assignments":{"assignments":[{"id":"f1000000-0000-0000-0000-000000000001","name":"cliente","value":"Laserys Las Rozas","type":"string"},{"id":"f1000000-0000-0000-0000-000000000002","name":"workflow_name","value":"={{ $json.workflow.name }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000003","name":"workflow_id","value":"={{ $json.workflow.id }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000004","name":"execution_id","value":"={{ $json.execution.id }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000005","name":"execution_url","value":"={{ $json.execution.url }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000006","name":"error_node","value":"={{ $json.execution.lastNodeExecuted }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000007","name":"error_message","value":"={{ $json.execution.error.message || 'Sin mensaje de error' }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000008","name":"error_stack","value":"={{ ($json.execution.error.stack || '').toString().substring(0, 500) }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000009","name":"timestamp","value":"={{ $now.setZone('Europe/Madrid').toFormat('dd/MM/yyyy HH:mm:ss') }}","type":"string"},{"id":"f1000000-0000-0000-0000-000000000010","name":"dedupe_key","value":"={{ $json.workflow.id }}_{{ $json.execution.lastNodeExecuted }}_{{ $now.toFormat('yyyyMMddHHmm').slice(0, -1) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,80],"name":"Preparar contexto","id":"ab117424-7ab3-4e2d-86d4-9e59375f4c6d"},{"parameters":{"method":"POST","url":"https://n8n-borja.tecnocloud.es/webhook/incidencia","sendBody":true,"specifyBody":"json","jsonBody":"={                                                                                                                                                                                 \n    \"cliente\": \"pro-facturaia\",\n    \"workflow\": {                                                                                                                                                                   \n      \"name\": \"{{ $json.workflow_name }}\",\n      \"id\": \"{{ $json.workflow_id }}\"                                                                                                                                               \n    },                                                                                                                                                                              \n    \"node\": {\n      \"name\": \"{{ $json.error_node }}\"                                                                                                                                              \n    },                                                  \n    \"error\": {\n      \"message\": \"{{ $json.error_message }}\",\n      \"stack\": \"{{ $json.error_stack }}\"\n    },                                                                                                                                                                              \n    \"execution\": {\n      \"id\": \"{{ $json.execution_id }}\",                                                                                                                                             \n      \"url\": \"{{ $json.execution_url }}\"                \n    }                                                                                                                                                                               \n  }","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[272,80],"id":"4b097cc2-dd82-4735-ad71-8634bae1fec4","name":"HTTP Request"}],"connections":{"Error Trigger":{"main":[[{"node":"Preparar contexto","type":"main","index":0}]]},"Preparar contexto":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"authors":"Manuel del Monte","name":"Version d74a9b4c","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-27T23:26:46.371Z","id":210,"workflowId":"ZvUo75zwvjN7B2MM","versionId":"d74a9b4c-cf6c-43a1-9adc-8171c48d4060","event":"activated","userId":"a6929b3e-acf1-4b4a-a209-5292788f81b4"}]}}