knowledge/projects/agentesia/n8n-backups/facturaia/migracion-20260515-1411/ocr-factura-zf2la2N2YBXKQNKk.json
{"updatedAt":"2026-05-12T16:50:05.556Z","createdAt":"2026-04-19T14:23:19.672Z","id":"zf2la2N2YBXKQNKk","name":"FacturaIA - OCR Factura","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"factura-ocr","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,300],"id":"webhook-1","name":"Webhook OCR","webhookId":"factura-ocr"},{"parameters":{"jsCode":"const body = $(\"Webhook OCR\").first().json.body;\nconst b64 = body.file_base64;\nconst mime = body.mime_type || \"image/jpeg\";\nconst orgNombre = body.org_nombre || \"\";\n\nlet promptContext = \"\";\nif (orgNombre) {\n  promptContext = \"IMPORTANTE: La empresa que sube esta factura es \\\"\" + orgNombre + \"\\\". Esta empresa es el CLIENTE/RECEPTOR de la factura. El proveedor/emisor es la OTRA empresa que aparece en el documento. No confundas receptor con emisor.\\n\\n\";\n}\n\nconst prompt = promptContext + \"Extrae los datos de esta factura y devuelve SOLO un JSON valido (sin markdown, sin ```json, sin texto adicional) con esta estructura exacta:\\n{\\n  \\\"prov\\\": \\\"nombre del proveedor o emisor de la factura (NO el receptor/cliente)\\\",\\n  \\\"nif\\\": \\\"NIF o CIF del emisor/proveedor\\\",\\n  \\\"direccion\\\": \\\"direccion fiscal del emisor/proveedor\\\",\\n  \\\"cp\\\": \\\"codigo postal del emisor/proveedor\\\",\\n  \\\"ciudad\\\": \\\"ciudad del emisor/proveedor\\\",\\n  \\\"pais\\\": \\\"pais del emisor/proveedor (codigo ISO 2 letras, ej: ES)\\\",\\n  \\\"telefono\\\": \\\"telefono del emisor/proveedor\\\",\\n  \\\"email\\\": \\\"email del emisor/proveedor\\\",\\n  \\\"num_factura\\\": \\\"numero de factura tal como aparece en el documento\\\",\\n  \\\"fecha\\\": \\\"YYYY-MM-DD\\\",\\n  \\\"vto\\\": \\\"YYYY-MM-DD o null si no hay fecha de vencimiento\\\",\\n  \\\"base\\\": 0.00,\\n  \\\"iva\\\": 0.00,\\n  \\\"iva_pct\\\": 21,\\n  \\\"irpf_pct\\\": 0,\\n  \\\"descuento_pct\\\": 0,\\n  \\\"total\\\": 0.00,\\n  \\\"categoria\\\": \\\"una de: Suministros, Alquiler, Software, Material, Servicios, Personal, Seguros, Fiscal, Otros\\\",\\n  \\\"conceptos\\\": [\\\"concepto1\\\", \\\"concepto2\\\"],\\n  \\\"forma_pago\\\": \\\"Transferencia, Domiciliacion, Tarjeta, Efectivo, o como aparezca\\\",\\n  \\\"iban\\\": \\\"numero IBAN si aparece en la factura\\\",\\n  \\\"moneda\\\": \\\"codigo ISO moneda, ej: EUR, USD\\\",\\n  \\\"confianza\\\": 0.95\\n}\\nDevuelve solo los campos que encuentres en la factura. Omite los que no aparezcan. Si no puedes extraer un campo numerico, pon 0. Si no puedes extraer un campo de texto, omitelo.\";\n\nconst content = [];\n\nif (mime === \"application/pdf\") {\n  content.push({\n    type: \"file\",\n    file: {\n      filename: body.nombre_archivo || \"factura.pdf\",\n      file_data: \"data:application/pdf;base64,\" + b64\n    }\n  });\n} else {\n  content.push({\n    type: \"image_url\",\n    image_url: {\n      url: \"data:\" + mime + \";base64,\" + b64\n    }\n  });\n}\n\ncontent.push({ type: \"text\", text: prompt });\n\nreturn [{\n  json: {\n    bandeja_id: body.bandeja_id,\n    org_id: body.org_id,\n    nombre_archivo: body.nombre_archivo,\n    openai_body: {\n      model: \"gpt-4o-mini\",\n      max_tokens: 1024,\n      messages: [{ role: \"user\", content: content }]\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"id":"build-body-1","name":"Construir request"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$env.OPENAI_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.openai_body) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,300],"id":"openai-1","name":"OpenAI Vision OCR"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst text = response.choices?.[0]?.message?.content || \"{}\";\n\nconst prev = $(\"Construir request\").first().json;\n\nlet datos;\ntry {\n  let clean = text.trim();\n  if (clean.startsWith(\"```\")) {\n    clean = clean.replace(/^```[a-z]*\\n?/, \"\").replace(/\\n?```$/, \"\");\n  }\n  datos = JSON.parse(clean);\n} catch(e) {\n  datos = {\n    prov: null,\n    nif: null,\n    direccion: null,\n    cp: null,\n    ciudad: null,\n    pais: null,\n    telefono: null,\n    email: null,\n    num_factura: null,\n    fecha: null,\n    vto: null,\n    base: 0,\n    iva: 0,\n    iva_pct: 21,\n    irpf_pct: 0,\n    descuento_pct: 0,\n    total: 0,\n    categoria: \"Otros\",\n    conceptos: [],\n    forma_pago: null,\n    iban: null,\n    moneda: \"EUR\",\n    confianza: 0\n  };\n}\n\nreturn [{\n  json: {\n    bandeja_id: prev.bandeja_id,\n    org_id: prev.org_id,\n    datos_extraidos: datos\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[940,300],"id":"code-1","name":"Parsear respuesta"},{"parameters":{"method":"PATCH","url":"=https://lahqlyaxvobqjgdiftag.supabase.co/rest/v1/bandeja_ingesta?id=eq.{{ $json.bandeja_id }}","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"},{"name":"Authorization","value":"Bearer [REDACTED-JWT_LIKE]"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"estado\": \"listo\",\n  \"progreso\": 100,\n  \"datos_extraidos\": {{ JSON.stringify($json.datos_extraidos) }},\n  \"emisor\": {{ JSON.stringify($json.datos_extraidos.prov || null) }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,300],"id":"update-1","name":"Actualizar Bandeja"}],"connections":{"Webhook OCR":{"main":[[{"node":"Construir request","type":"main","index":0}]]},"Construir request":{"main":[[{"node":"OpenAI Vision OCR","type":"main","index":0}]]},"OpenAI Vision OCR":{"main":[[{"node":"Parsear respuesta","type":"main","index":0}]]},"Parsear respuesta":{"main":[[{"node":"Actualizar Bandeja","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"2583b516-c80e-4544-8c0f-78bc9e3ff614","activeVersionId":"2583b516-c80e-4544-8c0f-78bc9e3ff614","versionCounter":60,"triggerCount":1,"shared":[{"updatedAt":"2026-04-19T14:23:19.672Z","createdAt":"2026-04-19T14:23:19.672Z","role":"workflow:owner","workflowId":"zf2la2N2YBXKQNKk","projectId":"RiGU51nbyL5mySOC","project":{"updatedAt":"2026-04-05T14:41:05.056Z","createdAt":"2026-04-05T14:33:44.853Z","id":"RiGU51nbyL5mySOC","name":"Manuel del Monte <m.delmonte.p@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"a6929b3e-acf1-4b4a-a209-5292788f81b4"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-12T16:50:05.557Z","createdAt":"2026-05-12T16:50:05.557Z","versionId":"2583b516-c80e-4544-8c0f-78bc9e3ff614","workflowId":"zf2la2N2YBXKQNKk","nodes":[{"parameters":{"httpMethod":"POST","path":"factura-ocr","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,300],"id":"webhook-1","name":"Webhook OCR","webhookId":"factura-ocr"},{"parameters":{"jsCode":"const body = $(\"Webhook OCR\").first().json.body;\nconst b64 = body.file_base64;\nconst mime = body.mime_type || \"image/jpeg\";\nconst orgNombre = body.org_nombre || \"\";\n\nlet promptContext = \"\";\nif (orgNombre) {\n  promptContext = \"IMPORTANTE: La empresa que sube esta factura es \\\"\" + orgNombre + \"\\\". Esta empresa es el CLIENTE/RECEPTOR de la factura. El proveedor/emisor es la OTRA empresa que aparece en el documento. No confundas receptor con emisor.\\n\\n\";\n}\n\nconst prompt = promptContext + \"Extrae los datos de esta factura y devuelve SOLO un JSON valido (sin markdown, sin ```json, sin texto adicional) con esta estructura exacta:\\n{\\n  \\\"prov\\\": \\\"nombre del proveedor o emisor de la factura (NO el receptor/cliente)\\\",\\n  \\\"nif\\\": \\\"NIF o CIF del emisor/proveedor\\\",\\n  \\\"direccion\\\": \\\"direccion fiscal del emisor/proveedor\\\",\\n  \\\"cp\\\": \\\"codigo postal del emisor/proveedor\\\",\\n  \\\"ciudad\\\": \\\"ciudad del emisor/proveedor\\\",\\n  \\\"pais\\\": \\\"pais del emisor/proveedor (codigo ISO 2 letras, ej: ES)\\\",\\n  \\\"telefono\\\": \\\"telefono del emisor/proveedor\\\",\\n  \\\"email\\\": \\\"email del emisor/proveedor\\\",\\n  \\\"num_factura\\\": \\\"numero de factura tal como aparece en el documento\\\",\\n  \\\"fecha\\\": \\\"YYYY-MM-DD\\\",\\n  \\\"vto\\\": \\\"YYYY-MM-DD o null si no hay fecha de vencimiento\\\",\\n  \\\"base\\\": 0.00,\\n  \\\"iva\\\": 0.00,\\n  \\\"iva_pct\\\": 21,\\n  \\\"irpf_pct\\\": 0,\\n  \\\"descuento_pct\\\": 0,\\n  \\\"total\\\": 0.00,\\n  \\\"categoria\\\": \\\"una de: Suministros, Alquiler, Software, Material, Servicios, Personal, Seguros, Fiscal, Otros\\\",\\n  \\\"conceptos\\\": [\\\"concepto1\\\", \\\"concepto2\\\"],\\n  \\\"forma_pago\\\": \\\"Transferencia, Domiciliacion, Tarjeta, Efectivo, o como aparezca\\\",\\n  \\\"iban\\\": \\\"numero IBAN si aparece en la factura\\\",\\n  \\\"moneda\\\": \\\"codigo ISO moneda, ej: EUR, USD\\\",\\n  \\\"confianza\\\": 0.95\\n}\\nDevuelve solo los campos que encuentres en la factura. Omite los que no aparezcan. Si no puedes extraer un campo numerico, pon 0. Si no puedes extraer un campo de texto, omitelo.\";\n\nconst content = [];\n\nif (mime === \"application/pdf\") {\n  content.push({\n    type: \"file\",\n    file: {\n      filename: body.nombre_archivo || \"factura.pdf\",\n      file_data: \"data:application/pdf;base64,\" + b64\n    }\n  });\n} else {\n  content.push({\n    type: \"image_url\",\n    image_url: {\n      url: \"data:\" + mime + \";base64,\" + b64\n    }\n  });\n}\n\ncontent.push({ type: \"text\", text: prompt });\n\nreturn [{\n  json: {\n    bandeja_id: body.bandeja_id,\n    org_id: body.org_id,\n    nombre_archivo: body.nombre_archivo,\n    openai_body: {\n      model: \"gpt-4o-mini\",\n      max_tokens: 1024,\n      messages: [{ role: \"user\", content: content }]\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"id":"build-body-1","name":"Construir request"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$env.OPENAI_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.openai_body) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,300],"id":"openai-1","name":"OpenAI Vision OCR"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst text = response.choices?.[0]?.message?.content || \"{}\";\n\nconst prev = $(\"Construir request\").first().json;\n\nlet datos;\ntry {\n  let clean = text.trim();\n  if (clean.startsWith(\"```\")) {\n    clean = clean.replace(/^```[a-z]*\\n?/, \"\").replace(/\\n?```$/, \"\");\n  }\n  datos = JSON.parse(clean);\n} catch(e) {\n  datos = {\n    prov: null,\n    nif: null,\n    direccion: null,\n    cp: null,\n    ciudad: null,\n    pais: null,\n    telefono: null,\n    email: null,\n    num_factura: null,\n    fecha: null,\n    vto: null,\n    base: 0,\n    iva: 0,\n    iva_pct: 21,\n    irpf_pct: 0,\n    descuento_pct: 0,\n    total: 0,\n    categoria: \"Otros\",\n    conceptos: [],\n    forma_pago: null,\n    iban: null,\n    moneda: \"EUR\",\n    confianza: 0\n  };\n}\n\nreturn [{\n  json: {\n    bandeja_id: prev.bandeja_id,\n    org_id: prev.org_id,\n    datos_extraidos: datos\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[940,300],"id":"code-1","name":"Parsear respuesta"},{"parameters":{"method":"PATCH","url":"=https://lahqlyaxvobqjgdiftag.supabase.co/rest/v1/bandeja_ingesta?id=eq.{{ $json.bandeja_id }}","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"},{"name":"Authorization","value":"Bearer [REDACTED-JWT_LIKE]"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"estado\": \"listo\",\n  \"progreso\": 100,\n  \"datos_extraidos\": {{ JSON.stringify($json.datos_extraidos) }},\n  \"emisor\": {{ JSON.stringify($json.datos_extraidos.prov || null) }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,300],"id":"update-1","name":"Actualizar Bandeja"}],"connections":{"Webhook OCR":{"main":[[{"node":"Construir request","type":"main","index":0}]]},"Construir request":{"main":[[{"node":"OpenAI Vision OCR","type":"main","index":0}]]},"OpenAI Vision OCR":{"main":[[{"node":"Parsear respuesta","type":"main","index":0}]]},"Parsear respuesta":{"main":[[{"node":"Actualizar Bandeja","type":"main","index":0}]]}},"authors":"Manuel del Monte","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-12T16:50:05.590Z","id":273,"workflowId":"zf2la2N2YBXKQNKk","versionId":"2583b516-c80e-4544-8c0f-78bc9e3ff614","event":"deactivated","userId":"a6929b3e-acf1-4b4a-a209-5292788f81b4"},{"createdAt":"2026-05-12T16:50:05.602Z","id":274,"workflowId":"zf2la2N2YBXKQNKk","versionId":"2583b516-c80e-4544-8c0f-78bc9e3ff614","event":"activated","userId":"a6929b3e-acf1-4b4a-a209-5292788f81b4"}]}}