knowledge/projects/agentesia/n8n-backups/facturaia/migracion-20260515-1411/voice-process-KVk45rJARQk0EKaF.json
{"updatedAt":"2026-04-27T23:31:21.500Z","createdAt":"2026-04-25T10:56:37.711Z","id":"KVk45rJARQk0EKaF","name":"FacturaIA — Voice Process","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"vp-trigger","name":"Inicio Sub-workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst from = input.from;\nconst normalized = input.normalized_phone;\nconst phoneNumberId = input.phone_number_id;\nconst mediaId = input.media_id;\nconst mimeType = input.mime_type;\n\nconst SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\n\nconst resp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/organizations?settings-%3Ewhatsapp-%3E%3Ephone_number=eq.${normalized}&select=id,nombre`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`\n  },\n  json: true\n});\n\nif (!resp || resp.length === 0) {\n  return [{ json: { matched: false, from, normalized_phone: normalized, phone_number_id: phoneNumberId } }];\n}\n\nreturn [{ json: {\n  matched: true,\n  org_id: resp[0].id,\n  org_nombre: resp[0].nombre,\n  from,\n  normalized_phone: normalized,\n  phone_number_id: phoneNumberId,\n  media_id: mediaId,\n  mime_type: mimeType,\n  supabase_key: SUPABASE_KEY\n}}];"},"id":"vp-org-lookup","name":"Buscar Organizacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.matched }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"vp-org-matched","name":"Org Encontrada?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,0]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Buscar Organizacion').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Buscar Organizacion').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Este numero no esta registrado en FacturaIA.\" }\n}","options":{}},"id":"vp-reply-not-registered","name":"Responder No Registrado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,200],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}},"onError":"continueErrorOutput"},{"parameters":{"method":"GET","url":"=https://graph.facebook.com/v21.0/{{ $('Buscar Organizacion').first().json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"vp-get-media-url","name":"Obtener URL del Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-100],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}},"onError":"continueErrorOutput"},{"parameters":{"method":"GET","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"vp-download-media","name":"Descargar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,-100],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"name":"language","value":"es"},{"name":"response_format","value":"text"}]},"sendBinaryData":true,"binaryPropertyName":"data","inputDataFieldName":"file","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"vp-whisper","name":"Transcribir Audio (Whisper)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,-100],"onError":"continueErrorOutput","credentials":{"httpHeaderAuth":{"id":"WOzrOqEQGxQSDoY5","name":"OpenAI Bearer Token"}}},{"parameters":{"jsCode":"const whisperResult = $input.first().json;\nconst text = (typeof whisperResult === 'string' ? whisperResult : whisperResult.data || whisperResult.text || '').trim();\n\nreturn [{ json: {\n  transcription: text,\n  has_text: text.length > 5,\n  org_id: $('Buscar Organizacion').first().json.org_id,\n  org_nombre: $('Buscar Organizacion').first().json.org_nombre,\n  from: $('Buscar Organizacion').first().json.from,\n  normalized_phone: $('Buscar Organizacion').first().json.normalized_phone,\n  phone_number_id: $('Buscar Organizacion').first().json.phone_number_id,\n  supabase_key: $('Buscar Organizacion').first().json.supabase_key\n}}];"},"id":"vp-parse-whisper","name":"Parsear Transcripcion","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,-100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.has_text }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"vp-check-text","name":"Tiene Transcripcion?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1540,-100]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"No pude entender el audio. Intenta de nuevo hablando mas claro.\" }\n}","options":{}},"id":"vp-reply-bad-audio","name":"Responder Audio No Reconocido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,100],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"={{ $env.FACTURAIA_URL || 'https://facturaia.com' }}/api/voice/extract","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-service-key","value":"={{ $json.supabase_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $json.org_id }}\",\n  \"transcription\": {{ JSON.stringify($json.transcription) }},\n  \"phone\": \"{{ $json.normalized_phone }}\"\n}","options":{}},"id":"vp-extract","name":"Extraer Datos Factura (IA)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,-200],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const result = $input.first().json;\n\nif (!result.success) {\n  const errMsg = result.error || 'Error desconocido al extraer datos.';\n  return [{ json: { ok: false, error_text: errMsg } }];\n}\n\nreturn [{ json: {\n  ok: true,\n  data: result.data,\n  from: $('Parsear Transcripcion').first().json.from,\n  normalized_phone: $('Parsear Transcripcion').first().json.normalized_phone,\n  phone_number_id: $('Parsear Transcripcion').first().json.phone_number_id\n}}];"},"id":"vp-handle-extract","name":"Procesar Resultado Extraccion","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,-200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"vp-extract-ok","name":"Extraccion Exitosa?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2200,-200]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.error_text }}\" }\n}","options":{}},"id":"vp-reply-error","name":"Responder Error","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2420,0],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"operation":"set","key":"=voice:{{ $json.normalized_phone }}","value":"={{ JSON.stringify($json.data) }}","expire":true,"ttl":1800},"id":"vp-redis-set","name":"Redis Guardar Datos Extraidos","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2420,-300],"credentials":{"redis":{"id":"redis-cred","name":"Redis"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Procesar Resultado Extraccion').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Procesar Resultado Extraccion').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($('Procesar Resultado Extraccion').first().json.data.resumen) }} }\n}","options":{}},"id":"vp-reply-summary","name":"Enviar Resumen al Usuario","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,-300],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Procesar Resultado Extraccion').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Procesar Resultado Extraccion').first().json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": { \"text\": \"Confirmas este documento?\" },\n    \"action\": {\n      \"buttons\": [\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_confirm\", \"title\": \"Confirmar\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_correct\", \"title\": \"Corregir\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_cancel\", \"title\": \"Cancelar\" } }\n      ]\n    }\n  }\n}","options":{}},"id":"vp-reply-buttons","name":"Enviar Botones Confirmar/Corregir/Cancelar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2860,-300],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}}],"connections":{"Inicio Sub-workflow":{"main":[[{"node":"Buscar Organizacion","type":"main","index":0}]]},"Buscar Organizacion":{"main":[[{"node":"Org Encontrada?","type":"main","index":0}]]},"Org Encontrada?":{"main":[[{"node":"Obtener URL del Audio","type":"main","index":0}],[{"node":"Responder No Registrado","type":"main","index":0}]]},"Obtener URL del Audio":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Transcribir Audio (Whisper)","type":"main","index":0}]]},"Transcribir Audio (Whisper)":{"main":[[{"node":"Parsear Transcripcion","type":"main","index":0}]]},"Parsear Transcripcion":{"main":[[{"node":"Tiene Transcripcion?","type":"main","index":0}]]},"Tiene Transcripcion?":{"main":[[{"node":"Extraer Datos Factura (IA)","type":"main","index":0}],[{"node":"Responder Audio No Reconocido","type":"main","index":0}]]},"Extraer Datos Factura (IA)":{"main":[[{"node":"Procesar Resultado Extraccion","type":"main","index":0}]]},"Procesar Resultado Extraccion":{"main":[[{"node":"Extraccion Exitosa?","type":"main","index":0}]]},"Extraccion Exitosa?":{"main":[[{"node":"Redis Guardar Datos Extraidos","type":"main","index":0}],[{"node":"Responder Error","type":"main","index":0}]]},"Redis Guardar Datos Extraidos":{"main":[[{"node":"Enviar Resumen al Usuario","type":"main","index":0}]]},"Enviar Resumen al Usuario":{"main":[[{"node":"Enviar Botones Confirmar/Corregir/Cancelar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"16b9068a-086a-497b-885d-e173348614f8","activeVersionId":null,"versionCounter":29,"triggerCount":0,"shared":[{"updatedAt":"2026-04-25T10:56:37.711Z","createdAt":"2026-04-25T10:56:37.711Z","role":"workflow:owner","workflowId":"KVk45rJARQk0EKaF","projectId":"RiGU51nbyL5mySOC","project":{"updatedAt":"2026-04-05T14:41:05.056Z","createdAt":"2026-04-05T14:33:44.853Z","id":"RiGU51nbyL5mySOC","name":"Manuel del Monte <m.delmonte.p@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"a6929b3e-acf1-4b4a-a209-5292788f81b4"}}],"tags":[],"activeVersion":null}