knowledge/projects/agentesia/n8n-backups/facturaia/migracion-20260515-1411/whatsapp-verify-LlBeZfa2P6mg13wc.json
{"updatedAt":"2026-04-21T12:23:32.255Z","createdAt":"2026-04-21T12:23:32.255Z","id":"LlBeZfa2P6mg13wc","name":"FacturaIA — WhatsApp Verify","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"GET","path":"whatsapp-facturaia","responseMode":"responseNode","options":{}},"id":"a1b2c3d4-0001-4000-8000-000000000001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"wa-verify-001"},{"parameters":{"jsCode":"const query = $input.first().json.query || {};\nconst verifyToken = 'facturaia_wa_verify_2026';\n\nif (query['hub.mode'] === 'subscribe' && query['hub.verify_token'] === verifyToken) {\n  return [{ json: { challenge: query['hub.challenge'] } }];\n}\n\nreturn [{ json: { error: 'Invalid verify token' } }];"},"id":"a1b2c3d4-0001-4000-8000-000000000002","name":"Check Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.challenge }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/plain"}]}}},"id":"a1b2c3d4-0001-4000-8000-000000000003","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0]}],"connections":{"Webhook":{"main":[[{"node":"Check Token","type":"main","index":0}]]},"Check Token":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"0bad9e09-10dd-4131-8822-5a7e4521010c","activeVersionId":null,"versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-04-21T12:23:32.255Z","createdAt":"2026-04-21T12:23:32.255Z","role":"workflow:owner","workflowId":"LlBeZfa2P6mg13wc","projectId":"RiGU51nbyL5mySOC","project":{"updatedAt":"2026-04-05T14:41:05.056Z","createdAt":"2026-04-05T14:33:44.853Z","id":"RiGU51nbyL5mySOC","name":"Manuel del Monte <m.delmonte.p@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"a6929b3e-acf1-4b4a-a209-5292788f81b4"}}],"tags":[],"activeVersion":null}