knowledge/projects/agentesia/n8n-backups/facturaia/bUqAABW4ITLXFXIp_ocr-factura-ssot_2026-06-04.json
{"updatedAt":"2026-05-30T10:16:36.434Z","createdAt":"2026-05-15T14:23:07.895Z","id":"bUqAABW4ITLXFXIp","name":"FacturaIA - OCR Factura","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"factura-ocr","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,300],"id":"webhook-1","name":"Webhook OCR","webhookId":"factura-ocr"},{"parameters":{"jsCode":"// n8n Code node v3 — remap webhook → shape `media.*` esperado por\n// `/api/internal/whatsapp/ocr-process`. Firma HMAC v2 con\n// FACTURAIA_SIGNING_SECRET (vivo en env n8n desde 2026-05-30) — sustituye\n// al legacy `x-service-key`. El backend acepta v2 estrictamente y legacy\n// hasta `SIGNING_LEGACY_UNTIL` (2026-07-30); migramos aquí para cerrar el\n// agujero antes de la fecha.\n\nconst crypto = require('crypto');\n\nconst body = $('Webhook OCR').first().json.body || $input.first().json;\n\nconst orgId = body.org_id;\nconst orgNombre = body.org_nombre || '';\nconst facturaId = body.factura_id;\nconst bandejaId = body.bandeja_id;\nconst base64 = body.file_base64;\nconst mime = body.mime_type || 'application/octet-stream';\nconst filename = body.nombre_archivo || 'factura.pdf';\n\nif (!facturaId) {\n  throw new Error('OCR webhook: factura_id ausente — actualiza /api/upload (PR #103 ya mergeado) y verifica deploy Dokploy.');\n}\nif (!bandejaId) throw new Error('OCR webhook: bandeja_id ausente');\nif (!orgId) throw new Error('OCR webhook: org_id ausente');\nif (!base64) throw new Error('OCR webhook: file_base64 ausente');\n\nconst SIGNING_SECRET = $env.FACTURAIA_SIGNING_SECRET;\nif (!SIGNING_SECRET) {\n  throw new Error('OCR webhook: FACTURAIA_SIGNING_SECRET no disponible en env del container n8n. Verifica compose Dokploy.');\n}\n\nconst targetBody = JSON.stringify({\n  org_id: orgId,\n  org_nombre: orgNombre,\n  factura_id: facturaId,\n  bandeja_id: bandejaId,\n  media: { base64, mime, filename }\n});\n\nconst appUrl = ($env.APP_URL || 'https://app.tufacturaia.com').replace(/\\/$/, '');\nconst path = '/api/internal/whatsapp/ocr-process';\n\n// Firma v2: payload = `${t}.${METHOD}.${pathWithSearch}.${bodyHash}`\nconst t = Math.floor(Date.now() / 1000);\nconst bodyHash = crypto.createHash('sha256').update(targetBody, 'utf8').digest('hex');\nconst payload = `${t}.POST.${path}.${bodyHash}`;\nconst sig = crypto.createHmac('sha256', SIGNING_SECRET).update(payload, 'utf8').digest('hex');\nconst signatureHeader = `t=${t},v1=${sig}`;\n\nreturn [{ json: {\n  target_url: `${appUrl}${path}`,\n  signature_header: signatureHeader,\n  target_body: targetBody,\n  request_meta: { bandeja_id: bandejaId, factura_id: facturaId, org_id: orgId }\n}}];\n"},"id":"build-hmac-multidivisa-001","name":"Build HMAC Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"method":"POST","url":"={{ $json.target_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Service-Signature","value":"={{ $json.signature_header }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.target_body }}","options":{"timeout":60000}},"id":"call-ocr-process-001","name":"Call ocr-process (SSOT)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[700,300]}],"connections":{"Webhook OCR":{"main":[[{"node":"Build HMAC Request","type":"main","index":0}]]},"Build HMAC Request":{"main":[[{"node":"Call ocr-process (SSOT)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"3a429a15-7c9e-49c6-9f3b-1738a940e46b","activeVersionId":"3a429a15-7c9e-49c6-9f3b-1738a940e46b","versionCounter":29,"triggerCount":1,"shared":[{"updatedAt":"2026-05-15T14:23:07.895Z","createdAt":"2026-05-15T14:23:07.895Z","role":"workflow:owner","workflowId":"bUqAABW4ITLXFXIp","projectId":"UUy2j6TbtkLOkSB2","project":{"updatedAt":"2026-05-15T12:01:38.129Z","createdAt":"2026-05-14T12:18:17.402Z","id":"UUy2j6TbtkLOkSB2","name":"Manuel del Monte <m.delmonte.p@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"daa19c1f-b333-422c-b538-c9376a131006"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-30T10:16:36.436Z","createdAt":"2026-05-30T10:16:36.436Z","versionId":"3a429a15-7c9e-49c6-9f3b-1738a940e46b","workflowId":"bUqAABW4ITLXFXIp","nodes":[{"parameters":{"httpMethod":"POST","path":"factura-ocr","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,300],"id":"webhook-1","name":"Webhook OCR","webhookId":"factura-ocr"},{"parameters":{"jsCode":"// n8n Code node v3 — remap webhook → shape `media.*` esperado por\n// `/api/internal/whatsapp/ocr-process`. Firma HMAC v2 con\n// FACTURAIA_SIGNING_SECRET (vivo en env n8n desde 2026-05-30) — sustituye\n// al legacy `x-service-key`. El backend acepta v2 estrictamente y legacy\n// hasta `SIGNING_LEGACY_UNTIL` (2026-07-30); migramos aquí para cerrar el\n// agujero antes de la fecha.\n\nconst crypto = require('crypto');\n\nconst body = $('Webhook OCR').first().json.body || $input.first().json;\n\nconst orgId = body.org_id;\nconst orgNombre = body.org_nombre || '';\nconst facturaId = body.factura_id;\nconst bandejaId = body.bandeja_id;\nconst base64 = body.file_base64;\nconst mime = body.mime_type || 'application/octet-stream';\nconst filename = body.nombre_archivo || 'factura.pdf';\n\nif (!facturaId) {\n  throw new Error('OCR webhook: factura_id ausente — actualiza /api/upload (PR #103 ya mergeado) y verifica deploy Dokploy.');\n}\nif (!bandejaId) throw new Error('OCR webhook: bandeja_id ausente');\nif (!orgId) throw new Error('OCR webhook: org_id ausente');\nif (!base64) throw new Error('OCR webhook: file_base64 ausente');\n\nconst SIGNING_SECRET = $env.FACTURAIA_SIGNING_SECRET;\nif (!SIGNING_SECRET) {\n  throw new Error('OCR webhook: FACTURAIA_SIGNING_SECRET no disponible en env del container n8n. Verifica compose Dokploy.');\n}\n\nconst targetBody = JSON.stringify({\n  org_id: orgId,\n  org_nombre: orgNombre,\n  factura_id: facturaId,\n  bandeja_id: bandejaId,\n  media: { base64, mime, filename }\n});\n\nconst appUrl = ($env.APP_URL || 'https://app.tufacturaia.com').replace(/\\/$/, '');\nconst path = '/api/internal/whatsapp/ocr-process';\n\n// Firma v2: payload = `${t}.${METHOD}.${pathWithSearch}.${bodyHash}`\nconst t = Math.floor(Date.now() / 1000);\nconst bodyHash = crypto.createHash('sha256').update(targetBody, 'utf8').digest('hex');\nconst payload = `${t}.POST.${path}.${bodyHash}`;\nconst sig = crypto.createHmac('sha256', SIGNING_SECRET).update(payload, 'utf8').digest('hex');\nconst signatureHeader = `t=${t},v1=${sig}`;\n\nreturn [{ json: {\n  target_url: `${appUrl}${path}`,\n  signature_header: signatureHeader,\n  target_body: targetBody,\n  request_meta: { bandeja_id: bandejaId, factura_id: facturaId, org_id: orgId }\n}}];\n"},"id":"build-hmac-multidivisa-001","name":"Build HMAC Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"method":"POST","url":"={{ $json.target_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Service-Signature","value":"={{ $json.signature_header }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.target_body }}","options":{"timeout":60000}},"id":"call-ocr-process-001","name":"Call ocr-process (SSOT)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[700,300]}],"connections":{"Webhook OCR":{"main":[[{"node":"Build HMAC Request","type":"main","index":0}]]},"Build HMAC Request":{"main":[[{"node":"Call ocr-process (SSOT)","type":"main","index":0}]]}},"authors":"Manuel del Monte","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-30T10:16:36.476Z","id":189,"workflowId":"bUqAABW4ITLXFXIp","versionId":"3a429a15-7c9e-49c6-9f3b-1738a940e46b","event":"deactivated","userId":"daa19c1f-b333-422c-b538-c9376a131006"},{"createdAt":"2026-05-30T10:16:36.489Z","id":190,"workflowId":"bUqAABW4ITLXFXIp","versionId":"3a429a15-7c9e-49c6-9f3b-1738a940e46b","event":"activated","userId":"daa19c1f-b333-422c-b538-c9376a131006"}]}}