knowledge/projects/agentesia/n8n-backups/facturaia/t8vKCqIexZh9kAbR_Simple_MAIN_Llamadads.json
{"updatedAt":"2026-04-08T12:12:47.750Z","createdAt":"2026-04-05T14:41:55.087Z","id":"t8vKCqIexZh9kAbR","name":"Simple MAIN Llamadads","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"b1000001","name":"After","value":"={{ $json.body.args.After }}","type":"string"},{"id":"b1000002","name":"Before","value":"={{ $json.body.args.Before }}","type":"string"},{"id":"b1000003","name":"nombre","value":"={{ $json.body.args.name }}","type":"string"},{"id":"b1000004","name":"telefono","value":"={{ $json.body.args.phone }}","type":"string"},{"id":"b1000005","name":"servicio","value":"={{ $json.body.args.service_type }}","type":"string"},{"id":"b1000006","name":"fecha","value":"={{ $json.body.args.fecha }}","type":"string"},{"id":"b1000007","name":"hora","value":"={{ $json.body.args.hora }}","type":"string"},{"id":"b1000008","name":"duracion","value":"={{ $json.body.duracion || 60 }}","type":"number"},{"id":"b1000009","name":"notas/comentario","value":"={{ $json.body.args.nota_comentario }}","type":"string"},{"id":"b1000010","name":"nueva_fecha","value":"=","type":"string"},{"id":"6fb9c352-f0b9-4cbb-b873-afff5fccfd46","name":"accion","value":"={{ $json.body.name }}","type":"string"},{"id":"1166d96e-c65d-40bd-a344-5a456f3aac9b","name":"body.args.Modelo_coche","value":"={{ $json.body.args.Modelo_coche }}","type":"string"},{"id":"3ee29763-bc1f-4b33-b55e-8580930f71aa","name":"body.args.matricula","value":"={{ $json.body.args.matricula }}","type":"string"},{"id":"c4d45122-e581-4714-8043-daa9f84a352c","name":"body.args.motivo_consulta","value":"={{ $json.body.args.motivo_consulta }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,160],"id":"f6d96431-55f0-4f92-86a3-b20276aec199","name":"Normalizar Datos"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"Reservar","operator":{"type":"string","operation":"equals"},"id":"a3683f34-3775-42df-97df-5584f9b14bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"Reservar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"=Mirar_disponibilidad","operator":{"type":"string","operation":"equals"},"id":"b1e126a8-ba8d-4bd5-88fa-0e93c032fc66"}],"combinator":"and"},"renameOutput":true,"outputKey":"consultar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"cambiar","operator":{"type":"string","operation":"equals"},"id":"3879fc64-fc8f-4642-b5ab-871d5b94c3d0"}],"combinator":"and"},"renameOutput":true,"outputKey":"cambiar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals"},"id":"7873fbf5-288d-4696-bde3-c4948fd99413"}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-272,128],"id":"85fd115b-2d98-4b5d-8ce1-c9482caf3f22","name":"Switch Acción"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_50d350181c480b13a2e85d1a42fa07b9a6b074104ecb6f9a25b101c25bfbfc7c@group.calendar.google.com","mode":"list","cachedResultName":"Mecánico Rueda & Motor"},"returnAll":true,"timeMin":"={{ $json.After }}","timeMax":"={{ $json.Before }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[0,0],"id":"9f2053dc-358a-4f15-8041-02511ca9d0e6","name":"Check Disponibilidad","alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"gEQGZCp3fp4iKzuC","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const events = $input.all().map(i => i.json);\nconst datos = $('Normalizar Datos').first().json;\n\nconst hora = datos.hora;\nconst duracion = parseInt(datos.duracion) || 60;\nconst fechaDeseada = datos.fecha; // ej: \"2026-03-27\"\n\nconst [h, m] = hora.split(':').map(Number);\nconst inicioDeseado = h * 60 + m;\nconst finDeseado = inicioDeseado + duracion;\n\nlet conflicto = false;\n\nfor (const ev of events) {\n  if (!ev.start || !ev.start.dateTime) continue;\n\n  // ✅ Filtrar solo eventos del mismo día\n  const fechaEvento = ev.start.dateTime.split('T')[0];\n  if (fechaEvento !== fechaDeseada) continue;\n\n  const s = new Date(ev.start.dateTime);\n  const e = new Date(ev.end.dateTime);\n\n  const ini = s.getHours() * 60 + s.getMinutes();\n  // Si end === start (duración 0), asumir duración mínima del servicio\n  const fin = (e.getTime() === s.getTime()) \n    ? ini + duracion \n    : e.getHours() * 60 + e.getMinutes();\n\n  if (inicioDeseado < fin && finDeseado > ini) {\n    conflicto = true;\n    break;\n  }\n}\n\nreturn [{ json: { disponible: !conflicto } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"245e3de8-a430-4492-b716-f47b5611707a","name":"Verificar Conflicto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.disponible }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"8ac62b6b-16ee-45c5-a7a8-29cd7ba5f61b"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,0],"id":"66592224-49d3-4d83-9506-a5093b8b1e5a","name":"IF Disponible"},{"parameters":{"calendar":{"__rl":true,"value":"c_50d350181c480b13a2e85d1a42fa07b9a6b074104ecb6f9a25b101c25bfbfc7c@group.calendar.google.com","mode":"list","cachedResultName":"Mecánico Rueda & Motor"},"start":"={{ $('Normalizar Datos').first().json.fecha + 'T' + $('Normalizar Datos').first().json.hora + ':00' }}","end":"={{ new Date(new Date($('Normalizar Datos').first().json.fecha + 'T' + $('Normalizar Datos').first().json.hora + ':00').getTime() + $('Normalizar Datos').first().json.duracion * 60000).toISOString().slice(0, 19) }}","additionalFields":{"description":"=Tel: {{ $('Normalizar Datos').first().json.telefono }}\nServicio: {{ $('Switch Acción').item.json.body.args.motivo_consulta }}\nMatricula: {{ $('Switch Acción').item.json.body.args.matricula }}\nModelo coche: {{ $('Switch Acción').item.json.body.args.Modelo_coche }}\nEmail: {{ $('Normalizar Datos').first().json.email }}\nNotas: {{ $('Normalizar Datos').first().json.nota_comentario }}","summary":"={{ $('Normalizar Datos').first().json.servicio }} - {{ $('Normalizar Datos').first().json.nombre }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[672,0],"id":"293faef1-06df-42af-9df5-f3f502b5080a","name":"Crear Evento Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"gEQGZCp3fp4iKzuC","name":"Google Calendar account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM","mode":"list","cachedResultName":"Taller Rueda & Motor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"eventId":"={{ $json.id }}","fecha":"={{ $('Normalizar Datos').item.json.fecha }}","nombre":"={{ $('Normalizar Datos').item.json.nombre }}","telefono":"={{ $('Normalizar Datos').item.json.telefono }}","notas":"={{ $('Normalizar Datos').item.json.nota_comentario }}","creado":"={{ $('Normalizar Datos').item.json.accion }}","duracion":"={{ $('Normalizar Datos').item.json.duracion }}","servicio":"={{ $('Normalizar Datos').item.json.servicio }}","hora":"={{ $('Normalizar Datos').item.json.hora }}","matricula":"={{ $('Normalizar Datos').item.json.body.args.matricula }}","modelo coche":"={{ $('Normalizar Datos').item.json.body.args.Modelo_coche }}"},"matchingColumns":[],"schema":[{"id":"eventId","displayName":"eventId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"servicio","displayName":"servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"modelo coche","displayName":"modelo coche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"duracion","displayName":"duracion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"creado","displayName":"creado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[896,0],"id":"2b984fae-46ec-49b4-9478-76d15dadea0a","name":"Guardar en Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Xhw39G15f1D4XQrx","name":"Google Sheets account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  status: 'ok',\n  mensaje: 'Reserva creada correctamente',\n  eventId: $('Crear Evento Calendar').first().json.id,\n  nombre: $('Normalizar Datos').first().json.nombre,\n  fecha: $('Normalizar Datos').first().json.fecha,\n  hora: $('Normalizar Datos').first().json.hora,\n  servicio: $('Normalizar Datos').first().json.servicio\n}) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1296,128],"id":"eadcb763-771c-46a6-bafc-d594b1d47215","name":"Respuesta Crear OK"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'error', mensaje: 'No hay disponibilidad en ese horario' }) }}","options":{"responseCode":409}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,176],"id":"8ab1632f-88b1-4a3f-a17b-190e9eac1a23","name":"Respuesta No Disponible"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_50d350181c480b13a2e85d1a42fa07b9a6b074104ecb6f9a25b101c25bfbfc7c@group.calendar.google.com","mode":"list","cachedResultName":"Mecánico Rueda & Motor"},"returnAll":true,"timeMin":"={{ $json.After }}","timeMax":"={{ $json.Before }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[224,352],"id":"57ed00f4-81c0-4114-8653-60a5e728ee82","name":"Eventos del Día","alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"gEQGZCp3fp4iKzuC","name":"Google Calendar account"}}},{"parameters":{"jsCode":"// Horario configurable\nconst APERTURA = 9;  // 9:00\nconst CIERRE = 20;   // 20:00\nconst SLOT = 30;     // minutos por slot\n\nconst events = $input.all().map(i => i.json);\nconst fecha = $('Normalizar Datos').first().json.fecha;\n\n// Rangos ocupados\nconst ocupados = [];\nfor (const ev of events) {\n  if (!ev.start || !ev.start.dateTime) continue;\n  const s = new Date(ev.start.dateTime);\n  const e = new Date(ev.end.dateTime);\n  ocupados.push({\n    ini: s.getHours() * 60 + s.getMinutes(),\n    fin: e.getHours() * 60 + e.getMinutes()\n  });\n}\n\n// Generar slots libres\nconst slots = [];\nfor (let min = APERTURA * 60; min < CIERRE * 60; min += SLOT) {\n  const slotFin = min + SLOT;\n  const libre = !ocupados.some(o => min < o.fin && slotFin > o.ini);\n  if (libre) {\n    const hh = String(Math.floor(min / 60)).padStart(2, '0');\n    const mm = String(min % 60).padStart(2, '0');\n    slots.push(hh + ':' + mm);\n  }\n}\n\nreturn [{ json: {\n  status: 'ok',\n  fecha,\n  total_disponibles: slots.length,\n  slots_disponibles: slots\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,352],"id":"3c491338-e149-473b-982a-3821e8261df4","name":"Calcular Slots Libres"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,352],"id":"64098726-3bb1-43f6-83d6-82f0a4395ec3","name":"Respuesta Consultar"},{"parameters":{"documentId":{"__rl":true,"value":"1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM","mode":"list","cachedResultName":"Taller Rueda & Motor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit#gid=0"},"filtersUI":{"values":[{}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-64,672],"id":"aa953b83-134d-439c-abd3-69b4ffcb6c31","name":"Buscar Reserva (Cambiar)","alwaysOutputData":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.eventId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,672],"id":"42154665-28b1-4f05-8049-7e5ef8f9b353","name":"IF Encontrada (Cambiar)","disabled":true},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"c_50d350181c480b13a2e85d1a42fa07b9a6b074104ecb6f9a25b101c25bfbfc7c@group.calendar.google.com","mode":"list","cachedResultName":"Mecánico Rueda & Motor"},"eventId":"={{ $json.eventId }}","updateFields":{"end":"={{ DateTime.fromISO($('Normalizar Datos').first().json.nueva_fecha + 'T' + $('Normalizar Datos').first().json.nueva_hora + ':00').plus({ minutes: parseInt($json.duracion) || 60 }).toISO() }}","start":"={{ $('Normalizar Datos').first().json.nueva_fecha }}T{{ $('Normalizar Datos').first().json.nueva_hora }}:00+01:00"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[384,576],"id":"7193668f-9a90-46e0-917a-54ddc8533ced","name":"Actualizar Evento Calendar","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM","mode":"list","cachedResultName":"Taller Rueda & Motor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"eventId":"={{ $('Buscar Reserva (Cambiar)').first().json.eventId }}","fecha":"={{ $('Normalizar Datos').first().json.nueva_fecha }}","hora":"={{ $('Normalizar Datos').first().json.nueva_hora }}","row_number":0},"matchingColumns":[],"schema":[{"id":"eventId","displayName":"eventId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"servicio","displayName":"servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"duracion","displayName":"duracion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"creado","displayName":"creado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[608,576],"id":"dbb89411-3850-4bb0-8148-833ce2a5b7e6","name":"Actualizar Sheet","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  status: 'ok',\n  mensaje: 'Reserva actualizada correctamente',\n  nueva_fecha: $('Normalizar Datos').first().json.nueva_fecha,\n  nueva_hora: $('Normalizar Datos').first().json.nueva_hora\n}) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[832,576],"id":"673ffc35-ba8a-42ed-96fd-73ff42cfc73d","name":"Respuesta Cambiar OK","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'error', mensaje: 'No se encontró reserva activa con ese teléfono' }) }}","options":{"responseCode":404}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[384,768],"id":"a0062405-a442-4b0b-ae7b-691ec574916e","name":"No Encontrada (Cambiar)","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM","mode":"list","cachedResultName":"Taller Rueda & Motor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-64,1056],"id":"e7c78d2b-1232-4034-9050-58eb8f04a05c","name":"Buscar Reserva (Cancelar)","alwaysOutputData":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.eventId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,1056],"id":"079d0773-b6c6-4700-83f5-1e0701a3c977","name":"IF Encontrada (Cancelar)","disabled":true},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"c_50d350181c480b13a2e85d1a42fa07b9a6b074104ecb6f9a25b101c25bfbfc7c@group.calendar.google.com","mode":"list","cachedResultName":"Mecánico Rueda & Motor"},"eventId":"={{ $json.eventId }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[384,960],"id":"eec273e3-59dd-4739-9a0b-4e6d84e9dac5","name":"Eliminar Evento Calendar","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM","mode":"list","cachedResultName":"Taller Rueda & Motor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"eventId":"={{ $('Buscar Reserva (Cancelar)').first().json.eventId }}","estado":"cancelada","row_number":0},"matchingColumns":[],"schema":[{"id":"eventId","displayName":"eventId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"servicio","displayName":"servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"duracion","displayName":"duracion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"creado","displayName":"creado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[608,960],"id":"d51dd2a4-21ee-4bcc-8e39-69d6edd3a25b","name":"Marcar Cancelada","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', mensaje: 'Reserva cancelada correctamente' }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[832,960],"id":"a474cf36-f073-434b-bbe6-af03eb13793e","name":"Respuesta Cancelar OK","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'error', mensaje: 'No se encontró reserva activa con ese teléfono' }) }}","options":{"responseCode":404}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[384,1152],"id":"a7585a9a-be24-4668-8e13-a8cbad818725","name":"No Encontrada (Cancelar)","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'error', mensaje: 'Acción no válida. Usa: crear, consultar, cambiar, cancelar' }) }}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-720,960],"id":"f4f096bd-7f20-45fd-a9ae-fd930f9e8fbc","name":"Acción No Válida"},{"parameters":{"httpMethod":"POST","path":"reservas","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-720,160],"id":"ea282a2d-662f-45d6-8125-4847920385fe","name":"Webhook Reservas Taller","webhookId":"f8a1b2c3-d4e5-6789-abcd-ef0123456789"},{"parameters":{"operation":"send","phoneNumberId":"=1106487172540913","recipientPhoneNumber":"={{ $json.telefono }}","textBody":"=Hola {{ $json.nombre }} 👋\nTu cita en Rueda y Motor Las Rozas ya está confirmada 🔧🚗\n📅 Fecha: {{ $json.fecha }}\n⏱️ Hora: {{ $json.hora }}\n🚘 Vehículo: {{ $json['modelo coche'] }}\n🪪 Matrícula: {{ $json.matricula }}\n🔩 Servicio: {{ $json.servicio }}\nTe esperamos ese día para dejar tu vehículo a punto ✅\nSi necesitas modificar o cancelar la cita, puedes hacerlo respondiendo a este mensaje o llamándonos al 612 345 678.\n¡Hasta pronto! 🔵⚙️","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1120,0],"id":"0f81f017-7696-4f1b-8fac-2f6b0189b7ed","name":"Send message","webhookId":"a6529af3-913f-4875-ac27-d5259e24422a","credentials":{"whatsAppApi":{"id":"2T94t6RviAjzdbHV","name":"WhatsApp account"}}}],"connections":{"Normalizar Datos":{"main":[[{"node":"Switch Acción","type":"main","index":0}]]},"Switch Acción":{"main":[[{"node":"Check Disponibilidad","type":"main","index":0}],[{"node":"Eventos del Día","type":"main","index":0}],[{"node":"Buscar Reserva (Cambiar)","type":"main","index":0}],[{"node":"Buscar Reserva (Cancelar)","type":"main","index":0}]]},"Check Disponibilidad":{"main":[[{"node":"Verificar Conflicto","type":"main","index":0}]]},"Verificar Conflicto":{"main":[[{"node":"IF Disponible","type":"main","index":0}]]},"IF Disponible":{"main":[[{"node":"Crear Evento Calendar","type":"main","index":0}],[{"node":"Respuesta No Disponible","type":"main","index":0}]]},"Crear Evento Calendar":{"main":[[{"node":"Guardar en Sheet","type":"main","index":0}]]},"Guardar en Sheet":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Eventos del Día":{"main":[[{"node":"Calcular Slots Libres","type":"main","index":0}]]},"Calcular Slots Libres":{"main":[[{"node":"Respuesta Consultar","type":"main","index":0}]]},"Buscar Reserva (Cambiar)":{"main":[[{"node":"IF Encontrada (Cambiar)","type":"main","index":0}]]},"IF Encontrada (Cambiar)":{"main":[[{"node":"Actualizar Evento Calendar","type":"main","index":0}],[{"node":"No Encontrada (Cambiar)","type":"main","index":0}]]},"Actualizar Evento Calendar":{"main":[[{"node":"Actualizar Sheet","type":"main","index":0}]]},"Actualizar Sheet":{"main":[[{"node":"Respuesta Cambiar OK","type":"main","index":0}]]},"Buscar Reserva (Cancelar)":{"main":[[{"node":"IF Encontrada (Cancelar)","type":"main","index":0}]]},"IF Encontrada (Cancelar)":{"main":[[{"node":"Eliminar Evento Calendar","type":"main","index":0}],[{"node":"No Encontrada (Cancelar)","type":"main","index":0}]]},"Eliminar Evento Calendar":{"main":[[{"node":"Marcar Cancelada","type":"main","index":0}]]},"Marcar Cancelada":{"main":[[{"node":"Respuesta Cancelar OK","type":"main","index":0}]]},"Webhook Reservas Taller":{"main":[[{"node":"Normalizar Datos","type":"main","index":0}]]},"Send message":{"main":[[{"node":"Respuesta Crear OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Webhook Reservas Taller":[{"json":{"headers":{"host":"n8n.agentesia.world","user-agent":"axios/1.13.2","content-length":"32298","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","baggage":"sentry-environment=production,sentry-public_key=f9776ac2f798b66bdadc990a2ed64f17,sentry-trace_id=48521eb9e0b946f2a9cf0372cfbe8609,sentry-org_id=4511141371183104","content-type":"application/json","sentry-trace":"48521eb9e0b946f2a9cf0372cfbe8609-9848fd1877559298","x-forwarded-for":"100.20.5.228","x-forwarded-host":"n8n.agentesia.world","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"75810e54fbb4","x-real-ip":"100.20.5.228","x-retell-signature":"v=1775645715632,d=b14fe640dc297ffb1cbeedef635329f29ebf8088c1118a666d39805b32919abe"},"params":{},"query":{},"body":{"call":{"call_id":"call_6aba6b85567bfc88b07d15213c3","call_type":"phone_call","agent_id":"agent_1aa37115053c8e348b5e870b06","agent_version":1,"agent_name":"Taller Rueda y Motor","retell_llm_dynamic_variables":{"lk-call-info":"CgwxOC45OC4xNi4xMjAQhO0CGAI=","lk-real-ip":"18.98.16.120","lk-transport":"tcp"},"custom_sip_headers":{"x-lk-call-info":"CgwxOC45OC4xNi4xMjAQhO0CGAI=","x-lk-real-ip":"18.98.16.120","x-lk-transport":"tcp"},"call_status":"ongoing","start_timestamp":1775645622890,"transcript":"Agent: Hola soy Juan del taller rueda y motor en las rozas, en que puedo ayudarte hoy?\nUser: Hola, me gustaría hacer una revisión para el viernes a las once de la mañana, Mi nombre es Borja, mi coche es un Seat Panda y la matrícula es tres dos cuatro cinco \nUser: a, y tengo acepto el consentimiento. \nAgent: Gracias Borja. ¿Te viene mejor por la mañana o por la tarde? Así miro los huecos que tenemos para el viernes y te confirmo si a las once está libre o te doy otras opciones.\nUser: Mañana. \nAgent: Dame un segundo \nAgent: que miro la agenda para el viernes por la mañana...Mira, para el viernes por la mañana tengo a las nueve, a las \nUser: Específicamente para \nAgent: diez o a las once en punto, como querías. ¿Te confirmo la de las once? ¿Me dices tu teléfono para dejarlo todo listo?\nUser: Sí. \nAgent: Perfecto, te reservo la de las once. ¿Me dices tu teléfono, por favor? Así te dejo la cita bloqueada y te llega la confirmación al WhatsApp.\nAgent: ¿Sigues por ahí, Borja? Cuando puedas dime tu teléfono y te dejo la cita reservada para el viernes a las once.\nUser: Es el seis cinco nueve ocho tres cuatro nueve ocho tres. \nAgent: Pues a ver, es el seis cinco nueve... ocho tres cuatro... nueve ocho tres. ¿Es correcto?\nUser: Es correcto. \n","transcript_object":[{"role":"agent","content":"Hola soy Juan del taller rueda y motor en las rozas, en que puedo ayudarte hoy?","words":[{"word":"Hola ","start":0.491,"end":0.875},{"word":"soy ","start":0.875,"end":1.095},{"word":"Juan ","start":1.095,"end":1.304},{"word":"del ","start":1.304,"end":1.432},{"word":"taller ","start":1.432,"end":1.699},{"word":"rueda ","start":1.699,"end":1.919},{"word":"y ","start":1.919,"end":1.978},{"word":"motor ","start":1.978,"end":2.256},{"word":"en ","start":2.256,"end":2.337},{"word":"las ","start":2.337,"end":2.477},{"word":"rozas, ","start":2.477,"end":2.953},{"word":"en ","start":2.953,"end":3.115},{"word":"que ","start":3.115,"end":3.243},{"word":"puedo ","start":3.243,"end":3.475},{"word":"ayudarte ","start":3.475,"end":3.951},{"word":"hoy?","start":3.951,"end":4.532}],"metadata":{"response_id":0}},{"role":"user","content":"Hola, me gustaría hacer una revisión para el viernes a las once de la mañana, Mi nombre es Borja, mi coche es un Seat Panda y la matrícula es tres dos cuatro cinco ","words":[{"word":"Hola, ","start":7.266,"end":7.7460002},{"word":"me ","start":7.7460002,"end":7.8260000000000005},{"word":"gustaría ","start":7.8260000000000005,"end":8.626},{"word":"hacer ","start":8.706,"end":9.026},{"word":"una ","start":9.026,"end":9.346},{"word":"revisión ","start":9.346,"end":9.906},{"word":"para ","start":9.906,"end":10.306000000000001},{"word":"el ","start":11.006,"end":11.4860005},{"word":"viernes ","start":11.4860005,"end":12.126},{"word":"a ","start":12.126,"end":12.366001},{"word":"las ","start":12.366001,"end":12.606},{"word":"once ","start":12.606,"end":13.006},{"word":"de ","start":13.006,"end":13.166},{"word":"la ","start":13.166,"end":13.246},{"word":"mañana, ","start":13.246,"end":13.566},{"word":"Mi ","start":14.105999,"end":14.346},{"word":"nombre ","start":14.346,"end":14.586},{"word":"es ","start":14.586,"end":15.065999},{"word":"Borja, ","start":15.065999,"end":15.466000000000001},{"word":"mi ","start":15.966000000000001,"end":16.286},{"word":"coche ","start":16.286,"end":16.606},{"word":"es ","start":16.606,"end":16.846},{"word":"un ","start":16.846,"end":17.006},{"word":"Seat ","start":17.006,"end":17.406},{"word":"Panda ","start":17.526,"end":18.006},{"word":"y ","start":18.006,"end":18.246},{"word":"la ","start":18.246,"end":18.406},{"word":"matrícula ","start":18.406,"end":18.966001},{"word":"es ","start":18.966001,"end":19.286},{"word":"tres ","start":19.286,"end":19.686},{"word":"dos ","start":19.686,"end":20.006},{"word":"cuatro ","start":20.006,"end":20.406},{"word":"cinco ","start":20.406,"end":20.726001}]},{"role":"user","content":"a, y tengo acepto el consentimiento. ","words":[{"word":"a, ","start":22.776,"end":23.256},{"word":"y ","start":23.256,"end":23.496},{"word":"tengo ","start":23.496,"end":24.056001000000002},{"word":"acepto ","start":24.056001000000002,"end":24.536},{"word":"el ","start":24.536,"end":24.696},{"word":"consentimiento. ","start":24.696,"end":25.096}]},{"role":"agent","content":"Gracias Borja. ¿Te viene mejor por la mañana o por la tarde? Así miro los huecos que tenemos para el viernes y te confirmo si a las once está libre o te doy otras opciones.","words":[{"word":"Gracias ","start":26.69,"end":27.015},{"word":"Borja. ","start":27.015,"end":27.712},{"word":"¿Te ","start":27.757541748046876,"end":28.013541748046876},{"word":"viene ","start":28.013541748046876,"end":28.210541748046875},{"word":"mejor ","start":28.210541748046875,"end":28.454541748046875},{"word":"por ","start":28.454541748046875,"end":28.582541748046875},{"word":"la ","start":28.582541748046875,"end":28.686541748046874},{"word":"mañana ","start":28.686541748046874,"end":29.000541748046874},{"word":"o ","start":29.000541748046874,"end":29.058541748046874},{"word":"por ","start":29.058541748046874,"end":29.185541748046877},{"word":"la ","start":29.185541748046877,"end":29.302541748046874},{"word":"tarde?","start":29.302541748046874,"end":29.940541748046876},{"word":" Así ","start":29.986666748046876,"end":30.230666748046875},{"word":"miro ","start":30.230666748046875,"end":30.439666748046875},{"word":"los ","start":30.439666748046875,"end":30.579666748046876},{"word":"huecos ","start":30.579666748046876,"end":30.997666748046875},{"word":"que ","start":30.997666748046875,"end":31.101666748046874},{"word":"tenemos ","start":31.101666748046874,"end":31.403666748046874},{"word":"para ","start":31.403666748046874,"end":31.554666748046873},{"word":"el ","start":31.554666748046873,"end":31.647666748046873},{"word":"viernes ","start":31.647666748046873,"end":32.134666748046875},{"word":"y ","start":32.134666748046875,"end":32.250666748046875},{"word":"te ","start":32.250666748046875,"end":32.35566674804687},{"word":"confirmo ","start":32.35566674804687,"end":32.866666748046875},{"word":"si ","start":32.866666748046875,"end":33.01766674804688},{"word":"a ","start":33.01766674804688,"end":33.07566674804688},{"word":"las ","start":33.07566674804688,"end":33.26066674804687},{"word":"once ","start":33.26066674804687,"end":33.49366674804688},{"word":"está ","start":33.49366674804688,"end":33.713666748046876},{"word":"libre ","start":33.713666748046876,"end":34.09666674804687},{"word":"o ","start":34.09666674804687,"end":34.23666674804687},{"word":"te ","start":34.23666674804687,"end":34.34066674804688},{"word":"doy ","start":34.34066674804688,"end":34.503666748046875},{"word":"otras ","start":34.503666748046875,"end":34.735666748046874},{"word":"opciones.","start":34.735666748046874,"end":35.60666674804688}],"metadata":{"response_id":4}},{"role":"user","content":"Mañana. ","words":[{"word":"Mañana. ","start":36.926,"end":37.486}]},{"role":"agent","content":"Dame un segundo ","words":[{"word":"Dame ","start":39.393,"end":39.59},{"word":"un ","start":39.59,"end":39.695},{"word":"segundo ","start":39.695,"end":40.194}],"metadata":{"response_id":5}},{"role":"agent","content":"que miro la agenda para el viernes por la mañana...Mira, para el viernes por la mañana tengo a las nueve, a las ","words":[{"word":"que ","start":40.194,"end":40.299},{"word":"miro ","start":40.299,"end":40.496},{"word":"la ","start":40.496,"end":40.577},{"word":"agenda ","start":40.577,"end":40.879},{"word":"para ","start":40.879,"end":41.053},{"word":"el ","start":41.053,"end":41.135},{"word":"viernes ","start":41.135,"end":41.518},{"word":"por ","start":41.518,"end":41.669},{"word":"la ","start":41.669,"end":41.761},{"word":"mañana...","start":41.761,"end":42.446},{"word":"Mira, ","start":42.46945825195313,"end":42.794458251953124},{"word":"para ","start":42.794458251953124,"end":42.96845825195312},{"word":"el ","start":42.96845825195312,"end":43.06145825195313},{"word":"viernes ","start":43.06145825195313,"end":43.34045825195312},{"word":"por ","start":43.34045825195312,"end":43.45645825195312},{"word":"la ","start":43.45645825195312,"end":43.549458251953126},{"word":"mañana ","start":43.549458251953126,"end":43.86245825195312},{"word":"tengo ","start":43.86245825195312,"end":44.04845825195312},{"word":"a ","start":44.04845825195312,"end":44.095458251953126},{"word":"las ","start":44.095458251953126,"end":44.257458251953125},{"word":"nueve, ","start":44.257458251953125,"end":44.65245825195313},{"word":"a ","start":44.65245825195313,"end":44.733458251953124},{"word":"las ","start":44.733458251953124,"end":44.89645825195313}],"metadata":{"response_id":5}},{"role":"user","content":"Específicamente para ","words":[{"word":"Específicamente ","start":44.986,"end":45.545997},{"word":"para ","start":45.705997,"end":45.946}]},{"role":"agent","content":"diez o a las once en punto, como querías. ¿Te confirmo la de las once? ¿Me dices tu teléfono para dejarlo todo listo?","words":[{"word":"diez ","start":44.89645825195313,"end":45.22145825195312},{"word":"o ","start":45.22145825195312,"end":45.290458251953126},{"word":"a ","start":45.290458251953126,"end":45.348458251953126},{"word":"las ","start":45.348458251953126,"end":45.546458251953126},{"word":"once ","start":45.546458251953126,"end":45.81345825195312},{"word":"en ","start":45.81345825195312,"end":45.91745825195313},{"word":"punto, ","start":45.91745825195313,"end":46.27745825195313},{"word":"como ","start":46.27745825195313,"end":46.486458251953124},{"word":"querías. ","start":46.486458251953124,"end":47.18345825195313},{"word":"¿Te ","start":47.19533325195312,"end":47.450333251953126},{"word":"confirmo ","start":47.450333251953126,"end":47.926333251953125},{"word":"la ","start":47.926333251953125,"end":48.01933325195313},{"word":"de ","start":48.01933325195313,"end":48.112333251953125},{"word":"las ","start":48.112333251953125,"end":48.298333251953125},{"word":"once? ","start":48.298333251953125,"end":48.99433325195312},{"word":"¿Me ","start":49.0405,"end":49.2385},{"word":"dices ","start":49.2385,"end":49.4705},{"word":"tu ","start":49.4705,"end":49.5865},{"word":"teléfono ","start":49.5865,"end":49.9465},{"word":"para ","start":49.9465,"end":50.1435},{"word":"dejarlo ","start":50.1435,"end":50.5035},{"word":"todo ","start":50.5035,"end":50.7125},{"word":"listo?","start":50.7125,"end":51.3625}],"metadata":{"response_id":5}},{"role":"user","content":"Sí. ","words":[{"word":"Sí. ","start":52.256,"end":52.576}]},{"role":"agent","content":"Perfecto, te reservo la de las once. ¿Me dices tu teléfono, por favor? Así te dejo la cita bloqueada y te llega la confirmación al WhatsApp.","words":[{"word":"Perfecto, ","start":54.685,"end":55.358},{"word":"te ","start":55.358,"end":55.474},{"word":"reservo ","start":55.474,"end":55.788},{"word":"la ","start":55.788,"end":55.88},{"word":"de ","start":55.88,"end":55.962},{"word":"las ","start":55.962,"end":56.113},{"word":"once. ","start":56.113,"end":56.705},{"word":"¿Me ","start":56.739791748046876,"end":57.029791748046875},{"word":"dices ","start":57.029791748046875,"end":57.377791748046874},{"word":"tu ","start":57.377791748046874,"end":57.505791748046875},{"word":"teléfono, ","start":57.505791748046875,"end":57.88879174804688},{"word":"por ","start":57.88879174804688,"end":58.00479174804688},{"word":"favor? ","start":58.00479174804688,"end":58.608791748046876},{"word":"Así ","start":58.62083325195312,"end":58.89883325195313},{"word":"te ","start":58.89883325195313,"end":59.01483325195313},{"word":"dejo ","start":59.01483325195313,"end":59.223833251953124},{"word":"la ","start":59.223833251953124,"end":59.32883325195313},{"word":"cita ","start":59.32883325195313,"end":59.56083325195313},{"word":"bloqueada ","start":59.56083325195313,"end":60.024833251953126},{"word":"y ","start":60.024833251953126,"end":60.10683325195313},{"word":"te ","start":60.10683325195313,"end":60.222833251953126},{"word":"llega ","start":60.222833251953126,"end":60.466833251953126},{"word":"la ","start":60.466833251953126,"end":60.558833251953125},{"word":"confirmación ","start":60.558833251953125,"end":61.13983325195313},{"word":"al ","start":61.13983325195313,"end":61.220833251953124},{"word":"WhatsApp.","start":61.220833251953124,"end":61.95283325195312}],"metadata":{"response_id":6}},{"role":"agent","content":"¿Sigues por ahí, Borja? Cuando puedas dime tu teléfono y te dejo la cita reservada para el viernes a las once.","words":[{"word":"¿Sigues ","start":73.192,"end":73.505},{"word":"por ","start":73.505,"end":73.645},{"word":"ahí, ","start":73.645,"end":73.807},{"word":"Borja? ","start":73.807,"end":74.457},{"word":"Cuando ","start":74.48033325195313,"end":74.78233325195312},{"word":"puedas ","start":74.78233325195312,"end":75.04933325195313},{"word":"dime ","start":75.04933325195313,"end":75.23533325195312},{"word":"tu ","start":75.23533325195312,"end":75.36333325195312},{"word":"teléfono ","start":75.36333325195312,"end":75.74633325195313},{"word":"y ","start":75.74633325195313,"end":75.82733325195312},{"word":"te ","start":75.82733325195312,"end":75.93133325195312},{"word":"dejo ","start":75.93133325195312,"end":76.14033325195312},{"word":"la ","start":76.14033325195312,"end":76.23333325195313},{"word":"cita ","start":76.23333325195313,"end":76.45433325195313},{"word":"reservada ","start":76.45433325195313,"end":76.89533325195312},{"word":"para ","start":76.89533325195312,"end":77.04633325195313},{"word":"el ","start":77.04633325195313,"end":77.15133325195312},{"word":"viernes ","start":77.15133325195312,"end":77.47633325195312},{"word":"a ","start":77.47633325195312,"end":77.53433325195313},{"word":"las ","start":77.53433325195313,"end":77.70833325195312},{"word":"once.","start":77.70833325195312,"end":78.31233325195312}],"metadata":{"response_id":7}},{"role":"user","content":"Es el seis cinco nueve ocho tres cuatro nueve ocho tres. ","words":[{"word":"Es ","start":78.806,"end":79.046},{"word":"el ","start":79.046,"end":79.286},{"word":"seis ","start":79.286,"end":79.766},{"word":"cinco ","start":79.766,"end":80.246},{"word":"nueve ","start":80.246,"end":80.886},{"word":"ocho ","start":80.886005,"end":81.126},{"word":"tres ","start":81.126,"end":81.446},{"word":"cuatro ","start":81.446,"end":82.006},{"word":"nueve ","start":82.006,"end":82.486},{"word":"ocho ","start":82.486,"end":82.806},{"word":"tres. ","start":82.806,"end":83.046}]},{"role":"agent","content":"Pues a ver, es el seis cinco nueve... ocho tres cuatro... nueve ocho tres. ¿Es correcto?","words":[{"word":"Pues ","start":84.39,"end":84.587},{"word":"a ","start":84.587,"end":84.657},{"word":"ver, ","start":84.657,"end":85.04},{"word":"es ","start":85.04,"end":85.226},{"word":"el ","start":85.226,"end":85.354},{"word":"seis ","start":85.354,"end":85.539},{"word":"cinco ","start":85.539,"end":85.841},{"word":"nueve...","start":85.841,"end":86.468},{"word":" ocho ","start":86.51425,"end":86.73525},{"word":"tres ","start":86.73525,"end":86.95625},{"word":"cuatro..","start":86.95625,"end":87.62925},{"word":".","start":87.67525,"end":87.90825},{"word":" nueve ","start":87.930875,"end":88.220875},{"word":"ocho ","start":88.220875,"end":88.406875},{"word":"tres. ","start":88.406875,"end":89.022875},{"word":"¿Es ","start":89.06841674804687,"end":89.23141674804687},{"word":"correcto?","start":89.23141674804687,"end":90.04441674804687}],"metadata":{"response_id":8}},{"role":"user","content":"Es correcto. ","words":[{"word":"Es ","start":90.695995,"end":91.015995},{"word":"correcto. ","start":91.015995,"end":91.256}]}],"transcript_with_tool_calls":[{"role":"agent","content":"Hola soy Juan del taller rueda y motor en las rozas, en que puedo ayudarte hoy?","words":[{"word":"Hola ","start":0.491,"end":0.875},{"word":"soy ","start":0.875,"end":1.095},{"word":"Juan ","start":1.095,"end":1.304},{"word":"del ","start":1.304,"end":1.432},{"word":"taller ","start":1.432,"end":1.699},{"word":"rueda ","start":1.699,"end":1.919},{"word":"y ","start":1.919,"end":1.978},{"word":"motor ","start":1.978,"end":2.256},{"word":"en ","start":2.256,"end":2.337},{"word":"las ","start":2.337,"end":2.477},{"word":"rozas, ","start":2.477,"end":2.953},{"word":"en ","start":2.953,"end":3.115},{"word":"que ","start":3.115,"end":3.243},{"word":"puedo ","start":3.243,"end":3.475},{"word":"ayudarte ","start":3.475,"end":3.951},{"word":"hoy?","start":3.951,"end":4.532}],"metadata":{"response_id":0}},{"role":"user","content":"Hola, me gustaría hacer una revisión para el viernes a las once de la mañana, Mi nombre es Borja, mi coche es un Seat Panda y la matrícula es tres dos cuatro cinco ","words":[{"word":"Hola, ","start":7.266,"end":7.7460002},{"word":"me ","start":7.7460002,"end":7.8260000000000005},{"word":"gustaría ","start":7.8260000000000005,"end":8.626},{"word":"hacer ","start":8.706,"end":9.026},{"word":"una ","start":9.026,"end":9.346},{"word":"revisión ","start":9.346,"end":9.906},{"word":"para ","start":9.906,"end":10.306000000000001},{"word":"el ","start":11.006,"end":11.4860005},{"word":"viernes ","start":11.4860005,"end":12.126},{"word":"a ","start":12.126,"end":12.366001},{"word":"las ","start":12.366001,"end":12.606},{"word":"once ","start":12.606,"end":13.006},{"word":"de ","start":13.006,"end":13.166},{"word":"la ","start":13.166,"end":13.246},{"word":"mañana, ","start":13.246,"end":13.566},{"word":"Mi ","start":14.105999,"end":14.346},{"word":"nombre ","start":14.346,"end":14.586},{"word":"es ","start":14.586,"end":15.065999},{"word":"Borja, ","start":15.065999,"end":15.466000000000001},{"word":"mi ","start":15.966000000000001,"end":16.286},{"word":"coche ","start":16.286,"end":16.606},{"word":"es ","start":16.606,"end":16.846},{"word":"un ","start":16.846,"end":17.006},{"word":"Seat ","start":17.006,"end":17.406},{"word":"Panda ","start":17.526,"end":18.006},{"word":"y ","start":18.006,"end":18.246},{"word":"la ","start":18.246,"end":18.406},{"word":"matrícula ","start":18.406,"end":18.966001},{"word":"es ","start":18.966001,"end":19.286},{"word":"tres ","start":19.286,"end":19.686},{"word":"dos ","start":19.686,"end":20.006},{"word":"cuatro ","start":20.006,"end":20.406},{"word":"cinco ","start":20.406,"end":20.726001}]},{"role":"user","content":"a, y tengo acepto el consentimiento. ","words":[{"word":"a, ","start":22.776,"end":23.256},{"word":"y ","start":23.256,"end":23.496},{"word":"tengo ","start":23.496,"end":24.056001000000002},{"word":"acepto ","start":24.056001000000002,"end":24.536},{"word":"el ","start":24.536,"end":24.696},{"word":"consentimiento. ","start":24.696,"end":25.096}]},{"role":"agent","content":"Gracias Borja. ¿Te viene mejor por la mañana o por la tarde? Así miro los huecos que tenemos para el viernes y te confirmo si a las once está libre o te doy otras opciones.","words":[{"word":"Gracias ","start":26.69,"end":27.015},{"word":"Borja. ","start":27.015,"end":27.712},{"word":"¿Te ","start":27.757541748046876,"end":28.013541748046876},{"word":"viene ","start":28.013541748046876,"end":28.210541748046875},{"word":"mejor ","start":28.210541748046875,"end":28.454541748046875},{"word":"por ","start":28.454541748046875,"end":28.582541748046875},{"word":"la ","start":28.582541748046875,"end":28.686541748046874},{"word":"mañana ","start":28.686541748046874,"end":29.000541748046874},{"word":"o ","start":29.000541748046874,"end":29.058541748046874},{"word":"por ","start":29.058541748046874,"end":29.185541748046877},{"word":"la ","start":29.185541748046877,"end":29.302541748046874},{"word":"tarde?","start":29.302541748046874,"end":29.940541748046876},{"word":" Así ","start":29.986666748046876,"end":30.230666748046875},{"word":"miro ","start":30.230666748046875,"end":30.439666748046875},{"word":"los ","start":30.439666748046875,"end":30.579666748046876},{"word":"huecos ","start":30.579666748046876,"end":30.997666748046875},{"word":"que ","start":30.997666748046875,"end":31.101666748046874},{"word":"tenemos ","start":31.101666748046874,"end":31.403666748046874},{"word":"para ","start":31.403666748046874,"end":31.554666748046873},{"word":"el ","start":31.554666748046873,"end":31.647666748046873},{"word":"viernes ","start":31.647666748046873,"end":32.134666748046875},{"word":"y ","start":32.134666748046875,"end":32.250666748046875},{"word":"te ","start":32.250666748046875,"end":32.35566674804687},{"word":"confirmo ","start":32.35566674804687,"end":32.866666748046875},{"word":"si ","start":32.866666748046875,"end":33.01766674804688},{"word":"a ","start":33.01766674804688,"end":33.07566674804688},{"word":"las ","start":33.07566674804688,"end":33.26066674804687},{"word":"once ","start":33.26066674804687,"end":33.49366674804688},{"word":"está ","start":33.49366674804688,"end":33.713666748046876},{"word":"libre ","start":33.713666748046876,"end":34.09666674804687},{"word":"o ","start":34.09666674804687,"end":34.23666674804687},{"word":"te ","start":34.23666674804687,"end":34.34066674804688},{"word":"doy ","start":34.34066674804688,"end":34.503666748046875},{"word":"otras ","start":34.503666748046875,"end":34.735666748046874},{"word":"opciones.","start":34.735666748046874,"end":35.60666674804688}],"metadata":{"response_id":4}},{"role":"user","content":"Mañana. ","words":[{"word":"Mañana. ","start":36.926,"end":37.486}]},{"role":"tool_call_invocation","tool_call_id":"a5a75797a593d188","name":"Mirar_disponibilidad","arguments":"{\"After\":\"2026-04-10T08:30:00+02:00\",\"Before\":\"2026-04-10T13:00:00+02:00\",\"appointment_available_ts\":\"2026-04-10T11:00:00+02:00\",\"execution_message\":\"Dame un segundo que miro la agenda para el viernes por la mañana...\"}","time_sec":39.047,"type":"custom"},{"role":"agent","content":"Dame un segundo ","words":[{"word":"Dame ","start":39.393,"end":39.59},{"word":"un ","start":39.59,"end":39.695},{"word":"segundo ","start":39.695,"end":40.194}],"metadata":{"response_id":5}},{"role":"tool_call_result","tool_call_id":"a5a75797a593d188","successful":true,"content":"[{\"status\":\"ok\",\"fecha\":null,\"total_disponibles\":22,\"slots_disponibles\":[\"09:00\",\"09:30\",\"10:00\",\"10:30\",\"11:00\",\"11:30\",\"12:00\",\"12:30\",\"13:00\",\"13:30\",\"14:00\",\"14:30\",\"15:00\",\"15:30\",\"16:00\",\"16:30\",\"17:00\",\"17:30\",\"18:00\",\"18:30\",\"19:00\",\"19:30\"]}]","time_sec":39.754},{"role":"agent","content":"que miro la agenda para el viernes por la mañana...Mira, para el viernes por la mañana tengo a las nueve, a las ","words":[{"word":"que ","start":40.194,"end":40.299},{"word":"miro ","start":40.299,"end":40.496},{"word":"la ","start":40.496,"end":40.577},{"word":"agenda ","start":40.577,"end":40.879},{"word":"para ","start":40.879,"end":41.053},{"word":"el ","start":41.053,"end":41.135},{"word":"viernes ","start":41.135,"end":41.518},{"word":"por ","start":41.518,"end":41.669},{"word":"la ","start":41.669,"end":41.761},{"word":"mañana...","start":41.761,"end":42.446},{"word":"Mira, ","start":42.46945825195313,"end":42.794458251953124},{"word":"para ","start":42.794458251953124,"end":42.96845825195312},{"word":"el ","start":42.96845825195312,"end":43.06145825195313},{"word":"viernes ","start":43.06145825195313,"end":43.34045825195312},{"word":"por ","start":43.34045825195312,"end":43.45645825195312},{"word":"la ","start":43.45645825195312,"end":43.549458251953126},{"word":"mañana ","start":43.549458251953126,"end":43.86245825195312},{"word":"tengo ","start":43.86245825195312,"end":44.04845825195312},{"word":"a ","start":44.04845825195312,"end":44.095458251953126},{"word":"las ","start":44.095458251953126,"end":44.257458251953125},{"word":"nueve, ","start":44.257458251953125,"end":44.65245825195313},{"word":"a ","start":44.65245825195313,"end":44.733458251953124},{"word":"las ","start":44.733458251953124,"end":44.89645825195313}],"metadata":{"response_id":5}},{"role":"user","content":"Específicamente para ","words":[{"word":"Específicamente ","start":44.986,"end":45.545997},{"word":"para ","start":45.705997,"end":45.946}]},{"role":"agent","content":"diez o a las once en punto, como querías. ¿Te confirmo la de las once? ¿Me dices tu teléfono para dejarlo todo listo?","words":[{"word":"diez ","start":44.89645825195313,"end":45.22145825195312},{"word":"o ","start":45.22145825195312,"end":45.290458251953126},{"word":"a ","start":45.290458251953126,"end":45.348458251953126},{"word":"las ","start":45.348458251953126,"end":45.546458251953126},{"word":"once ","start":45.546458251953126,"end":45.81345825195312},{"word":"en ","start":45.81345825195312,"end":45.91745825195313},{"word":"punto, ","start":45.91745825195313,"end":46.27745825195313},{"word":"como ","start":46.27745825195313,"end":46.486458251953124},{"word":"querías. ","start":46.486458251953124,"end":47.18345825195313},{"word":"¿Te ","start":47.19533325195312,"end":47.450333251953126},{"word":"confirmo ","start":47.450333251953126,"end":47.926333251953125},{"word":"la ","start":47.926333251953125,"end":48.01933325195313},{"word":"de ","start":48.01933325195313,"end":48.112333251953125},{"word":"las ","start":48.112333251953125,"end":48.298333251953125},{"word":"once? ","start":48.298333251953125,"end":48.99433325195312},{"word":"¿Me ","start":49.0405,"end":49.2385},{"word":"dices ","start":49.2385,"end":49.4705},{"word":"tu ","start":49.4705,"end":49.5865},{"word":"teléfono ","start":49.5865,"end":49.9465},{"word":"para ","start":49.9465,"end":50.1435},{"word":"dejarlo ","start":50.1435,"end":50.5035},{"word":"todo ","start":50.5035,"end":50.7125},{"word":"listo?","start":50.7125,"end":51.3625}],"metadata":{"response_id":5}},{"role":"user","content":"Sí. ","words":[{"word":"Sí. ","start":52.256,"end":52.576}]},{"role":"agent","content":"Perfecto, te reservo la de las once. ¿Me dices tu teléfono, por favor? Así te dejo la cita bloqueada y te llega la confirmación al WhatsApp.","words":[{"word":"Perfecto, ","start":54.685,"end":55.358},{"word":"te ","start":55.358,"end":55.474},{"word":"reservo ","start":55.474,"end":55.788},{"word":"la ","start":55.788,"end":55.88},{"word":"de ","start":55.88,"end":55.962},{"word":"las ","start":55.962,"end":56.113},{"word":"once. ","start":56.113,"end":56.705},{"word":"¿Me ","start":56.739791748046876,"end":57.029791748046875},{"word":"dices ","start":57.029791748046875,"end":57.377791748046874},{"word":"tu ","start":57.377791748046874,"end":57.505791748046875},{"word":"teléfono, ","start":57.505791748046875,"end":57.88879174804688},{"word":"por ","start":57.88879174804688,"end":58.00479174804688},{"word":"favor? ","start":58.00479174804688,"end":58.608791748046876},{"word":"Así ","start":58.62083325195312,"end":58.89883325195313},{"word":"te ","start":58.89883325195313,"end":59.01483325195313},{"word":"dejo ","start":59.01483325195313,"end":59.223833251953124},{"word":"la ","start":59.223833251953124,"end":59.32883325195313},{"word":"cita ","start":59.32883325195313,"end":59.56083325195313},{"word":"bloqueada ","start":59.56083325195313,"end":60.024833251953126},{"word":"y ","start":60.024833251953126,"end":60.10683325195313},{"word":"te ","start":60.10683325195313,"end":60.222833251953126},{"word":"llega ","start":60.222833251953126,"end":60.466833251953126},{"word":"la ","start":60.466833251953126,"end":60.558833251953125},{"word":"confirmación ","start":60.558833251953125,"end":61.13983325195313},{"word":"al ","start":61.13983325195313,"end":61.220833251953124},{"word":"WhatsApp.","start":61.220833251953124,"end":61.95283325195312}],"metadata":{"response_id":6}},{"role":"agent","content":"¿Sigues por ahí, Borja? Cuando puedas dime tu teléfono y te dejo la cita reservada para el viernes a las once.","words":[{"word":"¿Sigues ","start":73.192,"end":73.505},{"word":"por ","start":73.505,"end":73.645},{"word":"ahí, ","start":73.645,"end":73.807},{"word":"Borja? ","start":73.807,"end":74.457},{"word":"Cuando ","start":74.48033325195313,"end":74.78233325195312},{"word":"puedas ","start":74.78233325195312,"end":75.04933325195313},{"word":"dime ","start":75.04933325195313,"end":75.23533325195312},{"word":"tu ","start":75.23533325195312,"end":75.36333325195312},{"word":"teléfono ","start":75.36333325195312,"end":75.74633325195313},{"word":"y ","start":75.74633325195313,"end":75.82733325195312},{"word":"te ","start":75.82733325195312,"end":75.93133325195312},{"word":"dejo ","start":75.93133325195312,"end":76.14033325195312},{"word":"la ","start":76.14033325195312,"end":76.23333325195313},{"word":"cita ","start":76.23333325195313,"end":76.45433325195313},{"word":"reservada ","start":76.45433325195313,"end":76.89533325195312},{"word":"para ","start":76.89533325195312,"end":77.04633325195313},{"word":"el ","start":77.04633325195313,"end":77.15133325195312},{"word":"viernes ","start":77.15133325195312,"end":77.47633325195312},{"word":"a ","start":77.47633325195312,"end":77.53433325195313},{"word":"las ","start":77.53433325195313,"end":77.70833325195312},{"word":"once.","start":77.70833325195312,"end":78.31233325195312}],"metadata":{"response_id":7}},{"role":"user","content":"Es el seis cinco nueve ocho tres cuatro nueve ocho tres. ","words":[{"word":"Es ","start":78.806,"end":79.046},{"word":"el ","start":79.046,"end":79.286},{"word":"seis ","start":79.286,"end":79.766},{"word":"cinco ","start":79.766,"end":80.246},{"word":"nueve ","start":80.246,"end":80.886},{"word":"ocho ","start":80.886005,"end":81.126},{"word":"tres ","start":81.126,"end":81.446},{"word":"cuatro ","start":81.446,"end":82.006},{"word":"nueve ","start":82.006,"end":82.486},{"word":"ocho ","start":82.486,"end":82.806},{"word":"tres. ","start":82.806,"end":83.046}]},{"role":"agent","content":"Pues a ver, es el seis cinco nueve... ocho tres cuatro... nueve ocho tres. ¿Es correcto?","words":[{"word":"Pues ","start":84.39,"end":84.587},{"word":"a ","start":84.587,"end":84.657},{"word":"ver, ","start":84.657,"end":85.04},{"word":"es ","start":85.04,"end":85.226},{"word":"el ","start":85.226,"end":85.354},{"word":"seis ","start":85.354,"end":85.539},{"word":"cinco ","start":85.539,"end":85.841},{"word":"nueve...","start":85.841,"end":86.468},{"word":" ocho ","start":86.51425,"end":86.73525},{"word":"tres ","start":86.73525,"end":86.95625},{"word":"cuatro..","start":86.95625,"end":87.62925},{"word":".","start":87.67525,"end":87.90825},{"word":" nueve ","start":87.930875,"end":88.220875},{"word":"ocho ","start":88.220875,"end":88.406875},{"word":"tres. ","start":88.406875,"end":89.022875},{"word":"¿Es ","start":89.06841674804687,"end":89.23141674804687},{"word":"correcto?","start":89.23141674804687,"end":90.04441674804687}],"metadata":{"response_id":8}},{"role":"user","content":"Es correcto. ","words":[{"word":"Es ","start":90.695995,"end":91.015995},{"word":"correcto. ","start":91.015995,"end":91.256}]},{"role":"tool_call_invocation","tool_call_id":"e28e13bef200a0b5","name":"Reservar","arguments":"{\"fecha\":\"2026-04-10\",\"service_type\":\"revisión general\",\"phone\":\"+34659834983\",\"Modelo_coche\":\"Seat Panda\",\"motivo_consulta\":\"Revisión general\",\"hora\":\"11:00\",\"name\":\"Borja\",\"matricula\":\"3245A\",\"execution_message\":\"Te lo bloqueo ahora mismo para el viernes a las once.\"}","time_sec":92.74,"type":"custom"}],"latency":{},"call_cost":{"product_costs":[],"total_duration_seconds":0,"total_duration_unit_price":0,"combined_cost":0},"data_storage_setting":"everything","opt_in_signed_url":false,"from_number":"+34659834983","to_number":"+34919934667","direction":"inbound"},"name":"Reservar","args":{"fecha":"2026-04-10","service_type":"revisión general","phone":"+34659834983","Modelo_coche":"Seat Panda","motivo_consulta":"Revisión general","hora":"11:00","name":"Borja","matricula":"3245A"}},"webhookUrl":"https://n8n.agentesia.world/webhook/reservas","executionMode":"production"}}]},"versionId":"75952a0a-8076-4c45-8d62-2e4b84d60117","activeVersionId":"75952a0a-8076-4c45-8d62-2e4b84d60117","versionCounter":24,"triggerCount":1,"shared":[{"updatedAt":"2026-04-05T14:41:55.087Z","createdAt":"2026-04-05T14:41:55.087Z","role":"workflow:owner","workflowId":"t8vKCqIexZh9kAbR","projectId":"RiGU51nbyL5mySOC","project":{"updatedAt":"2026-04-05T14:41:05.056Z","createdAt":"2026-04-05T14:33:44.853Z","id":"RiGU51nbyL5mySOC","name":"Manuel del Monte <m.delmonte.p@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"a6929b3e-acf1-4b4a-a209-5292788f81b4"}}],"tags":[{"updatedAt":"2026-04-05T14:41:53.410Z","createdAt":"2026-04-05T14:41:53.410Z","id":"hDhN3ec31RTtrwt5","name":"reservas"}],"activeVersion":{"updatedAt":"2026-04-08T12:12:51.872Z","createdAt":"2026-04-08T12:12:47.751Z","versionId":"75952a0a-8076-4c45-8d62-2e4b84d60117","workflowId":"t8vKCqIexZh9kAbR","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"b1000001","name":"After","value":"={{ $json.body.args.After }}","type":"string"},{"id":"b1000002","name":"Before","value":"={{ $json.body.args.Before }}","type":"string"},{"id":"b1000003","name":"nombre","value":"={{ $json.body.args.name }}","type":"string"},{"id":"b1000004","name":"telefono","value":"={{ $json.body.args.phone }}","type":"string"},{"id":"b1000005","name":"servicio","value":"={{ $json.body.args.service_type }}","type":"string"},{"id":"b1000006","name":"fecha","value":"={{ $json.body.args.fecha }}","type":"string"},{"id":"b1000007","name":"hora","value":"={{ $json.body.args.hora }}","type":"string"},{"id":"b1000008","name":"duracion","value":"={{ $json.body.duracion || 60 }}","type":"number"},{"id":"b1000009","name":"notas/comentario","value":"={{ $json.body.args.nota_comentario }}","type":"string"},{"id":"b1000010","name":"nueva_fecha","value":"=","type":"string"},{"id":"6fb9c352-f0b9-4cbb-b873-afff5fccfd46","name":"accion","value":"={{ $json.body.name }}","type":"string"},{"id":"1166d96e-c65d-40bd-a344-5a456f3aac9b","name":"body.args.Modelo_coche","value":"={{ $json.body.args.Modelo_coche }}","type":"string"},{"id":"3ee29763-bc1f-4b33-b55e-8580930f71aa","name":"body.args.matricula","value":"={{ $json.body.args.matricula }}","type":"string"},{"id":"c4d45122-e581-4714-8043-daa9f84a352c","name":"body.args.motivo_consulta","value":"={{ $json.body.args.motivo_consulta }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,160],"id":"f6d96431-55f0-4f92-86a3-b20276aec199","name":"Normalizar Datos"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"Reservar","operator":{"type":"string","operation":"equals"},"id":"a3683f34-3775-42df-97df-5584f9b14bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"Reservar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"=Mirar_disponibilidad","operator":{"type":"string","operation":"equals"},"id":"b1e126a8-ba8d-4bd5-88fa-0e93c032fc66"}],"combinator":"and"},"renameOutput":true,"outputKey":"consultar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"cambiar","operator":{"type":"string","operation":"equals"},"id":"3879fc64-fc8f-4642-b5ab-871d5b94c3d0"}],"combinator":"and"},"renameOutput":true,"outputKey":"cambiar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals"},"id":"7873fbf5-288d-4696-bde3-c4948fd99413"}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-272,128],"id":"85fd115b-2d98-4b5d-8ce1-c9482caf3f22","name":"Switch Acción"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_50d350181c480b13a2e85d1a42fa07b9a6b074104ecb6f9a25b101c25bfbfc7c@group.calendar.google.com","mode":"list","cachedResultName":"Mecánico Rueda & Motor"},"returnAll":true,"timeMin":"={{ $json.After }}","timeMax":"={{ $json.Before }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[0,0],"id":"9f2053dc-358a-4f15-8041-02511ca9d0e6","name":"Check Disponibilidad","alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"gEQGZCp3fp4iKzuC","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const events = $input.all().map(i => i.json);\nconst datos = $('Normalizar Datos').first().json;\n\nconst hora = datos.hora;\nconst duracion = parseInt(datos.duracion) || 60;\nconst fechaDeseada = datos.fecha; // ej: \"2026-03-27\"\n\nconst [h, m] = hora.split(':').map(Number);\nconst inicioDeseado = h * 60 + m;\nconst finDeseado = inicioDeseado + duracion;\n\nlet conflicto = false;\n\nfor (const ev of events) {\n  if (!ev.start || !ev.start.dateTime) continue;\n\n  // ✅ Filtrar solo eventos del mismo día\n  const fechaEvento = ev.start.dateTime.split('T')[0];\n  if (fechaEvento !== fechaDeseada) continue;\n\n  const s = new Date(ev.start.dateTime);\n  const e = new Date(ev.end.dateTime);\n\n  const ini = s.getHours() * 60 + s.getMinutes();\n  // Si end === start (duración 0), asumir duración mínima del servicio\n  const fin = (e.getTime() === s.getTime()) \n    ? ini + duracion \n    : e.getHours() * 60 + e.getMinutes();\n\n  if (inicioDeseado < fin && finDeseado > ini) {\n    conflicto = true;\n    break;\n  }\n}\n\nreturn [{ json: { disponible: !conflicto } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"245e3de8-a430-4492-b716-f47b5611707a","name":"Verificar Conflicto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.disponible }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"8ac62b6b-16ee-45c5-a7a8-29cd7ba5f61b"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,0],"id":"66592224-49d3-4d83-9506-a5093b8b1e5a","name":"IF Disponible"},{"parameters":{"calendar":{"__rl":true,"value":"c_50d350181c480b13a2e85d1a42fa07b9a6b074104ecb6f9a25b101c25bfbfc7c@group.calendar.google.com","mode":"list","cachedResultName":"Mecánico Rueda & Motor"},"start":"={{ $('Normalizar Datos').first().json.fecha + 'T' + $('Normalizar Datos').first().json.hora + ':00' }}","end":"={{ new Date(new Date($('Normalizar Datos').first().json.fecha + 'T' + $('Normalizar Datos').first().json.hora + ':00').getTime() + $('Normalizar Datos').first().json.duracion * 60000).toISOString().slice(0, 19) }}","additionalFields":{"description":"=Tel: {{ $('Normalizar Datos').first().json.telefono }}\nServicio: {{ $('Switch Acción').item.json.body.args.motivo_consulta }}\nMatricula: {{ $('Switch Acción').item.json.body.args.matricula }}\nModelo coche: {{ $('Switch Acción').item.json.body.args.Modelo_coche }}\nEmail: {{ $('Normalizar Datos').first().json.email }}\nNotas: {{ $('Normalizar Datos').first().json.nota_comentario }}","summary":"={{ $('Normalizar Datos').first().json.servicio }} - {{ $('Normalizar Datos').first().json.nombre }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[672,0],"id":"293faef1-06df-42af-9df5-f3f502b5080a","name":"Crear Evento Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"gEQGZCp3fp4iKzuC","name":"Google Calendar account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM","mode":"list","cachedResultName":"Taller Rueda & Motor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"eventId":"={{ $json.id }}","fecha":"={{ $('Normalizar Datos').item.json.fecha }}","nombre":"={{ $('Normalizar Datos').item.json.nombre }}","telefono":"={{ $('Normalizar Datos').item.json.telefono }}","notas":"={{ $('Normalizar Datos').item.json.nota_comentario }}","creado":"={{ $('Normalizar Datos').item.json.accion }}","duracion":"={{ $('Normalizar Datos').item.json.duracion }}","servicio":"={{ $('Normalizar Datos').item.json.servicio }}","hora":"={{ $('Normalizar Datos').item.json.hora }}","matricula":"={{ $('Normalizar Datos').item.json.body.args.matricula }}","modelo coche":"={{ $('Normalizar Datos').item.json.body.args.Modelo_coche }}"},"matchingColumns":[],"schema":[{"id":"eventId","displayName":"eventId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"servicio","displayName":"servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"modelo coche","displayName":"modelo coche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"duracion","displayName":"duracion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"creado","displayName":"creado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[896,0],"id":"2b984fae-46ec-49b4-9478-76d15dadea0a","name":"Guardar en Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Xhw39G15f1D4XQrx","name":"Google Sheets account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  status: 'ok',\n  mensaje: 'Reserva creada correctamente',\n  eventId: $('Crear Evento Calendar').first().json.id,\n  nombre: $('Normalizar Datos').first().json.nombre,\n  fecha: $('Normalizar Datos').first().json.fecha,\n  hora: $('Normalizar Datos').first().json.hora,\n  servicio: $('Normalizar Datos').first().json.servicio\n}) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1296,128],"id":"eadcb763-771c-46a6-bafc-d594b1d47215","name":"Respuesta Crear OK"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'error', mensaje: 'No hay disponibilidad en ese horario' }) }}","options":{"responseCode":409}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,176],"id":"8ab1632f-88b1-4a3f-a17b-190e9eac1a23","name":"Respuesta No Disponible"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_50d350181c480b13a2e85d1a42fa07b9a6b074104ecb6f9a25b101c25bfbfc7c@group.calendar.google.com","mode":"list","cachedResultName":"Mecánico Rueda & Motor"},"returnAll":true,"timeMin":"={{ $json.After }}","timeMax":"={{ $json.Before }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[224,352],"id":"57ed00f4-81c0-4114-8653-60a5e728ee82","name":"Eventos del Día","alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"gEQGZCp3fp4iKzuC","name":"Google Calendar account"}}},{"parameters":{"jsCode":"// Horario configurable\nconst APERTURA = 9;  // 9:00\nconst CIERRE = 20;   // 20:00\nconst SLOT = 30;     // minutos por slot\n\nconst events = $input.all().map(i => i.json);\nconst fecha = $('Normalizar Datos').first().json.fecha;\n\n// Rangos ocupados\nconst ocupados = [];\nfor (const ev of events) {\n  if (!ev.start || !ev.start.dateTime) continue;\n  const s = new Date(ev.start.dateTime);\n  const e = new Date(ev.end.dateTime);\n  ocupados.push({\n    ini: s.getHours() * 60 + s.getMinutes(),\n    fin: e.getHours() * 60 + e.getMinutes()\n  });\n}\n\n// Generar slots libres\nconst slots = [];\nfor (let min = APERTURA * 60; min < CIERRE * 60; min += SLOT) {\n  const slotFin = min + SLOT;\n  const libre = !ocupados.some(o => min < o.fin && slotFin > o.ini);\n  if (libre) {\n    const hh = String(Math.floor(min / 60)).padStart(2, '0');\n    const mm = String(min % 60).padStart(2, '0');\n    slots.push(hh + ':' + mm);\n  }\n}\n\nreturn [{ json: {\n  status: 'ok',\n  fecha,\n  total_disponibles: slots.length,\n  slots_disponibles: slots\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,352],"id":"3c491338-e149-473b-982a-3821e8261df4","name":"Calcular Slots Libres"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,352],"id":"64098726-3bb1-43f6-83d6-82f0a4395ec3","name":"Respuesta Consultar"},{"parameters":{"documentId":{"__rl":true,"value":"1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM","mode":"list","cachedResultName":"Taller Rueda & Motor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit#gid=0"},"filtersUI":{"values":[{}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-64,672],"id":"aa953b83-134d-439c-abd3-69b4ffcb6c31","name":"Buscar Reserva (Cambiar)","alwaysOutputData":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.eventId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,672],"id":"42154665-28b1-4f05-8049-7e5ef8f9b353","name":"IF Encontrada (Cambiar)","disabled":true},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"c_50d350181c480b13a2e85d1a42fa07b9a6b074104ecb6f9a25b101c25bfbfc7c@group.calendar.google.com","mode":"list","cachedResultName":"Mecánico Rueda & Motor"},"eventId":"={{ $json.eventId }}","updateFields":{"end":"={{ DateTime.fromISO($('Normalizar Datos').first().json.nueva_fecha + 'T' + $('Normalizar Datos').first().json.nueva_hora + ':00').plus({ minutes: parseInt($json.duracion) || 60 }).toISO() }}","start":"={{ $('Normalizar Datos').first().json.nueva_fecha }}T{{ $('Normalizar Datos').first().json.nueva_hora }}:00+01:00"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[384,576],"id":"7193668f-9a90-46e0-917a-54ddc8533ced","name":"Actualizar Evento Calendar","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM","mode":"list","cachedResultName":"Taller Rueda & Motor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"eventId":"={{ $('Buscar Reserva (Cambiar)').first().json.eventId }}","fecha":"={{ $('Normalizar Datos').first().json.nueva_fecha }}","hora":"={{ $('Normalizar Datos').first().json.nueva_hora }}","row_number":0},"matchingColumns":[],"schema":[{"id":"eventId","displayName":"eventId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"servicio","displayName":"servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"duracion","displayName":"duracion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"creado","displayName":"creado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[608,576],"id":"dbb89411-3850-4bb0-8148-833ce2a5b7e6","name":"Actualizar Sheet","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  status: 'ok',\n  mensaje: 'Reserva actualizada correctamente',\n  nueva_fecha: $('Normalizar Datos').first().json.nueva_fecha,\n  nueva_hora: $('Normalizar Datos').first().json.nueva_hora\n}) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[832,576],"id":"673ffc35-ba8a-42ed-96fd-73ff42cfc73d","name":"Respuesta Cambiar OK","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'error', mensaje: 'No se encontró reserva activa con ese teléfono' }) }}","options":{"responseCode":404}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[384,768],"id":"a0062405-a442-4b0b-ae7b-691ec574916e","name":"No Encontrada (Cambiar)","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM","mode":"list","cachedResultName":"Taller Rueda & Motor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-64,1056],"id":"e7c78d2b-1232-4034-9050-58eb8f04a05c","name":"Buscar Reserva (Cancelar)","alwaysOutputData":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.eventId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,1056],"id":"079d0773-b6c6-4700-83f5-1e0701a3c977","name":"IF Encontrada (Cancelar)","disabled":true},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"c_50d350181c480b13a2e85d1a42fa07b9a6b074104ecb6f9a25b101c25bfbfc7c@group.calendar.google.com","mode":"list","cachedResultName":"Mecánico Rueda & Motor"},"eventId":"={{ $json.eventId }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[384,960],"id":"eec273e3-59dd-4739-9a0b-4e6d84e9dac5","name":"Eliminar Evento Calendar","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM","mode":"list","cachedResultName":"Taller Rueda & Motor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OziON06ZMoBq8wQx-f11mNETTo5SxJMfKBSdGfBWoUM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"eventId":"={{ $('Buscar Reserva (Cancelar)').first().json.eventId }}","estado":"cancelada","row_number":0},"matchingColumns":[],"schema":[{"id":"eventId","displayName":"eventId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"servicio","displayName":"servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"duracion","displayName":"duracion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"creado","displayName":"creado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[608,960],"id":"d51dd2a4-21ee-4bcc-8e39-69d6edd3a25b","name":"Marcar Cancelada","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', mensaje: 'Reserva cancelada correctamente' }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[832,960],"id":"a474cf36-f073-434b-bbe6-af03eb13793e","name":"Respuesta Cancelar OK","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'error', mensaje: 'No se encontró reserva activa con ese teléfono' }) }}","options":{"responseCode":404}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[384,1152],"id":"a7585a9a-be24-4668-8e13-a8cbad818725","name":"No Encontrada (Cancelar)","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'error', mensaje: 'Acción no válida. Usa: crear, consultar, cambiar, cancelar' }) }}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-720,960],"id":"f4f096bd-7f20-45fd-a9ae-fd930f9e8fbc","name":"Acción No Válida"},{"parameters":{"httpMethod":"POST","path":"reservas","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-720,160],"id":"ea282a2d-662f-45d6-8125-4847920385fe","name":"Webhook Reservas Taller","webhookId":"f8a1b2c3-d4e5-6789-abcd-ef0123456789"},{"parameters":{"operation":"send","phoneNumberId":"=1106487172540913","recipientPhoneNumber":"={{ $json.telefono }}","textBody":"=Hola {{ $json.nombre }} 👋\nTu cita en Rueda y Motor Las Rozas ya está confirmada 🔧🚗\n📅 Fecha: {{ $json.fecha }}\n⏱️ Hora: {{ $json.hora }}\n🚘 Vehículo: {{ $json['modelo coche'] }}\n🪪 Matrícula: {{ $json.matricula }}\n🔩 Servicio: {{ $json.servicio }}\nTe esperamos ese día para dejar tu vehículo a punto ✅\nSi necesitas modificar o cancelar la cita, puedes hacerlo respondiendo a este mensaje o llamándonos al 612 345 678.\n¡Hasta pronto! 🔵⚙️","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1120,0],"id":"0f81f017-7696-4f1b-8fac-2f6b0189b7ed","name":"Send message","webhookId":"a6529af3-913f-4875-ac27-d5259e24422a","credentials":{"whatsAppApi":{"id":"2T94t6RviAjzdbHV","name":"WhatsApp account"}}}],"connections":{"Normalizar Datos":{"main":[[{"node":"Switch Acción","type":"main","index":0}]]},"Switch Acción":{"main":[[{"node":"Check Disponibilidad","type":"main","index":0}],[{"node":"Eventos del Día","type":"main","index":0}],[{"node":"Buscar Reserva (Cambiar)","type":"main","index":0}],[{"node":"Buscar Reserva (Cancelar)","type":"main","index":0}]]},"Check Disponibilidad":{"main":[[{"node":"Verificar Conflicto","type":"main","index":0}]]},"Verificar Conflicto":{"main":[[{"node":"IF Disponible","type":"main","index":0}]]},"IF Disponible":{"main":[[{"node":"Crear Evento Calendar","type":"main","index":0}],[{"node":"Respuesta No Disponible","type":"main","index":0}]]},"Crear Evento Calendar":{"main":[[{"node":"Guardar en Sheet","type":"main","index":0}]]},"Guardar en Sheet":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Eventos del Día":{"main":[[{"node":"Calcular Slots Libres","type":"main","index":0}]]},"Calcular Slots Libres":{"main":[[{"node":"Respuesta Consultar","type":"main","index":0}]]},"Buscar Reserva (Cambiar)":{"main":[[{"node":"IF Encontrada (Cambiar)","type":"main","index":0}]]},"IF Encontrada (Cambiar)":{"main":[[{"node":"Actualizar Evento Calendar","type":"main","index":0}],[{"node":"No Encontrada (Cambiar)","type":"main","index":0}]]},"Actualizar Evento Calendar":{"main":[[{"node":"Actualizar Sheet","type":"main","index":0}]]},"Actualizar Sheet":{"main":[[{"node":"Respuesta Cambiar OK","type":"main","index":0}]]},"Buscar Reserva (Cancelar)":{"main":[[{"node":"IF Encontrada (Cancelar)","type":"main","index":0}]]},"IF Encontrada (Cancelar)":{"main":[[{"node":"Eliminar Evento Calendar","type":"main","index":0}],[{"node":"No Encontrada (Cancelar)","type":"main","index":0}]]},"Eliminar Evento Calendar":{"main":[[{"node":"Marcar Cancelada","type":"main","index":0}]]},"Marcar Cancelada":{"main":[[{"node":"Respuesta Cancelar OK","type":"main","index":0}]]},"Webhook Reservas Taller":{"main":[[{"node":"Normalizar Datos","type":"main","index":0}]]},"Send message":{"main":[[{"node":"Respuesta Crear OK","type":"main","index":0}]]}},"authors":"Manuel del Monte","name":"Version 75952a0a","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-08T12:12:51.870Z","id":48,"workflowId":"t8vKCqIexZh9kAbR","versionId":"75952a0a-8076-4c45-8d62-2e4b84d60117","event":"activated","userId":"a6929b3e-acf1-4b4a-a209-5292788f81b4"}]}}