knowledge/projects/agentesia/n8n-backups/facturaia/zYcHHa8jWXB6dY5i_FacturaIA__WhatsApp_Receptor_v2.json
{"updatedAt":"2026-04-27T09:22:17.091Z","createdAt":"2026-04-21T12:23:35.269Z","id":"zYcHHa8jWXB6dY5i","name":"FacturaIA — WhatsApp Receptor v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-facturaia","options":{}},"id":"wa-recv-0001","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,592],"webhookId":"wa-receptor-001"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst entry = (body.entry || [])[0];\nif (!entry) return [];\nconst change = (entry.changes || [])[0];\nif (!change || change.field !== 'messages') return [];\nconst value = change.value || {};\nconst msg = (value.messages || [])[0];\nif (!msg) return [];\n\nconst contact = (value.contacts || [])[0];\nconst phoneNumberId = value.metadata?.phone_number_id || '';\n\nlet normalized = (msg.from || '').replace(/[\\s\\-\\(\\)\\+]/g, '');\nif (normalized.startsWith('0034')) normalized = normalized.slice(4);\nif (normalized.length === 9) normalized = '34' + normalized;\n\nconst result = {\n  from: msg.from,\n  from_name: contact?.profile?.name || msg.from,\n  normalized_phone: normalized,\n  message_id: msg.id,\n  timestamp: msg.timestamp,\n  msg_type: msg.type,\n  phone_number_id: phoneNumberId,\n  media_id: null,\n  mime_type: null,\n  caption: null,\n  filename: null,\n  text_body: null,\n  button_reply_id: null,\n  button_reply_title: null\n};\n\nswitch (msg.type) {\n  case 'image':\n    result.media_id = msg.image.id;\n    result.mime_type = msg.image.mime_type;\n    result.caption = msg.image.caption || null;\n    result.filename = `whatsapp-${msg.from}-${Date.now()}.jpg`;\n    break;\n  case 'document':\n    result.media_id = msg.document.id;\n    result.mime_type = msg.document.mime_type;\n    result.caption = msg.document.caption || null;\n    result.filename = msg.document.filename || `whatsapp-${msg.from}-${Date.now()}.pdf`;\n    break;\n  case 'audio':\n    result.media_id = msg.audio.id;\n    result.mime_type = msg.audio.mime_type;\n    result.filename = `voice-${msg.from}-${Date.now()}.ogg`;\n    break;\n  case 'text':\n    result.text_body = msg.text?.body || null;\n    break;\n  case 'interactive':\n    if (msg.interactive?.type === 'button_reply') {\n      result.button_reply_id = msg.interactive.button_reply.id;\n      result.button_reply_title = msg.interactive.button_reply.title;\n    }\n    break;\n}\n\nreturn [{ json: result }];"},"id":"wa-recv-0002","name":"Parsear Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,592]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msg_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msg_type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}},{"leftValue":"={{ $json.msg_type }}","rightValue":"document","operator":{"type":"string","operation":"equals"}}],"combinator":"or"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msg_type }}","rightValue":"interactive","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msg_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"wa-recv-router","name":"Router Tipo Mensaje","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[448,544]},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"wa-recv-0004","name":"Obtener URL del Archivo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,-80],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"wa-recv-0005","name":"Descargar Archivo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,-80],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"jsCode":"// Config\nconst SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\n\nconst parsed = $('Parsear Mensaje').first().json;\nconst filename = parsed.filename;\nconst mimeType = parsed.mime_type || 'application/octet-stream';\nconst from = parsed.from;\nconst fromName = parsed.from_name;\nconst phoneNumberId = parsed.phone_number_id;\n\nlet normalized = from.replace(/[\\s\\-\\(\\)\\+]/g, '');\nif (normalized.startsWith('0034')) normalized = normalized.slice(4);\nif (normalized.length === 9) normalized = '34' + normalized;\n\nconst orgs = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/organizations`,\n  qs: {\n    'settings->whatsapp->>phone_number': `eq.${normalized}`,\n    'select': 'id,nombre'\n  },\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`,\n  },\n  json: true,\n});\n\nif (!orgs || orgs.length === 0) {\n  return [{ json: { matched: false, senderPhone: normalized, phone_number_id: phoneNumberId } }];\n}\n\nconst ORG_ID = orgs[0].id;\nconst ORG_NOMBRE = orgs[0].nombre;\n\n// Get real base64 from binary (filesystem-v2 mode)\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = buffer.toString('base64');\n\nconst storagePath = `${ORG_ID}/${Date.now()}-${filename}`;\n\nreturn [{\n  json: {\n    matched: true,\n    org_id: ORG_ID,\n    org_nombre: ORG_NOMBRE,\n    filename: filename,\n    storage_path: storagePath,\n    mime_type: mimeType,\n    from: from,\n    from_name: fromName,\n    base64: base64,\n    phone_number_id: phoneNumberId,\n    supabase_url: SUPABASE_URL,\n    supabase_key: SUPABASE_KEY,\n    documento_url: `${SUPABASE_URL}/storage/v1/object/public/facturas/${storagePath}`\n  },\n  binary: $input.first().binary\n}];"},"id":"wa-recv-0006","name":"Preparar Datos Ingesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-matched","leftValue":"={{ $json.matched }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"wa-recv-0013","name":"Org Encontrada?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1344,-80]},{"parameters":{"method":"POST","url":"={{ $json.supabase_url }}/storage/v1/object/facturas/{{ $json.storage_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.supabase_key }}"},{"name":"Content-Type","value":"={{ $json.mime_type }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"wa-recv-0007","name":"Subir a Storage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,-176]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Preparar Datos Ingesta').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Preparar Datos Ingesta').first().json.senderPhone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Este numero no esta registrado en FacturaIA. Registrate en facturaia.com para empezar a gestionar tus facturas.\"\n  }\n}","options":{}},"id":"wa-recv-0014","name":"Responder No Registrado OCR","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,16],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"={{ $('Preparar Datos Ingesta').first().json.supabase_url }}/rest/v1/facturas","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Preparar Datos Ingesta').first().json.supabase_key }}"},{"name":"Authorization","value":"=Bearer {{ $('Preparar Datos Ingesta').first().json.supabase_key }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $('Preparar Datos Ingesta').first().json.org_id }}\",\n  \"tipo\": \"recibida\",\n  \"estado\": \"sin_aprobar\",\n  \"num\": \"WA-{{ $('Parsear Mensaje').first().json.from }}-{{ $now.toMillis() }}\",\n  \"serie\": \"R\",\n  \"base\": 0,\n  \"iva_pct\": 21,\n  \"total\": 0,\n  \"fuente\": \"whatsapp\",\n  \"documento_url\": \"{{ $('Preparar Datos Ingesta').first().json.documento_url }}\",\n  \"fecha\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"vto\": \"{{ $now.format('yyyy-MM-dd') }}\"\n}","options":{}},"id":"wa-recv-0008","name":"Crear Factura en BD","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,-176]},{"parameters":{"method":"POST","url":"={{ $('Preparar Datos Ingesta').first().json.supabase_url }}/rest/v1/bandeja_ingesta","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Preparar Datos Ingesta').first().json.supabase_key }}"},{"name":"Authorization","value":"=Bearer {{ $('Preparar Datos Ingesta').first().json.supabase_key }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $('Preparar Datos Ingesta').first().json.org_id }}\",\n  \"fuente\": \"whatsapp\",\n  \"emisor\": \"{{ $('Preparar Datos Ingesta').first().json.from_name }} ({{ $('Preparar Datos Ingesta').first().json.from }})\",\n  \"nombre_archivo\": \"{{ $('Preparar Datos Ingesta').first().json.filename }}\",\n  \"documento_url\": \"{{ $('Preparar Datos Ingesta').first().json.documento_url }}\",\n  \"progreso\": 0,\n  \"estado\": \"procesando\",\n  \"factura_id\": \"{{ $json.id }}\"\n}","options":{}},"id":"wa-recv-0009","name":"Crear Entrada Bandeja","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,-176]},{"parameters":{"jsCode":"// Inline OCR: OpenAI Vision + update bandeja\nconst prep = $('Preparar Datos Ingesta').first().json;\nconst bandeja = $input.first().json; // from Crear Entrada Bandeja\nconst b64 = prep.base64;\nconst mime = prep.mime_type || 'image/jpeg';\nconst orgNombre = prep.org_nombre || '';\nconst SUPABASE_URL = prep.supabase_url;\nconst SUPABASE_KEY = prep.supabase_key;\n\nlet promptContext = '';\nif (orgNombre) {\n  promptContext = 'IMPORTANTE: La empresa que sube esta factura es \"' + orgNombre + '\". Esta empresa es el CLIENTE/RECEPTOR de la factura. El proveedor/emisor es la OTRA empresa que aparece en el documento. No confundas receptor con emisor.\\n\\n';\n}\n\nconst prompt = promptContext + 'Extrae los datos de esta factura y devuelve SOLO un JSON valido (sin markdown, sin ```json, sin texto adicional) con esta estructura exacta:\\n{\\n  \"prov\": \"nombre del proveedor o emisor de la factura (NO el receptor/cliente)\",\\n  \"nif\": \"NIF o CIF del emisor/proveedor\",\\n  \"direccion\": \"direccion fiscal del emisor/proveedor\",\\n  \"cp\": \"codigo postal del emisor/proveedor\",\\n  \"ciudad\": \"ciudad del emisor/proveedor\",\\n  \"pais\": \"pais del emisor/proveedor (codigo ISO 2 letras, ej: ES)\",\\n  \"telefono\": \"telefono del emisor/proveedor\",\\n  \"email\": \"email del emisor/proveedor\",\\n  \"num_factura\": \"numero de factura tal como aparece en el documento\",\\n  \"fecha\": \"YYYY-MM-DD\",\\n  \"vto\": \"YYYY-MM-DD o null si no hay fecha de vencimiento\",\\n  \"base\": 0.00,\\n  \"iva\": 0.00,\\n  \"iva_pct\": 21,\\n  \"irpf_pct\": 0,\\n  \"descuento_pct\": 0,\\n  \"total\": 0.00,\\n  \"categoria\": \"una de: Suministros, Alquiler, Software, Material, Servicios, Personal, Seguros, Fiscal, Otros\",\\n  \"conceptos\": [\"concepto1\", \"concepto2\"],\\n  \"forma_pago\": \"Transferencia, Domiciliacion, Tarjeta, Efectivo, o como aparezca\",\\n  \"iban\": \"numero IBAN si aparece en la factura\",\\n  \"moneda\": \"codigo ISO moneda, ej: EUR, USD\",\\n  \"confianza\": 0.95\\n}\\nDevuelve solo los campos que encuentres en la factura. Omite los que no aparezcan. Si no puedes extraer un campo numerico, pon 0. Si no puedes extraer un campo de texto, omitelo.';\n\nconst content = [];\nif (mime === 'application/pdf') {\n  content.push({ type: 'file', file: { filename: prep.filename || 'factura.pdf', file_data: 'data:application/pdf;base64,' + b64 } });\n} else {\n  content.push({ type: 'image_url', image_url: { url: 'data:' + mime + ';base64,' + b64 } });\n}\ncontent.push({ type: 'text', text: prompt });\n\n// Call OpenAI Vision\nlet datos;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/chat/completions',\n    headers: {\n      'Authorization': 'Bearer [REDACTED-SECRET]',\n      'Content-Type': 'application/json',\n    },\n    body: {\n      model: 'gpt-4o-mini',\n      max_tokens: 1024,\n      messages: [{ role: 'user', content: content }]\n    },\n    json: true,\n  });\n\n  const text = resp.choices?.[0]?.message?.content || '{}';\n  let clean = text.trim();\n  if (clean.startsWith('```')) {\n    clean = clean.replace(/^```[a-z]*\\n?/, '').replace(/\\n?```$/, '');\n  }\n  datos = JSON.parse(clean);\n} catch(e) {\n  datos = { prov: null, total: 0, categoria: 'Otros', confianza: 0 };\n}\n\n// Update bandeja_ingesta with OCR results\nawait this.helpers.httpRequest({\n  method: 'PATCH',\n  url: `${SUPABASE_URL}/rest/v1/bandeja_ingesta?id=eq.${bandeja.id}`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation',\n  },\n  body: {\n    estado: 'listo',\n    progreso: 100,\n    datos_extraidos: datos,\n    emisor: datos.prov || null,\n  },\n  json: true,\n});\n\n// Also update the factura record with extracted data\nconst factura_id = bandeja.factura_id;\nif (factura_id && datos.num_factura) {\n  const updateBody = {};\n  if (datos.num_factura) updateBody.num = datos.num_factura;\n  if (datos.fecha) updateBody.fecha = datos.fecha;\n  if (datos.vto) updateBody.vto = datos.vto;\n  if (datos.base) updateBody.base = datos.base;\n  if (datos.iva_pct) updateBody.iva_pct = datos.iva_pct;\n  if (datos.irpf_pct) updateBody.irpf_pct = datos.irpf_pct;\n  if (datos.total) updateBody.total = datos.total;\n  if (datos.categoria) updateBody.categoria = datos.categoria;\n  if (datos.forma_pago) updateBody.forma_pago = datos.forma_pago;\n  if (datos.moneda) updateBody.moneda = datos.moneda;\n\n  if (Object.keys(updateBody).length > 0) {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/facturas?id=eq.${factura_id}`,\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n      },\n      body: updateBody,\n      json: true,\n    });\n  }\n}\n\nreturn [{ json: { success: true, bandeja_id: bandeja.id, datos_extraidos: datos } }];"},"id":"wa-recv-0010","name":"Disparar OCR","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,-176]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/1180494911802950/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Factura recibida. Estamos extrayendo los datos, en unos segundos la veras en tu bandeja de ingesta.\"\n  }\n}","options":{}},"id":"wa-recv-0011","name":"Confirmar Recepcion WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,-176],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Puedes enviar una foto, PDF o audio de voz para registrar o generar documentos.\"\n  }\n}","options":{}},"id":"wa-recv-0012","name":"Enviar Instrucciones de Uso","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,1200],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"jsCode":"const SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\nconst parsed = $('Parsear Mensaje').first().json;\nconst normalized = parsed.normalized_phone;\n\nconst resp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/organizations?settings-%3Ewhatsapp-%3E%3Ephone_number=eq.${normalized}&select=id,nombre`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`\n  },\n  json: true\n});\n\nif (!resp || resp.length === 0) {\n  return [{ json: {\n    matched: false,\n    from: parsed.from,\n    normalized_phone: normalized,\n    phone_number_id: parsed.phone_number_id\n  }}];\n}\n\nreturn [{ json: {\n  matched: true,\n  org_id: resp[0].id,\n  org_nombre: resp[0].nombre,\n  from: parsed.from,\n  normalized_phone: normalized,\n  phone_number_id: parsed.phone_number_id,\n  media_id: parsed.media_id,\n  mime_type: parsed.mime_type\n}}];"},"id":"v2-org-lookup-audio","name":"Buscar Org Voz","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.matched }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-org-check-audio","name":"Org Tiene Voz?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,-400]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Este numero no esta registrado en FacturaIA.\" }\n}","options":{}},"id":"v2-reply-not-registered","name":"Responder No Registrado Voz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,-272],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $('Buscar Org Voz').first().json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"v2-get-audio-url","name":"Obtener URL Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,-592],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"v2-download-audio","name":"Descargar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,-592],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-1"},{"name":"language","value":"es"},{"name":"response_format","value":"text"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"v2-whisper","name":"Transcribir Whisper","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,-592],"credentials":{"openAiApi":{"id":"E1alANWNJBEXTzkk","name":"OpenAI account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const whisperResult = $input.first().json;\nconst text = (typeof whisperResult === 'string' ? whisperResult : whisperResult.data || whisperResult.text || '').trim();\nconst org = $('Buscar Org Voz').first().json;\n\nreturn [{ json: {\n  transcription: text,\n  has_text: text.length > 5,\n  org_id: org.org_id,\n  org_nombre: org.org_nombre,\n  normalized_phone: org.normalized_phone,\n  raw_from: org.from,\n  phone_number_id: org.phone_number_id\n}}];"},"id":"v2-parse-whisper","name":"Parsear Transcripcion","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,-656]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.has_text }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-has-text","name":"Tiene Texto?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2464,-656]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"No pude entender el audio. Intenta de nuevo hablando mas claro.\" }\n}","options":{}},"id":"v2-reply-bad-audio","name":"Responder Audio No Reconocido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2592,-400],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"chatInput","value":"={{ $json.transcription || $json.correction_text }}","type":"string"},{"id":"a2","name":"sessionId","value":"={{ $json.normalized_phone }}","type":"string"},{"id":"a3","name":"org_id","value":"={{ $json.org_id }}","type":"string"},{"id":"a4","name":"org_nombre","value":"={{ $json.org_nombre }}","type":"string"},{"id":"a5","name":"raw_from","value":"={{ $json.raw_from }}","type":"string"},{"id":"a6","name":"phone_number_id","value":"={{ $json.phone_number_id }}","type":"string"}]},"options":{}},"id":"v2-set-agent-input","name":"Preparar Input Agente","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2688,-704]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Eres un asistente de facturacion para la organizacion \"{{ $json.org_nombre }}\".\nEl usuario te envia una transcripcion de audio donde pide crear una factura o presupuesto.\n\nTu trabajo:\n1. Usa consultar_catalogo para ver los servicios disponibles de esta organizacion\n2. Usa consultar_clientes para buscar el cliente mencionado\n3. Extrae los datos y devuelve SIEMPRE un JSON completo con este formato exacto:\n\n{\n  \"tipo\": \"factura\" o \"presupuesto\",\n  \"cliente\": {\n    \"nombre\": \"Nombre del cliente\",\n    \"id\": \"uuid-si-existe-en-BD o null\",\n    \"crear\": true o false\n  },\n  \"lineas\": [\n    {\n      \"descripcion\": \"Nombre del servicio o producto\",\n      \"cantidad\": 1,\n      \"precio_unitario\": 100.00,\n      \"iva_pct\": 21,\n      \"descuento_pct\": 0\n    }\n  ],\n  \"descuento_global_pct\": 0,\n  \"notas\": \"\"\n}\n\nReglas:\n- Si el cliente existe en la BD, usa su ID y pon crear: false\n- Si no existe, pon crear: true con el nombre que dijo el usuario\n- Si un servicio existe en el catalogo, usa su precio SALVO que el usuario diga otro precio\n- IVA por defecto 21% salvo que el usuario especifique otro\n- Si el usuario envia una correccion, devuelve el JSON COMPLETO actualizado, no solo el campo cambiado\n- NUNCA inventes clientes ni servicios que el usuario no menciono\n- Si no se especifica tipo, asume \"factura\"\n- Responde SOLO con el JSON, sin texto adicional ni markdown","maxIterations":5,"returnIntermediateSteps":false}},"id":"v2-ai-agent","name":"Agente Facturador","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3104,-704]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{"temperature":0.1}},"id":"v2-llm-openai","name":"OpenAI GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2912,-480],"credentials":{"openAiApi":{"id":"E1alANWNJBEXTzkk","name":"OpenAI account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Preparar Input Agente').first().json.sessionId }}","contextWindowLength":10},"id":"v2-memory-pg","name":"Memoria Postgres","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3040,-480],"credentials":{"postgres":{"id":"DgIPO386eOr2sbkb","name":"Postgres account"}}},{"parameters":{"name":"consultar_catalogo","description":"Consulta el catalogo de servicios/productos de la organizacion. Devuelve nombre, precio unitario, IVA y unidad de cada servicio activo. Usala SIEMPRE antes de generar el JSON para verificar si los servicios mencionados existen y a que precio. El parametro org_id se obtiene del contexto.","jsCode":"const SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\n// consultar_catalogo — toolCode\n// org_id comes from the agent input context\nconst orgId = $('Preparar Input Agente').first().json.org_id;\n\nconst result = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/catalogo_servicios?org_id=eq.${orgId}&activo=eq.true&select=nombre,precio_orientativo,iva_pct,unidad`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`\n  },\n  json: true\n});\n\nreturn JSON.stringify(result || []);"},"id":"v2-tool-catalogo","name":"consultar_catalogo","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[3168,-480]},{"parameters":{"name":"consultar_clientes","description":"Consulta la lista de clientes de la organizacion. Devuelve id, nombre, NIF y email de cada cliente. Usala SIEMPRE para buscar si el cliente mencionado ya existe en el sistema. El parametro org_id se obtiene del contexto.","jsCode":"const SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\n// consultar_clientes — toolCode\nconst orgId = $('Preparar Input Agente').first().json.org_id;\n\nconst result = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/clientes?org_id=eq.${orgId}&select=id,nombre,nif,email`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`\n  },\n  json: true\n});\n\nreturn JSON.stringify(result || []);"},"id":"v2-tool-clientes","name":"consultar_clientes","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[3296,-480]},{"parameters":{},"id":"v2-tool-think","name":"Think","type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[3424,-480]},{"parameters":{"jsCode":"const raw = $json.output || $json.text || '';\nlet data;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  data = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n} catch (e) {\n  return [{ json: {\n    error: true,\n    message: 'El agente no devolvio un JSON valido. Intenta de nuevo con un audio mas claro.',\n    raw_from: $('Preparar Input Agente').first().json.raw_from,\n    phone_number_id: $('Preparar Input Agente').first().json.phone_number_id\n  } }];\n}\n\nconst lineas = (data.lineas || []).map(l => {\n  const base = l.cantidad * l.precio_unitario;\n  const descLinea = base * ((l.descuento_pct || 0) / 100);\n  const baseNeta = base - descLinea;\n  const iva = baseNeta * ((l.iva_pct || 21) / 100);\n  return { ...l, base: baseNeta, iva };\n});\n\nconst subtotal = lineas.reduce((s, l) => s + l.base, 0);\nconst descGlobalPct = data.descuento_global_pct || 0;\nconst descGlobal = subtotal * (descGlobalPct / 100);\nconst baseTotal = subtotal - descGlobal;\nconst ivaTotal = lineas.reduce((s, l) => s + l.iva, 0) * (1 - descGlobalPct / 100);\nconst total = baseTotal + ivaTotal;\n\nconst fmt = n => n.toFixed(2).replace('.', ',');\n\nlet resumen = `*${(data.tipo || 'factura').toUpperCase()}*\\n`;\nresumen += `Cliente: ${data.cliente?.nombre || 'Sin nombre'}\\n\\n`;\nlineas.forEach(l => {\n  resumen += `- ${l.cantidad}x ${l.descripcion}: ${fmt(l.precio_unitario)} EUR/u = ${fmt(l.cantidad * l.precio_unitario)} EUR`;\n  if ((l.descuento_pct || 0) > 0) resumen += ` (-${l.descuento_pct}%)`;\n  resumen += '\\n';\n});\nresumen += '\\n';\nif (descGlobalPct > 0) resumen += `Dto global: ${descGlobalPct}%\\n`;\nresumen += `Base: ${fmt(baseTotal)} EUR\\n`;\nresumen += `IVA: ${fmt(ivaTotal)} EUR\\n`;\nresumen += `*TOTAL: ${fmt(total)} EUR*`;\n\nreturn [{ json: {\n  error: false,\n  data,\n  resumen,\n  totales: { base: baseTotal, iva: ivaTotal, total },\n  raw_from: $('Preparar Input Agente').first().json.raw_from,\n  phone_number_id: $('Preparar Input Agente').first().json.phone_number_id\n}}];"},"id":"v2-calc-totals","name":"Parsear y Calcular Totales","type":"n8n-nodes-base.code","typeVersion":2,"position":[3632,-704]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"v2-totals-ok","name":"Totales OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3856,-704]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.message }}\" }\n}","options":{}},"id":"v2-reply-agent-error","name":"Responder Error Agente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4080,-608],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($json.resumen) }} }\n}","options":{}},"id":"v2-send-summary","name":"Enviar Resumen WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4080,-800],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": { \"text\": \"Confirmas este documento?\" },\n    \"action\": {\n      \"buttons\": [\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_confirm\", \"title\": \"Confirmar\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_correct\", \"title\": \"Corregir\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_cancel\", \"title\": \"Cancelar\" } }\n      ]\n    }\n  }\n}","options":{}},"id":"v2-send-buttons","name":"Enviar Botones WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4304,-800],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as cnt FROM n8n_chat_histories WHERE session_id = '{{ $('Parsear Mensaje').first().json.normalized_phone }}' LIMIT 1","options":{}},"id":"v2-check-session","name":"Check Sesion Voz Activa","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[672,1024],"credentials":{"postgres":{"id":"DgIPO386eOr2sbkb","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ Number($json.cnt) }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"v2-has-session","name":"Tiene Sesion?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,1024]},{"parameters":{"jsCode":"const SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\nconst parsed = $('Parsear Mensaje').first().json;\nconst normalized = parsed.normalized_phone;\n\nconst resp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/organizations?settings-%3Ewhatsapp-%3E%3Ephone_number=eq.${normalized}&select=id,nombre`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`\n  },\n  json: true\n});\n\nconst org = resp?.[0] || {};\n\nreturn [{ json: {\n  correction_text: parsed.text_body,\n  normalized_phone: normalized,\n  raw_from: parsed.from,\n  phone_number_id: parsed.phone_number_id,\n  org_id: org.id || '',\n  org_nombre: org.nombre || ''\n}}];"},"id":"v2-set-correction","name":"Preparar Input Correccion","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,976]},{"parameters":{"jsCode":"const buttonId = $('Parsear Mensaje').first().json.button_reply_id;\n\nlet intent;\nif (buttonId === 'voice_confirm') intent = 'confirm';\nelse if (buttonId === 'voice_cancel') intent = 'cancel';\nelse if (buttonId === 'voice_correct') intent = 'correct';\nelse intent = 'unknown';\n\nreturn [{ json: {\n  intent,\n  normalized_phone: $('Parsear Mensaje').first().json.normalized_phone,\n  raw_from: $('Parsear Mensaje').first().json.from,\n  phone_number_id: $('Parsear Mensaje').first().json.phone_number_id\n}}];"},"id":"v2-process-button","name":"Procesar Boton","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,592]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"confirm","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"cancel","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"correct","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"none"}},"id":"v2-intent-switch","name":"Router Intencion","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[896,576]},{"parameters":{"operation":"executeQuery","query":"SELECT id, session_id, message FROM n8n_chat_histories WHERE session_id = '{{ $json.normalized_phone }}' ORDER BY id DESC LIMIT 5","options":{}},"id":"v2-read-last-ai","name":"Leer Ultimo JSON Agente","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1120,400],"credentials":{"postgres":{"id":"DgIPO386eOr2sbkb","name":"Postgres account"}}},{"parameters":{"jsCode":"const SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\nconst rows = $input.all();\nif (!rows.length) return [{ json: { error: true, message: 'No hay sesion de factura activa.' } }];\n\nlet raw = '';\nfor (const row of rows) {\n  const msg = row.json?.message;\n  if (!msg) continue;\n  const msgObj = typeof msg === 'string' ? JSON.parse(msg) : msg;\n  if (msgObj.type === 'ai' || msgObj.type === 'AIMessage' || msgObj.type === 'assistant') {\n    raw = msgObj.data?.content || msgObj.content || (typeof msg === 'string' ? msg : JSON.stringify(msg));\n    break;\n  }\n}\n\nif (!raw) {\n  const firstMsg = rows[0]?.json?.message;\n  const debug = typeof firstMsg === 'string' ? firstMsg.substring(0, 200) : JSON.stringify(firstMsg).substring(0, 200);\n  return [{ json: { error: true, message: 'No se encontro respuesta del agente. Debug: ' + debug } }];\n}\n\nlet data;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  data = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n} catch (e) {\n  return [{ json: { error: true, message: 'JSON invalido del agente. Raw: ' + raw.substring(0, 200) } }];\n}\n\nconst phone = $('Procesar Boton').first().json.normalized_phone;\n\nconst orgLookup = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/organizations?select=id&settings-%3Ewhatsapp-%3E%3Ephone_number=eq.${phone}`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`\n  },\n  json: true\n});\n\nconst org_id = orgLookup?.[0]?.id;\nif (!org_id) return [{ json: { error: true, message: 'Org no encontrada' } }];\n\nconst lineas = (data.lineas || []).map(l => ({\n  concepto: l.descripcion || l.concepto,\n  cantidad: l.cantidad,\n  precio_unitario: l.precio_unitario,\n  iva_pct: l.iva_pct || 21,\n  descuento_pct: l.descuento_pct || 0\n}));\n\nreturn [{ json: {\n  error: false,\n  org_id,\n  tipo: data.tipo || 'factura',\n  cliente: data.cliente,\n  lineas,\n  descuento_global_pct: data.descuento_global_pct || 0,\n  notas: data.notas || null,\n  phone,\n  raw_from: $('Procesar Boton').first().json.raw_from,\n  phone_number_id: $('Procesar Boton').first().json.phone_number_id\n}}];"},"id":"v2-prep-generate","name":"Preparar Datos Generar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"v2-prep-ok","name":"Datos OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,400]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.message }}\" }\n}","options":{}},"id":"v2-reply-prep-error","name":"Responder Error Datos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,624],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"https://facturaia.agentesia.world/api/voice/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-service-key","value":"[REDACTED-JWT_LIKE]"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ org_id: $json.org_id, tipo: $json.tipo, cliente: $json.cliente, lineas: $json.lineas, descuento_global_pct: $json.descuento_global_pct, notas: $json.notas, phone: $json.phone }) }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"v2-generate","name":"Generar Factura","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,304],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-gen-ok","name":"Generacion OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2016,240]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Hubo un error al generar el documento. Intenta de nuevo.\" }\n}","options":{}},"id":"v2-reply-gen-error","name":"Responder Error Generacion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,496],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.pdf_url }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"v2-has-pdf","name":"Tiene PDF?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2240,192]},{"parameters":{"url":"={{ $json.pdf_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"v2-download-pdf","name":"Descargar PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,112],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Procesar Boton').first().json.phone_number_id }}/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"type","value":"application/pdf"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"v2-upload-media","name":"Subir PDF a WhatsApp Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,-80],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"document\",\n  \"document\": {\n    \"id\": \"{{ $json.id }}\",\n    \"filename\": \"{{ $('Generacion OK?').first().json.num || 'factura' }}.pdf\",\n    \"caption\": \"{{ $('Generacion OK?').first().json.tipo === 'presupuesto' ? 'Presupuesto' : 'Factura' }} generada por voz.\"\n  }\n}","options":{}},"id":"v2-send-document","name":"Enviar Documento PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3168,-144],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories WHERE session_id = '{{ $('Procesar Boton').first().json.normalized_phone }}'","options":{}},"id":"v2-clean-session-confirm","name":"Limpiar Sesion Confirmar","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3632,-144],"credentials":{"postgres":{"id":"DgIPO386eOr2sbkb","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $('Generacion OK?').first().json.tipo === 'presupuesto' ? 'Presupuesto' : 'Factura' }} {{ $('Generacion OK?').first().json.num || '' }} creada correctamente. Ya la puedes ver en tu dashboard.\" }\n}","options":{}},"id":"v2-reply-text-only","name":"Enviar Confirmacion sin PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3168,336],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories WHERE session_id = '{{ $('Procesar Boton').first().json.normalized_phone }}'","options":{}},"id":"v2-clean-session-text-only","name":"Limpiar Sesion Texto","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3632,336],"credentials":{"postgres":{"id":"DgIPO386eOr2sbkb","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories WHERE session_id = '{{ $json.normalized_phone }}'","options":{}},"id":"v2-clean-session-cancel","name":"Limpiar Sesion Cancelar","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1120,592],"credentials":{"postgres":{"id":"DgIPO386eOr2sbkb","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Generacion cancelada.\" }\n}","options":{}},"id":"v2-reply-cancel","name":"Responder Cancelar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,592],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Dime que quieres cambiar.\" }\n}","options":{}},"id":"v2-reply-correct","name":"Responder Corregir","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,784],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"jsCode":"const SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\nconst orgId = $json.org_id;\n\nconst resp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${SUPABASE_URL}/rest/v1/rpc/org_has_feature`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`,\n    'Content-Type': 'application/json'\n  },\n  body: { p_org_id: orgId, p_feature_id: 'generador_voz' },\n  json: true\n});\n\nreturn [{ json: { ...$json, has_feature: resp === true } }];"},"id":"v2-feature-gate","name":"Check Feature Voz","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-496]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.has_feature }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-feature-if","name":"Tiene Feature Voz?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1344,-496]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Esta funcion requiere plan Pro. Contacta con soporte para activarla.\" }\n}","options":{}},"id":"v2-reply-no-feature","name":"Responder No Tiene Feature","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,-368],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}}],"connections":{"Webhook WhatsApp":{"main":[[{"node":"Parsear Mensaje","type":"main","index":0}]]},"Parsear Mensaje":{"main":[[{"node":"Router Tipo Mensaje","type":"main","index":0}]]},"Router Tipo Mensaje":{"main":[[{"node":"Buscar Org Voz","type":"main","index":0}],[{"node":"Obtener URL del Archivo","type":"main","index":0}],[{"node":"Procesar Boton","type":"main","index":0}],[{"node":"Check Sesion Voz Activa","type":"main","index":0}],[{"node":"Enviar Instrucciones de Uso","type":"main","index":0}]]},"Obtener URL del Archivo":{"main":[[{"node":"Descargar Archivo","type":"main","index":0}]]},"Descargar Archivo":{"main":[[{"node":"Preparar Datos Ingesta","type":"main","index":0}]]},"Preparar Datos Ingesta":{"main":[[{"node":"Org Encontrada?","type":"main","index":0}]]},"Org Encontrada?":{"main":[[{"node":"Subir a Storage","type":"main","index":0}],[{"node":"Responder No Registrado OCR","type":"main","index":0}]]},"Subir a Storage":{"main":[[{"node":"Crear Factura en BD","type":"main","index":0}]]},"Crear Factura en BD":{"main":[[{"node":"Crear Entrada Bandeja","type":"main","index":0}]]},"Crear Entrada Bandeja":{"main":[[{"node":"Disparar OCR","type":"main","index":0}]]},"Disparar OCR":{"main":[[{"node":"Confirmar Recepcion WhatsApp","type":"main","index":0}]]},"Buscar Org Voz":{"main":[[{"node":"Org Tiene Voz?","type":"main","index":0}]]},"Org Tiene Voz?":{"main":[[{"node":"Check Feature Voz","type":"main","index":0}],[{"node":"Responder No Registrado Voz","type":"main","index":0}]]},"Obtener URL Audio":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Transcribir Whisper","type":"main","index":0}]]},"Transcribir Whisper":{"main":[[{"node":"Parsear Transcripcion","type":"main","index":0}],[{"node":"Responder Audio No Reconocido","type":"main","index":0}]]},"Parsear Transcripcion":{"main":[[{"node":"Tiene Texto?","type":"main","index":0}]]},"Tiene Texto?":{"main":[[{"node":"Preparar Input Agente","type":"main","index":0}],[{"node":"Responder Audio No Reconocido","type":"main","index":0}]]},"Preparar Input Agente":{"main":[[{"node":"Agente Facturador","type":"main","index":0}]]},"Agente Facturador":{"main":[[{"node":"Parsear y Calcular Totales","type":"main","index":0}]]},"Parsear y Calcular Totales":{"main":[[{"node":"Totales OK?","type":"main","index":0}]]},"Totales OK?":{"main":[[{"node":"Enviar Resumen WhatsApp","type":"main","index":0}],[{"node":"Responder Error Agente","type":"main","index":0}]]},"Enviar Resumen WhatsApp":{"main":[[{"node":"Enviar Botones WhatsApp","type":"main","index":0}]]},"Check Sesion Voz Activa":{"main":[[{"node":"Tiene Sesion?","type":"main","index":0}]]},"Tiene Sesion?":{"main":[[{"node":"Preparar Input Correccion","type":"main","index":0}],[{"node":"Enviar Instrucciones de Uso","type":"main","index":0}]]},"Preparar Input Correccion":{"main":[[{"node":"Preparar Input Agente","type":"main","index":0}]]},"Procesar Boton":{"main":[[{"node":"Router Intencion","type":"main","index":0}]]},"Router Intencion":{"main":[[{"node":"Leer Ultimo JSON Agente","type":"main","index":0}],[{"node":"Limpiar Sesion Cancelar","type":"main","index":0}],[{"node":"Responder Corregir","type":"main","index":0}]]},"Leer Ultimo JSON Agente":{"main":[[{"node":"Preparar Datos Generar","type":"main","index":0}]]},"Preparar Datos Generar":{"main":[[{"node":"Datos OK?","type":"main","index":0}]]},"Datos OK?":{"main":[[{"node":"Generar Factura","type":"main","index":0}],[{"node":"Responder Error Datos","type":"main","index":0}]]},"Generar Factura":{"main":[[{"node":"Generacion OK?","type":"main","index":0}],[{"node":"Responder Error Generacion","type":"main","index":0}]]},"Generacion OK?":{"main":[[{"node":"Tiene PDF?","type":"main","index":0}],[{"node":"Responder Error Generacion","type":"main","index":0}]]},"Tiene PDF?":{"main":[[{"node":"Descargar PDF","type":"main","index":0}],[{"node":"Enviar Confirmacion sin PDF","type":"main","index":0}]]},"Descargar PDF":{"main":[[{"node":"Subir PDF a WhatsApp Media","type":"main","index":0}],[{"node":"Enviar Confirmacion sin PDF","type":"main","index":0}]]},"Subir PDF a WhatsApp Media":{"main":[[{"node":"Enviar Documento PDF","type":"main","index":0}],[{"node":"Enviar Confirmacion sin PDF","type":"main","index":0}]]},"Enviar Documento PDF":{"main":[[{"node":"Limpiar Sesion Confirmar","type":"main","index":0}]]},"Enviar Confirmacion sin PDF":{"main":[[{"node":"Limpiar Sesion Texto","type":"main","index":0}]]},"Limpiar Sesion Cancelar":{"main":[[{"node":"Responder Cancelar","type":"main","index":0}]]},"Check Feature Voz":{"main":[[{"node":"Tiene Feature Voz?","type":"main","index":0}]]},"Tiene Feature Voz?":{"main":[[{"node":"Obtener URL Audio","type":"main","index":0}],[{"node":"Responder No Tiene Feature","type":"main","index":0}]]},"OpenAI GPT-4o":{"ai_languageModel":[[{"node":"Agente Facturador","type":"ai_languageModel","index":0}]]},"Memoria Postgres":{"ai_memory":[[{"node":"Agente Facturador","type":"ai_memory","index":0}]]},"consultar_catalogo":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"consultar_clientes":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"103a30eb-89d0-46de-a297-271515986740","activeVersionId":"ef09a47a-9477-418b-adc3-1a56d5997bf2","versionCounter":173,"triggerCount":1,"shared":[{"updatedAt":"2026-04-21T12:23:35.269Z","createdAt":"2026-04-21T12:23:35.269Z","role":"workflow:owner","workflowId":"zYcHHa8jWXB6dY5i","projectId":"RiGU51nbyL5mySOC","project":{"updatedAt":"2026-04-05T14:41:05.056Z","createdAt":"2026-04-05T14:33:44.853Z","id":"RiGU51nbyL5mySOC","name":"Manuel del Monte <m.delmonte.p@agentesia.madrid>","type":"personal","icon":null,"description":null,"creatorId":"a6929b3e-acf1-4b4a-a209-5292788f81b4"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-27T09:10:23.268Z","createdAt":"2026-04-27T09:10:20.961Z","versionId":"ef09a47a-9477-418b-adc3-1a56d5997bf2","workflowId":"zYcHHa8jWXB6dY5i","nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-facturaia","options":{}},"id":"wa-recv-0001","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,592],"webhookId":"wa-receptor-001"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst entry = (body.entry || [])[0];\nif (!entry) return [];\nconst change = (entry.changes || [])[0];\nif (!change || change.field !== 'messages') return [];\nconst value = change.value || {};\nconst msg = (value.messages || [])[0];\nif (!msg) return [];\n\nconst contact = (value.contacts || [])[0];\nconst phoneNumberId = value.metadata?.phone_number_id || '';\n\nlet normalized = (msg.from || '').replace(/[\\s\\-\\(\\)\\+]/g, '');\nif (normalized.startsWith('0034')) normalized = normalized.slice(4);\nif (normalized.length === 9) normalized = '34' + normalized;\n\nconst result = {\n  from: msg.from,\n  from_name: contact?.profile?.name || msg.from,\n  normalized_phone: normalized,\n  message_id: msg.id,\n  timestamp: msg.timestamp,\n  msg_type: msg.type,\n  phone_number_id: phoneNumberId,\n  media_id: null,\n  mime_type: null,\n  caption: null,\n  filename: null,\n  text_body: null,\n  button_reply_id: null,\n  button_reply_title: null\n};\n\nswitch (msg.type) {\n  case 'image':\n    result.media_id = msg.image.id;\n    result.mime_type = msg.image.mime_type;\n    result.caption = msg.image.caption || null;\n    result.filename = `whatsapp-${msg.from}-${Date.now()}.jpg`;\n    break;\n  case 'document':\n    result.media_id = msg.document.id;\n    result.mime_type = msg.document.mime_type;\n    result.caption = msg.document.caption || null;\n    result.filename = msg.document.filename || `whatsapp-${msg.from}-${Date.now()}.pdf`;\n    break;\n  case 'audio':\n    result.media_id = msg.audio.id;\n    result.mime_type = msg.audio.mime_type;\n    result.filename = `voice-${msg.from}-${Date.now()}.ogg`;\n    break;\n  case 'text':\n    result.text_body = msg.text?.body || null;\n    break;\n  case 'interactive':\n    if (msg.interactive?.type === 'button_reply') {\n      result.button_reply_id = msg.interactive.button_reply.id;\n      result.button_reply_title = msg.interactive.button_reply.title;\n    }\n    break;\n}\n\nreturn [{ json: result }];"},"id":"wa-recv-0002","name":"Parsear Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,592]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msg_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msg_type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}},{"leftValue":"={{ $json.msg_type }}","rightValue":"document","operator":{"type":"string","operation":"equals"}}],"combinator":"or"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msg_type }}","rightValue":"interactive","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msg_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"wa-recv-router","name":"Router Tipo Mensaje","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[448,544]},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"wa-recv-0004","name":"Obtener URL del Archivo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,-80],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"wa-recv-0005","name":"Descargar Archivo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,-80],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"jsCode":"// Config\nconst SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\n\nconst parsed = $('Parsear Mensaje').first().json;\nconst filename = parsed.filename;\nconst mimeType = parsed.mime_type || 'application/octet-stream';\nconst from = parsed.from;\nconst fromName = parsed.from_name;\nconst phoneNumberId = parsed.phone_number_id;\n\nlet normalized = from.replace(/[\\s\\-\\(\\)\\+]/g, '');\nif (normalized.startsWith('0034')) normalized = normalized.slice(4);\nif (normalized.length === 9) normalized = '34' + normalized;\n\nconst orgs = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/organizations`,\n  qs: {\n    'settings->whatsapp->>phone_number': `eq.${normalized}`,\n    'select': 'id,nombre'\n  },\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`,\n  },\n  json: true,\n});\n\nif (!orgs || orgs.length === 0) {\n  return [{ json: { matched: false, senderPhone: normalized, phone_number_id: phoneNumberId } }];\n}\n\nconst ORG_ID = orgs[0].id;\nconst ORG_NOMBRE = orgs[0].nombre;\n\n// Get real base64 from binary (filesystem-v2 mode)\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = buffer.toString('base64');\n\nconst storagePath = `${ORG_ID}/${Date.now()}-${filename}`;\n\nreturn [{\n  json: {\n    matched: true,\n    org_id: ORG_ID,\n    org_nombre: ORG_NOMBRE,\n    filename: filename,\n    storage_path: storagePath,\n    mime_type: mimeType,\n    from: from,\n    from_name: fromName,\n    base64: base64,\n    phone_number_id: phoneNumberId,\n    supabase_url: SUPABASE_URL,\n    supabase_key: SUPABASE_KEY,\n    documento_url: `${SUPABASE_URL}/storage/v1/object/public/facturas/${storagePath}`\n  },\n  binary: $input.first().binary\n}];"},"id":"wa-recv-0006","name":"Preparar Datos Ingesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-matched","leftValue":"={{ $json.matched }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"wa-recv-0013","name":"Org Encontrada?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1344,-80]},{"parameters":{"method":"POST","url":"={{ $json.supabase_url }}/storage/v1/object/facturas/{{ $json.storage_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.supabase_key }}"},{"name":"Content-Type","value":"={{ $json.mime_type }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"wa-recv-0007","name":"Subir a Storage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,-176]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Preparar Datos Ingesta').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Preparar Datos Ingesta').first().json.senderPhone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Este numero no esta registrado en FacturaIA. Registrate en facturaia.com para empezar a gestionar tus facturas.\"\n  }\n}","options":{}},"id":"wa-recv-0014","name":"Responder No Registrado OCR","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,16],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"={{ $('Preparar Datos Ingesta').first().json.supabase_url }}/rest/v1/facturas","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Preparar Datos Ingesta').first().json.supabase_key }}"},{"name":"Authorization","value":"=Bearer {{ $('Preparar Datos Ingesta').first().json.supabase_key }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $('Preparar Datos Ingesta').first().json.org_id }}\",\n  \"tipo\": \"recibida\",\n  \"estado\": \"sin_aprobar\",\n  \"num\": \"WA-{{ $('Parsear Mensaje').first().json.from }}-{{ $now.toMillis() }}\",\n  \"serie\": \"R\",\n  \"base\": 0,\n  \"iva_pct\": 21,\n  \"total\": 0,\n  \"fuente\": \"whatsapp\",\n  \"documento_url\": \"{{ $('Preparar Datos Ingesta').first().json.documento_url }}\",\n  \"fecha\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"vto\": \"{{ $now.format('yyyy-MM-dd') }}\"\n}","options":{}},"id":"wa-recv-0008","name":"Crear Factura en BD","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,-176]},{"parameters":{"method":"POST","url":"={{ $('Preparar Datos Ingesta').first().json.supabase_url }}/rest/v1/bandeja_ingesta","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Preparar Datos Ingesta').first().json.supabase_key }}"},{"name":"Authorization","value":"=Bearer {{ $('Preparar Datos Ingesta').first().json.supabase_key }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"org_id\": \"{{ $('Preparar Datos Ingesta').first().json.org_id }}\",\n  \"fuente\": \"whatsapp\",\n  \"emisor\": \"{{ $('Preparar Datos Ingesta').first().json.from_name }} ({{ $('Preparar Datos Ingesta').first().json.from }})\",\n  \"nombre_archivo\": \"{{ $('Preparar Datos Ingesta').first().json.filename }}\",\n  \"documento_url\": \"{{ $('Preparar Datos Ingesta').first().json.documento_url }}\",\n  \"progreso\": 0,\n  \"estado\": \"procesando\",\n  \"factura_id\": \"{{ $json.id }}\"\n}","options":{}},"id":"wa-recv-0009","name":"Crear Entrada Bandeja","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,-176]},{"parameters":{"jsCode":"// Inline OCR: OpenAI Vision + update bandeja\nconst prep = $('Preparar Datos Ingesta').first().json;\nconst bandeja = $input.first().json; // from Crear Entrada Bandeja\nconst b64 = prep.base64;\nconst mime = prep.mime_type || 'image/jpeg';\nconst orgNombre = prep.org_nombre || '';\nconst SUPABASE_URL = prep.supabase_url;\nconst SUPABASE_KEY = prep.supabase_key;\n\nlet promptContext = '';\nif (orgNombre) {\n  promptContext = 'IMPORTANTE: La empresa que sube esta factura es \"' + orgNombre + '\". Esta empresa es el CLIENTE/RECEPTOR de la factura. El proveedor/emisor es la OTRA empresa que aparece en el documento. No confundas receptor con emisor.\\n\\n';\n}\n\nconst prompt = promptContext + 'Extrae los datos de esta factura y devuelve SOLO un JSON valido (sin markdown, sin ```json, sin texto adicional) con esta estructura exacta:\\n{\\n  \"prov\": \"nombre del proveedor o emisor de la factura (NO el receptor/cliente)\",\\n  \"nif\": \"NIF o CIF del emisor/proveedor\",\\n  \"direccion\": \"direccion fiscal del emisor/proveedor\",\\n  \"cp\": \"codigo postal del emisor/proveedor\",\\n  \"ciudad\": \"ciudad del emisor/proveedor\",\\n  \"pais\": \"pais del emisor/proveedor (codigo ISO 2 letras, ej: ES)\",\\n  \"telefono\": \"telefono del emisor/proveedor\",\\n  \"email\": \"email del emisor/proveedor\",\\n  \"num_factura\": \"numero de factura tal como aparece en el documento\",\\n  \"fecha\": \"YYYY-MM-DD\",\\n  \"vto\": \"YYYY-MM-DD o null si no hay fecha de vencimiento\",\\n  \"base\": 0.00,\\n  \"iva\": 0.00,\\n  \"iva_pct\": 21,\\n  \"irpf_pct\": 0,\\n  \"descuento_pct\": 0,\\n  \"total\": 0.00,\\n  \"categoria\": \"una de: Suministros, Alquiler, Software, Material, Servicios, Personal, Seguros, Fiscal, Otros\",\\n  \"conceptos\": [\"concepto1\", \"concepto2\"],\\n  \"forma_pago\": \"Transferencia, Domiciliacion, Tarjeta, Efectivo, o como aparezca\",\\n  \"iban\": \"numero IBAN si aparece en la factura\",\\n  \"moneda\": \"codigo ISO moneda, ej: EUR, USD\",\\n  \"confianza\": 0.95\\n}\\nDevuelve solo los campos que encuentres en la factura. Omite los que no aparezcan. Si no puedes extraer un campo numerico, pon 0. Si no puedes extraer un campo de texto, omitelo.';\n\nconst content = [];\nif (mime === 'application/pdf') {\n  content.push({ type: 'file', file: { filename: prep.filename || 'factura.pdf', file_data: 'data:application/pdf;base64,' + b64 } });\n} else {\n  content.push({ type: 'image_url', image_url: { url: 'data:' + mime + ';base64,' + b64 } });\n}\ncontent.push({ type: 'text', text: prompt });\n\n// Call OpenAI Vision\nlet datos;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/chat/completions',\n    headers: {\n      'Authorization': 'Bearer [REDACTED-SECRET]',\n      'Content-Type': 'application/json',\n    },\n    body: {\n      model: 'gpt-4o-mini',\n      max_tokens: 1024,\n      messages: [{ role: 'user', content: content }]\n    },\n    json: true,\n  });\n\n  const text = resp.choices?.[0]?.message?.content || '{}';\n  let clean = text.trim();\n  if (clean.startsWith('```')) {\n    clean = clean.replace(/^```[a-z]*\\n?/, '').replace(/\\n?```$/, '');\n  }\n  datos = JSON.parse(clean);\n} catch(e) {\n  datos = { prov: null, total: 0, categoria: 'Otros', confianza: 0 };\n}\n\n// Update bandeja_ingesta with OCR results\nawait this.helpers.httpRequest({\n  method: 'PATCH',\n  url: `${SUPABASE_URL}/rest/v1/bandeja_ingesta?id=eq.${bandeja.id}`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation',\n  },\n  body: {\n    estado: 'listo',\n    progreso: 100,\n    datos_extraidos: datos,\n    emisor: datos.prov || null,\n  },\n  json: true,\n});\n\n// Also update the factura record with extracted data\nconst factura_id = bandeja.factura_id;\nif (factura_id && datos.num_factura) {\n  const updateBody = {};\n  if (datos.num_factura) updateBody.num = datos.num_factura;\n  if (datos.fecha) updateBody.fecha = datos.fecha;\n  if (datos.vto) updateBody.vto = datos.vto;\n  if (datos.base) updateBody.base = datos.base;\n  if (datos.iva_pct) updateBody.iva_pct = datos.iva_pct;\n  if (datos.irpf_pct) updateBody.irpf_pct = datos.irpf_pct;\n  if (datos.total) updateBody.total = datos.total;\n  if (datos.categoria) updateBody.categoria = datos.categoria;\n  if (datos.forma_pago) updateBody.forma_pago = datos.forma_pago;\n  if (datos.moneda) updateBody.moneda = datos.moneda;\n\n  if (Object.keys(updateBody).length > 0) {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/facturas?id=eq.${factura_id}`,\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n      },\n      body: updateBody,\n      json: true,\n    });\n  }\n}\n\nreturn [{ json: { success: true, bandeja_id: bandeja.id, datos_extraidos: datos } }];"},"id":"wa-recv-0010","name":"Disparar OCR","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,-176]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/1180494911802950/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Factura recibida. Estamos extrayendo los datos, en unos segundos la veras en tu bandeja de ingesta.\"\n  }\n}","options":{}},"id":"wa-recv-0011","name":"Confirmar Recepcion WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,-176],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Puedes enviar una foto, PDF o audio de voz para registrar o generar documentos.\"\n  }\n}","options":{}},"id":"wa-recv-0012","name":"Enviar Instrucciones de Uso","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,1192],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"jsCode":"const SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\nconst parsed = $('Parsear Mensaje').first().json;\nconst normalized = parsed.normalized_phone;\n\nconst resp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/organizations?settings-%3Ewhatsapp-%3E%3Ephone_number=eq.${normalized}&select=id,nombre`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`\n  },\n  json: true\n});\n\nif (!resp || resp.length === 0) {\n  return [{ json: {\n    matched: false,\n    from: parsed.from,\n    normalized_phone: normalized,\n    phone_number_id: parsed.phone_number_id\n  }}];\n}\n\nreturn [{ json: {\n  matched: true,\n  org_id: resp[0].id,\n  org_nombre: resp[0].nombre,\n  from: parsed.from,\n  normalized_phone: normalized,\n  phone_number_id: parsed.phone_number_id,\n  media_id: parsed.media_id,\n  mime_type: parsed.mime_type\n}}];"},"id":"v2-org-lookup-audio","name":"Buscar Org Voz","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-392]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.matched }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-org-check-audio","name":"Org Tiene Voz?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,-392]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Este numero no esta registrado en FacturaIA.\" }\n}","options":{}},"id":"v2-reply-not-registered","name":"Responder No Registrado Voz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,-272],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $('Buscar Org Voz').first().json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"v2-get-audio-url","name":"Obtener URL Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,-584],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"v2-download-audio","name":"Descargar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,-584],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-1"},{"name":"language","value":"es"},{"name":"response_format","value":"text"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"v2-whisper","name":"Transcribir Whisper","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,-584],"credentials":{"openAiApi":{"id":"E1alANWNJBEXTzkk","name":"OpenAI account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const whisperResult = $input.first().json;\nconst text = (typeof whisperResult === 'string' ? whisperResult : whisperResult.data || whisperResult.text || '').trim();\nconst org = $('Buscar Org Voz').first().json;\n\nreturn [{ json: {\n  transcription: text,\n  has_text: text.length > 5,\n  org_id: org.org_id,\n  org_nombre: org.org_nombre,\n  normalized_phone: org.normalized_phone,\n  raw_from: org.from,\n  phone_number_id: org.phone_number_id\n}}];"},"id":"v2-parse-whisper","name":"Parsear Transcripcion","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,-656]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.has_text }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-has-text","name":"Tiene Texto?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2464,-656]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"No pude entender el audio. Intenta de nuevo hablando mas claro.\" }\n}","options":{}},"id":"v2-reply-bad-audio","name":"Responder Audio No Reconocido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,-488],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"chatInput","value":"={{ $json.transcription || $json.correction_text }}","type":"string"},{"id":"a2","name":"sessionId","value":"={{ $json.normalized_phone }}","type":"string"},{"id":"a3","name":"org_id","value":"={{ $json.org_id }}","type":"string"},{"id":"a4","name":"org_nombre","value":"={{ $json.org_nombre }}","type":"string"},{"id":"a5","name":"raw_from","value":"={{ $json.raw_from }}","type":"string"},{"id":"a6","name":"phone_number_id","value":"={{ $json.phone_number_id }}","type":"string"}]},"options":{}},"id":"v2-set-agent-input","name":"Preparar Input Agente","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2688,-704]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Eres un asistente de facturacion para la organizacion \"{{ $json.org_nombre }}\".\nEl usuario te envia una transcripcion de audio donde pide crear una factura o presupuesto.\n\nTu trabajo:\n1. Usa consultar_catalogo para ver los servicios disponibles de esta organizacion\n2. Usa consultar_clientes para buscar el cliente mencionado\n3. Extrae los datos y devuelve SIEMPRE un JSON completo con este formato exacto:\n\n{\n  \"tipo\": \"factura\" o \"presupuesto\",\n  \"cliente\": {\n    \"nombre\": \"Nombre del cliente\",\n    \"id\": \"uuid-si-existe-en-BD o null\",\n    \"crear\": true o false\n  },\n  \"lineas\": [\n    {\n      \"descripcion\": \"Nombre del servicio o producto\",\n      \"cantidad\": 1,\n      \"precio_unitario\": 100.00,\n      \"iva_pct\": 21,\n      \"descuento_pct\": 0\n    }\n  ],\n  \"descuento_global_pct\": 0,\n  \"notas\": \"\"\n}\n\nReglas:\n- Si el cliente existe en la BD, usa su ID y pon crear: false\n- Si no existe, pon crear: true con el nombre que dijo el usuario\n- Si un servicio existe en el catalogo, usa su precio SALVO que el usuario diga otro precio\n- IVA por defecto 21% salvo que el usuario especifique otro\n- Si el usuario envia una correccion, devuelve el JSON COMPLETO actualizado, no solo el campo cambiado\n- NUNCA inventes clientes ni servicios que el usuario no menciono\n- Si no se especifica tipo, asume \"factura\"\n- Responde SOLO con el JSON, sin texto adicional ni markdown","maxIterations":5,"returnIntermediateSteps":false}},"id":"v2-ai-agent","name":"Agente Facturador","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3096,-704]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{"temperature":0.1}},"id":"v2-llm-openai","name":"OpenAI GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2912,-480],"credentials":{"openAiApi":{"id":"E1alANWNJBEXTzkk","name":"OpenAI account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Preparar Input Agente').first().json.sessionId }}","contextWindowLength":10},"id":"v2-memory-pg","name":"Memoria Postgres","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3040,-480],"credentials":{"postgres":{"id":"DgIPO386eOr2sbkb","name":"Postgres account"}}},{"parameters":{"name":"consultar_catalogo","description":"Consulta el catalogo de servicios/productos de la organizacion. Devuelve nombre, precio unitario, IVA y unidad de cada servicio activo. Usala SIEMPRE antes de generar el JSON para verificar si los servicios mencionados existen y a que precio. El parametro org_id se obtiene del contexto.","jsCode":"const SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\n// consultar_catalogo — toolCode\n// org_id comes from the agent input context\nconst orgId = $('Preparar Input Agente').first().json.org_id;\n\nconst result = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/catalogo_servicios?org_id=eq.${orgId}&activo=eq.true&select=nombre,precio_orientativo,iva_pct,unidad`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`\n  },\n  json: true\n});\n\nreturn JSON.stringify(result || []);"},"id":"v2-tool-catalogo","name":"consultar_catalogo","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[3168,-480]},{"parameters":{"name":"consultar_clientes","description":"Consulta la lista de clientes de la organizacion. Devuelve id, nombre, NIF y email de cada cliente. Usala SIEMPRE para buscar si el cliente mencionado ya existe en el sistema. El parametro org_id se obtiene del contexto.","jsCode":"const SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\n// consultar_clientes — toolCode\nconst orgId = $('Preparar Input Agente').first().json.org_id;\n\nconst result = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/clientes?org_id=eq.${orgId}&select=id,nombre,nif,email`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`\n  },\n  json: true\n});\n\nreturn JSON.stringify(result || []);"},"id":"v2-tool-clientes","name":"consultar_clientes","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[3296,-480]},{"parameters":{},"id":"v2-tool-think","name":"Think","type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[3424,-480]},{"parameters":{"jsCode":"const raw = $json.output || $json.text || '';\nlet data;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  data = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n} catch (e) {\n  return [{ json: {\n    error: true,\n    message: 'El agente no devolvio un JSON valido. Intenta de nuevo con un audio mas claro.',\n    raw_from: $('Preparar Input Agente').first().json.raw_from,\n    phone_number_id: $('Preparar Input Agente').first().json.phone_number_id\n  } }];\n}\n\nconst lineas = (data.lineas || []).map(l => {\n  const base = l.cantidad * l.precio_unitario;\n  const descLinea = base * ((l.descuento_pct || 0) / 100);\n  const baseNeta = base - descLinea;\n  const iva = baseNeta * ((l.iva_pct || 21) / 100);\n  return { ...l, base: baseNeta, iva };\n});\n\nconst subtotal = lineas.reduce((s, l) => s + l.base, 0);\nconst descGlobalPct = data.descuento_global_pct || 0;\nconst descGlobal = subtotal * (descGlobalPct / 100);\nconst baseTotal = subtotal - descGlobal;\nconst ivaTotal = lineas.reduce((s, l) => s + l.iva, 0) * (1 - descGlobalPct / 100);\nconst total = baseTotal + ivaTotal;\n\nconst fmt = n => n.toFixed(2).replace('.', ',');\n\nlet resumen = `*${(data.tipo || 'factura').toUpperCase()}*\\n`;\nresumen += `Cliente: ${data.cliente?.nombre || 'Sin nombre'}\\n\\n`;\nlineas.forEach(l => {\n  resumen += `- ${l.cantidad}x ${l.descripcion}: ${fmt(l.precio_unitario)} EUR/u = ${fmt(l.cantidad * l.precio_unitario)} EUR`;\n  if ((l.descuento_pct || 0) > 0) resumen += ` (-${l.descuento_pct}%)`;\n  resumen += '\\n';\n});\nresumen += '\\n';\nif (descGlobalPct > 0) resumen += `Dto global: ${descGlobalPct}%\\n`;\nresumen += `Base: ${fmt(baseTotal)} EUR\\n`;\nresumen += `IVA: ${fmt(ivaTotal)} EUR\\n`;\nresumen += `*TOTAL: ${fmt(total)} EUR*`;\n\nreturn [{ json: {\n  error: false,\n  data,\n  resumen,\n  totales: { base: baseTotal, iva: ivaTotal, total },\n  raw_from: $('Preparar Input Agente').first().json.raw_from,\n  phone_number_id: $('Preparar Input Agente').first().json.phone_number_id\n}}];"},"id":"v2-calc-totals","name":"Parsear y Calcular Totales","type":"n8n-nodes-base.code","typeVersion":2,"position":[3632,-704]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"v2-totals-ok","name":"Totales OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3856,-704]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.message }}\" }\n}","options":{}},"id":"v2-reply-agent-error","name":"Responder Error Agente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4080,-608],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($json.resumen) }} }\n}","options":{}},"id":"v2-send-summary","name":"Enviar Resumen WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4080,-800],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": { \"text\": \"Confirmas este documento?\" },\n    \"action\": {\n      \"buttons\": [\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_confirm\", \"title\": \"Confirmar\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_correct\", \"title\": \"Corregir\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"voice_cancel\", \"title\": \"Cancelar\" } }\n      ]\n    }\n  }\n}","options":{}},"id":"v2-send-buttons","name":"Enviar Botones WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4304,-800],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as cnt FROM n8n_chat_histories WHERE session_id = '{{ $('Parsear Mensaje').first().json.normalized_phone }}' LIMIT 1","options":{}},"id":"v2-check-session","name":"Check Sesion Voz Activa","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[672,1024],"credentials":{"postgres":{"id":"DgIPO386eOr2sbkb","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ Number($json.cnt) }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"v2-has-session","name":"Tiene Sesion?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,1024]},{"parameters":{"jsCode":"const SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\nconst parsed = $('Parsear Mensaje').first().json;\nconst normalized = parsed.normalized_phone;\n\nconst resp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/organizations?settings-%3Ewhatsapp-%3E%3Ephone_number=eq.${normalized}&select=id,nombre`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`\n  },\n  json: true\n});\n\nconst org = resp?.[0] || {};\n\nreturn [{ json: {\n  correction_text: parsed.text_body,\n  normalized_phone: normalized,\n  raw_from: parsed.from,\n  phone_number_id: parsed.phone_number_id,\n  org_id: org.id || '',\n  org_nombre: org.nombre || ''\n}}];"},"id":"v2-set-correction","name":"Preparar Input Correccion","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,976]},{"parameters":{"jsCode":"const buttonId = $('Parsear Mensaje').first().json.button_reply_id;\n\nlet intent;\nif (buttonId === 'voice_confirm') intent = 'confirm';\nelse if (buttonId === 'voice_cancel') intent = 'cancel';\nelse if (buttonId === 'voice_correct') intent = 'correct';\nelse intent = 'unknown';\n\nreturn [{ json: {\n  intent,\n  normalized_phone: $('Parsear Mensaje').first().json.normalized_phone,\n  raw_from: $('Parsear Mensaje').first().json.from,\n  phone_number_id: $('Parsear Mensaje').first().json.phone_number_id\n}}];"},"id":"v2-process-button","name":"Procesar Boton","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,592]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"confirm","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"cancel","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"correct","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"none"}},"id":"v2-intent-switch","name":"Router Intencion","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[896,576]},{"parameters":{"operation":"executeQuery","query":"SELECT id, session_id, message FROM n8n_chat_histories WHERE session_id = '{{ $json.normalized_phone }}' ORDER BY id DESC LIMIT 5","options":{}},"id":"v2-read-last-ai","name":"Leer Ultimo JSON Agente","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1120,400],"credentials":{"postgres":{"id":"DgIPO386eOr2sbkb","name":"Postgres account"}}},{"parameters":{"jsCode":"const SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\nconst rows = $input.all();\nif (!rows.length) return [{ json: { error: true, message: 'No hay sesion de factura activa.' } }];\n\nlet raw = '';\nfor (const row of rows) {\n  const msg = row.json?.message;\n  if (!msg) continue;\n  const msgObj = typeof msg === 'string' ? JSON.parse(msg) : msg;\n  if (msgObj.type === 'ai' || msgObj.type === 'AIMessage' || msgObj.type === 'assistant') {\n    raw = msgObj.data?.content || msgObj.content || (typeof msg === 'string' ? msg : JSON.stringify(msg));\n    break;\n  }\n}\n\nif (!raw) {\n  const firstMsg = rows[0]?.json?.message;\n  const debug = typeof firstMsg === 'string' ? firstMsg.substring(0, 200) : JSON.stringify(firstMsg).substring(0, 200);\n  return [{ json: { error: true, message: 'No se encontro respuesta del agente. Debug: ' + debug } }];\n}\n\nlet data;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  data = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n} catch (e) {\n  return [{ json: { error: true, message: 'JSON invalido del agente. Raw: ' + raw.substring(0, 200) } }];\n}\n\nconst phone = $('Procesar Boton').first().json.normalized_phone;\n\nconst orgLookup = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/organizations?select=id&settings-%3Ewhatsapp-%3E%3Ephone_number=eq.${phone}`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`\n  },\n  json: true\n});\n\nconst org_id = orgLookup?.[0]?.id;\nif (!org_id) return [{ json: { error: true, message: 'Org no encontrada' } }];\n\nconst lineas = (data.lineas || []).map(l => ({\n  concepto: l.descripcion || l.concepto,\n  cantidad: l.cantidad,\n  precio_unitario: l.precio_unitario,\n  iva_pct: l.iva_pct || 21,\n  descuento_pct: l.descuento_pct || 0\n}));\n\nreturn [{ json: {\n  error: false,\n  org_id,\n  tipo: data.tipo || 'factura',\n  cliente: data.cliente,\n  lineas,\n  descuento_global_pct: data.descuento_global_pct || 0,\n  notas: data.notas || null,\n  phone,\n  raw_from: $('Procesar Boton').first().json.raw_from,\n  phone_number_id: $('Procesar Boton').first().json.phone_number_id\n}}];"},"id":"v2-prep-generate","name":"Preparar Datos Generar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"v2-prep-ok","name":"Datos OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,400]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.message }}\" }\n}","options":{}},"id":"v2-reply-prep-error","name":"Responder Error Datos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,616],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"https://facturaia.agentesia.world/api/voice/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-service-key","value":"[REDACTED-JWT_LIKE]"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ org_id: $json.org_id, tipo: $json.tipo, cliente: $json.cliente, lineas: $json.lineas, descuento_global_pct: $json.descuento_global_pct, notas: $json.notas, phone: $json.phone }) }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"v2-generate","name":"Generar Factura","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,304],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-gen-ok","name":"Generacion OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2016,232]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Hubo un error al generar el documento. Intenta de nuevo.\" }\n}","options":{}},"id":"v2-reply-gen-error","name":"Responder Error Generacion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,496],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.pdf_url }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"v2-has-pdf","name":"Tiene PDF?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2240,184]},{"parameters":{"url":"={{ $json.pdf_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"v2-download-pdf","name":"Descargar PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,112],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Procesar Boton').first().json.phone_number_id }}/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"type","value":"application/pdf"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"v2-upload-media","name":"Subir PDF a WhatsApp Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,-80],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"document\",\n  \"document\": {\n    \"id\": \"{{ $json.id }}\",\n    \"filename\": \"{{ $('Generacion OK?').first().json.num || 'factura' }}.pdf\",\n    \"caption\": \"{{ $('Generacion OK?').first().json.tipo === 'presupuesto' ? 'Presupuesto' : 'Factura' }} generada por voz.\"\n  }\n}","options":{}},"id":"v2-send-document","name":"Enviar Documento PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3160,-148],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories WHERE session_id = '{{ $('Procesar Boton').first().json.normalized_phone }}'","options":{}},"id":"v2-clean-session-confirm","name":"Limpiar Sesion Confirmar","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3632,-148],"credentials":{"postgres":{"id":"DgIPO386eOr2sbkb","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $('Generacion OK?').first().json.tipo === 'presupuesto' ? 'Presupuesto' : 'Factura' }} {{ $('Generacion OK?').first().json.num || '' }} creada correctamente. Ya la puedes ver en tu dashboard.\" }\n}","options":{}},"id":"v2-reply-text-only","name":"Enviar Confirmacion sin PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3160,328],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories WHERE session_id = '{{ $('Procesar Boton').first().json.normalized_phone }}'","options":{}},"id":"v2-clean-session-text-only","name":"Limpiar Sesion Texto","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3632,328],"credentials":{"postgres":{"id":"DgIPO386eOr2sbkb","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories WHERE session_id = '{{ $json.normalized_phone }}'","options":{}},"id":"v2-clean-session-cancel","name":"Limpiar Sesion Cancelar","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1120,592],"credentials":{"postgres":{"id":"DgIPO386eOr2sbkb","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Generacion cancelada.\" }\n}","options":{}},"id":"v2-reply-cancel","name":"Responder Cancelar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,592],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Dime que quieres cambiar.\" }\n}","options":{}},"id":"v2-reply-correct","name":"Responder Corregir","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,784],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}},{"parameters":{"jsCode":"const SUPABASE_URL = 'https://lahqlyaxvobqjgdiftag.supabase.co';\nconst SUPABASE_KEY = '[REDACTED-JWT_LIKE]';\nconst orgId = $json.org_id;\n\nconst resp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${SUPABASE_URL}/rest/v1/rpc/org_has_feature`,\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`,\n    'Content-Type': 'application/json'\n  },\n  body: { p_org_id: orgId, p_feature_id: 'generador_voz' },\n  json: true\n});\n\nreturn [{ json: { ...$json, has_feature: resp === true } }];"},"id":"v2-feature-gate","name":"Check Feature Voz","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-488]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.has_feature }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"v2-feature-if","name":"Tiene Feature Voz?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1344,-488]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Parsear Mensaje').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parsear Mensaje').first().json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Esta funcion requiere plan Pro. Contacta con soporte para activarla.\" }\n}","options":{}},"id":"v2-reply-no-feature","name":"Responder No Tiene Feature","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,-368],"credentials":{"httpHeaderAuth":{"id":"YjKRmama7QO5S3t7","name":"WhatsApp Token FacturaIA"}}}],"connections":{"Webhook WhatsApp":{"main":[[{"node":"Parsear Mensaje","type":"main","index":0}]]},"Parsear Mensaje":{"main":[[{"node":"Router Tipo Mensaje","type":"main","index":0}]]},"Router Tipo Mensaje":{"main":[[{"node":"Buscar Org Voz","type":"main","index":0}],[{"node":"Obtener URL del Archivo","type":"main","index":0}],[{"node":"Procesar Boton","type":"main","index":0}],[{"node":"Check Sesion Voz Activa","type":"main","index":0}],[{"node":"Enviar Instrucciones de Uso","type":"main","index":0}]]},"Obtener URL del Archivo":{"main":[[{"node":"Descargar Archivo","type":"main","index":0}]]},"Descargar Archivo":{"main":[[{"node":"Preparar Datos Ingesta","type":"main","index":0}]]},"Preparar Datos Ingesta":{"main":[[{"node":"Org Encontrada?","type":"main","index":0}]]},"Org Encontrada?":{"main":[[{"node":"Subir a Storage","type":"main","index":0}],[{"node":"Responder No Registrado OCR","type":"main","index":0}]]},"Subir a Storage":{"main":[[{"node":"Crear Factura en BD","type":"main","index":0}]]},"Crear Factura en BD":{"main":[[{"node":"Crear Entrada Bandeja","type":"main","index":0}]]},"Crear Entrada Bandeja":{"main":[[{"node":"Disparar OCR","type":"main","index":0}]]},"Disparar OCR":{"main":[[{"node":"Confirmar Recepcion WhatsApp","type":"main","index":0}]]},"Buscar Org Voz":{"main":[[{"node":"Org Tiene Voz?","type":"main","index":0}]]},"Org Tiene Voz?":{"main":[[{"node":"Check Feature Voz","type":"main","index":0}],[{"node":"Responder No Registrado Voz","type":"main","index":0}]]},"Obtener URL Audio":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Transcribir Whisper","type":"main","index":0}]]},"Transcribir Whisper":{"main":[[{"node":"Parsear Transcripcion","type":"main","index":0}],[{"node":"Responder Audio No Reconocido","type":"main","index":0}]]},"Parsear Transcripcion":{"main":[[{"node":"Tiene Texto?","type":"main","index":0}]]},"Tiene Texto?":{"main":[[{"node":"Preparar Input Agente","type":"main","index":0}],[{"node":"Responder Audio No Reconocido","type":"main","index":0}]]},"Preparar Input Agente":{"main":[[{"node":"Agente Facturador","type":"main","index":0}]]},"Agente Facturador":{"main":[[{"node":"Parsear y Calcular Totales","type":"main","index":0}]]},"Parsear y Calcular Totales":{"main":[[{"node":"Totales OK?","type":"main","index":0}]]},"Totales OK?":{"main":[[{"node":"Enviar Resumen WhatsApp","type":"main","index":0}],[{"node":"Responder Error Agente","type":"main","index":0}]]},"Enviar Resumen WhatsApp":{"main":[[{"node":"Enviar Botones WhatsApp","type":"main","index":0}]]},"Check Sesion Voz Activa":{"main":[[{"node":"Tiene Sesion?","type":"main","index":0}]]},"Tiene Sesion?":{"main":[[{"node":"Preparar Input Correccion","type":"main","index":0}],[{"node":"Enviar Instrucciones de Uso","type":"main","index":0}]]},"Preparar Input Correccion":{"main":[[{"node":"Preparar Input Agente","type":"main","index":0}]]},"Procesar Boton":{"main":[[{"node":"Router Intencion","type":"main","index":0}]]},"Router Intencion":{"main":[[{"node":"Leer Ultimo JSON Agente","type":"main","index":0}],[{"node":"Limpiar Sesion Cancelar","type":"main","index":0}],[{"node":"Responder Corregir","type":"main","index":0}]]},"Leer Ultimo JSON Agente":{"main":[[{"node":"Preparar Datos Generar","type":"main","index":0}]]},"Preparar Datos Generar":{"main":[[{"node":"Datos OK?","type":"main","index":0}]]},"Datos OK?":{"main":[[{"node":"Generar Factura","type":"main","index":0}],[{"node":"Responder Error Datos","type":"main","index":0}]]},"Generar Factura":{"main":[[{"node":"Generacion OK?","type":"main","index":0}],[{"node":"Responder Error Generacion","type":"main","index":0}]]},"Generacion OK?":{"main":[[{"node":"Tiene PDF?","type":"main","index":0}],[{"node":"Responder Error Generacion","type":"main","index":0}]]},"Tiene PDF?":{"main":[[{"node":"Descargar PDF","type":"main","index":0}],[{"node":"Enviar Confirmacion sin PDF","type":"main","index":0}]]},"Descargar PDF":{"main":[[{"node":"Subir PDF a WhatsApp Media","type":"main","index":0}],[{"node":"Enviar Confirmacion sin PDF","type":"main","index":0}]]},"Subir PDF a WhatsApp Media":{"main":[[{"node":"Enviar Documento PDF","type":"main","index":0}],[{"node":"Enviar Confirmacion sin PDF","type":"main","index":0}]]},"Enviar Documento PDF":{"main":[[{"node":"Limpiar Sesion Confirmar","type":"main","index":0}]]},"Enviar Confirmacion sin PDF":{"main":[[{"node":"Limpiar Sesion Texto","type":"main","index":0}]]},"Limpiar Sesion Cancelar":{"main":[[{"node":"Responder Cancelar","type":"main","index":0}]]},"Check Feature Voz":{"main":[[{"node":"Tiene Feature Voz?","type":"main","index":0}]]},"Tiene Feature Voz?":{"main":[[{"node":"Obtener URL Audio","type":"main","index":0}],[{"node":"Responder No Tiene Feature","type":"main","index":0}]]},"OpenAI GPT-4o":{"ai_languageModel":[[{"node":"Agente Facturador","type":"ai_languageModel","index":0}]]},"Memoria Postgres":{"ai_memory":[[{"node":"Agente Facturador","type":"ai_memory","index":0}]]},"consultar_catalogo":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"consultar_clientes":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Agente Facturador","type":"ai_tool","index":0}]]}},"authors":"Manuel del Monte","name":"Version ef09a47a","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-27T09:10:23.266Z","id":204,"workflowId":"zYcHHa8jWXB6dY5i","versionId":"ef09a47a-9477-418b-adc3-1a56d5997bf2","event":"activated","userId":"a6929b3e-acf1-4b4a-a209-5292788f81b4"}]}}